{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Actor API",
  "version": "0.134.0",
  "description": "Routes of OpenVibe.Actor as the OpenVibe contracts describe them (openvibe-contracts 0.134.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.actor"
  }
 ],
 "paths": {
  "/api/v1/agents": {
   "get": {
    "operationId": "get_api_v1_agents",
    "summary": "The agent systems Actor routes to, with what each can do, its trust class, its rate card and whether it is available now (GET /api/v1/agents, actor.agent-list-result@1), and which one a task would go ",
    "description": "**actor.agent.read** (public): The agent systems Actor routes to, with what each can do, its trust class, its rate card and whether it is available now (GET /api/v1/agents, actor.agent-list-result@1), and which one a task would go to in a mode, with the reason for every candidate (POST /api/v1/route { task, mode }, a platform.placement-result@1; nothing runs). Public; no token needed.",
    "tags": [
     "actor.agent"
    ],
    "x-openvibe-capabilities": [
     "actor.agent.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "actor-read",
    "security": [
     {
      "openvibeToken": [
       "actor.agent.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/actor.agent-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/resources": {
   "get": {
    "operationId": "get_api_v1_resources",
    "summary": "Read OpenVibe.Actor's resource index (ADR-048, plan T13 step 8 phase 2): GET /api/v1/resources lists Actor's tasks as a page of common.resource-summary@1 (common.resource-list-result@1), and GET /api/",
    "description": "**actor.resource.read** (first-party): Read OpenVibe.Actor's resource index (ADR-048, plan T13 step 8 phase 2): GET /api/v1/resources lists Actor's tasks as a page of common.resource-summary@1 (common.resource-list-result@1), and GET /api/v1/resources/:ovrn reads one by its OVRN (common.resource-summary@1). Kind actor.task, id tsk_<ULID>, named by the start of the task text, state the task's state, owner the requesting person when the requester is a user subject. A task asked under a project carries that project_id and so an OVRN; the rest have neither.",
    "tags": [
     "actor.resource"
    ],
    "x-openvibe-capabilities": [
     "actor.resource.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "actor.resource.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/common.resource-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/resources/{ovrn}": {
   "get": {
    "operationId": "get_api_v1_resources_ovrn",
    "summary": "Read OpenVibe.Actor's resource index (ADR-048, plan T13 step 8 phase 2): GET /api/v1/resources lists Actor's tasks as a page of common.resource-summary@1 (common.resource-list-result@1), and GET /api/",
    "description": "**actor.resource.read** (first-party): Read OpenVibe.Actor's resource index (ADR-048, plan T13 step 8 phase 2): GET /api/v1/resources lists Actor's tasks as a page of common.resource-summary@1 (common.resource-list-result@1), and GET /api/v1/resources/:ovrn reads one by its OVRN (common.resource-summary@1). Kind actor.task, id tsk_<ULID>, named by the start of the task text, state the task's state, owner the requesting person when the requester is a user subject. A task asked under a project carries that project_id and so an OVRN; the rest have neither.",
    "tags": [
     "actor.resource"
    ],
    "x-openvibe-capabilities": [
     "actor.resource.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "actor.resource.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "ovrn",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/common.resource-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/route": {
   "post": {
    "operationId": "post_api_v1_route",
    "summary": "The agent systems Actor routes to, with what each can do, its trust class, its rate card and whether it is available now (GET /api/v1/agents, actor.agent-list-result@1), and which one a task would go ",
    "description": "**actor.agent.read** (public): The agent systems Actor routes to, with what each can do, its trust class, its rate card and whether it is available now (GET /api/v1/agents, actor.agent-list-result@1), and which one a task would go to in a mode, with the reason for every candidate (POST /api/v1/route { task, mode }, a platform.placement-result@1; nothing runs). Public; no token needed.",
    "tags": [
     "actor.agent"
    ],
    "x-openvibe-capabilities": [
     "actor.agent.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "actor-read",
    "security": [
     {
      "openvibeToken": [
       "actor.agent.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/actor.agent-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tasks": {
   "get": {
    "operationId": "get_api_v1_tasks",
    "summary": "List your latest tasks, newest first (GET /api/v1/tasks?limit=&before=): each as platform.task@1, with a cursor for the next page.",
    "description": "**actor.task.list** (public): List your latest tasks, newest first (GET /api/v1/tasks?limit=&before=): each as platform.task@1, with a cursor for the next page.",
    "tags": [
     "actor.task"
    ],
    "x-openvibe-capabilities": [
     "actor.task.list"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "actor-read",
    "security": [
     {
      "openvibeToken": [
       "actor.task.list"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/actor.task-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_tasks",
    "summary": "Give OpenVibe.Actor a task: POST /api/v1/tasks with the task in plain words, a mode (cheapest, balanced, best, fastest, private) and a budget.",
    "description": "**actor.task.create** (public): Give OpenVibe.Actor a task: POST /api/v1/tasks with the task in plain words, a mode (cheapest, balanced, best, fastest, private) and a budget. Actor picks the agent system for it with openvibe-sdk/placement, runs it, has a second model family check the result, and records the result, the cost to the cent and the explanation on the task (platform.task@1, answered 201 with state queued). POST /api/v1/tasks/:id/cancel stops a task that has not ended. A person's tasks are theirs; a token that names a project puts the task in that project. Each person has a daily free allowance; a task whose cheapest eligible agent would cost more than its budget fails with actor.budget.exceeded instead of running. A task may register webhooks: Actor POSTs actor.task-webhook@1 to each on the state changes it asked for, signed with a secret minted for the task and returned once, as webhook_secret, in the answer that created it.",
    "tags": [
     "actor.task"
    ],
    "x-openvibe-capabilities": [
     "actor.task.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "actor-task",
    "security": [
     {
      "openvibeToken": [
       "actor.task.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/actor.task-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/platform.task.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tasks/{id}": {
   "get": {
    "operationId": "get_api_v1_tasks_id",
    "summary": "Read one of your tasks (platform.task@1: state, result, cost, explanation) with GET /api/v1/tasks/:id, and watch it live with GET /api/v1/tasks/:id/events: text/event-stream of actor.task-event@1 (sta",
    "description": "**actor.task.read** (public): Read one of your tasks (platform.task@1: state, result, cost, explanation) with GET /api/v1/tasks/:id, and watch it live with GET /api/v1/tasks/:id/events: text/event-stream of actor.task-event@1 (state changes, the agent's steps, the end), resumable with Last-Event-ID. Only the task's requester (or its project's tokens) can read it.",
    "tags": [
     "actor.task"
    ],
    "x-openvibe-capabilities": [
     "actor.task.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "actor-read",
    "security": [
     {
      "openvibeToken": [
       "actor.task.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/platform.task.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tasks/{id}/cancel": {
   "post": {
    "operationId": "post_api_v1_tasks_id_cancel",
    "summary": "Give OpenVibe.Actor a task: POST /api/v1/tasks with the task in plain words, a mode (cheapest, balanced, best, fastest, private) and a budget.",
    "description": "**actor.task.create** (public): Give OpenVibe.Actor a task: POST /api/v1/tasks with the task in plain words, a mode (cheapest, balanced, best, fastest, private) and a budget. Actor picks the agent system for it with openvibe-sdk/placement, runs it, has a second model family check the result, and records the result, the cost to the cent and the explanation on the task (platform.task@1, answered 201 with state queued). POST /api/v1/tasks/:id/cancel stops a task that has not ended. A person's tasks are theirs; a token that names a project puts the task in that project. Each person has a daily free allowance; a task whose cheapest eligible agent would cost more than its budget fails with actor.budget.exceeded instead of running. A task may register webhooks: Actor POSTs actor.task-webhook@1 to each on the state changes it asked for, signed with a secret minted for the task and returned once, as webhook_secret, in the answer that created it.",
    "tags": [
     "actor.task"
    ],
    "x-openvibe-capabilities": [
     "actor.task.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "actor-task",
    "security": [
     {
      "openvibeToken": [
       "actor.task.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/actor.task-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/platform.task.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tasks/{id}/events": {
   "get": {
    "operationId": "get_api_v1_tasks_id_events",
    "summary": "Read one of your tasks (platform.task@1: state, result, cost, explanation) with GET /api/v1/tasks/:id, and watch it live with GET /api/v1/tasks/:id/events: text/event-stream of actor.task-event@1 (sta",
    "description": "**actor.task.read** (public): Read one of your tasks (platform.task@1: state, result, cost, explanation) with GET /api/v1/tasks/:id, and watch it live with GET /api/v1/tasks/:id/events: text/event-stream of actor.task-event@1 (state changes, the agent's steps, the end), resumable with Last-Event-ID. Only the task's requester (or its project's tokens) can read it.",
    "tags": [
     "actor.task"
    ],
    "x-openvibe-capabilities": [
     "actor.task.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "actor-read",
    "security": [
     {
      "openvibeToken": [
       "actor.task.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/platform.task.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "actor.agent-list-result.v1": {
    "title": "ActorAgentListResult",
    "description": "actor.agent-list-result@1: GET /api/v1/agents (capability actor.agent.read): every agent system Actor can route a task to. KIND is the backend class (ADR-044): openvibe-runtime (OpenVibe's own agent, acting through OpenVibe services), agent-platform (another platform's agent, called through its API), open-model (an open model on OpenVibe's own hardware), codes (coding work through OpenVibe.Codes), node and run (a person's machine or OpenVibe.Run). TRUST is ADR-046's class; private mode takes only first-party ones. CAN are the task classes and tools it takes (task:<class>, tool:<name>). RATE_CARD is the published price, revised by review and never written by a model (SOURCE says where it comes from, VERIFIED_AT when a person last checked it). AVAILABLE says whether it can take a task now and REASON why not.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "agents"
    ],
    "properties": {
     "agents": {
      "type": "array",
      "maxItems": 64,
      "items": {
       "type": "object",
       "additionalProperties": false,
       "required": [
        "id",
        "name",
        "kind",
        "provider",
        "trust",
        "can",
        "rate_card",
        "available"
       ],
       "properties": {
        "id": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,63}$"
        },
        "name": {
         "type": "string",
         "minLength": 1,
         "maxLength": 80
        },
        "kind": {
         "type": "string",
         "enum": [
          "openvibe-runtime",
          "agent-platform",
          "open-model",
          "codes",
          "node",
          "run"
         ]
        },
        "provider": {
         "type": "string",
         "minLength": 1,
         "maxLength": 80
        },
        "model": {
         "type": "string",
         "maxLength": 120
        },
        "trust": {
         "type": "string",
         "enum": [
          "first-party",
          "user-owned",
          "partner",
          "community",
          "external"
         ]
        },
        "can": {
         "type": "array",
         "items": {
          "type": "string",
          "pattern": "^(task|tool):[a-z0-9_-]+$"
         }
        },
        "rate_card": {
         "type": "object",
         "additionalProperties": false,
         "required": [
          "input_usd_per_mtok",
          "output_usd_per_mtok",
          "source",
          "verified_at"
         ],
         "properties": {
          "input_usd_per_mtok": {
           "type": "number",
           "minimum": 0
          },
          "output_usd_per_mtok": {
           "type": "number",
           "minimum": 0
          },
          "per_call_usd": {
           "type": "number",
           "minimum": 0,
           "description": "A fixed charge per tool call the platform bills (for example a web search)."
          },
          "source": {
           "type": "string",
           "format": "uri"
          },
          "verified_at": {
           "type": "string",
           "format": "date"
          }
         }
        },
        "typical_latency_ms": {
         "type": "integer",
         "minimum": 0
        },
        "available": {
         "type": "boolean"
        },
        "reason": {
         "type": "string",
         "maxLength": 300
        }
       }
      }
     }
    }
   },
   "actor.task-create-request.v1": {
    "title": "ActorTaskCreateRequest",
    "description": "actor.task-create-request@1: the body of POST /api/v1/tasks on OpenVibe.Actor (capability actor.task.create), the creation subset of platform.task@1. TASK is the instruction in plain words. MODE is the planner objective (default balanced). BUDGET caps what this task may cost (per_task_usd) and what the caller's tasks may cost in one UTC day (per_day_usd); either may be left out for the person's free-allowance defaults, and a value above the person's tier is refused 422 actor.budget.over_tier, never silently lowered. AGENT pins one agent system by its id from GET /api/v1/agents (routing still checks that it can take the task). IDEMPOTENCY_KEY: a repeat from the same requester within 24 h with an identical body answers the first task (200), with a different body 409 actor.idempotency.conflict. WEBHOOKS (at most 8): each an https URL and the state changes to deliver there (the names of platform.task@1 `state`). Actor signs every delivery with a secret it mints for the task, returned once as `webhook_secret` in the answer that created it (and in an idempotent repeat), and POSTs actor.task-webhook@1 through its egress guard: public addresses only, ports 443 or 8443, no credentials in the URL, never a redirect. A URL that cannot be delivered to is refused 422 actor.webhook.refused. A project secret named by reference (platform.task@1 `secret_ref`) is not accepted yet.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "task"
    ],
    "properties": {
     "task": {
      "type": "string",
      "minLength": 1,
      "maxLength": 20000,
      "pattern": "\\S",
      "description": "The instruction in plain words."
     },
     "mode": {
      "type": "string",
      "enum": [
       "cheapest",
       "balanced",
       "best",
       "fastest",
       "private"
      ],
      "default": "balanced"
     },
     "budget": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "per_task_usd": {
        "type": "number",
        "minimum": 0,
        "maximum": 100
       },
       "per_day_usd": {
        "type": "number",
        "minimum": 0,
        "maximum": 1000
       }
      }
     },
     "agent": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,63}$",
      "description": "An agent system id from GET /api/v1/agents."
     },
     "idempotency_key": {
      "type": "string",
      "minLength": 8,
      "maxLength": 128,
      "pattern": "^[A-Za-z0-9._:-]+$"
     },
     "webhooks": {
      "type": "array",
      "minItems": 1,
      "maxItems": 8,
      "items": {
       "type": "object",
       "additionalProperties": false,
       "required": [
        "url",
        "events"
       ],
       "properties": {
        "url": {
         "type": "string",
         "format": "uri",
         "maxLength": 2000,
         "pattern": "^https://",
         "description": "The HTTPS endpoint Actor POSTs to."
        },
        "events": {
         "type": "array",
         "minItems": 1,
         "maxItems": 6,
         "uniqueItems": true,
         "items": {
          "type": "string",
          "enum": [
           "queued",
           "running",
           "verifying",
           "succeeded",
           "failed",
           "cancelled"
          ]
         },
         "description": "The state changes delivered; the names of platform.task@1 `state`."
        }
       }
      },
      "description": "Where Actor tells the caller about this task's state changes (plan T17)."
     }
    },
    "examples": [
     {
      "task": "Find out who runs the mail for openvibe.network and whether its SPF and DMARC are set up properly.",
      "mode": "cheapest",
      "budget": {
       "per_task_usd": 0.05
      }
     },
     {
      "task": "Summarize today's top three posts on openvibe.news.",
      "mode": "cheapest",
      "webhooks": [
       {
        "url": "https://hooks.example.com/openvibe/actor",
        "events": [
         "succeeded",
         "failed",
         "cancelled"
        ]
       }
      ]
     }
    ]
   },
   "actor.task-list-result.v1": {
    "title": "ActorTaskListResult",
    "description": "actor.task-list-result@1: GET /api/v1/tasks (capability actor.task.list): the caller's latest tasks, newest first, and NEXT, the `before` cursor for the following page (null on the last page).",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "tasks",
     "next"
    ],
    "properties": {
     "tasks": {
      "type": "array",
      "maxItems": 100,
      "items": {
       "$ref": "#/components/schemas/platform.task.v1"
      }
     },
     "next": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 128
     }
    }
   },
   "common.resource-list-result.v1": {
    "title": "ResourceListResult",
    "description": "A page of the resource index (roadmap WS-Z7).",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "resources",
     "next_cursor"
    ],
    "properties": {
     "resources": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/common.resource-summary.v1"
      }
     },
     "next_cursor": {
      "type": [
       "string",
       "null"
      ]
     },
     "partial": {
      "type": "array",
      "description": "Authorities a merged index (OpenVibe.Services, ADR-048) could not read for this page: a slow or failing authority is omitted, never fails the page. Each entry names the authority and the problem code it answered. Added in 1.1.0; a single authority's own index leaves it out.",
      "items": {
       "type": "object",
       "required": [
        "service",
        "code"
       ],
       "additionalProperties": false,
       "properties": {
        "service": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$"
        },
        "code": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
        }
       }
      }
     }
    }
   },
   "common.resource-summary.v1": {
    "title": "ResourceSummary",
    "description": "One resource of any service, as the resource index lists it (roadmap WS-Z7): every service answers GET /api/v1/resources with these, so OpenVibe.Services shows any resource without owning its data.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "kind",
     "service",
     "state",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "kind": {
      "type": "string",
      "description": "service.kind, e.g. watch.watch, actor.actor, media.object, events.subscription"
     },
     "service": {
      "type": "string"
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "ovrn": {
      "type": "string",
      "maxLength": 200,
      "pattern": "^ovrn:[a-z][a-z0-9-]{0,31}:prj_[0-9A-HJKMNP-TV-Z]{26}:[a-z][a-z0-9-]{0,39}/[a-z]{3}_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Optional resource name (ADR-034 section 2), the name grants, audit, events, usage records and bills use: ovrn:<service>:<project_id>:<type>/<id>, e.g. ovrn:watch:<project_id>:watch/<wch_id>, with the pattern of common.usage-recorded@1 resource. Its service, project and id are this summary's service, project_id and id. Added in 1.1.0."
     },
     "owner": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "name": {
      "type": "string"
     },
     "state": {
      "type": "string"
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "usage": {
      "type": "object",
      "additionalProperties": {
       "type": "number",
       "minimum": 0
      },
      "properties": {},
      "description": "cost units by name (WS-Z1)"
     },
     "links": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "self": {
        "type": "string",
        "format": "uri"
       },
       "console": {
        "type": "string",
        "format": "uri"
       },
       "docs": {
        "type": "string",
        "format": "uri"
       }
      }
     }
    }
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "agent"
       },
       "id": {
        "type": "string",
        "pattern": "^agt_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AgentSubject: an agent (OpenVibe.Actor, or a developer app's agent) acting under grants its owner delegated (roadmap WS-Z2). In an event envelope, on_behalf_of names the owner."
     }
    ]
   },
   "platform.placement-result.v1": {
    "title": "PlacementResult",
    "description": "Where a workload was (or would be) placed and why: the chosen candidate, the reasons, and every candidate with its eligibility, estimated cost and latency (POST /api/v1/placement/explain; roadmap WS-Z9).",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "selected",
     "objective",
     "candidates",
     "decided_at"
    ],
    "properties": {
     "selected": {
      "type": [
       "string",
       "null"
      ],
      "description": "The id of the chosen candidate, or null when none qualified — every candidate was ineligible or none was offered — in which case `reasons` says why. openvibe-sdk/placement plan() returns null on the same condition."
     },
     "objective": {
      "type": "string",
      "enum": [
       "cheapest",
       "lowest-latency",
       "balanced",
       "private",
       "local-only",
       "first-party-only",
       "high-reliability",
       "correctness"
      ]
     },
     "reasons": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "candidates": {
      "type": "array",
      "items": {
       "type": "object",
       "additionalProperties": false,
       "properties": {
        "id": {
         "type": "string"
        },
        "eligible": {
         "type": "boolean"
        },
        "excluded_because": {
         "type": "string"
        },
        "estimated_cost_usd": {
         "type": "number",
         "minimum": 0
        },
        "estimated_latency_ms": {
         "type": "number",
         "minimum": 0
        },
        "score": {
         "type": "number"
        },
        "reasons": {
         "type": "array",
         "items": {
          "type": "string"
         }
        }
       },
       "required": [
        "id",
        "eligible"
       ]
      }
     },
     "plan_epoch": {
      "type": "integer",
      "minimum": 0
     },
     "decided_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "platform.task.v1": {
    "title": "Task",
    "description": "platform.task@1 (plan T17, ADR-044): one task at OpenVibe.Actor's task router. POST /api/v1/tasks (actor.task.create) creates it from a plain-language `task` plus a `mode` and a `budget`; the router mints `id`, sets `state` and `created_at`, picks a backend from the registered agent systems, runs the task, verifies the result, escalates or fails over, and answers with `result`, `cost` and `explanation`. GET /api/v1/tasks/{id} (actor.task.read) reads the same resource. Progress streams as server-sent events from `progress.stream_url` (actor.task-event@1; the task's own counter in `progress.last_seq`); `cancel` records that a cancel was requested (POST /api/v1/tasks/{id}/cancel), `error` says why a task failed, and `webhooks` are the registered endpoints the router delivers each state change to (actor.task-webhook@1, signed with `webhook_secret`, which only the creating answer carries). Owned by `network` like every other platform.* contract and implemented by OpenVibe.Actor (manifests/services/actor.json). This v1 contract may grow optional fields.",
    "$comment": "Additive optional fields may extend this v1 contract. It is the task resource, not a device frame: Actor's link is HTTP/SSE where Run's is the Node WebSocket.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "requester",
     "task",
     "mode",
     "budget",
     "state",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^tsk_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Minted by the router (tsk_<ULID>): the idempotency key of the task and the stem of its usage readings, as platform.job@1's id is for a job. Never reused."
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The project the caller's token names (ADR-034 §5): budgets, usage and the bill are the project's. Absent for a person's own task (one made signed in, without a project token): the person's free allowance and daily budget apply."
     },
     "requester": {
      "description": "The person or agent the task belongs to: a user subject for a person, an agent subject for an agent acting under the grants its owner delegated (roadmap WS-Z2).",
      "allOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       }
      ]
     },
     "task": {
      "type": "string",
      "minLength": 1,
      "maxLength": 100000,
      "description": "The instruction in plain words, exactly as the caller gave it. Not a backend command and not a model prompt: the planner turns it into one."
     },
     "mode": {
      "type": "string",
      "enum": [
       "cheapest",
       "balanced",
       "best",
       "fastest",
       "private"
      ],
      "default": "balanced",
      "description": "The plan's five modes, in contract spelling: Cheapest, Balanced (the default), Best, Fastest and Private are `cheapest`, `balanced`, `best`, `fastest` and `private`. A mode is the planner objective, never a fixed backend list (plan T17). `cheapest`: the lowest expected cost that still meets the task class's quality bar. `balanced` (the default): cost, quality and speed weighed together. `best`: the highest chance of a right answer first time. `fastest`: the shortest time to a checked result. `private`: only backends that keep the data on OpenVibe (first-party, and a user-owned node only when the task names it), per ADR-046."
     },
     "budget": {
      "type": "object",
      "additionalProperties": false,
      "description": "Hard limits the router never exceeds (plan T17: 'a hard limit per task and per day'). A task whose cheapest eligible backend would take it over `per_task_usd` ends failed (actor.budget.exceeded) rather than running; `per_day_usd` caps the project's tasks in one UTC day and a new task waits or fails, it never overruns.",
      "required": [
       "per_task_usd",
       "per_day_usd"
      ],
      "properties": {
       "per_task_usd": {
        "type": "number",
        "minimum": 0
       },
       "per_day_usd": {
        "type": "number",
        "minimum": 0
       }
      }
     },
     "state": {
      "type": "string",
      "enum": [
       "queued",
       "running",
       "verifying",
       "succeeded",
       "failed",
       "cancelled"
      ],
      "description": "queued: stored, waiting for the planner. running: a backend is working, or a cascade is between attempts. verifying: a result exists and a check (the task's own tests, a citation check, a postcondition) runs before it is delivered. succeeded, failed and cancelled are the end states; an end state never changes."
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "finished_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time",
      "description": "When the task reached its end state; null before."
     },
     "result": {
      "description": "The checked deliverable (any JSON, as a platform.job@1 `result` is): for a code task a diff or branch reference, for research a brief with citations, for an action a postcondition report. Never a credential and never raw sandbox output. Null (or absent) in every state but succeeded, which the allOf below enforces."
     },
     "cost": {
      "anyOf": [
       {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "usd"
        ],
        "properties": {
         "usd": {
          "type": "number",
          "minimum": 0,
          "description": "What this task was billed, to the cent, across every attempt it made."
         },
         "free_allowance_used": {
          "type": "number",
          "minimum": 0,
          "description": "The part of `usd` covered by the project's free allowance; metered as platform.usage-sample@1."
         }
        }
       },
       {
        "type": "null"
       }
      ],
      "description": "Present once the task has run an attempt (also when it ends failed or cancelled); null while queued. One key, one bill (plan T17), through Billing (ADR-012)."
     },
     "explanation": {
      "anyOf": [
       {
        "type": "array",
        "minItems": 1,
        "items": {
         "$ref": "#/components/schemas/platform.placement-result.v1"
        }
       },
       {
        "type": "null"
       }
      ],
      "description": "One platform.placement-result@1 per backend the planner tried, oldest first, an escalation appending a new one: which backend won, why and what else was considered, from openvibe-sdk/placement (ADR-046 §1). Null while queued."
     },
     "progress": {
      "anyOf": [
       {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "stream_url",
         "last_seq"
        ],
        "properties": {
         "stream_url": {
          "type": "string",
          "format": "uri",
          "description": "The text/event-stream endpoint that carries this task's progress. Each event mirrors platform.job-frame@1's job_stdout/state shape: a state change, an output chunk, or the end."
         },
         "last_seq": {
          "type": "integer",
          "minimum": 0,
          "description": "The task's own event counter, from 0 before the first event; a reconnecting reader resumes after it, as a job frame's seq counts on one link."
         },
         "events": {
          "type": "array",
          "items": {
           "type": "string",
           "enum": [
            "output",
            "state",
            "end"
           ]
          },
          "description": "The event kinds the stream delivers, run.job-stream-event@1's own three."
         }
        }
       },
       {
        "type": "null"
       }
      ],
      "description": "Streaming progress (plan T17). Null before the router opens a stream and after the end."
     },
     "cancel": {
      "anyOf": [
       {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "requested_at"
        ],
        "properties": {
         "requested_at": {
          "type": "string",
          "format": "date-time",
          "description": "When POST /v1/tasks/{id}/cancel was accepted. The running backend is stopped as its own contract allows; the state becomes cancelled and `finished_at` is set."
         },
         "requested_by": {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         }
        }
       },
       {
        "type": "null"
       }
      ],
      "description": "Cancellation (plan T17): null until a cancel is requested, then it records who asked and when; the task's outcome is `state`."
     },
     "webhooks": {
      "type": "array",
      "maxItems": 8,
      "items": {
       "type": "object",
       "additionalProperties": false,
       "required": [
        "url",
        "events"
       ],
       "properties": {
        "url": {
         "type": "string",
         "format": "uri",
         "pattern": "^https://",
         "description": "The HTTPS endpoint the router POSTs a state change to. A plain-HTTP URL is refused."
        },
        "events": {
         "type": "array",
         "minItems": 1,
         "items": {
          "type": "string",
          "enum": [
           "queued",
           "running",
           "verifying",
           "succeeded",
           "failed",
           "cancelled"
          ]
         },
         "description": "The state changes delivered; the same names as `state`."
        },
        "secret_ref": {
         "type": "string",
         "pattern": "^[A-Z0-9_]+$",
         "description": "The NAME of the project secret used to sign the delivery (an HMAC header), never the secret itself, as community.moderation-request@1 names a webhook_url_ref and ADR-043 keeps device credentials by reference."
        }
       }
      },
      "description": "Webhooks (plan T17), registered at creation. A delivery that fails is retried with backoff and never delays the task; the task's own record is the source of truth."
     },
     "error": {
      "anyOf": [
       {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "code",
         "detail"
        ],
        "properties": {
         "code": {
          "type": "string",
          "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)+$",
          "description": "A stable problem code, e.g. actor.budget.exceeded, actor.no_agent, actor.check.failed, actor.task.interrupted."
         },
         "detail": {
          "type": "string",
          "maxLength": 2000,
          "description": "What happened, for a person."
         }
        }
       },
       {
        "type": "null"
       }
      ],
      "description": "Why the task failed, once it has; null otherwise. Never a credential and never raw provider output."
     },
     "webhook_secret": {
      "type": "string",
      "pattern": "^whsec_[A-Za-z0-9_-]{43}$",
      "description": "The secret every webhook delivery of this task is signed with (X-OpenVibe-Signature-V2: t=<unix seconds>,v2=<hex HMAC-SHA256 of \"<t>.<raw body>\">, verified by openvibe-sdk/events verifyDeliveryV2). Present only in the answer that created the task (and an idempotent repeat of it), never in a read or a list; erased once the task has ended and its deliveries are done."
     }
    },
    "allOf": [
     {
      "if": {
       "required": [
        "state"
       ],
       "properties": {
        "state": {
         "const": "succeeded"
        }
       }
      },
      "then": {
       "required": [
        "result",
        "cost",
        "explanation"
       ],
       "properties": {
        "result": {
         "not": {
          "type": "null"
         }
        },
        "cost": {
         "type": "object"
        },
        "explanation": {
         "type": "array"
        }
       }
      },
      "else": {
       "properties": {
        "result": {
         "type": "null"
        }
       }
      }
     },
     {
      "if": {
       "required": [
        "state"
       ],
       "properties": {
        "state": {
         "const": "cancelled"
        }
       }
      },
      "then": {
       "required": [
        "cancel"
       ]
      }
     }
    ],
    "examples": [
     {
      "id": "tsk_01JAB2C3D4E5F6G7H8J9K0MNPQ",
      "project_id": "prj_01JAB2C3D4E5F6G7H8J9K0MNPR",
      "requester": {
       "type": "user",
       "id": "usr_01JAB2C3D4E5F6G7H8J9K0MNPS"
      },
      "task": "Research five competitors of my shop and write a one-page brief with sources.",
      "mode": "balanced",
      "budget": {
       "per_task_usd": 5,
       "per_day_usd": 50
      },
      "state": "queued",
      "created_at": "2026-10-05T09:00:00.000Z",
      "webhooks": [
       {
        "url": "https://example.com/hooks/actor",
        "events": [
         "succeeded",
         "failed"
        ],
        "secret_ref": "ACTOR_WEBHOOK_SECRET"
       }
      ]
     },
     {
      "id": "tsk_01JAB2C3D4E5F6G7H8J9K0MNPR",
      "project_id": "prj_01JAB2C3D4E5F6G7H8J9K0MNPR",
      "requester": {
       "type": "user",
       "id": "usr_01JAB2C3D4E5F6G7H8J9K0MNPS"
      },
      "task": "Fix the failing thumbnail test in OpenVibe.Media and open a PR.",
      "mode": "best",
      "budget": {
       "per_task_usd": 5,
       "per_day_usd": 50
      },
      "state": "running",
      "created_at": "2026-10-05T09:00:00.000Z",
      "progress": {
       "stream_url": "https://openvibe.actor/v1/tasks/tsk_01JAB2C3D4E5F6G7H8J9K0MNPR/events",
       "last_seq": 12,
       "events": [
        "output",
        "state",
        "end"
       ]
      },
      "explanation": [
       {
        "selected": "openvibe-runtime",
        "objective": "correctness",
        "reasons": [
         "the task is code; the Codes adapter exposes a code harness"
        ],
        "candidates": [
         {
          "id": "openvibe-runtime",
          "eligible": true,
          "estimated_cost_usd": 0.06,
          "estimated_latency_ms": 180000
         }
        ],
        "decided_at": "2026-10-05T09:00:01.000Z"
       }
      ]
     },
     {
      "id": "tsk_01JAB2C3D4E5F6G7H8J9K0MNPS",
      "project_id": "prj_01JAB2C3D4E5F6G7H8J9K0MNPR",
      "requester": {
       "type": "agent",
       "id": "agt_01JAB2C3D4E5F6G7H8J9K0MNPT"
      },
      "task": "Check this week's outage report and summarize the causes.",
      "mode": "cheapest",
      "budget": {
       "per_task_usd": 1,
       "per_day_usd": 10
      },
      "state": "succeeded",
      "created_at": "2026-10-05T09:00:00.000Z",
      "finished_at": "2026-10-05T09:06:00.000Z",
      "result": {
       "brief": "Two outages; both were a saturated connection pool.",
       "citations": [
        "https://openvibe.status/incidents/41"
       ]
      },
      "cost": {
       "usd": 0.06,
       "free_allowance_used": 0.06
      },
      "explanation": [
       {
        "selected": "open-model",
        "objective": "cheapest",
        "reasons": [
         "research task; the checks are citations, met by the cheapest candidate"
        ],
        "candidates": [
         {
          "id": "open-model",
          "eligible": true,
          "estimated_cost_usd": 0.06,
          "estimated_latency_ms": 420000
         }
        ],
        "decided_at": "2026-10-05T09:00:01.000Z"
       }
      ],
      "cancel": null,
      "progress": null
     }
    ]
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
