{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.AI API",
  "version": "0.55.1",
  "description": "Routes of OpenVibe.AI as the OpenVibe contracts describe them (openvibe-contracts 0.55.1): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://ai.openvibe.network"
  }
 ],
 "paths": {
  "/api/v1/audit": {
   "get": {
    "operationId": "get_api_v1_audit",
    "summary": "Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "description": "**ai.usage.read** (internal): Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "tags": [
     "ai.usage"
    ],
    "x-openvibe-capabilities": [
     "ai.usage.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.usage.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.usage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/cache": {
   "delete": {
    "operationId": "delete_api_v1_cache",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/ai.provider-manage-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_cache",
    "summary": "Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "description": "**ai.usage.read** (internal): Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "tags": [
     "ai.usage"
    ],
    "x-openvibe-capabilities": [
     "ai.usage.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.usage.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.usage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/chat": {
   "post": {
    "operationId": "post_api_v1_chat",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/classify": {
   "post": {
    "operationId": "post_api_v1_classify",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/embed": {
   "post": {
    "operationId": "post_api_v1_embed",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/enrich": {
   "post": {
    "operationId": "post_api_v1_enrich",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/extract": {
   "post": {
    "operationId": "post_api_v1_extract",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/generate": {
   "post": {
    "operationId": "post_api_v1_generate",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/models": {
   "get": {
    "operationId": "get_api_v1_models",
    "summary": "Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "description": "**ai.usage.read** (internal): Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "tags": [
     "ai.usage"
    ],
    "x-openvibe-capabilities": [
     "ai.usage.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.usage.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.usage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_models",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.provider-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/models/{provider}/{model}": {
   "patch": {
    "operationId": "patch_api_v1_models_provider_model",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.provider-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "provider",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "model",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/providers": {
   "get": {
    "operationId": "get_api_v1_providers",
    "summary": "Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "description": "**ai.usage.read** (internal): Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "tags": [
     "ai.usage"
    ],
    "x-openvibe-capabilities": [
     "ai.usage.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.usage.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.usage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_providers",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.provider-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/providers/{key}": {
   "patch": {
    "operationId": "patch_api_v1_providers_key",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.provider-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/providers/{key}/disable": {
   "post": {
    "operationId": "post_api_v1_providers_key_disable",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.provider-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/providers/{key}/enable": {
   "post": {
    "operationId": "post_api_v1_providers_key_enable",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.provider-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/providers/{key}/reset": {
   "post": {
    "operationId": "post_api_v1_providers_key_reset",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.provider-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/quotas": {
   "get": {
    "operationId": "get_api_v1_quotas",
    "summary": "Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "description": "**ai.usage.read** (internal): Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "tags": [
     "ai.usage"
    ],
    "x-openvibe-capabilities": [
     "ai.usage.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.usage.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.usage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_quotas",
    "summary": "Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "description": "**ai.provider.manage** (internal): Register, update, enable and disable providers and models (secrets only as env references, never values), reset circuit breakers, set quotas and purge the cache.",
    "tags": [
     "ai.provider"
    ],
    "x-openvibe-capabilities": [
     "ai.provider.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.provider.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.provider-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.provider-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/requests": {
   "get": {
    "operationId": "get_api_v1_requests",
    "summary": "Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "description": "**ai.usage.read** (internal): Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "tags": [
     "ai.usage"
    ],
    "x-openvibe-capabilities": [
     "ai.usage.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.usage.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.usage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/routes/{key}/versions": {
   "post": {
    "operationId": "post_api_v1_routes_key_versions",
    "summary": "Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled).",
    "description": "**ai.workflow.manage** (internal): Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled). Every change is audited; edits never overwrite a version.",
    "tags": [
     "ai.workflow"
    ],
    "x-openvibe-capabilities": [
     "ai.workflow.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.workflow.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.definition-version-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.definition-version-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/routes/{key}/versions/{version}/status": {
   "post": {
    "operationId": "post_api_v1_routes_key_versions_version_status",
    "summary": "Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled).",
    "description": "**ai.workflow.manage** (internal): Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled). Every change is audited; edits never overwrite a version.",
    "tags": [
     "ai.workflow"
    ],
    "x-openvibe-capabilities": [
     "ai.workflow.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.workflow.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.definition-version-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "version",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.definition-version-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/runs": {
   "get": {
    "operationId": "get_api_v1_runs",
    "summary": "Read the caller's own runs, their citations and request-log metadata (hashes, tokens, latency; never raw prompts).",
    "description": "**ai.run.read** (first-party): Read the caller's own runs, their citations and request-log metadata (hashes, tokens, latency; never raw prompts).",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.run.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_runs",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/runs/{id}": {
   "get": {
    "operationId": "get_api_v1_runs_id",
    "summary": "Read the caller's own runs, their citations and request-log metadata (hashes, tokens, latency; never raw prompts).",
    "description": "**ai.run.read** (first-party): Read the caller's own runs, their citations and request-log metadata (hashes, tokens, latency; never raw prompts).",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.run.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/runs/{id}/cancel": {
   "post": {
    "operationId": "post_api_v1_runs_id_cancel",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/runs/{id}/citations": {
   "get": {
    "operationId": "get_api_v1_runs_id_citations",
    "summary": "Read the caller's own runs, their citations and request-log metadata (hashes, tokens, latency; never raw prompts).",
    "description": "**ai.run.read** (first-party): Read the caller's own runs, their citations and request-log metadata (hashes, tokens, latency; never raw prompts).",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.run.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_runs_id_citations",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/runs/{id}/retry": {
   "post": {
    "operationId": "post_api_v1_runs_id_retry",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/status": {
   "get": {
    "operationId": "get_api_v1_status",
    "summary": "Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "description": "**ai.usage.read** (internal): Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "tags": [
     "ai.usage"
    ],
    "x-openvibe-capabilities": [
     "ai.usage.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.usage.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.usage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/summarize": {
   "post": {
    "operationId": "post_api_v1_summarize",
    "summary": "Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them.",
    "description": "**ai.run.create** (first-party): Create workflow runs (POST /api/v1/runs and the direct chat/generate/summarize/classify/extract/enrich/embed operations), cancel or retry the caller's own runs and attach citations to them. A token's `ns` claim limits which workflow namespaces it may run (live.*, wiki.*, ...). Quotas are checked before any provider call.",
    "tags": [
     "ai.run"
    ],
    "x-openvibe-capabilities": [
     "ai.run.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "ai-run",
    "security": [
     {
      "openvibeToken": [
       "ai.run.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.run-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.run-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/templates/{key}/versions": {
   "post": {
    "operationId": "post_api_v1_templates_key_versions",
    "summary": "Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled).",
    "description": "**ai.workflow.manage** (internal): Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled). Every change is audited; edits never overwrite a version.",
    "tags": [
     "ai.workflow"
    ],
    "x-openvibe-capabilities": [
     "ai.workflow.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.workflow.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.definition-version-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.definition-version-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/templates/{key}/versions/{version}/status": {
   "post": {
    "operationId": "post_api_v1_templates_key_versions_version_status",
    "summary": "Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled).",
    "description": "**ai.workflow.manage** (internal): Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled). Every change is audited; edits never overwrite a version.",
    "tags": [
     "ai.workflow"
    ],
    "x-openvibe-capabilities": [
     "ai.workflow.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.workflow.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.definition-version-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "version",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.definition-version-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/usage": {
   "get": {
    "operationId": "get_api_v1_usage",
    "summary": "Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "description": "**ai.usage.read** (internal): Read usage, quota windows, request logs, the audit log, cache statistics, the admin summary and any caller's runs.",
    "tags": [
     "ai.usage"
    ],
    "x-openvibe-capabilities": [
     "ai.usage.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-read",
    "security": [
     {
      "openvibeToken": [
       "ai.usage.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.usage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/workflows/{key}/versions": {
   "post": {
    "operationId": "post_api_v1_workflows_key_versions",
    "summary": "Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled).",
    "description": "**ai.workflow.manage** (internal): Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled). Every change is audited; edits never overwrite a version.",
    "tags": [
     "ai.workflow"
    ],
    "x-openvibe-capabilities": [
     "ai.workflow.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.workflow.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.definition-version-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.definition-version-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/workflows/{key}/versions/{version}/status": {
   "post": {
    "operationId": "post_api_v1_workflows_key_versions_version_status",
    "summary": "Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled).",
    "description": "**ai.workflow.manage** (internal): Create new versions of prompt templates, workflow definitions and routing profiles, and change their lifecycle status (draft, active, deprecated, archived; routes active/disabled). Every change is audited; edits never overwrite a version.",
    "tags": [
     "ai.workflow"
    ],
    "x-openvibe-capabilities": [
     "ai.workflow.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ai-admin",
    "security": [
     {
      "openvibeToken": [
       "ai.workflow.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/ai.definition-version-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "version",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/ai.definition-version-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "ai.definition-version-request.v1": {
    "title": "AiDefinitionVersionRequest",
    "description": "ai.definition-version-request@1: bodies of ai.workflow.manage on OpenVibe.AI. An edit is always a new version (the previous one stays readable); fields left out are taken from the newest existing version. POST /api/v1/templates/:key/versions: a prompt template (input_schema and output_schema must compile as JSON Schema; visibility public, first-party or internal). POST /api/v1/workflows/:key/versions (key <namespace>.<name>): steps (at least one; kind llm (naming an existing template), passthrough, transcribe or embed), schemas, default route, cache mode. POST /api/v1/routes/:key/versions: primary { provider, model } and fallbacks (every provider must exist), or alias_of another route. POST …/:key/versions/:version/status: { status } (templates and workflows draft|active|deprecated|archived; routes active|disabled). Refusals are 422 ai.invalid.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "name": {
        "type": "string"
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "input_schema": {
        "type": "object",
        "description": "A JSON Schema the run input must match."
       },
       "output_schema": {
        "type": "object",
        "description": "A JSON Schema the output must match."
       },
       "system_prompt": {
        "type": "string"
       },
       "user_prompt": {
        "type": "string"
       },
       "default_route": {
        "type": [
         "string",
         "null"
        ]
       },
       "owner": {
        "type": "string"
       },
       "visibility": {
        "enum": [
         "public",
         "first-party",
         "internal"
        ]
       },
       "status": {
        "enum": [
         "draft",
         "active",
         "deprecated",
         "archived"
        ]
       },
       "metadata": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "name": {
        "type": "string"
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "namespace": {
        "type": "string"
       },
       "input_schema": {
        "type": "object",
        "description": "A JSON Schema."
       },
       "output_schema": {
        "type": "object",
        "description": "A JSON Schema."
       },
       "steps": {
        "type": "array",
        "minItems": 1,
        "items": {
         "type": "object",
         "required": [
          "kind"
         ],
         "properties": {
          "kind": {
           "enum": [
            "llm",
            "passthrough",
            "transcribe",
            "embed"
           ]
          },
          "template": {
           "type": "string"
          }
         }
        }
       },
       "default_route": {
        "type": [
         "string",
         "null"
        ]
       },
       "cache_mode": {
        "enum": [
         "none",
         "private",
         "service"
        ]
       },
       "cache_ttl_sec": {
        "type": [
         "integer",
         "null"
        ]
       },
       "status": {
        "enum": [
         "draft",
         "active",
         "deprecated",
         "archived"
        ]
       },
       "metadata": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "primary": {
        "type": "object",
        "required": [
         "provider"
        ],
        "properties": {
         "provider": {
          "type": "string"
         },
         "model": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       },
       "fallbacks": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "provider"
         ],
         "properties": {
          "provider": {
           "type": "string"
          },
          "model": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       },
       "options": {
        "type": "object"
       },
       "max_output_tokens": {
        "type": [
         "integer",
         "null"
        ]
       },
       "response_format": {
        "enum": [
         "text",
         "json"
        ]
       },
       "timeout_ms": {
        "type": [
         "integer",
         "null"
        ]
       },
       "alias_of": {
        "type": [
         "string",
         "null"
        ]
       },
       "status": {
        "enum": [
         "active",
         "disabled"
        ]
       }
      }
     }
    ]
   },
   "ai.definition-version-result.v1": {
    "title": "AiDefinitionVersionResult",
    "description": "ai.definition-version-result@1: answers of ai.workflow.manage on OpenVibe.AI. POST …/:key/versions → 201 { template | workflow | route } (the new version, whole: prompts and schemas for a template, steps for a workflow, primary/fallbacks for a route); POST …/versions/:version/status → { template | workflow | route: { key, version, status } }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "template"
      ],
      "properties": {
       "template": {
        "type": "object",
        "required": [
         "key",
         "version",
         "status"
        ],
        "properties": {
         "key": {
          "type": "string"
         },
         "version": {
          "type": "integer",
          "minimum": 1
         },
         "status": {
          "type": "string"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "workflow"
      ],
      "properties": {
       "workflow": {
        "type": "object",
        "required": [
         "key",
         "version",
         "status"
        ],
        "properties": {
         "key": {
          "type": "string"
         },
         "version": {
          "type": "integer",
          "minimum": 1
         },
         "status": {
          "type": "string"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "route"
      ],
      "properties": {
       "route": {
        "type": "object",
        "required": [
         "key",
         "version",
         "status"
        ],
        "properties": {
         "key": {
          "type": "string"
         },
         "version": {
          "type": "integer",
          "minimum": 1
         },
         "status": {
          "type": "string"
         }
        }
       }
      }
     }
    ]
   },
   "ai.model.v1": {
    "title": "AiModel",
    "description": "ai.model@1: one model of a provider in OpenVibe.AI's registry (server/registry.js decodeModel): type, status, limits, per-million-token costs and what it supports.",
    "type": "object",
    "required": [
     "provider_key",
     "model_key",
     "type",
     "status",
     "cost",
     "supports"
    ],
    "properties": {
     "provider_key": {
      "type": "string"
     },
     "model_key": {
      "type": "string",
      "maxLength": 200
     },
     "display_name": {
      "type": [
       "string",
       "null"
      ]
     },
     "type": {
      "enum": [
       "chat",
       "vision",
       "embedding",
       "stt"
      ]
     },
     "status": {
      "enum": [
       "active",
       "disabled"
      ]
     },
     "context_window": {
      "type": [
       "integer",
       "null"
      ]
     },
     "max_output": {
      "type": [
       "integer",
       "null"
      ]
     },
     "cost": {
      "type": "object",
      "properties": {
       "in_per_mtok": {
        "type": [
         "number",
         "null"
        ]
       },
       "out_per_mtok": {
        "type": [
         "number",
         "null"
        ]
       },
       "cached_per_mtok": {
        "type": [
         "number",
         "null"
        ]
       }
      }
     },
     "supports": {
      "type": "object",
      "properties": {
       "json": {
        "type": "boolean"
       },
       "tools": {
        "type": "boolean"
       },
       "streaming": {
        "type": "boolean"
       },
       "vision": {
        "type": "boolean"
       }
      }
     },
     "metadata": {
      "type": "object"
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "ai.provider-manage-request.v1": {
    "title": "AiProviderManageRequest",
    "description": "ai.provider-manage-request@1: bodies of ai.provider.manage on OpenVibe.AI. POST /api/v1/providers creates or replaces a provider (key required) and PATCH /api/v1/providers/:key changes one (fields left out keep their value); a body carrying api_key or secret is refused (422: send secret_ref env:NAME, never a secret value). POST /api/v1/models (provider_key and model_key required) and PATCH /api/v1/models/:provider/:model upsert a model. POST /api/v1/quotas upserts a quota (scope_type and window required; scope_id too unless global; the same scope, window and workflow_prefix is one quota). POST /api/v1/providers/:key/disable|enable|reset and DELETE /api/v1/cache[?workflow=] take no body. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "not": {
       "anyOf": [
        {
         "required": [
          "api_key"
         ]
        },
        {
         "required": [
          "secret"
         ]
        }
       ]
      },
      "properties": {
       "key": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)*$"
       },
       "display_name": {
        "type": "string"
       },
       "kind": {
        "enum": [
         "stub",
         "openai",
         "anthropic",
         "http",
         "whisper"
        ]
       },
       "status": {
        "enum": [
         "active",
         "disabled"
        ]
       },
       "base_url": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^https?://\\S+$"
       },
       "auth_mode": {
        "enum": [
         "none",
         "bearer",
         "x-api-key"
        ]
       },
       "secret_ref": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^(env:[A-Z][A-Z0-9_]{0,63})?$"
       },
       "default_model": {
        "type": [
         "string",
         "null"
        ]
       },
       "capabilities": {
        "type": "array",
        "items": {
         "enum": [
          "chat",
          "generate",
          "summarize",
          "classify",
          "extract",
          "enrich",
          "embed",
          "vision",
          "json",
          "transcribe"
         ]
        }
       },
       "timeout_ms": {
        "type": [
         "integer",
         "string"
        ],
        "description": "Clamped to 1000..600000."
       },
       "priority": {
        "type": [
         "number",
         "string"
        ]
       },
       "metadata": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "provider_key": {
        "type": "string"
       },
       "model_key": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
       },
       "display_name": {
        "type": "string"
       },
       "type": {
        "enum": [
         "chat",
         "vision",
         "embedding",
         "stt"
        ]
       },
       "status": {
        "enum": [
         "active",
         "disabled"
        ]
       },
       "context_window": {
        "type": [
         "integer",
         "null"
        ]
       },
       "max_output": {
        "type": [
         "integer",
         "null"
        ]
       },
       "cost": {
        "type": "object",
        "properties": {
         "in_per_mtok": {
          "type": [
           "number",
           "null"
          ]
         },
         "out_per_mtok": {
          "type": [
           "number",
           "null"
          ]
         },
         "cached_per_mtok": {
          "type": [
           "number",
           "null"
          ]
         }
        }
       },
       "supports": {
        "type": "object",
        "properties": {
         "json": {
          "type": "boolean"
         },
         "tools": {
          "type": "boolean"
         },
         "streaming": {
          "type": "boolean"
         },
         "vision": {
          "type": "boolean"
         }
        }
       },
       "metadata": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "scope_type",
       "window"
      ],
      "properties": {
       "scope_type": {
        "enum": [
         "global",
         "service",
         "actor",
         "attribution"
        ]
       },
       "scope_id": {
        "type": "string",
        "maxLength": 200,
        "description": "* on a non-global scope = each one separately."
       },
       "window": {
        "enum": [
         "minute",
         "hour",
         "day"
        ]
       },
       "max_requests": {
        "type": [
         "number",
         "string",
         "null"
        ],
        "minimum": 0
       },
       "max_tokens": {
        "type": [
         "number",
         "string",
         "null"
        ],
        "minimum": 0
       },
       "max_cost_usd": {
        "type": [
         "number",
         "string",
         "null"
        ],
        "minimum": 0
       },
       "workflow_prefix": {
        "type": [
         "string",
         "null"
        ]
       },
       "status": {
        "enum": [
         "active",
         "disabled"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "ai.provider-manage-result.v1": {
    "title": "AiProviderManageResult",
    "description": "ai.provider-manage-result@1: answers of ai.provider.manage on OpenVibe.AI. Provider create/update/disable/enable → { provider } (201 on POST); POST …/reset → { health } (the circuit breaker, closed again); model upserts → { model }; POST /api/v1/quotas → 201 { quota } (the stored row); DELETE /api/v1/cache → { removed } (entries purged). Every change is audited.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "provider"
      ],
      "properties": {
       "provider": {
        "$ref": "#/components/schemas/ai.provider.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "health"
      ],
      "properties": {
       "health": {
        "type": "object",
        "required": [
         "state"
        ],
        "properties": {
         "provider_key": {
          "type": "string"
         },
         "state": {
          "enum": [
           "closed",
           "open",
           "half_open"
          ]
         },
         "consecutive_failures": {
          "type": "integer"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "model"
      ],
      "properties": {
       "model": {
        "$ref": "#/components/schemas/ai.model.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "quota"
      ],
      "properties": {
       "quota": {
        "type": "object",
        "required": [
         "id",
         "scope_type",
         "scope_id",
         "window",
         "status"
        ],
        "properties": {
         "id": {
          "type": "integer"
         },
         "scope_type": {
          "type": "string"
         },
         "scope_id": {
          "type": "string"
         },
         "window": {
          "type": "string"
         },
         "max_requests": {
          "type": [
           "number",
           "null"
          ]
         },
         "max_tokens": {
          "type": [
           "number",
           "null"
          ]
         },
         "max_cost_usd": {
          "type": [
           "number",
           "null"
          ]
         },
         "workflow_prefix": {
          "type": [
           "string",
           "null"
          ]
         },
         "status": {
          "type": "string"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "removed"
      ],
      "properties": {
       "removed": {
        "type": "integer",
        "minimum": 0
       }
      }
     }
    ]
   },
   "ai.provider.v1": {
    "title": "AiProvider",
    "description": "ai.provider@1: one model provider as OpenVibe.AI's registry API shows it (server/registry.js publicProvider): never a secret value, only the secret reference name (env:NAME) and whether it resolves (credentials), plus the circuit-breaker health.",
    "type": "object",
    "required": [
     "key",
     "kind",
     "status",
     "auth_mode",
     "capabilities",
     "credentials"
    ],
    "properties": {
     "key": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)*$"
     },
     "display_name": {
      "type": [
       "string",
       "null"
      ]
     },
     "kind": {
      "enum": [
       "stub",
       "openai",
       "anthropic",
       "http",
       "whisper"
      ]
     },
     "status": {
      "enum": [
       "active",
       "disabled"
      ]
     },
     "base_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "auth_mode": {
      "enum": [
       "none",
       "bearer",
       "x-api-key"
      ]
     },
     "secret_ref": {
      "type": [
       "string",
       "null"
      ],
      "description": "env:NAME, a reference; never the secret."
     },
     "default_model": {
      "type": [
       "string",
       "null"
      ]
     },
     "capabilities": {
      "type": "array",
      "items": {
       "enum": [
        "chat",
        "generate",
        "summarize",
        "classify",
        "extract",
        "enrich",
        "embed",
        "vision",
        "json",
        "transcribe"
       ]
      }
     },
     "timeout_ms": {
      "type": [
       "integer",
       "null"
      ]
     },
     "priority": {
      "type": [
       "number",
       "null"
      ]
     },
     "metadata": {
      "type": "object"
     },
     "origin": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "credentials": {
      "enum": [
       "not_required",
       "configured",
       "missing"
      ]
     },
     "health": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "provider_key": {
        "type": "string"
       },
       "state": {
        "enum": [
         "closed",
         "open",
         "half_open"
        ]
       },
       "consecutive_failures": {
        "type": "integer"
       }
      }
     }
    }
   },
   "ai.run-citation.v1": {
    "title": "AiRunCitation",
    "description": "ai.run-citation@1: one source a run cited on OpenVibe.AI (the citations table): what the workflow was given or a citation the requester attached afterwards (provenance.attached), with trust and provenance.",
    "type": "object",
    "required": [
     "id",
     "run_id",
     "source_type"
    ],
    "properties": {
     "id": {
      "type": "integer"
     },
     "run_id": {
      "type": "string"
     },
     "ordinal": {
      "type": [
       "integer",
       "null"
      ]
     },
     "source_type": {
      "type": "string"
     },
     "source_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "url": {
      "type": [
       "string",
       "null"
      ]
     },
     "title": {
      "type": [
       "string",
       "null"
      ]
     },
     "author": {
      "type": [
       "string",
       "null"
      ]
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "retrieved_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "snippet": {
      "type": [
       "string",
       "null"
      ]
     },
     "content_hash": {
      "type": [
       "string",
       "null"
      ]
     },
     "trust": {
      "type": "object"
     },
     "provenance": {
      "type": "object"
     },
     "attached_by": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string"
     }
    }
   },
   "ai.run-create-request.v1": {
    "title": "AiRunCreateRequest",
    "description": "ai.run-create-request@1: bodies of ai.run.create on OpenVibe.AI. POST /api/v1/runs: ai.run-request@1. POST /api/v1/chat, /generate, /summarize, /classify, /extract, /enrich and /embed: a run of workflow ai.<op> whose input is the body itself (validated by that workflow's own input schema), except idempotency_key, target, attribution, on_behalf_of and options, which are the run's. POST /api/v1/runs/:id/citations: { citations } (1-50, each with a source_type; the requester only). POST /api/v1/runs/:id/cancel and /retry take no body.",
    "anyOf": [
     {
      "$ref": "#/components/schemas/ai.run-request.v1"
     },
     {
      "type": "object",
      "required": [
       "citations"
      ],
      "properties": {
       "citations": {
        "type": "array",
        "minItems": 1,
        "maxItems": 50,
        "items": {
         "type": "object",
         "required": [
          "source_type"
         ],
         "properties": {
          "source_type": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_.-]{1,63}$"
          },
          "source_id": {
           "type": "string",
           "maxLength": 4000
          },
          "url": {
           "type": "string",
           "maxLength": 4000
          },
          "title": {
           "type": "string",
           "maxLength": 4000
          },
          "author": {
           "type": "string",
           "maxLength": 4000
          },
          "snippet": {
           "type": "string",
           "maxLength": 4000
          },
          "provenance": {
           "type": "object"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "description": "A direct operation: the workflow input fields plus idempotency_key, target, attribution, on_behalf_of and options.",
      "properties": {
       "idempotency_key": {
        "type": "string"
       },
       "target": {},
       "attribution": {},
       "on_behalf_of": {},
       "options": {
        "type": "object"
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "ai.run-create-result.v1": {
    "title": "AiRunCreateResult",
    "description": "ai.run-create-result@1: answers of ai.run.create on OpenVibe.AI. POST /api/v1/runs and the direct operations → { run, replayed? } (201 when it finished or was served from cache within the wait, 202 with Location while queued or running, 200 with replayed true for an idempotent repeat); POST …/cancel → { run }; POST …/retry → { run } (a new run with retry_of); POST …/citations → 201 { citations }. A quota refusal or a full queue is 429 with Retry-After.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "run"
      ],
      "properties": {
       "run": {
        "$ref": "#/components/schemas/ai.run.v1"
       },
       "replayed": {
        "const": true
       }
      }
     },
     {
      "type": "object",
      "required": [
       "citations"
      ],
      "properties": {
       "citations": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ai.run-citation.v1"
        }
       }
      }
     }
    ]
   },
   "ai.run-read-result.v1": {
    "title": "AiRunReadResult",
    "description": "ai.run-read-result@1: answers of ai.run.read on OpenVibe.AI (the caller's own runs; usage readers may ask for all). GET /api/v1/runs?status=&workflow=&target=&limit=&before= → { runs }; GET /api/v1/runs/:id → { run, citations, requests } (the request log is metadata only: hashes, tokens, cost, latency, never prompts); GET /api/v1/runs/:id/citations → { citations }. Someone else's run is 404 run.not_found.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "runs"
      ],
      "properties": {
       "runs": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ai.run.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "run",
       "citations",
       "requests"
      ],
      "properties": {
       "run": {
        "$ref": "#/components/schemas/ai.run.v1"
       },
       "citations": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ai.run-citation.v1"
        }
       },
       "requests": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "seq",
          "status"
         ],
         "properties": {
          "id": {
           "type": "integer"
          },
          "seq": {
           "type": "integer"
          },
          "operation": {
           "type": [
            "string",
            "null"
           ]
          },
          "provider_key": {
           "type": [
            "string",
            "null"
           ]
          },
          "model_key": {
           "type": [
            "string",
            "null"
           ]
          },
          "status": {
           "type": "string"
          },
          "fallback": {},
          "tokens_in": {
           "type": [
            "integer",
            "null"
           ]
          },
          "tokens_out": {
           "type": [
            "integer",
            "null"
           ]
          },
          "cost_usd": {
           "type": [
            "number",
            "null"
           ]
          },
          "latency_ms": {
           "type": [
            "integer",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "citations"
      ],
      "properties": {
       "citations": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ai.run-citation.v1"
        }
       }
      }
     }
    ]
   },
   "ai.run-request.v1": {
    "title": "AiRunRequest",
    "description": "Body of POST /api/v1/runs on OpenVibe.AI (capability ai.run.create; ADR-015). Runs the newest active version of a workflow (or the given active or deprecated version) on input that must match that workflow version's own input schema; per-workflow input and output schemas live in AI's registry (GET /api/v1/workflows/:key), not here. The token's ns claim limits which workflow namespaces may run (403 capability.namespace_denied). ?wait=ms waits for the result: 201 finished or served from cache, 202 still queued/running (poll GET /api/v1/runs/:id), 200 an idempotent replay. Errors are problem+json: 404 workflow.not_found, 409 workflow.inactive, 409 idempotency.conflict, 413 input.too_large, 422 input.invalid, 429 quota.exceeded or queue.full with Retry-After. The direct operations POST /api/v1/{chat,generate,summarize,classify,extract,enrich,embed} take the same fields (except workflow and version) with the input fields at the top level and run workflow ai.<op>. target (EntityRef): what the output is about, part of the cache scope and a run filter. attribution (EntityRef): what the spend is attributed to for quotas and usage. on_behalf_of (SubjectRef): the person or actor the caller acts for, part of the cache scope and per-actor quotas.",
    "type": "object",
    "required": [
     "workflow"
    ],
    "additionalProperties": false,
    "properties": {
     "workflow": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)+$",
      "maxLength": 200,
      "description": "Workflow key, <namespace>.<name> (live.chat_reply, news.summarize_story, network.site_copy…)."
     },
     "version": {
      "type": "integer",
      "minimum": 1,
      "description": "Pin a workflow version (active or deprecated). Omitted: the newest active version."
     },
     "input": {
      "type": "object",
      "description": "Workflow input; validated against the workflow version's input_schema. Default {}."
     },
     "target": {
      "$ref": "#/components/schemas/common.entity-ref.v1"
     },
     "attribution": {
      "$ref": "#/components/schemas/common.entity-ref.v1"
     },
     "on_behalf_of": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "idempotency_key": {
      "type": "string",
      "pattern": "^[A-Za-z0-9._:-]{8,128}$",
      "description": "Same (requester, key) returns the existing run; a different workflow or input under it is 409 idempotency.conflict. The Idempotency-Key header is used when this is absent."
     },
     "options": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "cache": {
        "type": "boolean",
        "default": true,
        "description": "false skips the scoped cache lookup and store."
       },
       "debug": {
        "type": "boolean",
        "default": false,
        "description": "Keep raw prompts and responses in the request log, only when AI runs with raw debug logging on."
       }
      }
     }
    }
   },
   "ai.run.v1": {
    "title": "AiRun",
    "description": "A workflow run on OpenVibe.AI (ADR-015; server/runs.js decode): the `run` member of every run response (POST /api/v1/runs and the direct operations, GET /api/v1/runs/:id, cancel, retry) and each item of GET /api/v1/runs { runs }. Output is attributable to workflow + version + template version + route version + provider/model + run id, never to a person. A draft stays a draft: products store it with ai/ai_assisted authorship and publish nothing until a person reviews it. input keeps no inline media (replaced by data_url_sha256 and data_url_bytes) and no passthrough prompt ({ not_retained }); output is null until the run succeeded or was served from cache and then matches the workflow version's output_schema. requester is the token principal (service, app or mod). A run interrupted by a restart or shutdown ends failed with error.code run.interrupted.",
    "type": "object",
    "required": [
     "id",
     "status",
     "workflow",
     "template",
     "route",
     "requester",
     "on_behalf_of",
     "attribution",
     "source_service",
     "target",
     "input",
     "output",
     "error",
     "synthetic",
     "provenance",
     "usage",
     "citations_count",
     "retry_of",
     "idempotency_key",
     "trace_id",
     "created_at",
     "started_at",
     "finished_at"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^run_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "status": {
      "enum": [
       "queued",
       "running",
       "succeeded",
       "failed",
       "cancelled",
       "cached"
      ],
      "description": "Terminal: succeeded, failed, cancelled, cached (a scoped cache hit, no provider call; provenance.cached_from names the run it reused)."
     },
     "workflow": {
      "type": "object",
      "required": [
       "key",
       "version"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "type": "string"
       },
       "version": {
        "type": "integer",
        "minimum": 1
       }
      }
     },
     "template": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "key",
       "version"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "type": "string"
       },
       "version": {
        "type": [
         "integer",
         "null"
        ]
       }
      },
      "description": "The prompt template of the workflow's llm step; null for workflows without one."
     },
     "route": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "key",
       "version"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "type": "string"
       },
       "version": {
        "type": [
         "integer",
         "null"
        ]
       }
      },
      "description": "Provider route; version null while the route is unresolved or disabled."
     },
     "requester": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "on_behalf_of": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "attribution": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/common.entity-ref.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "source_service": {
      "type": [
       "string",
       "null"
      ],
      "description": "The requester's service id when the requester is a service."
     },
     "target": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/common.entity-ref.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "input": {
      "type": "object",
      "description": "The retained input (see the description)."
     },
     "output": {
      "type": [
       "object",
       "null"
      ],
      "description": "Workflow output, or null."
     },
     "error": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "code",
       "detail"
      ],
      "additionalProperties": false,
      "properties": {
       "code": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)+$",
        "description": "run.cancelled, run.interrupted, run.internal, output.invalid, output.empty, provider.unavailable, route.unavailable, source.unavailable, media.unresolvable…"
       },
       "detail": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "synthetic": {
      "type": "boolean",
      "description": "Produced by the stub provider; never served to production callers and never cached."
     },
     "provenance": {
      "type": "object",
      "additionalProperties": false,
      "required": [
       "origin",
       "workflow",
       "workflow_version",
       "template_version",
       "route",
       "route_version",
       "provider",
       "model",
       "fallback_used",
       "run_id",
       "cached_from",
       "synthetic"
      ],
      "properties": {
       "origin": {
        "const": "ai"
       },
       "workflow": {
        "type": "string"
       },
       "workflow_version": {
        "type": "integer",
        "minimum": 1
       },
       "template_version": {
        "type": [
         "integer",
         "null"
        ]
       },
       "route": {
        "type": [
         "string",
         "null"
        ]
       },
       "route_version": {
        "type": [
         "integer",
         "null"
        ]
       },
       "provider": {
        "type": [
         "string",
         "null"
        ]
       },
       "model": {
        "type": [
         "string",
         "null"
        ]
       },
       "fallback_used": {
        "type": "boolean",
        "description": "The primary provider was degraded and the run fell back (ADR-015: fallbacks are recorded)."
       },
       "run_id": {
        "type": "string",
        "pattern": "^run_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "cached_from": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^run_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "synthetic": {
        "type": "boolean"
       }
      }
     },
     "usage": {
      "type": "object",
      "required": [
       "tokens_in",
       "tokens_out",
       "cost_usd",
       "attempts"
      ],
      "additionalProperties": false,
      "properties": {
       "tokens_in": {
        "type": "integer",
        "minimum": 0
       },
       "tokens_out": {
        "type": "integer",
        "minimum": 0
       },
       "cost_usd": {
        "type": "number",
        "minimum": 0
       },
       "attempts": {
        "type": "integer",
        "minimum": 0,
        "description": "Provider calls made (skipped routes not counted)."
       }
      }
     },
     "citations_count": {
      "type": "integer",
      "minimum": 0,
      "description": "Citations stored for the run (GET /api/v1/runs/:id/citations): the sources the workflow was given, and any the requester attached later."
     },
     "retry_of": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^run_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "idempotency_key": {
      "type": [
       "string",
       "null"
      ]
     },
     "trace_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "started_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "finished_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     }
    }
   },
   "ai.usage-result.v1": {
    "title": "AiUsageResult",
    "description": "ai.usage-result@1: answers of ai.usage.read on OpenVibe.AI (all GETs, parameters in the query). GET /api/v1/status → { providers, runs, today, workflows, templates, routes, inflight, quotas }; GET /api/v1/usage?from=&to=&requester= → { usage } (daily rows); GET /api/v1/quotas → { quotas, current }; GET /api/v1/requests?provider=&status=&run=&fallback=&limit= → { requests } (request-log metadata: hashes, tokens, cost, latency; raw debug fields only for provider managers who ask); GET /api/v1/audit → { audit }; GET /api/v1/cache → { cache }; GET /api/v1/providers → { providers }; GET /api/v1/models?provider= → { models }. Never raw prompts, never secrets.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "providers",
       "runs",
       "today"
      ],
      "properties": {
       "providers": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "key"
         ],
         "properties": {
          "key": {
           "type": "string"
          },
          "kind": {
           "type": "string"
          },
          "status": {
           "type": "string"
          },
          "credentials": {
           "type": "string"
          },
          "health": {
           "type": "string"
          }
         }
        }
       },
       "runs": {
        "type": "object",
        "additionalProperties": {
         "type": "integer"
        },
        "description": "Run counts by status."
       },
       "today": {
        "type": "object",
        "required": [
         "day"
        ],
        "properties": {
         "day": {
          "type": "string"
         },
         "requests": {
          "type": "number"
         },
         "cost_usd": {
          "type": "number"
         }
        }
       },
       "workflows": {
        "type": "integer"
       },
       "templates": {
        "type": "integer"
       },
       "routes": {
        "type": "integer"
       },
       "inflight": {
        "type": "integer"
       },
       "quotas": {
        "type": "array"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "providers"
      ],
      "properties": {
       "providers": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ai.provider.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "models"
      ],
      "properties": {
       "models": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/ai.model.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "quotas",
       "current"
      ],
      "properties": {
       "quotas": {
        "type": "array",
        "items": {
         "type": "object"
        }
       },
       "current": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "quota": {
           "type": "object"
          },
          "scope_id": {
           "type": "string"
          },
          "window_start": {
           "type": "string"
          },
          "resets_in_seconds": {
           "type": "number"
          },
          "used": {
           "type": "object"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "usage"
      ],
      "properties": {
       "usage": {
        "type": "array",
        "items": {
         "type": "object"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "requests"
      ],
      "properties": {
       "requests": {
        "type": "array",
        "maxItems": 500,
        "items": {
         "type": "object"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "audit"
      ],
      "properties": {
       "audit": {
        "type": "array",
        "items": {
         "type": "object"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "cache"
      ],
      "properties": {
       "cache": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "workflow_key": {
           "type": "string"
          },
          "privacy": {
           "type": "string"
          },
          "entries": {
           "type": "integer"
          },
          "hits": {
           "type": [
            "integer",
            "null"
           ]
          }
         }
        }
       }
      }
     }
    ]
   },
   "common.entity-ref.v1": {
    "title": "EntityRef",
[...]
