{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Billing API",
  "version": "0.57.1",
  "description": "Routes of OpenVibe.Billing as the OpenVibe contracts describe them (openvibe-contracts 0.57.1): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://billing.openvibe.network"
  }
 ],
 "paths": {
  "/api/v1/admin/adjustments": {
   "post": {
    "operationId": "post_api_v1_admin_adjustments",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.admin-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/admin/freeze": {
   "get": {
    "operationId": "get_api_v1_admin_freeze",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.admin-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_admin_freeze",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.admin-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/admin/import-holds": {
   "get": {
    "operationId": "get_api_v1_admin_import_holds",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.admin-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/admin/provider-events": {
   "get": {
    "operationId": "get_api_v1_admin_provider_events",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.admin-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/admin/provider-events/{id}/reprocess": {
   "post": {
    "operationId": "post_api_v1_admin_provider_events_id_reprocess",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.admin-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/admin/reconcile": {
   "get": {
    "operationId": "get_api_v1_admin_reconcile",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.admin-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/admin/sweep": {
   "post": {
    "operationId": "post_api_v1_admin_sweep",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.admin-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/balances/{subject}": {
   "get": {
    "operationId": "get_api_v1_balances_subject",
    "summary": "Read a subject's balances (spendable credit, creator payable, pending payouts) and transaction history.",
    "description": "**billing.balance.read** (internal): Read a subject's balances (spendable credit, creator payable, pending payouts) and transaction history.",
    "tags": [
     "billing.balance"
    ],
    "x-openvibe-capabilities": [
     "billing.balance.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-read",
    "security": [
     {
      "openvibeToken": [
       "billing.balance.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.balance-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/cashouts": {
   "get": {
    "operationId": "get_api_v1_cashouts",
    "summary": "Operator payouts: list cashouts, approve one after its escrow period with the payout reference from the provider (required), or deny it (reversal back to creator payable).",
    "description": "**billing.cashout.manage** (internal): Operator payouts: list cashouts, approve one after its escrow period with the payout reference from the provider (required), or deny it (reversal back to creator payable). Separately controlled from every other capability (ADR-012 rule 10).",
    "tags": [
     "billing.cashout"
    ],
    "x-openvibe-capabilities": [
     "billing.cashout.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.cashout.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.cashout-decision.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.cashout-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_cashouts",
    "summary": "Request a cashout of creator payable into escrow (minimum and escrow period enforced by Billing), or recycle creator payable into the subject's own spendable credit.",
    "description": "**billing.cashout.request** (internal): Request a cashout of creator payable into escrow (minimum and escrow period enforced by Billing), or recycle creator payable into the subject's own spendable credit. Bought credit is never withdrawable.",
    "tags": [
     "billing.cashout"
    ],
    "x-openvibe-capabilities": [
     "billing.cashout.request"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.cashout.request"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.cashout-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.cashout-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/cashouts/{id}": {
   "get": {
    "operationId": "get_api_v1_cashouts_id",
    "summary": "Request a cashout of creator payable into escrow (minimum and escrow period enforced by Billing), or recycle creator payable into the subject's own spendable credit.",
    "description": "**billing.cashout.request** (internal): Request a cashout of creator payable into escrow (minimum and escrow period enforced by Billing), or recycle creator payable into the subject's own spendable credit. Bought credit is never withdrawable.",
    "tags": [
     "billing.cashout"
    ],
    "x-openvibe-capabilities": [
     "billing.cashout.request"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.cashout.request"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.cashout-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.cashout-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/cashouts/{id}/approve": {
   "post": {
    "operationId": "post_api_v1_cashouts_id_approve",
    "summary": "Operator payouts: list cashouts, approve one after its escrow period with the payout reference from the provider (required), or deny it (reversal back to creator payable).",
    "description": "**billing.cashout.manage** (internal): Operator payouts: list cashouts, approve one after its escrow period with the payout reference from the provider (required), or deny it (reversal back to creator payable). Separately controlled from every other capability (ADR-012 rule 10).",
    "tags": [
     "billing.cashout"
    ],
    "x-openvibe-capabilities": [
     "billing.cashout.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.cashout.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.cashout-decision.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.cashout-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/cashouts/{id}/deny": {
   "post": {
    "operationId": "post_api_v1_cashouts_id_deny",
    "summary": "Operator payouts: list cashouts, approve one after its escrow period with the payout reference from the provider (required), or deny it (reversal back to creator payable).",
    "description": "**billing.cashout.manage** (internal): Operator payouts: list cashouts, approve one after its escrow period with the payout reference from the provider (required), or deny it (reversal back to creator payable). Separately controlled from every other capability (ADR-012 rule 10).",
    "tags": [
     "billing.cashout"
    ],
    "x-openvibe-capabilities": [
     "billing.cashout.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.cashout.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.cashout-decision.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.cashout-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entitlements/{subject}": {
   "get": {
    "operationId": "get_api_v1_entitlements_subject",
    "summary": "Is a subject entitled to a streamer's subscription right now, and until when.",
    "description": "**billing.entitlement.check** (internal): Is a subject entitled to a streamer's subscription right now, and until when. Answered from Billing alone (works with Live offline).",
    "tags": [
     "billing.entitlement"
    ],
    "x-openvibe-capabilities": [
     "billing.entitlement.check"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-read",
    "security": [
     {
      "openvibeToken": [
       "billing.entitlement.check"
      ]
     }
    ],
    "parameters": [
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.entitlement-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/intents": {
   "post": {
    "operationId": "post_api_v1_intents",
    "summary": "Start a checkout: create a payment intent priced by Billing (never by the client) for a Vibes purchase or a channel subscription, and get the provider checkout URL or PowerChat app_ref.",
    "description": "**billing.intent.create** (internal): Start a checkout: create a payment intent priced by Billing (never by the client) for a Vibes purchase or a channel subscription, and get the provider checkout URL or PowerChat app_ref. Also reads intents and captures approved PayPal orders.",
    "tags": [
     "billing.intent"
    ],
    "x-openvibe-capabilities": [
     "billing.intent.create"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.intent.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.intent-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.intent-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/intents/{id}": {
   "get": {
    "operationId": "get_api_v1_intents_id",
    "summary": "Start a checkout: create a payment intent priced by Billing (never by the client) for a Vibes purchase or a channel subscription, and get the provider checkout URL or PowerChat app_ref.",
    "description": "**billing.intent.create** (internal): Start a checkout: create a payment intent priced by Billing (never by the client) for a Vibes purchase or a channel subscription, and get the provider checkout URL or PowerChat app_ref. Also reads intents and captures approved PayPal orders.",
    "tags": [
     "billing.intent"
    ],
    "x-openvibe-capabilities": [
     "billing.intent.create"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.intent.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.intent-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.intent-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/intents/{id}/capture": {
   "post": {
    "operationId": "post_api_v1_intents_id_capture",
    "summary": "Start a checkout: create a payment intent priced by Billing (never by the client) for a Vibes purchase or a channel subscription, and get the provider checkout URL or PowerChat app_ref.",
    "description": "**billing.intent.create** (internal): Start a checkout: create a payment intent priced by Billing (never by the client) for a Vibes purchase or a channel subscription, and get the provider checkout URL or PowerChat app_ref. Also reads intents and captures approved PayPal orders.",
    "tags": [
     "billing.intent"
    ],
    "x-openvibe-capabilities": [
     "billing.intent.create"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.intent.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.intent-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.intent-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/purchases/settle": {
   "post": {
    "operationId": "post_api_v1_purchases_settle",
    "summary": "Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provide",
    "description": "**billing.ledger.admin** (internal): Operate the ledger: economy freeze switch (writes refused, reads served, webhooks queued), reconciliation runs, balanced manual adjustments with a reason, settling a verified provider receipt, provider-event reprocessing, the renewal sweep and import holds.",
    "tags": [
     "billing.ledger"
    ],
    "x-openvibe-capabilities": [
     "billing.ledger.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-admin",
    "security": [
     {
      "openvibeToken": [
       "billing.ledger.admin"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.admin-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/recycle": {
   "post": {
    "operationId": "post_api_v1_recycle",
    "summary": "Request a cashout of creator payable into escrow (minimum and escrow period enforced by Billing), or recycle creator payable into the subject's own spendable credit.",
    "description": "**billing.cashout.request** (internal): Request a cashout of creator payable into escrow (minimum and escrow period enforced by Billing), or recycle creator payable into the subject's own spendable credit. Bought credit is never withdrawable.",
    "tags": [
     "billing.cashout"
    ],
    "x-openvibe-capabilities": [
     "billing.cashout.request"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.cashout.request"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.cashout-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.cashout-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/subscriptions": {
   "get": {
    "operationId": "get_api_v1_subscriptions",
    "summary": "Is a subject entitled to a streamer's subscription right now, and until when.",
    "description": "**billing.entitlement.check** (internal): Is a subject entitled to a streamer's subscription right now, and until when. Answered from Billing alone (works with Live offline).\n\n**billing.subscription.manage** (internal): Start or renew a channel subscription paid from credit (the streamer share is credited on every period), and cancel at period end (Stripe subscriptions are cancelled at Stripe). Receipt-paid subscriptions through the API additionally need billing.ledger.admin.",
    "tags": [
     "billing.entitlement",
     "billing.subscription"
    ],
    "x-openvibe-capabilities": [
     "billing.entitlement.check",
     "billing.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-read",
    "security": [
     {
      "openvibeToken": [
       "billing.entitlement.check"
      ]
     },
     {
      "openvibeToken": [
       "billing.subscription.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.subscription-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/billing.entitlement-result.v1"
          },
          {
           "$ref": "#/components/schemas/billing.subscription-result.v1"
          }
         ]
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_subscriptions",
    "summary": "Start or renew a channel subscription paid from credit (the streamer share is credited on every period), and cancel at period end (Stripe subscriptions are cancelled at Stripe).",
    "description": "**billing.subscription.manage** (internal): Start or renew a channel subscription paid from credit (the streamer share is credited on every period), and cancel at period end (Stripe subscriptions are cancelled at Stripe). Receipt-paid subscriptions through the API additionally need billing.ledger.admin.",
    "tags": [
     "billing.subscription"
    ],
    "x-openvibe-capabilities": [
     "billing.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.subscription.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.subscription-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.subscription-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/subscriptions/{id}": {
   "get": {
    "operationId": "get_api_v1_subscriptions_id",
    "summary": "Is a subject entitled to a streamer's subscription right now, and until when.",
    "description": "**billing.entitlement.check** (internal): Is a subject entitled to a streamer's subscription right now, and until when. Answered from Billing alone (works with Live offline).\n\n**billing.subscription.manage** (internal): Start or renew a channel subscription paid from credit (the streamer share is credited on every period), and cancel at period end (Stripe subscriptions are cancelled at Stripe). Receipt-paid subscriptions through the API additionally need billing.ledger.admin.",
    "tags": [
     "billing.entitlement",
     "billing.subscription"
    ],
    "x-openvibe-capabilities": [
     "billing.entitlement.check",
     "billing.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-read",
    "security": [
     {
      "openvibeToken": [
       "billing.entitlement.check"
      ]
     },
     {
      "openvibeToken": [
       "billing.subscription.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/billing.subscription-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/billing.entitlement-result.v1"
          },
          {
           "$ref": "#/components/schemas/billing.subscription-result.v1"
          }
         ]
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/subscriptions/{id}/cancel": {
   "post": {
    "operationId": "post_api_v1_subscriptions_id_cancel",
    "summary": "Start or renew a channel subscription paid from credit (the streamer share is credited on every period), and cancel at period end (Stripe subscriptions are cancelled at Stripe).",
    "description": "**billing.subscription.manage** (internal): Start or renew a channel subscription paid from credit (the streamer share is credited on every period), and cancel at period end (Stripe subscriptions are cancelled at Stripe). Receipt-paid subscriptions through the API additionally need billing.ledger.admin.",
    "tags": [
     "billing.subscription"
    ],
    "x-openvibe-capabilities": [
     "billing.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.subscription.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.subscription-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.subscription-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/transactions": {
   "get": {
    "operationId": "get_api_v1_transactions",
    "summary": "Read a subject's balances (spendable credit, creator payable, pending payouts) and transaction history.",
    "description": "**billing.balance.read** (internal): Read a subject's balances (spendable credit, creator payable, pending payouts) and transaction history.",
    "tags": [
     "billing.balance"
    ],
    "x-openvibe-capabilities": [
     "billing.balance.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-read",
    "security": [
     {
      "openvibeToken": [
       "billing.balance.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.balance-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/transactions/{id}": {
   "get": {
    "operationId": "get_api_v1_transactions_id",
    "summary": "Read a subject's balances (spendable credit, creator payable, pending payouts) and transaction history.",
    "description": "**billing.balance.read** (internal): Read a subject's balances (spendable credit, creator payable, pending payouts) and transaction history.",
    "tags": [
     "billing.balance"
    ],
    "x-openvibe-capabilities": [
     "billing.balance.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-read",
    "security": [
     {
      "openvibeToken": [
       "billing.balance.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.balance-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/transfers": {
   "post": {
    "operationId": "post_api_v1_transfers",
    "summary": "Give CREDIT to someone (tip, donation, paid interaction): user_credit of the giver to creator_payable of the recipient.",
    "description": "**billing.transfer.create** (internal): Give CREDIT to someone (tip, donation, paid interaction): user_credit of the giver to creator_payable of the recipient. Self-dealing is refused by subject. Also refunds a credit-funded transfer back to its giver (e.g. a media request that never played). Idempotent by Idempotency-Key.",
    "tags": [
     "billing.transfer"
    ],
    "x-openvibe-capabilities": [
     "billing.transfer.create"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.transfer.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.transfer-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.transfer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/transfers/{id}/refund": {
   "post": {
    "operationId": "post_api_v1_transfers_id_refund",
    "summary": "Give CREDIT to someone (tip, donation, paid interaction): user_credit of the giver to creator_payable of the recipient.",
    "description": "**billing.transfer.create** (internal): Give CREDIT to someone (tip, donation, paid interaction): user_credit of the giver to creator_payable of the recipient. Self-dealing is refused by subject. Also refunds a credit-funded transfer back to its giver (e.g. a media request that never played). Idempotent by Idempotency-Key.",
    "tags": [
     "billing.transfer"
    ],
    "x-openvibe-capabilities": [
     "billing.transfer.create"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "billing.transfer.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/billing.transfer-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/billing.transfer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "billing.admin-request.v1": {
    "title": "BillingAdminRequest",
    "description": "billing.admin-request@1: bodies of billing.ledger.admin on OpenVibe.Billing (operators). POST /api/v1/admin/freeze: { on, reason? } (unfreezing processes the provider deliveries stored meanwhile; allowed while frozen). POST /api/v1/admin/adjustments: { from, to, amount, reason, relates_to? } moves value between two accounts of one currency. POST /api/v1/purchases/settle: { provider, provider_ref, subject?, amount_cents, bits, intent_id?, test? } books a provider receipt. POST /api/v1/admin/provider-events/:id/reprocess, POST /api/v1/admin/sweep and the GETs (freeze, reconcile, provider-events, import-holds) take no body. Adjustments and settlements need an Idempotency-Key and are refused while frozen.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "on"
      ],
      "properties": {
       "on": {
        "type": "boolean"
       },
       "reason": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "from",
       "to",
       "amount",
       "reason"
      ],
      "properties": {
       "from": {
        "type": "object",
        "required": [
         "kind",
         "currency"
        ],
        "properties": {
         "kind": {
          "enum": [
           "user_credit",
           "creator_payable",
           "provider_clearing",
           "platform_revenue",
           "payouts_pending",
           "refunds",
           "import_adjustment",
           "chargeback_loss",
           "fx_conversion"
          ]
         },
         "owner": {
          "type": [
           "string",
           "null"
          ]
         },
         "currency": {
          "enum": [
           "vibes-bits",
           "usd-cents"
          ]
         }
        }
       },
       "to": {
        "type": "object",
        "required": [
         "kind",
         "currency"
        ],
        "properties": {
         "kind": {
          "enum": [
           "user_credit",
           "creator_payable",
           "provider_clearing",
           "platform_revenue",
           "payouts_pending",
           "refunds",
           "import_adjustment",
           "chargeback_loss",
           "fx_conversion"
          ]
         },
         "owner": {
          "type": [
           "string",
           "null"
          ]
         },
         "currency": {
          "enum": [
           "vibes-bits",
           "usd-cents"
          ]
         }
        }
       },
       "amount": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "In the accounts' currency (at most 1,000,000,000)."
       },
       "reason": {
        "type": "string",
        "minLength": 1,
        "maxLength": 500
       },
       "relates_to": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "provider",
       "provider_ref"
      ],
      "properties": {
       "provider": {
        "type": "string"
       },
       "provider_ref": {
        "type": "string",
        "minLength": 1,
        "description": "The provider's payment id."
       },
       "subject": {
        "description": "Who the Vibes are for.",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "amount_cents": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "Cents paid."
       },
       "bits": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "Vibes to credit."
       },
       "intent_id": {
        "type": "string"
       },
       "test": {
        "type": "boolean"
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "billing.admin-result.v1": {
    "title": "BillingAdminResult",
    "description": "billing.admin-result@1: answers of billing.ledger.admin on OpenVibe.Billing. GET|POST /api/v1/admin/freeze → { frozen, reason, frozen_at, frozen_by } (POST adds processed_after_unfreeze); GET /api/v1/admin/reconcile → the reconciliation report { id, ok, trigger, started_at, finished_at, checks, warnings, totals }; POST /api/v1/admin/adjustments and POST /api/v1/purchases/settle → { transaction } (settle adds duplicate_receipt); GET /api/v1/admin/provider-events → { events }; POST …/provider-events/:id/reprocess → { event }; POST /api/v1/admin/sweep → { renewed, expired, canceled, skipped }; GET /api/v1/admin/import-holds → { holds }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "frozen",
       "reason",
       "frozen_at",
       "frozen_by"
      ],
      "properties": {
       "frozen": {
        "type": "boolean"
       },
       "reason": {
        "type": [
         "string",
         "null"
        ]
       },
       "frozen_at": {
        "type": [
         "string",
         "null"
        ]
       },
       "frozen_by": {},
       "processed_after_unfreeze": {}
      }
     },
     {
      "type": "object",
      "required": [
       "id",
       "ok",
       "checks"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "ok": {
        "type": "boolean"
       },
       "trigger": {
        "type": [
         "string",
         "null"
        ]
       },
       "started_at": {
        "type": "string"
       },
       "finished_at": {
        "type": "string"
       },
       "checks": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "ok"
         ],
         "properties": {
          "id": {
           "type": "string"
          },
          "ok": {
           "type": "boolean"
          }
         }
        }
       },
       "warnings": {
        "type": "array"
       },
       "totals": {}
      }
     },
     {
      "type": "object",
      "required": [
       "transaction"
      ],
      "properties": {
       "transaction": {
        "$ref": "#/components/schemas/billing.transaction.v1"
       },
       "duplicate_receipt": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "events"
      ],
      "properties": {
       "events": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "provider"
         ],
         "properties": {
          "id": {
           "type": "integer"
          },
          "provider": {
           "type": "string"
          },
          "provider_event_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "type": {
           "type": [
            "string",
            "null"
           ]
          },
          "processed_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "result": {},
          "attempts": {
           "type": "integer"
          },
          "last_error": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "event"
      ],
      "properties": {
       "event": {
        "type": "object",
        "required": [
         "id",
         "provider"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "renewed",
       "expired",
       "canceled",
       "skipped"
      ],
      "properties": {
       "renewed": {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       "expired": {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       "canceled": {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       "skipped": {
        "type": "integer"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "holds"
      ],
      "properties": {
       "holds": {
        "type": "array",
        "items": {
         "type": "object"
        }
       }
      }
     }
    ]
   },
   "billing.balance-read-result.v1": {
    "title": "BillingBalanceReadResult",
    "description": "billing.balance-read-result@1: answers of billing.balance.read on OpenVibe.Billing. GET /api/v1/balances/:subject → billing.balance@1; GET /api/v1/transactions?subject=&limit=&cursor= → { transactions, next_cursor } (newest first, at most 200 a page; subject is required); GET /api/v1/transactions/:id → { transaction, reversed_by } (ids of the transactions that reverse it).",
    "anyOf": [
     {
      "$ref": "#/components/schemas/billing.balance.v1"
     },
     {
      "type": "object",
      "required": [
       "transactions",
       "next_cursor"
      ],
      "properties": {
       "transactions": {
        "type": "array",
        "maxItems": 200,
        "items": {
         "$ref": "#/components/schemas/billing.transaction.v1"
        }
       },
       "next_cursor": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "transaction",
       "reversed_by"
      ],
      "properties": {
       "transaction": {
        "$ref": "#/components/schemas/billing.transaction.v1"
       },
       "reversed_by": {
        "type": "array",
        "items": {
         "type": "string"
        }
       }
      }
     }
    ]
   },
   "billing.balance.v1": {
    "title": "BillingBalance",
    "description": "billing.balance@1: a person's Vibes balances, GET /api/v1/balances/:subject on OpenVibe.Billing (also returned after a recycle). credit is spendable (bought or given back), payable is what others gave the person (the only balance that can be cashed out), pending_payouts is held for requested cashouts.",
    "type": "object",
    "required": [
     "subject",
     "currency",
     "credit",
     "payable",
     "pending_payouts",
     "payable_value_cents",
     "bits_per_usd"
    ],
    "properties": {
     "subject": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "currency": {
      "const": "vibes-bits"
     },
     "credit": {
      "type": "integer"
     },
     "payable": {
      "type": "integer"
     },
     "pending_payouts": {
      "type": "integer"
     },
     "payable_value_cents": {
      "type": "integer",
      "description": "What payable is worth in US cents at today's rate."
     },
     "bits_per_usd": {
      "type": "number"
     }
    }
   },
   "billing.cashout-decision.v1": {
    "title": "BillingCashoutDecision",
    "description": "billing.cashout-decision@1: bodies of billing.cashout.manage on OpenVibe.Billing (staff). POST /api/v1/cashouts/:id/approve: { payout_reference, payout_provider? } after the payout was sent (payout_provider defaults to paypal; refused while the cashout is in escrow). POST /api/v1/cashouts/:id/deny: { reason? } returns the bits to the person's payable. GET /api/v1/cashouts takes no body. Every mutating call needs an Idempotency-Key header (a replay with the same key and body returns the first answer) and is refused with 503 billing.frozen while the economy is frozen. Refusals are problem+json (billing.invalid_input, billing.invalid_amount, billing.insufficient_funds, …).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "payout_reference"
      ],
      "properties": {
       "payout_reference": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200,
        "description": "The provider's payout id."
       },
       "payout_provider": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "reason"
      ],
      "properties": {
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "billing.cashout-request.v1": {
    "title": "BillingCashoutRequest",
    "description": "billing.cashout-request@1: bodies of billing.cashout.request on OpenVibe.Billing. POST /api/v1/cashouts: { subject, amount, payout_method: { type, address } } moves amount bits (at least the minimum cashout) from the person's payable into payouts pending, in escrow until staff pay it (a PayPal address must be an email). POST /api/v1/recycle: { subject, amount } turns payable back into the person's own spendable credit. GET /api/v1/cashouts/:id takes no body. Every mutating call needs an Idempotency-Key header (a replay with the same key and body returns the first answer) and is refused with 503 billing.frozen while the economy is frozen. Refusals are problem+json (billing.invalid_input, billing.invalid_amount, billing.insufficient_funds, …).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "subject",
       "amount",
       "payout_method"
      ],
      "properties": {
       "subject": {
        "description": "A user SubjectRef, or its bare id (usr_…). Guests hold no money.",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "amount": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "Bits."
       },
       "payout_method": {
        "type": "object",
        "required": [
         "type",
         "address"
        ],
        "properties": {
         "type": {
          "type": "string",
          "pattern": "^[A-Za-z][A-Za-z0-9_-]{1,39}$",
          "description": "paypal, …"
         },
         "address": {
          "type": "string",
          "minLength": 1,
          "maxLength": 254
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "subject",
       "amount"
      ],
      "properties": {
       "subject": {
        "description": "A user SubjectRef, or its bare id (usr_…). Guests hold no money.",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "amount": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "Bits."
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "billing.cashout-result.v1": {
    "title": "BillingCashoutResult",
    "description": "billing.cashout-result@1: answers about cashouts on OpenVibe.Billing. POST /api/v1/cashouts (201), GET /api/v1/cashouts/:id, POST /api/v1/cashouts/:id/approve and /deny → { cashout }; GET /api/v1/cashouts?status=&subject=&limit= → { cashouts }; POST /api/v1/recycle (201) → { transaction, balance }. A cashout the Events stream carries names the payout method's type only; this API answers the caller who may see the address.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "cashout"
      ],
      "properties": {
       "cashout": {
        "$ref": "#/components/schemas/billing.cashout.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "cashouts"
      ],
      "properties": {
       "cashouts": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/billing.cashout.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "transaction",
       "balance"
      ],
      "properties": {
       "transaction": {
        "$ref": "#/components/schemas/billing.transaction.v1"
       },
       "balance": {
        "$ref": "#/components/schemas/billing.balance.v1"
       }
      }
     }
    ]
   },
   "billing.cashout.v1": {
    "title": "BillingCashout",
    "description": "billing.cashout@1: one cashout as OpenVibe.Billing presents it (server/ops/cashouts.js present). Requested cashouts wait out an escrow; staff approve (with the provider's payout reference) or deny them.",
    "type": "object",
    "required": [
     "id",
     "subject",
     "amount_bits",
     "value_cents",
     "status",
     "payout_method",
     "escrow_until",
     "request_txn",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "subject": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "amount_bits": {
      "type": "integer",
      "minimum": 1
     },
     "value_cents": {
      "type": "integer",
      "minimum": 0
     },
     "status": {
      "enum": [
       "requested",
       "paid",
       "denied"
      ]
     },
     "payout_method": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "type": {
        "type": "string"
       },
       "address": {
        "type": "string"
       }
      }
     },
     "escrow_until": {
      "type": "string"
     },
     "request_txn": {
      "type": "string"
     },
     "settle_txn": {
      "type": [
       "string",
       "null"
      ]
     },
     "payout_provider": {
      "type": [
       "string",
       "null"
      ]
     },
     "payout_reference": {
      "type": [
       "string",
       "null"
      ]
     },
     "reason": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "billing.entitlement-result.v1": {
    "title": "BillingEntitlementResult",
    "description": "billing.entitlement-result@1: answers of billing.entitlement.check on OpenVibe.Billing. GET /api/v1/entitlements/:subject?streamer= → billing.entitlement@1; without streamer → { subject, entitlements } (every active one); GET /api/v1/subscriptions → { subscriptions }; GET /api/v1/subscriptions/:id → { subscription, entitlement }.",
    "anyOf": [
     {
      "$ref": "#/components/schemas/billing.entitlement.v1"
     },
     {
      "type": "object",
      "required": [
       "subject",
       "entitlements"
      ],
      "properties": {
       "subject": {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       "entitlements": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/billing.entitlement.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "subscriptions"
      ],
      "properties": {
       "subscriptions": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/billing.subscription.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "subscription",
       "entitlement"
      ],
      "properties": {
       "subscription": {
        "$ref": "#/components/schemas/billing.subscription.v1"
       },
       "entitlement": {
        "$ref": "#/components/schemas/billing.entitlement.v1"
       }
      }
     }
    ]
   },
   "billing.entitlement.v1": {
    "title": "BillingEntitlement",
    "description": "billing.entitlement@1: whether a person is entitled to a streamer's subscriber perks now (OpenVibe.Billing server/ops/subscriptions.js entitlement): GET /api/v1/entitlements/:subject?streamer=, and inside subscription answers. Chained, already-paid future periods extend expires_at.",
    "type": "object",
    "required": [
     "subject",
     "streamer",
     "kind",
     "active",
     "expires_at",
     "subscription"
    ],
    "properties": {
     "subject": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "streamer": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "kind": {
      "type": "string"
     },
     "active": {
      "type": "boolean"
     },
     "expires_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "subscription": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "status": {
        "type": "string"
       },
       "auto_renew": {
        "type": [
         "boolean",
         "integer"
        ]
       },
       "cancel_at_period_end": {
        "type": [
         "boolean",
         "integer"
        ]
       },
       "provider": {
        "type": "string"
       }
      }
     }
    }
   },
   "billing.intent-request.v1": {
    "title": "BillingIntentRequest",
    "description": "billing.intent-request@1: the body of POST /api/v1/intents on OpenVibe.Billing (billing.intent.create): a checkout with an enabled provider for a Vibes purchase ({ kind: purchase, bits } at least the minimum purchase) or a channel subscription ({ kind: subscription, streamer }; route direct pays the streamer's own account, and a direct PowerChat subscription names receiving_account). Billing prices it; the answer is { intent, checkout_url } (201). GET /api/v1/intents/:id and POST /api/v1/intents/:id/capture take no body. Every mutating call needs an Idempotency-Key header (a replay with the same key and body returns the first answer) and is refused with 503 billing.frozen while the economy is frozen. Refusals are problem+json (billing.invalid_input, billing.invalid_amount, billing.insufficient_funds, …).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "provider",
       "kind",
       "subject"
      ],
      "properties": {
       "provider": {
        "type": "string",
        "pattern": "^[A-Za-z][A-Za-z0-9_-]{1,39}$",
        "description": "stripe, paypal, nowpayments, powerchat, ccbill (enabled ones only)."
       },
       "kind": {
        "enum": [
         "purchase",
         "subscription"
        ]
       },
       "subject": {
        "description": "Who pays.",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "bits": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "Purchase: the Vibes to buy."
       },
       "streamer": {
        "description": "Subscription: the channel's owner (never the payer).",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "route": {
        "type": "string",
        "description": "Subscription: direct, or the site route."
       },
       "receiving_account": {
        "type": "string",
        "description": "Direct PowerChat subscription: the streamer's PowerChat username."
       },
       "auto_renew": {
        "type": [
         "boolean",
         "integer"
        ]
       },
       "success_url": {
        "type": "string"
       },
       "cancel_url": {
        "type": "string"
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "billing.intent-result.v1": {
    "title": "BillingIntentResult",
    "description": "billing.intent-result@1: answers of billing.intent.create on OpenVibe.Billing. POST /api/v1/intents → { intent, checkout_url } (null when the provider has no hosted checkout); GET /api/v1/intents/:id → { intent }; POST /api/v1/intents/:id/capture → { result, intent } (the settlement the provider's capture produced).",
    "type": "object",
    "required": [
     "intent"
    ],
    "properties": {
     "intent": {
      "$ref": "#/components/schemas/billing.intent.v1"
     },
     "checkout_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "result": {
      "description": "Capture: what applying the provider's plan did."
     }
    }
   },
   "billing.intent.v1": {
    "title": "BillingIntent",
    "description": "billing.intent@1: a checkout intent as OpenVibe.Billing presents it (server/ops/intents.js present): what a person is about to pay a provider for (a Vibes purchase or a channel subscription), priced by Billing.",
    "type": "object",
    "required": [
     "id",
     "provider",
     "provider_ref",
     "kind",
     "subject",
     "streamer",
     "amount_cents",
     "fee_cents",
     "bits",
     "route",
     "status",
     "settled_txn",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^pi_"
     },
     "provider": {
      "type": "string"
     },
     "provider_ref": {
      "type": [
       "string",
       "null"
      ]
     },
     "kind": {
      "enum": [
       "purchase",
       "subscription"
      ]
     },
     "subject": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "streamer": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "amount_cents": {
      "type": "integer",
      "minimum": 0
     },
     "fee_cents": {
      "type": "integer",
      "minimum": 0
     },
     "bits": {
      "type": "integer",
      "minimum": 0
     },
     "route": {
      "type": [
       "string",
       "null"
      ]
     },
     "auto_renew": {
      "type": [
       "integer",
       "boolean"
      ]
     },
     "status": {
      "type": "string",
      "description": "created, settled, failed, …"
     },
     "settled_txn": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string"
     },
     "checkout_ref": {
      "type": "string",
      "description": "PowerChat only: pcorder:<id> or pcsub:<id>, echoed back by its webhook."
     }
    }
   },
   "billing.subscription-request.v1": {
    "title": "BillingSubscriptionRequest",
    "description": "billing.subscription-request@1: the body of POST /api/v1/subscriptions on OpenVibe.Billing (billing.subscription.manage): pay one period of subscriber → streamer, from the subscriber's credit (source credit, the default) or from a provider receipt (source receipt, which also needs billing.ledger.admin: claiming money was received is operator grade). POST /api/v1/subscriptions/:id/cancel (cancels at the period end, with the provider too) and the GETs take no body. Every mutating call needs an Idempotency-Key header (a replay with the same key and body returns the first answer) and is refused with 503 billing.frozen while the economy is frozen. Refusals are problem+json (billing.invalid_input, billing.invalid_amount, billing.insufficient_funds, …).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "subscriber",
       "streamer"
      ],
      "properties": {
       "subscriber": {
        "description": "A user SubjectRef, or its bare id (usr_…). Guests hold no money.",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "streamer": {
        "description": "A user SubjectRef, or its bare id (usr_…). Guests hold no money.",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "source": {
        "enum": [
         "credit",
         "receipt"
        ]
       },
       "price_cents": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "Default: Billing's subscription price."
       },
       "auto_renew": {
        "type": [
         "boolean",
         "integer"
        ]
       },
       "receipt": {
        "type": "object",
        "required": [
         "provider",
         "provider_ref"
        ],
        "properties": {
         "provider": {
          "type": "string"
         },
         "provider_ref": {
          "type": "string"
         },
         "amount_cents": {
          "type": [
           "integer",
           "string"
          ],
          "minimum": 1,
          "pattern": "^[1-9][0-9]*$",
          "description": "Cents paid."
         },
         "fee_cents": {
          "type": [
           "integer",
           "string"
          ]
         },
         "route": {
          "type": "string"
         },
         "subscription_ref": {
          "type": "string"
         },
         "test": {
          "type": "boolean"
         }
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "billing.subscription-result.v1": {
    "title": "BillingSubscriptionResult",
    "description": "billing.subscription-result@1: answers about subscriptions on OpenVibe.Billing. POST /api/v1/subscriptions (201) → { subscription, entitlement, transaction }; POST /api/v1/subscriptions/:id/cancel → { subscription, provider_sync }; GET /api/v1/subscriptions?subscriber=&streamer=&status= → { subscriptions }; GET /api/v1/subscriptions/:id → { subscription, entitlement }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "subscription"
      ],
      "properties": {
       "subscription": {
        "$ref": "#/components/schemas/billing.subscription.v1"
       },
       "entitlement": {
        "description": "billing.entitlement@1 (the answer to POST /subscriptions carries the entitlement as booked)."
       },
       "transaction": {
        "$ref": "#/components/schemas/billing.transaction.v1"
       },
       "provider_sync": {
        "type": "string",
        "description": "not_needed, or how the provider was told."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "subscriptions"
      ],
      "properties": {
       "subscriptions": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/billing.subscription.v1"
        }
       }
      }
     }
    ]
   },
   "billing.subscription.v1": {
    "title": "BillingSubscription",
    "description": "billing.subscription@1: one channel subscription as OpenVibe.Billing presents it (server/ops/subscriptions.js present).",
    "type": "object",
    "required": [
     "id",
     "subscriber",
     "streamer",
     "provider",
     "status",
     "auto_renew",
     "cancel_at_period_end",
     "current_period_end"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "subscriber": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "streamer": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "tier": {},
     "provider": {
      "type": "string",
      "description": "credit, or the provider that takes the payments."
     },
     "provider_ref": {
      "type": [
       "string",
       "null"
      ]
     },
     "route": {
      "type": [
       "string",
       "null"
      ],
      "description": "site or direct (paid to the streamer's own provider account)."
     },
     "status": {
      "type": "string",
      "description": "active, canceled, expired, …"
     },
     "auto_renew": {
      "type": "boolean"
     },
     "cancel_at_period_end": {
      "type": "boolean"
     },
     "price_cents": {
      "type": [
       "integer",
       "null"
      ]
     },
     "current_period_end": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "billing.transaction.v1": {
    "title": "BillingTransaction",
    "description": "billing.transaction@1: one journal transaction as OpenVibe.Billing's /api/v1 presents it (server/ledger.js present). Amounts are integers: bits for vibes-bits, cents for usd-cents; each transaction's entries balance per currency. Subjects are bare Network subject ids.",
    "type": "object",
    "required": [
     "id",
     "type",
     "status",
     "test",
     "reverses_txn",
     "from_subject",
     "to_subject",
     "provider",
     "receipt_ref",
     "created_at",
     "entries"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^txn_"
     },
     "type": {
      "enum": [
       "purchase",
       "donation",
       "subscription",
       "subscription_share",
       "cashout_request",
       "cashout_paid",
       "cashout_denied",
       "recycle",
       "refund",
       "chargeback",
       "adjustment",
       "import"
      ]
     },
     "status": {
      "type": "string"
     },
     "test": {
      "type": "boolean",
      "description": "Test money: never counted."
     },
     "reverses_txn": {
      "type": [
       "string",
       "null"
      ]
     },
     "from_subject": {
      "type": [
       "string",
       "null"
      ]
     },
     "to_subject": {
      "type": [
       "string",
       "null"
      ]
     },
     "provider": {
      "type": [
       "string",
       "null"
      ]
     },
     "receipt_ref": {
      "type": [
       "string",
       "null"
      ],
      "description": "<provider>:<provider payment id> for money that arrived from a provider."
     },
     "actor": {
      "description": "Who posted it (as recorded)."
     },
     "metadata": {
      "description": "Per type: amount_bits, paid_cents, target EntityRef, message, rates…"
     },
     "created_at": {
      "type": "string"
     },
     "entries": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "account",
        "amount"
       ],
       "properties": {
        "account": {
         "type": "object",
         "required": [
          "kind",
          "currency"
         ],
         "properties": {
          "kind": {
           "enum": [
            "user_credit",
            "creator_payable",
            "provider_clearing",
            "platform_revenue",
            "payouts_pending",
            "refunds",
            "import_adjustment",
            "chargeback_loss",
            "fx_conversion"
           ]
          },
          "owner": {
           "type": [
            "string",
            "null"
           ],
           "description": "A subject id, a provider slug, or null for a platform account."
          },
          "currency": {
           "enum": [
            "vibes-bits",
            "usd-cents"
           ]
          }
         }
        },
        "amount": {
         "type": "integer",
         "description": "Signed: negative leaves the account."
        }
       }
      }
     }
    }
   },
   "billing.transfer-request.v1": {
    "title": "BillingTransferRequest",
    "description": "billing.transfer-request@1: bodies of billing.transfer.create on OpenVibe.Billing. POST /api/v1/transfers: { from, to, amount, kind?, target?, message? } moves amount bits from the sender's credit to the recipient's payable (a tip, donation or paid interaction; never to oneself). POST /api/v1/transfers/:id/refund: { amount?, reason? } gives a credit-funded donation back (all that remains refundable when amount is absent). Every mutating call needs an Idempotency-Key header (a replay with the same key and body returns the first answer) and is refused with 503 billing.frozen while the economy is frozen. Refusals are problem+json (billing.invalid_input, billing.invalid_amount, billing.insufficient_funds, …).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "from",
       "to",
       "amount"
      ],
      "properties": {
       "from": {
        "description": "The sender (their credit pays).",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "to": {
        "description": "The recipient (their payable receives).",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "amount": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "Bits."
       },
       "kind": {
        "enum": [
         "tip",
         "donation",
         "paid_interaction"
        ],
        "description": "Default donation."
       },
       "target": {
        "$ref": "#/components/schemas/common.entity-ref.v1",
        "description": "What the money is for (a stream, a paid message, …)."
       },
       "message": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 500
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "amount": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "description": "Bits to give back; default all that remains refundable."
       },
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       }
      }
     }
    ]
   },
   "billing.transfer-result.v1": {
    "title": "BillingTransferResult",
    "description": "billing.transfer-result@1: answers of billing.transfer.create on OpenVibe.Billing (201). POST /api/v1/transfers → { transaction, balance: { credit } } (the sender's credit after it); POST /api/v1/transfers/:id/refund → { transaction } (type refund, reverses_txn the donation).",
    "type": "object",
    "required": [
     "transaction"
    ],
    "properties": {
     "transaction": {
      "$ref": "#/components/schemas/billing.transaction.v1"
     },
     "balance": {
      "type": "object",
      "required": [
       "credit"
      ],
      "properties": {
       "credit": {
        "type": "integer"
       }
      }
     }
    }
   },
   "common.entity-ref.v1": {
    "title": "EntityRef",
    "description": "Typed reference to another service's entity. Store this instead of a foreign key; resolve a display projection from the owner.",
    "type": "object",
    "required": [
     "service",
     "type",
     "id"
    ],
    "additionalProperties": false,
    "properties": {
     "service": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$"
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$"
     },
     "id": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
     },
     "revision": {
      "type": "integer",
      "minimum": 0
     },
     "label": {
      "type": "string",
      "maxLength": 200,
      "description": "Cached display label. Never authoritative."
     }
    }
   },
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     }
    ]
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
