{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Blog API",
  "version": "0.55.1",
  "description": "Routes of OpenVibe.Blog as the OpenVibe contracts describe them (openvibe-contracts 0.55.1): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.blog"
  }
 ],
 "paths": {
  "/api/v1/blogs": {
   "post": {
    "operationId": "post_api_v1_blogs",
    "summary": "Get-or-create the blog of the acting member (X-OV-Subject, a usr_ subject): one member blog per subject, created on first use, owned by that subject, handle = the Network username unless another free ",
    "description": "**blog.blog.create** (first-party): Get-or-create the blog of the acting member (X-OV-Subject, a usr_ subject): one member blog per subject, created on first use, owned by that subject, handle = the Network username unless another free handle is given. The charter's blog.create as a three-segment id. Browsers use their Network user JWT instead.",
    "tags": [
     "blog.blog"
    ],
    "x-openvibe-capabilities": [
     "blog.blog.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.blog.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.blog-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.blog-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/blogs/{handle}": {
   "patch": {
    "operationId": "patch_api_v1_blogs_handle",
    "summary": "Change a blog's title, description, language and feed settings (RSS, Atom, JSON Feed on/off, item count, full text or summaries).",
    "description": "**blog.blog.configure** (first-party): Change a blog's title, description, language and feed settings (RSS, Atom, JSON Feed on/off, item count, full text or summaries). Only an owner of the blog (or staff on the official blog) acting through X-OV-Subject.",
    "tags": [
     "blog.blog"
    ],
    "x-openvibe-capabilities": [
     "blog.blog.configure"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.blog.configure"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.blog-configure-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "handle",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.blog-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/blogs/{handle}/feed": {
   "get": {
    "operationId": "get_api_v1_blogs_handle_feed",
    "summary": "Read a blog's JSON Feed through the API (public, published, listable posts only; the same items as /@handle/feed.json).",
    "description": "**blog.feed.read** (first-party): Read a blog's JSON Feed through the API (public, published, listable posts only; the same items as /@handle/feed.json). Browsers and crawlers read the public RSS, Atom and JSON Feed URLs without any capability.",
    "tags": [
     "blog.feed"
    ],
    "x-openvibe-capabilities": [
     "blog.feed.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-read",
    "security": [
     {
      "openvibeToken": [
       "blog.feed.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "handle",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.json-feed.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/blogs/{handle}/members": {
   "get": {
    "operationId": "get_api_v1_blogs_handle_members",
    "summary": "List, add, change and remove a blog's members (owner, editor, author) by Network subject.",
    "description": "**blog.member.manage** (first-party): List, add, change and remove a blog's members (owner, editor, author) by Network subject. A member blog keeps at least one owner. Owners only.",
    "tags": [
     "blog.member"
    ],
    "x-openvibe-capabilities": [
     "blog.member.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.member.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/blog.member-request.v1"
    },
    "parameters": [
     {
      "name": "handle",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.member-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/blogs/{handle}/members/{subject}": {
   "delete": {
    "operationId": "delete_api_v1_blogs_handle_members_subject",
    "summary": "List, add, change and remove a blog's members (owner, editor, author) by Network subject.",
    "description": "**blog.member.manage** (first-party): List, add, change and remove a blog's members (owner, editor, author) by Network subject. A member blog keeps at least one owner. Owners only.",
    "tags": [
     "blog.member"
    ],
    "x-openvibe-capabilities": [
     "blog.member.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.member.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/blog.member-request.v1"
    },
    "parameters": [
     {
      "name": "handle",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.member-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_blogs_handle_members_subject",
    "summary": "List, add, change and remove a blog's members (owner, editor, author) by Network subject.",
    "description": "**blog.member.manage** (first-party): List, add, change and remove a blog's members (owner, editor, author) by Network subject. A member blog keeps at least one owner. Owners only.",
    "tags": [
     "blog.member"
    ],
    "x-openvibe-capabilities": [
     "blog.member.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.member.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.member-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "handle",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.member-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/blogs/{handle}/posts": {
   "post": {
    "operationId": "post_api_v1_blogs_handle_posts",
    "summary": "Create a draft post (revision 1) on a blog the acting member belongs to.",
    "description": "**blog.post.create** (first-party): Create a draft post (revision 1) on a blog the acting member belongs to. With X-OV-Origin: ai the draft is AI-generated output (OpenVibe.AI blog.draft_post; authorship.workflow { id, runId } required): never attributed to the person, noindex, and not publishable until a person reviews it.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.post-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "handle",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/blogs/{handle}/posts?all=1": {
   "get": {
    "operationId": "get_api_v1_blogs_handle_posts_all_1",
    "summary": "Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject.",
    "description": "**blog.post.read** (first-party): Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject. Published public posts need no capability.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-read",
    "security": [
     {
      "openvibeToken": [
       "blog.post.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "handle",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/blogs/{handle}/theme": {
   "put": {
    "operationId": "put_api_v1_blogs_handle_theme",
    "summary": "Choose a blog's theme from the small set of openvibe-shared token presets (vibe, paper, slate, sand, nord, high-contrast).",
    "description": "**blog.theme.set** (first-party): Choose a blog's theme from the small set of openvibe-shared token presets (vibe, paper, slate, sand, nord, high-contrast). There is no site-local theme engine and no custom CSS. Owners only.",
    "tags": [
     "blog.theme"
    ],
    "x-openvibe-capabilities": [
     "blog.theme.set"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.theme.set"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.theme-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "handle",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.blog-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}": {
   "delete": {
    "operationId": "delete_api_v1_posts_id",
    "summary": "Delete a post: readers get 410, Search a tombstone, the Community thread is hidden; immutable revisions are kept.",
    "description": "**blog.post.delete** (first-party): Delete a post: readers get 410, Search a tombstone, the Community thread is hidden; immutable revisions are kept. Editors, owners, the author, and staff (moderation).",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.delete"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.delete"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.delete-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_posts_id",
    "summary": "Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject.",
    "description": "**blog.post.read** (first-party): Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject. Published public posts need no capability.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-read",
    "security": [
     {
      "openvibeToken": [
       "blog.post.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_posts_id",
    "summary": "Edit a post: content becomes a new immutable revision (expected_revision required; 412 revision.conflict when someone saved first), slug changes leave 301 redirects, visibility, taxonomy, series, medi",
    "description": "**blog.post.update** (first-party): Edit a post: content becomes a new immutable revision (expected_revision required; 412 revision.conflict when someone saved first), slug changes leave 301 redirects, visibility, taxonomy, series, media attachments (OpenVibe.Media object ids) and revert as a new revision. Authors edit their own posts; editors and owners every post of the blog.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.post-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/attachments": {
   "post": {
    "operationId": "post_api_v1_posts_id_attachments",
    "summary": "Edit a post: content becomes a new immutable revision (expected_revision required; 412 revision.conflict when someone saved first), slug changes leave 301 redirects, visibility, taxonomy, series, medi",
    "description": "**blog.post.update** (first-party): Edit a post: content becomes a new immutable revision (expected_revision required; 412 revision.conflict when someone saved first), slug changes leave 301 redirects, visibility, taxonomy, series, media attachments (OpenVibe.Media object ids) and revert as a new revision. Authors edit their own posts; editors and owners every post of the blog.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.post-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/attachments/{aid}": {
   "delete": {
    "operationId": "delete_api_v1_posts_id_attachments_aid",
    "summary": "Edit a post: content becomes a new immutable revision (expected_revision required; 412 revision.conflict when someone saved first), slug changes leave 301 redirects, visibility, taxonomy, series, medi",
    "description": "**blog.post.update** (first-party): Edit a post: content becomes a new immutable revision (expected_revision required; 412 revision.conflict when someone saved first), slug changes leave 301 redirects, visibility, taxonomy, series, media attachments (OpenVibe.Media object ids) and revert as a new revision. Authors edit their own posts; editors and owners every post of the blog.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.update"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/blog.post-update-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "aid",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/diff": {
   "get": {
    "operationId": "get_api_v1_posts_id_diff",
    "summary": "Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject.",
    "description": "**blog.post.read** (first-party): Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject. Published public posts need no capability.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-read",
    "security": [
     {
      "openvibeToken": [
       "blog.post.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/publish": {
   "post": {
    "operationId": "post_api_v1_posts_id_publish",
    "summary": "Make a revision the published one (idempotent).",
    "description": "**blog.post.publish** (first-party): Make a revision the published one (idempotent). AI-generated revisions are refused (409 post.review_required) until a person has recorded an approving review.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.publication-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/revert": {
   "post": {
    "operationId": "post_api_v1_posts_id_revert",
    "summary": "Edit a post: content becomes a new immutable revision (expected_revision required; 412 revision.conflict when someone saved first), slug changes leave 301 redirects, visibility, taxonomy, series, medi",
    "description": "**blog.post.update** (first-party): Edit a post: content becomes a new immutable revision (expected_revision required; 412 revision.conflict when someone saved first), slug changes leave 301 redirects, visibility, taxonomy, series, media attachments (OpenVibe.Media object ids) and revert as a new revision. Authors edit their own posts; editors and owners every post of the blog.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.post-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/revisions": {
   "get": {
    "operationId": "get_api_v1_posts_id_revisions",
    "summary": "Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject.",
    "description": "**blog.post.read** (first-party): Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject. Published public posts need no capability.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-read",
    "security": [
     {
      "openvibeToken": [
       "blog.post.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/revisions/{n}": {
   "get": {
    "operationId": "get_api_v1_posts_id_revisions_n",
    "summary": "Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject.",
    "description": "**blog.post.read** (first-party): Read posts that are not public (drafts, scheduled, members-only, private), their revisions and diffs, for the member in X-OV-Subject. Published public posts need no capability.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-read",
    "security": [
     {
      "openvibeToken": [
       "blog.post.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.post-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/schedule": {
   "delete": {
    "operationId": "delete_api_v1_posts_id_schedule",
    "summary": "Schedule a publish of a revision (or an unpublish) at a future time, or cancel it.",
    "description": "**blog.post.schedule** (first-party): Schedule a publish of a revision (or an unpublish) at a future time, or cancel it. Idempotent per (post, action, time, revision); applied by Blog's worker with leases, so a restart never publishes twice; a job that cannot succeed emits blog.schedule.failed.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.schedule"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.schedule"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/blog.schedule-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.schedule-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_posts_id_schedule",
    "summary": "Schedule a publish of a revision (or an unpublish) at a future time, or cancel it.",
    "description": "**blog.post.schedule** (first-party): Schedule a publish of a revision (or an unpublish) at a future time, or cancel it. Idempotent per (post, action, time, revision); applied by Blog's worker with leases, so a restart never publishes twice; a job that cannot succeed emits blog.schedule.failed.",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.schedule"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.schedule"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/blog.schedule-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.schedule-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}/unpublish": {
   "post": {
    "operationId": "post_api_v1_posts_id_unpublish",
    "summary": "Take a published post down (readers get 404, Search a tombstone, feeds and sitemaps drop it).",
    "description": "**blog.post.unpublish** (first-party): Take a published post down (readers get 404, Search a tombstone, feeds and sitemaps drop it). Editors, owners, the author, and staff (moderation).",
    "tags": [
     "blog.post"
    ],
    "x-openvibe-capabilities": [
     "blog.post.unpublish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blog-write",
    "security": [
     {
      "openvibeToken": [
       "blog.post.unpublish"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/blog.publication-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "blog.blog-configure-request.v1": {
    "title": "BlogBlogConfigureRequest",
    "description": "blog.blog-configure-request@1: the body of PATCH /api/v1/blogs/:handle on OpenVibe.Blog (blog.blog.configure; an owner): title (at most 120 characters, not blank), description (500), language (a BCP 47 tag) and feeds { rss, atom, json, item_count (1-50), full_content }. Fields left out keep their value.",
    "type": "object",
    "properties": {
     "title": {
      "type": [
       "string",
       "null"
      ]
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "language": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^[a-zA-Z]{2,3}(-[A-Za-z0-9]{2,8})*$"
     },
     "feeds": {
      "type": "object",
      "properties": {
       "rss": {
        "type": [
         "boolean",
         "integer",
         "string"
        ]
       },
       "atom": {
        "type": [
         "boolean",
         "integer",
         "string"
        ]
       },
       "json": {
        "type": [
         "boolean",
         "integer",
         "string"
        ]
       },
       "item_count": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "maximum": 50,
        "pattern": "^[0-9]+$"
       },
       "full_content": {
        "type": [
         "boolean",
         "integer",
         "string"
        ]
       }
      }
     }
    }
   },
   "blog.blog-create-request.v1": {
    "title": "BlogBlogCreateRequest",
    "description": "blog.blog-create-request@1: the body of POST /api/v1/blogs on OpenVibe.Blog (blog.blog.create): get or create the acting member's blog (one per usr_ subject). handle defaults to their Network username (2-40 of a-z, 0-9, _ and -, not a reserved word); title and description are optional.",
    "type": "object",
    "properties": {
     "handle": {
      "type": "string",
      "pattern": "^[a-z0-9_-]{2,40}$"
     },
     "title": {
      "type": [
       "string",
       "null"
      ]
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "blog.blog-create-result.v1": {
    "title": "BlogBlogCreateResult",
    "description": "blog.blog-create-result@1: the answer of POST /api/v1/blogs on OpenVibe.Blog: { blog, created } — 201 when the blog was created, 200 when the member already had it.",
    "type": "object",
    "required": [
     "blog",
     "created"
    ],
    "properties": {
     "blog": {
      "$ref": "#/components/schemas/blog.blog.v1"
     },
     "created": {
      "type": "boolean"
     }
    }
   },
   "blog.blog-result.v1": {
    "title": "BlogBlogResult",
    "description": "blog.blog-result@1: the answer of PATCH /api/v1/blogs/:handle (blog.blog.configure) and PUT /api/v1/blogs/:handle/theme (blog.theme.set) on OpenVibe.Blog: { blog } with the member view; the theme answer adds themes (the presets).",
    "type": "object",
    "required": [
     "blog"
    ],
    "properties": {
     "blog": {
      "$ref": "#/components/schemas/blog.blog.v1"
     },
     "themes": {
      "type": "array",
      "items": {
       "type": "string"
      }
     }
    }
   },
   "blog.blog.v1": {
    "title": "BlogBlog",
    "description": "blog.blog@1: one blog as OpenVibe.Blog's API shows it (server/http/api.js blogDto). Members of the blog (and staff) also see status, owner_subject and feed_settings.",
    "type": "object",
    "required": [
     "id",
     "kind",
     "handle",
     "title",
     "url",
     "theme",
     "language",
     "feeds"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "kind": {
      "type": "string",
      "description": "member, …"
     },
     "handle": {
      "type": "string"
     },
     "title": {
      "type": "string"
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "url": {
      "type": "string"
     },
     "theme": {
      "type": "string"
     },
     "language": {
      "type": "string"
     },
     "feeds": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "type",
        "url"
       ],
       "properties": {
        "type": {
         "enum": [
          "rss",
          "atom",
          "json"
         ]
        },
        "url": {
         "type": "string"
        }
       }
      }
     },
     "status": {
      "type": "string"
     },
     "owner_subject": {
      "type": [
       "string",
       "null"
      ]
     },
     "feed_settings": {
      "type": "object",
      "properties": {
       "rss": {
        "type": "integer"
       },
       "atom": {
        "type": "integer"
       },
       "json": {
        "type": "integer"
       },
       "item_count": {
        "type": "integer",
        "minimum": 1,
        "maximum": 50
       },
       "full_content": {
        "type": "integer"
       }
      }
     }
    }
   },
   "blog.delete-result.v1": {
    "title": "BlogDeleteResult",
    "description": "blog.delete-result@1: the answer of DELETE /api/v1/posts/:id on OpenVibe.Blog (blog.post.delete): { deleted: true, id }.",
    "type": "object",
    "required": [
     "deleted",
     "id"
    ],
    "properties": {
     "deleted": {
      "const": true
     },
     "id": {
      "type": "string"
     }
    }
   },
   "blog.json-feed.v1": {
    "title": "BlogJsonFeed",
    "description": "blog.json-feed@1: the answer of GET /api/v1/blogs/:handle/feed on OpenVibe.Blog (blog.feed.read): the blog's public posts as a JSON Feed 1.1 document (openvibe-publishing seo.jsonFeed), as many as the blog's feed item count, with full HTML content when the blog allows it and otherwise the summary as text. Empty fields are left out.",
    "type": "object",
    "required": [
     "version",
     "title",
     "home_page_url",
     "feed_url",
     "items"
    ],
    "properties": {
     "version": {
      "const": "https://jsonfeed.org/version/1.1"
     },
     "title": {
      "type": "string"
     },
     "home_page_url": {
      "type": "string"
     },
     "feed_url": {
      "type": "string"
     },
     "description": {
      "type": "string"
     },
     "language": {
      "type": "string"
     },
     "authors": {
      "type": "array",
      "items": {
       "type": "object",
       "properties": {
        "name": {
         "type": "string"
        },
        "url": {
         "type": "string"
        }
       }
      }
     },
     "items": {
      "type": "array",
      "maxItems": 50,
      "items": {
       "type": "object",
       "required": [
        "id"
       ],
       "properties": {
        "id": {
         "type": "string"
        },
        "url": {
         "type": "string"
        },
        "title": {
         "type": "string"
        },
        "content_html": {
         "type": "string"
        },
        "content_text": {
         "type": "string"
        },
        "summary": {
         "type": "string"
        },
        "image": {
         "type": "string"
        },
        "date_published": {
         "type": "string"
        },
        "date_modified": {
         "type": "string"
        },
        "authors": {
         "type": "array",
         "items": {
          "type": "object",
          "properties": {
           "name": {
            "type": "string"
           },
           "url": {
            "type": "string"
           }
          }
         }
        },
        "tags": {
         "type": "array",
         "items": {
          "type": "string"
         }
        }
       }
      }
     }
    }
   },
   "blog.member-request.v1": {
    "title": "BlogMemberRequest",
    "description": "blog.member-request@1: bodies of blog.member.manage on OpenVibe.Blog (an owner). PUT /api/v1/blogs/:handle/members/:subject: { role: owner | editor | author } (members are usr_ subjects; a member blog keeps at least one owner). GET …/members and DELETE …/members/:subject take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "role"
      ],
      "properties": {
       "role": {
        "enum": [
         "owner",
         "editor",
         "author"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "blog.member-result.v1": {
    "title": "BlogMemberResult",
    "description": "blog.member-result@1: answers of blog.member.manage on OpenVibe.Blog. GET /api/v1/blogs/:handle/members → { members } (subject, role, name and username when Network knows them); PUT …/members/:subject → { member }; DELETE → { removed } (false when they were not a member).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "members"
      ],
      "properties": {
       "members": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "subject",
          "role"
         ],
         "properties": {
          "subject": {
           "type": "string"
          },
          "role": {
           "enum": [
            "owner",
            "editor",
            "author"
           ]
          },
          "name": {
           "type": [
            "string",
            "null"
           ]
          },
          "username": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "member"
      ],
      "properties": {
       "member": {
        "type": "object",
        "required": [
         "role"
        ],
        "properties": {
         "subject": {
          "type": "string"
         },
         "role": {
          "enum": [
           "owner",
           "editor",
           "author"
          ]
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "removed"
      ],
      "properties": {
       "removed": {
        "type": "boolean"
       }
      }
     }
    ]
   },
   "blog.post-create-request.v1": {
    "title": "BlogPostCreateRequest",
    "description": "blog.post-create-request@1: the body of POST /api/v1/blogs/:handle/posts on OpenVibe.Blog (blog.post.create; a member who may write, or a service acting for one; X-OV-Origin: ai makes an AI draft that needs a person's review). A new draft at revision 1: title required. Unknown fields are ignored; refusals are problem+json (post.invalid_title, post.too_long, post.invalid_visibility, post.invalid_slug, post.too_many_tags, post.invalid_series, …).",
    "type": "object",
    "required": [
     "title"
    ],
    "properties": {
     "title": {
      "type": "string",
      "minLength": 1,
      "maxLength": 200,
      "description": "Whitespace collapsed; required, at most 200 characters."
     },
     "body": {
      "type": "string",
      "maxLength": 200000,
      "description": "Markdown."
     },
     "summary": {
      "type": [
       "string",
       "null"
      ]
     },
     "visibility": {
      "enum": [
       "public",
       "unlisted",
       "members",
       "private"
      ],
      "description": "Default public; members gates it behind the blog's VIP entitlement (OpenVibe.VIP decides)."
     },
     "entitlement_key": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_.:-]{0,127}$",
      "description": "members only: informational, default vip:<handle>."
     },
     "slug": {
      "type": "string",
      "description": "Default from the title; lowercase letters, digits and dashes (a taken one gets a number)."
     },
     "allow_comments": {
      "type": [
       "boolean",
       "integer",
       "string"
      ]
     },
     "noindex": {
      "type": [
       "boolean",
       "integer",
       "string"
      ]
     },
     "tags": {
      "anyOf": [
       {
        "type": "string",
        "description": "Comma-separated."
       },
       {
        "type": "array",
        "items": {
         "type": "string"
        }
       }
      ],
      "description": "At most 20 tags of at most 50 characters."
     },
     "categories": {
      "anyOf": [
       {
        "type": "string",
        "description": "Comma-separated."
       },
       {
        "type": "array",
        "items": {
         "type": "string"
        }
       }
      ],
      "description": "Category paths (Parent > Child), at most 10."
     },
     "series": {
      "description": "A series id (ser_…), a new series title, or { title }; null or empty leaves the series."
     },
     "series_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "series_position": {
      "type": [
       "integer",
       "string",
       "null"
      ]
     },
     "citations": {
      "type": "array",
      "maxItems": 100,
      "description": "Sources: a URL (with retrieved_at) or an OpenVibe.Sources item id; a quote may be text or { text }. At most 100 are kept.",
      "items": {
       "type": "object",
       "properties": {
        "url": {
         "type": [
          "string",
          "null"
         ]
        },
        "source_item_id": {
         "type": [
          "string",
          "null"
         ]
        },
        "title": {
         "type": [
          "string",
          "null"
         ]
        },
        "retrieved_at": {
         "type": [
          "string",
          "null"
         ]
        },
        "quote": {},
        "license_note": {
         "type": [
          "string",
          "null"
         ]
        }
       }
      }
     },
     "message": {
      "type": [
       "string",
       "null"
      ]
     },
     "authorship": {
      "type": "object",
      "description": "hybrid or imported authorship details; an AI service (X-OV-Origin: ai) writes AI drafts that need review."
     }
    }
   },
   "blog.post-create-result.v1": {
    "title": "BlogPostCreateResult",
    "description": "blog.post-create-result@1: the answer of POST /api/v1/blogs/:handle/posts on OpenVibe.Blog: 201 { post, revision } (the editor view and the revision number, 1).",
    "type": "object",
    "required": [
     "post",
     "revision"
    ],
    "properties": {
     "post": {
      "$ref": "#/components/schemas/blog.post.v1"
     },
     "revision": {
      "type": "integer",
      "minimum": 1
     }
    }
   },
   "blog.post-read-result.v1": {
    "title": "BlogPostReadResult",
    "description": "blog.post-read-result@1: answers of blog.post.read on OpenVibe.Blog. GET /api/v1/posts/:id → { post } (editors and staff get the full view; readers of a published post the public one; a members-only post someone may not open is 403 post.members_only with a teaser); GET /api/v1/posts/:id/revisions → { revisions } (each with its length instead of the content); GET …/revisions/:n → { revision, citations }; GET …/diff?from=&to=&mode= → { diff }; GET /api/v1/blogs/:handle/posts?all=1 → { posts } (drafts too, members only).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "post"
      ],
      "properties": {
       "post": {
        "$ref": "#/components/schemas/blog.post.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "revisions"
      ],
      "properties": {
       "revisions": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "number"
         ],
         "properties": {
          "number": {
           "type": "integer"
          },
          "length": {
           "type": "integer"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "revision",
       "citations"
      ],
      "properties": {
       "revision": {
        "type": "object",
        "required": [
         "number"
        ],
        "properties": {
         "number": {
          "type": "integer"
         },
         "content": {
          "type": "string"
         },
         "fields": {
          "type": "object"
         }
        }
       },
       "citations": {
        "type": "array"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "diff"
      ],
      "properties": {
       "diff": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "posts"
      ],
      "properties": {
       "posts": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/blog.post.v1"
        }
       }
      }
     }
    ]
   },
   "blog.post-update-request.v1": {
    "title": "BlogPostUpdateRequest",
    "description": "blog.post-update-request@1: bodies of blog.post.update on OpenVibe.Blog (editors of the post). PATCH /api/v1/posts/:id: any post fields; a change to title, body or summary makes a new revision and needs expected_revision (the revision you edited; 428 revision.expected_required without it); citations sent replace the revision's, otherwise they carry forward. POST /api/v1/posts/:id/revert: { to_revision, expected_revision }. POST /api/v1/posts/:id/attachments: { media_id (med_…), role?: cover | inline | gallery, alt?, caption?, position? }. DELETE /api/v1/posts/:id/attachments/:aid takes no body.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "title": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
       },
       "body": {
        "type": "string",
        "maxLength": 200000,
        "description": "Markdown."
       },
       "summary": {
        "type": [
         "string",
         "null"
        ]
       },
       "visibility": {
        "enum": [
         "public",
         "unlisted",
         "members",
         "private"
        ],
        "description": "Default public; members gates it behind the blog's VIP entitlement (OpenVibe.VIP decides)."
       },
       "entitlement_key": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9_.:-]{0,127}$",
        "description": "members only: informational, default vip:<handle>."
       },
       "slug": {
        "type": "string",
        "description": "Default from the title; lowercase letters, digits and dashes (a taken one gets a number)."
       },
       "allow_comments": {
        "type": [
         "boolean",
         "integer",
         "string"
        ]
       },
       "noindex": {
        "type": [
         "boolean",
         "integer",
         "string"
        ]
       },
       "tags": {
        "anyOf": [
         {
          "type": "string",
          "description": "Comma-separated."
         },
         {
          "type": "array",
          "items": {
           "type": "string"
          }
         }
        ],
        "description": "At most 20 tags of at most 50 characters."
       },
       "categories": {
        "anyOf": [
         {
          "type": "string",
          "description": "Comma-separated."
         },
         {
          "type": "array",
          "items": {
           "type": "string"
          }
         }
        ],
        "description": "Category paths (Parent > Child), at most 10."
       },
       "series": {
        "description": "A series id (ser_…), a new series title, or { title }; null or empty leaves the series."
       },
       "series_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "series_position": {
        "type": [
         "integer",
         "string",
         "null"
        ]
       },
       "citations": {
        "type": "array",
        "maxItems": 100,
        "description": "Sources: a URL (with retrieved_at) or an OpenVibe.Sources item id; a quote may be text or { text }. At most 100 are kept.",
        "items": {
         "type": "object",
         "properties": {
          "url": {
           "type": [
            "string",
            "null"
           ]
          },
          "source_item_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "title": {
           "type": [
            "string",
            "null"
           ]
          },
          "retrieved_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "quote": {},
          "license_note": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       },
       "message": {
        "type": [
         "string",
         "null"
        ]
       },
       "authorship": {
        "type": "object",
        "description": "hybrid or imported authorship details; an AI service (X-OV-Origin: ai) writes AI drafts that need review."
       },
       "expected_revision": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 0,
        "pattern": "^[0-9]+$"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "to_revision",
       "expected_revision"
      ],
      "properties": {
       "to_revision": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1
       },
       "expected_revision": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 0
       }
      }
     },
     {
      "type": "object",
      "required": [
       "media_id"
      ],
      "properties": {
       "media_id": {
        "type": "string",
        "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "role": {
        "enum": [
         "cover",
         "inline",
         "gallery"
        ]
       },
       "alt": {
        "type": [
         "string",
         "null"
        ]
       },
       "caption": {
        "type": [
         "string",
         "null"
        ]
       },
       "position": {
        "type": [
         "integer",
         "string"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "blog.post-update-result.v1": {
    "title": "BlogPostUpdateResult",
    "description": "blog.post-update-result@1: answers of blog.post.update on OpenVibe.Blog. PATCH /api/v1/posts/:id → { post, revision, created } (created false when nothing changed); POST …/revert → 201 { revision, post }; POST …/attachments → 201 { attachment }; DELETE …/attachments/:aid → { removed }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "post",
       "revision"
      ],
      "properties": {
       "post": {
        "$ref": "#/components/schemas/blog.post.v1"
       },
       "revision": {
        "type": "integer",
        "minimum": 1
       },
       "created": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "attachment"
      ],
      "properties": {
       "attachment": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "removed"
      ],
      "properties": {
       "removed": {}
      }
     }
    ]
   },
   "blog.post.v1": {
    "title": "BlogPost",
    "description": "blog.post@1: one post as OpenVibe.Blog's API shows it (server/http/api.js postDto): its state, visibility, the fields of the revision shown (the published one, or the head for editors), terms, series and the indexability decision. Editors and staff also get the body, authorship, review, scheduled jobs, attachments and citations; readers of a members-only post they may not open get a 403 teaser instead.",
    "type": "object",
    "required": [
     "id",
     "blog",
     "slug",
     "url",
     "state",
     "visibility",
     "title",
     "revision",
     "published_revision",
     "tags",
     "categories",
     "allow_comments",
     "noindex"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "blog": {
      "type": "object",
      "required": [
       "id",
       "handle"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "handle": {
        "type": "string"
       }
      }
     },
     "slug": {
      "type": "string"
     },
     "url": {
      "type": "string"
     },
     "state": {
      "type": "string",
      "description": "draft, scheduled, published, unpublished, deleted"
     },
     "visibility": {
      "enum": [
       "public",
       "unlisted",
       "members",
       "private"
      ]
     },
     "author_subject": {
      "type": [
       "string",
       "null"
      ]
     },
     "title": {
      "type": [
       "string",
       "null"
      ]
     },
     "summary": {
      "type": [
       "string",
       "null"
      ]
     },
     "revision": {
      "type": [
       "integer",
       "null"
      ]
     },
     "published_revision": {
      "type": [
       "integer",
       "null"
      ]
     },
     "first_published_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "tags": {
      "type": "array"
     },
     "categories": {
      "type": "array"
     },
     "series": {
      "type": [
       "object",
       "null"
      ]
     },
     "allow_comments": {
      "type": "boolean"
     },
     "noindex": {
      "type": "boolean"
     },
     "indexability": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "indexable": {
        "type": "boolean"
       },
       "robots": {
        "type": "string"
       },
       "reasons": {
        "type": "array"
       }
      }
     },
     "entitlement_key": {
      "type": [
       "string",
       "null"
      ]
     },
     "body": {
      "type": [
       "string",
       "null"
      ]
     },
     "authorship": {},
     "review": {},
     "scheduled": {
      "type": "array"
     },
     "attachments": {
      "type": "array"
     },
     "citations": {
      "type": "array"
     }
    }
   },
   "blog.publication-result.v1": {
    "title": "BlogPublicationResult",
    "description": "blog.publication-result@1: the answer of POST /api/v1/posts/:id/publish (blog.post.publish) and POST /api/v1/posts/:id/unpublish (blog.post.unpublish) on OpenVibe.Blog: { post, changed } (changed false when it already was in that state).",
    "type": "object",
    "required": [
     "post",
     "changed"
    ],
    "properties": {
     "post": {
      "$ref": "#/components/schemas/blog.post.v1"
     },
     "changed": {
      "type": "boolean"
     }
    }
   },
   "blog.publish-request.v1": {
    "title": "BlogPublishRequest",
    "description": "blog.publish-request@1: the body of POST /api/v1/posts/:id/publish on OpenVibe.Blog (blog.post.publish): { revision? } (default the head; an AI draft is published only after a person reviewed it: 409 post.review_required).",
    "type": "object",
    "properties": {
     "revision": {
      "type": [
       "integer",
       "string",
       "null"
      ],
      "minimum": 1
     }
    }
   },
   "blog.schedule-request.v1": {
    "title": "BlogScheduleRequest",
    "description": "blog.schedule-request@1: bodies of blog.post.schedule on OpenVibe.Blog. POST /api/v1/posts/:id/schedule: { at, revision?, action? } (at an ISO 8601 time in the future; action publish (default) or unpublish). DELETE /api/v1/posts/:id/schedule cancels pending jobs and takes no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "at"
      ],
      "properties": {
       "at": {
        "type": [
         "string",
         "integer"
        ]
       },
       "revision": {
        "type": [
         "integer",
         "string",
         "null"
        ]
       },
       "action": {
        "enum": [
         "publish",
         "unpublish"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "blog.schedule-result.v1": {
    "title": "BlogScheduleResult",
    "description": "blog.schedule-result@1: answers of blog.post.schedule on OpenVibe.Blog: POST …/schedule → 201 { job, created, post }; DELETE …/schedule → { cancelled, post } (jobs cancelled; a scheduled post goes back to draft).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "job",
       "created",
       "post"
      ],
      "properties": {
       "job": {
        "type": "object"
       },
       "created": {
        "type": "boolean"
       },
       "post": {
        "$ref": "#/components/schemas/blog.post.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "cancelled",
       "post"
      ],
      "properties": {
       "cancelled": {
        "type": "integer",
        "minimum": 0
       },
       "post": {
        "$ref": "#/components/schemas/blog.post.v1"
       }
      }
     }
    ]
   },
   "blog.theme-request.v1": {
    "title": "BlogThemeRequest",
    "description": "blog.theme-request@1: the body of PUT /api/v1/blogs/:handle/theme on OpenVibe.Blog (blog.theme.set; an owner): one of the theme presets.",
    "type": "object",
    "required": [
     "theme"
    ],
    "properties": {
     "theme": {
      "enum": [
       "vibe",
       "paper",
       "slate",
       "sand",
       "nord",
       "high-contrast"
      ]
     }
    }
   },
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
