{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Bot API",
  "version": "0.87.0",
  "description": "Routes of OpenVibe.Bot as the OpenVibe contracts describe them (openvibe-contracts 0.87.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.bot"
  }
 ],
 "paths": {
  "/api/v1/devices/{id}/revoke": {
   "post": {
    "operationId": "post_api_v1_devices_id_revoke",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/devices/{id}/rotate": {
   "post": {
    "operationId": "post_api_v1_devices_id_rotate",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots": {
   "get": {
    "operationId": "get_api_v1_robots",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit is not here: Bot gates it with bot.robot.manage. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_robots",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}": {
   "delete": {
    "operationId": "delete_api_v1_robots_id",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_robots_id",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit is not here: Bot gates it with bot.robot.manage. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_robots_id",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/audit": {
   "get": {
    "operationId": "get_api_v1_robots_id_audit",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/devices": {
   "get": {
    "operationId": "get_api_v1_robots_id_devices",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit is not here: Bot gates it with bot.robot.manage. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/estop": {
   "post": {
    "operationId": "post_api_v1_robots_id_estop",
    "summary": "Physically control a robot with a Network service token.",
    "description": "**bot.robot.control** (first-party): Physically control a robot with a Network service token. POST /robots/:id/estop latches the e-stop for any robot id and needs bot.robot.read as well; Bot records the service as the actor and does not check X-OV-Subject. On the operator WebSocket (/control) a token with this capability must name a person in X-OV-Subject, and Bot applies that person's role (owner, operator or queue), allowlist and limits. Clearing the e-stop is bot.robot.manage.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.control"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-control",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.control"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-control-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/estop/clear": {
   "post": {
    "operationId": "post_api_v1_robots_id_estop_clear",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/operators": {
   "get": {
    "operationId": "get_api_v1_robots_id_operators",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit is not here: Bot gates it with bot.robot.manage. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_robots_id_operators",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/operators/{subject}": {
   "delete": {
    "operationId": "delete_api_v1_robots_id_operators_subject",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/pairing-code": {
   "post": {
    "operationId": "post_api_v1_robots_id_pairing_code",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, read its command audit (newest first), clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "bot.device-connect-result.v1": {
    "title": "BotDeviceConnectResult",
    "description": "bot.device-connect-result@1: answers of OpenVibe.Bot's device credential routes, which Bot gates with bot.robot.manage (bot.device.connect is reserved, not enforced). POST /api/v1/devices/:id/rotate → { device, credential, publish_key } (both secrets shown once); POST …/devices/:id/revoke → { device } (its socket closes at once).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "device",
       "credential",
       "publish_key"
      ],
      "properties": {
       "device": {
        "$ref": "#/components/schemas/bot.device.v1"
       },
       "credential": {
        "type": "string",
        "minLength": 1
       },
       "publish_key": {
        "type": "string",
        "minLength": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "device"
      ],
      "properties": {
       "device": {
        "$ref": "#/components/schemas/bot.device.v1"
       }
      }
     }
    ]
   },
   "bot.device.v1": {
    "title": "BotDevice",
    "description": "bot.device@1: a paired device as the API presents it (domain.present.device): never a credential or publish-key hash; online is added when a robot's devices are listed.",
    "type": "object",
    "required": [
     "id",
     "robot_ids",
     "kind",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^dev_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "robot_ids": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     "name": {
      "type": [
       "string",
       "null"
      ]
     },
     "kind": {
      "type": "string"
     },
     "agent_version": {
      "type": [
       "string",
       "null"
      ]
     },
     "drivers": {
      "type": "array"
     },
     "capabilities": {
      "type": "object"
     },
     "last_seen": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "revoked_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "online": {
      "type": "boolean"
     }
    }
   },
   "bot.robot-control-result.v1": {
    "title": "BotRobotControlResult",
    "description": "bot.robot-control-result@1: answers of bot.robot.control on OpenVibe.Bot. POST /api/v1/robots/:id/estop → { robot } with its e-stop as it now stands.",
    "type": "object",
    "required": [
     "robot"
    ],
    "properties": {
     "robot": {
      "$ref": "#/components/schemas/bot.robot.v1"
     }
    }
   },
   "bot.robot-manage-request.v1": {
    "title": "BotRobotManageRequest",
    "description": "bot.robot-manage-request@1: bodies of bot.robot.manage on OpenVibe.Bot. POST /api/v1/robots → { owner (the person a service acts for), name, profile_id, access_policy?, limits? }; PATCH …/robots/:id → { name?, access_policy?, limits? }; POST …/robots/:id/operators → { subject, role? (operator by default) }. POST …/robots/:id/pairing-code and both DELETE routes take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "name",
       "profile_id"
      ],
      "properties": {
       "owner": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "name": {
        "type": "string",
        "minLength": 1
       },
       "profile_id": {
        "type": "string",
        "minLength": 1
       },
       "access_policy": {
        "enum": [
         "private",
         "invite",
         "queue"
        ]
       },
       "limits": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1
       },
       "access_policy": {
        "enum": [
         "private",
         "invite",
         "queue"
        ]
       },
       "limits": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "subject"
      ],
      "additionalProperties": false,
      "properties": {
       "subject": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "role": {
        "enum": [
         "operator",
         "viewer"
        ]
       }
      }
     }
    ]
   },
   "bot.robot-manage-result.v1": {
    "title": "BotRobotManageResult",
    "description": "bot.robot-manage-result@1: answers of bot.robot.manage on OpenVibe.Bot. POST /api/v1/robots → 201 { robot, pairing }; PATCH …/robots/:id and POST …/robots/:id/estop/clear → { robot }; DELETE …/robots/:id → 204 (no body); POST …/robots/:id/pairing-code → 201 { code, expires_at, installer }; POST …/robots/:id/operators → 201 { operators }; DELETE …/robots/:id/operators/:subject → { operators }; GET …/robots/:id/audit?limit=&before= → { audit, next_before } (newest first); POST …/devices/:id/rotate and /revoke → bot.device-connect-result@1.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "robot",
       "pairing"
      ],
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       },
       "pairing": {
        "type": "object",
        "required": [
         "code",
         "expires_at",
         "installer"
        ],
        "additionalProperties": false,
        "properties": {
         "code": {
          "type": "string",
          "minLength": 1
         },
         "expires_at": {
          "type": "string",
          "format": "date-time"
         },
         "installer": {
          "type": "string"
         }
        },
        "description": "A one-time pairing code (shown once), when it expires and the one-line installer command that uses it."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "robot"
      ],
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "code",
       "expires_at",
       "installer"
      ],
      "additionalProperties": false,
      "properties": {
       "code": {
        "type": "string",
        "minLength": 1
       },
       "expires_at": {
        "type": "string",
        "format": "date-time"
       },
       "installer": {
        "type": "string"
       }
      },
      "description": "A one-time pairing code (shown once), when it expires and the one-line installer command that uses it."
     },
     {
      "type": "object",
      "required": [
       "operators"
      ],
      "properties": {
       "operators": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "subject",
          "role"
         ],
         "properties": {
          "subject": {
           "type": "string",
           "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "role": {
           "enum": [
            "operator",
            "viewer"
           ]
          },
          "added_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/bot.device-connect-result.v1"
     },
     {
      "type": "object",
      "required": [
       "audit",
       "next_before"
      ],
      "properties": {
       "next_before": {
        "type": [
         "integer",
         "null"
        ]
       },
       "audit": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "robot_id",
          "kind",
          "result",
          "at"
         ],
         "properties": {
          "id": {
           "type": "integer"
          },
          "robot_id": {
           "type": "string",
           "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "device_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "operator_subject": {
           "type": [
            "string",
            "null"
           ]
          },
          "operator_kind": {
           "type": [
            "string",
            "null"
           ]
          },
          "role": {
           "type": [
            "string",
            "null"
           ]
          },
          "kind": {
           "type": [
            "string",
            "null"
           ]
          },
          "value": {},
          "result": {
           "enum": [
            "ack",
            "nack",
            "refused",
            "expired"
           ]
          },
          "reason": {
           "type": [
            "string",
            "null"
           ]
          },
          "latency_ms": {
           "type": [
            "integer",
            "null"
           ]
          },
          "at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     }
    ]
   },
   "bot.robot-read-result.v1": {
    "title": "BotRobotReadResult",
    "description": "bot.robot-read-result@1: answers of bot.robot.read on OpenVibe.Bot. GET /api/v1/robots?owner= → { robots }; GET …/robots/:id → { robot, role } (role \"service\" for a service token); GET …/robots/:id/operators → { operators }; GET …/robots/:id/devices → { devices } (no hashes, with online).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "robots"
      ],
      "properties": {
       "robots": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/bot.robot.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "robot",
       "role"
      ],
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       },
       "role": {
        "enum": [
         "owner",
         "operator",
         "viewer",
         "queue",
         "service"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "operators"
      ],
      "properties": {
       "operators": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "subject",
          "role"
         ],
         "properties": {
          "subject": {
           "type": "string",
           "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "role": {
           "enum": [
            "operator",
            "viewer"
           ]
          },
          "added_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "devices"
      ],
      "properties": {
       "devices": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/bot.device.v1"
        }
       }
      }
     }
    ]
   },
   "bot.robot.v1": {
    "title": "BotRobot",
    "description": "bot.robot@1: a robot on OpenVibe.Bot as its API presents it (domain.present.robot): its owner-chosen name, the device profile it runs, who may drive it (access_policy) and the latched e-stop.",
    "type": "object",
    "required": [
     "id",
     "name",
     "profile_id",
     "access_policy",
     "limits",
     "estop",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "name": {
      "type": "string",
      "minLength": 1
     },
     "profile_id": {
      "type": "string",
      "minLength": 1
     },
     "profile_version": {},
     "access_policy": {
      "enum": [
       "private",
       "invite",
       "queue"
      ]
     },
     "limits": {
      "type": "object"
     },
     "estop": {
      "type": "object",
      "required": [
       "latched",
       "by",
       "at"
      ],
      "properties": {
       "latched": {
        "type": "boolean"
       },
       "by": {
        "type": [
         "string",
         "null"
        ]
       },
       "at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
