{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Bot API",
  "version": "0.96.0",
  "description": "Routes of OpenVibe.Bot as the OpenVibe contracts describe them (openvibe-contracts 0.96.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.bot"
  }
 ],
 "paths": {
  "/api/v1/devices/{id}/revoke": {
   "post": {
    "operationId": "post_api_v1_devices_id_revoke",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/devices/{id}/rotate": {
   "post": {
    "operationId": "post_api_v1_devices_id_rotate",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs": {
   "post": {
    "operationId": "post_api_v1_jobs",
    "summary": "OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 ",
    "description": "**bot.job.dispatch** (internal): OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 bot.class_unadvertised when the device does not advertise the job's class), POST /api/v1/jobs/:id/cancel cancels it, GET /api/v1/jobs/:id returns its state with the captured stdout. project_id is required (422 without it): the dispatch carries the project, and Run is the payer. Service-to-service only (OpenVibe.Run's Network service token); never granted to an app or mod and never delegated to people.",
    "tags": [
     "bot.job"
    ],
    "x-openvibe-capabilities": [
     "bot.job.dispatch"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "bot-jobs",
    "security": [
     {
      "openvibeToken": [
       "bot.job.dispatch"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/platform.job.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}": {
   "get": {
    "operationId": "get_api_v1_jobs_id",
    "summary": "OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 ",
    "description": "**bot.job.dispatch** (internal): OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 bot.class_unadvertised when the device does not advertise the job's class), POST /api/v1/jobs/:id/cancel cancels it, GET /api/v1/jobs/:id returns its state with the captured stdout. project_id is required (422 without it): the dispatch carries the project, and Run is the payer. Service-to-service only (OpenVibe.Run's Network service token); never granted to an app or mod and never delegated to people.",
    "tags": [
     "bot.job"
    ],
    "x-openvibe-capabilities": [
     "bot.job.dispatch"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "bot-jobs",
    "security": [
     {
      "openvibeToken": [
       "bot.job.dispatch"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/platform.job.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "class",
      "in": "query",
      "required": true,
      "schema": {
       "$ref": "#/components/schemas/platform.runtime-class.v1"
      }
     },
     {
      "name": "artifact",
      "in": "query",
      "required": false,
      "schema": {
       "type": "object",
       "additionalProperties": false,
       "description": "The pre-registered artifact to run; required for class `function`.",
       "required": [
        "name",
        "version"
       ],
       "properties": {
        "name": {
         "type": "string",
         "pattern": "^[a-z0-9][a-z0-9._-]{0,127}$"
        },
        "version": {
         "type": "string",
         "pattern": "^[0-9A-Za-z][0-9A-Za-z.+-]{0,63}$",
         "description": "One exact version, never a range"
        }
       }
      },
      "description": "The pre-registered artifact to run; required for class `function`."
     },
     {
      "name": "args",
      "in": "query",
      "required": true,
      "schema": {
       "type": "object",
       "description": "The artifact's declared input as JSON; the whole `job` frame stays within the link's 1 MiB frame limit."
      },
      "description": "The artifact's declared input as JSON; the whole `job` frame stays within the link's 1 MiB frame limit."
     },
     {
      "name": "ttl_ms",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "description": "Lifetime from the worker's receipt of the job, covering any wait and the run; the worker caps it with its own local maximum (the stricter wins, as with `max_command_ms`). When it runs out, a job not yet started never starts and a running one is killed; either way `job_exit` says `ttl`."
      },
      "description": "Lifetime from the worker's receipt of the job, covering any wait and the run; the worker caps it with its own local maximum (the stricter wins, as with `max_command_ms`). When it runs out, a job not yet started never starts and a running one is killed; either way `job_exit` says `ttl`."
     },
     {
      "name": "limits",
      "in": "query",
      "required": true,
      "schema": {
       "type": "object",
       "additionalProperties": false,
       "description": "Caps the worker enforces on the running process (merged stricter with its local caps); exceeding one kills the job and `job_exit` says `limit`.",
       "required": [
        "wall_ms",
        "cpu_ms",
        "mem_bytes"
       ],
       "properties": {
        "wall_ms": {
         "type": "integer",
         "minimum": 1,
         "description": "Running time from `job_started`"
        },
        "cpu_ms": {
         "type": "integer",
         "minimum": 1,
         "description": "CPU time, user plus system"
        },
        "mem_bytes": {
         "type": "integer",
         "minimum": 1,
         "description": "Peak resident memory"
        }
       }
      },
      "description": "Caps the worker enforces on the running process (merged stricter with its local caps); exceeding one kills the job and `job_exit` says `limit`."
     },
     {
      "name": "net",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "deny",
        "none",
        "public",
        "openvibe-only"
       ],
       "default": "deny",
       "description": "Network policy; absent means `deny`. `none` is `deny` spelled as OpenVibe.Node's worker.egress names it; `public` and `openvibe-only` ask for egress the host must already allow (ADR-046): a worker whose host policy is stricter runs the stricter one, and a worker that cannot enforce what is asked refuses the job (`nack`) rather than running it weaker."
      },
      "description": "Network policy; absent means `deny`. `none` is `deny` spelled as OpenVibe.Node's worker.egress names it; `public` and `openvibe-only` ask for egress the host must already allow (ADR-046): a worker whose host policy is stricter runs the stricter one, and a worker that cannot enforce what is asked refuses the job (`nack`) rather than running it weaker."
     },
     {
      "name": "inputs",
      "in": "query",
      "required": false,
      "schema": {
       "type": "array",
       "maxItems": 32,
       "description": "Files placed in the job's working directory before the process starts. Each is an OpenVibe.Media object pinned by digest: a size or digest mismatch ends the job failed before the process ever runs (run.job.input_digest_mismatch). Never a caller-chosen URL and never a credential; the worker holds its own token. Names are unique and carry no path separator.",
       "items": {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "name",
         "media_id",
         "sha256"
        ],
        "properties": {
         "name": {
          "type": "string",
          "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
         },
         "media_id": {
          "type": "string",
          "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         "sha256": {
          "type": "string",
          "pattern": "^[0-9a-f]{64}$"
         },
         "size_bytes": {
          "type": "integer",
          "minimum": 0
         }
        }
       }
      },
      "description": "Files placed in the job's working directory before the process starts. Each is an OpenVibe.Media object pinned by digest: a size or digest mismatch ends the job failed before the process ever runs (run.job.input_digest_mismatch). Never a caller-chosen URL and never a credential; the worker holds its own token. Names are unique and carry no path separator."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/cancel": {
   "post": {
    "operationId": "post_api_v1_jobs_id_cancel",
    "summary": "OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 ",
    "description": "**bot.job.dispatch** (internal): OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 bot.class_unadvertised when the device does not advertise the job's class), POST /api/v1/jobs/:id/cancel cancels it, GET /api/v1/jobs/:id returns its state with the captured stdout. project_id is required (422 without it): the dispatch carries the project, and Run is the payer. Service-to-service only (OpenVibe.Run's Network service token); never granted to an app or mod and never delegated to people.",
    "tags": [
     "bot.job"
    ],
    "x-openvibe-capabilities": [
     "bot.job.dispatch"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "bot-jobs",
    "security": [
     {
      "openvibeToken": [
       "bot.job.dispatch"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/platform.job.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots": {
   "get": {
    "operationId": "get_api_v1_robots",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_robots",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}": {
   "delete": {
    "operationId": "delete_api_v1_robots_id",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_robots_id",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_robots_id",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/audit": {
   "get": {
    "operationId": "get_api_v1_robots_id_audit",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/devices": {
   "get": {
    "operationId": "get_api_v1_robots_id_devices",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/estop": {
   "post": {
    "operationId": "post_api_v1_robots_id_estop",
    "summary": "Physically control a robot with a Network service token.",
    "description": "**bot.robot.control** (first-party): Physically control a robot with a Network service token. POST /robots/:id/estop latches the e-stop for any robot id and needs bot.robot.read as well; Bot records the service as the actor and does not check X-OV-Subject. On the operator WebSocket (/control) a token with this capability must name a person in X-OV-Subject, and Bot applies that person's role (owner, operator or queue), allowlist and limits. Clearing the e-stop is bot.robot.manage. The operator WebSocket frames are bot.command@1, answered by bot.command-result@1; a refused command is audited and emits bot.command.refused.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.control"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-control",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.control"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-control-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/estop/clear": {
   "post": {
    "operationId": "post_api_v1_robots_id_estop_clear",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/operators": {
   "get": {
    "operationId": "get_api_v1_robots_id_operators",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_robots_id_operators",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/operators/{subject}": {
   "delete": {
    "operationId": "delete_api_v1_robots_id_operators_subject",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/pairing-code": {
   "post": {
    "operationId": "post_api_v1_robots_id_pairing_code",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "bot.device-connect-result.v1": {
    "title": "BotDeviceConnectResult",
    "description": "bot.device-connect-result@1: answers of OpenVibe.Bot's device credential routes, which Bot gates with bot.robot.manage (bot.device.connect is reserved, not enforced). POST /api/v1/devices/:id/rotate → { device, credential, publish_key } (both secrets shown once); POST …/devices/:id/revoke → { device } (its socket closes at once).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "device",
       "credential",
       "publish_key"
      ],
      "additionalProperties": false,
      "properties": {
       "device": {
        "$ref": "#/components/schemas/bot.device.v1"
       },
       "credential": {
        "type": "string",
        "minLength": 1
       },
       "publish_key": {
        "type": "string",
        "minLength": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "device"
      ],
      "additionalProperties": false,
      "properties": {
       "device": {
        "$ref": "#/components/schemas/bot.device.v1"
       }
      }
     }
    ]
   },
   "bot.device.v1": {
    "title": "BotDevice",
    "description": "bot.device@1: a paired device as the API presents it (domain.present.device): never a credential or publish-key hash; online is added when a robot's devices are listed.",
    "type": "object",
    "required": [
     "id",
     "robot_ids",
     "kind",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^dev_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "robot_ids": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     "name": {
      "type": [
       "string",
       "null"
      ]
     },
     "kind": {
      "type": "string"
     },
     "agent_version": {
      "type": [
       "string",
       "null"
      ]
     },
     "drivers": {
      "type": "array"
     },
     "capabilities": {
      "type": "object"
     },
     "last_seen": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "revoked_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "online": {
      "type": "boolean"
     }
    }
   },
   "bot.robot-control-result.v1": {
    "title": "BotRobotControlResult",
    "description": "bot.robot-control-result@1: answers of bot.robot.control on OpenVibe.Bot. POST /api/v1/robots/:id/estop → { robot } with its e-stop as it now stands.",
    "type": "object",
    "required": [
     "robot"
    ],
    "properties": {
     "robot": {
      "$ref": "#/components/schemas/bot.robot.v1"
     }
    }
   },
   "bot.robot-manage-request.v1": {
    "title": "BotRobotManageRequest",
    "description": "bot.robot-manage-request@1: bodies of bot.robot.manage on OpenVibe.Bot. POST /api/v1/robots → { owner (the person a service acts for), name, profile_id, access_policy?, limits? }; PATCH …/robots/:id → { name?, access_policy?, limits? }; POST …/robots/:id/operators → { subject, role? (operator by default) }. POST …/robots/:id/pairing-code and both DELETE routes take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "name",
       "profile_id"
      ],
      "additionalProperties": false,
      "properties": {
       "owner": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "name": {
        "type": "string",
        "minLength": 1
       },
       "profile_id": {
        "type": "string",
        "minLength": 1
       },
       "access_policy": {
        "enum": [
         "private",
         "invite",
         "queue"
        ]
       },
       "limits": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1
       },
       "access_policy": {
        "enum": [
         "private",
         "invite",
         "queue"
        ]
       },
       "limits": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "subject"
      ],
      "additionalProperties": false,
      "properties": {
       "subject": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "role": {
        "enum": [
         "operator",
         "viewer"
        ]
       }
      }
     }
    ]
   },
   "bot.robot-manage-result.v1": {
    "title": "BotRobotManageResult",
    "description": "bot.robot-manage-result@1: answers of bot.robot.manage on OpenVibe.Bot. POST /api/v1/robots → 201 { robot, pairing }; PATCH …/robots/:id and POST …/robots/:id/estop/clear → { robot }; DELETE …/robots/:id → 204 (no body); POST …/robots/:id/pairing-code → 201 { code, expires_at, installer }; POST …/robots/:id/operators → 201 { operators }; DELETE …/robots/:id/operators/:subject → { operators }; POST …/devices/:id/rotate and /revoke → bot.device-connect-result@1.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "robot",
       "pairing"
      ],
      "additionalProperties": false,
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       },
       "pairing": {
        "type": "object",
        "required": [
         "code",
         "expires_at",
         "installer"
        ],
        "additionalProperties": false,
        "properties": {
         "code": {
          "type": "string",
          "minLength": 1
         },
         "expires_at": {
          "type": "string",
          "format": "date-time"
         },
         "installer": {
          "type": "string"
         }
        },
        "description": "A one-time pairing code (shown once), when it expires and the one-line installer command that uses it."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "robot"
      ],
      "additionalProperties": false,
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "code",
       "expires_at",
       "installer"
      ],
      "additionalProperties": false,
      "properties": {
       "code": {
        "type": "string",
        "minLength": 1
       },
       "expires_at": {
        "type": "string",
        "format": "date-time"
       },
       "installer": {
        "type": "string"
       }
      },
      "description": "A one-time pairing code (shown once), when it expires and the one-line installer command that uses it."
     },
     {
      "type": "object",
      "required": [
       "operators"
      ],
      "additionalProperties": false,
      "properties": {
       "operators": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "subject",
          "role"
         ],
         "properties": {
          "subject": {
           "type": "string",
           "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "role": {
           "enum": [
            "operator",
            "viewer"
           ]
          },
          "added_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/bot.device-connect-result.v1"
     }
    ]
   },
   "bot.robot-read-request.v1": {
    "title": "BotRobotReadRequest",
    "description": "bot.robot-read-request@1: the query of bot.robot.read on OpenVibe.Bot (server/api/v1.js); the routes take no body. owner names whose robots GET /api/v1/robots lists (a service must give it; a person may give only their own subject). limit (1 to 200, default 50) and before (the last audit id seen) page GET …/robots/:id/audit.",
    "type": "object",
    "required": [],
    "additionalProperties": false,
    "properties": {
     "owner": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "limit": {
      "type": "integer",
      "minimum": 1,
      "maximum": 200
     },
     "before": {
      "type": "integer",
      "minimum": 1
     }
    }
   },
   "bot.robot-read-result.v1": {
    "title": "BotRobotReadResult",
    "description": "bot.robot-read-result@1: answers of bot.robot.read on OpenVibe.Bot (a service token needs no acting subject: only GET …/robots needs ?owner=). GET /api/v1/robots?owner= → { robots }; GET …/robots/:id → { robot, role }; GET …/robots/:id/operators → { operators }; GET …/robots/:id/devices → { devices } (no hashes, with online); GET …/robots/:id/audit?limit=&before= → { audit, next_before } (newest first).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "robots"
      ],
      "properties": {
       "robots": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/bot.robot.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "robot",
       "role"
      ],
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       },
       "role": {
        "enum": [
         "owner",
         "operator",
         "viewer",
         "queue",
         "service"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "operators"
      ],
      "properties": {
       "operators": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "subject",
          "role"
         ],
         "properties": {
          "subject": {
           "type": "string",
           "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "role": {
           "enum": [
            "operator",
            "viewer"
           ]
          },
          "added_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "devices"
      ],
      "properties": {
       "devices": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/bot.device.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "audit",
       "next_before"
      ],
      "additionalProperties": false,
      "properties": {
       "next_before": {
        "type": [
         "integer",
         "null"
        ]
       },
       "audit": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "robot_id",
          "kind",
          "result",
          "at"
         ],
         "properties": {
          "id": {
           "type": "integer"
          },
          "robot_id": {
           "type": "string",
           "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "device_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "operator_subject": {
           "type": [
            "string",
            "null"
           ]
          },
          "operator_kind": {
           "type": [
            "string",
            "null"
           ]
          },
          "role": {
           "type": [
            "string",
            "null"
           ]
          },
          "kind": {
           "type": [
            "string",
            "null"
           ]
          },
          "value": {},
          "result": {
           "enum": [
            "ack",
            "nack",
            "refused",
            "expired"
           ]
          },
          "reason": {
           "type": [
            "string",
            "null"
           ]
          },
          "latency_ms": {
           "type": [
            "integer",
            "null"
           ]
          },
          "at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     }
    ]
   },
   "bot.robot.v1": {
    "title": "BotRobot",
    "description": "bot.robot@1: a robot on OpenVibe.Bot as its API presents it (domain.present.robot): its owner-chosen name, the device profile it runs, who may drive it (access_policy) and the latched e-stop.",
    "type": "object",
    "required": [
     "id",
     "name",
     "profile_id",
     "access_policy",
     "limits",
     "estop",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "name": {
      "type": "string",
      "minLength": 1
     },
     "profile_id": {
      "type": "string",
      "minLength": 1
     },
     "profile_version": {},
     "access_policy": {
      "enum": [
       "private",
       "invite",
       "queue"
      ]
     },
     "limits": {
      "type": "object"
     },
     "estop": {
      "type": "object",
      "required": [
       "latched",
       "by",
       "at"
      ],
      "properties": {
       "latched": {
        "type": "boolean"
       },
       "by": {
        "type": [
         "string",
         "null"
        ]
       },
       "at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "platform.job.v1": {
    "title": "Job",
    "description": "platform.job@1: one unit of work a dispatcher (OpenVibe.Bot now, Fabric later) hands to an execution worker (plan T14 Run; ADR-034 proposed). It rides the device control link inside a `job` frame (platform.job-frame@1). The worker answers it with `ack` (accepted) or `nack` (refused: an unknown or unimplemented class, a missing artifact, limits it cannot honor, the local kill switch), then runs it at most once. Metering: a running `function` job is billed by wall-clock second as platform.usage-sample@1 readings; platform.job-frame@1 `job_usage` gives the mapping.",
    "$comment": "Additive optional fields may extend this v1 contract.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "class",
     "args",
     "ttl_ms",
     "limits"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Minted by the dispatcher (job_<ULID>): the idempotency and ack key, as a Node command `id` is. A worker that already holds or ran this id never runs it again: a resent `job` is acked again while it runs and answered with its `job_exit` once it ended. Never reused: it is the stem of every usage reading's key (`run:<id>:<second>`)."
     },
     "class": {
      "$ref": "#/components/schemas/platform.runtime-class.v1"
     },
     "artifact": {
      "type": "object",
      "additionalProperties": false,
      "description": "The pre-registered artifact to run; required for class `function`.",
      "required": [
       "name",
       "version"
      ],
      "properties": {
       "name": {
        "type": "string",
        "pattern": "^[a-z0-9][a-z0-9._-]{0,127}$"
       },
       "version": {
        "type": "string",
        "pattern": "^[0-9A-Za-z][0-9A-Za-z.+-]{0,63}$",
        "description": "One exact version, never a range"
       }
      }
     },
     "args": {
      "type": "object",
      "description": "The artifact's declared input as JSON; the whole `job` frame stays within the link's 1 MiB frame limit."
     },
     "ttl_ms": {
      "type": "integer",
      "minimum": 1,
      "description": "Lifetime from the worker's receipt of the job, covering any wait and the run; the worker caps it with its own local maximum (the stricter wins, as with `max_command_ms`). When it runs out, a job not yet started never starts and a running one is killed; either way `job_exit` says `ttl`."
     },
     "limits": {
      "type": "object",
      "additionalProperties": false,
      "description": "Caps the worker enforces on the running process (merged stricter with its local caps); exceeding one kills the job and `job_exit` says `limit`.",
      "required": [
       "wall_ms",
       "cpu_ms",
       "mem_bytes"
      ],
      "properties": {
       "wall_ms": {
        "type": "integer",
        "minimum": 1,
        "description": "Running time from `job_started`"
       },
       "cpu_ms": {
        "type": "integer",
        "minimum": 1,
        "description": "CPU time, user plus system"
       },
       "mem_bytes": {
        "type": "integer",
        "minimum": 1,
        "description": "Peak resident memory"
       }
      }
     },
     "net": {
      "type": "string",
      "enum": [
       "deny",
       "none",
       "public",
       "openvibe-only"
      ],
      "default": "deny",
      "description": "Network policy; absent means `deny`. `none` is `deny` spelled as OpenVibe.Node's worker.egress names it; `public` and `openvibe-only` ask for egress the host must already allow (ADR-046): a worker whose host policy is stricter runs the stricter one, and a worker that cannot enforce what is asked refuses the job (`nack`) rather than running it weaker."
     },
     "inputs": {
      "type": "array",
      "maxItems": 32,
      "description": "Files placed in the job's working directory before the process starts. Each is an OpenVibe.Media object pinned by digest: a size or digest mismatch ends the job failed before the process ever runs (run.job.input_digest_mismatch). Never a caller-chosen URL and never a credential; the worker holds its own token. Names are unique and carry no path separator.",
      "items": {
       "type": "object",
       "additionalProperties": false,
       "required": [
        "name",
        "media_id",
        "sha256"
       ],
       "properties": {
        "name": {
         "type": "string",
         "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
        },
        "media_id": {
         "type": "string",
         "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "sha256": {
         "type": "string",
         "pattern": "^[0-9a-f]{64}$"
        },
        "size_bytes": {
         "type": "integer",
         "minimum": 0
        }
       }
      }
     }
    },
    "allOf": [
     {
      "if": {
       "required": [
        "class"
       ],
       "properties": {
        "class": {
         "const": "function"
        }
       }
      },
      "then": {
       "required": [
        "artifact"
       ]
      }
     }
    ],
    "examples": [
     {
      "id": "job_01JAB2C3D4E5F6G7H8J9K0MNPQ",
      "class": "function",
      "artifact": {
       "name": "thumbnail",
       "version": "1.2.0"
      },
      "args": {
       "width": 320
      },
      "ttl_ms": 60000,
      "limits": {
       "wall_ms": 30000,
       "cpu_ms": 30000,
       "mem_bytes": 268435456
      },
      "net": "deny"
     },
     {
      "id": "job_01JAB2C3D4E5F6G7H8J9K0MNPR",
      "class": "code",
      "artifact": {
       "name": "transcode",
       "version": "0.4.1"
      },
      "args": {
       "format": "webm"
      },
      "ttl_ms": 120000,
      "limits": {
       "wall_ms": 90000,
       "cpu_ms": 90000,
       "mem_bytes": 536870912
      },
      "net": "public",
      "inputs": [
       {
        "name": "clip.mp4",
        "media_id": "med_01JAB2C3D4E5F6G7H8J9K0MNPQ",
        "sha256": "9f86d081884c7d659a2feb15b0b4f8f1c0e6ad1d7e6fd2e1b0b6fd1c4f1d2a3b",
        "size_bytes": 1048576
       }
      ]
     }
    ]
   },
   "platform.runtime-class.v1": {
    "title": "RuntimeClass",
    "description": "platform.runtime-class@1: the kind of execution environment a platform.job@1 asks for (plan T14 Run; ADR-034 proposed). A name only: this contract defines no behavior, and a worker runs only the classes it advertises and refuses every other one (`nack`). `function` is the first class implemented (OpenVibe.Node's function worker); the others are reserved names. Each class names one reserved Fabric capability in platform.resource-offer@1.capabilities — `worker:` + the class (worker:function, worker:code, worker:browser, worker:linux, worker:desktop, worker:gpu) — and a node advertises the name of each class it runs.",
    "$comment": "Additive: a class may be added to v1; none is removed, renamed or reordered.",
    "type": "string",
    "oneOf": [
     {
      "const": "function",
      "description": "A pre-registered artifact (name and exact version) run once with declared args to one result: single-shot, no persistent filesystem, no dependency resolution, network denied."
     },
     {
      "const": "code",
      "description": "Arbitrary source with its dependency tree in a longer-lived environment; needs image handling and isolation stronger than a container."
     },
     {
      "const": "browser",
      "description": "A headless or headed web browser session driven remotely."
     },
     {
      "const": "linux",
      "description": "A full Linux environment (shell, filesystem, processes) that lives across commands."
     },
     {
      "const": "desktop",
      "description": "A graphical desktop session with screen and input under control levels."
     },
     {
      "const": "gpu",
      "description": "A workload that holds one or more GPUs for its lifetime."
     }
    ],
    "examples": [
     "function",
     "gpu"
    ]
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 },
 "x-openvibe-other-bindings": [
  {
   "capability": "bot.robot.control",
   "binding": "WS /control {type:\"command\"} (bot.command@1, answered by a command_result frame, bot.command-result@1)"
  },
  {
   "capability": "bot.robot.control",
   "binding": "WS /control {type:\"estop\"} (an owner or operator)"
  },
  {
   "capability": "bot.robot.control",
   "binding": "WS /control {type:\"estop_clear\"} (the owner only)"
  }
 ]
}
