{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Bot API",
  "version": "0.130.0",
  "description": "Routes of OpenVibe.Bot as the OpenVibe contracts describe them (openvibe-contracts 0.130.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.bot"
  }
 ],
 "paths": {
  "/api/v1/devices/{id}/revoke": {
   "post": {
    "operationId": "post_api_v1_devices_id_revoke",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/devices/{id}/rotate": {
   "post": {
    "operationId": "post_api_v1_devices_id_rotate",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs": {
   "post": {
    "operationId": "post_api_v1_jobs",
    "summary": "OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 ",
    "description": "**bot.job.dispatch** (internal): OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 bot.class_unadvertised when the device does not advertise the job's class), POST /api/v1/jobs/:id/cancel cancels it, GET /api/v1/jobs/:id returns its state with the captured stdout. project_id is required (422 without it): the dispatch carries the project, and Run is the payer. Service-to-service only (OpenVibe.Run's Network service token); never granted to an app or mod and never delegated to people.",
    "tags": [
     "bot.job"
    ],
    "x-openvibe-capabilities": [
     "bot.job.dispatch"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "bot-jobs",
    "security": [
     {
      "openvibeToken": [
       "bot.job.dispatch"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/platform.job.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.job-dispatch-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}": {
   "get": {
    "operationId": "get_api_v1_jobs_id",
    "summary": "OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 ",
    "description": "**bot.job.dispatch** (internal): OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 bot.class_unadvertised when the device does not advertise the job's class), POST /api/v1/jobs/:id/cancel cancels it, GET /api/v1/jobs/:id returns its state with the captured stdout. project_id is required (422 without it): the dispatch carries the project, and Run is the payer. Service-to-service only (OpenVibe.Run's Network service token); never granted to an app or mod and never delegated to people.",
    "tags": [
     "bot.job"
    ],
    "x-openvibe-capabilities": [
     "bot.job.dispatch"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "bot-jobs",
    "security": [
     {
      "openvibeToken": [
       "bot.job.dispatch"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/platform.job.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "class",
      "in": "query",
      "required": true,
      "schema": {
       "$ref": "#/components/schemas/platform.runtime-class.v1"
      }
     },
     {
      "name": "artifact",
      "in": "query",
      "required": false,
      "schema": {
       "type": "object",
       "additionalProperties": false,
       "description": "The pre-registered artifact to run; required for classes `function` and `code`.",
       "required": [
        "name",
        "version"
       ],
       "properties": {
        "name": {
         "type": "string",
         "pattern": "^[a-z0-9][a-z0-9._-]{0,127}$"
        },
        "version": {
         "type": "string",
         "pattern": "^[0-9A-Za-z][0-9A-Za-z.+-]{0,63}$",
         "description": "One exact version, never a range"
        }
       }
      },
      "description": "The pre-registered artifact to run; required for classes `function` and `code`."
     },
     {
      "name": "args",
      "in": "query",
      "required": true,
      "schema": {
       "type": "object",
       "description": "The artifact's declared input as JSON; the whole `job` frame stays within the link's 1 MiB frame limit."
      },
      "description": "The artifact's declared input as JSON; the whole `job` frame stays within the link's 1 MiB frame limit."
     },
     {
      "name": "ttl_ms",
      "in": "query",
      "required": true,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "description": "Lifetime from the worker's receipt of the job, covering any wait and the run; the worker caps it with its own local maximum (the stricter wins, as with `max_command_ms`). When it runs out, a job not yet started never starts and a running one is killed; either way `job_exit` says `ttl`."
      },
      "description": "Lifetime from the worker's receipt of the job, covering any wait and the run; the worker caps it with its own local maximum (the stricter wins, as with `max_command_ms`). When it runs out, a job not yet started never starts and a running one is killed; either way `job_exit` says `ttl`."
     },
     {
      "name": "limits",
      "in": "query",
      "required": true,
      "schema": {
       "type": "object",
       "additionalProperties": false,
       "description": "Caps the worker enforces on the running process (merged stricter with its local caps); exceeding one kills the job and `job_exit` says `limit`.",
       "required": [
        "wall_ms",
        "cpu_ms",
        "mem_bytes"
       ],
       "properties": {
        "wall_ms": {
         "type": "integer",
         "minimum": 1,
         "description": "Running time from `job_started`"
        },
        "cpu_ms": {
         "type": "integer",
         "minimum": 1,
         "description": "CPU time, user plus system"
        },
        "mem_bytes": {
         "type": "integer",
         "minimum": 1,
         "description": "Peak resident memory"
        }
       }
      },
      "description": "Caps the worker enforces on the running process (merged stricter with its local caps); exceeding one kills the job and `job_exit` says `limit`."
     },
     {
      "name": "net",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "enum": [
        "deny",
        "none",
        "public",
        "openvibe-only"
       ],
       "default": "deny",
       "description": "Network policy; absent means `deny`. `none` is `deny` spelled as OpenVibe.Node's worker.egress names it; `public` and `openvibe-only` ask for egress the host must already allow (ADR-046): a worker whose host policy is stricter runs the stricter one, and a worker that cannot enforce what is asked refuses the job (`nack`) rather than running it weaker."
      },
      "description": "Network policy; absent means `deny`. `none` is `deny` spelled as OpenVibe.Node's worker.egress names it; `public` and `openvibe-only` ask for egress the host must already allow (ADR-046): a worker whose host policy is stricter runs the stricter one, and a worker that cannot enforce what is asked refuses the job (`nack`) rather than running it weaker."
     },
     {
      "name": "inputs",
      "in": "query",
      "required": false,
      "schema": {
       "type": "array",
       "maxItems": 32,
       "description": "Files placed in the job's working directory before the process starts. Each is an OpenVibe.Media object pinned by digest: a size or digest mismatch ends the job failed before the process ever runs (run.job.input_digest_mismatch). Never a caller-chosen URL and never a credential; the worker holds its own token. Names are unique and carry no path separator.",
       "items": {
        "type": "object",
        "additionalProperties": false,
        "required": [
         "name",
         "media_id",
         "sha256"
        ],
        "properties": {
         "name": {
          "type": "string",
          "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
         },
         "media_id": {
          "type": "string",
          "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         "sha256": {
          "type": "string",
          "pattern": "^[0-9a-f]{64}$"
         },
         "size_bytes": {
          "type": "integer",
          "minimum": 0
         }
        }
       }
      },
      "description": "Files placed in the job's working directory before the process starts. Each is an OpenVibe.Media object pinned by digest: a size or digest mismatch ends the job failed before the process ever runs (run.job.input_digest_mismatch). Never a caller-chosen URL and never a credential; the worker holds its own token. Names are unique and carry no path separator."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.job-dispatch-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/cancel": {
   "post": {
    "operationId": "post_api_v1_jobs_id_cancel",
    "summary": "OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 ",
    "description": "**bot.job.dispatch** (internal): OpenVibe.Run hands a platform.job@1 to a paired Node over the device link and reads its state: POST /api/v1/jobs {node_id, job, project_id, subject, provider} dispatches it (idempotent by job id; 409 bot.class_unadvertised when the device does not advertise the job's class), POST /api/v1/jobs/:id/cancel cancels it, GET /api/v1/jobs/:id returns its state with the captured stdout. project_id is required (422 without it): the dispatch carries the project, and Run is the payer. Service-to-service only (OpenVibe.Run's Network service token); never granted to an app or mod and never delegated to people.",
    "tags": [
     "bot.job"
    ],
    "x-openvibe-capabilities": [
     "bot.job.dispatch"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "bot-jobs",
    "security": [
     {
      "openvibeToken": [
       "bot.job.dispatch"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/platform.job.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.job-dispatch-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/resources": {
   "get": {
    "operationId": "get_api_v1_resources",
    "summary": "Read OpenVibe.Bot's resource index (ADR-048, plan T13 step 8 phase 2, a person-owned resource): GET /api/v1/resources lists the robots Bot keeps as a page of common.resource-summary@1 (common.resource",
    "description": "**bot.resource.read** (first-party): Read OpenVibe.Bot's resource index (ADR-048, plan T13 step 8 phase 2, a person-owned resource): GET /api/v1/resources lists the robots Bot keeps as a page of common.resource-summary@1 (common.resource-list-result@1). Kind bot.robot, id rob_<ULID>, named by the robot's name, owner its owner_subject. Bot holds no projects, so a robot carries no project_id and no OVRN, like Network's user-owned node principals; GET /api/v1/resources/:ovrn answers 404 for every name.",
    "tags": [
     "bot.resource"
    ],
    "x-openvibe-capabilities": [
     "bot.resource.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "bot.resource.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/common.resource-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/resources/{ovrn}": {
   "get": {
    "operationId": "get_api_v1_resources_ovrn",
    "summary": "Read OpenVibe.Bot's resource index (ADR-048, plan T13 step 8 phase 2, a person-owned resource): GET /api/v1/resources lists the robots Bot keeps as a page of common.resource-summary@1 (common.resource",
    "description": "**bot.resource.read** (first-party): Read OpenVibe.Bot's resource index (ADR-048, plan T13 step 8 phase 2, a person-owned resource): GET /api/v1/resources lists the robots Bot keeps as a page of common.resource-summary@1 (common.resource-list-result@1). Kind bot.robot, id rob_<ULID>, named by the robot's name, owner its owner_subject. Bot holds no projects, so a robot carries no project_id and no OVRN, like Network's user-owned node principals; GET /api/v1/resources/:ovrn answers 404 for every name.",
    "tags": [
     "bot.resource"
    ],
    "x-openvibe-capabilities": [
     "bot.resource.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "bot.resource.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "ovrn",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/common.resource-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots": {
   "get": {
    "operationId": "get_api_v1_robots",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_robots",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}": {
   "delete": {
    "operationId": "delete_api_v1_robots_id",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_robots_id",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_robots_id",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/audit": {
   "get": {
    "operationId": "get_api_v1_robots_id_audit",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/devices": {
   "get": {
    "operationId": "get_api_v1_robots_id_devices",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/estop": {
   "post": {
    "operationId": "post_api_v1_robots_id_estop",
    "summary": "Physically control a robot with a Network service token.",
    "description": "**bot.robot.control** (first-party): Physically control a robot with a Network service token. POST /robots/:id/estop latches the e-stop for any robot id and needs bot.robot.read as well; Bot records the service as the actor and does not check X-OV-Subject. On the operator WebSocket (/control) a token with this capability must name a person in X-OV-Subject, and Bot applies that person's role (owner, operator or queue), allowlist and limits. Clearing the e-stop is bot.robot.manage. The operator WebSocket frames are bot.command@1, answered by bot.command-result@1; a refused command is audited and emits bot.command.refused.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.control"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-control",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.control"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-control-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/estop/clear": {
   "post": {
    "operationId": "post_api_v1_robots_id_estop_clear",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/operators": {
   "get": {
    "operationId": "get_api_v1_robots_id_operators",
    "summary": "Read robots with a Network service token.",
    "description": "**bot.robot.read** (first-party): Read robots with a Network service token. GET /robots needs ?owner= and lists that person's robots; the robot routes answer for any robot id with role \"service\": Bot does not check X-OV-Subject or any person's membership for a service token (a person's own token is held to owner, operator or viewer). Devices never carry a credential or key hash. The command audit (GET /robots/:id/audit, newest first, paged) is read too, for any robot id. Bot also requires this capability, beside bot.robot.control, to latch the e-stop.",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-read",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-read-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1,
       "maximum": 200
      }
     },
     {
      "name": "before",
      "in": "query",
      "required": false,
      "schema": {
       "type": "integer",
       "minimum": 1
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_robots_id_operators",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/operators/{subject}": {
   "delete": {
    "operationId": "delete_api_v1_robots_id_operators_subject",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/bot.robot-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/robots/{id}/pairing-code": {
   "post": {
    "operationId": "post_api_v1_robots_id_pairing_code",
    "summary": "Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it",
    "description": "**bot.robot.manage** (first-party): Manage robots with a Network service token: create one for the person the body's owner or X-OV-Subject names (a new robot and its pairing code), and, for any robot id, rename, reconfigure or delete it (irreversible), issue a one-time pairing code, add or remove operators, clear its e-stop, and rotate a paired device's credentials (the new credential and publish key are shown once) or revoke the device, which closes its socket at once. Bot does not check the acting person against the robot's owner for a service token (a person's own token must be the owner's).",
    "tags": [
     "bot.robot"
    ],
    "x-openvibe-capabilities": [
     "bot.robot.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "bot-manage",
    "security": [
     {
      "openvibeToken": [
       "bot.robot.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/bot.robot-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/bot.robot-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "bot.device-connect-result.v1": {
    "title": "BotDeviceConnectResult",
    "description": "bot.device-connect-result@1: answers of OpenVibe.Bot's device credential routes, which Bot gates with bot.robot.manage (bot.device.connect is reserved, not enforced). POST /api/v1/devices/:id/rotate → { device, credential, publish_key } (both secrets shown once); POST …/devices/:id/revoke → { device } (its socket closes at once).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "device",
       "credential",
       "publish_key"
      ],
      "additionalProperties": false,
      "properties": {
       "device": {
        "$ref": "#/components/schemas/bot.device.v1"
       },
       "credential": {
        "type": "string",
        "minLength": 1
       },
       "publish_key": {
        "type": "string",
        "minLength": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "device"
      ],
      "additionalProperties": false,
      "properties": {
       "device": {
        "$ref": "#/components/schemas/bot.device.v1"
       }
      }
     }
    ]
   },
   "bot.device.v1": {
    "title": "BotDevice",
    "description": "bot.device@1: a paired device as the API presents it (domain.present.device): never a credential or publish-key hash; online is added when a robot's devices are listed.",
    "type": "object",
    "required": [
     "id",
     "robot_ids",
     "kind",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^dev_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "robot_ids": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     "name": {
      "type": [
       "string",
       "null"
      ]
     },
     "kind": {
      "type": "string"
     },
     "agent_version": {
      "type": [
       "string",
       "null"
      ]
     },
     "drivers": {
      "type": "array"
     },
     "capabilities": {
      "type": "object"
     },
     "last_seen": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "revoked_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "online": {
      "type": "boolean"
     }
    }
   },
   "bot.job-dispatch-result.v1": {
    "title": "BotJobDispatchResult",
    "description": "bot.job-dispatch-result@1: what OpenVibe.Bot answers OpenVibe.Run's bot.job.dispatch calls (server/api/v1.js and server/jobs/index.js). POST /api/v1/jobs is 201 { job, sent }: `job` is Bot's run_jobs record and `sent` says whether the `job` frame went out on the device link now (false while the paired Node is away; it is resent on every reconnect until the Node acks it). POST /api/v1/jobs/:id/cancel is 200 { job, sent } with the same shape: `sent` says whether a `job_cancel` frame went out. GET /api/v1/jobs/:id is 200 { job, stdout }: the record plus the last 1 MiB of the job's captured stdout, or null when the Node sent none. The record's `state` follows the run_jobs lifecycle queued -> placed (the Node acked) -> running (job_started) -> one end state, and its `job` field is the platform.job@1 body Run dispatched, stored and resent verbatim. A refused dispatch answers a problem instead (422 bot.invalid_job, 404 bot.device_not_found, 409 bot.class_unadvertised, 409 bot.job_id_reused), never this contract.",
    "oneOf": [
     {
      "$ref": "#/components/schemas/bot.job-dispatch-result.v1/$defs/dispatched"
     },
     {
      "$ref": "#/components/schemas/bot.job-dispatch-result.v1/$defs/state"
     }
    ],
    "$defs": {
     "job": {
      "type": "object",
      "additionalProperties": false,
      "description": "One run_jobs row as presentJob renders it: what Run dispatched, to which device, and how far the job and its metering have come.",
      "required": [
       "id",
       "node_id",
       "class",
       "state",
       "project_id",
       "subject",
       "provider",
       "cancel_requested",
       "fault_code",
       "sent_at",
       "started_ms",
       "finished_at",
       "exit_reason",
       "exit_code",
       "wall_ms",
       "usage_read",
       "result",
       "job",
       "created_at",
       "updated_at"
      ],
      "properties": {
       "id": {
        "type": "string",
        "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "The platform.job@1 id Run minted and the stem of every usage reading key (run:<id>:<n>)."
       },
       "node_id": {
        "type": "string",
        "pattern": "^dev_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "The paired device the job was sent to; a Node never reads another device's job."
       },
       "class": {
        "$ref": "#/components/schemas/platform.runtime-class.v1"
       },
       "state": {
        "enum": [
         "queued",
         "placed",
         "running",
         "succeeded",
         "failed",
         "cancelled",
         "expired"
        ],
        "description": "queued (stored; sent and resent until acked), placed (the Node acked it), running (job_started), then one end state from job_exit: succeeded (exited 0), failed (another exit code, or reason limit, stopped or failed, or a nack), cancelled (a cancel before start, or reason cancelled), expired (reason ttl)."
       },
       "project_id": {
        "type": "string",
        "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "The payer project Run named; required on every dispatch (422 without it)."
       },
       "subject": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 128,
        "description": "The subject the readings are for (user:usr_…), as Run sent it; null when Run sent none."
       },
       "provider": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 128,
        "description": "The offer's provider, as Run sent it; null for a first-party node."
       },
       "cancel_requested": {
        "type": "boolean",
        "description": "A cancel was asked for this job; a job not yet started is cancelled at once, a running one ends with its job_exit."
       },
       "fault_code": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 64,
        "description": "The Node's nack fault code, or why Bot stopped sending the job (bot.class_unadvertised); null while it is still sendable."
       },
       "sent_at": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "First time the `job` frame went out (epoch ms); null while queued and never sent."
       },
       "started_ms": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "The Node's job_started started_ms: the anchor of every usage second; null until it started."
       },
       "finished_at": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "When the first job_exit settled the job (epoch ms); null until then, and for a job cancelled before it started that no job_exit ever settled."
       },
       "exit_reason": {
        "type": [
         "string",
         "null"
        ],
        "enum": [
         "exited",
         "cancelled",
         "ttl",
         "limit",
         "stopped",
         "failed",
         null
        ],
        "description": "The first job_exit's reason (platform.job-frame@1); null until it arrived."
       },
       "exit_code": {
        "type": [
         "integer",
         "null"
        ],
        "description": "The process's exit status; null when it was killed or never ran."
       },
       "wall_ms": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "job_exit.usage.wall_ms as billed, capped at the job's limits.wall_ms; null until job_exit."
       },
       "usage_read": {
        "type": "integer",
        "minimum": 0,
        "description": "Wall-clock seconds of the job already queued for Billing; only moves forward."
       },
       "result": {
        "description": "The job_exit result (any JSON); null unless a job_exit carried one."
       },
       "job": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/platform.job.v1"
         },
         {
          "type": "null"
         }
        ],
        "description": "The platform.job@1 body Run dispatched, stored and resent verbatim; present on every stored job."
       },
       "created_at": {
        "type": "integer",
        "minimum": 0,
        "description": "Epoch ms Bot first stored the job."
       },
       "updated_at": {
        "type": "integer",
        "minimum": 0,
        "description": "Epoch ms of the last change to the row."
       }
      }
     },
     "stdout": {
      "type": "object",
      "additionalProperties": false,
      "description": "The last 1 MiB of a job's captured stdout, held in memory by Bot (job_stdout chunks; a chunk_seq already held is dropped, and older chunks fall off once the ring is full).",
      "required": [
       "text",
       "first_seq",
       "last_seq",
       "truncated"
      ],
      "properties": {
       "text": {
        "type": "string",
        "description": "The held chunks joined in order."
       },
       "first_seq": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1,
        "description": "The chunk_seq of the first held chunk; null when none is held."
       },
       "last_seq": {
        "type": "integer",
        "minimum": 0,
        "description": "The highest chunk_seq seen for the job; 0 when none."
       },
       "truncated": {
        "type": "boolean",
        "description": "True when an earlier chunk fell off the 1 MiB ring."
       }
      }
     },
     "dispatched": {
      "type": "object",
      "additionalProperties": false,
      "description": "The answer of POST /api/v1/jobs (201) and POST /api/v1/jobs/:id/cancel (200): the row and whether the frame went out on the link now.",
      "required": [
       "job",
       "sent"
      ],
      "properties": {
       "job": {
        "$ref": "#/components/schemas/bot.job-dispatch-result.v1/$defs/job"
       },
       "sent": {
        "type": "boolean",
        "description": "True when the `job` (dispatch) or `job_cancel` (cancel) frame was written to the device's link; false when the device is away (a job is resent on reconnect until acked)."
       }
      }
     },
     "state": {
      "type": "object",
      "additionalProperties": false,
      "description": "The answer of GET /api/v1/jobs/:id (200): the row and the job's held stdout (null when the Node sent none).",
      "required": [
       "job",
       "stdout"
      ],
      "properties": {
       "job": {
        "$ref": "#/components/schemas/bot.job-dispatch-result.v1/$defs/job"
       },
       "stdout": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/bot.job-dispatch-result.v1/$defs/stdout"
         },
         {
          "type": "null"
         }
        ]
       }
      }
     }
    }
   },
   "bot.robot-control-result.v1": {
    "title": "BotRobotControlResult",
    "description": "bot.robot-control-result@1: answers of bot.robot.control on OpenVibe.Bot. POST /api/v1/robots/:id/estop → { robot } with its e-stop as it now stands.",
    "type": "object",
    "required": [
     "robot"
    ],
    "properties": {
     "robot": {
      "$ref": "#/components/schemas/bot.robot.v1"
     }
    }
   },
   "bot.robot-manage-request.v1": {
    "title": "BotRobotManageRequest",
    "description": "bot.robot-manage-request@1: bodies of bot.robot.manage on OpenVibe.Bot. POST /api/v1/robots → { owner (the person a service acts for), name, profile_id, access_policy?, limits? }; PATCH …/robots/:id → { name?, access_policy?, limits? }; POST …/robots/:id/operators → { subject, role? (operator by default) }. POST …/robots/:id/pairing-code and both DELETE routes take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "name",
       "profile_id"
      ],
      "additionalProperties": false,
      "properties": {
       "owner": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "name": {
        "type": "string",
        "minLength": 1
       },
       "profile_id": {
        "type": "string",
        "minLength": 1
       },
       "access_policy": {
        "enum": [
         "private",
         "invite",
         "queue"
        ]
       },
       "limits": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1
       },
       "access_policy": {
        "enum": [
         "private",
         "invite",
         "queue"
        ]
       },
       "limits": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "subject"
      ],
      "additionalProperties": false,
      "properties": {
       "subject": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "role": {
        "enum": [
         "operator",
         "viewer"
        ]
       }
      }
     }
    ]
   },
   "bot.robot-manage-result.v1": {
    "title": "BotRobotManageResult",
    "description": "bot.robot-manage-result@1: answers of bot.robot.manage on OpenVibe.Bot. POST /api/v1/robots → 201 { robot, pairing }; PATCH …/robots/:id and POST …/robots/:id/estop/clear → { robot }; DELETE …/robots/:id → 204 (no body); POST …/robots/:id/pairing-code → 201 { code, expires_at, installer }; POST …/robots/:id/operators → 201 { operators }; DELETE …/robots/:id/operators/:subject → { operators }; POST …/devices/:id/rotate and /revoke → bot.device-connect-result@1.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "robot",
       "pairing"
      ],
      "additionalProperties": false,
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       },
       "pairing": {
        "type": "object",
        "required": [
         "code",
         "expires_at",
         "installer"
        ],
        "additionalProperties": false,
        "properties": {
         "code": {
          "type": "string",
          "minLength": 1
         },
         "expires_at": {
          "type": "string",
          "format": "date-time"
         },
         "installer": {
          "type": "string"
         }
        },
        "description": "A one-time pairing code (shown once), when it expires and the one-line installer command that uses it."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "robot"
      ],
      "additionalProperties": false,
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "code",
       "expires_at",
       "installer"
      ],
      "additionalProperties": false,
      "properties": {
       "code": {
        "type": "string",
        "minLength": 1
       },
       "expires_at": {
        "type": "string",
        "format": "date-time"
       },
       "installer": {
        "type": "string"
       }
      },
      "description": "A one-time pairing code (shown once), when it expires and the one-line installer command that uses it."
     },
     {
      "type": "object",
      "required": [
       "operators"
      ],
      "additionalProperties": false,
      "properties": {
       "operators": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "subject",
          "role"
         ],
         "properties": {
          "subject": {
           "type": "string",
           "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "role": {
           "enum": [
            "operator",
            "viewer"
           ]
          },
          "added_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/bot.device-connect-result.v1"
     }
    ]
   },
   "bot.robot-read-request.v1": {
    "title": "BotRobotReadRequest",
    "description": "bot.robot-read-request@1: the query of bot.robot.read on OpenVibe.Bot (server/api/v1.js); the routes take no body. owner names whose robots GET /api/v1/robots lists (a service must give it; a person may give only their own subject). limit (1 to 200, default 50) and before (the last audit id seen) page GET …/robots/:id/audit.",
    "type": "object",
    "required": [],
    "additionalProperties": false,
    "properties": {
     "owner": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "limit": {
      "type": "integer",
      "minimum": 1,
      "maximum": 200
     },
     "before": {
      "type": "integer",
      "minimum": 1
     }
    }
   },
   "bot.robot-read-result.v1": {
    "title": "BotRobotReadResult",
    "description": "bot.robot-read-result@1: answers of bot.robot.read on OpenVibe.Bot (a service token needs no acting subject: only GET …/robots needs ?owner=). GET /api/v1/robots?owner= → { robots }; GET …/robots/:id → { robot, role }; GET …/robots/:id/operators → { operators }; GET …/robots/:id/devices → { devices } (no hashes, with online); GET …/robots/:id/audit?limit=&before= → { audit, next_before } (newest first).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "robots"
      ],
      "properties": {
       "robots": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/bot.robot.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "robot",
       "role"
      ],
      "properties": {
       "robot": {
        "$ref": "#/components/schemas/bot.robot.v1"
       },
       "role": {
        "enum": [
         "owner",
         "operator",
         "viewer",
         "queue",
         "service"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "operators"
      ],
      "properties": {
       "operators": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "subject",
          "role"
         ],
         "properties": {
          "subject": {
           "type": "string",
           "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "role": {
           "enum": [
            "operator",
            "viewer"
           ]
          },
          "added_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "devices"
      ],
      "properties": {
       "devices": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/bot.device.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "audit",
       "next_before"
      ],
      "additionalProperties": false,
      "properties": {
       "next_before": {
        "type": [
         "integer",
         "null"
        ]
       },
       "audit": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "robot_id",
          "kind",
          "result",
          "at"
         ],
         "properties": {
          "id": {
           "type": "integer"
          },
          "robot_id": {
           "type": "string",
           "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "device_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "operator_subject": {
           "type": [
            "string",
            "null"
           ]
          },
          "operator_kind": {
           "type": [
            "string",
            "null"
           ]
          },
          "role": {
           "type": [
            "string",
            "null"
           ]
          },
          "kind": {
           "type": [
            "string",
            "null"
           ]
          },
          "value": {},
          "result": {
           "enum": [
            "ack",
            "nack",
            "refused",
            "expired"
           ]
          },
          "reason": {
           "type": [
            "string",
            "null"
           ]
          },
          "latency_ms": {
           "type": [
            "integer",
            "null"
           ]
          },
          "at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     }
    ]
   },
   "bot.robot.v1": {
    "title": "BotRobot",
    "description": "bot.robot@1: a robot on OpenVibe.Bot as its API presents it (domain.present.robot): its owner-chosen name, the device profile it runs, who may drive it (access_policy) and the latched e-stop.",
    "type": "object",
    "required": [
     "id",
     "name",
     "profile_id",
     "access_policy",
     "limits",
     "estop",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^rob_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "name": {
      "type": "string",
      "minLength": 1
     },
     "profile_id": {
      "type": "string",
      "minLength": 1
     },
     "profile_version": {},
     "access_policy": {
      "enum": [
       "private",
       "invite",
       "queue"
      ]
     },
     "limits": {
      "type": "object"
     },
     "estop": {
      "type": "object",
      "required": [
       "latched",
       "by",
       "at"
      ],
      "properties": {
       "latched": {
        "type": "boolean"
       },
       "by": {
        "type": [
         "string",
         "null"
        ]
       },
       "at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "common.resource-list-result.v1": {
    "title": "ResourceListResult",
    "description": "A page of the resource index (roadmap WS-Z7).",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "resources",
     "next_cursor"
    ],
    "properties": {
     "resources": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/common.resource-summary.v1"
      }
     },
     "next_cursor": {
      "type": [
       "string",
       "null"
      ]
     },
     "partial": {
      "type": "array",
      "description": "Authorities a merged index (OpenVibe.Services, ADR-048) could not read for this page: a slow or failing authority is omitted, never fails the page. Each entry names the authority and the problem code it answered. Added in 1.1.0; a single authority's own index leaves it out.",
      "items": {
       "type": "object",
       "required": [
        "service",
        "code"
       ],
       "additionalProperties": false,
       "properties": {
        "service": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$"
        },
        "code": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
        }
       }
      }
     }
    }
   },
   "common.resource-summary.v1": {
    "title": "ResourceSummary",
    "description": "One resource of any service, as the resource index lists it (roadmap WS-Z7): every service answers GET /api/v1/resources with these, so OpenVibe.Services shows any resource without owning its data.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "kind",
     "service",
     "state",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "kind": {
      "type": "string",
      "description": "service.kind, e.g. watch.watch, actor.actor, media.object, events.subscription"
     },
     "service": {
      "type": "string"
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "ovrn": {
      "type": "string",
      "maxLength": 200,
      "pattern": "^ovrn:[a-z][a-z0-9-]{0,31}:prj_[0-9A-HJKMNP-TV-Z]{26}:[a-z][a-z0-9-]{0,39}/[a-z]{3}_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Optional resource name (ADR-034 section 2), the name grants, audit, events, usage records and bills use: ovrn:<service>:<project_id>:<type>/<id>, e.g. ovrn:watch:<project_id>:watch/<wch_id>, with the pattern of common.usage-recorded@1 resource. Its service, project and id are this summary's service, project_id and id. Added in 1.1.0."
     },
     "owner": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "name": {
      "type": "string"
     },
     "state": {
      "type": "string"
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "usage": {
      "type": "object",
      "additionalProperties": {
       "type": "number",
       "minimum": 0
      },
      "properties": {},
      "description": "cost units by name (WS-Z1)"
     },
     "links": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "self": {
        "type": "string",
        "format": "uri"
       },
       "console": {
        "type": "string",
        "format": "uri"
       },
       "docs": {
        "type": "string",
        "format": "uri"
       }
      }
     }
    }
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "agent"
       },
       "id": {
        "type": "string",
        "pattern": "^agt_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AgentSubject: an agent (OpenVibe.Actor, or a developer app's agent) acting under grants its owner delegated (roadmap WS-Z2). In an event envelope, on_behalf_of names the owner."
     }
    ]
   },
   "platform.job.v1": {
    "title": "Job",
    "description": "platform.job@1: one unit of work a dispatcher (OpenVibe.Bot now, Fabric later) hands to an execution worker (plan T14 Run; ADR-034 proposed). It rides the device control link inside a `job` frame (platform.job-frame@1). The worker answers it with `ack` (accepted) or `nack` (refused: an unknown or unimplemented class, a missing artifact, limits it cannot honor, the local kill switch), then runs it at most once. Metering: a running `function` job is billed by wall-clock second as platform.usage-sample@1 readings; platform.job-frame@1 `job_usage` gives the mapping.",
    "$comment": "Additive optional fields may extend this v1 contract.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "class",
     "args",
     "ttl_ms",
     "limits"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Minted by the dispatcher (job_<ULID>): the idempotency and ack key, as a Node command `id` is. A worker that already holds or ran this id never runs it again: a resent `job` is acked again while it runs and answered with its `job_exit` once it ended. Never reused: it is the stem of every usage reading's key (`run:<id>:<second>`)."
     },
     "class": {
      "$ref": "#/components/schemas/platform.runtime-class.v1"
     },
     "artifact": {
      "type": "object",
      "additionalProperties": false,
      "description": "The pre-registered artifact to run; required for classes `function` and `code`.",
      "required": [
       "name",
       "version"
      ],
      "properties": {
       "name": {
        "type": "string",
        "pattern": "^[a-z0-9][a-z0-9._-]{0,127}$"
       },
       "version": {
        "type": "string",
        "pattern": "^[0-9A-Za-z][0-9A-Za-z.+-]{0,63}$",
        "description": "One exact version, never a range"
       }
      }
     },
     "args": {
      "type": "object",
      "description": "The artifact's declared input as JSON; the whole `job` frame stays within the link's 1 MiB frame limit."
     },
     "ttl_ms": {
      "type": "integer",
      "minimum": 1,
      "description": "Lifetime from the worker's receipt of the job, covering any wait and the run; the worker caps it with its own local maximum (the stricter wins, as with `max_command_ms`). When it runs out, a job not yet started never starts and a running one is killed; either way `job_exit` says `ttl`."
     },
     "limits": {
      "type": "object",
      "additionalProperties": false,
      "description": "Caps the worker enforces on the running process (merged stricter with its local caps); exceeding one kills the job and `job_exit` says `limit`.",
      "required": [
       "wall_ms",
       "cpu_ms",
       "mem_bytes"
      ],
      "properties": {
       "wall_ms": {
        "type": "integer",
        "minimum": 1,
        "description": "Running time from `job_started`"
       },
       "cpu_ms": {
        "type": "integer",
        "minimum": 1,
        "description": "CPU time, user plus system"
       },
       "mem_bytes": {
        "type": "integer",
        "minimum": 1,
        "description": "Peak resident memory"
       }
      }
     },
     "net": {
      "type": "string",
      "enum": [
       "deny",
       "none",
       "public",
       "openvibe-only"
      ],
      "default": "deny",
      "description": "Network policy; absent means `deny`. `none` is `deny` spelled as OpenVibe.Node's worker.egress names it; `public` and `openvibe-only` ask for egress the host must already allow (ADR-046): a worker whose host policy is stricter runs the stricter one, and a worker that cannot enforce what is asked refuses the job (`nack`) rather than running it weaker."
     },
     "inputs": {
      "type": "array",
      "maxItems": 32,
      "description": "Files placed in the job's working directory before the process starts. Each is an OpenVibe.Media object pinned by digest: a size or digest mismatch ends the job failed before the process ever runs (run.job.input_digest_mismatch). Never a caller-chosen URL and never a credential; the worker holds its own token. Names are unique and carry no path separator.",
      "items": {
       "type": "object",
       "additionalProperties": false,
       "required": [
        "name",
        "media_id",
        "sha256"
       ],
       "properties": {
        "name": {
         "type": "string",
         "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$"
        },
        "media_id": {
         "type": "string",
         "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "sha256": {
         "type": "string",
         "pattern": "^[0-9a-f]{64}$"
        },
        "size_bytes": {
         "type": "integer",
         "minimum": 0
        }
       }
      }
     }
    },
    "allOf": [
     {
      "if": {
       "required": [
        "class"
       ],
       "properties": {
        "class": {
         "enum": [
          "function",
          "code"
         ]
        }
       }
      },
      "then": {
       "required": [
        "artifact"
       ]
      }
     }
    ],
    "examples": [
     {
      "id": "job_01JAB2C3D4E5F6G7H8J9K0MNPQ",
      "class": "function",
      "artifact": {
       "name": "thumbnail",
       "version": "1.2.0"
      },
      "args": {
       "width": 320
      },
      "ttl_ms": 60000,
      "limits": {
       "wall_ms": 30000,
       "cpu_ms": 30000,
       "mem_bytes": 268435456
      },
      "net": "deny"
     },
     {
      "id": "job_01JAB2C3D4E5F6G7H8J9K0MNPR",
      "class": "code",
      "artifact": {
       "name": "transcode",
       "version": "0.4.1"
      },
      "args": {
       "format": "webm"
      },
      "ttl_ms": 120000,
      "limits": {
       "wall_ms": 90000,
       "cpu_ms": 90000,
       "mem_bytes": 536870912
      },
      "net": "public",
      "inputs": [
       {
        "name": "clip.mp4",
        "media_id": "med_01JAB2C3D4E5F6G7H8J9K0MNPQ",
        "sha256": "9f86d081884c7d659a2feb15b0b4f8f1c0e6ad1d7e6fd2e1b0b6fd1c4f1d2a3b",
        "size_bytes": 1048576
       }
      ]
     }
    ]
   },
   "platform.runtime-class.v1": {
    "title": "RuntimeClass",
    "description": "platform.runtime-class@1: the kind of execution environment a platform.job@1 asks for (plan T14 Run; ADR-034 proposed). A name only: this contract defines no behavior, and a worker runs only the classes it advertises and refuses every other one (`nack`). `function` is the first class implemented (OpenVibe.Node's function worker); the others are reserved names. Each class names one reserved Fabric capability in platform.resource-offer@1.capabilities — `worker:` + the class (worker:function, worker:code, worker:browser, worker:linux, worker:desktop, worker:gpu) — and a node advertises the name of each class it runs.",
    "$comment": "Additive: a class may be added to v1; none is removed, renamed or reordered.",
    "type": "string",
    "oneOf": [
     {
      "const": "function",
      "description": "A pre-registered artifact (name and exact version) run once with declared args to one result: single-shot, no persistent filesystem, no dependency resolution, network denied."
     },
     {
      "const": "code",
      "description": "Arbitrary source with its dependency tree in a longer-lived environment; needs image handling and isolation stronger than a container."
     },
     {
      "const": "browser",
      "description": "A headless or headed web browser session driven remotely."
     },
     {
      "const": "linux",
      "description": "A full Linux environment (shell, filesystem, processes) that lives across commands."
     },
     {
      "const": "desktop",
      "description": "A graphical desktop session with screen and input under control levels."
     },
     {
      "const": "gpu",
      "description": "A workload that holds one or more GPUs for its lifetime."
     }
    ],
    "examples": [
     "function",
     "gpu"
    ]
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 },
 "x-openvibe-other-bindings": [
  {
   "capability": "bot.robot.control",
   "binding": "WS /control {type:\"command\"} (bot.command@1, answered by a command_result frame, bot.command-result@1)"
  },
  {
   "capability": "bot.robot.control",
   "binding": "WS /control {type:\"estop\"} (an owner or operator)"
  },
  {
   "capability": "bot.robot.control",
   "binding": "WS /control {type:\"estop_clear\"} (the owner only)"
  }
 ]
}
