{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Chat API",
  "version": "0.94.0",
  "description": "Routes of OpenVibe.Chat as the OpenVibe contracts describe them (openvibe-contracts 0.94.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.chat"
  }
 ],
 "paths": {
  "/internal/chat/events": {
   "post": {
    "operationId": "post_internal_chat_events",
    "summary": "Push a transient frame to chat sockets through OpenVibe.Chat: news cards, donation and goal cards, alerts and channel sounds, media queue state, redemptions, vibe-coding events, voice channel lists, s",
    "description": "**chat.event.publish** (first-party): Push a transient frame to chat sockets through OpenVibe.Chat: news cards, donation and goal cards, alerts and channel sounds, media queue state, redemptions, vibe-coding events, voice channel lists, system and restart notices, and call invites to one person. Nothing is stored; Chat validates the frame and its target (a stream, a channel, an owner's streams, global chat, everyone or one person) and broadcasts it once per idempotency key. Loopback only, first-party service token (Live's principal today); never granted to an app or delegated to an agent.",
    "tags": [
     "chat.event"
    ],
    "x-openvibe-capabilities": [
     "chat.event.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "internal-write",
    "security": [
     {
      "openvibeToken": [
       "chat.event.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/chat.event-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.ingress-ack.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/chat/invalidate": {
   "post": {
    "operationId": "post_internal_chat_invalidate",
    "summary": "Tell OpenVibe.Chat that something it caches changed elsewhere: a person (optionally with their new public fields, pushed to their sockets), a channel's settings, a channel's IP approvals, or bans.",
    "description": "**chat.cache.invalidate** (first-party): Tell OpenVibe.Chat that something it caches changed elsewhere: a person (optionally with their new public fields, pushed to their sockets), a channel's settings, a channel's IP approvals, or bans. A cache hint only; Chat reloads the entry. Loopback only, first-party service token (Live's principal today); never granted to an app or delegated to an agent.",
    "tags": [
     "chat.cache"
    ],
    "x-openvibe-capabilities": [
     "chat.cache.invalidate"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "internal-write",
    "security": [
     {
      "openvibeToken": [
       "chat.cache.invalidate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/chat.invalidate-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.ingress-ack.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/chat/messages": {
   "post": {
    "operationId": "post_internal_chat_messages",
    "summary": "Send a chat message to a room the actor is a member of (browsers over the chat socket; first-party services over Chat's service API).",
    "description": "**chat.message.send** (first-party): Send a chat message to a room the actor is a member of (browsers over the chat socket; first-party services over Chat's service API).",
    "tags": [
     "chat.message"
    ],
    "x-openvibe-capabilities": [
     "chat.message.send"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "chat-send",
    "security": [
     {
      "openvibeToken": [
       "chat.message.send"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/chat.send-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.send-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/chat/moderation": {
   "post": {
    "operationId": "post_internal_chat_moderation",
    "summary": "Change the chat rows OpenVibe.Chat owns and act on its sockets for a moderator: delete one message, a person's, an anonymous id's or a relay name's messages, or a time range (Chat broadcasts the delet",
    "description": "**chat.moderation.write** (first-party): Change the chat rows OpenVibe.Chat owns and act on its sockets for a moderator: delete one message, a person's, an anonymous id's or a relay name's messages, or a time range (Chat broadcasts the deletes), review messages held for IP approval, hide, unhide or record relay identities, set or clear TTS voice overrides, disconnect a person or an address, and log moderation actions. One typed action per request, applied once per idempotency key. Loopback only, first-party service token (Live's principal today); never granted to an app or delegated to an agent.",
    "tags": [
     "chat.moderation"
    ],
    "x-openvibe-capabilities": [
     "chat.moderation.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "internal-write",
    "security": [
     {
      "openvibeToken": [
       "chat.moderation.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/chat.moderation-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/live/calls": {
   "post": {
    "operationId": "post_internal_live_calls",
    "summary": "Send a chat message to a room the actor is a member of (browsers over the chat socket; first-party services over Chat's service API).",
    "description": "**chat.message.send** (first-party): Send a chat message to a room the actor is a member of (browsers over the chat socket; first-party services over Chat's service API).",
    "tags": [
     "chat.message"
    ],
    "x-openvibe-capabilities": [
     "chat.message.send"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "chat-send",
    "security": [
     {
      "openvibeToken": [
       "chat.message.send"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/chat.send-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.send-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/moderation/channels/{channelId}": {
   "get": {
    "operationId": "get_internal_moderation_channels_channelId",
    "summary": "Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.C",
    "description": "**chat.moderation.read** (internal): Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.Chat owns (plan T3). Loopback only, service token.",
    "tags": [
     "chat.moderation"
    ],
    "x-openvibe-capabilities": [
     "chat.moderation.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "internal-read",
    "security": [
     {
      "openvibeToken": [
       "chat.moderation.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.channel-moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/moderation/channels/{channelId}/emote-count": {
   "get": {
    "operationId": "get_internal_moderation_channels_channelId_emote_count",
    "summary": "Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.C",
    "description": "**chat.moderation.read** (internal): Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.Chat owns (plan T3). Loopback only, service token.",
    "tags": [
     "chat.moderation"
    ],
    "x-openvibe-capabilities": [
     "chat.moderation.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "internal-read",
    "security": [
     {
      "openvibeToken": [
       "chat.moderation.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.channel-moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/moderation/users/{userId}/channels": {
   "get": {
    "operationId": "get_internal_moderation_users_userId_channels",
    "summary": "Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.C",
    "description": "**chat.moderation.read** (internal): Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.Chat owns (plan T3). Loopback only, service token.",
    "tags": [
     "chat.moderation"
    ],
    "x-openvibe-capabilities": [
     "chat.moderation.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "internal-read",
    "security": [
     {
      "openvibeToken": [
       "chat.moderation.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "userId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.channel-moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "chat.channel-moderation-result.v1": {
    "title": "ChatChannelModerationResult",
    "description": "chat.channel-moderation-result@1: the answer of GET /internal/moderation/channels/:channelId on OpenVibe.Chat (capability chat.moderation.read): { ok: true, settings, moderator_ids } — one channel's moderation settings and the ids of the people who moderate it, for OpenVibe.Live's stream chat. settings carries every channel_moderation_settings column (Live's own defaults when the channel has no row yet, database.js getChannelModerationSettings); the switches are 0/1 as the table stores them. moderator_ids are Live user ids (channel_moderators.user_id), never names. A failure is { ok: false, error }; a caller without the grant gets 401 { ok: false }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "ok",
       "settings",
       "moderator_ids"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "settings": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/settings"
       },
       "moderator_ids": {
        "type": "array",
        "description": "The channel's moderators, oldest first (channel_moderators.created_at); empty when it has none.",
        "items": {
         "type": "integer",
         "minimum": 1
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "error"
      ],
      "properties": {
       "ok": {
        "const": false
       },
       "error": {
        "type": "string"
       }
      }
     }
    ],
    "$defs": {
     "flag": {
      "type": "integer",
      "enum": [
       0,
       1
      ],
      "description": "A switch as the SQLite table stores it."
     },
     "settings": {
      "type": "object",
      "description": "One row of channel_moderation_settings, or Live's defaults for a channel that has no row. Every column is present; the switches are 0/1.",
      "required": [
       "channel_id",
       "slow_mode_seconds",
       "followers_only",
       "emote_only",
       "allow_anonymous",
       "links_allowed",
       "gifs_enabled",
       "account_age_gate_hours",
       "caps_percentage_limit",
       "aggressive_filter",
       "max_message_length",
       "tts_max_length",
       "slur_filter_enabled",
       "slur_filter_use_builtin",
       "slur_filter_terms",
       "slur_filter_regexes",
       "slur_filter_nudge_message",
       "slur_filter_disabled_categories",
       "ip_approval_mode",
       "soundboard_enabled",
       "soundboard_allow_pitch",
       "soundboard_allow_speed",
       "soundboard_banned_ids",
       "viewer_auto_delete_enabled",
       "viewer_delete_all_enabled",
       "custom_emotes_enabled",
       "custom_sounds_enabled",
       "max_sound_seconds",
       "uploads_mods_only",
       "mods_can_edit_about",
       "emote_scale",
       "emote_size_min",
       "emote_size_max",
       "sounds_mods_only",
       "sound_min_speed",
       "sound_max_speed",
       "sound_min_pitch_cents",
       "sound_max_pitch_cents",
       "sub_only"
      ],
      "additionalProperties": false,
      "properties": {
       "channel_id": {
        "type": "integer",
        "minimum": 1
       },
       "slow_mode_seconds": {
        "type": "integer",
        "minimum": 0
       },
       "followers_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "emote_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "allow_anonymous": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "links_allowed": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "gifs_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "account_age_gate_hours": {
        "type": "integer",
        "minimum": 0
       },
       "caps_percentage_limit": {
        "type": "integer",
        "minimum": 0,
        "description": "Percent of a message that may be capitals; 0 means off."
       },
       "aggressive_filter": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "max_message_length": {
        "type": "integer",
        "minimum": 1
       },
       "tts_max_length": {
        "type": "integer",
        "minimum": 1
       },
       "slur_filter_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "slur_filter_use_builtin": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "slur_filter_terms": {
        "type": "string",
        "maxLength": 8192,
        "description": "Extra terms, comma separated; a channel's own filter list, never a network-wide secret."
       },
       "slur_filter_regexes": {
        "type": "string",
        "maxLength": 8192,
        "description": "Extra patterns, one per line."
       },
       "slur_filter_nudge_message": {
        "type": "string",
        "maxLength": 512
       },
       "slur_filter_disabled_categories": {
        "type": "string",
        "description": "A JSON array string of disabled built-in categories ('[]' when none)."
       },
       "ip_approval_mode": {
        "type": "integer",
        "minimum": 0,
        "maximum": 2,
        "description": "0 off, 1 approve before chatting, 2 approved addresses only."
       },
       "soundboard_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "soundboard_allow_pitch": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "soundboard_allow_speed": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "soundboard_banned_ids": {
        "type": "string",
        "maxLength": 8192,
        "description": "Banned channel sound ids, comma separated."
       },
       "viewer_auto_delete_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "viewer_delete_all_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "custom_emotes_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "custom_sounds_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "max_sound_seconds": {
        "type": "integer",
        "minimum": 1
       },
       "uploads_mods_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "mods_can_edit_about": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "emote_scale": {
        "type": "integer",
        "minimum": 50,
        "maximum": 300,
        "description": "Emote display size in chat, percent of the base height (100 is the default)."
       },
       "emote_size_min": {
        "type": "integer",
        "minimum": 1
       },
       "emote_size_max": {
        "type": "integer",
        "minimum": 1
       },
       "sounds_mods_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "sound_min_speed": {
        "type": "number",
        "exclusiveMinimum": 0
       },
       "sound_max_speed": {
        "type": "number",
        "exclusiveMinimum": 0
       },
       "sound_min_pitch_cents": {
        "type": "integer"
       },
       "sound_max_pitch_cents": {
        "type": "integer"
       },
       "sub_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "donation_sound_url": {
        "type": [
         "string",
         "null"
        ],
        "description": "Optional alert sounds set by the streamer; absent or null when unset."
       },
       "donation_sound_mime": {
        "type": [
         "string",
         "null"
        ]
       },
       "goal_sound_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "goal_sound_mime": {
        "type": [
         "string",
         "null"
        ]
       },
       "updated_at": {
        "type": [
         "string",
         "null"
        ],
        "description": "When the row was last written; absent or null when the channel still has its defaults."
       }
      }
     }
    }
   },
   "chat.event-request.v1": {
    "title": "ChatEventRequest",
    "description": "chat.event-request@1: what a first-party service hands OpenVibe.Chat's POST /internal/chat/events (chat.event.publish) to push a transient frame to chat sockets: cards, alerts, sounds, media queue state, call invites. Nothing is stored; Chat broadcasts the frame to the target. Applied once per (caller, key): a retry with the same key and body answers the first result, the same key with another body gets 409. Chat also refuses a frame whose JSON is longer than 16384 characters or that has a __proto__, constructor or prototype key; a news card's timestamp must parse as a date.",
    "type": "object",
    "required": [
     "key",
     "target",
     "frame"
    ],
    "additionalProperties": false,
    "properties": {
     "key": {
      "type": "string",
      "minLength": 1,
      "maxLength": 160,
      "pattern": "^[A-Za-z0-9:._-]+$",
      "description": "Idempotency key, scoped to the caller and to this route."
     },
     "target": {
      "type": "object",
      "required": [
       "kind"
      ],
      "additionalProperties": false,
      "properties": {
       "kind": {
        "enum": [
         "stream",
         "channel",
         "owner-streams",
         "global",
         "all",
         "user"
        ],
        "description": "stream: one stream's room; channel: a channel owner's room; owner-streams: every stream of that owner; global: the homepage global chat; all: every socket; user: one person's sockets (call frames only)."
       },
       "id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1,
        "description": "The stream, channel owner or user id; required for stream, channel, owner-streams and user, absent or null for global and all."
       }
      },
      "allOf": [
       {
        "if": {
         "type": "object",
         "properties": {
          "kind": {
           "enum": [
            "stream",
            "channel",
            "owner-streams",
            "user"
           ]
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "id"
         ],
         "properties": {
          "id": {
           "type": "integer"
          }
         }
        },
        "else": {
         "type": "object",
         "properties": {
          "id": {
           "type": "null"
          }
         }
        }
       }
      ]
     },
     "frame": {
      "type": "object",
      "required": [
       "type"
      ],
      "properties": {
       "type": {
        "enum": [
         "chat",
         "system",
         "donation",
         "goal-update",
         "goal-reached",
         "update",
         "voice-channels",
         "alert",
         "channel-sound",
         "server_restart",
         "media_queue_update",
         "media_now_playing",
         "redemption",
         "vibe-coding",
         "vc-call-invite",
         "vc-call-response"
        ],
        "description": "The client frame type. chat is only the transient news card (never saved); a stored line goes through chat.message.send."
       }
      },
      "allOf": [
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "enum": [
            "system",
            "server_restart"
           ]
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "message"
         ],
         "properties": {
          "message": {
           "type": "string",
           "minLength": 1,
           "maxLength": 4000
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "chat"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "message_type",
          "username",
          "message",
          "timestamp"
         ],
         "additionalProperties": false,
         "properties": {
          "type": {},
          "message_type": {
           "const": "news"
          },
          "username": {
           "type": "string",
           "minLength": 1,
           "maxLength": 120
          },
          "message": {
           "type": "string",
           "minLength": 1,
           "maxLength": 4000
          },
          "url": {
           "type": [
            "string",
            "null"
           ],
           "minLength": 1,
           "maxLength": 500
          },
          "news_source": {
           "type": [
            "string",
            "null"
           ],
           "minLength": 1,
           "maxLength": 120
          },
          "timestamp": {
           "type": "string",
           "minLength": 1,
           "maxLength": 40
          },
          "source_platform": {
           "enum": [
            "news",
            null
           ]
          },
          "system": {
           "type": [
            "boolean",
            "null"
           ]
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "alert"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "streamerId",
          "kind"
         ],
         "properties": {
          "streamerId": {
           "type": "integer",
           "minimum": 1,
           "description": "The channel owner; must equal target.id with target.kind channel."
          },
          "streamId": {
           "type": [
            "integer",
            "null"
           ],
           "minimum": 1
          },
          "kind": {
           "enum": [
            "goal",
            "donation"
           ]
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "voice-channels"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "channels"
         ],
         "properties": {
          "channels": {
           "type": "array",
           "maxItems": 128
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "channel-sound"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "streamId",
          "command"
         ],
         "properties": {
          "streamId": {
           "type": "integer",
           "minimum": 1,
           "description": "Must equal target.id with target.kind stream."
          },
          "command": {
           "type": "string",
           "minLength": 1,
           "maxLength": 120
          },
          "userId": {
           "type": [
            "integer",
            "null"
           ],
           "minimum": 1
          },
          "anonId": {
           "type": [
            "string",
            "null"
           ],
           "minLength": 1,
           "maxLength": 80
          },
          "args": {
           "type": [
            "array",
            "null"
           ],
           "maxItems": 20,
           "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
           }
          },
          "relay": {
           "type": [
            "object",
            "null"
           ],
           "required": [
            "username"
           ],
           "properties": {
            "username": {
             "type": "string",
             "minLength": 1,
             "maxLength": 120
            }
           }
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "media_queue_update"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "state"
         ],
         "properties": {
          "state": {
           "type": "object"
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "media_now_playing"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "request"
         ],
         "properties": {
          "request": {
           "type": [
            "object",
            "null"
           ]
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "redemption"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "username",
          "reward_title",
          "cost"
         ],
         "properties": {
          "username": {
           "type": "string",
           "minLength": 1,
           "maxLength": 120
          },
          "reward_title": {
           "type": "string",
           "minLength": 1,
           "maxLength": 200
          },
          "cost": {
           "type": "number"
          },
          "user_input": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "vibe-coding"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "managed_stream_id",
          "event"
         ],
         "properties": {
          "managed_stream_id": {
           "type": "integer",
           "minimum": 1
          },
          "event": {
           "type": "object"
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "enum": [
            "vc-call-invite",
            "vc-call-response"
           ]
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "channelId",
          "fromUserId",
          "fromUsername",
          "createdAt"
         ],
         "additionalProperties": false,
         "properties": {
          "type": {},
          "channelId": {
           "type": "string",
           "minLength": 1,
           "maxLength": 120
          },
          "channelName": {
           "type": [
            "string",
            "null"
           ],
           "minLength": 1,
           "maxLength": 120
          },
          "fromUserId": {
           "type": "integer",
           "minimum": 1
          },
          "fromUsername": {
           "type": "string",
           "minLength": 1,
           "maxLength": 120
          },
          "fromDisplayName": {
           "type": [
            "string",
            "null"
           ],
           "minLength": 1,
           "maxLength": 120
          },
          "fromAvatarUrl": {
           "type": [
            "string",
            "null"
           ],
           "minLength": 1,
           "maxLength": 500
          },
          "createdAt": {
           "type": "integer",
           "minimum": 1,
           "description": "Milliseconds since the epoch."
          },
          "status": {
           "enum": [
            "accepted",
            "declined",
            "busy",
            "no-answer",
            "canceled"
           ],
           "description": "vc-call-response only, and required there."
          }
         }
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "vc-call-response"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "status"
         ]
        }
       },
       {
        "if": {
         "type": "object",
         "properties": {
          "type": {
           "const": "vc-call-invite"
          }
         }
        },
        "then": {
         "not": {
          "type": "object",
          "required": [
           "status"
          ]
         }
        }
       }
      ]
     }
    },
    "allOf": [
     {
      "if": {
       "type": "object",
       "properties": {
        "frame": {
         "type": "object",
         "properties": {
          "type": {
           "enum": [
            "vc-call-invite",
            "vc-call-response"
           ]
          }
         }
        }
       }
      },
      "then": {
       "type": "object",
       "properties": {
        "target": {
         "type": "object",
         "properties": {
          "kind": {
           "const": "user"
          }
         }
        }
       }
      },
      "else": {
       "type": "object",
       "properties": {
        "target": {
         "type": "object",
         "properties": {
          "kind": {
           "not": {
            "const": "user"
           }
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "type": "object",
       "properties": {
        "frame": {
         "type": "object",
         "properties": {
          "type": {
           "enum": [
            "chat",
            "channel-sound",
            "redemption",
            "vibe-coding"
           ]
          }
         }
        }
       }
      },
      "then": {
       "type": "object",
       "properties": {
        "target": {
         "type": "object",
         "properties": {
          "kind": {
           "const": "stream"
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "type": "object",
       "properties": {
        "frame": {
         "type": "object",
         "properties": {
          "type": {
           "const": "alert"
          }
         }
        }
       }
      },
      "then": {
       "type": "object",
       "properties": {
        "target": {
         "type": "object",
         "properties": {
          "kind": {
           "const": "channel"
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "type": "object",
       "properties": {
        "frame": {
         "type": "object",
         "properties": {
          "type": {
           "const": "voice-channels"
          }
         }
        }
       }
      },
      "then": {
       "type": "object",
       "properties": {
        "target": {
         "type": "object",
         "properties": {
          "kind": {
           "const": "all"
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "type": "object",
       "properties": {
        "frame": {
         "type": "object",
         "properties": {
          "type": {
           "enum": [
            "media_queue_update",
            "media_now_playing"
           ]
          }
         }
        }
       }
      },
      "then": {
       "type": "object",
       "properties": {
        "target": {
         "type": "object",
         "properties": {
          "kind": {
           "const": "owner-streams"
          }
         }
        }
       }
      }
     }
    ]
   },
   "chat.ingress-ack.v1": {
    "title": "ChatIngressAck",
    "description": "chat.ingress-ack@1: what OpenVibe.Chat's service ingress answers when there is nothing to return (POST /internal/chat/events, chat.event.publish; POST /internal/chat/invalidate, chat.cache.invalidate), and the error every /internal/chat route answers: 400 a body Chat refuses, 401/403 no service token or no grant for the capability, 403/404 a refused or unknown DM participant or stream, 409 an idempotency key reused with another body, 503 Chat unavailable or a delivery in progress (retry with the same key).",
    "$defs": {
     "error": {
      "type": "object",
      "required": [
       "ok",
       "error"
      ],
      "properties": {
       "ok": {
        "const": false
       },
       "error": {
        "type": "string",
        "description": "A human-readable reason."
       }
      }
     }
    },
    "oneOf": [
     {
      "type": "object",
      "required": [
       "ok"
      ],
      "additionalProperties": false,
      "properties": {
       "ok": {
        "const": true
       }
      }
     },
     {
      "$ref": "#/components/schemas/chat.ingress-ack.v1/$defs/error"
     }
    ]
   },
   "chat.invalidate-request.v1": {
    "title": "ChatInvalidateRequest",
    "description": "chat.invalidate-request@1: what a first-party service hands OpenVibe.Chat's POST /internal/chat/invalidate (chat.cache.invalidate) after it changed something Chat caches (a person, a channel, IP approvals, bans). A cache hint only: Chat drops and reloads the entry (with user_data, it also pushes the person's new name and look to their sockets). At least one hint is required. Applied once per (caller, key).",
    "type": "object",
    "required": [
     "key"
    ],
    "additionalProperties": false,
    "properties": {
     "key": {
      "type": "string",
      "minLength": 1,
      "maxLength": 160,
      "pattern": "^[A-Za-z0-9:._-]+$",
      "description": "Idempotency key, scoped to the caller and to this route."
     },
     "user": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 1,
      "description": "A person whose cached row is stale."
     },
     "user_data": {
      "type": "object",
      "required": [
       "id",
       "username"
      ],
      "additionalProperties": false,
      "description": "The person's new public fields, pushed to their sockets; id must equal user.",
      "properties": {
       "id": {
        "type": "integer",
        "minimum": 1
       },
       "username": {
        "type": "string",
        "minLength": 1,
        "maxLength": 120
       },
       "display_name": {
        "type": [
         "string",
         "null"
        ],
        "minLength": 1,
        "maxLength": 120
       },
       "role": {
        "type": "string"
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "profile_color": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "approvals": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 1,
      "description": "A channel whose IP approvals changed."
     },
     "bans": {
      "type": [
       "boolean",
       "null"
      ],
      "description": "true: bans changed."
     },
     "channel": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 1,
      "description": "A channel whose cached settings changed."
     }
    },
    "dependentSchemas": {
     "user_data": {
      "type": "object",
      "required": [
       "user"
      ],
      "properties": {
       "user": {
        "type": "integer",
        "minimum": 1
       }
      }
     }
    },
    "anyOf": [
     {
      "type": "object",
      "required": [
       "user"
      ],
      "properties": {
       "user": {
        "type": "integer",
        "minimum": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "approvals"
      ],
      "properties": {
       "approvals": {
        "type": "integer",
        "minimum": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "channel"
      ],
      "properties": {
       "channel": {
        "type": "integer",
        "minimum": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "bans"
      ],
      "properties": {
       "bans": {
        "const": true
       }
      }
     }
    ]
   },
   "chat.moderation-request.v1": {
    "title": "ChatModerationRequest",
    "description": "chat.moderation-request@1: what a first-party service hands OpenVibe.Chat's POST /internal/chat/moderation (chat.moderation.write) to change chat rows Chat owns and act on its sockets: delete messages (Chat deletes the rows and broadcasts the delete notices to the room and its mirrors), review messages held for IP approval, hide, unhide or record relay identities, set or clear a TTS voice override, disconnect a person or an address, and log a moderation action. One action per request, applied once per (caller, key): a retry with the same key and body answers the first result, the same key with another body gets 409. The fields an action does not list are refused.",
    "$defs": {
     "key": {
      "type": "string",
      "minLength": 1,
      "maxLength": 160,
      "pattern": "^[A-Za-z0-9:._-]+$",
      "description": "Idempotency key, scoped to the caller and to this route."
     }
    },
    "oneOf": [
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "delete-message"
       },
       "id": {
        "type": "integer",
        "minimum": 1
       },
       "deleted_by": {
        "anyOf": [
         {
          "type": "integer",
          "minimum": 1
         },
         {
          "type": "string",
          "minLength": 1,
          "maxLength": 120
         },
         {
          "type": "null"
         }
        ],
        "description": "The moderator: a user id or a username (chat_messages.deleted_by is text)."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "user_id"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "delete-user-messages"
       },
       "user_id": {
        "type": "integer",
        "minimum": 1
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "deleted_by": {
        "anyOf": [
         {
          "type": "integer",
          "minimum": 1
         },
         {
          "type": "string",
          "minLength": 1,
          "maxLength": 120
         },
         {
          "type": "null"
         }
        ],
        "description": "The moderator: a user id or a username (chat_messages.deleted_by is text)."
       }
      },
      "description": "Every visible message of a signed-in person, in one stream or everywhere."
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "anon_id"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "delete-anon-messages"
       },
       "anon_id": {
        "type": "string",
        "minLength": 1,
        "maxLength": 80
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "deleted_by": {
        "anyOf": [
         {
          "type": "integer",
          "minimum": 1
         },
         {
          "type": "string",
          "minLength": 1,
          "maxLength": 120
         },
         {
          "type": "null"
         }
        ],
        "description": "The moderator: a user id or a username (chat_messages.deleted_by is text)."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "username"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "delete-relay-messages"
       },
       "username": {
        "type": "string",
        "minLength": 1,
        "maxLength": 120
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "deleted_by": {
        "anyOf": [
         {
          "type": "integer",
          "minimum": 1
         },
         {
          "type": "string",
          "minLength": 1,
          "maxLength": 120
         },
         {
          "type": "null"
         }
        ],
        "description": "The moderator: a user id or a username (chat_messages.deleted_by is text)."
       }
      },
      "description": "Every visible message stored under a relay username."
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "from",
       "to"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "delete-by-range"
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "from": {
        "type": "string",
        "minLength": 1,
        "maxLength": 40,
        "description": "A date Chat parses (Date.parse); compared with the stored message timestamp."
       },
       "to": {
        "type": "string",
        "minLength": 1,
        "maxLength": 40,
        "description": "A date Chat parses (Date.parse); compared with the stored message timestamp."
       },
       "deleted_by": {
        "anyOf": [
         {
          "type": "integer",
          "minimum": 1
         },
         {
          "type": "string",
          "minLength": 1,
          "maxLength": 120
         },
         {
          "type": "null"
         }
        ],
        "description": "The moderator: a user id or a username (chat_messages.deleted_by is text)."
       }
      },
      "description": "Every visible message between from and to, in one stream or (without stream_id) in global chat."
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "id",
       "status"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "review-pending-ip"
       },
       "id": {
        "type": "integer",
        "minimum": 1
       },
       "status": {
        "enum": [
         "approved",
         "denied"
        ]
       },
       "reviewed_by": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "channel_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "channel_id",
       "ip"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "approve-ip-messages"
       },
       "channel_id": {
        "type": "integer",
        "minimum": 1
       },
       "ip": {
        "type": "string",
        "anyOf": [
         {
          "format": "ipv4"
         },
         {
          "format": "ipv6"
         }
        ]
       },
       "reviewed_by": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "channel_id",
       "ip"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "deny-ip-messages"
       },
       "channel_id": {
        "type": "integer",
        "minimum": 1
       },
       "ip": {
        "type": "string",
        "anyOf": [
         {
          "format": "ipv4"
         },
         {
          "format": "ipv6"
         }
        ]
       },
       "reviewed_by": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "platform",
       "external_username"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "relay-hide"
       },
       "channel_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "platform": {
        "type": "string",
        "minLength": 1,
        "maxLength": 80
       },
       "external_username": {
        "type": "string",
        "minLength": 1,
        "maxLength": 120
       },
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "minLength": 1,
        "maxLength": 500
       },
       "created_by": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "mode": {
        "enum": [
         "hide",
         "ban",
         null
        ],
        "description": "Default hide."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "action"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "relay-unhide"
       },
       "id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "channel_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "platform": {
        "type": [
         "string",
         "null"
        ],
        "minLength": 1,
        "maxLength": 80
       },
       "external_username": {
        "type": [
         "string",
         "null"
        ],
        "minLength": 1,
        "maxLength": 120
       }
      },
      "anyOf": [
       {
        "type": "object",
        "required": [
         "id"
        ],
        "properties": {
         "id": {
          "type": "integer",
          "minimum": 1
         }
        }
       },
       {
        "type": "object",
        "required": [
         "platform",
         "external_username"
        ]
       }
      ],
      "description": "By the hidden row's id, or by channel, platform and external username."
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "platform",
       "username"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "relay-record"
       },
       "platform": {
        "type": "string",
        "minLength": 1,
        "maxLength": 80
       },
       "username": {
        "type": "string",
        "minLength": 1,
        "maxLength": 120
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "identity_key"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "tts-voice-override"
       },
       "identity_key": {
        "type": "string",
        "minLength": 1,
        "maxLength": 120
       },
       "set_by": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "params": {
        "type": [
         "object",
         "null"
        ],
        "required": [
         "voice"
        ],
        "additionalProperties": false,
        "description": "Absent or null: the override is cleared.",
        "properties": {
         "voice": {
          "type": "string",
          "minLength": 1,
          "maxLength": 80
         },
         "pitch": {
          "type": [
           "number",
           "null"
          ],
          "minimum": 0,
          "maximum": 10
         },
         "speed": {
          "type": [
           "number",
           "null"
          ],
          "minimum": 0,
          "maximum": 10
         },
         "gap": {
          "type": [
           "number",
           "null"
          ],
          "minimum": 0,
          "maximum": 10
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "action"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "disconnect"
       },
       "user_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "ip": {
        "anyOf": [
         {
          "type": "string",
          "anyOf": [
           {
            "format": "ipv4"
           },
           {
            "format": "ipv6"
           }
          ]
         },
         {
          "type": "null"
         }
        ]
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       }
      },
      "anyOf": [
       {
        "type": "object",
        "required": [
         "user_id"
        ],
        "properties": {
         "user_id": {
          "type": "integer",
          "minimum": 1
         }
        }
       },
       {
        "type": "object",
        "required": [
         "ip"
        ],
        "properties": {
         "ip": {
          "type": "string",
          "anyOf": [
           {
            "format": "ipv4"
           },
           {
            "format": "ipv6"
           }
          ]
         }
        }
       }
      ],
      "description": "Chat refreshes its ban cache and closes the matching sockets (in one stream, or everywhere)."
     },
     {
      "type": "object",
      "required": [
       "key",
       "action",
       "action_type"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "$ref": "#/components/schemas/chat.moderation-request.v1/$defs/key"
       },
       "action": {
        "const": "log"
       },
       "scope_type": {
        "enum": [
         "site",
         "channel",
         "stream",
         "room",
         null
        ]
       },
       "scope_id": {
        "anyOf": [
         {
          "type": "integer",
          "minimum": 1
         },
         {
          "type": "string",
          "minLength": 1,
          "maxLength": 120
         },
         {
          "type": "null"
         }
        ],
        "description": "A string for scope_type room, otherwise an id."
       },
       "actor_user_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "target_user_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "action_type": {
        "type": "string",
        "minLength": 1,
        "maxLength": 120
       },
       "details": {
        "type": [
         "object",
         "null"
        ],
        "description": "At most 8192 characters as JSON."
       }
      },
      "description": "Append a row to Chat's moderation log."
     }
    ]
   },
   "chat.moderation-result.v1": {
    "title": "ChatModerationResult",
    "description": "chat.moderation-result@1: what POST /internal/chat/moderation (chat.moderation.write) answers. 200 with the ids a delete action removed (empty when nothing matched), or with the rows another action changed and the id it inserted. A refusal is chat.ingress-ack@1's error: 400 a body Chat refuses, 409 a key reused with another body, 503 Chat or its delivery unavailable (retry with the same key).",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "ok",
       "ids"
      ],
      "additionalProperties": false,
      "properties": {
       "ok": {
        "const": true
       },
       "ids": {
        "type": "array",
        "items": {
         "type": "integer"
        },
        "description": "The deleted message ids."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "changes",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "ok": {
        "const": true
       },
       "changes": {
        "type": "integer",
        "minimum": 0
       },
       "id": {
        "type": [
         "integer",
         "null"
        ],
        "description": "The inserted row (a log entry, a hidden relay identity), else null."
       }
      }
     },
     {
      "$ref": "#/components/schemas/chat.ingress-ack.v1/$defs/error"
     }
    ]
   },
   "chat.send-request.v1": {
    "title": "ChatSendRequest",
    "description": "chat.send-request@1: what a sender hands OpenVibe.Chat to post a chat line (chat.message.send). From a browser, a frame on WS /ws/chat of type chat in the room the socket joined (the text is trimmed; empty or longer than 6000 characters is dropped, the channel's own max_message_length is enforced after that; a line starting with ! or / is a command, not a message). From Live's bridge, POST /internal/live/calls: a chat.live_bridge.write batch in which every op that sends a message (a chat or dm frame, db saveChatMessage, deployNotice) also needs chat.message.send; without it that op alone is refused. From a first-party service, POST /internal/chat/messages: one line (or one DM) that Chat stores, broadcasts to the room (with mirror, also to global chat and the streamer rooms), reads aloud (tts) and answers with the real id; applied once per (caller, key), the same key with another body gets 409.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "type",
       "message"
      ],
      "properties": {
       "type": {
        "const": "chat"
       },
       "message": {
        "type": "string",
        "minLength": 1,
        "maxLength": 6000,
        "description": "The text (trimmed by Chat)."
       },
       "reply_to_id": {
        "type": [
         "integer",
         "string"
        ],
        "description": "Id of a visible message in the room this replies to (parseInt; an unknown or deleted parent is ignored)."
       },
       "auto_delete_minutes": {
        "type": [
         "integer",
         "string"
        ],
        "description": "Delete the line after this many minutes (clamped to Chat's minimum and maximum; ignored where the channel turned viewer auto-delete off)."
       },
       "voiceChannelId": {
        "type": "string",
        "description": "The voice channel the sender is in, echoed on the broadcast."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ops"
      ],
      "properties": {
       "boot": {
        "type": "string",
        "maxLength": 64,
        "description": "Live's boot id; placeholder message ids are mapped per boot."
       },
       "ops": {
        "type": "array",
        "maxItems": 500,
        "items": {
         "type": "object",
         "required": [
          "op"
         ],
         "properties": {
          "seq": {
           "type": "integer",
           "description": "Echoed on the result."
          },
          "op": {
           "type": "string",
           "description": "A ChatServer method, a bridge-only op, or db (an allow-listed chat-table write named by args[0])."
          },
          "args": {
           "type": "array"
          },
          "ref": {
           "type": "number",
           "description": "Live's placeholder id for the row this op inserts."
          },
          "key": {
           "type": "string",
           "maxLength": 80,
           "description": "Idempotency key: applied once."
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "key",
       "username",
       "message"
      ],
      "additionalProperties": false,
      "properties": {
       "key": {
        "type": "string",
        "minLength": 1,
        "maxLength": 160,
        "pattern": "^[A-Za-z0-9:._-]+$",
        "description": "Idempotency key, scoped to the caller and to this route."
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "channel_user_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "user_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "anon_id": {
        "type": [
         "string",
         "null"
        ],
        "minLength": 1,
        "maxLength": 80
       },
       "username": {
        "type": "string",
        "minLength": 1,
        "maxLength": 120
       },
       "message": {
        "type": "string",
        "minLength": 1,
        "maxLength": 2000,
        "pattern": "\\S",
        "description": "The text; not blank."
       },
       "message_type": {
        "enum": [
         "chat",
         "system",
         "donation",
         "command",
         "tts",
         "channel-sound",
         "soundboard",
         "clip",
         null
        ]
       },
       "is_global": {
        "type": [
         "boolean",
         "null"
        ],
        "description": "Default: true when there is no stream and no channel."
       },
       "reply_to_id": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "source_platform": {
        "type": [
         "string",
         "null"
        ],
        "minLength": 1,
        "maxLength": 80
       },
       "auto_delete_at": {
        "type": [
         "string",
         "null"
        ],
        "minLength": 1,
        "maxLength": 40,
        "description": "When Chat deletes the line (a date Chat parses)."
       },
       "metadata": {
        "type": [
         "object",
         "null"
        ],
        "description": "At most 8192 characters as JSON."
       },
       "mirror": {
        "type": [
         "boolean",
         "null"
        ],
        "description": "Also send the line to global chat and the streamer rooms."
       },
       "dm": {
        "type": [
         "object",
         "null"
        ],
        "required": [
         "to_user_id"
        ],
        "additionalProperties": false,
        "properties": {
         "to_user_id": {
          "type": "integer",
          "minimum": 1
         }
        },
        "description": "Send a direct message from user_id instead (no room, mirror, tts or frame; 403 if either blocks the other, 404 if either is unknown)."
       },
       "tts": {
        "type": [
         "object",
         "null"
        ],
        "additionalProperties": false,
        "description": "Read the line aloud in its room (needs stream_id or channel_user_id).",
        "properties": {
         "voice": {
          "type": [
           "string",
           "null"
          ],
          "minLength": 1,
          "maxLength": 80
         },
         "identity_key": {
          "type": [
           "string",
           "null"
          ],
          "minLength": 1,
          "maxLength": 120
         },
         "key": {
          "type": [
           "string",
           "null"
          ],
          "minLength": 1,
          "maxLength": 160,
          "description": "Audio key; default m<id>."
         }
        }
       },
       "frame": {
        "type": [
         "object",
         "null"
        ],
        "additionalProperties": false,
        "description": "How the broadcast shows the sender.",
        "properties": {
         "role": {
          "enum": [
           "admin",
           "global_mod",
           "streamer",
           "user",
           "anon",
           "external",
           null
          ]
         },
         "profile_color": {
          "type": [
           "string",
           "null"
          ],
          "pattern": "^#[0-9a-fA-F]{3,8}$"
         },
         "avatar_url": {
          "type": [
           "string",
           "null"
          ],
          "minLength": 1,
          "maxLength": 500
         },
         "is_ai": {
          "type": [
           "boolean",
           "null"
          ]
         },
         "is_bot": {
          "type": [
           "boolean",
           "null"
          ]
         },
         "filtered": {
          "type": [
           "boolean",
           "null"
          ]
         },
         "core_username": {
          "type": [
           "string",
           "null"
          ],
          "minLength": 1,
          "maxLength": 120
         },
         "display_name": {
          "type": [
           "string",
           "null"
          ],
          "minLength": 1,
          "maxLength": 120
         }
        }
       },
       "first_chat_key": {
        "type": [
         "string",
         "null"
        ],
        "minLength": 1,
        "maxLength": 160,
        "pattern": "^(?:user|anon|ext):.",
        "description": "Whose first chat in the channel this is (user:, anon: or ext:); default from user_id or anon_id."
       }
      },
      "allOf": [
       {
        "if": {
         "type": "object",
         "required": [
          "dm"
         ],
         "properties": {
          "dm": {
           "type": "object"
          }
         }
        },
        "then": {
         "type": "object",
         "required": [
          "user_id"
         ],
         "properties": {
          "user_id": {
           "type": "integer",
           "minimum": 1
          },
          "stream_id": {
           "type": "null"
          },
          "channel_user_id": {
           "type": "null"
          },
          "mirror": {
           "enum": [
            false,
            null
           ]
          },
          "tts": {
           "type": "null"
          },
          "frame": {
           "type": "null"
          }
         }
        }
       }
      ]
     }
    ]
   },
   "chat.send-result.v1": {
    "title": "ChatSendResult",
    "description": "chat.send-result@1: what chat.message.send answers. On WS /ws/chat nothing is acknowledged directly: the stored line is broadcast as a chat frame to the room (the sender included; channel lines also reach the homepage global feed), and a refusal (banned, slow mode, held for IP approval, a channel rule, not saved) is a system or error frame to the sender alone. On POST /internal/live/calls, the batch result: one entry per op, in order, where a message op without chat.message.send is { ok: false, code: capability.denied }. On POST /internal/chat/messages: { ok: true, id } with the room (stream_id, channel_user_id) or the DM (conversation_id, to_user_id), or chat.ingress-ack@1's error ({ ok: false, error }).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "type",
       "username",
       "role",
       "message",
       "stream_id",
       "channel_user_id",
       "is_global",
       "timestamp"
      ],
      "properties": {
       "type": {
        "const": "chat"
       },
       "id": {
        "type": "integer",
        "description": "The stored message id."
       },
       "username": {
        "type": "string",
        "description": "Display name, or the anonymous id."
       },
       "core_username": {
        "type": [
         "string",
         "null"
        ],
        "description": "The immutable login handle; null for an anonymous sender."
       },
       "user_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "anon_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "role": {
        "type": "string",
        "description": "The sender's role, anon for an anonymous sender."
       },
       "message": {
        "type": "string"
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "channel_user_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "is_global": {
        "type": "boolean",
        "description": "true for homepage global chat (no stream, no channel)."
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "profile_color": {
        "type": "string"
       },
       "filtered": {
        "type": "boolean"
       },
       "timestamp": {
        "type": "string",
        "format": "date-time"
       },
       "auto_delete_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "voiceChannelId": {
        "type": "string"
       },
       "reply_to": {
        "type": "object",
        "required": [
         "id",
         "username",
         "message"
        ],
        "properties": {
         "id": {
          "type": "integer"
         },
         "username": {
          "type": "string"
         },
         "user_id": {
          "type": [
           "integer",
           "null"
          ]
         },
         "message": {
          "type": "string",
          "description": "The parent's text, cut to 100 characters."
         }
        }
       },
       "nameFX": {
        "description": "Cosmetic name effect."
       },
       "particleFX": {
        "description": "Cosmetic particle effect."
       },
       "hatFX": {
        "description": "Cosmetic hat."
       },
       "voiceFX": {
        "description": "Cosmetic TTS voice effect."
       },
       "tag": {
        "description": "The sender's equipped tag."
       },
       "vip_badge": {
        "description": "The channel's VIP member badge, when cached; otherwise a chat_vip_badge frame follows."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "type",
       "message"
      ],
      "properties": {
       "type": {
        "enum": [
         "system",
         "error"
        ]
       },
       "message": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "results"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "results": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "ok"
         ],
         "properties": {
          "seq": {
           "type": "integer"
          },
          "ok": {
           "type": "boolean"
          },
          "result": {},
          "code": {
           "type": "string"
          },
          "error": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "ok": {
        "const": true
       },
       "id": {
        "type": "integer",
        "description": "The stored message id."
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "channel_user_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "conversation_id": {
        "type": "integer",
        "description": "DM only."
       },
       "to_user_id": {
        "type": "integer",
        "description": "DM only."
       }
      }
     },
     {
      "$ref": "#/components/schemas/chat.ingress-ack.v1/$defs/error"
     }
    ]
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 },
 "x-openvibe-other-bindings": [
  {
   "capability": "chat.message.send",
   "binding": "WS /ws/chat {type:\"chat\"}"
  }
 ]
}
