{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Chat API",
  "version": "0.87.0",
  "description": "Routes of OpenVibe.Chat as the OpenVibe contracts describe them (openvibe-contracts 0.87.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.chat"
  }
 ],
 "paths": {
  "/internal/live/calls": {
   "post": {
    "operationId": "post_internal_live_calls",
    "summary": "Send a chat message to a room the actor is a member of (browsers over the chat socket; first-party services over Chat's service API).",
    "description": "**chat.message.send** (first-party): Send a chat message to a room the actor is a member of (browsers over the chat socket; first-party services over Chat's service API).",
    "tags": [
     "chat.message"
    ],
    "x-openvibe-capabilities": [
     "chat.message.send"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "chat-send",
    "security": [
     {
      "openvibeToken": [
       "chat.message.send"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/chat.send-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.send-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/moderation/channels/{channelId}": {
   "get": {
    "operationId": "get_internal_moderation_channels_channelId",
    "summary": "Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.C",
    "description": "**chat.moderation.read** (internal): Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.Chat owns (plan T3). Loopback only, service token.",
    "tags": [
     "chat.moderation"
    ],
    "x-openvibe-capabilities": [
     "chat.moderation.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "internal-read",
    "security": [
     {
      "openvibeToken": [
       "chat.moderation.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.channel-moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/moderation/channels/{channelId}/emote-count": {
   "get": {
    "operationId": "get_internal_moderation_channels_channelId_emote_count",
    "summary": "Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.C",
    "description": "**chat.moderation.read** (internal): Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.Chat owns (plan T3). Loopback only, service token.",
    "tags": [
     "chat.moderation"
    ],
    "x-openvibe-capabilities": [
     "chat.moderation.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "internal-read",
    "security": [
     {
      "openvibeToken": [
       "chat.moderation.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "channelId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.channel-moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/moderation/users/{userId}/channels": {
   "get": {
    "operationId": "get_internal_moderation_users_userId_channels",
    "summary": "Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.C",
    "description": "**chat.moderation.read** (internal): Read one channel's moderation settings and moderator ids, the channels a person moderates, and a channel's custom emote count: how OpenVibe.Live reads what it needs from the six chat tables OpenVibe.Chat owns (plan T3). Loopback only, service token.",
    "tags": [
     "chat.moderation"
    ],
    "x-openvibe-capabilities": [
     "chat.moderation.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "internal-read",
    "security": [
     {
      "openvibeToken": [
       "chat.moderation.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "userId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/chat.channel-moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "chat.channel-moderation-result.v1": {
    "title": "ChatChannelModerationResult",
    "description": "chat.channel-moderation-result@1: the answer of GET /internal/moderation/channels/:channelId on OpenVibe.Chat (capability chat.moderation.read): { ok: true, settings, moderator_ids } — one channel's moderation settings and the ids of the people who moderate it, for OpenVibe.Live's stream chat. settings carries every channel_moderation_settings column (Live's own defaults when the channel has no row yet, database.js getChannelModerationSettings); the switches are 0/1 as the table stores them. moderator_ids are Live user ids (channel_moderators.user_id), never names. A failure is { ok: false, error }; a caller without the grant gets 401 { ok: false }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "ok",
       "settings",
       "moderator_ids"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "settings": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/settings"
       },
       "moderator_ids": {
        "type": "array",
        "description": "The channel's moderators, oldest first (channel_moderators.created_at); empty when it has none.",
        "items": {
         "type": "integer",
         "minimum": 1
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "error"
      ],
      "properties": {
       "ok": {
        "const": false
       },
       "error": {
        "type": "string"
       }
      }
     }
    ],
    "$defs": {
     "flag": {
      "type": "integer",
      "enum": [
       0,
       1
      ],
      "description": "A switch as the SQLite table stores it."
     },
     "settings": {
      "type": "object",
      "description": "One row of channel_moderation_settings, or Live's defaults for a channel that has no row. Every column is present; the switches are 0/1.",
      "required": [
       "channel_id",
       "slow_mode_seconds",
       "followers_only",
       "emote_only",
       "allow_anonymous",
       "links_allowed",
       "gifs_enabled",
       "account_age_gate_hours",
       "caps_percentage_limit",
       "aggressive_filter",
       "max_message_length",
       "tts_max_length",
       "slur_filter_enabled",
       "slur_filter_use_builtin",
       "slur_filter_terms",
       "slur_filter_regexes",
       "slur_filter_nudge_message",
       "slur_filter_disabled_categories",
       "ip_approval_mode",
       "soundboard_enabled",
       "soundboard_allow_pitch",
       "soundboard_allow_speed",
       "soundboard_banned_ids",
       "viewer_auto_delete_enabled",
       "viewer_delete_all_enabled",
       "custom_emotes_enabled",
       "custom_sounds_enabled",
       "max_sound_seconds",
       "uploads_mods_only",
       "mods_can_edit_about",
       "emote_scale",
       "emote_size_min",
       "emote_size_max",
       "sounds_mods_only",
       "sound_min_speed",
       "sound_max_speed",
       "sound_min_pitch_cents",
       "sound_max_pitch_cents",
       "sub_only"
      ],
      "additionalProperties": false,
      "properties": {
       "channel_id": {
        "type": "integer",
        "minimum": 1
       },
       "slow_mode_seconds": {
        "type": "integer",
        "minimum": 0
       },
       "followers_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "emote_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "allow_anonymous": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "links_allowed": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "gifs_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "account_age_gate_hours": {
        "type": "integer",
        "minimum": 0
       },
       "caps_percentage_limit": {
        "type": "integer",
        "minimum": 0,
        "description": "Percent of a message that may be capitals; 0 means off."
       },
       "aggressive_filter": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "max_message_length": {
        "type": "integer",
        "minimum": 1
       },
       "tts_max_length": {
        "type": "integer",
        "minimum": 1
       },
       "slur_filter_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "slur_filter_use_builtin": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "slur_filter_terms": {
        "type": "string",
        "maxLength": 8192,
        "description": "Extra terms, comma separated; a channel's own filter list, never a network-wide secret."
       },
       "slur_filter_regexes": {
        "type": "string",
        "maxLength": 8192,
        "description": "Extra patterns, one per line."
       },
       "slur_filter_nudge_message": {
        "type": "string",
        "maxLength": 512
       },
       "slur_filter_disabled_categories": {
        "type": "string",
        "description": "A JSON array string of disabled built-in categories ('[]' when none)."
       },
       "ip_approval_mode": {
        "type": "integer",
        "minimum": 0,
        "maximum": 2,
        "description": "0 off, 1 approve before chatting, 2 approved addresses only."
       },
       "soundboard_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "soundboard_allow_pitch": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "soundboard_allow_speed": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "soundboard_banned_ids": {
        "type": "string",
        "maxLength": 8192,
        "description": "Banned channel sound ids, comma separated."
       },
       "viewer_auto_delete_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "viewer_delete_all_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "custom_emotes_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "custom_sounds_enabled": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "max_sound_seconds": {
        "type": "integer",
        "minimum": 1
       },
       "uploads_mods_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "mods_can_edit_about": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "emote_scale": {
        "type": "integer",
        "minimum": 50,
        "maximum": 300,
        "description": "Emote display size in chat, percent of the base height (100 is the default)."
       },
       "emote_size_min": {
        "type": "integer",
        "minimum": 1
       },
       "emote_size_max": {
        "type": "integer",
        "minimum": 1
       },
       "sounds_mods_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "sound_min_speed": {
        "type": "number",
        "exclusiveMinimum": 0
       },
       "sound_max_speed": {
        "type": "number",
        "exclusiveMinimum": 0
       },
       "sound_min_pitch_cents": {
        "type": "integer"
       },
       "sound_max_pitch_cents": {
        "type": "integer"
       },
       "sub_only": {
        "$ref": "#/components/schemas/chat.channel-moderation-result.v1/$defs/flag"
       },
       "donation_sound_url": {
        "type": [
         "string",
         "null"
        ],
        "description": "Optional alert sounds set by the streamer; absent or null when unset."
       },
       "donation_sound_mime": {
        "type": [
         "string",
         "null"
        ]
       },
       "goal_sound_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "goal_sound_mime": {
        "type": [
         "string",
         "null"
        ]
       },
       "updated_at": {
        "type": [
         "string",
         "null"
        ],
        "description": "When the row was last written; absent or null when the channel still has its defaults."
       }
      }
     }
    }
   },
   "chat.send-request.v1": {
    "title": "ChatSendRequest",
    "description": "chat.send-request@1: what a sender hands OpenVibe.Chat to post a chat line (chat.message.send). From a browser, a frame on WS /ws/chat of type chat in the room the socket joined (the text is trimmed; empty or longer than 6000 characters is dropped, the channel's own max_message_length is enforced after that; a line starting with ! or / is a command, not a message). From Live's bridge, POST /internal/live/calls: a chat.live_bridge.write batch in which every op that sends a message (a chat or dm frame, db saveChatMessage, deployNotice) also needs chat.message.send; without it that op alone is refused.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "type",
       "message"
      ],
      "properties": {
       "type": {
        "const": "chat"
       },
       "message": {
        "type": "string",
        "minLength": 1,
        "maxLength": 6000,
        "description": "The text (trimmed by Chat)."
       },
       "reply_to_id": {
        "type": [
         "integer",
         "string"
        ],
        "description": "Id of a visible message in the room this replies to (parseInt; an unknown or deleted parent is ignored)."
       },
       "auto_delete_minutes": {
        "type": [
         "integer",
         "string"
        ],
        "description": "Delete the line after this many minutes (clamped to Chat's minimum and maximum; ignored where the channel turned viewer auto-delete off)."
       },
       "voiceChannelId": {
        "type": "string",
        "description": "The voice channel the sender is in, echoed on the broadcast."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ops"
      ],
      "properties": {
       "boot": {
        "type": "string",
        "maxLength": 64,
        "description": "Live's boot id; placeholder message ids are mapped per boot."
       },
       "ops": {
        "type": "array",
        "maxItems": 500,
        "items": {
         "type": "object",
         "required": [
          "op"
         ],
         "properties": {
          "seq": {
           "type": "integer",
           "description": "Echoed on the result."
          },
          "op": {
           "type": "string",
           "description": "A ChatServer method, a bridge-only op, or db (an allow-listed chat-table write named by args[0])."
          },
          "args": {
           "type": "array"
          },
          "ref": {
           "type": "number",
           "description": "Live's placeholder id for the row this op inserts."
          },
          "key": {
           "type": "string",
           "maxLength": 80,
           "description": "Idempotency key: applied once."
          }
         }
        }
       }
      }
     }
    ]
   },
   "chat.send-result.v1": {
    "title": "ChatSendResult",
    "description": "chat.send-result@1: what chat.message.send answers. On WS /ws/chat nothing is acknowledged directly: the stored line is broadcast as a chat frame to the room (the sender included; channel lines also reach the homepage global feed), and a refusal (banned, slow mode, held for IP approval, a channel rule, not saved) is a system or error frame to the sender alone. On POST /internal/live/calls, the batch result: one entry per op, in order, where a message op without chat.message.send is { ok: false, code: capability.denied }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "type",
       "username",
       "role",
       "message",
       "stream_id",
       "channel_user_id",
       "is_global",
       "timestamp"
      ],
      "properties": {
       "type": {
        "const": "chat"
       },
       "id": {
        "type": "integer",
        "description": "The stored message id."
       },
       "username": {
        "type": "string",
        "description": "Display name, or the anonymous id."
       },
       "core_username": {
        "type": [
         "string",
         "null"
        ],
        "description": "The immutable login handle; null for an anonymous sender."
       },
       "user_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "anon_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "role": {
        "type": "string",
        "description": "The sender's role, anon for an anonymous sender."
       },
       "message": {
        "type": "string"
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "channel_user_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "is_global": {
        "type": "boolean",
        "description": "true for homepage global chat (no stream, no channel)."
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "profile_color": {
        "type": "string"
       },
       "filtered": {
        "type": "boolean"
       },
       "timestamp": {
        "type": "string",
        "format": "date-time"
       },
       "auto_delete_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "voiceChannelId": {
        "type": "string"
       },
       "reply_to": {
        "type": "object",
        "required": [
         "id",
         "username",
         "message"
        ],
        "properties": {
         "id": {
          "type": "integer"
         },
         "username": {
          "type": "string"
         },
         "user_id": {
          "type": [
           "integer",
           "null"
          ]
         },
         "message": {
          "type": "string",
          "description": "The parent's text, cut to 100 characters."
         }
        }
       },
       "nameFX": {
        "description": "Cosmetic name effect."
       },
       "particleFX": {
        "description": "Cosmetic particle effect."
       },
       "hatFX": {
        "description": "Cosmetic hat."
       },
       "voiceFX": {
        "description": "Cosmetic TTS voice effect."
       },
       "tag": {
        "description": "The sender's equipped tag."
       },
       "vip_badge": {
        "description": "The channel's VIP member badge, when cached; otherwise a chat_vip_badge frame follows."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "type",
       "message"
      ],
      "properties": {
       "type": {
        "enum": [
         "system",
         "error"
        ]
       },
       "message": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "results"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "results": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "ok"
         ],
         "properties": {
          "seq": {
           "type": "integer"
          },
          "ok": {
           "type": "boolean"
          },
          "result": {},
          "code": {
           "type": "string"
          },
          "error": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    ]
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 },
 "x-openvibe-other-bindings": [
  {
   "capability": "chat.message.send",
   "binding": "WS /ws/chat {type:\"chat\"}"
  }
 ]
}
