{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Codes API",
  "version": "0.51.0",
  "description": "Routes of OpenVibe.Codes as the OpenVibe contracts describe them (openvibe-contracts 0.51.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.codes"
  }
 ],
 "paths": {
  "/api/v1/apps/{app}/releases": {
   "get": {
    "operationId": "get_api_v1_apps_app_releases",
    "summary": "Read public release metadata: an app's published, deprecated and revoked releases with their manifests, compatibility ranges and the app's trust tier (metadata only; it never grants anything).",
    "description": "**codes.release.read** (public): Read public release metadata: an app's published, deprecated and revoked releases with their manifests, compatibility ranges and the app's trust tier (metadata only; it never grants anything). Drafts are never returned. Public; no token needed.",
    "tags": [
     "codes.release"
    ],
    "x-openvibe-capabilities": [
     "codes.release.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "codes-read",
    "security": [
     {
      "openvibeToken": [
       "codes.release.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "app",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/codes.release-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_apps_app_releases",
    "summary": "An app manages release metadata for ITSELF with its own token (audience openvibe.codes): create a release from a validated app or mod manifest, publish, deprecate (with a reason and an optional replac",
    "description": "**codes.release.manage** (public): An app manages release metadata for ITSELF with its own token (audience openvibe.codes): create a release from a validated app or mod manifest, publish, deprecate (with a reason and an optional replacement) and revoke it. The token's sub must be app:<the app in the path>; people manage releases in the portal with their project role instead. Trust tiers are not part of this capability (staff metadata only).",
    "tags": [
     "codes.release"
    ],
    "x-openvibe-capabilities": [
     "codes.release.manage"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "codes-release-write",
    "security": [
     {
      "openvibeToken": [
       "codes.release.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/codes.release-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "app",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/codes.release-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/apps/{app}/trust": {
   "get": {
    "operationId": "get_api_v1_apps_app_trust",
    "summary": "Read public release metadata: an app's published, deprecated and revoked releases with their manifests, compatibility ranges and the app's trust tier (metadata only; it never grants anything).",
    "description": "**codes.release.read** (public): Read public release metadata: an app's published, deprecated and revoked releases with their manifests, compatibility ranges and the app's trust tier (metadata only; it never grants anything). Drafts are never returned. Public; no token needed.",
    "tags": [
     "codes.release"
    ],
    "x-openvibe-capabilities": [
     "codes.release.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "codes-read",
    "security": [
     {
      "openvibeToken": [
       "codes.release.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "app",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/codes.release-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/releases/{id}": {
   "get": {
    "operationId": "get_api_v1_releases_id",
    "summary": "Read public release metadata: an app's published, deprecated and revoked releases with their manifests, compatibility ranges and the app's trust tier (metadata only; it never grants anything).",
    "description": "**codes.release.read** (public): Read public release metadata: an app's published, deprecated and revoked releases with their manifests, compatibility ranges and the app's trust tier (metadata only; it never grants anything). Drafts are never returned. Public; no token needed.",
    "tags": [
     "codes.release"
    ],
    "x-openvibe-capabilities": [
     "codes.release.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "codes-read",
    "security": [
     {
      "openvibeToken": [
       "codes.release.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/codes.release-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/releases/{id}/deprecate": {
   "post": {
    "operationId": "post_api_v1_releases_id_deprecate",
    "summary": "An app manages release metadata for ITSELF with its own token (audience openvibe.codes): create a release from a validated app or mod manifest, publish, deprecate (with a reason and an optional replac",
    "description": "**codes.release.manage** (public): An app manages release metadata for ITSELF with its own token (audience openvibe.codes): create a release from a validated app or mod manifest, publish, deprecate (with a reason and an optional replacement) and revoke it. The token's sub must be app:<the app in the path>; people manage releases in the portal with their project role instead. Trust tiers are not part of this capability (staff metadata only).",
    "tags": [
     "codes.release"
    ],
    "x-openvibe-capabilities": [
     "codes.release.manage"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "codes-release-write",
    "security": [
     {
      "openvibeToken": [
       "codes.release.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/codes.release-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/codes.release-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/releases/{id}/publish": {
   "post": {
    "operationId": "post_api_v1_releases_id_publish",
    "summary": "An app manages release metadata for ITSELF with its own token (audience openvibe.codes): create a release from a validated app or mod manifest, publish, deprecate (with a reason and an optional replac",
    "description": "**codes.release.manage** (public): An app manages release metadata for ITSELF with its own token (audience openvibe.codes): create a release from a validated app or mod manifest, publish, deprecate (with a reason and an optional replacement) and revoke it. The token's sub must be app:<the app in the path>; people manage releases in the portal with their project role instead. Trust tiers are not part of this capability (staff metadata only).",
    "tags": [
     "codes.release"
    ],
    "x-openvibe-capabilities": [
     "codes.release.manage"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "codes-release-write",
    "security": [
     {
      "openvibeToken": [
       "codes.release.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/codes.release-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/codes.release-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/releases/{id}/revoke": {
   "post": {
    "operationId": "post_api_v1_releases_id_revoke",
    "summary": "An app manages release metadata for ITSELF with its own token (audience openvibe.codes): create a release from a validated app or mod manifest, publish, deprecate (with a reason and an optional replac",
    "description": "**codes.release.manage** (public): An app manages release metadata for ITSELF with its own token (audience openvibe.codes): create a release from a validated app or mod manifest, publish, deprecate (with a reason and an optional replacement) and revoke it. The token's sub must be app:<the app in the path>; people manage releases in the portal with their project role instead. Trust tiers are not part of this capability (staff metadata only).",
    "tags": [
     "codes.release"
    ],
    "x-openvibe-capabilities": [
     "codes.release.manage"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "codes-release-write",
    "security": [
     {
      "openvibeToken": [
       "codes.release.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/codes.release-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/codes.release-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "codes.app-manifest.v1": {
    "title": "AppManifest",
    "description": "PROPOSAL (OpenVibe.Codes, roadmap Wave 20): an app release as the platform knows it. The app is a Network developer app (ADR-014): its id is the Network app id, its capabilities are only a request (the grants in Network are the authority), and trust tiers are metadata that never change a grant check. OpenVibe.Codes validates with this schema, loaded into openvibe-contracts' validator, until Contracts publishes it as codes.app-manifest@1.",
    "type": "object",
    "required": [
     "id",
     "name",
     "version",
     "publisher",
     "project_id",
     "capabilities",
     "compatibility"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The Network app id (its client_id). Its principal subject is app:<id>."
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "version": {
      "type": "string",
      "pattern": "^(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)(-[0-9A-Za-z.-]+)?$",
      "description": "Semantic version of this release."
     },
     "description": {
      "type": "string",
      "maxLength": 1000
     },
     "publisher": {
      "$ref": "#/components/schemas/identity.subject-ref.v1",
      "description": "Who publishes the release: the app itself or a member of its project."
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The Network project that owns the app. Tenancy in other services is keyed by it (ADR-014)."
     },
     "environment": {
      "enum": [
       "sandbox",
       "production"
      ],
      "description": "The app's environment. Apps never change environment."
     },
     "capabilities": {
      "description": "Capability ids the app asks for (3+ segments). Only active public (or partner, by staff allowance) capabilities can ever be granted to apps.",
      "type": "array",
      "maxItems": 64,
      "uniqueItems": true,
      "items": {
       "type": "string",
       "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
      }
     },
     "events": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "consumes": {
        "description": "Event types (or a trailing .* family) the app subscribes to.",
        "type": "array",
        "maxItems": 64,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*(\\.\\*)?$"
        }
       }
      }
     },
     "redirect_uris": {
      "description": "Informational copy of the redirect URIs registered in Network (Network's list is the authority).",
      "type": "array",
      "maxItems": 10,
      "uniqueItems": true,
      "items": {
       "type": "string",
       "maxLength": 500
      }
     },
     "homepage": {
      "type": "string",
      "pattern": "^https://[^\\s]{1,2000}$"
     },
     "repository": {
      "type": "string",
      "pattern": "^https://[^\\s]{1,2000}$"
     },
     "license": {
      "type": "string",
      "minLength": 1,
      "maxLength": 100,
      "description": "SPDX license expression."
     },
     "compatibility": {
      "type": "object",
      "required": [
       "contracts"
      ],
      "additionalProperties": false,
      "properties": {
       "contracts": {
        "type": "string",
        "minLength": 1,
        "maxLength": 100,
        "description": "Semver range of openvibe-contracts releases it was built against."
       },
       "sdk": {
        "type": "string",
        "minLength": 1,
        "maxLength": 100,
        "description": "Semver range of openvibe-sdk releases it uses."
       }
      }
     }
    }
   },
   "codes.release-manage-request.v1": {
    "title": "CodesReleaseManageRequest",
    "description": "codes.release-manage-request@1: bodies of codes.release.manage on OpenVibe.Codes (an app token managing its own releases). POST /api/v1/apps/:app/releases: { kind?, manifest, notes?, publish? } — kind mod or app (anything else is app); manifest must validate as codes.app-manifest@1 for an app or mods.mod-manifest@1 for a mod (422 manifest.invalid with the validation otherwise; a version that already has a release is 409); notes are cut to 2000 characters; publish true publishes the draft at once. POST /api/v1/releases/:id/deprecate: { reason, replacement? } (a reason is required, cut to 500 characters; replacement must be a published release of the same app). POST /api/v1/releases/:id/revoke: { reason } (required). POST /api/v1/releases/:id/publish takes no body. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "manifest"
      ],
      "properties": {
       "kind": {
        "type": "string",
        "description": "mod, or app (the default)."
       },
       "manifest": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/codes.app-manifest.v1"
         },
         {
          "$ref": "#/components/schemas/mods.mod-manifest.v1"
         }
        ]
       },
       "notes": {
        "type": [
         "string",
         "null"
        ]
       },
       "publish": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "reason"
      ],
      "properties": {
       "reason": {
        "type": "string",
        "minLength": 1,
        "pattern": "\\S"
       },
       "replacement": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^(rel_[0-9A-HJKMNP-TV-Z]{26})?$"
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "codes.release-manage-result.v1": {
    "title": "CodesReleaseManageResult",
    "description": "codes.release-manage-result@1: answers of codes.release.manage on OpenVibe.Codes (an app token managing its own releases). POST /api/v1/apps/:app/releases → 201 { release, warnings } (a draft, or published at once with publish: true; manifest validation warnings); POST /api/v1/releases/:id/publish | deprecate | revoke → { release, event_id } (the codes.release.* event announcing it; null when a revoke announced nothing). Refusals are problem+json: 401 auth.required, 403 release.forbidden (another app's release), 409 release.not_draft, 422 with validation errors.",
    "type": "object",
    "required": [
     "release"
    ],
    "properties": {
     "release": {
      "$ref": "#/components/schemas/codes.release.v1"
     },
     "warnings": {
      "type": "array",
      "items": {}
     },
     "event_id": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "codes.release-read-result.v1": {
    "title": "CodesReleaseReadResult",
    "description": "codes.release-read-result@1: answers of codes.release.read on OpenVibe.Codes (public; no token needed, but a token that is presented must hold the capability; never drafts). GET /api/v1/apps/:app/releases → { app_id, trust, releases } (published, deprecated and revoked releases, newest first); GET /api/v1/apps/:app/trust → { app_id, tier, note, set_by, set_at, note_on_authority } (metadata only: grants in OpenVibe.Network are the authority); GET /api/v1/releases/:id → { release, manifest } (the manifest as published: codes.app-manifest@1 for an app, mods.mod-manifest@1 for a mod). An id that is not an app or a release is 404.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "app_id",
       "trust",
       "releases"
      ],
      "properties": {
       "app_id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "trust": {
        "type": "object",
        "required": [
         "tier"
        ],
        "properties": {
         "tier": {
          "type": "string"
         },
         "note": {
          "type": [
           "string",
           "null"
          ]
         },
         "set_by": {
          "type": [
           "string",
           "null"
          ]
         },
         "set_at": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       },
       "releases": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/codes.release.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "app_id",
       "tier",
       "note_on_authority"
      ],
      "properties": {
       "app_id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "tier": {
        "type": "string"
       },
       "note": {
        "type": [
         "string",
         "null"
        ]
       },
       "set_by": {
        "type": [
         "string",
         "null"
        ]
       },
       "set_at": {
        "type": [
         "string",
         "null"
        ]
       },
       "note_on_authority": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "release",
       "manifest"
      ],
      "properties": {
       "release": {
        "$ref": "#/components/schemas/codes.release.v1"
       },
       "manifest": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/codes.app-manifest.v1"
         },
         {
          "$ref": "#/components/schemas/mods.mod-manifest.v1"
         },
         {
          "type": "null"
         }
        ]
       }
      }
     }
    ]
   },
   "codes.release.v1": {
    "title": "CodesRelease",
    "description": "codes.release@1: one release of an app or mod as OpenVibe.Codes presents it (server/domain/releases.js view): its lifecycle (draft → published → deprecated or revoked), compatibility ranges and the app's trust tier (metadata only; grants in OpenVibe.Network are the authority). The manifest itself is served separately (codes.app-manifest@1).",
    "type": "object",
    "required": [
     "id",
     "app_id",
     "kind",
     "name",
     "version",
     "status",
     "manifest_id",
     "created_at",
     "trust"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^rel_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "app_id": {
      "type": "string",
      "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "project_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "environment": {
      "enum": [
       "production",
       "sandbox"
      ]
     },
     "kind": {
      "enum": [
       "app",
       "mod"
      ]
     },
     "subject_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "name": {
      "type": "string"
     },
     "version": {
      "type": "string"
     },
     "status": {
      "enum": [
       "draft",
       "published",
       "deprecated",
       "revoked"
      ]
     },
     "manifest_id": {
      "type": "string"
     },
     "compatibility": {
      "type": "object"
     },
     "notes": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string"
     },
     "created_by": {
      "type": [
       "string",
       "null"
      ]
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "deprecated_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "deprecation_reason": {
      "type": [
       "string",
       "null"
      ]
     },
     "replacement": {
      "type": [
       "string",
       "null"
      ]
     },
     "revoked_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "revocation_reason": {
      "type": [
       "string",
       "null"
      ]
     },
     "trust": {
      "type": "object",
      "required": [
       "tier"
      ],
      "properties": {
       "tier": {
        "type": "string"
       },
       "note": {
        "type": [
         "string",
         "null"
        ]
       },
       "set_by": {
        "type": [
         "string",
         "null"
        ]
       },
       "set_at": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     }
    }
   },
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     }
    ]
   },
   "media.media-ref.v1": {
    "title": "MediaRef",
    "description": "Reference to a Media object. Canonical ids (med_<ULID>) arrive with the Wave 4 object model; until then legacy:<app>:<kind>:<id> addresses today's VOD/clip/file/paste/thumbnail rows.",
    "type": "object",
    "required": [
     "media_id"
    ],
    "additionalProperties": false,
    "properties": {
     "media_id": {
      "type": "string",
      "pattern": "^(med_[0-9A-HJKMNP-TV-Z]{26}|legacy:[a-z][a-z0-9-]{1,39}:(vod|clip|file|paste|thumbnail|avatar):[A-Za-z0-9._/-]{1,200})$"
     },
     "role": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$"
     },
     "variant": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9_-]{0,39}$"
     }
    }
   },
   "mods.mod-manifest.v1": {
    "title": "ModManifest",
    "description": "A mod as the platform knows it (ADR-013): who publishes it, which runtime runs it, which capabilities it asks for and the resources it may use. Requested capabilities are only a request: the install's approved subset is the grant, and trust tiers are install metadata that never change a grant check. The runtime-specific payload (a data pack, a script bundle) is not part of the manifest. 1.1.0 (openvibe-contracts v0.34.0) adds the optional permissions.readGrants and writeGrants, billingHooks and dependencies (ADR-013 amendment of 2026-09-24); every 1.0.0 manifest stays valid.",
    "type": "object",
    "required": [
     "id",
     "name",
     "version",
     "publisher",
     "target",
     "runtime",
     "permissions",
     "resources",
     "compatibility"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Stable mod id; its principal subject is mod:<id>."
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "version": {
      "type": "string",
      "pattern": "^(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)(-[0-9A-Za-z.-]+)?$",
      "description": "Semantic version of this release."
     },
     "description": {
      "type": "string",
      "maxLength": 1000
     },
     "publisher": {
      "$ref": "#/components/schemas/identity.subject-ref.v1",
      "description": "Who publishes the mod (a user or an app subject)."
     },
     "target": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}\\.[a-z][a-z0-9-]{1,39}$",
      "description": "Where the mod runs: <service>.<surface>, e.g. games.browser, games.source, live.overlay."
     },
     "runtime": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}@[1-9][0-9]{0,3}$",
      "description": "Runtime adapter and its major version, e.g. games-content@1 (declarative data pack) or source-quickjs@1."
     },
     "permissions": {
      "type": "object",
      "required": [
       "capabilities"
      ],
      "additionalProperties": false,
      "properties": {
       "capabilities": {
        "description": "Capability ids the mod asks for (3+ segments). The target runtime binds only those it implements, and only once granted.",
        "type": "array",
        "maxItems": 64,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
        }
       },
       "events": {
        "description": "Event types the mod wants delivered to it.",
        "type": "array",
        "maxItems": 64,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
        }
       },
       "modules": {
        "description": "User-module namespaces the mod wants to read or write (a trailing .* names a family). A namespace listed here may be read and written; readGrants and writeGrants (1.1.0) say which.",
        "type": "array",
        "maxItems": 32,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*(\\.\\*)?$"
        }
       },
       "mediaNamespaces": {
        "description": "Media namespaces the mod wants to read or write. A namespace listed here may be read and written; readGrants and writeGrants (1.1.0) say which.",
        "type": "array",
        "maxItems": 32,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)*$"
        }
       },
       "readGrants": {
        "description": "1.1.0: namespaces the mod may only read. A namespace that is only here is read-only. The install's approved subset is still the grant.",
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
         "modules": {
          "description": "User-module namespaces (a trailing .* names a family).",
          "type": "array",
          "maxItems": 32,
          "uniqueItems": true,
          "items": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*(\\.\\*)?$"
          }
         },
         "mediaNamespaces": {
          "description": "Media namespaces.",
          "type": "array",
          "maxItems": 32,
          "uniqueItems": true,
          "items": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)*$"
          }
         }
        }
       },
       "writeGrants": {
        "description": "1.1.0: namespaces the mod may read and write. A write needs the namespace here, or in the older modules and mediaNamespaces lists, which mean read and write.",
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
         "modules": {
          "description": "User-module namespaces (a trailing .* names a family).",
          "type": "array",
          "maxItems": 32,
          "uniqueItems": true,
          "items": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*(\\.\\*)?$"
          }
         },
         "mediaNamespaces": {
          "description": "Media namespaces.",
          "type": "array",
          "maxItems": 32,
          "uniqueItems": true,
          "items": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)*$"
          }
         }
        }
       }
      }
     },
     "resources": {
      "type": "object",
      "required": [
       "cpuMs",
       "memoryMb",
       "storageMb"
      ],
      "additionalProperties": false,
      "description": "The budget the mod asks for. Runtimes meter it; the sandbox that enforces it lives in OpenVibe.Host (Stage C).",
      "properties": {
       "cpuMs": {
        "type": "number",
        "minimum": 0,
        "maximum": 1000,
        "description": "CPU milliseconds per tick (game runtimes) or per request."
       },
       "memoryMb": {
        "type": "integer",
        "minimum": 0,
        "maximum": 4096
       },
       "storageMb": {
        "type": "integer",
        "minimum": 0,
        "maximum": 102400
       },
       "outboundHosts": {
        "description": "Hosts the mod may reach over the network. Empty or absent = none.",
        "type": "array",
        "maxItems": 32,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^(?=.{1,253}$)([a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?\\.)+[a-z]{2,63}$"
        }
       }
      }
     },
     "assets": {
      "description": "Assets the mod ships, as Media object references.",
      "type": "array",
      "maxItems": 256,
      "items": {
       "$ref": "#/components/schemas/media.media-ref.v1"
      }
     },
     "compatibility": {
      "type": "object",
      "required": [
       "runtime"
      ],
      "additionalProperties": false,
      "properties": {
       "runtime": {
        "type": "string",
        "minLength": 1,
        "maxLength": 100,
        "description": "Semver range of the runtime this release works with, e.g. \">=1.0.0 <2.0.0\"."
       },
       "contracts": {
        "type": "string",
        "minLength": 1,
        "maxLength": 100,
        "description": "Semver range of openvibe-contracts releases it was built against."
       }
      }
     },
     "homepage": {
      "type": "string",
      "pattern": "^https://[^\\s]{1,2000}$"
     },
     "billingHooks": {
      "description": "1.1.0: how the mod takes part in money, only through Billing and VIP primitives (ADR-013 amendment, ADR-012). entitlement: the mod checks that the person holds this entitlement (billing.entitlement.check or vip.entitlement.check, granted like any other capability). checkout: the mod sends the person to the platform's own checkout for this plan (vip.membership.checkout or a Billing intent). A mod never takes payment, sees payment details or holds a balance. Prices live in Billing and VIP, never in the manifest.",
      "type": "array",
      "maxItems": 32,
      "items": {
       "type": "object",
       "required": [
        "kind",
        "key"
       ],
       "additionalProperties": false,
       "properties": {
        "kind": {
         "enum": [
          "entitlement",
          "checkout"
         ]
        },
        "key": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_.:-]{0,127}$",
         "description": "The entitlement or plan key as Billing and VIP name it, e.g. vip.plan:pln_01jab… (lowercase, the form search.index-document@1 acl.entitlements uses)."
        },
        "description": {
         "type": "string",
         "minLength": 1,
         "maxLength": 200,
         "description": "What it unlocks or sells, shown at install."
        }
       }
      }
     },
     "dependencies": {
      "description": "1.1.0: other mods this release needs. A runtime refuses to enable the mod while a required dependency is not installed, not enabled or outside its range. An optional one is used only when present.",
      "type": "array",
      "maxItems": 32,
      "uniqueItems": true,
      "items": {
       "type": "object",
       "required": [
        "id",
        "version"
       ],
       "additionalProperties": false,
       "properties": {
        "id": {
         "type": "string",
         "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "version": {
         "type": "string",
         "minLength": 1,
         "maxLength": 100,
         "description": "Semver range of the dependency's releases this release works with, e.g. \">=1.2.0 <2.0.0\"."
        },
        "optional": {
         "type": "boolean",
         "default": false
        }
       }
      }
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
