{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Community API",
  "version": "0.64.0",
  "description": "Routes of OpenVibe.Community as the OpenVibe contracts describe them (openvibe-contracts 0.64.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.community"
  }
 ],
 "paths": {
  "/api/pastes": {
   "post": {
    "operationId": "post_api_pastes",
    "summary": "Create a paste (text or screenshot).",
    "description": "**community.paste.create** (public): Create a paste (text or screenshot). A service token creates it for the acting subject named in X-OV-Subject, or as origin \"ai\" for derived pastes (roadmap 33).\n\nRoute note: Community",
    "tags": [
     "community.paste"
    ],
    "x-openvibe-capabilities": [
     "community.paste.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.paste.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.paste-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.paste-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/pastes/{slug}": {
   "delete": {
    "operationId": "delete_api_pastes_slug",
    "summary": "Edit, delete, fork, like, copy and comment on pastes as the acting subject (X-OV-Subject).",
    "description": "**community.paste.write** (first-party): Edit, delete, fork, like, copy and comment on pastes as the acting subject (X-OV-Subject). Ownership is checked by Community, never by the caller.",
    "tags": [
     "community.paste"
    ],
    "x-openvibe-capabilities": [
     "community.paste.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.paste.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/community.paste-write-request.v1"
    },
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.paste-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_pastes_slug",
    "summary": "Edit, delete, fork, like, copy and comment on pastes as the acting subject (X-OV-Subject).",
    "description": "**community.paste.write** (first-party): Edit, delete, fork, like, copy and comment on pastes as the acting subject (X-OV-Subject). Ownership is checked by Community, never by the caller.",
    "tags": [
     "community.paste"
    ],
    "x-openvibe-capabilities": [
     "community.paste.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.paste.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.paste-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.paste-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/pastes/{slug}/{fork,like,copy,comments}": {
   "post": {
    "operationId": "post_api_pastes_slug_fork_like_copy_comments",
    "summary": "Edit, delete, fork, like, copy and comment on pastes as the acting subject (X-OV-Subject).",
    "description": "**community.paste.write** (first-party): Edit, delete, fork, like, copy and comment on pastes as the acting subject (X-OV-Subject). Ownership is checked by Community, never by the caller.",
    "tags": [
     "community.paste"
    ],
    "x-openvibe-capabilities": [
     "community.paste.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.paste.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.paste-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "fork,like,copy,comments",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.paste-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/pastes/{slug}/censor": {
   "post": {
    "operationId": "post_api_pastes_slug_censor",
    "summary": "Staff moderation of any paste or comment (censor, delete, bulk).",
    "description": "**community.paste.moderate** (internal): Staff moderation of any paste or comment (censor, delete, bulk). The caller vouches that the acting subject is staff.",
    "tags": [
     "community.paste"
    ],
    "x-openvibe-capabilities": [
     "community.paste.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.paste.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.paste-moderate-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.paste-moderate-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/pastes/{slug}/comments/{id}": {
   "delete": {
    "operationId": "delete_api_pastes_slug_comments_id",
    "summary": "Staff moderation of any paste or comment (censor, delete, bulk).",
    "description": "**community.paste.moderate** (internal): Staff moderation of any paste or comment (censor, delete, bulk). The caller vouches that the acting subject is staff.",
    "tags": [
     "community.paste"
    ],
    "x-openvibe-capabilities": [
     "community.paste.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.paste.moderate"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/community.paste-moderate-request.v1"
    },
    "parameters": [
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.paste-moderate-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/pastes/bulk": {
   "post": {
    "operationId": "post_api_pastes_bulk",
    "summary": "Staff moderation of any paste or comment (censor, delete, bulk).",
    "description": "**community.paste.moderate** (internal): Staff moderation of any paste or comment (censor, delete, bulk). The caller vouches that the acting subject is staff.",
    "tags": [
     "community.paste"
    ],
    "x-openvibe-capabilities": [
     "community.paste.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.paste.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.paste-moderate-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.paste-moderate-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/comments/{commentId}": {
   "delete": {
    "operationId": "delete_api_v1_comments_commentId",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.\n\n**community.comment.write** (first-party): Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Subject), or comment as origin \"ai\" (never attributed to a person, roadmap 33). Ownership and limits are checked by Community.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate",
     "community.comment.write"
    ],
    "x-openvibe-visibility": [
     "internal",
     "first-party"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     },
     {
      "openvibeToken": [
       "community.comment.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "anyOf": [
      {
       "$ref": "#/components/schemas/community.moderation-request.v1"
      },
      {
       "$ref": "#/components/schemas/community.comment-write-request.v1"
      }
     ]
    },
    "parameters": [
     {
      "name": "commentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/community.moderation-result.v1"
          },
          {
           "$ref": "#/components/schemas/community.comment-write-result.v1"
          }
         ]
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/comments/{commentId}/votes": {
   "post": {
    "operationId": "post_api_v1_comments_commentId_votes",
    "summary": "Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Sub",
    "description": "**community.comment.write** (first-party): Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Subject), or comment as origin \"ai\" (never attributed to a person, roadmap 33). Ownership and limits are checked by Community.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.comment.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.comment-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "commentId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.comment-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/comments/threads/{id}": {
   "get": {
    "operationId": "get_api_v1_comments_threads_id",
    "summary": "Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Sub",
    "description": "**community.comment.write** (first-party): Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Subject), or comment as origin \"ai\" (never attributed to a person, roadmap 33). Ownership and limits are checked by Community.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.comment.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/community.comment-write-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.comment-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/comments/threads/{id}/comments": {
   "post": {
    "operationId": "post_api_v1_comments_threads_id_comments",
    "summary": "Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Sub",
    "description": "**community.comment.write** (first-party): Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Subject), or comment as origin \"ai\" (never attributed to a person, roadmap 33). Ownership and limits are checked by Community.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.comment.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.comment-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.comment-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/comments/threads/{id}/visibility": {
   "put": {
    "operationId": "put_api_v1_comments_threads_id_visibility",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.moderation-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/comments/threads/resolve": {
   "post": {
    "operationId": "post_api_v1_comments_threads_resolve",
    "summary": "Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Sub",
    "description": "**community.comment.write** (first-party): Typed comment threads as a service: resolve the thread of any EntityRef (browsers are limited to an allowlist of types), and comment, vote and delete one's own comments as the acting subject (X-OV-Subject), or comment as origin \"ai\" (never attributed to a person, roadmap 33). Ownership and limits are checked by Community.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.comment.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.comment-write-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.comment-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/posts/{id}": {
   "delete": {
    "operationId": "delete_api_v1_posts_id",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.\n\n**community.post.create** (public): Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by Community.",
    "tags": [
     "community.comment",
     "community.post"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate",
     "community.post.create"
    ],
    "x-openvibe-visibility": [
     "internal",
     "public"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     },
     {
      "openvibeToken": [
       "community.post.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "anyOf": [
      {
       "$ref": "#/components/schemas/community.moderation-request.v1"
      },
      {
       "$ref": "#/components/schemas/community.post-write-request.v1"
      }
     ]
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/community.moderation-result.v1"
          },
          {
           "$ref": "#/components/schemas/community.post-write-result.v1"
          }
         ]
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_posts_id",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.\n\n**community.post.create** (public): Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by Community.",
    "tags": [
     "community.comment",
     "community.post"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate",
     "community.post.create"
    ],
    "x-openvibe-visibility": [
     "internal",
     "public"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     },
     {
      "openvibeToken": [
       "community.post.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/community.moderation-request.v1"
         },
         {
          "$ref": "#/components/schemas/community.post-write-request.v1"
         }
        ]
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/community.moderation-result.v1"
          },
          {
           "$ref": "#/components/schemas/community.post-write-result.v1"
          }
         ]
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pulse": {
   "get": {
    "operationId": "get_api_v1_pulse",
    "summary": "Read the network's public activity feed (Pulse): entity reference, title, URL and origin (user, ai or system), newest first with a cursor.",
    "description": "**community.pulse.read** (public): Read the network's public activity feed (Pulse): entity reference, title, URL and origin (user, ai or system), newest first with a cursor. Only public items are ever stored. Served to anyone (CORS allow-list for browsers). Live's /api/home/pulse is a different, Live-only feed.",
    "tags": [
     "community.pulse"
    ],
    "x-openvibe-capabilities": [
     "community.pulse.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.pulse.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.pulse-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pulse/items": {
   "post": {
    "operationId": "post_api_v1_pulse_items",
    "summary": "Publish public activity of the calling service's own entities to Pulse (EntityRef + title + url + origin user|ai|system + occurred_at), or retract it.",
    "description": "**community.pulse.write** (first-party): Publish public activity of the calling service's own entities to Pulse (EntityRef + title + url + origin user|ai|system + occurred_at), or retract it. Only visibility public is accepted; the ref's service must be the caller's. Provenance is kept: the first record's origin, actor (X-OV-Subject, never for ai/system) and time stand.",
    "tags": [
     "community.pulse"
    ],
    "x-openvibe-capabilities": [
     "community.pulse.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.pulse.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.pulse-write-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.pulse-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pulse/items/{service}/{type}/{id}": {
   "delete": {
    "operationId": "delete_api_v1_pulse_items_service_type_id",
    "summary": "Publish public activity of the calling service's own entities to Pulse (EntityRef + title + url + origin user|ai|system + occurred_at), or retract it.",
    "description": "**community.pulse.write** (first-party): Publish public activity of the calling service's own entities to Pulse (EntityRef + title + url + origin user|ai|system + occurred_at), or retract it. Only visibility public is accepted; the ref's service must be the caller's. Provenance is kept: the first record's origin, actor (X-OV-Subject, never for ai/system) and time stand.",
    "tags": [
     "community.pulse"
    ],
    "x-openvibe-capabilities": [
     "community.pulse.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.pulse.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/community.pulse-write-request.v1"
    },
    "parameters": [
     {
      "name": "service",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.pulse-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/relay/*": {
   "get": {
    "operationId": "get_api_v1_relay",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/community.moderation-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_relay",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.moderation-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_relay",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.moderation-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces": {
   "get": {
    "operationId": "get_api_v1_spaces",
    "summary": "List the spaces the caller can open and read one space's metadata (roadmap §30.2 community.space.*).",
    "description": "**community.space.read** (public): List the spaces the caller can open and read one space's metadata (roadmap §30.2 community.space.*). Anonymous callers see public spaces, signed-in people also members spaces, moderators also staff spaces; members-only (VIP) spaces are flagged. Served to anyone; Community checks space visibility itself.",
    "tags": [
     "community.space"
    ],
    "x-openvibe-capabilities": [
     "community.space.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.space.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.space-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}": {
   "get": {
    "operationId": "get_api_v1_spaces_space",
    "summary": "List the spaces the caller can open and read one space's metadata (roadmap §30.2 community.space.*).",
    "description": "**community.space.read** (public): List the spaces the caller can open and read one space's metadata (roadmap §30.2 community.space.*). Anonymous callers see public spaces, signed-in people also members spaces, moderators also staff spaces; members-only (VIP) spaces are flagged. Served to anyone; Community checks space visibility itself.",
    "tags": [
     "community.space"
    ],
    "x-openvibe-capabilities": [
     "community.space.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.space.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.space-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads": {
   "get": {
    "operationId": "get_api_v1_spaces_space_threads",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds.",
    "description": "**community.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds. Community checks space visibility and the VIP gate (403 vip.members_only). Creating threads and replies stays community.post.create.",
    "tags": [
     "community.thread"
    ],
    "x-openvibe-capabilities": [
     "community.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_spaces_space_threads",
    "summary": "Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI",
    "description": "**community.post.create** (public): Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by Community.",
    "tags": [
     "community.post"
    ],
    "x-openvibe-capabilities": [
     "community.post.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.post.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.post-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads/{slug}": {
   "delete": {
    "operationId": "delete_api_v1_spaces_space_threads_slug",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.\n\n**community.post.create** (public): Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by Community.",
    "tags": [
     "community.comment",
     "community.post"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate",
     "community.post.create"
    ],
    "x-openvibe-visibility": [
     "internal",
     "public"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     },
     {
      "openvibeToken": [
       "community.post.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "anyOf": [
      {
       "$ref": "#/components/schemas/community.moderation-request.v1"
      },
      {
       "$ref": "#/components/schemas/community.post-write-request.v1"
      }
     ]
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/community.moderation-result.v1"
          },
          {
           "$ref": "#/components/schemas/community.post-write-result.v1"
          }
         ]
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_spaces_space_threads_slug",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds.",
    "description": "**community.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds. Community checks space visibility and the VIP gate (403 vip.members_only). Creating threads and replies stays community.post.create.",
    "tags": [
     "community.thread"
    ],
    "x-openvibe-capabilities": [
     "community.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads/{slug}/posts": {
   "post": {
    "operationId": "post_api_v1_spaces_space_threads_slug_posts",
    "summary": "Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI",
    "description": "**community.post.create** (public): Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by Community.",
    "tags": [
     "community.post"
    ],
    "x-openvibe-capabilities": [
     "community.post.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.post.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.post-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads/{slug}/state": {
   "put": {
    "operationId": "put_api_v1_spaces_space_threads_slug_state",
    "summary": "Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g.",
    "description": "**community.comment.moderate** (internal): Moderation of discussions: set a comment thread's visibility (public, hidden, locked — e.g. when the owner service hides the entity), delete any comment or forum post, pin and lock forum threads, read hidden threads, administer the Discord relay. Acting as itself (no X-OV-Subject) the service is the moderator; acting for a person it must vouch with X-OV-Staff: 1 that the person is staff.",
    "tags": [
     "community.comment"
    ],
    "x-openvibe-capabilities": [
     "community.comment.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "community-moderate",
    "security": [
     {
      "openvibeToken": [
       "community.comment.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.moderation-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads/{slug}/votes": {
   "post": {
    "operationId": "post_api_v1_spaces_space_threads_slug_votes",
    "summary": "Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI",
    "description": "**community.post.create** (public): Forum writes as a service: create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by Community.",
    "tags": [
     "community.post"
    ],
    "x-openvibe-capabilities": [
     "community.post.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-write",
    "security": [
     {
      "openvibeToken": [
       "community.post.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/community.post-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/pulse": {
   "get": {
    "operationId": "get_pulse",
    "summary": "Read the network's public activity feed (Pulse): entity reference, title, URL and origin (user, ai or system), newest first with a cursor.",
    "description": "**community.pulse.read** (public): Read the network's public activity feed (Pulse): entity reference, title, URL and origin (user, ai or system), newest first with a cursor. Only public items are ever stored. Served to anyone (CORS allow-list for browsers). Live's /api/home/pulse is a different, Live-only feed.",
    "tags": [
     "community.pulse"
    ],
    "x-openvibe-capabilities": [
     "community.pulse.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.pulse.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.pulse-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s": {
   "get": {
    "operationId": "get_s",
    "summary": "List the spaces the caller can open and read one space's metadata (roadmap §30.2 community.space.*).",
    "description": "**community.space.read** (public): List the spaces the caller can open and read one space's metadata (roadmap §30.2 community.space.*). Anonymous callers see public spaces, signed-in people also members spaces, moderators also staff spaces; members-only (VIP) spaces are flagged. Served to anyone; Community checks space visibility itself.",
    "tags": [
     "community.space"
    ],
    "x-openvibe-capabilities": [
     "community.space.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.space.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.space-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s/{space}": {
   "get": {
    "operationId": "get_s_space",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds.",
    "description": "**community.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds. Community checks space visibility and the VIP gate (403 vip.members_only). Creating threads and replies stays community.post.create.",
    "tags": [
     "community.thread"
    ],
    "x-openvibe-capabilities": [
     "community.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s/{space}/feed.xml": {
   "get": {
    "operationId": "get_s_space_feed_xml",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds.",
    "description": "**community.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds. Community checks space visibility and the VIP gate (403 vip.members_only). Creating threads and replies stays community.post.create.",
    "tags": [
     "community.thread"
    ],
    "x-openvibe-capabilities": [
     "community.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s/{space}/t/{slug}": {
   "get": {
    "operationId": "get_s_space_t_slug",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds.",
    "description": "**community.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds. Community checks space visibility and the VIP gate (403 vip.members_only). Creating threads and replies stays community.post.create.",
    "tags": [
     "community.thread"
    ],
    "x-openvibe-capabilities": [
     "community.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s/feed.xml": {
   "get": {
    "operationId": "get_s_feed_xml",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds.",
    "description": "**community.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds. Community checks space visibility and the VIP gate (403 vip.members_only). Creating threads and replies stays community.post.create.",
    "tags": [
     "community.thread"
    ],
    "x-openvibe-capabilities": [
     "community.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "community-read",
    "security": [
     {
      "openvibeToken": [
       "community.thread.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/community.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.entity-ref.v1": {
    "title": "EntityRef",
    "description": "Typed reference to another service's entity. Store this instead of a foreign key; resolve a display projection from the owner.",
    "type": "object",
    "required": [
     "service",
     "type",
     "id"
    ],
    "additionalProperties": false,
    "properties": {
     "service": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$"
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$"
     },
     "id": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
     },
     "revision": {
      "type": "integer",
      "minimum": 0
     },
     "label": {
      "type": "string",
      "maxLength": 200,
      "description": "Cached display label. Never authoritative."
     }
    }
   },
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "community.comment-thread.v1": {
    "title": "CommunityCommentThread",
    "description": "community.comment-thread@1: one embeddable comment thread on OpenVibe.Community (server/comments/service.js shapeThread): the entity it belongs to, its visibility and comment count. id is the sequential id for services and the access id (cth_…) for everyone else; a hidden thread shows moderators its count, others only that it is hidden.",
    "type": "object",
    "required": [
     "id",
     "access_id",
     "ref",
     "visibility",
     "comment_count"
    ],
    "properties": {
     "id": {
      "type": [
       "integer",
       "string"
      ]
     },
     "access_id": {
      "type": "string",
      "pattern": "^cth_"
     },
     "ref": {
      "$ref": "#/components/schemas/common.entity-ref.v1"
     },
     "visibility": {
      "enum": [
       "public",
       "hidden",
       "locked"
      ]
     },
     "comment_count": {
      "type": [
       "integer",
       "null"
      ]
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     }
    }
   },
   "community.comment-write-request.v1": {
    "title": "CommunityCommentWriteRequest",
    "description": "community.comment-write-request@1: bodies of community.comment.write on OpenVibe.Community (people, anonymous people with a name where the thread allows it, and services acting as X-OV-Subject or as AI). POST /api/v1/comments/threads/resolve: { ref } — get or create the thread of an entity (browsers only for the allow-listed entity types; a label is taken only from a service). POST /api/v1/comments/threads/:id/comments: { message, parent_id?, anon_name? } (message trimmed, at most 5000 characters; a reply to a reply joins the top-level comment). POST /api/v1/comments/:commentId/votes: { value: 1 | -1 | 0 } (people). GET /api/v1/comments/threads/:id and DELETE /api/v1/comments/:commentId take no body. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "ref"
      ],
      "properties": {
       "ref": {
        "$ref": "#/components/schemas/common.entity-ref.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "message"
      ],
      "properties": {
       "message": {
        "type": "string",
        "minLength": 1,
        "maxLength": 5000,
        "pattern": "\\S"
       },
       "parent_id": {
        "type": [
         "integer",
         "string",
         "null"
        ]
       },
       "anon_name": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "value"
      ],
      "properties": {
       "value": {
        "enum": [
         1,
         -1,
         0,
         "1",
         "-1",
         "0"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "community.comment-write-result.v1": {
    "title": "CommunityCommentWriteResult",
    "description": "community.comment-write-result@1: answers of community.comment.write on OpenVibe.Community. POST …/threads/resolve → { thread, created } (201 when created); GET …/threads/:id?after=&sort=&limit=&parent= → { thread, comments, next_cursor, viewer }; POST …/threads/:id/comments → 201 { comment }; DELETE /api/v1/comments/:commentId → { ok, id }; POST …/:commentId/votes → { comment_id, score, upvotes, downvotes, my_vote }. Refusals are problem+json (thread.locked, auth.required, community.blocked, …).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "thread",
       "created"
      ],
      "properties": {
       "thread": {
        "$ref": "#/components/schemas/community.comment-thread.v1"
       },
       "created": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "thread",
       "comments",
       "next_cursor",
       "viewer"
      ],
      "properties": {
       "thread": {
        "$ref": "#/components/schemas/community.comment-thread.v1"
       },
       "comments": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/community.comment.v1"
        }
       },
       "next_cursor": {
        "type": [
         "string",
         "null"
        ]
       },
       "viewer": {
        "type": "object",
        "properties": {
         "signed_in": {
          "type": "boolean"
         },
         "can_comment": {
          "type": "boolean"
         },
         "can_vote": {
          "type": "boolean"
         },
         "can_moderate": {
          "type": "boolean"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "comment"
      ],
      "properties": {
       "comment": {
        "$ref": "#/components/schemas/community.comment.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "id"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "id": {
        "type": "integer"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "comment_id",
       "score",
       "upvotes",
       "downvotes",
       "my_vote"
      ],
      "properties": {
       "comment_id": {
        "type": "integer"
       },
       "score": {
        "type": "integer"
       },
       "upvotes": {
        "type": "integer",
        "minimum": 0
       },
       "downvotes": {
        "type": "integer",
        "minimum": 0
       },
       "my_vote": {
        "enum": [
         1,
         -1,
         0
        ]
       }
      }
     }
    ]
   },
   "community.comment.v1": {
    "title": "CommunityComment",
    "description": "community.comment@1: one comment in an embeddable comment thread on OpenVibe.Community (server/comments/service.js shapeComment), with its author (or anonymous name), score and the caller's vote, reply count and, for top-level comments in a page, the first replies. A deleted comment keeps its place with no author or message.",
    "type": "object",
    "required": [
     "id",
     "thread_id",
     "parent_id",
     "origin",
     "author",
     "message",
     "deleted",
     "score",
     "my_vote",
     "can_edit",
     "can_delete"
    ],
    "properties": {
     "id": {
      "type": "integer"
     },
     "thread_id": {
      "type": [
       "integer",
       "string"
      ]
     },
     "parent_id": {
      "type": [
       "integer",
       "null"
      ]
     },
     "origin": {
      "type": "string"
     },
     "author": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "subject": {
        "type": [
         "string",
         "null"
        ]
       },
       "username": {
        "type": [
         "string",
         "null"
        ]
       },
       "display_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "profile_color": {
        "type": [
         "string",
         "null"
        ]
       },
       "is_ai": {
        "const": true
       },
       "is_system": {
        "const": true
       }
      }
     },
     "anon_name": {
      "type": [
       "string",
       "null"
      ]
     },
     "display_name": {
      "type": [
       "string",
       "null"
      ]
     },
     "message": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 5000
     },
     "deleted": {
      "type": "boolean"
     },
     "score": {
      "type": "integer"
     },
     "upvotes": {
      "type": "integer",
      "minimum": 0
     },
     "downvotes": {
      "type": "integer",
      "minimum": 0
     },
     "my_vote": {
      "enum": [
       1,
       -1,
       0
      ]
     },
     "reply_count": {
      "type": [
       "integer",
       "null"
      ]
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "edited_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "can_edit": {
      "type": "boolean"
     },
     "can_delete": {
      "type": "boolean"
     },
     "replies": {
      "type": "array",
      "items": {
       "type": "object"
      }
     }
    }
   },
   "community.forum-post.v1": {
    "title": "CommunityForumPost",
    "description": "community.forum-post@1: one forum post (the opening post of a thread or a reply) as OpenVibe.Community's API shows it (server/forum/service.js shapePost). A deleted post keeps its place with no author, body, attachments or pastes.",
    "type": "object",
    "required": [
     "id",
     "thread_id",
     "is_opening",
     "origin",
     "author",
     "body_markdown",
     "body_html",
     "revision",
     "deleted",
     "can_edit",
     "attachments",
     "pastes"
    ],
    "properties": {
     "id": {
      "type": "integer"
     },
     "thread_id": {
      "type": "integer"
     },
     "is_opening": {
      "type": "boolean"
     },
     "origin": {
      "type": "string"
     },
     "author": {
      "type": [
       "object",
       "null"
      ],
      "description": "The author projection: a person (subject and Network profile), OpenVibe AI (is_ai) or the system (is_system); null when unknown or deleted.",
      "properties": {
       "subject": {
        "type": [
         "string",
         "null"
        ]
       },
       "username": {
        "type": [
         "string",
         "null"
        ]
       },
       "display_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "profile_color": {
        "type": [
         "string",
         "null"
        ]
       },
       "is_ai": {
        "const": true
       },
       "is_system": {
        "const": true
       }
      }
     },
     "body_markdown": {
      "type": [
       "string",
       "null"
      ]
     },
     "body_html": {
      "type": [
       "string",
       "null"
      ]
     },
     "revision": {
      "type": "integer",
      "minimum": 1
     },
     "deleted": {
      "type": "boolean"
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "can_edit": {
      "type": "boolean"
     },
     "attachments": {
      "type": "array",
      "maxItems": 4,
      "items": {
       "type": "object",
       "required": [
        "media_id",
        "url"
       ],
       "properties": {
        "media_id": {
         "type": "string"
        },
        "url": {
         "type": "string"
        },
        "filename": {
         "type": [
          "string",
          "null"
         ]
        },
        "mime": {
         "type": "string"
        },
        "size_bytes": {
         "type": "integer"
        }
       }
      }
     },
     "pastes": {
      "type": "array",
      "maxItems": 4,
      "items": {
       "type": "object",
       "required": [
        "slug",
        "url"
       ],
       "properties": {
        "slug": {
         "type": "string"
        },
        "title": {
         "type": "string"
        },
        "language": {
         "type": "string"
        },
        "type": {
         "type": "string"
        },
        "url": {
         "type": "string"
        },
        "screenshot_url": {
         "type": [
          "string",
          "null"
         ]
        },
        "lines": {
         "type": "integer"
        },
        "excerpt": {
         "type": [
          "string",
          "null"
         ]
        }
       }
      }
     }
    }
   },
   "community.forum-space.v1": {
    "title": "CommunityForumSpace",
    "description": "community.forum-space@1: one forum space as OpenVibe.Community's /api/v1/spaces API shows it (server/forum/service.js shapeSpace): its slug, name, visibility, thread kind and statuses, style, whether votes and reactions are on, its group and parent board, the members-only gate and, in lists, its counts and last activity.",
    "type": "object",
    "required": [
     "slug",
     "name",
     "visibility",
     "url",
     "thread_kind",
     "statuses",
     "style",
     "votes",
     "reactions",
     "group",
     "parent",
     "members_only"
    ],
    "properties": {
     "slug": {
      "type": "string"
     },
     "name": {
      "type": "string"
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "visibility": {
      "enum": [
       "public",
       "members",
       "staff"
      ]
     },
     "url": {
      "type": "string"
     },
     "thread_kind": {
      "type": "string"
     },
     "statuses": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "style": {
      "enum": [
       "feed",
       "forum"
      ]
     },
     "votes": {
      "type": "boolean"
     },
     "reactions": {
      "type": "boolean"
     },
     "group": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       }
      }
     },
     "parent": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       }
      }
     },
     "post_count": {
      "type": "integer"
     },
     "thread_count": {
      "type": "integer"
     },
     "last_activity_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "members_only": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "owner": {
        "type": "string"
       },
       "owner_username": {
        "type": [
         "string",
         "null"
        ]
       },
       "join_url": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "last_post": {
      "type": [
       "object",
       "null"
      ]
     },
     "children": {
      "type": "array"
     }
    }
   },
   "community.forum-thread.v1": {
    "title": "CommunityForumThread",
    "description": "community.forum-thread@1: one forum thread as OpenVibe.Community's /api/v1/spaces API shows it (server/forum/service.js shapeThread): where it lives, its kind and status, category, members-only gate, author, origin, pin and lock state, score, reply count, views, pages, the last post and the caller's vote.",
    "type": "object",
    "required": [
     "id",
     "space",
     "slug",
     "title",
     "url",
     "kind",
     "author",
     "origin",
     "pinned",
     "locked",
     "score",
     "reply_count",
     "pages",
     "created_at",
     "my_vote"
    ],
    "properties": {
     "id": {
      "type": "integer"
     },
     "space": {
      "type": "string"
     },
     "slug": {
      "type": "string"
     },
     "title": {
      "type": "string",
      "maxLength": 200
     },
     "url": {
      "type": "string",
      "description": "/s/<space>/t/<slug>"
     },
     "kind": {
      "type": "string",
      "description": "discussion, request, roadmap, …"
     },
     "status": {
      "type": [
       "string",
       "null"
      ]
     },
     "category": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "position": {},
       "thread_count": {
        "type": "integer"
       }
      }
     },
     "members_only": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "owner": {
        "type": "string"
       },
       "owner_username": {
        "type": [
         "string",
         "null"
        ]
       },
       "join_url": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "author": {
      "type": [
       "object",
       "null"
      ],
      "description": "The author projection: a person (subject and Network profile), OpenVibe AI (is_ai) or the system (is_system); null when unknown or deleted.",
      "properties": {
       "subject": {
        "type": [
         "string",
         "null"
        ]
       },
       "username": {
        "type": [
         "string",
         "null"
        ]
       },
       "display_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "profile_color": {
        "type": [
         "string",
         "null"
        ]
       },
       "is_ai": {
        "const": true
       },
       "is_system": {
        "const": true
       }
      }
     },
     "origin": {
      "type": "string"
     },
     "pinned": {
      "type": "boolean"
     },
     "locked": {
      "type": "boolean"
     },
     "score": {
      "type": "integer"
     },
     "reply_count": {
      "type": "integer",
      "minimum": 0
     },
     "views": {
      "type": "integer",
      "minimum": 0
     },
     "pages": {
      "type": "integer",
      "minimum": 1
     },
     "last_post": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "id": {
        "type": "integer"
       },
       "author": {
        "type": [
         "object",
         "null"
        ],
        "description": "The author projection: a person (subject and Network profile), OpenVibe AI (is_ai) or the system (is_system); null when unknown or deleted.",
        "properties": {
         "subject": {
          "type": [
           "string",
           "null"
          ]
         },
         "username": {
          "type": [
           "string",
           "null"
          ]
         },
         "display_name": {
          "type": [
           "string",
           "null"
          ]
         },
         "avatar_url": {
          "type": [
           "string",
           "null"
          ]
         },
         "profile_color": {
          "type": [
           "string",
           "null"
          ]
         },
         "is_ai": {
          "const": true
         },
         "is_system": {
          "const": true
         }
        }
       }
      }
     },
     "crosspost_of": {},
     "last_activity_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "my_vote": {
      "enum": [
       1,
       -1,
       0
      ]
     }
    }
   },
   "community.moderation-request.v1": {
    "title": "CommunityModerationRequest",
    "description": "community.moderation-request@1: bodies of the discussion moderation routes on OpenVibe.Community (community.comment.moderate; a browser must be a moderator). PUT /api/v1/comments/threads/:id/visibility: { visibility: public | hidden | locked }. PUT /api/v1/spaces/:space/threads/:slug/state: { pinned?, locked? }, at least one. PUT /api/v1/posts/:id: { body } (someone else's post). /api/v1/relay: POST /mappings { space, webhook_url_ref, enabled? } (webhook_url_ref is the NAME of an allow-listed environment variable, never a URL), PUT /mappings/:id { enabled }. DELETE /api/v1/comments/:commentId, DELETE /api/v1/spaces/:space/threads/:slug, DELETE /api/v1/posts/:id, POST /api/v1/relay/deliveries/:id/retry and the GETs take no body. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "visibility"
      ],
      "properties": {
       "visibility": {
        "enum": [
         "public",
         "hidden",
         "locked"
        ]
       }
      }
     },
     {
      "type": "object",
      "anyOf": [
       {
        "required": [
         "pinned"
        ]
       },
       {
        "required": [
         "locked"
        ]
       }
      ],
      "properties": {
       "pinned": {
        "description": "Truthy pins the thread."
       },
       "locked": {
        "description": "Truthy locks it (announced as thread.locked / thread.unlocked)."
       }
      }
     },
     {
      "type": "object",
      "anyOf": [
       {
        "required": [
         "body"
        ]
       },
       {
        "required": [
         "body_markdown"
        ]
       }
      ],
      "properties": {
       "body": {
        "type": "string",
        "minLength": 1,
        "maxLength": 40000
       },
       "body_markdown": {
        "type": "string",
        "minLength": 1,
        "maxLength": 40000
       }
      }
     },
     {
      "type": "object",
      "required": [
       "space",
       "webhook_url_ref"
      ],
      "properties": {
       "space": {
        "type": "string",
        "description": "The space's slug."
       },
       "webhook_url_ref": {
        "type": "string",
        "pattern": "^[A-Z0-9_]+$"
       },
       "enabled": {
        "type": "boolean",
        "description": "Default true."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "enabled"
      ],
      "properties": {
       "enabled": {
        "type": "boolean"
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "community.moderation-result.v1": {
    "title": "CommunityModerationResult",
    "description": "community.moderation-result@1: answers of the discussion moderation routes on OpenVibe.Community. PUT …/comments/threads/:id/visibility → { thread } (a comment thread: id, access_id, ref, visibility, comment_count); PUT …/threads/:slug/state → { thread } (a forum thread); PUT /api/v1/posts/:id → { post }; DELETE /api/v1/comments/:commentId and DELETE /api/v1/posts/:id → { ok, id }; deleting a thread (or its opening post) → { ok, id, deleted: 'thread' }; relay: GET /deliveries → { enabled, deliveries }, GET /mappings → { enabled, mappings }, POST|PUT /mappings → { mapping }, POST /deliveries/:id/retry → { ok }. Relay answers never carry a webhook URL.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "thread"
      ],
      "properties": {
       "thread": {
        "type": "object",
        "required": [
         "id"
        ],
        "properties": {
         "id": {
          "type": [
           "integer",
           "string"
          ]
         },
         "access_id": {
          "type": "string",
          "description": "A comment thread's browser id (cth_…)."
         },
         "ref": {
          "$ref": "#/components/schemas/common.entity-ref.v1"
         },
         "visibility": {
          "type": "string"
         },
         "comment_count": {
          "type": [
           "integer",
           "null"
          ]
         },
         "space": {
          "type": "string"
         },
         "slug": {
          "type": "string"
         },
         "title": {
          "type": "string"
         },
         "pinned": {
          "type": "boolean"
         },
         "locked": {
          "type": "boolean"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "post"
      ],
      "properties": {
       "post": {
        "type": "object",
        "required": [
         "id",
         "thread_id",
         "revision",
         "deleted"
        ],
        "properties": {
         "id": {
          "type": "integer"
         },
         "thread_id": {
          "type": "integer"
         },
         "is_opening": {
          "type": "boolean"
         },
         "origin": {
          "type": "string"
         },
         "author": {
          "type": [
           "object",
           "null"
          ]
         },
         "body_markdown": {
          "type": [
           "string",
           "null"
          ]
         },
         "body_html": {
          "type": [
           "string",
           "null"
          ]
         },
         "revision": {
          "type": "integer"
         },
         "deleted": {
          "type": "boolean"
         },
         "created_at": {
          "type": [
           "string",
           "null"
          ]
         },
         "updated_at": {
          "type": [
           "string",
           "null"
          ]
         },
         "can_edit": {
          "type": "boolean"
         },
         "attachments": {
          "type": "array"
         },
         "pastes": {
          "type": "array"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "id": {
        "type": "integer"
       },
       "deleted": {
        "const": "thread"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "enabled"
      ],
      "anyOf": [
       {
        "required": [
         "deliveries"
        ]
       },
       {
        "required": [
         "mappings"
        ]
       }
      ],
      "properties": {
       "enabled": {
        "type": "boolean"
       },
       "deliveries": {
        "type": "array",
        "items": {
         "type": "object"
        }
       },
       "mappings": {
        "type": "array",
        "items": {
         "type": "object"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "mapping"
      ],
      "properties": {
       "mapping": {
        "type": "object",
        "required": [
         "id",
         "space",
         "webhook_url_ref",
         "webhook_configured",
         "enabled"
        ],
        "properties": {
         "id": {
          "type": "integer"
         },
         "space": {
          "type": "string"
         },
         "direction": {
          "type": "string"
         },
         "webhook_url_ref": {
          "type": "string"
         },
         "webhook_configured": {
          "type": "boolean"
         },
         "enabled": {
          "type": "boolean"
         },
         "created_at": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       }
      }
     }
    ]
   },
   "community.paste-create-request.v1": {
    "title": "CommunityPasteCreateRequest",
    "description": "community.paste-create-request@1: the body of POST /api/pastes on OpenVibe.Community (community.paste.create). A JSON text paste needs content (non-blank, at most the configured size, 512 KB by default); a multipart body with a `screenshot` image part (PNG, JPEG, WebP or GIF, 8 MB by default; also POST /api/pastes/screenshot) makes an image paste. Visibility other than unlisted or private is public, and an ownerless private paste becomes unlisted. slug (public pastes only), metadata and ai_summary/ai_tags are honoured from a service token only; a browser's are ignored. Unknown fields are ignored. The answer is { id, slug, url, paste } with 201.",
    "type": "object",
    "anyOf": [
     {
      "required": [
       "content"
      ]
     },
     {
      "required": [
       "screenshot"
      ]
     }
    ],
    "properties": {
     "content": {
      "type": "string",
      "minLength": 1,
      "description": "The text (trimmed)."
     },
     "screenshot": {
      "type": "string",
      "contentEncoding": "binary",
      "description": "Multipart only: the image part."
     },
     "title": {
      "type": [
       "string",
       "null"
      ],
      "description": "Trimmed to 200 characters; Untitled (Screenshot for an image) when blank."
     },
     "language": {
      "type": "string",
      "description": "A language hint; auto or absent sniffs it from the content."
     },
     "visibility": {
      "type": "string",
      "description": "public (default), unlisted or private."
     },
     "burn_after_read": {
      "type": [
       "boolean",
       "integer",
       "string"
      ],
      "description": "Truthy (true, 1, '1', 'true', 'on'): gone after the first read by someone else."
     },
     "is_nsfw": {
      "type": [
       "boolean",
       "integer",
       "string"
      ]
     },
     "stream_id": {
      "type": [
       "integer",
       "string"
      ],
      "description": "The Live stream it was made during (digits)."
     },
     "description": {
      "type": "string",
      "description": "Multipart screenshot: the text shown under the image."
     },
     "page_url": {
      "type": "string",
      "description": "Multipart screenshot: the page it shows."
     },
     "user_agent": {
      "type": "string",
      "description": "Multipart screenshot: the capturing browser."
     },
     "slug": {
      "type": "string",
      "pattern": "^[A-Za-z0-9_-]{3,80}$",
      "description": "Service callers, public pastes only: the slug to use (409 if taken)."
     },
     "metadata": {
      "type": [
       "object",
       "string"
      ],
      "description": "Service callers only: a JSON object (at most 16 KB)."
     },
     "ai_summary": {
      "type": "string",
      "description": "Service callers only (cut to 2000 characters)."
     },
     "ai_tags": {
      "description": "Service callers only, with ai_summary: JSON text or a value to serialise."
     }
    }
   },
   "community.paste-create-result.v1": {
    "title": "CommunityPasteCreateResult",
    "description": "community.paste-create-result@1: the answer of POST /api/pastes on OpenVibe.Community (community.paste.create), a text paste or, with a multipart screenshot part, an image paste (server/pastes/service.js created): 201 { id, slug, url, paste } — url is /p/<slug> and paste the new paste as community.paste@1. Refusals are { error } with 400 (no content, too large, not an image), 409 (a service's slug is taken), 429 (cooldown or daily limit) or 502/503 (Media unavailable for a screenshot).",
    "type": "object",
    "required": [
     "id",
     "slug",
     "url",
     "paste"
    ],
    "properties": {
     "id": {
      "type": "integer"
     },
     "slug": {
      "type": "string"
     },
     "url": {
      "type": "string",
      "pattern": "^/p/"
     },
     "paste": {
      "$ref": "#/components/schemas/community.paste.v1"
     }
    }
   },
   "community.paste-moderate-request.v1": {
    "title": "CommunityPasteModerateRequest",
    "description": "community.paste-moderate-request@1: bodies of the staff paste routes on OpenVibe.Community (community.paste.moderate; a browser must be staff, a service holds the capability). POST /api/pastes/bulk: { slugs, action } (at most 500 slugs are applied; unknown slugs are skipped). POST /api/pastes/:slug/censor: multipart with the replacement image in `screenshot` (PNG, JPEG or WebP), for a screenshot paste (slug or numeric id). DELETE /api/pastes/:slug/comments/:id (someone else's comment, X-OV-Staff for a service) takes no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "slugs",
       "action"
      ],
      "properties": {
       "slugs": {
        "type": "array",
        "minItems": 1,
        "items": {
         "type": "string"
        }
       },
       "action": {
        "enum": [
         "delete",
         "public",
         "unlisted",
         "private"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "screenshot"
      ],
      "properties": {
       "screenshot": {
        "type": "string",
        "contentEncoding": "binary",
        "description": "The multipart part named screenshot: the censored image."
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "community.paste-moderate-result.v1": {
    "title": "CommunityPasteModerateResult",
    "description": "community.paste-moderate-result@1: answers of the staff paste routes on OpenVibe.Community. POST /api/pastes/bulk → { done, skipped }; POST /api/pastes/:slug/censor → { paste } (the paste with its new image); DELETE /api/pastes/:slug/comments/:id → { message: 'Comment deleted' }. Each action is written to the moderation audit log (community.moderation.action).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "done",
       "skipped"
      ],
      "properties": {
       "done": {
        "type": "integer",
        "minimum": 0
       },
       "skipped": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     {
      "type": "object",
      "required": [
       "paste"
      ],
      "properties": {
       "paste": {
        "$ref": "#/components/schemas/community.paste.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "message"
      ],
      "properties": {
       "message": {
        "type": "string"
       }
      }
     }
    ]
   },
   "community.paste-write-request.v1": {
    "title": "CommunityPasteWriteRequest",
    "description": "community.paste-write-request@1: bodies of the paste writes done as the acting person (community.paste.write) on OpenVibe.Community. PUT /api/pastes/:slug (owner or staff): the fields to change, at least one (else 400 Nothing to update); content only on a text paste; pinned only from staff. POST /api/pastes/:slug/comments: { message, parent_id?, anon_name? } (message trimmed, at most 2000 characters; a reply to a reply is refused). DELETE /api/pastes/:slug, DELETE /api/pastes/:slug/comments/:id and POST /api/pastes/:slug/fork|like|copy take no body. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "minProperties": 1,
      "properties": {
       "title": {
        "type": [
         "string",
         "null"
        ]
       },
       "content": {
        "type": "string"
       },
       "language": {
        "type": "string"
       },
       "visibility": {
        "type": "string",
        "description": "public, unlisted or private (anything else is public)."
       },
       "is_nsfw": {
        "type": [
         "boolean",
         "integer",
         "string"
        ]
       },
       "pinned": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "Staff only; ignored otherwise."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "message"
      ],
      "properties": {
       "message": {
        "type": "string",
        "minLength": 1,
        "maxLength": 2000
       },
       "parent_id": {
        "type": [
         "integer",
         "string"
        ],
[...]
