{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Coupons API",
  "version": "0.65.0",
  "description": "Routes of OpenVibe.Coupons as the OpenVibe contracts describe them (openvibe-contracts 0.65.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.coupons"
  }
 ],
 "paths": {
  "/api/v1/coupons/{id}": {
   "get": {
    "operationId": "get_api_v1_coupons_id",
    "summary": "Read a merchant's active codes (status, confidence, report aggregates, restrictions, expiry or unknown, evidence) or one code.",
    "description": "**coupons.coupon.lookup** (first-party): Read a merchant's active codes (status, confidence, report aggregates, restrictions, expiry or unknown, evidence) or one code. Public data only, the same response for every caller; anonymous callers may use the routes with tighter rate limits. The charter's coupons.lookup.",
    "tags": [
     "coupons.coupon"
    ],
    "x-openvibe-capabilities": [
     "coupons.coupon.lookup"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-lookup",
    "security": [
     {
      "openvibeToken": [
       "coupons.coupon.lookup"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.lookup-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/coupons/{id}/report": {
   "post": {
    "operationId": "post_api_v1_coupons_id_report",
    "summary": "Report that a code worked or failed, on behalf of a person (X-OV-Subject).",
    "description": "**coupons.report.create** (first-party): Report that a code worked or failed, on behalf of a person (X-OV-Subject). One report per person, code and UTC day; only the latest per person counts; rate-limited per person; AI output (X-OV-Origin: ai) is refused. The response carries aggregates only, never a reporter. The charter's coupons.report.",
    "tags": [
     "coupons.report"
    ],
    "x-openvibe-capabilities": [
     "coupons.report.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-report",
    "security": [
     {
      "openvibeToken": [
       "coupons.report.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/coupons.report-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.report-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/coupons/{id}/status": {
   "post": {
    "operationId": "post_api_v1_coupons_id_status",
    "summary": "Moderate a code: disable it, mark it expired, or return it to active results (its status is then recomputed from people's reports and time).",
    "description": "**coupons.status.update** (first-party): Moderate a code: disable it, mark it expired, or return it to active results (its status is then recomputed from people's reports and time). reported_working and reported_failed cannot be set by anyone.",
    "tags": [
     "coupons.status"
    ],
    "x-openvibe-capabilities": [
     "coupons.status.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-write",
    "security": [
     {
      "openvibeToken": [
       "coupons.status.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/coupons.status-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.status-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/coupons/submit": {
   "post": {
    "operationId": "post_api_v1_coupons_submit",
    "summary": "Submit a coupon code for a merchant (by merchant id, host or URL) on behalf of a person (X-OV-Subject) or as AI output (X-OV-Origin: ai, held for staff review).",
    "description": "**coupons.coupon.submit** (first-party): Submit a coupon code for a merchant (by merchant id, host or URL) on behalf of a person (X-OV-Subject) or as AI output (X-OV-Origin: ai, held for staff review). The code starts with status unknown; a status, confidence or 'verified' field is refused. A site no merchant covers becomes a pending merchant for staff review. The charter's coupons.submit.",
    "tags": [
     "coupons.coupon"
    ],
    "x-openvibe-capabilities": [
     "coupons.coupon.submit"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-write",
    "security": [
     {
      "openvibeToken": [
       "coupons.coupon.submit"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/coupons.submit-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.submit-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/merchants": {
   "post": {
    "operationId": "post_api_v1_merchants",
    "summary": "Create merchants with their domain rules (never on a public suffix), add domain rules, and approve or disable merchants.",
    "description": "**coupons.merchant.manage** (first-party): Create merchants with their domain rules (never on a public suffix), add domain rules, and approve or disable merchants. Approving a pending merchant publishes the codes members submitted for it; disabling one takes its codes out of active results and Search.",
    "tags": [
     "coupons.merchant"
    ],
    "x-openvibe-capabilities": [
     "coupons.merchant.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-write",
    "security": [
     {
      "openvibeToken": [
       "coupons.merchant.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/coupons.merchant-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.merchant-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/merchants/{id}": {
   "get": {
    "operationId": "get_api_v1_merchants_id",
    "summary": "Read a merchant's active codes (status, confidence, report aggregates, restrictions, expiry or unknown, evidence) or one code.",
    "description": "**coupons.coupon.lookup** (first-party): Read a merchant's active codes (status, confidence, report aggregates, restrictions, expiry or unknown, evidence) or one code. Public data only, the same response for every caller; anonymous callers may use the routes with tighter rate limits. The charter's coupons.lookup.",
    "tags": [
     "coupons.coupon"
    ],
    "x-openvibe-capabilities": [
     "coupons.coupon.lookup"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-lookup",
    "security": [
     {
      "openvibeToken": [
       "coupons.coupon.lookup"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.lookup-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/merchants/{id}/coupons": {
   "get": {
    "operationId": "get_api_v1_merchants_id_coupons",
    "summary": "Read a merchant's active codes (status, confidence, report aggregates, restrictions, expiry or unknown, evidence) or one code.",
    "description": "**coupons.coupon.lookup** (first-party): Read a merchant's active codes (status, confidence, report aggregates, restrictions, expiry or unknown, evidence) or one code. Public data only, the same response for every caller; anonymous callers may use the routes with tighter rate limits. The charter's coupons.lookup.",
    "tags": [
     "coupons.coupon"
    ],
    "x-openvibe-capabilities": [
     "coupons.coupon.lookup"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-lookup",
    "security": [
     {
      "openvibeToken": [
       "coupons.coupon.lookup"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.lookup-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/merchants/{id}/domains": {
   "post": {
    "operationId": "post_api_v1_merchants_id_domains",
    "summary": "Create merchants with their domain rules (never on a public suffix), add domain rules, and approve or disable merchants.",
    "description": "**coupons.merchant.manage** (first-party): Create merchants with their domain rules (never on a public suffix), add domain rules, and approve or disable merchants. Approving a pending merchant publishes the codes members submitted for it; disabling one takes its codes out of active results and Search.",
    "tags": [
     "coupons.merchant"
    ],
    "x-openvibe-capabilities": [
     "coupons.merchant.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-write",
    "security": [
     {
      "openvibeToken": [
       "coupons.merchant.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/coupons.merchant-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.merchant-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/merchants/{id}/status": {
   "post": {
    "operationId": "post_api_v1_merchants_id_status",
    "summary": "Create merchants with their domain rules (never on a public suffix), add domain rules, and approve or disable merchants.",
    "description": "**coupons.merchant.manage** (first-party): Create merchants with their domain rules (never on a public suffix), add domain rules, and approve or disable merchants. Approving a pending merchant publishes the codes members submitted for it; disabling one takes its codes out of active results and Search.",
    "tags": [
     "coupons.merchant"
    ],
    "x-openvibe-capabilities": [
     "coupons.merchant.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-write",
    "security": [
     {
      "openvibeToken": [
       "coupons.merchant.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/coupons.merchant-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.merchant-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/merchants/resolve?host=": {
   "get": {
    "operationId": "get_api_v1_merchants_resolve_host",
    "summary": "Resolve a hostname to an active merchant (normalized host, eTLD+1 from a bundled public-suffix subset, subdomain rules; path rules never match host-only lookups).",
    "description": "**coupons.merchant.resolve** (first-party): Resolve a hostname to an active merchant (normalized host, eTLD+1 from a bundled public-suffix subset, subdomain rules; path rules never match host-only lookups). Public data only; anonymous callers may use the route with tighter rate limits.",
    "tags": [
     "coupons.merchant"
    ],
    "x-openvibe-capabilities": [
     "coupons.merchant.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "coupons-lookup",
    "security": [
     {
      "openvibeToken": [
       "coupons.merchant.resolve"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/coupons.resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "coupons.coupon.v1": {
    "title": "CouponsCoupon",
    "description": "coupons.coupon@1: one code as OpenVibe.Coupons shows it (server/domain/coupons.js view): its status and confidence come only from people's reports (counts in a window, report times rounded to the hour), a known or unknown expiry, restrictions, hints and evidence. No submitter or reporter is ever named.",
    "type": "object",
    "required": [
     "id",
     "merchant_id",
     "code",
     "title",
     "status",
     "active",
     "reports",
     "expiry",
     "restrictions",
     "origin",
     "url"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "merchant_id": {
      "type": "string"
     },
     "code": {
      "type": "string",
      "pattern": "^[\\x21-\\x7E]{1,64}$"
     },
     "title": {
      "type": "string"
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "status": {
      "enum": [
       "unknown",
       "reported_working",
       "reported_failed",
       "expired",
       "disabled"
      ]
     },
     "active": {
      "type": "boolean"
     },
     "confidence": {},
     "reports": {
      "type": "object",
      "properties": {
       "window_days": {
        "type": "integer"
       },
       "last_report_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "last_worked_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "last_failed_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     "expiry": {
      "type": "object",
      "required": [
       "known",
       "expires_at"
      ],
      "properties": {
       "known": {
        "type": "boolean"
       },
       "expires_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "precision": {
        "type": [
         "string",
         "null"
        ]
       },
       "basis": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "restrictions": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "kind"
       ],
       "properties": {
        "kind": {
         "enum": [
          "min_spend",
          "category",
          "new_customers_only",
          "region",
          "other"
         ]
        },
        "value": {},
        "amount": {
         "type": "string"
        },
        "amount_minor": {
         "type": "integer"
        },
        "currency": {
         "type": "string"
        }
       }
      }
     },
     "hints": {
      "type": "array",
      "items": {
       "type": "object",
       "properties": {
        "text": {
         "type": "string"
        },
        "scope": {
         "enum": [
          "code",
          "merchant"
         ]
        }
       }
      }
     },
     "evidence": {
      "type": "array",
      "items": {
       "type": "object",
       "properties": {
        "kind": {
         "type": "string"
        },
        "url": {
         "type": [
          "string",
          "null"
         ]
        },
        "merchant_page": {
         "type": "boolean"
        },
        "sources_item": {
         "type": "string"
        },
        "retrieved_at": {
         "type": [
          "string",
          "null"
         ],
         "format": "date-time"
        }
       }
      }
     },
     "origin": {
      "type": "string"
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "expired_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "url": {
      "type": "string"
     }
    }
   },
   "coupons.lookup-result.v1": {
    "title": "CouponsLookupResult",
    "description": "coupons.lookup-result@1: answers of coupons.coupon.lookup on OpenVibe.Coupons (public, anonymous allowed, cacheable: the same bytes for every caller). GET /api/v1/merchants/:id/coupons → { merchant, coupons } (the active codes); GET /api/v1/merchants/:id → { merchant }; GET /api/v1/coupons/:id → { coupon, merchant }. Inactive merchants and unpublished or disabled codes are 404.",
    "type": "object",
    "required": [
     "merchant"
    ],
    "properties": {
     "merchant": {
      "$ref": "#/components/schemas/coupons.merchant.v1"
     },
     "coupons": {
      "type": "array",
      "maxItems": 200,
      "items": {
       "$ref": "#/components/schemas/coupons.coupon.v1"
      }
     },
     "coupon": {
      "$ref": "#/components/schemas/coupons.coupon.v1"
     }
    }
   },
   "coupons.merchant-manage-request.v1": {
    "title": "CouponsMerchantManageRequest",
    "description": "coupons.merchant-manage-request@1: bodies of coupons.merchant.manage on OpenVibe.Coupons (staff or a service). POST /api/v1/merchants: { domains, name?, slug?, homepage_url?, description?, status? } (at least one domain rule; a rule on a public suffix is refused; homepage_url must be https; status pending, else active). POST /api/v1/merchants/:id/domains: one domain rule { host, include_subdomains?, path_prefix? } (a rule another merchant holds is 409). POST /api/v1/merchants/:id/status: { status: active | disabled }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "domains"
      ],
      "properties": {
       "domains": {
        "type": "array",
        "minItems": 1,
        "items": {
         "type": "object",
         "required": [
          "host"
         ],
         "properties": {
          "host": {
           "type": "string",
           "minLength": 1
          },
          "include_subdomains": {
           "type": [
            "boolean",
            "integer",
            "string"
           ],
           "description": "Default true."
          },
          "path_prefix": {
           "type": "string"
          }
         }
        }
       },
       "name": {
        "type": [
         "string",
         "null"
        ]
       },
       "slug": {
        "type": [
         "string",
         "null"
        ]
       },
       "homepage_url": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^https://"
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "status": {
        "type": "string",
        "description": "pending; anything else is active."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "host"
      ],
      "properties": {
       "host": {
        "type": "string",
        "minLength": 1
       },
       "include_subdomains": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "Default true."
       },
       "path_prefix": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "status"
      ],
      "properties": {
       "status": {
        "enum": [
         "active",
         "disabled"
        ]
       }
      }
     }
    ]
   },
   "coupons.merchant-manage-result.v1": {
    "title": "CouponsMerchantManageResult",
    "description": "coupons.merchant-manage-result@1: the answer of every coupons.merchant.manage route on OpenVibe.Coupons: { merchant } with its status (201 for a new merchant or domain).",
    "type": "object",
    "required": [
     "merchant"
    ],
    "properties": {
     "merchant": {
      "allOf": [
       {
        "$ref": "#/components/schemas/coupons.merchant.v1"
       },
       {
        "type": "object",
        "required": [
         "status"
        ]
       }
      ]
     }
    }
   },
   "coupons.merchant.v1": {
    "title": "CouponsMerchant",
    "description": "coupons.merchant@1: one merchant as OpenVibe.Coupons' lookup API shows it (server/http/api.js merchantView): the same bytes for every caller, nothing about any person. Staff and service answers of the merchant routes add its status.",
    "type": "object",
    "required": [
     "id",
     "slug",
     "name",
     "url",
     "domains",
     "active_codes",
     "hints"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "slug": {
      "type": "string"
     },
     "name": {
      "type": "string"
     },
     "homepage_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "url": {
      "type": "string"
     },
     "domains": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "host",
        "include_subdomains",
        "path_prefix"
       ],
       "properties": {
        "host": {
         "type": "string"
        },
        "include_subdomains": {
         "type": "boolean"
        },
        "path_prefix": {
         "type": [
          "string",
          "null"
         ]
        }
       }
      }
     },
     "active_codes": {
      "type": "integer",
      "minimum": 0
     },
     "hints": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "status": {
      "enum": [
       "pending",
       "active",
       "disabled"
      ]
     }
    }
   },
   "coupons.report-request.v1": {
    "title": "CouponsReportRequest",
    "description": "coupons.report-request@1: the body of POST /api/v1/coupons/:id/report on OpenVibe.Coupons (coupons.report.create; people, installs and services acting for a person): whether the code worked, and for a failure why. The code must be in active results; you cannot report your own submission. Reporting again changes your earlier report.",
    "type": "object",
    "required": [
     "outcome"
    ],
    "properties": {
     "outcome": {
      "enum": [
       "worked",
       "failed"
      ]
     },
     "reason": {
      "enum": [
       "invalid",
       "expired",
       "min_spend_not_met",
       "not_eligible",
       "other",
       null,
       ""
      ],
      "description": "Failed reports only."
     }
    },
    "if": {
     "properties": {
      "outcome": {
       "const": "worked"
      }
     }
    },
    "then": {
     "properties": {
      "reason": {
       "enum": [
        null,
        ""
       ]
      }
     }
    }
   },
   "coupons.report-result.v1": {
    "title": "CouponsReportResult",
    "description": "coupons.report-result@1: the answer of POST /api/v1/coupons/:id/report on OpenVibe.Coupons: { accepted, deduplicated, corrected, coupon } — 201 for a new report, 200 when it repeated or corrected an earlier one.",
    "type": "object",
    "required": [
     "accepted",
     "deduplicated",
     "corrected",
     "coupon"
    ],
    "properties": {
     "accepted": {
      "const": true
     },
     "deduplicated": {
      "type": "boolean"
     },
     "corrected": {
      "type": "boolean"
     },
     "coupon": {
      "$ref": "#/components/schemas/coupons.coupon.v1"
     }
    }
   },
   "coupons.resolve-result.v1": {
    "title": "CouponsResolveResult",
    "description": "coupons.resolve-result@1: the answer of GET /api/v1/merchants/resolve?host= on OpenVibe.Coupons (coupons.merchant.resolve; public, anonymous allowed, rate-limited, CORS for the configured extension origins): the merchant whose domain rule matches the host. No match is 404 merchant.not_found with the normalised host and its registrable domain; a missing host is 400 host.required.",
    "type": "object",
    "required": [
     "host",
     "registrable_domain",
     "matched_rule",
     "merchant"
    ],
    "properties": {
     "host": {
      "type": "string"
     },
     "registrable_domain": {
      "type": "string"
     },
     "matched_rule": {
      "type": "object",
      "required": [
       "host",
       "include_subdomains",
       "path_prefix"
      ],
      "properties": {
       "host": {
        "type": "string"
       },
       "include_subdomains": {
        "type": "boolean"
       },
       "path_prefix": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "merchant": {
      "$ref": "#/components/schemas/coupons.merchant.v1"
     }
    }
   },
   "coupons.status-request.v1": {
    "title": "CouponsStatusRequest",
    "description": "coupons.status-request@1: the body of POST /api/v1/coupons/:id/status on OpenVibe.Coupons (coupons.status.update; staff or a service): disabled, expired (not while disabled) or active (re-enable: the status is recomputed from reports and time); reported_working and reported_failed cannot be set by anyone.",
    "type": "object",
    "required": [
     "status"
    ],
    "properties": {
     "status": {
      "enum": [
       "disabled",
       "expired",
       "active"
      ]
     },
     "note": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "coupons.status-result.v1": {
    "title": "CouponsStatusResult",
    "description": "coupons.status-result@1: the answer of POST /api/v1/coupons/:id/status on OpenVibe.Coupons: { coupon } after the change.",
    "type": "object",
    "required": [
     "coupon"
    ],
    "properties": {
     "coupon": {
      "$ref": "#/components/schemas/coupons.coupon.v1"
     }
    }
   },
   "coupons.submit-request.v1": {
    "title": "CouponsSubmitRequest",
    "description": "coupons.submit-request@1: the body of POST /api/v1/coupons/submit on OpenVibe.Coupons (coupons.coupon.submit; a signed-in person, or a service acting for one or as AI; installs cannot submit): a code and the merchant it is for (merchant_id, or the host or url of the shop: an unknown shop becomes a pending merchant). code is 1-64 printable characters without spaces; title (at least 3 characters: what the code gives) is required. status, confidence, verified, working, valid and validity are refused (422 coupon.status_not_accepted): a code's status comes only from people's reports. expires is a date (YYYY-MM-DD) or ISO time; expiry_basis evidence needs evidence_url. A duplicate answers the existing code (200).",
    "type": "object",
    "required": [
     "code",
     "title"
    ],
    "anyOf": [
     {
      "required": [
       "merchant_id"
      ]
     },
     {
      "required": [
       "host"
      ]
     },
     {
      "required": [
       "url"
      ]
     }
    ],
    "not": {
     "anyOf": [
      {
       "required": [
        "status"
       ]
      },
      {
       "required": [
        "confidence"
       ]
      },
      {
       "required": [
        "verified"
       ]
      },
      {
       "required": [
        "working"
       ]
      },
      {
       "required": [
        "valid"
       ]
      },
      {
       "required": [
        "validity"
       ]
      }
     ]
    },
    "properties": {
     "code": {
      "type": "string",
      "pattern": "^\\s*[\\x21-\\x7E]{1,64}\\s*$"
     },
     "title": {
      "type": "string",
      "minLength": 3
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "merchant_id": {
      "type": "string"
     },
     "host": {
      "type": "string"
     },
     "url": {
      "type": "string",
      "pattern": "^https?://"
     },
     "expires": {
      "type": [
       "string",
       "null"
      ]
     },
     "expiry_basis": {
      "enum": [
       "submitter",
       "evidence"
      ]
     },
     "evidence_url": {
      "type": "string",
      "maxLength": 2048,
      "pattern": "^https?://"
     },
     "restrictions": {
      "type": "object",
      "properties": {
       "min_spend": {
        "type": "object",
        "properties": {
         "amount": {
          "type": [
           "number",
           "string"
          ]
         },
         "currency": {
          "type": "string",
          "description": "ISO 4217."
         }
        }
       },
       "categories": {
        "type": [
         "array",
         "string"
        ],
        "description": "At most 10."
       },
       "new_customers_only": {
        "type": [
         "boolean",
         "string"
        ]
       },
       "regions": {
        "type": [
         "array",
         "string"
        ],
        "description": "ISO 3166-1 alpha-2 codes, at most 50."
       },
       "other": {
        "type": "string",
        "maxLength": 300
       }
      }
     },
     "hint": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 300
     },
     "ai_run_id": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "coupons.submit-result.v1": {
    "title": "CouponsSubmitResult",
    "description": "coupons.submit-result@1: the answer of POST /api/v1/coupons/submit on OpenVibe.Coupons: { coupon, merchant, duplicate, review_state } — 201 for a new code, 200 when the same code was already known (duplicate).",
    "type": "object",
    "required": [
     "coupon",
     "merchant",
     "duplicate",
     "review_state"
    ],
    "properties": {
     "coupon": {
      "$ref": "#/components/schemas/coupons.coupon.v1"
     },
     "merchant": {
      "type": "object",
      "required": [
       "id",
       "slug",
       "name",
       "status"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       },
       "status": {
        "enum": [
         "pending",
         "active",
         "disabled"
        ]
       }
      }
     },
     "duplicate": {
      "type": "boolean"
     },
     "review_state": {
      "type": "string"
     }
    }
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
