{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Deals API",
  "version": "0.64.0",
  "description": "Routes of OpenVibe.Deals as the OpenVibe contracts describe them (openvibe-contracts 0.64.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.deals"
  }
 ],
 "paths": {
  "/api/v1/flags": {
   "get": {
    "operationId": "get_api_v1_flags",
    "summary": "Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags.",
    "description": "**deals.offer.moderate** (first-party): Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags. Audited.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.moderate"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-moderation",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.moderate"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/deals.moderation-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/flags/{id}/resolve": {
   "post": {
    "operationId": "post_api_v1_flags_id_resolve",
    "summary": "Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags.",
    "description": "**deals.offer.moderate** (first-party): Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags. Audited.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.moderate"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-moderation",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.moderation-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers": {
   "post": {
    "operationId": "post_api_v1_offers",
    "summary": "Submit a deal for the acting person (X-OV-Subject): a link, title and what the person sees now (price with its currency, shipping, condition, availability — each optional, never defaulted).",
    "description": "**deals.offer.submit** (first-party): Submit a deal for the acting person (X-OV-Subject): a link, title and what the person sees now (price with its currency, shipping, condition, availability — each optional, never defaulted). The first observation is recorded with its time. A link already posted answers 409 offer.duplicate with the existing offer. With X-OV-Origin: ai the text is AI-assisted: disclosed and noindex until a person reviews it. Rate-limited per person.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.submit"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-write",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.submit"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.offer-submit-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.offer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}": {
   "patch": {
    "operationId": "patch_api_v1_offers_id",
    "summary": "Edit an offer the acting person submitted (title, description, category, stated expiry, product link), or record a new observation of any active offer for the acting person (POST …/observations: price",
    "description": "**deals.offer.update** (first-party): Edit an offer the acting person submitted (title, description, category, stated expiry, product link), or record a new observation of any active offer for the acting person (POST …/observations: price with currency, shipping, condition, availability, with the time it was observed). Prices are never edited in place; each observation is a new row. Services may state observed_at (never in the future).",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-write",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.offer-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.offer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/disable": {
   "post": {
    "operationId": "post_api_v1_offers_id_disable",
    "summary": "Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags.",
    "description": "**deals.offer.moderate** (first-party): Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags. Audited.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.moderate"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-moderation",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.moderation-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/enable": {
   "post": {
    "operationId": "post_api_v1_offers_id_enable",
    "summary": "Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags.",
    "description": "**deals.offer.moderate** (first-party): Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags. Audited.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.moderate"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-moderation",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.moderation-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/expire": {
   "post": {
    "operationId": "post_api_v1_offers_id_expire",
    "summary": "Mark an active offer expired (the person who submitted it, or a moderator).",
    "description": "**deals.offer.expire** (first-party): Mark an active offer expired (the person who submitted it, or a moderator). Unknown expiry is never assumed; offers with a stated end expire on their own.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.expire"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-write",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.expire"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.offer-action-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.offer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/flags": {
   "post": {
    "operationId": "post_api_v1_offers_id_flags",
    "summary": "Report a problem with an offer for the acting person (expired, price_wrong, duplicate, spam, other).",
    "description": "**deals.flag.create** (first-party): Report a problem with an offer for the acting person (expired, price_wrong, duplicate, spam, other). One open report per person and offer; rate-limited. Flags never change an offer by themselves.",
    "tags": [
     "deals.flag"
    ],
    "x-openvibe-capabilities": [
     "deals.flag.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-write",
    "security": [
     {
      "openvibeToken": [
       "deals.flag.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.flag-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.flag-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/merge": {
   "post": {
    "operationId": "post_api_v1_offers_id_merge",
    "summary": "Duplicate resolution (moderation): merge an offer into another, or unmerge it.",
    "description": "**deals.offer.merge** (first-party): Duplicate resolution (moderation): merge an offer into another, or unmerge it. Nothing is copied or deleted: votes, observations, sources and comments stay where they were written and the canonical offer reads across the group (a voter counts once). Audited with the tallies before and after; reversible.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.merge"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-moderation",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.merge"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.offer-action-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.offer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/observations": {
   "post": {
    "operationId": "post_api_v1_offers_id_observations",
    "summary": "Edit an offer the acting person submitted (title, description, category, stated expiry, product link), or record a new observation of any active offer for the acting person (POST …/observations: price",
    "description": "**deals.offer.update** (first-party): Edit an offer the acting person submitted (title, description, category, stated expiry, product link), or record a new observation of any active offer for the acting person (POST …/observations: price with currency, shipping, condition, availability, with the time it was observed). Prices are never edited in place; each observation is a new row. Services may state observed_at (never in the future).",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-write",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.offer-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.offer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/review": {
   "post": {
    "operationId": "post_api_v1_offers_id_review",
    "summary": "Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags.",
    "description": "**deals.offer.moderate** (first-party): Moderation: disable or enable an offer, record a person's review of imported or AI-assisted text (reviews are recorded for a usr_ subject only), read and resolve flags including vote-ring flags. Audited.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.moderate"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-moderation",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.moderation-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/unmerge": {
   "post": {
    "operationId": "post_api_v1_offers_id_unmerge",
    "summary": "Duplicate resolution (moderation): merge an offer into another, or unmerge it.",
    "description": "**deals.offer.merge** (first-party): Duplicate resolution (moderation): merge an offer into another, or unmerge it. Nothing is copied or deleted: votes, observations, sources and comments stay where they were written and the canonical offer reads across the group (a voter counts once). Audited with the tallies before and after; reversible.",
    "tags": [
     "deals.offer"
    ],
    "x-openvibe-capabilities": [
     "deals.offer.merge"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-moderation",
    "security": [
     {
      "openvibeToken": [
       "deals.offer.merge"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.offer-action-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.offer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/offers/{id}/vote": {
   "delete": {
    "operationId": "delete_api_v1_offers_id_vote",
    "summary": "Remove the acting person's vote on an offer (kept as a removed row for history).",
    "description": "**deals.vote.remove** (first-party): Remove the acting person's vote on an offer (kept as a removed row for history). Same abuse controls as deals.vote.set.",
    "tags": [
     "deals.vote"
    ],
    "x-openvibe-capabilities": [
     "deals.vote.remove"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-vote",
    "security": [
     {
      "openvibeToken": [
       "deals.vote.remove"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.vote-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_offers_id_vote",
    "summary": "Set the acting person's vote (+1 / -1) on an offer.",
    "description": "**deals.vote.set** (first-party): Set the acting person's vote (+1 / -1) on an offer. Server-authoritative: weight and hotness are computed by Deals (hot@1), never taken from the request. Rate-limited per person, per IP hash and per offer; no votes on one's own offer; vote-ring detection flags moderators.",
    "tags": [
     "deals.vote"
    ],
    "x-openvibe-capabilities": [
     "deals.vote.set"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-vote",
    "security": [
     {
      "openvibeToken": [
       "deals.vote.set"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.vote-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.vote-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/products/resolve": {
   "post": {
    "operationId": "post_api_v1_products_resolve",
    "summary": "Resolve a product by its aliases (gtin, mpn, sku, exact name, url), creating it when none matches (create: false to only look up).",
    "description": "**deals.product.resolve** (first-party): Resolve a product by its aliases (gtin, mpn, sku, exact name, url), creating it when none matches (create: false to only look up). Aliases that already name another product are reported as conflicts, never re-pointed.",
    "tags": [
     "deals.product"
    ],
    "x-openvibe-capabilities": [
     "deals.product.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-write",
    "security": [
     {
      "openvibeToken": [
       "deals.product.resolve"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.product-resolve-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.product-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/watches": {
   "get": {
    "operationId": "get_api_v1_watches",
    "summary": "List the acting person's watches and saved searches with their notification counts.",
    "description": "**deals.watch.read** (first-party): List the acting person's watches and saved searches with their notification counts.",
    "tags": [
     "deals.watch"
    ],
    "x-openvibe-capabilities": [
     "deals.watch.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-read",
    "security": [
     {
      "openvibeToken": [
       "deals.watch.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.watch-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_watches",
    "summary": "Create a keyword, product or price-below watch, or a saved search (never notifies), for the acting person.",
    "description": "**deals.watch.create** (first-party): Create a keyword, product or price-below watch, or a saved search (never notifies), for the acting person. A watch notifies at most once per observation (deals.watch.matched, internal; Deals never emails).",
    "tags": [
     "deals.watch"
    ],
    "x-openvibe-capabilities": [
     "deals.watch.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-write",
    "security": [
     {
      "openvibeToken": [
       "deals.watch.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/deals.watch-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.watch-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/watches/{id}": {
   "delete": {
    "operationId": "delete_api_v1_watches_id",
    "summary": "Delete one of the acting person's watches or saved searches.",
    "description": "**deals.watch.delete** (first-party): Delete one of the acting person's watches or saved searches.",
    "tags": [
     "deals.watch"
    ],
    "x-openvibe-capabilities": [
     "deals.watch.delete"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "deals-write",
    "security": [
     {
      "openvibeToken": [
       "deals.watch.delete"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/deals.watch-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "deals.flag-request.v1": {
    "title": "DealsFlagRequest",
    "description": "deals.flag-request@1: the body of POST /api/v1/offers/:id/flags on OpenVibe.Deals (deals.flag.create; a person): { kind, reason?, duplicate_of? } — duplicate_of (the other deal, id, slug or /d/ link) is required for kind duplicate. An open flag of the same kind by the same person is refreshed, not repeated.",
    "type": "object",
    "required": [
     "kind"
    ],
    "properties": {
     "kind": {
      "enum": [
       "expired",
       "price_wrong",
       "spam",
       "duplicate",
       "other"
      ]
     },
     "reason": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 500
     },
     "duplicate_of": {
      "type": [
       "string",
       "null"
      ]
     }
    },
    "if": {
     "properties": {
      "kind": {
       "const": "duplicate"
      }
     }
    },
    "then": {
     "required": [
      "duplicate_of"
     ]
    }
   },
   "deals.flag-result.v1": {
    "title": "DealsFlagResult",
    "description": "deals.flag-result@1: the answer of POST /api/v1/offers/:id/flags on OpenVibe.Deals: { flag: { id, kind, status }, created } (201 when created, 200 when an open flag was refreshed).",
    "type": "object",
    "required": [
     "flag",
     "created"
    ],
    "properties": {
     "flag": {
      "type": "object",
      "required": [
       "id",
       "kind",
       "status"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "kind": {
        "type": "string"
       },
       "status": {
        "type": "string"
       }
      }
     },
     "created": {
      "type": "boolean"
     }
    }
   },
   "deals.moderation-request.v1": {
    "title": "DealsModerationRequest",
    "description": "deals.moderation-request@1: bodies of deals.offer.moderate on OpenVibe.Deals (moderators). POST /api/v1/offers/:id/disable: { reason } (3-300 characters); POST …/enable: { reason? }; POST …/review (a person): { note? }; POST /api/v1/flags/:id/resolve: { status?: resolved (default) | dismissed, resolution? }. GET /api/v1/flags?status= takes no body.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       },
       "note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       }
      }
     },
     {
      "type": "object",
      "required": [
       "status"
      ],
      "properties": {
       "status": {
        "enum": [
         "resolved",
         "dismissed"
        ]
       },
       "resolution": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       }
      }
     }
    ]
   },
   "deals.moderation-result.v1": {
    "title": "DealsModerationResult",
    "description": "deals.moderation-result@1: answers of deals.offer.moderate on OpenVibe.Deals. POST /api/v1/offers/:id/disable|enable|review → { offer }; GET /api/v1/flags?status=open|resolved|dismissed → { flags }; POST /api/v1/flags/:id/resolve → { flag, changed } (changed false when it was no longer open).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "offer"
      ],
      "properties": {
       "offer": {
        "$ref": "#/components/schemas/deals.offer.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "flags"
      ],
      "properties": {
       "flags": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "kind",
          "origin",
          "status"
         ],
         "properties": {
          "id": {
           "type": "string"
          },
          "kind": {
           "type": "string"
          },
          "origin": {
           "type": "string"
          },
          "reporter": {
           "type": [
            "string",
            "null"
           ]
          },
          "reason": {
           "type": [
            "string",
            "null"
           ]
          },
          "status": {
           "enum": [
            "open",
            "resolved",
            "dismissed"
           ]
          },
          "details": {
           "type": "object"
          },
          "created_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "updated_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "resolved_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "resolved_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "resolution": {
           "type": [
            "string",
            "null"
           ]
          },
          "offer": {
           "type": [
            "object",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "flag",
       "changed"
      ],
      "properties": {
       "flag": {
        "type": "object",
        "required": [
         "id",
         "kind",
         "origin",
         "status"
        ],
        "properties": {
         "id": {
          "type": "string"
         },
         "kind": {
          "type": "string"
         },
         "origin": {
          "type": "string"
         },
         "reporter": {
          "type": [
           "string",
           "null"
          ]
         },
         "reason": {
          "type": [
           "string",
           "null"
          ]
         },
         "status": {
          "enum": [
           "open",
           "resolved",
           "dismissed"
          ]
         },
         "details": {
          "type": "object"
         },
         "created_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "updated_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "resolved_by": {
          "type": [
           "string",
           "null"
          ]
         },
         "resolved_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "resolution": {
          "type": [
           "string",
           "null"
          ]
         },
         "offer": {
          "type": [
           "object",
           "null"
          ]
         }
        }
       },
       "changed": {
        "type": "boolean"
       }
      }
     }
    ]
   },
   "deals.offer-action-request.v1": {
    "title": "DealsOfferActionRequest",
    "description": "deals.offer-action-request@1: bodies of the deal actions on OpenVibe.Deals. POST /api/v1/offers/:id/expire (deals.offer.expire; the submitter or a moderator): { reason? } (a moderator's reason is recorded). POST …/disable (deals.offer.moderate): { reason } (3-300 characters, required); POST …/enable: { reason? }; POST …/review (a person): { note? }. POST …/merge (deals.offer.merge, moderators): { into, reason? } (the canonical deal, id or slug; no cycles, not an already merged offer); POST …/unmerge: { reason? }.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       },
       "note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       }
      }
     },
     {
      "type": "object",
      "required": [
       "into"
      ],
      "properties": {
       "into": {
        "type": "string",
        "minLength": 1
       },
       "reason": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     }
    ]
   },
   "deals.offer-result.v1": {
    "title": "DealsOfferResult",
    "description": "deals.offer-result@1: the answer of the deal writes on OpenVibe.Deals: { offer } (the canonical offer after the change). POST /api/v1/offers (201), PATCH /api/v1/offers/:id, POST …/expire, …/disable, …/enable and …/review answer exactly that; POST …/observations (201) adds the observation recorded; POST …/merge adds merged { id, slug } and the before/after of the change; POST …/unmerge adds from { id, slug } and before/after.",
    "type": "object",
    "required": [
     "offer"
    ],
    "properties": {
     "offer": {
      "$ref": "#/components/schemas/deals.offer.v1"
     },
     "observation": {
      "type": "object",
      "required": [
       "id",
       "observed_at",
       "origin",
       "source"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "observed_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "recorded_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "price": {
        "type": [
         "string",
         "null"
        ]
       },
       "currency": {
        "type": [
         "string",
         "null"
        ]
       },
       "shipping": {
        "type": [
         "string",
         "null"
        ]
       },
       "shipping_note": {
        "type": [
         "string",
         "null"
        ]
       },
       "condition": {
        "enum": [
         "new",
         "used",
         "refurbished",
         "damaged",
         null
        ]
       },
       "availability": {
        "enum": [
         "in_stock",
         "out_of_stock",
         "preorder",
         "discontinued",
         "limited",
         "sold_out",
         "online_only",
         "in_store_only",
         null
        ]
       },
       "origin": {
        "type": "string"
       },
       "observed_by": {
        "type": [
         "string",
         "null"
        ]
       },
       "listing": {
        "type": [
         "string",
         "null"
        ]
       },
       "source": {
        "type": "object",
        "properties": {
         "id": {
          "type": [
           "string",
           "null"
          ]
         },
         "kind": {
          "type": [
           "string",
           "null"
          ]
         },
         "ref": {
          "type": [
           "object",
           "null"
          ]
         },
         "key": {
          "type": [
           "string",
           "null"
          ]
         },
         "url": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       }
      }
     },
     "merged": {
      "type": "object",
      "properties": {
       "id": {
        "type": "string"
       },
       "slug": {
        "type": "string"
       }
      }
     },
     "from": {
      "type": "object",
      "properties": {
       "id": {
        "type": "string"
       },
       "slug": {
        "type": "string"
       }
      }
     },
     "before": {},
     "after": {}
    }
   },
   "deals.offer-submit-request.v1": {
    "title": "DealsOfferSubmitRequest",
    "description": "deals.offer-submit-request@1: the body of POST /api/v1/offers on OpenVibe.Deals (deals.offer.submit; a signed-in person, or a service acting for one; X-OV-Origin: ai holds the text for review). url (an http(s) link to the offer; a link already posted is 409 offer.duplicate) and title (3-200 characters) are required; a price or shipping cost needs its currency; expires_at may not be in the past. The first price observation is recorded with it.",
    "type": "object",
    "required": [
     "url",
     "title"
    ],
    "properties": {
     "url": {
      "type": "string",
      "pattern": "^https?://"
     },
     "title": {
      "type": "string",
      "minLength": 3,
      "maxLength": 200
     },
     "description": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 4000
     },
     "category": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 60
     },
     "expires_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "store_name": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 120
     },
     "product_slug": {
      "type": [
       "string",
       "null"
      ]
     },
     "product": {
      "type": "object",
      "description": "Product aliases to resolve (or create) the product.",
      "properties": {
       "name": {
        "type": "string"
       },
       "brand": {
        "type": [
         "string",
         "null"
        ]
       },
       "gtin": {
        "type": "string",
        "pattern": "^[0-9]{8,14}$"
       },
       "mpn": {
        "type": "string"
       },
       "sku": {
        "type": "string"
       },
       "url": {
        "type": "string"
       },
       "category": {
        "type": [
         "string",
         "null"
        ]
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "price": {
      "type": [
       "string",
       "number",
       "null"
      ],
      "description": "A decimal amount; always with its currency."
     },
     "currency": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^[A-Za-z]{3}$",
      "description": "ISO 4217; Deals never assumes one."
     },
     "shipping": {
      "type": [
       "string",
       "number",
       "null"
      ],
      "description": "A decimal amount; always with its currency."
     },
     "shipping_note": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 200
     },
     "condition": {
      "enum": [
       "new",
       "used",
       "refurbished",
       "damaged",
       null
      ]
     },
     "availability": {
      "enum": [
       "in_stock",
       "out_of_stock",
       "preorder",
       "discontinued",
       "limited",
       "sold_out",
       "online_only",
       "in_store_only",
       null
      ]
     },
     "note": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 300
     }
    }
   },
   "deals.offer-update-request.v1": {
    "title": "DealsOfferUpdateRequest",
    "description": "deals.offer-update-request@1: bodies of deals.offer.update on OpenVibe.Deals. PATCH /api/v1/offers/:id (the submitter or a moderator): { title?, description?, category?, expires_at?, product_slug? | product?, ai_summary? } (ai_summary only from OpenVibe.AI with X-OV-Origin: ai; product null detaches it). POST /api/v1/offers/:id/observations (a person): a price report — at least a price, shipping cost, availability or condition, with the currency of any amount; services may give observed_at (not in the future).",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "title": {
        "type": "string",
        "minLength": 3,
        "maxLength": 200
       },
       "description": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 4000
       },
       "category": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 60
       },
       "expires_at": {
        "type": [
         "string",
         "null"
        ]
       },
       "product_slug": {
        "type": [
         "string",
         "null"
        ]
       },
       "product": {
        "anyOf": [
         {
          "type": "object",
          "description": "Product aliases to resolve (or create) the product.",
          "properties": {
           "name": {
            "type": "string"
           },
           "brand": {
            "type": [
             "string",
             "null"
            ]
           },
           "gtin": {
            "type": "string",
            "pattern": "^[0-9]{8,14}$"
           },
           "mpn": {
            "type": "string"
           },
           "sku": {
            "type": "string"
           },
           "url": {
            "type": "string"
           },
           "category": {
            "type": [
             "string",
             "null"
            ]
           },
           "description": {
            "type": [
             "string",
             "null"
            ]
           }
          }
         },
         {
          "type": "null"
         }
        ]
       },
       "ai_summary": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 2000
       }
      }
     },
     {
      "type": "object",
      "anyOf": [
       {
        "required": [
         "price"
        ]
       },
       {
        "required": [
         "shipping"
        ]
       },
       {
        "required": [
         "availability"
        ]
       },
       {
        "required": [
         "condition"
        ]
       }
      ],
      "properties": {
       "price": {
        "type": [
         "string",
         "number",
         "null"
        ],
        "description": "A decimal amount; always with its currency."
       },
       "currency": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^[A-Za-z]{3}$",
        "description": "ISO 4217; Deals never assumes one."
       },
       "shipping": {
        "type": [
         "string",
         "number",
         "null"
        ],
        "description": "A decimal amount; always with its currency."
       },
       "shipping_note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 200
       },
       "condition": {
        "enum": [
         "new",
         "used",
         "refurbished",
         "damaged",
         null
        ]
       },
       "availability": {
        "enum": [
         "in_stock",
         "out_of_stock",
         "preorder",
         "discontinued",
         "limited",
         "sold_out",
         "online_only",
         "in_store_only",
         null
        ]
       },
       "note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       },
       "observed_at": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     }
    ]
   },
   "deals.offer.v1": {
    "title": "DealsOffer",
    "description": "deals.offer@1: one deal as OpenVibe.Deals presents it (server/domain/publication.js offerDto; the API and /d/:slug.json): the canonical (root) offer of a merge group with its store, product, price observations (the latest is \"latest\", never \"current\": freshness says whether it still holds), sources, the offers merged into it, votes, hotness and the indexability decision.",
    "type": "object",
    "required": [
     "id",
     "slug",
     "url",
     "title",
     "link",
     "status",
     "origin",
     "created_at",
     "observations",
     "votes",
     "indexability"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "slug": {
      "type": "string"
     },
     "url": {
      "type": "string"
     },
     "title": {
      "type": "string"
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "link": {
      "type": "string",
      "description": "The offer on the store."
     },
     "status": {
      "type": "string",
      "description": "active, expired, disabled"
     },
     "category": {
      "type": [
       "string",
       "null"
      ]
     },
     "origin": {
      "type": "string"
     },
     "submitted_by": {
      "type": [
       "string",
       "null"
      ]
     },
     "text_origin": {
      "type": [
       "string",
       "null"
      ]
     },
     "review_state": {
      "type": [
       "string",
       "null"
      ]
     },
     "ai_summary": {
      "type": [
       "string",
       "null"
      ]
     },
     "expires_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "expired_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "expired_reason": {
      "type": [
       "string",
       "null"
      ]
     },
     "disabled_reason": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "store": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "domain": {
        "type": "string"
       },
       "name": {
        "type": [
         "string",
         "null"
        ]
       },
       "url": {
        "type": "string"
       }
      }
     },
     "product": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       },
       "url": {
        "type": "string"
       }
      }
     },
     "latest_observation": {
      "anyOf": [
       {
        "type": "object",
        "required": [
         "id",
         "observed_at",
         "origin",
         "source"
        ],
        "properties": {
         "id": {
          "type": "string"
         },
         "observed_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "recorded_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "price": {
          "type": [
           "string",
           "null"
          ]
         },
         "currency": {
          "type": [
           "string",
           "null"
          ]
         },
         "shipping": {
          "type": [
           "string",
           "null"
          ]
         },
         "shipping_note": {
          "type": [
           "string",
           "null"
          ]
         },
         "condition": {
          "enum": [
           "new",
           "used",
           "refurbished",
           "damaged",
           null
          ]
         },
         "availability": {
          "enum": [
           "in_stock",
           "out_of_stock",
           "preorder",
           "discontinued",
           "limited",
           "sold_out",
           "online_only",
           "in_store_only",
           null
          ]
         },
         "origin": {
          "type": "string"
         },
         "observed_by": {
          "type": [
           "string",
           "null"
          ]
         },
         "listing": {
          "type": [
           "string",
           "null"
          ]
         },
         "source": {
          "type": "object",
          "properties": {
           "id": {
            "type": [
             "string",
             "null"
            ]
           },
           "kind": {
            "type": [
             "string",
             "null"
            ]
           },
           "ref": {
            "type": [
             "object",
             "null"
            ]
           },
           "key": {
            "type": [
             "string",
             "null"
            ]
           },
           "url": {
            "type": [
             "string",
             "null"
            ]
           }
          }
         }
        }
       },
       {
        "type": "null"
       }
      ]
     },
     "freshness": {},
     "observations": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "id",
        "observed_at",
        "origin",
        "source"
       ],
       "properties": {
        "id": {
         "type": "string"
        },
        "observed_at": {
         "type": [
          "string",
          "null"
         ],
         "format": "date-time"
        },
        "recorded_at": {
         "type": [
          "string",
          "null"
         ],
         "format": "date-time"
        },
        "price": {
         "type": [
          "string",
          "null"
         ]
        },
        "currency": {
         "type": [
          "string",
          "null"
         ]
        },
        "shipping": {
         "type": [
          "string",
          "null"
         ]
        },
        "shipping_note": {
         "type": [
          "string",
          "null"
         ]
        },
        "condition": {
         "enum": [
          "new",
          "used",
          "refurbished",
          "damaged",
          null
         ]
        },
        "availability": {
         "enum": [
          "in_stock",
          "out_of_stock",
          "preorder",
          "discontinued",
          "limited",
          "sold_out",
          "online_only",
          "in_store_only",
          null
         ]
        },
        "origin": {
         "type": "string"
        },
        "observed_by": {
         "type": [
          "string",
          "null"
         ]
        },
        "listing": {
         "type": [
          "string",
          "null"
         ]
        },
        "source": {
         "type": "object",
         "properties": {
          "id": {
           "type": [
            "string",
            "null"
           ]
          },
          "kind": {
           "type": [
            "string",
            "null"
           ]
          },
          "ref": {
           "type": [
            "object",
            "null"
           ]
          },
          "key": {
           "type": [
            "string",
            "null"
           ]
          },
          "url": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     "sources": {
      "type": "array",
      "items": {
       "type": "object"
      }
     },
     "merged_from": {
      "type": "array",
      "items": {
       "type": "object",
       "properties": {
        "id": {
         "type": "string"
        },
        "slug": {
         "type": "string"
        },
        "title": {
         "type": "string"
        },
        "merged_at": {
         "type": [
          "string",
          "null"
         ],
         "format": "date-time"
        }
       }
      }
     },
     "votes": {
      "type": "object",
      "required": [
       "up",
       "down",
       "up_weight",
       "down_weight"
      ],
      "properties": {
       "up": {
        "type": "integer",
        "minimum": 0
       },
       "down": {
        "type": "integer",
        "minimum": 0
       },
       "up_weight": {
        "type": "number"
       },
       "down_weight": {
        "type": "number"
       }
      }
     },
     "hotness": {
      "type": [
       "object",
       "null"
      ]
     },
     "indexability": {
      "type": "object",
      "required": [
       "indexable"
      ],
      "properties": {
       "indexable": {
        "type": "boolean"
       },
       "robots": {
        "type": "string"
       },
       "reasons": {
        "type": "array"
       }
      }
     }
    }
   },
   "deals.product-resolve-request.v1": {
    "title": "DealsProductResolveRequest",
    "description": "deals.product-resolve-request@1: the body of POST /api/v1/products/resolve on OpenVibe.Deals (deals.product.resolve): product aliases (gtin 8-14 digits, mpn, sku, url, name) to find the product by; with create (default true) a product is made when none matches (name then required, 2-200 characters).",
    "type": "object",
    "properties": {
     "name": {
      "type": "string"
     },
     "brand": {
      "type": [
       "string",
       "null"
      ]
     },
     "gtin": {
      "type": "string",
      "pattern": "^[0-9]{8,14}$"
     },
     "mpn": {
      "type": "string"
     },
     "sku": {
      "type": "string"
     },
     "url": {
      "type": "string"
     },
     "category": {
      "type": [
       "string",
       "null"
      ]
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "create": {
      "type": "boolean"
     }
    }
   },
   "deals.product-resolve-result.v1": {
    "title": "DealsProductResolveResult",
    "description": "deals.product-resolve-result@1: the answer of POST /api/v1/products/resolve on OpenVibe.Deals: { product, created, conflicts } — 201 when the product was created; conflicts lists aliases that pointed elsewhere. Nothing matching with create false is 404 product.not_found.",
    "type": "object",
    "required": [
     "product",
     "created",
     "conflicts"
    ],
    "properties": {
     "product": {
      "type": "object",
      "required": [
       "id",
       "slug",
       "name",
       "url"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       },
       "url": {
        "type": "string"
       }
      }
     },
     "created": {
      "type": "boolean"
     },
     "conflicts": {
      "type": "array"
     }
    }
   },
   "deals.vote-request.v1": {
    "title": "DealsVoteRequest",
    "description": "deals.vote-request@1: the body of PUT /api/v1/offers/:id/vote on OpenVibe.Deals (deals.vote.set; a person): { value: 1 | -1 }. DELETE /api/v1/offers/:id/vote (deals.vote.remove) takes no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "value"
      ],
      "properties": {
       "value": {
        "enum": [
         1,
         -1,
         "1",
         "-1"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "deals.vote-result.v1": {
    "title": "DealsVoteResult",
    "description": "deals.vote-result@1: the answer of PUT and DELETE /api/v1/offers/:id/vote on OpenVibe.Deals: { offer_id, value (0 after a removal), previous, changed, votes } — the vote lands on the canonical offer of a merge group.",
    "type": "object",
    "required": [
     "offer_id",
     "value",
     "previous",
     "changed",
     "votes"
    ],
    "properties": {
     "offer_id": {
      "type": "string"
     },
     "value": {
      "enum": [
       1,
       -1,
       0
      ]
     },
     "previous": {
      "enum": [
       1,
       -1,
       0,
       null
      ]
     },
     "changed": {
      "type": "boolean"
     },
     "votes": {
      "type": "object",
      "required": [
       "up",
       "down",
       "up_weight",
       "down_weight"
      ],
      "properties": {
       "up": {
        "type": "integer",
        "minimum": 0
       },
       "down": {
        "type": "integer",
        "minimum": 0
       },
       "up_weight": {
        "type": "number"
       },
       "down_weight": {
        "type": "number"
       }
      }
     }
    }
   },
   "deals.watch-request.v1": {
    "title": "DealsWatchRequest",
    "description": "deals.watch-request@1: the body of POST /api/v1/watches on OpenVibe.Deals (deals.watch.create; the acting person): kind keyword or search (query with at least one word; a search is saved without notifications), product (product, a slug or id), or price_below (max_price and currency, with a product or keywords). label is optional (120 characters). There is a per-person limit (429 watch.limit).",
    "type": "object",
    "required": [
     "kind"
    ],
    "properties": {
     "kind": {
      "enum": [
       "keyword",
       "product",
       "price_below",
       "search"
      ]
     },
     "query": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 200
     },
     "product": {
      "type": [
       "string",
       "null"
      ]
     },
     "max_price": {
      "type": [
       "string",
       "number",
       "null"
      ],
      "description": "A decimal amount; always with its currency."
     },
     "currency": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^[A-Za-z]{3}$",
      "description": "ISO 4217; Deals never assumes one."
     },
     "label": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 120
     }
    },
    "allOf": [
     {
      "if": {
       "properties": {
        "kind": {
         "enum": [
          "keyword",
          "search"
         ]
        }
       }
      },
      "then": {
       "required": [
        "query"
       ]
      }
     },
     {
      "if": {
       "properties": {
        "kind": {
         "const": "product"
        }
       }
      },
      "then": {
       "required": [
        "product"
       ]
      }
     },
     {
      "if": {
       "properties": {
        "kind": {
         "const": "price_below"
        }
       }
      },
      "then": {
       "required": [
        "max_price",
        "currency"
       ]
      }
     }
    ]
   },
   "deals.watch-result.v1": {
    "title": "DealsWatchResult",
    "description": "deals.watch-result@1: answers of the watch routes on OpenVibe.Deals: GET /api/v1/watches → { watches } (the acting person's; deals.watch.read); POST /api/v1/watches → 201 { watch } (deals.watch.create); DELETE /api/v1/watches/:id → { id, deleted: true } (deals.watch.delete; someone else's watch is 404).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "watches"
      ],
      "properties": {
       "watches": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "kind",
          "notify",
          "created_at"
         ],
         "properties": {
          "id": {
           "type": "string"
          },
          "kind": {
           "enum": [
            "keyword",
            "product",
            "price_below",
            "search"
           ]
          },
          "query": {
           "type": [
            "string",
            "null"
           ]
          },
          "label": {
           "type": [
            "string",
            "null"
           ]
          },
          "notify": {
           "type": "boolean"
          },
          "product": {
           "type": [
            "object",
            "null"
           ]
          },
          "max_price": {
           "type": [
            "string",
            "null"
           ]
          },
          "currency": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "notifications": {
           "type": "integer",
           "minimum": 0
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "watch"
      ],
      "properties": {
       "watch": {
        "type": "object",
        "required": [
         "id",
         "kind",
         "notify",
         "created_at"
        ],
        "properties": {
         "id": {
          "type": "string"
         },
         "kind": {
          "enum": [
           "keyword",
           "product",
           "price_below",
           "search"
          ]
         },
         "query": {
          "type": [
           "string",
           "null"
          ]
         },
         "label": {
          "type": [
           "string",
           "null"
          ]
         },
         "notify": {
          "type": "boolean"
         },
         "product": {
          "type": [
           "object",
           "null"
          ]
         },
         "max_price": {
          "type": [
           "string",
           "null"
          ]
         },
         "currency": {
          "type": [
           "string",
           "null"
          ]
         },
         "created_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "notifications": {
          "type": "integer",
          "minimum": 0
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "id",
       "deleted"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "deleted": {
        "const": true
       }
      }
     }
    ]
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
