{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Events API",
  "version": "0.57.0",
  "description": "Routes of OpenVibe.Events as the OpenVibe contracts describe them (openvibe-contracts 0.57.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://events.openvibe.network"
  }
 ],
 "paths": {
  "/api/v1/checkpoints": {
   "get": {
    "operationId": "get_api_v1_checkpoints",
    "summary": "Pull events as a developer app (ADR-014): only the app's own project's events (app.<project_key>.*, same environment as the token) plus first-party platform events with visibility public.",
    "description": "**events.app.read** (public): Pull events as a developer app (ADR-014): only the app's own project's events (app.<project_key>.*, same environment as the token) plus first-party platform events with visibility public. Topic patterns must start with a literal segment; app.* patterns must name the caller's own project_key. Checkpoints are stored per app.\n\n**events.event.read** (internal): Read retained events of every visibility with a seq cursor (pull consumers), keep per-consumer checkpoints, and open realtime streams as a service principal.",
    "tags": [
     "events.app",
     "events.event"
    ],
    "x-openvibe-capabilities": [
     "events.app.read",
     "events.event.read"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-read",
    "security": [
     {
      "openvibeToken": [
       "events.app.read"
      ]
     },
     {
      "openvibeToken": [
       "events.event.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/events.read-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_checkpoints",
    "summary": "Pull events as a developer app (ADR-014): only the app's own project's events (app.<project_key>.*, same environment as the token) plus first-party platform events with visibility public.",
    "description": "**events.app.read** (public): Pull events as a developer app (ADR-014): only the app's own project's events (app.<project_key>.*, same environment as the token) plus first-party platform events with visibility public. Topic patterns must start with a literal segment; app.* patterns must name the caller's own project_key. Checkpoints are stored per app.\n\n**events.event.read** (internal): Read retained events of every visibility with a seq cursor (pull consumers), keep per-consumer checkpoints, and open realtime streams as a service principal.",
    "tags": [
     "events.app",
     "events.event"
    ],
    "x-openvibe-capabilities": [
     "events.app.read",
     "events.event.read"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-read",
    "security": [
     {
      "openvibeToken": [
       "events.app.read"
      ]
     },
     {
      "openvibeToken": [
       "events.event.read"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/events.read-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/deliveries": {
   "get": {
    "operationId": "get_api_v1_deliveries",
    "summary": "Operator access: inspect deliveries (including the dead-letter queue) and replay events to any subscription.",
    "description": "**events.delivery.admin** (internal): Operator access: inspect deliveries (including the dead-letter queue) and replay events to any subscription.",
    "tags": [
     "events.delivery"
    ],
    "x-openvibe-capabilities": [
     "events.delivery.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "events-admin",
    "security": [
     {
      "openvibeToken": [
       "events.delivery.admin"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/events.delivery-admin-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.delivery-admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/deliveries/replay": {
   "post": {
    "operationId": "post_api_v1_deliveries_replay",
    "summary": "Operator access: inspect deliveries (including the dead-letter queue) and replay events to any subscription.",
    "description": "**events.delivery.admin** (internal): Operator access: inspect deliveries (including the dead-letter queue) and replay events to any subscription.",
    "tags": [
     "events.delivery"
    ],
    "x-openvibe-capabilities": [
     "events.delivery.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "events-admin",
    "security": [
     {
      "openvibeToken": [
       "events.delivery.admin"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/events.delivery-admin-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.delivery-admin-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/events": {
   "get": {
    "operationId": "get_api_v1_events",
    "summary": "Pull events as a developer app (ADR-014): only the app's own project's events (app.<project_key>.*, same environment as the token) plus first-party platform events with visibility public.",
    "description": "**events.app.read** (public): Pull events as a developer app (ADR-014): only the app's own project's events (app.<project_key>.*, same environment as the token) plus first-party platform events with visibility public. Topic patterns must start with a literal segment; app.* patterns must name the caller's own project_key. Checkpoints are stored per app.\n\n**events.event.read** (internal): Read retained events of every visibility with a seq cursor (pull consumers), keep per-consumer checkpoints, and open realtime streams as a service principal.",
    "tags": [
     "events.app",
     "events.event"
    ],
    "x-openvibe-capabilities": [
     "events.app.read",
     "events.event.read"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-read",
    "security": [
     {
      "openvibeToken": [
       "events.app.read"
      ]
     },
     {
      "openvibeToken": [
       "events.event.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/events.read-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_events",
    "summary": "Publish durable events (events.event-envelope@1) as a developer app (ADR-014).",
    "description": "**events.app.publish** (public): Publish durable events (events.event-envelope@1) as a developer app (ADR-014). The app token (sub app:app_<ULID>, project_id prj_<ULID>, env) may publish only event types app.<project_key>.<name>[.<more>], where project_key is 'p' followed by the project's ULID in lowercase (prj_01JAB... -> p01jab...). source must be 'app-' followed by the app's ULID in lowercase; actor is the app (or the on_behalf_of user). Events stores the token's env with each event: sandbox events are never delivered to production subscriptions nor shown to production apps. Rate and retained bytes are limited per project and environment by OpenVibe.Events.\n\n**events.event.publish** (internal): Publish durable events (events.event-envelope@1) as the calling service: source must be the principal's service slug and event_type must use a prefix that source owns. Idempotent on event_id.",
    "tags": [
     "events.app",
     "events.event"
    ],
    "x-openvibe-capabilities": [
     "events.app.publish",
     "events.event.publish"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-publish",
    "security": [
     {
      "openvibeToken": [
       "events.app.publish"
      ]
     },
     {
      "openvibeToken": [
       "events.event.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/events.publish-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/events/{event_id}": {
   "get": {
    "operationId": "get_api_v1_events_event_id",
    "summary": "Pull events as a developer app (ADR-014): only the app's own project's events (app.<project_key>.*, same environment as the token) plus first-party platform events with visibility public.",
    "description": "**events.app.read** (public): Pull events as a developer app (ADR-014): only the app's own project's events (app.<project_key>.*, same environment as the token) plus first-party platform events with visibility public. Topic patterns must start with a literal segment; app.* patterns must name the caller's own project_key. Checkpoints are stored per app.\n\n**events.event.read** (internal): Read retained events of every visibility with a seq cursor (pull consumers), keep per-consumer checkpoints, and open realtime streams as a service principal.",
    "tags": [
     "events.app",
     "events.event"
    ],
    "x-openvibe-capabilities": [
     "events.app.read",
     "events.event.read"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-read",
    "security": [
     {
      "openvibeToken": [
       "events.app.read"
      ]
     },
     {
      "openvibeToken": [
       "events.event.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/events.read-request.v1"
    },
    "parameters": [
     {
      "name": "event_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/subscriptions": {
   "get": {
    "operationId": "get_api_v1_subscriptions",
    "summary": "Manage webhook subscriptions as a developer app (ADR-014).",
    "description": "**events.app.subscribe** (public): Manage webhook subscriptions as a developer app (ADR-014). Topic patterns are limited to the scope of events.app.read (own project's app.<project_key>.* events in the token's environment, plus public platform events). Endpoints must be https URLs whose host resolves only to public IP addresses; OpenVibe.Events re-checks the resolved address when it delivers and never follows redirects. Deliveries are signed with the subscription secret (X-OpenVibe-Signature: sha256=<HMAC of the raw body>). Subscriptions carry project_id and env; sandbox events reach sandbox subscriptions only.\n\n**events.subscription.manage** (internal): Create, list, disable and enable the calling service's own webhook subscriptions (topic pattern + allow-listed internal endpoint, HMAC-signed deliveries with retry and dead letters).",
    "tags": [
     "events.app",
     "events.subscription"
    ],
    "x-openvibe-capabilities": [
     "events.app.subscribe",
     "events.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-subscribe",
    "security": [
     {
      "openvibeToken": [
       "events.app.subscribe"
      ]
     },
     {
      "openvibeToken": [
       "events.subscription.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/events.subscription-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.subscription-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_subscriptions",
    "summary": "Manage webhook subscriptions as a developer app (ADR-014).",
    "description": "**events.app.subscribe** (public): Manage webhook subscriptions as a developer app (ADR-014). Topic patterns are limited to the scope of events.app.read (own project's app.<project_key>.* events in the token's environment, plus public platform events). Endpoints must be https URLs whose host resolves only to public IP addresses; OpenVibe.Events re-checks the resolved address when it delivers and never follows redirects. Deliveries are signed with the subscription secret (X-OpenVibe-Signature: sha256=<HMAC of the raw body>). Subscriptions carry project_id and env; sandbox events reach sandbox subscriptions only.\n\n**events.subscription.manage** (internal): Create, list, disable and enable the calling service's own webhook subscriptions (topic pattern + allow-listed internal endpoint, HMAC-signed deliveries with retry and dead letters).",
    "tags": [
     "events.app",
     "events.subscription"
    ],
    "x-openvibe-capabilities": [
     "events.app.subscribe",
     "events.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-subscribe",
    "security": [
     {
      "openvibeToken": [
       "events.app.subscribe"
      ]
     },
     {
      "openvibeToken": [
       "events.subscription.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/events.subscription-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.subscription-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/subscriptions/{id}": {
   "get": {
    "operationId": "get_api_v1_subscriptions_id",
    "summary": "Manage webhook subscriptions as a developer app (ADR-014).",
    "description": "**events.app.subscribe** (public): Manage webhook subscriptions as a developer app (ADR-014). Topic patterns are limited to the scope of events.app.read (own project's app.<project_key>.* events in the token's environment, plus public platform events). Endpoints must be https URLs whose host resolves only to public IP addresses; OpenVibe.Events re-checks the resolved address when it delivers and never follows redirects. Deliveries are signed with the subscription secret (X-OpenVibe-Signature: sha256=<HMAC of the raw body>). Subscriptions carry project_id and env; sandbox events reach sandbox subscriptions only.\n\n**events.subscription.manage** (internal): Create, list, disable and enable the calling service's own webhook subscriptions (topic pattern + allow-listed internal endpoint, HMAC-signed deliveries with retry and dead letters).",
    "tags": [
     "events.app",
     "events.subscription"
    ],
    "x-openvibe-capabilities": [
     "events.app.subscribe",
     "events.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-subscribe",
    "security": [
     {
      "openvibeToken": [
       "events.app.subscribe"
      ]
     },
     {
      "openvibeToken": [
       "events.subscription.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/events.subscription-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.subscription-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/subscriptions/{id}/disable": {
   "post": {
    "operationId": "post_api_v1_subscriptions_id_disable",
    "summary": "Manage webhook subscriptions as a developer app (ADR-014).",
    "description": "**events.app.subscribe** (public): Manage webhook subscriptions as a developer app (ADR-014). Topic patterns are limited to the scope of events.app.read (own project's app.<project_key>.* events in the token's environment, plus public platform events). Endpoints must be https URLs whose host resolves only to public IP addresses; OpenVibe.Events re-checks the resolved address when it delivers and never follows redirects. Deliveries are signed with the subscription secret (X-OpenVibe-Signature: sha256=<HMAC of the raw body>). Subscriptions carry project_id and env; sandbox events reach sandbox subscriptions only.\n\n**events.subscription.manage** (internal): Create, list, disable and enable the calling service's own webhook subscriptions (topic pattern + allow-listed internal endpoint, HMAC-signed deliveries with retry and dead letters).",
    "tags": [
     "events.app",
     "events.subscription"
    ],
    "x-openvibe-capabilities": [
     "events.app.subscribe",
     "events.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-subscribe",
    "security": [
     {
      "openvibeToken": [
       "events.app.subscribe"
      ]
     },
     {
      "openvibeToken": [
       "events.subscription.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/events.subscription-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.subscription-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/subscriptions/{id}/enable": {
   "post": {
    "operationId": "post_api_v1_subscriptions_id_enable",
    "summary": "Manage webhook subscriptions as a developer app (ADR-014).",
    "description": "**events.app.subscribe** (public): Manage webhook subscriptions as a developer app (ADR-014). Topic patterns are limited to the scope of events.app.read (own project's app.<project_key>.* events in the token's environment, plus public platform events). Endpoints must be https URLs whose host resolves only to public IP addresses; OpenVibe.Events re-checks the resolved address when it delivers and never follows redirects. Deliveries are signed with the subscription secret (X-OpenVibe-Signature: sha256=<HMAC of the raw body>). Subscriptions carry project_id and env; sandbox events reach sandbox subscriptions only.\n\n**events.subscription.manage** (internal): Create, list, disable and enable the calling service's own webhook subscriptions (topic pattern + allow-listed internal endpoint, HMAC-signed deliveries with retry and dead letters).",
    "tags": [
     "events.app",
     "events.subscription"
    ],
    "x-openvibe-capabilities": [
     "events.app.subscribe",
     "events.subscription.manage"
    ],
    "x-openvibe-visibility": [
     "public",
     "internal"
    ],
    "x-openvibe-quota-class": "events-app-subscribe",
    "security": [
     {
      "openvibeToken": [
       "events.app.subscribe"
      ]
     },
     {
      "openvibeToken": [
       "events.subscription.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/events.subscription-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.subscription-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/realtime/stream": {
   "get": {
    "operationId": "get_realtime_stream",
    "summary": "Read retained events of every visibility with a seq cursor (pull consumers), keep per-consumer checkpoints, and open realtime streams as a service principal.",
    "description": "**events.event.read** (internal): Read retained events of every visibility with a seq cursor (pull consumers), keep per-consumer checkpoints, and open realtime streams as a service principal.",
    "tags": [
     "events.event"
    ],
    "x-openvibe-capabilities": [
     "events.event.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "events-read",
    "security": [
     {
      "openvibeToken": [
       "events.event.read"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/events.read-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/events.read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "events.delivery-admin-request.v1": {
    "title": "EventsDeliveryAdminRequest",
    "description": "events.delivery-admin-request@1: the body of POST /api/v1/deliveries/replay on OpenVibe.Events (events.delivery.admin, operators): { subscription_id } and exactly one of from_seq (requeue everything the subscription matches from that seq) or event_ids (at most 1000). GET /api/v1/deliveries?status=&subscription_id=&after_seq=&limit= takes no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "subscription_id"
      ],
      "oneOf": [
       {
        "required": [
         "from_seq"
        ]
       },
       {
        "required": [
         "event_ids"
        ]
       }
      ],
      "properties": {
       "subscription_id": {
        "type": "string"
       },
       "from_seq": {
        "type": "integer",
        "minimum": 0
       },
       "event_ids": {
        "type": "array",
        "maxItems": 1000,
        "items": {
         "type": "string"
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "events.delivery-admin-result.v1": {
    "title": "EventsDeliveryAdminResult",
    "description": "events.delivery-admin-result@1: answers of events.delivery.admin on OpenVibe.Events. GET /api/v1/deliveries → { deliveries, counts } (per delivery: event, subscription, seq, status pending|delivered|failed|dead, attempt, next_attempt_at, the last HTTP status and error, delivered_at; counts by status); POST /api/v1/deliveries/replay → { subscription_id, queued }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "deliveries",
       "counts"
      ],
      "properties": {
       "deliveries": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "event_id",
          "subscription_id",
          "seq",
          "status",
          "attempt"
         ],
         "properties": {
          "event_id": {
           "type": "string"
          },
          "subscription_id": {
           "type": "string"
          },
          "seq": {
           "type": "integer"
          },
          "status": {
           "enum": [
            "pending",
            "delivered",
            "failed",
            "dead"
           ]
          },
          "attempt": {
           "type": "integer",
           "minimum": 0
          },
          "next_attempt_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "last_status": {
           "type": [
            "integer",
            "null"
           ]
          },
          "last_error": {
           "type": [
            "string",
            "null"
           ]
          },
          "delivered_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          }
         }
        }
       },
       "counts": {
        "type": "object",
        "required": [
         "pending",
         "delivered",
         "failed",
         "dead"
        ],
        "properties": {
         "pending": {
          "type": "integer"
         },
         "delivered": {
          "type": "integer"
         },
         "failed": {
          "type": "integer"
         },
         "dead": {
          "type": "integer"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "subscription_id",
       "queued"
      ],
      "properties": {
       "subscription_id": {
        "type": "string"
       },
       "queued": {
        "type": "integer",
        "minimum": 0
       }
      }
     }
    ]
   },
   "events.event-envelope.v1": {
    "title": "EventEnvelope",
    "description": "Durable platform event (OpenVibe.Events, Wave 3). Producers write it to an outbox in the same transaction as the domain change.",
    "type": "object",
    "required": [
     "event_id",
     "event_type",
     "version",
     "source",
     "actor",
     "timestamp",
     "subject",
     "payload"
    ],
    "additionalProperties": false,
    "properties": {
     "event_id": {
      "type": "string",
      "pattern": "^evt_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "event_type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
     },
     "version": {
      "type": "integer",
      "minimum": 1
     },
     "source": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$"
     },
     "actor": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "timestamp": {
      "type": "string",
      "format": "date-time"
     },
     "priority": {
      "enum": [
       "critical",
       "important",
       "low"
      ],
      "default": "important"
     },
     "visibility": {
      "enum": [
       "public",
       "subject",
       "internal"
      ],
      "default": "internal"
     },
     "subject": {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "type": "string"
       },
       "id": {
        "type": "string"
       },
       "revision": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     "payload": {
      "type": "object"
     }
    }
   },
   "events.publish-request.v1": {
    "title": "EventsPublishRequest",
    "description": "events.publish-request@1: the body of POST /api/v1/events on OpenVibe.Events (events.event.publish for services, events.app.publish for developer apps): one events.event-envelope@1, or a batch { events: [...] } of 1 to 100 envelopes stored all or nothing. trace_id, priority (important) and visibility (internal) default when left out. source must be the caller and event_type one of its prefixes (an app: app-<ULID> and app.<project_key>.*, actor the app or the user it acts for).",
    "anyOf": [
     {
      "$ref": "#/components/schemas/events.event-envelope.v1"
     },
     {
      "type": "object",
      "required": [
       "events"
      ],
      "not": {
       "required": [
        "event_id"
       ]
      },
      "properties": {
       "events": {
        "type": "array",
        "minItems": 1,
        "maxItems": 100,
        "items": {
         "$ref": "#/components/schemas/events.event-envelope.v1"
        }
       }
      }
     }
    ]
   },
   "events.publish-result.v1": {
    "title": "EventsPublishResult",
    "description": "events.publish-result@1: the answer of POST /api/v1/events on OpenVibe.Events (events.event.publish for services, events.app.publish for developer apps). One envelope → { event_id, seq, duplicate } (201 when stored, 200 when every event was a repeat); a batch { events: [...] } (at most 100, atomic) → { results } in the same order. Refusals are problem+json: 422 events.invalid_envelope / events.invalid_redaction, 403 events.source_mismatch / events.type_not_allowed / events.actor_mismatch, 413 events.payload_too_large / events.batch_too_large, 429 events.quota_exceeded (apps).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "event_id",
       "seq",
       "duplicate"
      ],
      "properties": {
       "event_id": {
        "type": "string",
        "pattern": "^evt_"
       },
       "seq": {
        "type": "integer",
        "minimum": 1
       },
       "duplicate": {
        "type": "boolean",
        "description": "true: this event_id was stored before; the stored seq is returned and nothing is stored twice."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "results"
      ],
      "properties": {
       "results": {
        "type": "array",
        "minItems": 1,
        "maxItems": 100,
        "items": {
         "type": "object",
         "required": [
          "event_id",
          "seq",
          "duplicate"
         ],
         "properties": {
          "event_id": {
           "type": "string",
           "pattern": "^evt_"
          },
          "seq": {
           "type": "integer",
           "minimum": 1
          },
          "duplicate": {
           "type": "boolean",
           "description": "true: this event_id was stored before; the stored seq is returned and nothing is stored twice."
          }
         }
        }
       }
      }
     }
    ]
   },
   "events.read-request.v1": {
    "title": "EventsReadRequest",
    "description": "events.read-request@1: request bodies of the pull API on OpenVibe.Events (events.event.read, events.app.read). PUT /api/v1/checkpoints: { topic, cursor } stores the calling consumer's cursor for a topic pattern (an app's patterns must start with a literal segment and app.* must name its own project_key). GET /api/v1/events?topic=&after_seq=&limit=, GET /api/v1/events/:event_id, GET /api/v1/checkpoints?topic= and GET /realtime/stream?topics= take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "topic",
       "cursor"
      ],
      "properties": {
       "topic": {
        "type": "string",
        "maxLength": 200,
        "pattern": "^(\\*|[a-z0-9_]+)(\\.(\\*|[a-z0-9_]+))*$",
        "description": "Dot-separated segments of [a-z0-9_] or *, where * stands for one or more whole segments (*.* is refused)."
       },
       "cursor": {
        "type": "integer",
        "minimum": 0,
        "description": "A seq (next_after_seq of the last page handled)."
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "events.read-result.v1": {
    "title": "EventsReadResult",
    "description": "events.read-result@1: answers of the pull API on OpenVibe.Events. GET /api/v1/events → { events: [{ seq, event }], next_after_seq, latest_seq, gap? } (keep next_after_seq as the cursor: it moves past events that did not match; gap { from_seq, to_seq } says events after after_seq were already pruned by retention); GET /api/v1/events/:event_id → { seq, event }; GET|PUT /api/v1/checkpoints → { consumer, topic, cursor, updated_at } (cursor 0 and updated_at null when none is stored). GET /realtime/stream?topics= (events.event.read) is a Server-Sent Events feed whose messages carry the same { seq, event } (id: the seq; a gap message when the cursor is older than retention). An app sees only its project's events in its token's environment plus public first-party events.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "events",
       "next_after_seq",
       "latest_seq"
      ],
      "properties": {
       "events": {
        "type": "array",
        "maxItems": 1000,
        "items": {
         "type": "object",
         "required": [
          "seq",
          "event"
         ],
         "properties": {
          "seq": {
           "type": "integer",
           "minimum": 1
          },
          "event": {
           "$ref": "#/components/schemas/events.event-envelope.v1"
          }
         }
        }
       },
       "next_after_seq": {
        "type": "integer",
        "minimum": 0
       },
       "latest_seq": {
        "type": "integer",
        "minimum": 0
       },
       "gap": {
        "type": "object",
        "required": [
         "from_seq",
         "to_seq"
        ],
        "properties": {
         "from_seq": {
          "type": "integer"
         },
         "to_seq": {
          "type": "integer"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "seq",
       "event"
      ],
      "properties": {
       "seq": {
        "type": "integer",
        "minimum": 1
       },
       "event": {
        "$ref": "#/components/schemas/events.event-envelope.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "consumer",
       "topic",
       "cursor",
       "updated_at"
      ],
      "properties": {
       "consumer": {
        "type": "string"
       },
       "topic": {
        "type": "string"
       },
       "cursor": {
        "type": "integer",
        "minimum": 0
       },
       "updated_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     }
    ]
   },
   "events.subscription-request.v1": {
    "title": "EventsSubscriptionRequest",
    "description": "events.subscription-request@1: the body of POST /api/v1/subscriptions on OpenVibe.Events (events.subscription.manage for services, events.app.subscribe for developer apps; the consumer is always the caller). topic_pattern (topic is accepted for it) and endpoint are required: a service's endpoint must be http(s) on the allow-list (127.0.0.1, *.openvibe.*), an app's must be https resolving only to public addresses. secret, when given, is 32 to 256 characters (else one is generated); retry_policy accepts max_attempts (1..20) and backoff_ms (1..20 delays of 0..86400000 ms) and nothing else. The same pattern and endpoint twice is 409 events.subscription_exists. GET /api/v1/subscriptions[/:id] and POST /api/v1/subscriptions/:id/disable|enable take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "endpoint"
      ],
      "anyOf": [
       {
        "required": [
         "topic_pattern"
        ]
       },
       {
        "required": [
         "topic"
        ]
       }
      ],
      "properties": {
       "topic_pattern": {
        "type": "string",
        "maxLength": 200,
        "pattern": "^(\\*|[a-z0-9_]+)(\\.(\\*|[a-z0-9_]+))*$",
        "description": "Dot-separated segments of [a-z0-9_] or *, where * stands for one or more whole segments (*.* is refused)."
       },
       "topic": {
        "type": "string",
        "maxLength": 200,
        "pattern": "^(\\*|[a-z0-9_]+)(\\.(\\*|[a-z0-9_]+))*$",
        "description": "Dot-separated segments of [a-z0-9_] or *, where * stands for one or more whole segments (*.* is refused)."
       },
       "endpoint": {
        "type": "string",
        "pattern": "^https?://"
       },
       "secret": {
        "type": "string",
        "minLength": 32,
        "maxLength": 256
       },
       "retry_policy": {
        "type": [
         "object",
         "null"
        ],
        "additionalProperties": false,
        "properties": {
         "max_attempts": {
          "type": "integer",
          "minimum": 1,
          "maximum": 20
         },
         "backoff_ms": {
          "type": "array",
          "minItems": 1,
          "maxItems": 20,
          "items": {
           "type": "integer",
           "minimum": 0,
           "maximum": 86400000
          }
         }
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "events.subscription-result.v1": {
    "title": "EventsSubscriptionResult",
    "description": "events.subscription-result@1: answers of the subscription routes on OpenVibe.Events. POST /api/v1/subscriptions → 201 events.subscription@1 with its secret (shown once); GET /api/v1/subscriptions → { subscriptions } (the caller's own, no secrets); GET /api/v1/subscriptions/:id and POST …/disable|enable → events.subscription@1. Another consumer's subscription is 404.",
    "anyOf": [
     {
      "$ref": "#/components/schemas/events.subscription.v1"
     },
     {
      "type": "object",
      "required": [
       "subscriptions"
      ],
      "properties": {
       "subscriptions": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/events.subscription.v1"
        }
       }
      }
     }
    ]
   },
   "events.subscription.v1": {
    "title": "EventsSubscription",
    "description": "events.subscription@1: one push subscription as OpenVibe.Events shows it to its consumer (server/store.js subscriptionView). The signing secret appears only in the answer that creates it (and in a rotation's). A developer app's subscription also names its project and environment.",
    "type": "object",
    "required": [
     "id",
     "consumer",
     "topic_pattern",
     "endpoint",
     "enabled",
     "retry_policy",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^sub_"
     },
     "consumer": {
      "type": "string",
      "description": "The calling service, or app:app_<ULID>."
     },
     "topic_pattern": {
      "type": "string"
     },
     "endpoint": {
      "type": "string"
     },
     "enabled": {
      "type": "boolean"
     },
     "retry_policy": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "max_attempts": {
        "type": "integer"
       },
       "backoff_ms": {
        "type": "array",
        "items": {
         "type": "integer"
        }
       }
      }
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "project_id": {
      "type": "string"
     },
     "env": {
      "type": "string"
     },
     "secret": {
      "type": "string",
      "description": "Only when the subscription is created: shown once."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     }
    ]
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
