{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Games API",
  "version": "0.68.0",
  "description": "Routes of OpenVibe.Games as the OpenVibe contracts describe them (openvibe-contracts 0.68.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.games"
  }
 ],
 "paths": {
  "/api/v1/mods": {
   "get": {
    "operationId": "get_api_v1_mods",
    "summary": "Read the browser game's installed mods: manifest, content pack, status, trust tier, requested and granted capabilities.",
    "description": "**games.mod.read** (public): Read the browser game's installed mods: manifest, content pack, status, trust tier, requested and granted capabilities. Public; no token needed.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "games-read",
    "security": [
     {
      "openvibeToken": [
       "games.mod.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_mods",
    "summary": "Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, di",
    "description": "**games.mod.manage** (first-party): Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, disable, and revoke an install for good (its effects end on the next server tick). Every action is audited and published as a games.mod.* event. Trust tiers are metadata and never grant anything. Also accepted from an openvibe.network owner/admin session.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "games-admin",
    "security": [
     {
      "openvibeToken": [
       "games.mod.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/games.mod-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/mods/{id}": {
   "get": {
    "operationId": "get_api_v1_mods_id",
    "summary": "Read the browser game's installed mods: manifest, content pack, status, trust tier, requested and granted capabilities.",
    "description": "**games.mod.read** (public): Read the browser game's installed mods: manifest, content pack, status, trust tier, requested and granted capabilities. Public; no token needed.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "games-read",
    "security": [
     {
      "openvibeToken": [
       "games.mod.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/mods/{id}/audit": {
   "get": {
    "operationId": "get_api_v1_mods_id_audit",
    "summary": "Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, di",
    "description": "**games.mod.manage** (first-party): Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, disable, and revoke an install for good (its effects end on the next server tick). Every action is audited and published as a games.mod.* event. Trust tiers are metadata and never grant anything. Also accepted from an openvibe.network owner/admin session.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "games-admin",
    "security": [
     {
      "openvibeToken": [
       "games.mod.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/games.mod-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/mods/{id}/disable": {
   "post": {
    "operationId": "post_api_v1_mods_id_disable",
    "summary": "Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, di",
    "description": "**games.mod.manage** (first-party): Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, disable, and revoke an install for good (its effects end on the next server tick). Every action is audited and published as a games.mod.* event. Trust tiers are metadata and never grant anything. Also accepted from an openvibe.network owner/admin session.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "games-admin",
    "security": [
     {
      "openvibeToken": [
       "games.mod.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/games.mod-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/mods/{id}/enable": {
   "post": {
    "operationId": "post_api_v1_mods_id_enable",
    "summary": "Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, di",
    "description": "**games.mod.manage** (first-party): Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, disable, and revoke an install for good (its effects end on the next server tick). Every action is audited and published as a games.mod.* event. Trust tiers are metadata and never grant anything. Also accepted from an openvibe.network owner/admin session.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "games-admin",
    "security": [
     {
      "openvibeToken": [
       "games.mod.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/games.mod-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/mods/{id}/grants": {
   "post": {
    "operationId": "post_api_v1_mods_id_grants",
    "summary": "Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, di",
    "description": "**games.mod.manage** (first-party): Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, disable, and revoke an install for good (its effects end on the next server tick). Every action is audited and published as a games.mod.* event. Trust tiers are metadata and never grant anything. Also accepted from an openvibe.network owner/admin session.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "games-admin",
    "security": [
     {
      "openvibeToken": [
       "games.mod.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/games.mod-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/mods/{id}/grants/{capability}": {
   "delete": {
    "operationId": "delete_api_v1_mods_id_grants_capability",
    "summary": "Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, di",
    "description": "**games.mod.manage** (first-party): Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, disable, and revoke an install for good (its effects end on the next server tick). Every action is audited and published as a games.mod.* event. Trust tiers are metadata and never grant anything. Also accepted from an openvibe.network owner/admin session.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "games-admin",
    "security": [
     {
      "openvibeToken": [
       "games.mod.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/games.mod-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "capability",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/mods/{id}/revoke": {
   "post": {
    "operationId": "post_api_v1_mods_id_revoke",
    "summary": "Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, di",
    "description": "**games.mod.manage** (first-party): Manage mod installs in the browser game's registry (ADR-013): install a mods/mod-manifest.v1 manifest with its games-content@1 pack, approve or revoke individual capabilities of an install, enable, disable, and revoke an install for good (its effects end on the next server tick). Every action is audited and published as a games.mod.* event. Trust tiers are metadata and never grant anything. Also accepted from an openvibe.network owner/admin session.",
    "tags": [
     "games.mod"
    ],
    "x-openvibe-capabilities": [
     "games.mod.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "games-admin",
    "security": [
     {
      "openvibeToken": [
       "games.mod.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/games.mod-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/games.mod-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "games.announcement.v1": {
    "title": "GamesAnnouncement",
    "description": "games.announcement@1: what a mod announces through games.world.announce on OpenVibe.Games. Not an HTTP route: the mod runtime binding ModApi.announce(text) (apps/server/src/mods/runtime.ts), driven by the announcements section of the mod's games-content@1 pack (validated strictly: text 1-200 characters, repeated every everySeconds, 60 to 86400). The text is whitespace-collapsed and cut to 200 characters; an empty one is dropped.",
    "type": "object",
    "required": [
     "text",
     "everySeconds"
    ],
    "additionalProperties": false,
    "properties": {
     "text": {
      "type": "string",
      "minLength": 1,
      "maxLength": 200
     },
     "everySeconds": {
      "type": "integer",
      "minimum": 60,
      "maximum": 86400
     }
    }
   },
   "games.mod-manage-request.v1": {
    "title": "GamesModManageRequest",
    "description": "games.mod-manage-request@1: bodies of games.mod.manage on OpenVibe.Games (staff: an owner/admin session, or a service token with games.mod.manage). POST /api/v1/mods installs a mod: { manifest, pack?, approve?, trustTier?, enable? } — manifest is a mods.mod-manifest@1 the Games runtime can run (games.browser, games-content@1); pack is its games-content@1 data (announcements and props, validated strictly: unknown keys refused); approve lists at most 64 requested capabilities to grant; trustTier is unreviewed (default), reviewed or first-party; enable true starts it enabled. A mod already installed is 409 mod.exists. POST /api/v1/mods/:id/grants: { capability }. POST /api/v1/mods/:id/revoke: { reason? } (terminal). POST /api/v1/mods/:id/enable|disable take an empty JSON object or no body; DELETE /api/v1/mods/:id/grants/:capability and GET /api/v1/mods/:id/audit take no body. Bodies are at most 256 KB; unknown top-level fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "manifest"
      ],
      "properties": {
       "manifest": {
        "$ref": "#/components/schemas/mods.mod-manifest.v1"
       },
       "pack": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
         "announcements": {
          "type": "array",
          "maxItems": 10,
          "items": {
           "$ref": "#/components/schemas/games.announcement.v1"
          }
         },
         "props": {
          "type": "array",
          "maxItems": 50,
          "items": {
           "type": "object",
           "required": [
            "key",
            "item",
            "pos"
           ],
           "additionalProperties": false,
           "properties": {
            "key": {
             "type": "string",
             "pattern": "^[a-z0-9][a-z0-9_-]{0,39}$"
            },
            "item": {
             "type": "string",
             "minLength": 1,
             "maxLength": 64
            },
            "pos": {
             "type": "array",
             "minItems": 3,
             "maxItems": 3,
             "items": {
              "type": "number",
              "minimum": -4096,
              "maximum": 4096
             }
            },
            "yaw": {
             "type": "number",
             "minimum": -10,
             "maximum": 10
            }
           }
          }
         }
        }
       },
       "approve": {
        "type": "array",
        "maxItems": 64,
        "items": {
         "type": "string"
        }
       },
       "trustTier": {
        "enum": [
         "unreviewed",
         "reviewed",
         "first-party"
        ]
       },
       "enable": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "capability"
      ],
      "properties": {
       "capability": {
        "type": "string",
        "minLength": 1
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "reason": {
        "type": "string",
        "maxLength": 500,
        "description": "Revoke only; cut to 500 characters."
       }
      }
     }
    ]
   },
   "games.mod-manage-result.v1": {
    "title": "GamesModManageResult",
    "description": "games.mod-manage-result@1: answers of games.mod.manage on OpenVibe.Games (staff: an owner/admin session, or a service token with games.mod.manage). POST /api/v1/mods → 201 the installed mod's public view; POST /api/v1/mods/:id/enable|disable|revoke, POST /api/v1/mods/:id/grants and DELETE /api/v1/mods/:id/grants/:capability → 200 the mod's public view after the change (revoke is terminal); GET /api/v1/mods/:id/audit?limit= → { audit } (install, grant, use, deny and revoke entries, at most 500). Errors are problem+json (mod.not_found, mod.invalid_request, capability.denied, …).",
    "anyOf": [
     {
      "$ref": "#/components/schemas/games.mod-view.v1"
     },
     {
      "type": "object",
      "required": [
       "audit"
      ],
      "properties": {
       "audit": {
        "type": "array",
        "maxItems": 500,
        "items": {
         "type": "object",
         "required": [
          "modId",
          "action",
          "actor",
          "at"
         ],
         "properties": {
          "id": {
           "type": "integer"
          },
          "modId": {
           "type": "string"
          },
          "action": {
           "type": "string"
          },
          "capability": {
           "type": [
            "string",
            "null"
           ]
          },
          "actor": {
           "type": "string"
          },
          "detail": {
           "type": [
            "object",
            "null"
           ]
          },
          "at": {
           "type": "integer",
           "description": "ms epoch."
          }
         }
        }
       }
      }
     }
    ]
   },
   "games.mod-read-result.v1": {
    "title": "GamesModReadResult",
    "description": "games.mod-read-result@1: answers of games.mod.read on OpenVibe.Games (public). GET /api/v1/mods → { mods } (every installed mod's public view: status and grants); GET /api/v1/mods/:id → one mod's public view with its installed manifest (mods.mod-manifest@1) and pack. An unknown id is 404 mod.not_found.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "mods"
      ],
      "properties": {
       "mods": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/games.mod-view.v1"
        }
       }
      }
     },
     {
      "allOf": [
       {
        "$ref": "#/components/schemas/games.mod-view.v1"
       },
       {
        "type": "object",
        "required": [
         "manifest",
         "pack"
        ],
        "properties": {
         "manifest": {
          "$ref": "#/components/schemas/mods.mod-manifest.v1"
         },
         "pack": {
          "type": "object"
         }
        }
       }
      ]
     }
    ]
   },
   "games.mod-view.v1": {
    "title": "GamesModView",
    "description": "games.mod-view@1: an installed mod's public view on OpenVibe.Games (apps/server/src/mods/routes.ts publicView): identity, runtime, trust tier, lifecycle status, the capabilities its manifest requests and those currently granted.",
    "type": "object",
    "required": [
     "id",
     "name",
     "version",
     "target",
     "runtime",
     "trust_tier",
     "status",
     "requested",
     "granted",
     "installed_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^mod_"
     },
     "name": {
      "type": "string"
     },
     "version": {
      "type": "string"
     },
     "target": {
      "type": "string",
      "description": "e.g. games.browser"
     },
     "runtime": {
      "type": "string",
      "description": "e.g. games-content@1"
     },
     "trust_tier": {
      "enum": [
       "unreviewed",
       "reviewed",
       "first-party"
      ]
     },
     "status": {
      "enum": [
       "enabled",
       "disabled",
       "revoked"
      ]
     },
     "requested": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "Capabilities the manifest asks for."
     },
     "granted": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "Capabilities approved and not revoked."
     },
     "installed_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     }
    ]
   },
   "media.media-ref.v1": {
    "title": "MediaRef",
    "description": "Reference to a Media object. Canonical ids (med_<ULID>) arrive with the Wave 4 object model; until then legacy:<app>:<kind>:<id> addresses today's VOD/clip/file/paste/thumbnail rows.",
    "type": "object",
    "required": [
     "media_id"
    ],
    "additionalProperties": false,
    "properties": {
     "media_id": {
      "type": "string",
      "pattern": "^(med_[0-9A-HJKMNP-TV-Z]{26}|legacy:[a-z][a-z0-9-]{1,39}:(vod|clip|file|paste|thumbnail|avatar):[A-Za-z0-9._/-]{1,200})$"
     },
     "role": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$"
     },
     "variant": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9_-]{0,39}$"
     }
    }
   },
   "mods.mod-manifest.v1": {
    "title": "ModManifest",
    "description": "A mod as the platform knows it (ADR-013): who publishes it, which runtime runs it, which capabilities it asks for and the resources it may use. Requested capabilities are only a request: the install's approved subset is the grant, and trust tiers are install metadata that never change a grant check. The runtime-specific payload (a data pack, a script bundle) is not part of the manifest. 1.1.0 (openvibe-contracts v0.34.0) adds the optional permissions.readGrants and writeGrants, billingHooks and dependencies (ADR-013 amendment of 2026-09-24); every 1.0.0 manifest stays valid.",
    "type": "object",
    "required": [
     "id",
     "name",
     "version",
     "publisher",
     "target",
     "runtime",
     "permissions",
     "resources",
     "compatibility"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Stable mod id; its principal subject is mod:<id>."
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "version": {
      "type": "string",
      "pattern": "^(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)\\.(0|[1-9][0-9]*)(-[0-9A-Za-z.-]+)?$",
      "description": "Semantic version of this release."
     },
     "description": {
      "type": "string",
      "maxLength": 1000
     },
     "publisher": {
      "$ref": "#/components/schemas/identity.subject-ref.v1",
      "description": "Who publishes the mod (a user or an app subject)."
     },
     "target": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}\\.[a-z][a-z0-9-]{1,39}$",
      "description": "Where the mod runs: <service>.<surface>, e.g. games.browser, games.source, live.overlay."
     },
     "runtime": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}@[1-9][0-9]{0,3}$",
      "description": "Runtime adapter and its major version, e.g. games-content@1 (declarative data pack) or source-quickjs@1."
     },
     "permissions": {
      "type": "object",
      "required": [
       "capabilities"
      ],
      "additionalProperties": false,
      "properties": {
       "capabilities": {
        "description": "Capability ids the mod asks for (3+ segments). The target runtime binds only those it implements, and only once granted.",
        "type": "array",
        "maxItems": 64,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
        }
       },
       "events": {
        "description": "Event types the mod wants delivered to it.",
        "type": "array",
        "maxItems": 64,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
        }
       },
       "modules": {
        "description": "User-module namespaces the mod wants to read or write (a trailing .* names a family). A namespace listed here may be read and written; readGrants and writeGrants (1.1.0) say which.",
        "type": "array",
        "maxItems": 32,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*(\\.\\*)?$"
        }
       },
       "mediaNamespaces": {
        "description": "Media namespaces the mod wants to read or write. A namespace listed here may be read and written; readGrants and writeGrants (1.1.0) say which.",
        "type": "array",
        "maxItems": 32,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)*$"
        }
       },
       "readGrants": {
        "description": "1.1.0: namespaces the mod may only read. A namespace that is only here is read-only. The install's approved subset is still the grant.",
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
         "modules": {
          "description": "User-module namespaces (a trailing .* names a family).",
          "type": "array",
          "maxItems": 32,
          "uniqueItems": true,
          "items": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*(\\.\\*)?$"
          }
         },
         "mediaNamespaces": {
          "description": "Media namespaces.",
          "type": "array",
          "maxItems": 32,
          "uniqueItems": true,
          "items": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)*$"
          }
         }
        }
       },
       "writeGrants": {
        "description": "1.1.0: namespaces the mod may read and write. A write needs the namespace here, or in the older modules and mediaNamespaces lists, which mean read and write.",
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
         "modules": {
          "description": "User-module namespaces (a trailing .* names a family).",
          "type": "array",
          "maxItems": 32,
          "uniqueItems": true,
          "items": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*(\\.\\*)?$"
          }
         },
         "mediaNamespaces": {
          "description": "Media namespaces.",
          "type": "array",
          "maxItems": 32,
          "uniqueItems": true,
          "items": {
           "type": "string",
           "pattern": "^[a-z][a-z0-9_-]*(\\.[a-z0-9_-]+)*$"
          }
         }
        }
       }
      }
     },
     "resources": {
      "type": "object",
      "required": [
       "cpuMs",
       "memoryMb",
       "storageMb"
      ],
      "additionalProperties": false,
      "description": "The budget the mod asks for. Runtimes meter it; the sandbox that enforces it lives in OpenVibe.Host (Stage C).",
      "properties": {
       "cpuMs": {
        "type": "number",
        "minimum": 0,
        "maximum": 1000,
        "description": "CPU milliseconds per tick (game runtimes) or per request."
       },
       "memoryMb": {
        "type": "integer",
        "minimum": 0,
        "maximum": 4096
       },
       "storageMb": {
        "type": "integer",
        "minimum": 0,
        "maximum": 102400
       },
       "outboundHosts": {
        "description": "Hosts the mod may reach over the network. Empty or absent = none.",
        "type": "array",
        "maxItems": 32,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^(?=.{1,253}$)([a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?\\.)+[a-z]{2,63}$"
        }
       }
      }
     },
     "assets": {
      "description": "Assets the mod ships, as Media object references.",
      "type": "array",
      "maxItems": 256,
      "items": {
       "$ref": "#/components/schemas/media.media-ref.v1"
      }
     },
     "compatibility": {
      "type": "object",
      "required": [
       "runtime"
      ],
      "additionalProperties": false,
      "properties": {
       "runtime": {
        "type": "string",
        "minLength": 1,
        "maxLength": 100,
        "description": "Semver range of the runtime this release works with, e.g. \">=1.0.0 <2.0.0\"."
       },
       "contracts": {
        "type": "string",
        "minLength": 1,
        "maxLength": 100,
        "description": "Semver range of openvibe-contracts releases it was built against."
       }
      }
     },
     "homepage": {
      "type": "string",
      "pattern": "^https://[^\\s]{1,2000}$"
     },
     "billingHooks": {
      "description": "1.1.0: how the mod takes part in money, only through Billing and VIP primitives (ADR-013 amendment, ADR-012). entitlement: the mod checks that the person holds this entitlement (billing.entitlement.check or vip.entitlement.check, granted like any other capability). checkout: the mod sends the person to the platform's own checkout for this plan (vip.membership.checkout or a Billing intent). A mod never takes payment, sees payment details or holds a balance. Prices live in Billing and VIP, never in the manifest.",
      "type": "array",
      "maxItems": 32,
      "items": {
       "type": "object",
       "required": [
        "kind",
        "key"
       ],
       "additionalProperties": false,
       "properties": {
        "kind": {
         "enum": [
          "entitlement",
          "checkout"
         ]
        },
        "key": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_.:-]{0,127}$",
         "description": "The entitlement or plan key as Billing and VIP name it, e.g. vip.plan:pln_01jab… (lowercase, the form search.index-document@1 acl.entitlements uses)."
        },
        "description": {
         "type": "string",
         "minLength": 1,
         "maxLength": 200,
         "description": "What it unlocks or sells, shown at install."
        }
       }
      }
     },
     "dependencies": {
      "description": "1.1.0: other mods this release needs. A runtime refuses to enable the mod while a required dependency is not installed, not enabled or outside its range. An optional one is used only when present.",
      "type": "array",
      "maxItems": 32,
      "uniqueItems": true,
      "items": {
       "type": "object",
       "required": [
        "id",
        "version"
       ],
       "additionalProperties": false,
       "properties": {
        "id": {
         "type": "string",
         "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "version": {
         "type": "string",
         "minLength": 1,
         "maxLength": 100,
         "description": "Semver range of the dependency's releases this release works with, e.g. \">=1.2.0 <2.0.0\"."
        },
        "optional": {
         "type": "boolean",
         "default": false
        }
       }
      }
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 },
 "x-openvibe-other-bindings": [
  {
   "capability": "games.prop.place",
   "binding": "mod runtime binding ModApi.placeProp / ModApi.removeProp (apps/server/src/mods/runtime.ts)"
  },
  {
   "capability": "games.world.announce",
   "binding": "mod runtime binding ModApi.announce (apps/server/src/mods/runtime.ts)"
  }
 ]
}
