{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Host API",
  "version": "0.68.0",
  "description": "Routes of OpenVibe.Host as the OpenVibe contracts describe them (openvibe-contracts 0.68.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.host"
  }
 ],
 "paths": {
  "/api/v1/deploys/{id}": {
   "delete": {
    "operationId": "delete_api_v1_deploys_id",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_deploys_id",
    "summary": "Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys ",
    "description": "**host.deploy.create** (first-party): Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys and their upload logs, activate a deploy and roll a site back to any earlier ready deploy (one atomic pointer switch). Also judged by the acting principal's project role (deployer or above); an app principal added to a project as deployer can deploy from CI.",
    "tags": [
     "host.deploy"
    ],
    "x-openvibe-capabilities": [
     "host.deploy.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-deploy",
    "security": [
     {
      "openvibeToken": [
       "host.deploy.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.deploy-create-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.deploy-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/deploys/{id}/activate": {
   "post": {
    "operationId": "post_api_v1_deploys_id_activate",
    "summary": "Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys ",
    "description": "**host.deploy.create** (first-party): Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys and their upload logs, activate a deploy and roll a site back to any earlier ready deploy (one atomic pointer switch). Also judged by the acting principal's project role (deployer or above); an app principal added to a project as deployer can deploy from CI.",
    "tags": [
     "host.deploy"
    ],
    "x-openvibe-capabilities": [
     "host.deploy.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-deploy",
    "security": [
     {
      "openvibeToken": [
       "host.deploy.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.deploy-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.deploy-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/deploys/{id}/log": {
   "get": {
    "operationId": "get_api_v1_deploys_id_log",
    "summary": "Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys ",
    "description": "**host.deploy.create** (first-party): Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys and their upload logs, activate a deploy and roll a site back to any earlier ready deploy (one atomic pointer switch). Also judged by the acting principal's project role (deployer or above); an app principal added to a project as deployer can deploy from CI.",
    "tags": [
     "host.deploy"
    ],
    "x-openvibe-capabilities": [
     "host.deploy.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-deploy",
    "security": [
     {
      "openvibeToken": [
       "host.deploy.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.deploy-create-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.deploy-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/domains/{id}": {
   "delete": {
    "operationId": "delete_api_v1_domains_id",
    "summary": "Add a custom domain to a static site (never an OpenVibe domain; not in sandbox projects), read its DNS TXT verification and routing records, trigger a verification check, and remove it.",
    "description": "**host.domain.manage** (first-party): Add a custom domain to a static site (never an OpenVibe domain; not in sandbox projects), read its DNS TXT verification and routing records, trigger a verification check, and remove it. A custom domain is served only after its TXT record is verified; TLS certificates are issued by an operator and never pass through this capability.",
    "tags": [
     "host.domain"
    ],
    "x-openvibe-capabilities": [
     "host.domain.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.domain.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.domain-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.domain-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/domains/{id}/verify": {
   "post": {
    "operationId": "post_api_v1_domains_id_verify",
    "summary": "Add a custom domain to a static site (never an OpenVibe domain; not in sandbox projects), read its DNS TXT verification and routing records, trigger a verification check, and remove it.",
    "description": "**host.domain.manage** (first-party): Add a custom domain to a static site (never an OpenVibe domain; not in sandbox projects), read its DNS TXT verification and routing records, trigger a verification check, and remove it. A custom domain is served only after its TXT record is verified; TLS certificates are issued by an operator and never pass through this capability.",
    "tags": [
     "host.domain"
    ],
    "x-openvibe-capabilities": [
     "host.domain.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.domain.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.domain-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.domain-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/projects": {
   "get": {
    "operationId": "get_api_v1_projects",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_projects",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.site-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/projects/{id}": {
   "delete": {
    "operationId": "delete_api_v1_projects_id",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_projects_id",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/projects/{id}/members/{principal}": {
   "delete": {
    "operationId": "delete_api_v1_projects_id_members_principal",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "principal",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_projects_id_members_principal",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.site-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "principal",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/projects/{id}/quota": {
   "get": {
    "operationId": "get_api_v1_projects_id_quota",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_projects_id_quota",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.site-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/projects/{id}/sites": {
   "get": {
    "operationId": "get_api_v1_projects_id_sites",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_projects_id_sites",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.site-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/projects/{id}/takedown": {
   "delete": {
    "operationId": "delete_api_v1_projects_id_takedown",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_projects_id_takedown",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.site-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sites/{id}": {
   "delete": {
    "operationId": "delete_api_v1_sites_id",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_sites_id",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sites/{id}/deploys": {
   "get": {
    "operationId": "get_api_v1_sites_id_deploys",
    "summary": "Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys ",
    "description": "**host.deploy.create** (first-party): Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys and their upload logs, activate a deploy and roll a site back to any earlier ready deploy (one atomic pointer switch). Also judged by the acting principal's project role (deployer or above); an app principal added to a project as deployer can deploy from CI.",
    "tags": [
     "host.deploy"
    ],
    "x-openvibe-capabilities": [
     "host.deploy.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-deploy",
    "security": [
     {
      "openvibeToken": [
       "host.deploy.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.deploy-create-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.deploy-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_sites_id_deploys",
    "summary": "Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys ",
    "description": "**host.deploy.create** (first-party): Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys and their upload logs, activate a deploy and roll a site back to any earlier ready deploy (one atomic pointer switch). Also judged by the acting principal's project role (deployer or above); an app principal added to a project as deployer can deploy from CI.",
    "tags": [
     "host.deploy"
    ],
    "x-openvibe-capabilities": [
     "host.deploy.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-deploy",
    "security": [
     {
      "openvibeToken": [
       "host.deploy.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.deploy-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.deploy-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sites/{id}/domains": {
   "get": {
    "operationId": "get_api_v1_sites_id_domains",
    "summary": "Add a custom domain to a static site (never an OpenVibe domain; not in sandbox projects), read its DNS TXT verification and routing records, trigger a verification check, and remove it.",
    "description": "**host.domain.manage** (first-party): Add a custom domain to a static site (never an OpenVibe domain; not in sandbox projects), read its DNS TXT verification and routing records, trigger a verification check, and remove it. A custom domain is served only after its TXT record is verified; TLS certificates are issued by an operator and never pass through this capability.",
    "tags": [
     "host.domain"
    ],
    "x-openvibe-capabilities": [
     "host.domain.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.domain.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.domain-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.domain-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_sites_id_domains",
    "summary": "Add a custom domain to a static site (never an OpenVibe domain; not in sandbox projects), read its DNS TXT verification and routing records, trigger a verification check, and remove it.",
    "description": "**host.domain.manage** (first-party): Add a custom domain to a static site (never an OpenVibe domain; not in sandbox projects), read its DNS TXT verification and routing records, trigger a verification check, and remove it. A custom domain is served only after its TXT record is verified; TLS certificates are issued by an operator and never pass through this capability.",
    "tags": [
     "host.domain"
    ],
    "x-openvibe-capabilities": [
     "host.domain.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.domain.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.domain-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.domain-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sites/{id}/rollback": {
   "post": {
    "operationId": "post_api_v1_sites_id_rollback",
    "summary": "Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys ",
    "description": "**host.deploy.create** (first-party): Upload an immutable static deploy (tar/tar.gz or multipart files; validated for path traversal, links, special and hidden files, server-side code, file types and quotas; never executed), list deploys and their upload logs, activate a deploy and roll a site back to any earlier ready deploy (one atomic pointer switch). Also judged by the acting principal's project role (deployer or above); an app principal added to a project as deployer can deploy from CI.",
    "tags": [
     "host.deploy"
    ],
    "x-openvibe-capabilities": [
     "host.deploy.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-deploy",
    "security": [
     {
      "openvibeToken": [
       "host.deploy.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.deploy-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.deploy-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sites/{id}/takedown": {
   "delete": {
    "operationId": "delete_api_v1_sites_id_takedown",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/host.site-manage-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_sites_id_takedown",
    "summary": "Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner ",
    "description": "**host.site.manage** (first-party): Manage OpenVibe.Host tenant projects and static sites: create a project (owned by the person named with X-OV-Subject; apps cannot own projects), read projects, quotas and usage, manage members (owner role), create and delete sites, delete a deploy that is not active. Also judged by the acting principal's project role; a sandbox token (env=sandbox) is refused on production projects. Quota changes and takedowns (stop serving a site or a whole project while keeping its content for review; lift) additionally need a Network staff user.",
    "tags": [
     "host.site"
    ],
    "x-openvibe-capabilities": [
     "host.site.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "host-manage",
    "security": [
     {
      "openvibeToken": [
       "host.site.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/host.site-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/host.site-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "host.deploy-create-request.v1": {
    "title": "HostDeployCreateRequest",
    "description": "host.deploy-create-request@1: bodies of host.deploy.create on OpenVibe.Host (a deployer or above of the project; an app principal added as deployer can deploy from CI). POST /api/v1/sites/:id/deploys uploads a deploy: the raw body is a tar or tar.gz archive (Content-Type application/gzip, application/x-gzip, application/x-tar or application/octet-stream), or multipart/form-data with archive=<one archive> or files=<file>… (each part's filename is its path); optional fields activate=1, root=<subdirectory to deploy> and strip=folder (removes a shared first segment) also work as query parameters. It is validated (path traversal, links, special and hidden files, server-side code, file types, sizes and quotas) and never executed; a refusal is a problem whose extra carries the failed deploy_id and its log (413 upload.too_large, quota.storage; 422 validation codes; 429 quota.deploys_per_day; 403 site.taken_down; 503 upload.busy; 507 storage.host_full). POST /api/v1/deploys/:id/activate { expected_active? } and POST /api/v1/sites/:id/rollback { deploy_id?, expected_active? } switch the site's pointer in one step (rollback without deploy_id goes to the deploy active before; 409 deploy.not_ready, site.active_changed when expected_active is stale, deploy.no_previous). GET /api/v1/sites/:id/deploys, /deploys/:id and /deploys/:id/log take no body.",
    "anyOf": [
     {
      "type": "string",
      "contentEncoding": "binary",
      "description": "The upload itself: the tar or tar.gz bytes, or the multipart/form-data body (as common.binary@1)."
     },
     {
      "type": "object",
      "properties": {
       "deploy_id": {
        "anyOf": [
         {
          "type": "string",
          "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         {
          "type": "null"
         }
        ]
       },
       "expected_active": {
        "anyOf": [
         {
          "type": "string",
          "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         {
          "type": "null"
         }
        ],
        "description": "The deploy you saw active (null: none); refused with 409 site.active_changed when it moved."
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "host.deploy-create-result.v1": {
    "title": "HostDeployCreateResult",
    "description": "host.deploy-create-result@1: answers of host.deploy.create on OpenVibe.Host. GET /api/v1/sites/:id/deploys?limit= → { active_deploy_id, deploys, activations } (newest first; the last 20 pointer switches). POST /api/v1/sites/:id/deploys → 201 { deploy, activated, url } (the ready deploy with its validation log; activated when activate=1 switched the site to it). GET /api/v1/deploys/:id → { deploy } with its files. GET /api/v1/deploys/:id/log → { deploy_id, state, log }. POST /api/v1/deploys/:id/activate and /sites/:id/rollback → { active_deploy_id, previous_deploy_id, changed } (changed false when it was already active). Emits host.deploy.created|activated|failed.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "active_deploy_id",
       "deploys",
       "activations"
      ],
      "properties": {
       "active_deploy_id": {
        "anyOf": [
         {
          "type": "string",
          "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         {
          "type": "null"
         }
        ]
       },
       "deploys": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/host.deploy.v1"
        }
       },
       "activations": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "deploy_id",
          "previous_deploy_id",
          "kind",
          "actor",
          "at"
         ],
         "properties": {
          "deploy_id": {
           "type": "string",
           "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "previous_deploy_id": {
           "anyOf": [
            {
             "type": "string",
             "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
            },
            {
             "type": "null"
            }
           ]
          },
          "kind": {
           "enum": [
            "activate",
            "rollback"
           ]
          },
          "actor": {
           "type": "string"
          },
          "at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "deploy"
      ],
      "properties": {
       "deploy": {
        "$ref": "#/components/schemas/host.deploy.v1"
       },
       "activated": {
        "type": "boolean"
       },
       "url": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "deploy_id",
       "state",
       "log"
      ],
      "properties": {
       "deploy_id": {
        "type": "string",
        "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "state": {
        "enum": [
         "ready",
         "failed",
         "deleted"
        ]
       },
       "log": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "level",
          "message",
          "at"
         ],
         "properties": {
          "level": {
           "enum": [
            "info",
            "warn",
            "error"
           ]
          },
          "message": {
           "type": "string"
          },
          "at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "active_deploy_id",
       "previous_deploy_id",
       "changed"
      ],
      "properties": {
       "active_deploy_id": {
        "type": "string",
        "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "previous_deploy_id": {
        "anyOf": [
         {
          "type": "string",
          "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         {
          "type": "null"
         }
        ]
       },
       "changed": {
        "type": "boolean"
       }
      }
     }
    ]
   },
   "host.deploy.v1": {
    "title": "HostDeploy",
    "description": "host.deploy@1: one immutable static deploy on OpenVibe.Host (server/http/serialize.js deploy): ready (validated and stored, never executed) or failed (refused, with its failure code and log), whether the site serves it, its size and manifest hash. GET /api/v1/deploys/:id adds the files; the upload answer adds the log.",
    "type": "object",
    "required": [
     "id",
     "site_id",
     "project_id",
     "state",
     "active",
     "source",
     "file_count",
     "total_bytes",
     "new_bytes",
     "manifest_sha256",
     "failure_code",
     "created_by",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "site_id": {
      "type": "string",
      "pattern": "^site_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "state": {
      "enum": [
       "ready",
       "failed",
       "deleted"
      ]
     },
     "active": {
      "type": "boolean"
     },
     "source": {
      "enum": [
       "archive",
       "files"
      ]
     },
     "file_count": {
      "type": "integer",
      "minimum": 0
     },
     "total_bytes": {
      "type": "integer",
      "minimum": 0
     },
     "new_bytes": {
      "type": "integer",
      "minimum": 0,
      "description": "Bytes this deploy added to the project's store."
     },
     "manifest_sha256": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^[0-9a-f]{64}$"
     },
     "failure_code": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_by": {
      "type": "string"
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "files": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "path",
        "sha256",
        "size",
        "content_type"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "sha256": {
         "type": "string",
         "pattern": "^[0-9a-f]{64}$"
        },
        "size": {
         "type": "integer",
         "minimum": 0
        },
        "content_type": {
         "type": "string"
        }
       }
      }
     },
     "log": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "level",
        "message",
        "at"
       ],
       "properties": {
        "level": {
         "enum": [
          "info",
          "warn",
          "error"
         ]
        },
        "message": {
         "type": "string"
        },
        "at": {
         "type": "string",
         "format": "date-time"
        }
       }
      }
     }
    }
   },
   "host.domain-manage-request.v1": {
    "title": "HostDomainManageRequest",
    "description": "host.domain-manage-request@1: bodies of host.domain.manage on OpenVibe.Host (a maintainer or above of the project). POST /api/v1/sites/:id/domains { hostname } adds a custom domain, pending until its TXT record is verified: a fully qualified host name, lowercased (422 domain.invalid_hostname; 422 domain.reserved for any OpenVibe domain; 403 domain.sandbox in sandbox projects; 429 quota.custom_domains; 409 domain.exists, domain.taken). GET /api/v1/sites/:id/domains, POST /api/v1/domains/:id/verify (checks the TXT record now) and DELETE /api/v1/domains/:id (409 domain.default: the default domain goes only with the site) take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "hostname"
      ],
      "properties": {
       "hostname": {
        "type": "string",
        "minLength": 1,
        "maxLength": 254,
        "description": "e.g. www.example.org (a trailing dot is dropped)."
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "host.domain-manage-result.v1": {
    "title": "HostDomainManageResult",
    "description": "host.domain-manage-result@1: answers of host.domain.manage on OpenVibe.Host. GET /api/v1/sites/:id/domains → { domains } (the default domain first). POST /api/v1/sites/:id/domains → 201 { domain } with the DNS records to publish. POST /api/v1/domains/:id/verify → { domain } after the check (status verified and served once the TXT record matches, else last_error says what was found; emits host.domain.verified). DELETE /api/v1/domains/:id → { deleted: true }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "domains"
      ],
      "properties": {
       "domains": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/host.domain.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "domain"
      ],
      "properties": {
       "domain": {
        "$ref": "#/components/schemas/host.domain.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "deleted"
      ],
      "properties": {
       "deleted": {
        "const": true
       }
      }
     }
    ]
   },
   "host.domain.v1": {
    "title": "HostDomain",
    "description": "host.domain@1: one domain of a static site on OpenVibe.Host (server/http/serialize.js domain): the default <site>.openvibe.host, or a custom domain that is served only once its DNS TXT record is verified (re-checked daily; it lapses when the record is gone). A custom domain carries the records its owner must publish (the TXT verification value is public by design and shown only to members); TLS certificates are issued by an operator.",
    "type": "object",
    "required": [
     "id",
     "site_id",
     "hostname",
     "kind",
     "status",
     "served",
     "verified_at",
     "last_checked_at",
     "last_error"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^dom_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "site_id": {
      "type": "string",
      "pattern": "^site_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "hostname": {
      "type": "string"
     },
     "kind": {
      "enum": [
       "default",
       "custom"
      ]
     },
     "status": {
      "enum": [
       "pending",
       "verified",
       "failed",
       "lapsed"
      ]
     },
     "served": {
      "type": "boolean"
     },
     "verified_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "last_checked_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "last_error": {
      "type": [
       "string",
       "null"
      ]
     },
     "instructions": {
      "type": "object",
      "required": [
       "verification",
       "routing",
       "tls"
      ],
      "properties": {
       "verification": {
        "type": "object",
        "required": [
         "type",
         "name",
         "value"
        ],
        "properties": {
         "type": {
          "const": "TXT"
         },
         "name": {
          "type": "string",
          "description": "_openvibe-host.<hostname>"
         },
         "value": {
          "type": "string",
          "description": "openvibe-host-verification=<token>"
         },
         "note": {
          "type": "string"
         }
        }
       },
       "routing": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "type",
          "name",
          "value"
         ],
         "properties": {
          "type": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "value": {
           "type": "string"
          },
          "note": {
           "type": "string"
          }
         }
        },
        "description": "A CNAME for a subdomain; A/AAAA for an apex domain when the operator configured them."
       },
       "tls": {
        "type": "string"
       }
      }
     }
    }
   },
   "host.project.v1": {
    "title": "HostProject",
    "description": "host.project@1: one OpenVibe.Host tenant project (server/http/serialize.js project): owned by a person (usr_…), production or sandbox, with the caller's role in it and any staff takedown. POST /api/v1/projects and GET /api/v1/projects/:id add the effective quota and the usage.",
    "type": "object",
    "required": [
     "id",
     "name",
     "environment",
     "network_project_id",
     "owner",
     "role",
     "created_at",
     "takedown"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "environment": {
      "enum": [
       "production",
       "sandbox"
      ]
     },
     "network_project_id": {
      "type": [
       "string",
       "null"
      ],
      "description": "The OpenVibe.Network project once Network has projects."
     },
     "owner": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "role": {
      "enum": [
       "owner",
       "maintainer",
       "deployer",
       "staff",
       null
      ],
      "description": "The caller's role (staff: a Network admin who is not a member)."
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "takedown": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "scope",
       "reason",
       "since"
      ],
      "description": "A staff takedown covering it: serving stops while the content is kept for review.",
      "properties": {
       "scope": {
        "enum": [
         "project",
         "site"
        ]
       },
       "reason": {
        "type": "string"
       },
       "since": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     "quota": {
      "type": "object",
      "required": [
       "storage_bytes",
       "deploys_per_day",
       "max_files",
       "max_file_bytes",
       "sites",
       "custom_domains"
      ],
      "description": "The effective quota: the project's override where set, else its environment's default.",
      "properties": {
       "storage_bytes": {
        "type": "integer",
        "minimum": 0
       },
       "deploys_per_day": {
        "type": "integer",
        "minimum": 0
       },
       "max_files": {
        "type": "integer",
        "minimum": 0
       },
       "max_file_bytes": {
        "type": "integer",
        "minimum": 0
       },
       "sites": {
        "type": "integer",
        "minimum": 0
       },
       "custom_domains": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     "usage": {
      "type": "object",
      "required": [
       "storage_bytes",
       "objects",
       "deploys_last_24h",
       "sites",
       "custom_domains"
      ],
      "properties": {
       "storage_bytes": {
        "type": "integer",
        "minimum": 0
       },
       "objects": {
        "type": "integer",
        "minimum": 0
       },
       "deploys_last_24h": {
        "type": "integer",
        "minimum": 0
       },
       "sites": {
        "type": "integer",
        "minimum": 0
       },
       "custom_domains": {
        "type": "integer",
        "minimum": 0
       }
      }
     }
    }
   },
   "host.site-manage-request.v1": {
    "title": "HostSiteManageRequest",
    "description": "host.site-manage-request@1: bodies of host.site.manage on OpenVibe.Host (judged by the acting principal's project role too; a sandbox token is refused on production projects). POST /api/v1/projects { name, environment?, network_project_id? } creates a project owned by the person named with X-OV-Subject (403 project.owner_must_be_user; 422 project.invalid_name over 80 characters, project.invalid_environment; 429 quota.projects; 409 project.network_project_taken). PUT /api/v1/projects/:id/quota { storage_bytes?, deploys_per_day?, max_files?, max_file_bytes?, sites?, custom_domains? } (a Network staff user: 403 auth.staff_only; fields left out keep their value). PUT /api/v1/projects/:id/members/:principal { role } (the owner: 422 member.invalid_role, 409 member.owner_fixed). POST /api/v1/projects/:id/sites { name } (a maintainer; lowercased and trimmed, one DNS label of 3–40 characters: 422 site.invalid_name, site.name_reserved; 409 site.name_taken, site.name_held; 429 quota.sites). POST /api/v1/projects/:id/takedown and /sites/:id/takedown { reason } (staff: stop serving, keep the content; 409 takedown.exists); DELETE on those { note? } lifts it. GET /api/v1/projects, /projects/:id, /projects/:id/quota, /projects/:id/sites and /sites/:id, and DELETE /api/v1/projects/:id, /projects/:id/members/:principal, /sites/:id and /deploys/:id take no body (deleting refuses taken-down content for non-staff: 409 site.taken_down; an active deploy: 409 deploy.active).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "name"
      ],
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1,
        "description": "1–80 characters once trimmed."
       },
       "environment": {
        "enum": [
         "production",
         "sandbox",
         null
        ],
        "description": "Default production; a sandbox credential creates sandbox projects only."
       },
       "network_project_id": {
        "anyOf": [
         {
          "type": "string",
          "pattern": "^([A-Za-z0-9_:-]{3,80})?$"
         },
         {
          "type": "null"
         }
        ]
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "storage_bytes": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "A non-negative integer, or null for the environment default."
       },
       "deploys_per_day": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "A non-negative integer, or null for the environment default."
       },
       "max_files": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "A non-negative integer, or null for the environment default."
       },
       "max_file_bytes": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "A non-negative integer, or null for the environment default."
       },
       "sites": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "A non-negative integer, or null for the environment default."
       },
       "custom_domains": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "A non-negative integer, or null for the environment default."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "role"
      ],
      "properties": {
       "role": {
        "enum": [
         "owner",
         "maintainer",
         "deployer"
        ],
        "description": "Only a person (usr_…) can be an owner."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "name"
      ],
      "properties": {
       "name": {
        "type": "string",
        "pattern": "^\\s*[A-Za-z0-9](?:[A-Za-z0-9]|-(?=[A-Za-z0-9])){2,39}\\s*$",
        "description": "The site name (lowercased)."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "reason"
      ],
      "properties": {
       "reason": {
        "type": "string",
        "minLength": 1,
        "maxLength": 500,
        "description": "Members see it."
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "note": {
        "type": [
         "string",
         "null"
        ],
        "description": "Cut to 500 characters."
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "host.site-manage-result.v1": {
    "title": "HostSiteManageResult",
    "description": "host.site-manage-result@1: answers of host.site.manage on OpenVibe.Host. GET /api/v1/projects → { projects } (the caller's projects with their role). POST /api/v1/projects → 201 { project } (with quota and usage). GET /api/v1/projects/:id → { project, sites, members }. GET and PUT /api/v1/projects/:id/quota → { quota, usage }. PUT and DELETE /api/v1/projects/:id/members/:principal → { members }. GET /api/v1/projects/:id/sites → { sites }. POST /api/v1/projects/:id/sites → 201 { site }. GET /api/v1/sites/:id → { site, domains }. DELETE /api/v1/projects/:id and /sites/:id → { deleted: true } (serving stops at once; the objects are removed). DELETE /api/v1/deploys/:id → { deleted: true, objects_removed }. POST …/takedown → 201 { takedown }; DELETE …/takedown → { lifted: true }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "projects"
      ],
      "properties": {
       "projects": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/host.project.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "project"
      ],
      "properties": {
       "project": {
        "$ref": "#/components/schemas/host.project.v1"
       },
       "sites": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/host.site.v1"
        }
       },
       "members": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "principal",
          "role",
          "added_at"
         ],
         "properties": {
          "principal": {
           "type": "string",
           "description": "usr_…, app:app_… or svc:…"
          },
          "role": {
           "enum": [
            "owner",
            "maintainer",
            "deployer"
           ]
          },
          "added_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "quota",
       "usage"
      ],
      "properties": {
       "quota": {
        "type": "object",
        "required": [
         "storage_bytes",
         "deploys_per_day",
         "max_files",
         "max_file_bytes",
         "sites",
         "custom_domains"
        ],
        "description": "The effective quota: the project's override where set, else its environment's default.",
        "properties": {
         "storage_bytes": {
          "type": "integer",
          "minimum": 0
         },
         "deploys_per_day": {
          "type": "integer",
          "minimum": 0
         },
         "max_files": {
          "type": "integer",
          "minimum": 0
         },
         "max_file_bytes": {
          "type": "integer",
          "minimum": 0
         },
         "sites": {
          "type": "integer",
          "minimum": 0
         },
         "custom_domains": {
          "type": "integer",
          "minimum": 0
         }
        }
       },
       "usage": {
        "type": "object",
        "required": [
         "storage_bytes",
         "objects",
         "deploys_last_24h",
         "sites",
         "custom_domains"
        ],
        "properties": {
         "storage_bytes": {
          "type": "integer",
          "minimum": 0
         },
         "objects": {
          "type": "integer",
          "minimum": 0
         },
         "deploys_last_24h": {
          "type": "integer",
          "minimum": 0
         },
         "sites": {
          "type": "integer",
          "minimum": 0
         },
         "custom_domains": {
          "type": "integer",
          "minimum": 0
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "members"
      ],
      "properties": {
       "members": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "principal",
          "role",
          "added_at"
         ],
         "properties": {
          "principal": {
           "type": "string",
           "description": "usr_…, app:app_… or svc:…"
          },
          "role": {
           "enum": [
            "owner",
            "maintainer",
            "deployer"
           ]
          },
          "added_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "sites"
      ],
      "properties": {
       "sites": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/host.site.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "site"
      ],
      "properties": {
       "site": {
        "$ref": "#/components/schemas/host.site.v1"
       },
       "domains": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/host.domain.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "deleted"
      ],
      "properties": {
       "deleted": {
        "const": true
       },
       "objects_removed": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     {
      "type": "object",
      "required": [
       "takedown"
      ],
      "properties": {
       "takedown": {
        "type": "object",
        "required": [
         "scope",
         "reason",
         "since"
        ],
        "description": "The takedown now in force.",
        "properties": {
         "scope": {
          "enum": [
           "project",
           "site"
          ]
         },
         "reason": {
          "type": "string"
         },
         "since": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "lifted"
      ],
      "properties": {
       "lifted": {
        "const": true
       }
      }
     }
    ]
   },
   "host.site.v1": {
    "title": "HostSite",
    "description": "host.site@1: one static site on OpenVibe.Host (server/http/serialize.js site): its name (one DNS label), the default hostname and URL it is served at, the deploy it serves (one pointer; null until a deploy is activated) and any staff takedown.",
    "type": "object",
    "required": [
     "id",
     "project_id",
     "name",
     "hostname",
     "url",
     "active_deploy_id",
     "takedown",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^site_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "name": {
      "type": "string",
      "pattern": "^[a-z0-9](?:[a-z0-9]|-(?=[a-z0-9])){2,39}$"
     },
     "hostname": {
      "type": "string"
     },
     "url": {
      "type": "string"
     },
     "active_deploy_id": {
      "anyOf": [
       {
        "type": "string",
        "pattern": "^dpl_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       {
        "type": "null"
       }
      ]
     },
     "takedown": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "scope",
       "reason",
       "since"
      ],
      "description": "A staff takedown covering it: serving stops while the content is kept for review.",
      "properties": {
       "scope": {
        "enum": [
         "project",
         "site"
        ]
       },
       "reason": {
        "type": "string"
       },
       "since": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
