{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Inventory API",
  "version": "0.130.0",
  "description": "Routes of OpenVibe.Inventory as the OpenVibe contracts describe them (openvibe-contracts 0.130.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://inventory.openvibe.network"
  }
 ],
 "paths": {
  "/api/v1/definitions": {
   "get": {
    "operationId": "get_api_v1_definitions",
    "summary": "Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /a",
    "description": "**inventory.item.read** (public): Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /api/v1/equipped?subjects=… up to 100 → inventory.equipped-batch@1), definitions and kinds.",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-read",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.inventory.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_definitions",
    "summary": "Create, edit, submit and retire definitions in the caller's namespace (POST /api/v1/definitions, PATCH /api/v1/definitions/:id with inventory.definition-request@1 → inventory.definition@1).",
    "description": "**inventory.definition.manage** (first-party): Create, edit, submit and retire definitions in the caller's namespace (POST /api/v1/definitions, PATCH /api/v1/definitions/:id with inventory.definition-request@1 → inventory.definition@1). A creator's definition goes to review; a service's or app's is published when it asks.",
    "tags": [
     "inventory.definition"
    ],
    "x-openvibe-capabilities": [
     "inventory.definition.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "inventory-write",
    "security": [
     {
      "openvibeToken": [
       "inventory.definition.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/inventory.definition-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.definition.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/definitions/{id}": {
   "get": {
    "operationId": "get_api_v1_definitions_id",
    "summary": "Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /a",
    "description": "**inventory.item.read** (public): Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /api/v1/equipped?subjects=… up to 100 → inventory.equipped-batch@1), definitions and kinds.",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-read",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.inventory.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_definitions_id",
    "summary": "Create, edit, submit and retire definitions in the caller's namespace (POST /api/v1/definitions, PATCH /api/v1/definitions/:id with inventory.definition-request@1 → inventory.definition@1).",
    "description": "**inventory.definition.manage** (first-party): Create, edit, submit and retire definitions in the caller's namespace (POST /api/v1/definitions, PATCH /api/v1/definitions/:id with inventory.definition-request@1 → inventory.definition@1). A creator's definition goes to review; a service's or app's is published when it asks.",
    "tags": [
     "inventory.definition"
    ],
    "x-openvibe-capabilities": [
     "inventory.definition.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "inventory-write",
    "security": [
     {
      "openvibeToken": [
       "inventory.definition.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/inventory.definition-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.definition.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/definitions/{id}/review": {
   "post": {
    "operationId": "post_api_v1_definitions_id_review",
    "summary": "Staff publish or reject a submitted Workshop definition (POST /api/v1/definitions/:id/review with { decision: publish | reject, reason, rarity?",
    "description": "**inventory.definition.review** (internal): Staff publish or reject a submitted Workshop definition (POST /api/v1/definitions/:id/review with { decision: publish | reject, reason, rarity? } → inventory.definition@1), checking safety, art rights and an honest rarity (ADR-054 §6). Persons with the staff role only.",
    "tags": [
     "inventory.definition"
    ],
    "x-openvibe-capabilities": [
     "inventory.definition.review"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "inventory-write",
    "security": [
     {
      "openvibeToken": [
       "inventory.definition.review"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/inventory.review-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.definition.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/equipped": {
   "get": {
    "operationId": "get_api_v1_equipped",
    "summary": "Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /a",
    "description": "**inventory.item.read** (public): Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /api/v1/equipped?subjects=… up to 100 → inventory.equipped-batch@1), definitions and kinds.",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-read",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.inventory.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/grants": {
   "post": {
    "operationId": "post_api_v1_grants",
    "summary": "Grant an instance of a definition the caller issued (POST /api/v1/grants with inventory.grant-request@1 → inventory.instance@1; Idempotency by idempotency_key).",
    "description": "**inventory.item.grant** (first-party): Grant an instance of a definition the caller issued (POST /api/v1/grants with inventory.grant-request@1 → inventory.instance@1; Idempotency by idempotency_key). Outside the issuer's namespace: 403 inventory.not_issuer. Sold out: 409 inventory.supply_exhausted. Never for money (ADR-054 §5).",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.grant"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "inventory-write",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.grant"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/inventory.grant-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.instance.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/instances/{id}/consume": {
   "post": {
    "operationId": "post_api_v1_instances_id_consume",
    "summary": "Consume or revoke an instance of a definition the caller issued (POST /api/v1/instances/:id/consume | /revoke → inventory.instance@1).",
    "description": "**inventory.item.consume** (first-party): Consume or revoke an instance of a definition the caller issued (POST /api/v1/instances/:id/consume | /revoke → inventory.instance@1).",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.consume"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "inventory-write",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.consume"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.instance.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/instances/{id}/revoke": {
   "post": {
    "operationId": "post_api_v1_instances_id_revoke",
    "summary": "Consume or revoke an instance of a definition the caller issued (POST /api/v1/instances/:id/consume | /revoke → inventory.instance@1).",
    "description": "**inventory.item.consume** (first-party): Consume or revoke an instance of a definition the caller issued (POST /api/v1/instances/:id/consume | /revoke → inventory.instance@1).",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.consume"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "inventory-write",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.consume"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.instance.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/kinds": {
   "get": {
    "operationId": "get_api_v1_kinds",
    "summary": "Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /a",
    "description": "**inventory.item.read** (public): Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /api/v1/equipped?subjects=… up to 100 → inventory.equipped-batch@1), definitions and kinds.",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-read",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.inventory.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/kinds/{id}": {
   "get": {
    "operationId": "get_api_v1_kinds_id",
    "summary": "Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /a",
    "description": "**inventory.item.read** (public): Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /api/v1/equipped?subjects=… up to 100 → inventory.equipped-batch@1), definitions and kinds.",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-read",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.inventory.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/me/equipped": {
   "put": {
    "operationId": "put_api_v1_me_equipped",
    "summary": "Equip or clear a slot with an instance the person owns (PUT /api/v1/me/equipped with inventory.equip-request@1 → inventory.equipped@1).",
    "description": "**inventory.equip.manage** (public): Equip or clear a slot with an instance the person owns (PUT /api/v1/me/equipped with inventory.equip-request@1 → inventory.equipped@1). One item per slot. Refuses an instance not owned or not in state owned (409 inventory.not_owned).",
    "tags": [
     "inventory.equip"
    ],
    "x-openvibe-capabilities": [
     "inventory.equip.manage"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-write",
    "security": [
     {
      "openvibeToken": [
       "inventory.equip.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/inventory.equip-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.equipped.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/me/items": {
   "get": {
    "operationId": "get_api_v1_me_items",
    "summary": "The person's own full inventory, consumed and revoked instances included (GET /api/v1/me/items → inventory.inventory@1).",
    "description": "**inventory.item.list** (public): The person's own full inventory, consumed and revoked instances included (GET /api/v1/me/items → inventory.inventory@1). A service may read it acting for the person (on_behalf_of).",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.list"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-read",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.list"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.inventory.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/people/{subject}/equipped": {
   "get": {
    "operationId": "get_api_v1_people_subject_equipped",
    "summary": "Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /a",
    "description": "**inventory.item.read** (public): Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /api/v1/equipped?subjects=… up to 100 → inventory.equipped-batch@1), definitions and kinds.",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-read",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.inventory.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/people/{subject}/items": {
   "get": {
    "operationId": "get_api_v1_people_subject_items",
    "summary": "Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /a",
    "description": "**inventory.item.read** (public): Read a person's public inventory (GET /api/v1/people/:subject/items → inventory.inventory@1: owned instances of published definitions), their equipped set (GET /api/v1/people/:subject/equipped, GET /api/v1/equipped?subjects=… up to 100 → inventory.equipped-batch@1), definitions and kinds.",
    "tags": [
     "inventory.item"
    ],
    "x-openvibe-capabilities": [
     "inventory.item.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "inventory-read",
    "security": [
     {
      "openvibeToken": [
       "inventory.item.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/inventory.inventory.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "inventory.definition-request.v1": {
    "title": "InventoryDefinitionRequest",
    "description": "Create or edit a definition in the issuer's namespace (inventory.definition.manage). A service's or app's definition is published when it asks; a creator's goes to staff review (in_review) first.",
    "type": "object",
    "required": [
     "kind",
     "name",
     "art",
     "rarity"
    ],
    "additionalProperties": false,
    "properties": {
     "kind": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z][a-z0-9_]*)+$",
      "maxLength": 64
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "description": {
      "type": "string",
      "maxLength": 500
     },
     "art": {
      "type": "object",
      "additionalProperties": false,
      "minProperties": 1,
      "properties": {
       "media_id": {
        "type": "string",
        "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "An OpenVibe.Media object (an image, an animation)."
       },
       "token": {
        "type": "string",
        "minLength": 1,
        "maxLength": 80,
        "description": "A token the kind's renderers know (a CSS class, a speech preset)."
       },
       "emoji": {
        "type": "string",
        "maxLength": 16
       }
      }
     },
     "rarity": {
      "enum": [
       "common",
       "uncommon",
       "rare",
       "epic",
       "legendary"
      ]
     },
     "attributes": {
      "type": "object"
     },
     "supply_cap": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 1
     },
     "aliases": {
      "type": "array",
      "maxItems": 8,
      "uniqueItems": true,
      "items": {
       "type": "string",
       "pattern": "^[a-z0-9][a-z0-9_.-]{0,63}$"
      }
     },
     "publish": {
      "type": "boolean",
      "description": "Ask for publication (a creator's definition goes to review)."
     },
     "grantors": {
      "type": "array",
      "maxItems": 8,
      "uniqueItems": true,
      "items": {
       "type": "string",
       "pattern": "^(service:[a-z][a-z0-9-]*|app:app_[0-9A-HJKMNP-TV-Z]{26})$"
      },
      "description": "Other services or apps the issuer lets grant this one item (ADR-054 §3): Quest giving Live's hats as quest rewards. They grant only (origin earned or granted, idempotent per key); defining, editing, consuming and revoking stay the issuer's."
     }
    }
   },
   "inventory.definition.v1": {
    "title": "InventoryDefinition",
    "description": "An item definition (ADR-054 §2): one item of a kind, issued by a service, an app or a creator, with an honest rarity, attributes valid against the kind and an optional supply cap. Published definitions can be granted; retired ones cannot, and their instances stay.",
    "type": "object",
    "required": [
     "id",
     "kind",
     "name",
     "art",
     "rarity",
     "attributes",
     "issuer",
     "supply",
     "status",
     "created_at",
     "updated_at"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^itd_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "kind": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z][a-z0-9_]*)+$",
      "maxLength": 64
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "description": {
      "type": "string",
      "maxLength": 500
     },
     "art": {
      "type": "object",
      "additionalProperties": false,
      "minProperties": 1,
      "properties": {
       "media_id": {
        "type": "string",
        "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "An OpenVibe.Media object (an image, an animation)."
       },
       "token": {
        "type": "string",
        "minLength": 1,
        "maxLength": 80,
        "description": "A token the kind's renderers know (a CSS class, a speech preset)."
       },
       "emoji": {
        "type": "string",
        "maxLength": 16
       }
      }
     },
     "rarity": {
      "enum": [
       "common",
       "uncommon",
       "rare",
       "epic",
       "legendary"
      ],
      "description": "Shown as is; any odds that apply are shown with it, never hidden."
     },
     "attributes": {
      "type": "object"
     },
     "issuer": {
      "type": "string",
      "pattern": "^(service:[a-z][a-z0-9-]*|app:app_[0-9A-HJKMNP-TV-Z]{26}|user:usr_[0-9A-HJKMNP-TV-Z]{26})$"
     },
     "aliases": {
      "type": "array",
      "maxItems": 8,
      "uniqueItems": true,
      "items": {
       "type": "string",
       "pattern": "^[a-z0-9][a-z0-9_.-]{0,63}$"
      },
      "description": "Earlier ids of the same item (Live's fx_rainbow, hat_crown, …)."
     },
     "supply": {
      "type": "object",
      "required": [
       "cap",
       "issued"
      ],
      "additionalProperties": false,
      "properties": {
       "cap": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1,
        "description": "null: unlimited."
       },
       "issued": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     "status": {
      "enum": [
       "draft",
       "in_review",
       "published",
       "retired"
      ]
     },
     "credit": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "subject": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "name": {
        "type": "string",
        "maxLength": 80
       }
      },
      "description": "The creator of a community item (ADR-054 §6)."
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "published_at": {
      "type": "string",
      "format": "date-time"
     },
     "grantors": {
      "type": "array",
      "maxItems": 8,
      "uniqueItems": true,
      "items": {
       "type": "string",
       "pattern": "^(service:[a-z][a-z0-9-]*|app:app_[0-9A-HJKMNP-TV-Z]{26})$"
      },
      "description": "Other services or apps the issuer lets grant this one item (ADR-054 §3): Quest giving Live's hats as quest rewards. They grant only (origin earned or granted, idempotent per key); defining, editing, consuming and revoking stay the issuer's."
     }
    }
   },
   "inventory.equip-request.v1": {
    "title": "InventoryEquipRequest",
    "description": "Equip an instance the person owns in one slot of its kind, or clear the slot (instance_id null). One item per slot; equipping replaces what was there.",
    "type": "object",
    "required": [
     "kind",
     "slot",
     "instance_id"
    ],
    "additionalProperties": false,
    "properties": {
     "kind": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z][a-z0-9_]*)+$",
      "maxLength": 64
     },
     "slot": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{0,31}$"
     },
     "instance_id": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^inv_[0-9A-HJKMNP-TV-Z]{26}$"
     }
    }
   },
   "inventory.equipped.v1": {
    "title": "InventoryEquipped",
    "description": "What a person has equipped (ADR-054 §2), keyed <kind>:<slot>. Surfaces read it in batches (inventory.equipped-batch@1) and cache it briefly.",
    "type": "object",
    "required": [
     "subject",
     "slots",
     "updated_at"
    ],
    "additionalProperties": false,
    "properties": {
     "subject": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "slots": {
      "type": "object",
      "propertyNames": {
       "pattern": "^[a-z][a-z0-9_]*(\\.[a-z][a-z0-9_]*)+:[a-z][a-z0-9_]{0,31}$"
      },
      "additionalProperties": {
       "type": "object",
       "required": [
        "instance_id",
        "definition_id"
       ],
       "additionalProperties": false,
       "properties": {
        "instance_id": {
         "type": "string",
         "pattern": "^inv_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "definition_id": {
         "type": "string",
         "pattern": "^itd_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "token": {
         "type": "string",
         "maxLength": 80,
         "description": "The definition's art token, so a renderer needs no second read."
        },
        "media_id": {
         "type": "string",
         "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$",
         "description": "The definition's art image (an OpenVibe.Media object), so a renderer needs no second read."
        }
       }
      },
      "description": "<kind>:<slot> → the instance in use."
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "inventory.grant-request.v1": {
    "title": "InventoryGrantRequest",
    "description": "An issuer grants one instance of a definition it issued to a person (inventory.item.grant). Idempotent per idempotency_key: a repeat answers the instance already granted. A capped definition that is sold out answers 409 inventory.supply_exhausted.",
    "type": "object",
    "required": [
     "definition_id",
     "subject",
     "idempotency_key"
    ],
    "additionalProperties": false,
    "properties": {
     "definition_id": {
      "type": "string",
      "pattern": "^itd_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "subject": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "idempotency_key": {
      "type": "string",
      "minLength": 8,
      "maxLength": 128
     },
     "origin": {
      "enum": [
       "granted",
       "earned"
      ],
      "default": "granted"
     },
     "reason": {
      "type": "string",
      "maxLength": 200,
      "description": "Shown in the ledger: what the person did (a quest, an event, a milestone)."
     },
     "attributes": {
      "type": "object"
     }
    }
   },
   "inventory.instance.v1": {
    "title": "InventoryInstance",
    "description": "One item a person owns (ADR-054 §2): a definition, its origin and state. bought and traded are reserved for the later money ADR (ADR-054 §5) and are refused until it is accepted.",
    "type": "object",
    "required": [
     "id",
     "definition_id",
     "owner",
     "origin",
     "state",
     "acquired_at"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^inv_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "definition_id": {
      "type": "string",
      "pattern": "^itd_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "owner": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "origin": {
      "enum": [
       "granted",
       "earned",
       "migrated",
       "bought",
       "traded"
      ]
     },
     "state": {
      "enum": [
       "owned",
       "consumed",
       "revoked"
      ]
     },
     "attributes": {
      "type": "object",
      "description": "Per-instance values (a serial number, a wear value), valid against the kind."
     },
     "serial": {
      "type": "integer",
      "minimum": 1,
      "description": "The instance's number within a capped supply."
     },
     "acquired_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "inventory.inventory.v1": {
    "title": "InventoryList",
    "description": "A person's inventory page: their instances, newest first, with the definitions they refer to. The public read shows only owned instances of published definitions; the person's own read (inventory.item.list) also shows consumed and revoked ones.",
    "type": "object",
    "required": [
     "subject",
     "instances",
     "definitions",
     "next_cursor"
    ],
    "additionalProperties": false,
    "properties": {
     "subject": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "instances": {
      "type": "array",
      "maxItems": 500,
      "items": {
       "$ref": "#/components/schemas/inventory.instance.v1"
      }
     },
     "definitions": {
      "type": "object",
      "propertyNames": {
       "pattern": "^itd_[0-9A-HJKMNP-TV-Z]{26}$"
      },
      "additionalProperties": {
       "$ref": "#/components/schemas/inventory.definition.v1"
      }
     },
     "next_cursor": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 200
     }
    }
   },
   "inventory.review-request.v1": {
    "title": "InventoryReviewRequest",
    "description": "Staff's decision on a Workshop definition in review (ADR-054 §6): publish it (optionally with an honest rarity other than common) or reject it with a reason the creator sees.",
    "type": "object",
    "required": [
     "decision"
    ],
    "additionalProperties": false,
    "properties": {
     "decision": {
      "type": "string",
      "enum": [
       "publish",
       "reject"
      ]
     },
     "reason": {
      "type": "string",
      "minLength": 1,
      "maxLength": 300,
      "description": "Required for reject: what the creator reads."
     },
     "rarity": {
      "type": "string",
      "enum": [
       "common",
       "uncommon",
       "rare",
       "epic",
       "legendary"
      ]
     }
    },
    "if": {
     "properties": {
      "decision": {
       "const": "reject"
      }
     }
    },
    "then": {
     "required": [
      "reason"
     ]
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
