{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Live API",
  "version": "0.55.0",
  "description": "Routes of OpenVibe.Live as the OpenVibe contracts describe them (openvibe-contracts 0.55.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.live"
  }
 ],
 "paths": {
  "/api/auth/user/{username}": {
   "get": {
    "operationId": "get_api_auth_user_username",
    "summary": "Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips fro",
    "description": "**live.channel.read** (public): Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips from Media. The owner and staff also see private listings; ingest keys are never returned. Anonymous callers are served (optionalAuth); no grant is checked at Live's boundary, and /api allows only OpenVibe origins for browsers. There is no public lookup by channel id yet (roadmap §30.2, sdk-live).",
    "tags": [
     "live.channel"
    ],
    "x-openvibe-capabilities": [
     "live.channel.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.channel.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "username",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.channel-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/content/feed": {
   "get": {
    "operationId": "get_api_content_feed",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/content/moments": {
   "get": {
    "operationId": "get_api_content_moments",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/home/digest": {
   "get": {
    "operationId": "get_api_home_digest",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/home/discover": {
   "get": {
    "operationId": "get_api_home_discover",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/home/featured": {
   "get": {
    "operationId": "get_api_home_featured",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/home/hero": {
   "get": {
    "operationId": "get_api_home_hero",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/home/pulse": {
   "get": {
    "operationId": "get_api_home_pulse",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/home/star": {
   "get": {
    "operationId": "get_api_home_star",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/home/stats-live": {
   "get": {
    "operationId": "get_api_home_stats_live",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/home/stats/series/{metric}": {
   "get": {
    "operationId": "get_api_home_stats_series_metric",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "metric",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/live-events": {
   "get": {
    "operationId": "get_api_live_events",
    "summary": "Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live strea",
    "description": "**live.stream.read** (public): Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live stream (/api/live-events, open CORS). Stream keys and the home ZIP are redacted. Anonymous callers are served; no grant is checked at Live's boundary (roadmap §30.2, sdk-live).",
    "tags": [
     "live.stream"
    ],
    "x-openvibe-capabilities": [
     "live.stream.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.stream.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.stream-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams": {
   "get": {
    "operationId": "get_api_streams",
    "summary": "Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live strea",
    "description": "**live.stream.read** (public): Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live stream (/api/live-events, open CORS). Stream keys and the home ZIP are redacted. Anonymous callers are served; no grant is checked at Live's boundary (roadmap §30.2, sdk-live).",
    "tags": [
     "live.stream"
    ],
    "x-openvibe-capabilities": [
     "live.stream.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.stream.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.stream-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/{id}": {
   "get": {
    "operationId": "get_api_streams_id",
    "summary": "Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live strea",
    "description": "**live.stream.read** (public): Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live stream (/api/live-events, open CORS). Stream keys and the home ZIP are redacted. Anonymous callers are served; no grant is checked at Live's boundary (roadmap §30.2, sdk-live).",
    "tags": [
     "live.stream"
    ],
    "x-openvibe-capabilities": [
     "live.stream.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.stream.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.stream-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/channel/{username}": {
   "get": {
    "operationId": "get_api_streams_channel_username",
    "summary": "Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips fro",
    "description": "**live.channel.read** (public): Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips from Media. The owner and staff also see private listings; ingest keys are never returned. Anonymous callers are served (optionalAuth); no grant is checked at Live's boundary, and /api allows only OpenVibe origins for browsers. There is no public lookup by channel id yet (roadmap §30.2, sdk-live).",
    "tags": [
     "live.channel"
    ],
    "x-openvibe-capabilities": [
     "live.channel.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.channel.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "username",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.channel-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/channel/{username}/bio-en": {
   "get": {
    "operationId": "get_api_streams_channel_username_bio_en",
    "summary": "Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips fro",
    "description": "**live.channel.read** (public): Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips from Media. The owner and staff also see private listings; ingest keys are never returned. Anonymous callers are served (optionalAuth); no grant is checked at Live's boundary, and /api allows only OpenVibe origins for browsers. There is no public lookup by channel id yet (roadmap §30.2, sdk-live).",
    "tags": [
     "live.channel"
    ],
    "x-openvibe-capabilities": [
     "live.channel.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.channel.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "username",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.channel-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/channel/{username}/clips-taken": {
   "get": {
    "operationId": "get_api_streams_channel_username_clips_taken",
    "summary": "Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips fro",
    "description": "**live.channel.read** (public): Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips from Media. The owner and staff also see private listings; ingest keys are never returned. Anonymous callers are served (optionalAuth); no grant is checked at Live's boundary, and /api allows only OpenVibe origins for browsers. There is no public lookup by channel id yet (roadmap §30.2, sdk-live).",
    "tags": [
     "live.channel"
    ],
    "x-openvibe-capabilities": [
     "live.channel.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.channel.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "username",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.channel-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/channel/{username}/live": {
   "get": {
    "operationId": "get_api_streams_channel_username_live",
    "summary": "Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips fro",
    "description": "**live.channel.read** (public): Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips from Media. The owner and staff also see private listings; ingest keys are never returned. Anonymous callers are served (optionalAuth); no grant is checked at Live's boundary, and /api allows only OpenVibe origins for browsers. There is no public lookup by channel id yet (roadmap §30.2, sdk-live).",
    "tags": [
     "live.channel"
    ],
    "x-openvibe-capabilities": [
     "live.channel.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.channel.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "username",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.channel-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/channel/{username}/popular": {
   "get": {
    "operationId": "get_api_streams_channel_username_popular",
    "summary": "Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips fro",
    "description": "**live.channel.read** (public): Read a channel's public profile by username (the /@username page's data): metadata, owner display fields, follower count, live streams with playback endpoints, slots, and its public VODs and clips from Media. The owner and staff also see private listings; ingest keys are never returned. Anonymous callers are served (optionalAuth); no grant is checked at Live's boundary, and /api allows only OpenVibe origins for browsers. There is no public lookup by channel id yet (roadmap §30.2, sdk-live).",
    "tags": [
     "live.channel"
    ],
    "x-openvibe-capabilities": [
     "live.channel.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.channel.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "username",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.channel-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/channel/{username}/resolve/{ref}": {
   "get": {
    "operationId": "get_api_streams_channel_username_resolve_ref",
    "summary": "Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live strea",
    "description": "**live.stream.read** (public): Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live stream (/api/live-events, open CORS). Stream keys and the home ZIP are redacted. Anonymous callers are served; no grant is checked at Live's boundary (roadmap §30.2, sdk-live).",
    "tags": [
     "live.stream"
    ],
    "x-openvibe-capabilities": [
     "live.stream.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.stream.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "username",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.stream-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/recent": {
   "get": {
    "operationId": "get_api_streams_recent",
    "summary": "Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live strea",
    "description": "**live.stream.read** (public): Read broadcasts: who is live now with viewer counts, one stream with its endpoint, cameras and controls, recently ended streams with their public VOD, a slot's current session, and the went-live stream (/api/live-events, open CORS). Stream keys and the home ZIP are redacted. Anonymous callers are served; no grant is checked at Live's boundary (roadmap §30.2, sdk-live).",
    "tags": [
     "live.stream"
    ],
    "x-openvibe-capabilities": [
     "live.stream.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.stream.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.stream-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/recent-vods": {
   "get": {
    "operationId": "get_api_streams_recent_vods",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/streams/recently-online": {
   "get": {
    "operationId": "get_api_streams_recently_online",
    "summary": "Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, an",
    "description": "**live.discovery.read** (public): Read Live's discovery surfaces (roadmap §30.2 live.discovery.*): the featured rotation, \"watch instead\" picks, the star of the day, the digest, home numbers, recently online streamers, recent VODs, and the content and AI-moments feeds. Public items only. There is no category directory and no channel search route yet; channel search belongs to OpenVibe.Search once Live publishes index documents.",
    "tags": [
     "live.discovery"
    ],
    "x-openvibe-capabilities": [
     "live.discovery.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "live-read",
    "security": [
     {
      "openvibeToken": [
       "live.discovery.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.discovery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/followers": {
   "get": {
    "operationId": "get_internal_followers",
    "summary": "Read who follows the channel behind a stream (Network subject or Network user id per follower), for OpenVibe.Network's go-live notifications from live.stream.started.",
    "description": "**live.follower.read** (internal): Read who follows the channel behind a stream (Network subject or Network user id per follower), for OpenVibe.Network's go-live notifications from live.stream.started. Loopback only.",
    "tags": [
     "live.follower"
    ],
    "x-openvibe-capabilities": [
     "live.follower.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "live.follower.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.follower-page.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/lineage/resolve": {
   "get": {
    "operationId": "get_internal_lineage_resolve",
    "summary": "Resolve the canonical channel and owner behind a slug, nested slug, channel, stream, slot, VOD, clip, Media object, owner subject or legacy id, with the stream/VOD/clip lineage and how it was decided ",
    "description": "**live.lineage.resolve** (internal): Resolve the canonical channel and owner behind a slug, nested slug, channel, stream, slot, VOD, clip, Media object, owner subject or legacy id, with the stream/VOD/clip lineage and how it was decided (roadmap §15.10, D20). A display name alone resolves nothing. Loopback only.",
    "tags": [
     "live.lineage"
    ],
    "x-openvibe-capabilities": [
     "live.lineage.resolve"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "live.lineage.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/lineage.resolve-request.v1"
    },
    "parameters": [
     {
      "name": "slug",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^@?[A-Za-z0-9_][A-Za-z0-9_.-]{0,63}(/[A-Za-z0-9_][A-Za-z0-9_.-]{0,63})?$",
       "description": "Channel slug (Live: the username, as in /@<username>; the @ is optional), or a nested <channel>/<slot> naming a stream slot inside the channel by its slug or id. With parent_slug, a plain slug names the slot inside that parent."
      },
      "description": "Channel slug (Live: the username, as in /@<username>; the @ is optional), or a nested <channel>/<slot> naming a stream slot inside the channel by its slug or id. With parent_slug, a plain slug names the slot inside that parent."
     },
     {
      "name": "parent_slug",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^@?[A-Za-z0-9_][A-Za-z0-9_.-]{0,63}$",
       "description": "The channel slug when slug names a slot inside it ({ parent_slug: 'alice', slug: 'garage' } is 'alice/garage'). Alone, it names the channel."
      },
      "description": "The channel slug when slug names a slot inside it ({ parent_slug: 'alice', slug: 'garage' } is 'alice/garage'). Alone, it names the channel."
     },
     {
      "name": "channel_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
       "description": "The channel's id at its owner (Live: channels.id)."
      },
      "description": "The channel's id at its owner (Live: channels.id)."
     },
     {
      "name": "stream_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
       "description": "A broadcast session (Live: streams.id)."
      },
      "description": "A broadcast session (Live: streams.id)."
     },
     {
      "name": "slot_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
       "description": "A persistent stream slot (Live: managed_streams.id; OpenRe stream definitions refer to it as live:managed_stream:<id>)."
      },
      "description": "A persistent stream slot (Live: managed_streams.id; OpenRe stream definitions refer to it as live:managed_stream:<id>)."
     },
     {
      "name": "vod_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
       "description": "A VOD (the Media v1 VOD id, the same id Live's VODs had before the Media split)."
      },
      "description": "A VOD (the Media v1 VOD id, the same id Live's VODs had before the Media split)."
     },
     {
      "name": "clip_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
       "description": "A clip (the Media v1 clip id). A clip belongs to the clipped channel, never to the person who clipped it."
      },
      "description": "A clip (the Media v1 clip id). A clip belongs to the clipped channel, never to the person who clipped it."
     },
     {
      "name": "media_object_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^(med_[0-9A-HJKMNP-TV-Z]{26}|legacy:[a-z][a-z0-9-]{1,39}:(vod|clip|file|paste|thumbnail|avatar):[A-Za-z0-9._/-]{1,200})$",
       "description": "A Media object: med_<ULID>, or a legacy:<app>:<kind>:<id> reference (the media_id forms of media.media-ref@1)."
      },
      "description": "A Media object: med_<ULID>, or a legacy:<app>:<kind>:<id> reference (the media_id forms of media.media-ref@1)."
     },
     {
      "name": "owner_subject",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$",
       "description": "The canonical subject that owns the channel (identity.subject-ref@1 user id)."
      },
      "description": "The canonical subject that owns the channel (identity.subject-ref@1 user id)."
     },
     {
      "name": "legacy_ids",
      "in": "query",
      "required": false,
      "schema": {
       "type": "object",
       "minProperties": 1,
       "additionalProperties": false,
       "description": "Pre-subject ids of the channel owner. Resolving through them is confidence legacy_map.",
       "properties": {
        "live_user_id": {
         "type": "integer",
         "minimum": 1,
         "description": "Live's local user id (users.id)."
        },
        "network_user_id": {
         "type": "integer",
         "minimum": 1,
         "description": "OpenVibe.Network's integer user id, mapped to a Live account by the account link."
        }
       }
      },
      "description": "Pre-subject ids of the channel owner. Resolving through them is confidence legacy_map."
     },
     {
      "name": "display_name",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 200,
       "description": "A label the caller holds. Accepted so the answer can say display_name_only; never used to resolve anything, because a display name is not an identity and is never sufficient to establish ownership."
      },
      "description": "A label the caller holds. Accepted so the answer can say display_name_only; never used to resolve anything, because a display name is not an identity and is never sufficient to establish ownership."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/lineage.resolution.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_internal_lineage_resolve",
    "summary": "Resolve the canonical channel and owner behind a slug, nested slug, channel, stream, slot, VOD, clip, Media object, owner subject or legacy id, with the stream/VOD/clip lineage and how it was decided ",
    "description": "**live.lineage.resolve** (internal): Resolve the canonical channel and owner behind a slug, nested slug, channel, stream, slot, VOD, clip, Media object, owner subject or legacy id, with the stream/VOD/clip lineage and how it was decided (roadmap §15.10, D20). A display name alone resolves nothing. Loopback only.",
    "tags": [
     "live.lineage"
    ],
    "x-openvibe-capabilities": [
     "live.lineage.resolve"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "live.lineage.resolve"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/lineage.resolve-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/lineage.resolution.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/tips/deliveries": {
   "post": {
    "operationId": "post_internal_tips_deliveries",
    "summary": "OpenVibe.Tips' live-chat adapter: announce a settled tip in the creator's Live chat (donation line, paid message, TTS, media request at no charge).",
    "description": "**live.tips_delivery.write** (internal): OpenVibe.Tips' live-chat adapter: announce a settled tip in the creator's Live chat (donation line, paid message, TTS, media request at no charge). Owned by Live (docs/live-patch.diff adds the route); proposed here for Live's manifest.",
    "tags": [
     "live.tips_delivery"
    ],
    "x-openvibe-capabilities": [
     "live.tips_delivery.write"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "live.tips_delivery.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/live.tips-delivery-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/live.tips-delivery-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "lineage.resolution.v1": {
    "title": "LineageResolution",
    "description": "The canonical channel/owner resolver's answer to lineage.resolve-request@1 (roadmap §15.10, requirement D20; capability live.lineage.resolve). One resolver serves channel, stream, VOD, clip, Pulse and creator-UI callers. PRECEDENCE between inputs (the roadmap's order): 1 explicit_slug (slug), 2 nested_slug (slug <channel>/<slot>, or parent_slug), 3 channel_id, 4 stream_lookup (stream_id, then slot_id), 5 the record's own lineage (clip_id, then vod_id), 6 media_lineage (media_object_id), 7 owner_subject, 8 legacy_map (legacy_ids). The first input in that order that resolves decides (resolved_by). Every other input that resolves must name the same channel, otherwise the answer is unresolved with reason conflict. An input whose source could not be asked makes the answer unresolved with reason source_unavailable, since it might have disagreed. An input that names nothing is reported not_found in checked and does not block the others. LINEAGE inside a record, first link that answers wins: a stream belongs to its owner, and a slot too; a VOD goes to its stream, then to its slot when the stream row is gone, then to the owner recorded on the VOD (legacy_metadata); a clip goes to its stream, then to its parent VOD's lineage (vod_parent), then to the channel recorded on the clip (legacy_metadata), and never to the clipper; a Media object goes to the record its legacy_ref names (media_lineage), then to its owner subject, then to the owner user recorded on it (legacy_metadata); a legacy:<app>:<kind>:<id> reference is read as that record (legacy_map). CONFIDENCE is the weakest hop: exact when the input itself names the channel, a stream or slot row, or the owner subject; derived when the answer came through a parent record or an owner recorded on a record; legacy_map when it needed a legacy id map (legacy_ids, a legacy media reference). A display name never resolves anything. Unresolved answers carry no channel.",
    "type": "object",
    "required": [
     "status"
    ],
    "additionalProperties": false,
    "properties": {
     "status": {
      "enum": [
       "resolved",
       "unresolved"
      ]
     },
     "reason": {
      "enum": [
       "no_input",
       "display_name_only",
       "not_found",
       "conflict",
       "ambiguous",
       "source_unavailable"
      ],
      "description": "Why nothing resolved. no_input: the request named nothing. display_name_only: only a display name was given. not_found: no input names anything that exists. conflict: two inputs name different channels. ambiguous: an input names more than one channel (an owner subject linked to two accounts). source_unavailable: a record could not be read (Media down); retry later."
     },
     "detail": {
      "type": "string",
      "maxLength": 500
     },
     "channel": {
      "type": "object",
      "required": [
       "id",
       "slug",
       "owner_subject"
      ],
      "additionalProperties": false,
      "properties": {
       "id": {
        "type": "string",
        "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
        "description": "The channel's id at its owner (Live: channels.id)."
       },
       "slug": {
        "type": "string",
        "pattern": "^[A-Za-z0-9_][A-Za-z0-9_.-]{0,63}$",
        "description": "The channel's current slug (Live: the username, /@<slug>). Slugs can change; id and owner_subject do not."
       },
       "owner_subject": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "The owner's canonical subject, or null while the owner has not signed in through OpenVibe.Network since subjects were issued."
       },
       "legacy_ids": {
        "type": "object",
        "additionalProperties": false,
        "description": "The owner's pre-subject ids, for callers that still key by them.",
        "properties": {
         "live_user_id": {
          "type": "integer",
          "minimum": 1
         },
         "network_user_id": {
          "type": "integer",
          "minimum": 1
         }
        }
       }
      }
     },
     "stream": {
      "type": "object",
      "required": [
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "id": {
        "type": [
         "string",
         "null"
        ],
        "description": "The broadcast session, or null when only a slot was named."
       },
       "slot_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "slot_slug": {
        "type": [
         "string",
         "null"
        ]
       },
       "missing": {
        "type": "boolean",
        "description": "true when a record names this stream but the stream row no longer exists."
       }
      }
     },
     "vod": {
      "type": "object",
      "required": [
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "id": {
        "type": "string"
       },
       "stream_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "slot_id": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "clip": {
      "type": "object",
      "required": [
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "id": {
        "type": "string"
       },
       "vod_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "stream_id": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "media_object": {
      "type": "object",
      "required": [
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "id": {
        "type": "string",
        "pattern": "^(med_[0-9A-HJKMNP-TV-Z]{26}|legacy:[a-z][a-z0-9-]{1,39}:(vod|clip|file|paste|thumbnail|avatar):[A-Za-z0-9._/-]{1,200})$"
       },
       "kind": {
        "type": [
         "string",
         "null"
        ]
       },
       "legacy_ref": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "resolved_by": {
      "enum": [
       "slug",
       "parent_slug",
       "channel_id",
       "stream_id",
       "slot_id",
       "clip_id",
       "vod_id",
       "media_object_id",
       "owner_subject",
       "legacy_ids"
      ],
      "description": "The input that decided."
     },
     "rule": {
      "enum": [
       "explicit_slug",
       "nested_slug",
       "channel_id",
       "stream_lookup",
       "vod_parent",
       "media_lineage",
       "owner_subject",
       "legacy_metadata",
       "legacy_map"
      ],
      "description": "The lineage rule that answered for the deciding input."
     },
     "confidence": {
      "enum": [
       "exact",
       "derived",
       "legacy_map"
      ]
     },
     "via": {
      "type": "array",
      "maxItems": 32,
      "items": {
       "type": "string",
       "pattern": "^[a-z_]+:[^\\s]{1,200}$"
      },
      "description": "The hops the deciding input took, e.g. [\"clip:7\", \"vod:42\", \"slot:3\", \"user:17\"]."
     },
     "checked": {
      "type": "array",
      "maxItems": 32,
      "description": "What each input given came to.",
      "items": {
       "type": "object",
       "required": [
        "input",
        "outcome"
       ],
       "additionalProperties": false,
       "properties": {
        "input": {
         "enum": [
          "slug",
          "parent_slug",
          "channel_id",
          "stream_id",
          "slot_id",
          "clip_id",
          "vod_id",
          "media_object_id",
          "owner_subject",
          "legacy_ids",
          "display_name"
         ]
        },
        "outcome": {
         "enum": [
          "decided",
          "agrees",
          "conflict",
          "not_found",
          "unavailable",
          "ambiguous",
          "ignored"
         ]
        },
        "channel_slug": {
         "type": "string",
         "description": "The channel this input named, when it named one."
        }
       }
      }
     }
    },
    "if": {
     "properties": {
      "status": {
       "const": "resolved"
      }
     },
     "required": [
      "status"
     ]
    },
    "then": {
     "required": [
      "channel",
      "resolved_by",
      "rule",
      "confidence"
     ],
     "not": {
      "required": [
       "reason"
      ]
     }
    },
    "else": {
     "required": [
      "reason"
     ],
     "not": {
      "anyOf": [
       {
        "required": [
         "channel"
        ]
       },
       {
        "required": [
         "resolved_by"
        ]
       },
       {
        "required": [
         "confidence"
        ]
       }
      ]
     }
    }
   },
   "lineage.resolve-request.v1": {
    "title": "LineageResolveRequest",
    "description": "What a caller knows about a channel, stream, VOD, clip or Media object, sent to the canonical channel/owner resolver (roadmap §15.10, requirement D20): the body of POST /internal/lineage/resolve on OpenVibe.Live (capability live.lineage.resolve). GET takes the same fields as query parameters, with legacy_ids flattened to live_user_id and network_user_id. The answer is lineage.resolution@1, whose description has the precedence rules. Every input given is checked, not only the first. display_name is never a resolution input: a request that carries only a display name resolves nothing (reason display_name_only), and next to other inputs it is ignored.",
    "type": "object",
    "minProperties": 1,
    "additionalProperties": false,
    "properties": {
     "slug": {
      "type": "string",
      "pattern": "^@?[A-Za-z0-9_][A-Za-z0-9_.-]{0,63}(/[A-Za-z0-9_][A-Za-z0-9_.-]{0,63})?$",
      "description": "Channel slug (Live: the username, as in /@<username>; the @ is optional), or a nested <channel>/<slot> naming a stream slot inside the channel by its slug or id. With parent_slug, a plain slug names the slot inside that parent."
     },
     "parent_slug": {
      "type": "string",
      "pattern": "^@?[A-Za-z0-9_][A-Za-z0-9_.-]{0,63}$",
      "description": "The channel slug when slug names a slot inside it ({ parent_slug: 'alice', slug: 'garage' } is 'alice/garage'). Alone, it names the channel."
     },
     "channel_id": {
      "type": "string",
      "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
      "description": "The channel's id at its owner (Live: channels.id)."
     },
     "stream_id": {
      "type": "string",
      "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
      "description": "A broadcast session (Live: streams.id)."
     },
     "slot_id": {
      "type": "string",
      "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
      "description": "A persistent stream slot (Live: managed_streams.id; OpenRe stream definitions refer to it as live:managed_stream:<id>)."
     },
     "vod_id": {
      "type": "string",
      "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
      "description": "A VOD (the Media v1 VOD id, the same id Live's VODs had before the Media split)."
     },
     "clip_id": {
      "type": "string",
      "pattern": "^[A-Za-z0-9][A-Za-z0-9_.:-]{0,127}$",
      "description": "A clip (the Media v1 clip id). A clip belongs to the clipped channel, never to the person who clipped it."
     },
     "media_object_id": {
      "type": "string",
      "pattern": "^(med_[0-9A-HJKMNP-TV-Z]{26}|legacy:[a-z][a-z0-9-]{1,39}:(vod|clip|file|paste|thumbnail|avatar):[A-Za-z0-9._/-]{1,200})$",
      "description": "A Media object: med_<ULID>, or a legacy:<app>:<kind>:<id> reference (the media_id forms of media.media-ref@1)."
     },
     "owner_subject": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The canonical subject that owns the channel (identity.subject-ref@1 user id)."
     },
     "legacy_ids": {
      "type": "object",
      "minProperties": 1,
      "additionalProperties": false,
      "description": "Pre-subject ids of the channel owner. Resolving through them is confidence legacy_map.",
      "properties": {
       "live_user_id": {
        "type": "integer",
        "minimum": 1,
        "description": "Live's local user id (users.id)."
       },
       "network_user_id": {
        "type": "integer",
        "minimum": 1,
        "description": "OpenVibe.Network's integer user id, mapped to a Live account by the account link."
       }
      }
     },
     "display_name": {
      "type": "string",
      "maxLength": 200,
      "description": "A label the caller holds. Accepted so the answer can say display_name_only; never used to resolve anything, because a display name is not an identity and is never sufficient to establish ownership."
     }
    }
   },
   "live.channel-read-result.v1": {
    "title": "LiveChannelReadResult",
    "description": "live.channel-read-result@1: answers of live.channel.read on OpenVibe.Live (public; the channel is addressed by username). GET /api/streams/channel/:username → the channel page: { channel, language, stream, streams, managed_streams (public projection), vods, clips, aiClips, … with totals and paging }; GET …/:username/live → { channel: { username, display_name, user_id }, streams }; GET …/:username/popular → { vod, clip, vods, clips, ranges }; GET …/:username/clips-taken → { clips, total, facets, limit, offset, hasMore, sort, of, includeSelf }; GET …/:username/bio-en → { from, to: en, text } (from and text null when there is nothing to translate); GET /api/auth/user/:username → { user } (the public profile). Unknown channels are 404 { error }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "channel",
       "stream",
       "streams",
       "managed_streams",
       "vods",
       "clips"
      ],
      "properties": {
       "channel": {
        "type": "object"
       },
       "language": {},
       "stream": {
        "type": [
         "object",
         "null"
        ]
       },
       "streams": {
        "type": "array"
       },
       "managed_streams": {
        "type": "array"
       },
       "vods": {
        "type": "array"
       },
       "vodTotal": {
        "type": "integer"
       },
       "clips": {
        "type": "array"
       },
       "clipTotal": {
        "type": "integer"
       },
       "aiClips": {
        "type": "array"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "channel",
       "streams"
      ],
      "properties": {
       "channel": {
        "type": "object",
        "required": [
         "username",
         "user_id"
        ],
        "properties": {
         "username": {
          "type": "string"
         },
         "display_name": {
          "type": [
           "string",
           "null"
          ]
         },
         "user_id": {
          "type": "integer"
         }
        }
       },
       "streams": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "user_id"
         ],
         "description": "A stream session row (streams.* with its slot) without the ingest keys or the home ZIP.",
         "properties": {
          "id": {
           "type": "integer"
          },
          "user_id": {
           "type": "integer"
          },
          "channel_id": {
           "type": [
            "integer",
            "null"
           ]
          },
          "managed_stream_id": {
           "type": [
            "integer",
            "null"
           ]
          },
          "title": {
           "type": [
            "string",
            "null"
           ]
          },
          "description": {
           "type": [
            "string",
            "null"
           ]
          },
          "category": {
           "type": [
            "string",
            "null"
           ]
          },
          "protocol": {
           "type": [
            "string",
            "null"
           ]
          },
          "is_live": {
           "type": [
            "integer",
            "boolean"
           ]
          },
          "is_nsfw": {
           "type": [
            "integer",
            "boolean"
           ]
          },
          "viewer_count": {
           "type": [
            "integer",
            "null"
           ]
          },
          "peak_viewers": {
           "type": [
            "integer",
            "null"
           ]
          },
          "thumbnail_url": {
           "type": [
            "string",
            "null"
           ]
          },
          "started_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "ended_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "channel": {
           "type": [
            "object",
            "null"
           ],
           "description": "The public channel projection."
          },
          "endpoint": {
           "type": "object",
           "description": "While live: how to play it (jsmpeg channel, webrtc roomId, rtmp flvUrl)."
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "vods",
       "clips",
       "ranges"
      ],
      "properties": {
       "vod": {
        "type": [
         "object",
         "null"
        ]
       },
       "clip": {
        "type": [
         "object",
         "null"
        ]
       },
       "vods": {
        "type": "array"
       },
       "clips": {
        "type": "array"
       },
       "ranges": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "clips",
       "total",
       "limit",
       "offset",
       "hasMore"
      ],
      "properties": {
       "clips": {
        "type": "array"
       },
       "total": {
        "type": "integer"
       },
       "facets": {},
       "limit": {
        "type": "integer"
       },
       "offset": {
        "type": "integer"
       },
       "hasMore": {
        "type": "boolean"
       },
       "sort": {
        "type": "string"
       },
       "of": {},
       "includeSelf": {}
      }
     },
     {
      "type": "object",
      "required": [
       "from",
       "to",
       "text"
      ],
      "properties": {
       "from": {
        "type": [
         "string",
         "null"
        ]
       },
       "to": {
        "const": "en"
       },
       "text": {
        "type": [
         "string",
         "null"
        ]
       },
       "from_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "flag": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "user"
      ],
      "properties": {
       "user": {
        "type": "object",
        "required": [
         "id",
         "username"
        ],
        "properties": {
         "id": {
          "type": "integer"
         },
         "username": {
          "type": "string"
         },
         "display_name": {
          "type": [
           "string",
           "null"
          ]
         },
         "avatar_url": {
          "type": [
           "string",
           "null"
          ]
         },
         "bio": {
          "type": [
           "string",
           "null"
          ]
         },
         "role": {
          "type": "string"
         },
         "profile_color": {
          "type": [
           "string",
           "null"
          ]
         },
         "created_at": {
          "type": [
           "string",
           "null"
          ]
         },
         "capabilities": {
          "type": "array"
         }
        }
       }
      }
     }
    ]
   },
   "live.discovery-result.v1": {
    "title": "LiveDiscoveryResult",
    "description": "live.discovery-result@1: answers of live.discovery.read on OpenVibe.Live (public home and discovery reads; the same answer for everyone except /discover and /digest, which personalise for a signed-in viewer). GET /api/home/featured → { stream, moment, count, index, next_in_ms } ({ stream: null, count: 0 } when nobody is live); /api/home/stats-live → { liveNow, viewersNow, weeklyActive, users, …, concurrency, recent }; /api/home/hero → { stats, media, moments, slogans }; /api/home/star → { star } (null when there is none); /api/home/digest → { since, signed_in, liveNow, streamed, stats, hot }; /api/home/discover → { channel, live, clips, recaps, star, similar }; /api/home/pulse → Live's activity pulse with moments and latestUpdate; /api/home/stats/series/:metric?days= → { metric, kind, days, points, peak, … } (404 { error, metrics } for an unknown metric, 503 when Media's series are unavailable); /api/streams/recently-online → { streamers, total, limit, offset, hasMore }; /api/streams/recent-vods → { vods, total, limit, offset, hasMore }; /api/content/feed and /api/content/moments → { feed, type, sort, window, items, next, sources, partial }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "stream",
       "count"
      ],
      "properties": {
       "stream": {
        "type": [
         "object",
         "null"
        ]
       },
       "moment": {},
       "count": {
        "type": "integer",
        "minimum": 0
       },
       "index": {
        "type": "integer"
       },
       "next_in_ms": {
        "type": "integer"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "liveNow",
       "viewersNow"
      ],
      "properties": {
       "liveNow": {
        "type": "integer"
       },
       "viewersNow": {
        "type": "integer"
       },
       "weeklyActive": {},
       "users": {},
       "weeklyVisitors": {},
       "concurrency": {},
       "recent": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "stats",
       "media",
       "moments",
       "slogans"
      ],
      "properties": {
       "stats": {
        "type": "object"
       },
       "media": {
        "type": "array"
       },
       "moments": {
        "type": "array"
       },
       "slogans": {
        "type": "array"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "star"
      ],
      "properties": {
       "star": {
        "type": [
         "object",
         "null"
        ],
        "properties": {
         "username": {
          "type": "string"
         },
         "display_name": {
          "type": "string"
         },
         "live": {
          "type": [
           "object",
           "null"
          ]
         },
         "rotates": {
          "type": "boolean"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "since",
       "signed_in",
       "liveNow",
       "streamed",
       "stats",
       "hot"
      ],
      "properties": {
       "since": {},
       "signed_in": {
        "type": "boolean"
       },
       "liveNow": {},
       "streamed": {},
       "stats": {},
       "hot": {}
      }
     },
     {
      "type": "object",
      "required": [
       "channel",
       "live",
       "clips",
       "recaps",
       "star",
       "similar"
      ],
      "properties": {
       "channel": {
        "type": [
         "object",
         "null"
        ]
       },
       "live": {},
       "clips": {},
       "recaps": {},
       "star": {},
       "similar": {}
      }
     },
     {
      "type": "object",
      "required": [
       "moments",
       "latestUpdate"
      ],
      "properties": {
       "moments": {
        "type": "array",
        "maxItems": 10
       },
       "latestUpdate": {}
      }
     },
     {
      "type": "object",
      "required": [
       "metric",
       "kind",
       "points"
      ],
      "properties": {
       "metric": {
        "type": "string"
       },
       "kind": {
        "type": "string"
       },
       "days": {
        "type": "integer"
       },
       "points": {
        "type": "array",
        "items": {
         "type": "object"
        }
       },
       "peak": {
        "type": "number"
       },
       "source": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "streamers",
       "total",
       "limit",
       "offset",
       "hasMore"
      ],
      "properties": {
       "streamers": {
        "type": "array"
       },
       "total": {
        "type": "integer"
       },
       "limit": {
        "type": "integer"
       },
       "offset": {
        "type": "integer"
       },
       "hasMore": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "vods",
       "total",
       "limit",
       "offset",
       "hasMore"
      ],
      "properties": {
       "vods": {
        "type": "array"
       },
       "total": {
        "type": "integer"
       },
       "limit": {
        "type": "integer"
       },
       "offset": {
        "type": "integer"
       },
       "hasMore": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "feed",
       "items",
       "next",
       "sources",
       "partial"
      ],
      "properties": {
       "feed": {
        "type": "string"
       },
       "type": {},
       "sort": {
        "type": "string"
       },
       "window": {},
       "items": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "kind",
          "id"
         ],
         "properties": {
          "kind": {
           "type": "string"
          },
          "id": {
           "type": [
            "string",
            "integer"
           ]
          },
          "href": {
           "type": "string"
          },
          "title": {
           "type": "string"
          }
         }
        }
       },
       "next": {
        "type": [
         "string",
         "null"
        ]
       },
       "sources": {
        "type": "object"
       },
       "partial": {
        "type": "boolean"
       }
      }
     }
    ]
   },
   "live.follower-page.v1": {
    "title": "LiveFollowerPage",
    "description": "live.follower-page@1: the answer of GET /internal/followers?stream_id=&limit=&after= on OpenVibe.Live (live.follower.read, service token, loopback): the followers of the channel that streams stream_id, for Network's go-live notifications. A follower is named by their Network subject when Live knows it, else their Network user id. next is the cursor for the following page (null on the last). 400 without stream_id, 404 for an unknown stream.",
    "type": "object",
    "required": [
     "stream_id",
     "channel",
     "followers",
     "next"
    ],
    "properties": {
     "stream_id": {
      "type": "integer",
      "minimum": 1
     },
     "channel": {
      "type": "object",
      "required": [
       "subject"
      ],
      "properties": {
       "subject": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "followers": {
      "type": "array",
      "maxItems": 5000,
      "items": {
       "type": "object",
       "required": [
        "subject",
        "network_user_id"
       ],
       "properties": {
        "subject": {
         "type": [
          "string",
          "null"
         ],
         "pattern": "^usr_"
        },
        "network_user_id": {
         "type": [
          "integer",
          "null"
         ]
        }
       }
      }
     },
     "next": {
      "type": [
       "integer",
       "null"
      ]
     }
    }
   },
   "live.stream-read-result.v1": {
    "title": "LiveStreamReadResult",
    "description": "live.stream-read-result@1: answers of live.stream.read on OpenVibe.Live (public, parameters in the path and query). GET /api/streams → { streams } (live now, with each slot's external viewers and total_viewer_count); GET /api/streams/recent?limit= → { streams } (recently ended, with their public VOD from OpenVibe.Media); GET /api/streams/:id → { stream } (plus endpoint while live, cameras, controls, pip_overlay, follower_count, isFollowing for a signed-in viewer); GET /api/streams/channel/:username/resolve/:ref → { managed_stream, live_stream_id, is_live }; GET /api/live-events is a Server-Sent Events feed whose stream-live messages carry { repeat, username, display_name, avatar_url, title, stream_id, slug, managed_id, at }. Ingest keys are never included.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "streams"
      ],
      "properties": {
       "streams": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "user_id"
         ],
         "description": "A stream session row (streams.* with its slot) without the ingest keys or the home ZIP.",
         "properties": {
          "id": {
           "type": "integer"
          },
          "user_id": {
           "type": "integer"
          },
          "channel_id": {
           "type": [
            "integer",
            "null"
           ]
          },
          "managed_stream_id": {
           "type": [
            "integer",
            "null"
           ]
          },
          "title": {
           "type": [
            "string",
            "null"
           ]
          },
          "description": {
           "type": [
            "string",
            "null"
           ]
          },
          "category": {
           "type": [
            "string",
            "null"
           ]
          },
          "protocol": {
           "type": [
            "string",
            "null"
           ]
          },
          "is_live": {
           "type": [
            "integer",
            "boolean"
           ]
          },
          "is_nsfw": {
           "type": [
            "integer",
            "boolean"
           ]
          },
          "viewer_count": {
           "type": [
            "integer",
            "null"
           ]
          },
          "peak_viewers": {
           "type": [
            "integer",
            "null"
           ]
          },
          "thumbnail_url": {
           "type": [
            "string",
            "null"
           ]
          },
          "started_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "ended_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "channel": {
           "type": [
            "object",
            "null"
           ],
           "description": "The public channel projection."
          },
          "endpoint": {
           "type": "object",
           "description": "While live: how to play it (jsmpeg channel, webrtc roomId, rtmp flvUrl)."
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "stream"
      ],
      "properties": {
       "stream": {
        "type": "object",
        "required": [
         "id",
         "user_id"
        ],
        "description": "A stream session row (streams.* with its slot) without the ingest keys or the home ZIP.",
        "properties": {
         "id": {
          "type": "integer"
         },
         "user_id": {
          "type": "integer"
         },
         "channel_id": {
          "type": [
           "integer",
           "null"
          ]
         },
         "managed_stream_id": {
          "type": [
           "integer",
           "null"
          ]
         },
         "title": {
          "type": [
           "string",
           "null"
          ]
         },
         "description": {
          "type": [
           "string",
           "null"
          ]
         },
         "category": {
          "type": [
           "string",
           "null"
          ]
         },
         "protocol": {
          "type": [
           "string",
           "null"
          ]
         },
         "is_live": {
          "type": [
           "integer",
           "boolean"
          ]
         },
         "is_nsfw": {
          "type": [
           "integer",
           "boolean"
          ]
         },
         "viewer_count": {
          "type": [
           "integer",
           "null"
          ]
         },
         "peak_viewers": {
          "type": [
           "integer",
           "null"
          ]
         },
         "thumbnail_url": {
          "type": [
           "string",
           "null"
          ]
         },
         "started_at": {
          "type": [
           "string",
           "null"
          ]
         },
         "ended_at": {
          "type": [
           "string",
           "null"
          ]
         },
         "channel": {
          "type": [
           "object",
           "null"
          ],
          "description": "The public channel projection."
         },
         "endpoint": {
          "type": "object",
          "description": "While live: how to play it (jsmpeg channel, webrtc roomId, rtmp flvUrl)."
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "managed_stream",
       "live_stream_id",
       "is_live"
      ],
      "properties": {
       "managed_stream": {
        "type": "object",
        "required": [
         "id"
        ],
        "properties": {
         "id": {
          "type": "integer"
         },
         "slug": {
          "type": [
           "string",
           "null"
          ]
         },
         "title": {
          "type": [
           "string",
           "null"
          ]
         },
         "protocol": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       },
       "live_stream_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "is_live": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "stream_id",
       "username",
       "at"
      ],
      "description": "An SSE stream-live message (event: stream-live).",
      "properties": {
       "repeat": {
        "type": "boolean"
       },
       "username": {
        "type": [
         "string",
         "null"
        ]
       },
       "display_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "title": {
        "type": [
         "string",
         "null"
        ]
       },
       "stream_id": {
        "type": "integer"
       },
       "slug": {
        "type": [
         "string",
         "null"
        ]
       },
       "managed_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "at": {
        "type": "integer",
        "description": "ms epoch."
       }
      }
     }
    ]
   },
   "live.tips-delivery-request.v1": {
    "title": "LiveTipsDeliveryRequest",
    "description": "live.tips-delivery-request@1: the body of POST /internal/tips/deliveries on OpenVibe.Live (live.tips_delivery.write; OpenVibe.Tips' live-chat delivery adapter, loopback only). The money already moved in OpenVibe.Billing; this only shows it on the creator's channel. Needs an Idempotency-Key header (<interaction id>:<effect>, 8-200 of A-Z a-z 0-9 _ : . -); a repeat answers the first result. effect chat_line or paid_message: a donation event in the channel room and global chat, saved as a donation chat message, with the alert sound; tts: tts.text spoken on the live stream (or the offline channel room); media_request: media.url into the channel's media queue at cost 0. The creator must have a Live channel (404 otherwise); an unknown effect or a failure is 422.",
    "type": "object",
    "required": [
     "effect",
     "creator"
    ],
    "properties": {
     "delivery_id": {
      "type": "string"
     },
     "effect": {
      "enum": [
       "chat_line",
       "paid_message",
       "tts",
       "media_request"
      ]
     },
     "test": {
      "type": "boolean"
     },
     "creator": {
      "type": "object",
      "required": [
       "id"
      ],
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      }
     },
     "supporter": {
      "type": "object",
      "properties": {
       "name": {
        "type": "string",
        "description": "Shown (80 characters); Someone when absent."
       },
       "subject": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "interaction": {
      "type": "object",
      "properties": {
       "id": {
        "type": "string"
       },
       "kind": {
        "type": "string"
       },
       "amount": {
        "type": [
         "number",
         "string"
        ]
       },
       "currency": {
        "type": "string"
       },
       "message": {
        "type": [
         "string",
         "null"
        ],
        "description": "Cut to 500 characters."
       }
      }
     },
     "text": {
      "type": "string",
      "description": "The chat line to save (1000 characters); a default names the supporter and amount."
     },
     "tts": {
      "type": "object",
      "properties": {
       "text": {
        "type": "string",
        "minLength": 1,
        "maxLength": 1200
       },
       "voice": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "media": {
      "type": "object",
      "required": [
       "url"
      ],
      "properties": {
       "url": {
        "type": "string"
       }
      }
     },
     "highlight_seconds": {
      "type": [
       "number",
       "string"
      ]
     },
     "target": {
      "type": "object",
      "description": "A live stream of the creator ({ service: live, type: stream, id }); otherwise the creator's current live stream.",
      "properties": {
       "service": {
        "type": "string"
       },
       "type": {
        "type": "string"
       },
       "id": {
        "type": [
         "string",
         "integer"
        ]
       }
      }
     }
    }
   },
   "live.tips-delivery-result.v1": {
    "title": "LiveTipsDeliveryResult",
    "description": "live.tips-delivery-result@1: the answer of POST /internal/tips/deliveries on OpenVibe.Live: 200 { ok: true, ref } naming what was made (the saved chat message for chat_line/paid_message, the stream spoken on for tts, the queued media request); the same answer again for a repeated Idempotency-Key. Refusals are { error }: 400 without an Idempotency-Key, 404 creator without a Live channel (permanent), 409 the same delivery is still running (retry), 422 unknown effect, no text, or a media request that failed.",
    "type": "object",
    "required": [
     "ok",
     "ref"
    ],
    "properties": {
     "ok": {
      "const": true
     },
     "ref": {
      "type": "object",
      "properties": {
       "chat_message_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "stream_id": {
        "type": [
         "integer",
         "null"
        ]
       },
       "media_request_id": {
        "type": "integer"
       }
      }
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
