{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Media API",
  "version": "0.55.1",
  "description": "Routes of OpenVibe.Media as the OpenVibe contracts describe them (openvibe-contracts 0.55.1): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.media"
  }
 ],
 "paths": {
  "/api/v1/{app}/files": {
   "post": {
    "operationId": "post_api_v1_app_files",
    "summary": "Upload a file object into an app namespace.",
    "description": "**media.object.upload** (public): Upload a file object into an app namespace.",
    "tags": [
     "media.object"
    ],
    "x-openvibe-capabilities": [
     "media.object.upload"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "media-upload",
    "security": [
     {
      "openvibeToken": [
       "media.object.upload"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "multipart/form-data": {
       "schema": {
        "$ref": "#/components/schemas/media.file-upload.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "app",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/media.file.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/{app}/files/{key}": {
   "get": {
    "operationId": "get_api_v1_app_files_key",
    "summary": "Read object metadata / bytes in a namespace.",
    "description": "**media.object.read** (public): Read object metadata / bytes in a namespace.",
    "tags": [
     "media.object"
    ],
    "x-openvibe-capabilities": [
     "media.object.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "media-read",
    "security": [
     {
      "openvibeToken": [
       "media.object.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "app",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/media.file-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/f/{key}": {
   "get": {
    "operationId": "get_f_key",
    "summary": "Read object metadata / bytes in a namespace.",
    "description": "**media.object.read** (public): Read object metadata / bytes in a namespace.",
    "tags": [
     "media.object"
    ],
    "x-openvibe-capabilities": [
     "media.object.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "media-read",
    "security": [
     {
      "openvibeToken": [
       "media.object.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/media.file-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "media.file-read-result.v1": {
    "title": "MediaFileReadResult",
    "description": "media.file-read-result@1: answers of media.object.read on OpenVibe.Media. GET /api/v1/:app/files/:key → media.file@1 (the file's metadata; 404 when it is not the tenant's); GET /f/:key → the bytes, with Content-Type and Range (a sandbox file only through its signed URL).",
    "anyOf": [
     {
      "$ref": "#/components/schemas/media.file.v1"
     },
     {
      "type": "string",
      "contentEncoding": "binary",
      "description": "GET /f/:key: the file."
     }
    ]
   },
   "media.file-upload.v1": {
    "title": "MediaFileUpload",
    "description": "media.file-upload@1: the multipart/form-data body of POST /api/v1/:app/files (media.object.upload, namespace :app): one part named `file` with the bytes and its filename and type. The tenant's quota is checked against the bytes; the answer is media.file@1 (201).",
    "type": "object",
    "required": [
     "file"
    ],
    "additionalProperties": true,
    "properties": {
     "file": {
      "type": "string",
      "contentEncoding": "binary",
      "description": "The multipart part named file (filename and Content-Type from the part)."
     }
    }
   },
   "media.file.v1": {
    "title": "MediaFile",
    "description": "media.file@1: one stored file of a tenant on OpenVibe.Media (server/files/routes.js filePublic): its key, owner, name, size, type and hash, and the URL it is served from (/f/<key>; a developer-project sandbox file gets a short-lived signed URL instead).",
    "type": "object",
    "required": [
     "key",
     "app_id",
     "original_name",
     "size",
     "mime",
     "url",
     "created_at"
    ],
    "properties": {
     "key": {
      "type": "string"
     },
     "app_id": {
      "type": "string"
     },
     "user_id": {
      "type": [
       "string",
       "integer",
       "null"
      ]
     },
     "original_name": {
      "type": "string"
     },
     "size": {
      "type": "integer",
      "minimum": 0
     },
     "mime": {
      "type": "string"
     },
     "sha256": {
      "type": [
       "string",
       "null"
      ]
     },
     "url": {
      "type": "string"
     },
     "sandbox": {
      "const": true
     },
     "url_expires_at": {
      "type": [
       "string",
       "integer"
      ]
     },
     "created_at": {
      "type": "string"
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
