{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Network API",
  "version": "0.111.0",
  "description": "Routes of OpenVibe.Network as the OpenVibe contracts describe them (openvibe-contracts 0.111.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.network"
  }
 ],
 "paths": {
  "/api/v1/creators/{creator}/analytics": {
   "get": {
    "operationId": "get_api_v1_creators_creator_analytics",
    "summary": "Read a creator's full streaming analytics (average viewers, chatters, messages, watch minutes, as counts) for the creator's own dashboards in a first-party product (Live's /api/analytics).",
    "description": "**network.analytics.creator.read** (first-party): Read a creator's full streaming analytics (average viewers, chatters, messages, watch minutes, as counts) for the creator's own dashboards in a first-party product (Live's /api/analytics). Streams, minutes and peak viewers are public without it. Never grantable to apps.",
    "tags": [
     "network.analytics"
    ],
    "x-openvibe-capabilities": [
     "network.analytics.creator.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "network.analytics.creator.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "creator",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.creator-analytics-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/follows/{type}/{target}/followers": {
   "get": {
    "operationId": "get_api_v1_follows_type_target_followers",
    "summary": "Read who follows a target (subjects only), as an owning service: go-live and other notifications, and product projections that rebuild from Network (ADR-030).",
    "description": "**network.follows.read** (first-party): Read who follows a target (subjects only), as an owning service: go-live and other notifications, and product projections that rebuild from Network (ADR-030). Counts are public without it. Never grantable to apps.",
    "tags": [
     "network.follows"
    ],
    "x-openvibe-capabilities": [
     "network.follows.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "follows-read",
    "security": [
     {
      "openvibeToken": [
       "network.follows.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "target",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.follow-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/node/self/capabilities": {
   "put": {
    "operationId": "put_api_v1_node_self_capabilities",
    "summary": "A paired machine presents its own capabilities and rotates its own credential, never another machine's.",
    "description": "**network.node.self.manage** (internal): A paired machine presents its own capabilities and rotates its own credential, never another machine's.",
    "tags": [
     "network.node"
    ],
    "x-openvibe-capabilities": [
     "network.node.self.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.node.self.manage"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/node/self/credential": {
   "post": {
    "operationId": "post_api_v1_node_self_credential",
    "summary": "A paired machine presents its own capabilities and rotates its own credential, never another machine's.",
    "description": "**network.node.self.manage** (internal): A paired machine presents its own capabilities and rotates its own credential, never another machine's.",
    "tags": [
     "network.node"
    ],
    "x-openvibe-capabilities": [
     "network.node.self.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.node.self.manage"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/resources": {
   "get": {
    "operationId": "get_api_v1_resources",
    "summary": "Read OpenVibe.Network's resource index (ADR-048): GET /api/v1/resources lists the resources Network owns as a page of common.resource-summary@1 (common.resource-list-result@1), and GET /api/v1/resourc",
    "description": "**network.resource.read** (first-party): Read OpenVibe.Network's resource index (ADR-048): GET /api/v1/resources lists the resources Network owns as a page of common.resource-summary@1 (common.resource-list-result@1), and GET /api/v1/resources/:ovrn reads one by its OVRN (common.resource-summary@1). Every authority serves these for OpenVibe.Services to fan out and merge; Network's own resources today are its projects, apps, keys and nodes. Planned until Network ships the index; the T2 Fabric offer registry's public routes, today sharing /api/v1/resources, move to /api/v1/offers in the same release.",
    "tags": [
     "network.resource"
    ],
    "x-openvibe-capabilities": [
     "network.resource.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "network.resource.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/common.resource-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/resources/{ovrn}": {
   "get": {
    "operationId": "get_api_v1_resources_ovrn",
    "summary": "Read OpenVibe.Network's resource index (ADR-048): GET /api/v1/resources lists the resources Network owns as a page of common.resource-summary@1 (common.resource-list-result@1), and GET /api/v1/resourc",
    "description": "**network.resource.read** (first-party): Read OpenVibe.Network's resource index (ADR-048): GET /api/v1/resources lists the resources Network owns as a page of common.resource-summary@1 (common.resource-list-result@1), and GET /api/v1/resources/:ovrn reads one by its OVRN (common.resource-summary@1). Every authority serves these for OpenVibe.Services to fan out and merge; Network's own resources today are its projects, apps, keys and nodes. Planned until Network ships the index; the T2 Fabric offer registry's public routes, today sharing /api/v1/resources, move to /api/v1/offers in the same release.",
    "tags": [
     "network.resource"
    ],
    "x-openvibe-capabilities": [
     "network.resource.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "network.resource.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "ovrn",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/common.resource-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/staff/moderators": {
   "get": {
    "operationId": "get_api_v1_staff_moderators",
    "summary": "List the network's staff (global moderators, admins and the owner) with their roles and staff capabilities from the staff map, as an owning service: to show who moderates, or to route a report.",
    "description": "**network.staff.read** (first-party): List the network's staff (global moderators, admins and the owner) with their roles and staff capabilities from the staff map, as an owning service: to show who moderates, or to route a report. Never grantable to apps.",
    "tags": [
     "network.staff"
    ],
    "x-openvibe-capabilities": [
     "network.staff.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "staff-read",
    "security": [
     {
      "openvibeToken": [
       "network.staff.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.staff-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/status/incidents": {
   "post": {
    "operationId": "post_api_v1_status_incidents",
    "summary": "Open and update incidents and maintenance windows on the public status page (openvibe.network/status): the operator's tooling (ovhost incident / maintenance, as the Host principal) and staff admins.",
    "description": "**network.status.incident** (internal): Open and update incidents and maintenance windows on the public status page (openvibe.network/status): the operator's tooling (ovhost incident / maintenance, as the Host principal) and staff admins. Never grantable to apps.",
    "tags": [
     "network.status"
    ],
    "x-openvibe-capabilities": [
     "network.status.incident"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.status.incident"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.status-incident-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.status-incident.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/status/incidents/{id}/updates": {
   "post": {
    "operationId": "post_api_v1_status_incidents_id_updates",
    "summary": "Open and update incidents and maintenance windows on the public status page (openvibe.network/status): the operator's tooling (ovhost incident / maintenance, as the Host principal) and staff admins.",
    "description": "**network.status.incident** (internal): Open and update incidents and maintenance windows on the public status page (openvibe.network/status): the operator's tooling (ovhost incident / maintenance, as the Host principal) and staff admins. Never grantable to apps.",
    "tags": [
     "network.status"
    ],
    "x-openvibe-capabilities": [
     "network.status.incident"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.status.incident"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.status-incident-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.status-incident.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/account-deletions/{deletion_id}/confirmations": {
   "post": {
    "operationId": "post_internal_account_deletions_deletion_id_confirmations",
    "summary": "Confirm that a deleted account's rows are erased at a service (ADR-033), with counts of what was erased and what is kept (pseudonymised money rows, held media, tombstones).",
    "description": "**network.account.deletion.confirm** (internal): Confirm that a deleted account's rows are erased at a service (ADR-033), with counts of what was erased and what is kept (pseudonymised money rows, held media, tombstones). A token may only speak for its own service.",
    "tags": [
     "network.account"
    ],
    "x-openvibe-capabilities": [
     "network.account.deletion.confirm"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "account-data",
    "security": [
     {
      "openvibeToken": [
       "network.account.deletion.confirm"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.account-deletion-confirmation.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "deletion_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.account-data-receipt.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/account-exports/{export_id}/parts": {
   "post": {
    "operationId": "post_internal_account_exports_export_id_parts",
    "summary": "Push a service's part of a person's data export (ADR-033): the subject's own rows as JSON files, before the export's deadline.",
    "description": "**network.account.export.contribute** (internal): Push a service's part of a person's data export (ADR-033): the subject's own rows as JSON files, before the export's deadline. A token may only speak for its own service; a second part replaces the first.",
    "tags": [
     "network.account"
    ],
    "x-openvibe-capabilities": [
     "network.account.export.contribute"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "account-data",
    "security": [
     {
      "openvibeToken": [
       "network.account.export.contribute"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.account-export-part.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "export_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.account-data-receipt.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/blocks?subject=usr_…": {
   "get": {
    "operationId": "get_internal_blocks_subject_usr",
    "summary": "Read who a person has blocked and who has blocked them (subjects only), as an owning service honouring platform blocks: Chat for DMs and mentions, Community for replies, notification senders.",
    "description": "**network.blocks.read** (first-party): Read who a person has blocked and who has blocked them (subjects only), as an owning service honouring platform blocks: Chat for DMs and mentions, Community for replies, notification senders. Never grantable to apps.",
    "tags": [
     "network.blocks"
    ],
    "x-openvibe-capabilities": [
     "network.blocks.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blocks-read",
    "security": [
     {
      "openvibeToken": [
       "network.blocks.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.blocks-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/coins/credit": {
   "post": {
    "operationId": "post_internal_coins_credit",
    "summary": "Credit OpenCoins (loyalty, never money) to a Network user.",
    "description": "**network.coins.credit** (internal): Credit OpenCoins (loyalty, never money) to a Network user. Idempotent by idempotency_key. A token may only act for its own app_id.",
    "tags": [
     "network.coins"
    ],
    "x-openvibe-capabilities": [
     "network.coins.credit"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "network.coins.credit"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.coins-change-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.coins-balance-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/coins/debit": {
   "post": {
    "operationId": "post_internal_coins_debit",
    "summary": "Debit OpenCoins; 409 insufficient_funds.",
    "description": "**network.coins.debit** (internal): Debit OpenCoins; 409 insufficient_funds. A token may only act for its own app_id.",
    "tags": [
     "network.coins"
    ],
    "x-openvibe-capabilities": [
     "network.coins.debit"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "network.coins.debit"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.coins-change-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.coins-balance-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/coins/stats": {
   "get": {
    "operationId": "get_internal_coins_stats",
    "summary": "Read OpenCoins totals (supply, holders, daily flow) for a site's own dashboards; never balances of named people.",
    "description": "**network.coins.read** (internal): Read OpenCoins totals (supply, holders, daily flow) for a site's own dashboards; never balances of named people.",
    "tags": [
     "network.coins"
    ],
    "x-openvibe-capabilities": [
     "network.coins.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "network.coins.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.coins-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/coins/transfer": {
   "post": {
    "operationId": "post_internal_coins_transfer",
    "summary": "Atomically move OpenCoins between two Network users.",
    "description": "**network.coins.transfer** (internal): Atomically move OpenCoins between two Network users. A token may only act for its own app_id.",
    "tags": [
     "network.coins"
    ],
    "x-openvibe-capabilities": [
     "network.coins.transfer"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "network.coins.transfer"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.coins-transfer-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.coins-transfer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/follows/{type}/{target}": {
   "delete": {
    "operationId": "delete_internal_follows_type_target",
    "summary": "Follow or unfollow on a person's behalf, as the first-party product where they pressed the button (Live's follow buttons, ADR-030 step 4).",
    "description": "**network.follows.write** (first-party): Follow or unfollow on a person's behalf, as the first-party product where they pressed the button (Live's follow buttons, ADR-030 step 4). The follower is named in the request; Network keeps the graph and emits the events. Never grantable to apps.",
    "tags": [
     "network.follows"
    ],
    "x-openvibe-capabilities": [
     "network.follows.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "follows-write",
    "security": [
     {
      "openvibeToken": [
       "network.follows.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/network.follow-write-request.v1"
    },
    "parameters": [
     {
      "name": "type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "target",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "follower",
      "in": "query",
      "required": true,
      "schema": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     {
      "name": "notify_email",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     },
     {
      "name": "notify_push",
      "in": "query",
      "required": false,
      "schema": {
       "type": "boolean"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.follow-status-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_internal_follows_type_target",
    "summary": "Follow or unfollow on a person's behalf, as the first-party product where they pressed the button (Live's follow buttons, ADR-030 step 4).",
    "description": "**network.follows.write** (first-party): Follow or unfollow on a person's behalf, as the first-party product where they pressed the button (Live's follow buttons, ADR-030 step 4). The follower is named in the request; Network keeps the graph and emits the events. Never grantable to apps.",
    "tags": [
     "network.follows"
    ],
    "x-openvibe-capabilities": [
     "network.follows.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "follows-write",
    "security": [
     {
      "openvibeToken": [
       "network.follows.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.follow-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "target",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.follow-status-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/identity/resolve": {
   "get": {
    "operationId": "get_internal_identity_resolve",
    "summary": "Resolve a subject (or a legacy service-local id) to its canonical SubjectRef and display projection.",
    "description": "**identity.subject.resolve** (first-party): Resolve a subject (or a legacy service-local id) to its canonical SubjectRef and display projection.",
    "tags": [
     "identity.subject"
    ],
    "x-openvibe-capabilities": [
     "identity.subject.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "identity-read",
    "security": [
     {
      "openvibeToken": [
       "identity.subject.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/identity.resolve-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/identity.resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/identity/resolve-batch": {
   "post": {
    "operationId": "post_internal_identity_resolve_batch",
    "summary": "Resolve a subject (or a legacy service-local id) to its canonical SubjectRef and display projection.",
    "description": "**identity.subject.resolve** (first-party): Resolve a subject (or a legacy service-local id) to its canonical SubjectRef and display projection.",
    "tags": [
     "identity.subject"
    ],
    "x-openvibe-capabilities": [
     "identity.subject.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "identity-read",
    "security": [
     {
      "openvibeToken": [
       "identity.subject.resolve"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/identity.resolve-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/identity.resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/integrations/github-token": {
   "get": {
    "operationId": "get_internal_integrations_github_token",
    "summary": "Read the network's GitHub API token (read-only, public repositories), which the owner sets in Network's admin panel or in GITHUB_TOKEN.",
    "description": "**network.integration.github.read** (first-party): Read the network's GitHub API token (read-only, public repositories), which the owner sets in Network's admin panel or in GITHUB_TOKEN. Used by OpenVibe.Blog's network changelog so its GitHub calls do not share the host's anonymous rate limit. Never granted to apps or mods.",
    "tags": [
     "network.integration"
    ],
    "x-openvibe-capabilities": [
     "network.integration.github.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "integration-secret",
    "security": [
     {
      "openvibeToken": [
       "network.integration.github.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.github-token-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/mods": {
   "get": {
    "operationId": "get_internal_mods",
    "summary": "Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's.",
    "description": "**mods.grant.manage** (first-party): Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's. Only the runtime that registered a mod (its owner) changes it; Network staff (staff.games.manage) can too. Every change is network.mod.grants_changed.",
    "tags": [
     "mods.grant"
    ],
    "x-openvibe-capabilities": [
     "mods.grant.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "network-admin",
    "security": [
     {
      "openvibeToken": [
       "mods.grant.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/network.mod-install-request.v1"
    },
    "parameters": [
     {
      "name": "manifest",
      "in": "query",
      "required": true,
      "schema": {
       "type": "object",
       "description": "The mod's manifest, mods.mod-manifest@1."
      },
      "description": "The mod's manifest, mods.mod-manifest@1."
     },
     {
      "name": "approve",
      "in": "query",
      "required": false,
      "schema": {
       "type": "array",
       "maxItems": 64,
       "uniqueItems": true,
       "items": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
       },
       "description": "Approved at install; each must be requested by the manifest."
      },
      "description": "Approved at install; each must be requested by the manifest."
     },
     {
      "name": "actor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 80,
       "description": "Who installed it at the runtime (a subject or 'games'), for the audit row."
      },
      "description": "Who installed it at the runtime (a subject or 'games'), for the audit row."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.mod-principal.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_internal_mods",
    "summary": "Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's.",
    "description": "**mods.grant.manage** (first-party): Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's. Only the runtime that registered a mod (its owner) changes it; Network staff (staff.games.manage) can too. Every change is network.mod.grants_changed.",
    "tags": [
     "mods.grant"
    ],
    "x-openvibe-capabilities": [
     "mods.grant.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "network-admin",
    "security": [
     {
      "openvibeToken": [
       "mods.grant.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.mod-install-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.mod-principal.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/mods/{mod_id}": {
   "get": {
    "operationId": "get_internal_mods_mod_id",
    "summary": "Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's.",
    "description": "**mods.grant.manage** (first-party): Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's. Only the runtime that registered a mod (its owner) changes it; Network staff (staff.games.manage) can too. Every change is network.mod.grants_changed.",
    "tags": [
     "mods.grant"
    ],
    "x-openvibe-capabilities": [
     "mods.grant.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "network-admin",
    "security": [
     {
      "openvibeToken": [
       "mods.grant.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/network.mod-install-request.v1"
    },
    "parameters": [
     {
      "name": "mod_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "manifest",
      "in": "query",
      "required": true,
      "schema": {
       "type": "object",
       "description": "The mod's manifest, mods.mod-manifest@1."
      },
      "description": "The mod's manifest, mods.mod-manifest@1."
     },
     {
      "name": "approve",
      "in": "query",
      "required": false,
      "schema": {
       "type": "array",
       "maxItems": 64,
       "uniqueItems": true,
       "items": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
       },
       "description": "Approved at install; each must be requested by the manifest."
      },
      "description": "Approved at install; each must be requested by the manifest."
     },
     {
      "name": "actor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 80,
       "description": "Who installed it at the runtime (a subject or 'games'), for the audit row."
      },
      "description": "Who installed it at the runtime (a subject or 'games'), for the audit row."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.mod-principal.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/mods/{mod_id}/grants": {
   "post": {
    "operationId": "post_internal_mods_mod_id_grants",
    "summary": "Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's.",
    "description": "**mods.grant.manage** (first-party): Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's. Only the runtime that registered a mod (its owner) changes it; Network staff (staff.games.manage) can too. Every change is network.mod.grants_changed.",
    "tags": [
     "mods.grant"
    ],
    "x-openvibe-capabilities": [
     "mods.grant.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "network-admin",
    "security": [
     {
      "openvibeToken": [
       "mods.grant.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.mod-install-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "mod_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.mod-principal.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/mods/{mod_id}/revoke": {
   "post": {
    "operationId": "post_internal_mods_mod_id_revoke",
    "summary": "Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's.",
    "description": "**mods.grant.manage** (first-party): Register a mod install's principal (mod:<mod_id>, ADR-013) and approve or revoke the subset of its manifest's requested capabilities, so a mod's grants live in Network like any other principal's. Only the runtime that registered a mod (its owner) changes it; Network staff (staff.games.manage) can too. Every change is network.mod.grants_changed.",
    "tags": [
     "mods.grant"
    ],
    "x-openvibe-capabilities": [
     "mods.grant.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "network-admin",
    "security": [
     {
      "openvibeToken": [
       "mods.grant.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.mod-install-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "mod_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.mod-principal.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/modules/{namespace}/{subject}": {
   "get": {
    "operationId": "get_internal_modules_namespace_subject",
    "summary": "Read a subject's user-module record in a granted namespace.",
    "description": "**network.modules.read** (first-party): Read a subject's user-module record in a granted namespace.",
    "tags": [
     "network.modules"
    ],
    "x-openvibe-capabilities": [
     "network.modules.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "modules-read",
    "security": [
     {
      "openvibeToken": [
       "network.modules.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "namespace",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/modules.module-record.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_internal_modules_namespace_subject",
    "summary": "Write a subject's record in a namespace the service owns (If-Match revision).",
    "description": "**network.modules.write** (first-party): Write a subject's record in a namespace the service owns (If-Match revision).",
    "tags": [
     "network.modules"
    ],
    "x-openvibe-capabilities": [
     "network.modules.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "modules-write",
    "security": [
     {
      "openvibeToken": [
       "network.modules.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.module-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "namespace",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/modules.module-record.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/node-pairings": {
   "post": {
    "operationId": "post_internal_node_pairings",
    "summary": "A service mints one-time pairing codes for its users' machines and reads or revokes the node principals it paired.",
    "description": "**network.node.manage** (internal): A service mints one-time pairing codes for its users' machines and reads or revokes the node principals it paired. Never grantable to apps.",
    "tags": [
     "network.node"
    ],
    "x-openvibe-capabilities": [
     "network.node.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.node.manage"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/node-principals/{id}": {
   "get": {
    "operationId": "get_internal_node_principals_id",
    "summary": "A service mints one-time pairing codes for its users' machines and reads or revokes the node principals it paired.",
    "description": "**network.node.manage** (internal): A service mints one-time pairing codes for its users' machines and reads or revokes the node principals it paired. Never grantable to apps.",
    "tags": [
     "network.node"
    ],
    "x-openvibe-capabilities": [
     "network.node.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.node.manage"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/node-principals/{id}/revoke": {
   "post": {
    "operationId": "post_internal_node_principals_id_revoke",
    "summary": "A service mints one-time pairing codes for its users' machines and reads or revokes the node principals it paired.",
    "description": "**network.node.manage** (internal): A service mints one-time pairing codes for its users' machines and reads or revokes the node principals it paired. Never grantable to apps.",
    "tags": [
     "network.node"
    ],
    "x-openvibe-capabilities": [
     "network.node.manage"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.node.manage"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/nodes/report": {
   "post": {
    "operationId": "post_internal_nodes_report",
    "summary": "Report the machines of the platform (roles, region-level location, beacon, health) to the node registry, which the geo API and every location-aware product read (ADR-034 section 12).",
    "description": "**network.node.report** (internal): Report the machines of the platform (roles, region-level location, beacon, health) to the node registry, which the geo API and every location-aware product read (ADR-034 section 12).",
    "tags": [
     "network.node"
    ],
    "x-openvibe-capabilities": [
     "network.node.report"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.node.report"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.node-report-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.node-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/notifications/*": {
   "post": {
    "operationId": "post_internal_notifications",
    "summary": "Create a notification for Network users (ids already translated).",
    "description": "**network.notifications.push** (internal): Create a notification for Network users (ids already translated).",
    "tags": [
     "network.notifications"
    ],
    "x-openvibe-capabilities": [
     "network.notifications.push"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "notify",
    "security": [
     {
      "openvibeToken": [
       "network.notifications.push"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.notification-push-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.notification-push-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/operator/alerts": {
   "post": {
    "operationId": "post_internal_operator_alerts",
    "summary": "Report the complete set of alerts firing on the production host, so Network pages the operator (the owner account) when an alert opens, once a day while it stays open, and when it resolves.",
    "description": "**network.operator.alert** (internal): Report the complete set of alerts firing on the production host, so Network pages the operator (the owner account) when an alert opens, once a day while it stays open, and when it resolves.",
    "tags": [
     "network.operator"
    ],
    "x-openvibe-capabilities": [
     "network.operator.alert"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "notify",
    "security": [
     {
      "openvibeToken": [
       "network.operator.alert"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.operator-alerts-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.operator-alerts-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/projects/{project_id}": {
   "get": {
    "operationId": "get_internal_projects_project_id",
    "summary": "Read a developer project as an owning service: its apps and their revocation state, approved grants, environment policy and quotas.",
    "description": "**network.project.read** (first-party): Read a developer project as an owning service: its apps and their revocation state, approved grants, environment policy and quotas. Services use it to key tenancy by project_id and to enforce the quotas Network records (ADR-014). Never grantable to apps.",
    "tags": [
     "network.project"
    ],
    "x-openvibe-capabilities": [
     "network.project.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "projects-read",
    "security": [
     {
      "openvibeToken": [
       "network.project.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "project_id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.project-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/registry/instances/report": {
   "post": {
    "operationId": "post_internal_registry_instances_report",
    "summary": "Report the machines of the platform (roles, region-level location, beacon, health) to the node registry, which the geo API and every location-aware product read (ADR-034 section 12).",
    "description": "**network.node.report** (internal): Report the machines of the platform (roles, region-level location, beacon, health) to the node registry, which the geo API and every location-aware product read (ADR-034 section 12).",
    "tags": [
     "network.node"
    ],
    "x-openvibe-capabilities": [
     "network.node.report"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.node.report"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.node-report-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.node-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/resources/report": {
   "post": {
    "operationId": "post_internal_resources_report",
    "summary": "Report the complete set of a source's resource offers (platform.resource-offer@1) to the registry; offers absent from a later report of the same source are marked down.",
    "description": "**network.resource.report** (internal): Report the complete set of a source's resource offers (platform.resource-offer@1) to the registry; offers absent from a later report of the same source are marked down.",
    "tags": [
     "network.resource"
    ],
    "x-openvibe-capabilities": [
     "network.resource.report"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "admin",
    "security": [
     {
      "openvibeToken": [
       "network.resource.report"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success"
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/url-registry/resolved": {
   "get": {
    "operationId": "get_internal_url_registry_resolved",
    "summary": "Read the resolved URL registry (every site's public and internal base URLs) that the shared navbar and service clients use.",
    "description": "**network.registry.read** (internal): Read the resolved URL registry (every site's public and internal base URLs) that the shared navbar and service clients use.",
    "tags": [
     "network.registry"
    ],
    "x-openvibe-capabilities": [
     "network.registry.read"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "network.registry.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.registry-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/user-avatar": {
   "post": {
    "operationId": "post_internal_user_avatar",
    "summary": "A site reports that a person changed their avatar on it (Live's avatar picker); Network adopts it as the account's avatar and fans it out to the other sites.",
    "description": "**network.avatar.write** (internal): A site reports that a person changed their avatar on it (Live's avatar picker); Network adopts it as the account's avatar and fans it out to the other sites. The URL must be on openvibe.media.",
    "tags": [
     "network.avatar"
    ],
    "x-openvibe-capabilities": [
     "network.avatar.write"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "network.avatar.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.avatar-write-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.avatar-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "common.resource-list-result.v1": {
    "title": "ResourceListResult",
    "description": "A page of the resource index (roadmap WS-Z7).",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "resources",
     "next_cursor"
    ],
    "properties": {
     "resources": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/common.resource-summary.v1"
      }
     },
     "next_cursor": {
      "type": [
       "string",
       "null"
      ]
     },
     "partial": {
      "type": "array",
      "description": "Authorities a merged index (OpenVibe.Services, ADR-048) could not read for this page: a slow or failing authority is omitted, never fails the page. Each entry names the authority and the problem code it answered. Added in 1.1.0; a single authority's own index leaves it out.",
      "items": {
       "type": "object",
       "required": [
        "service",
        "code"
       ],
       "additionalProperties": false,
       "properties": {
        "service": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$"
        },
        "code": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
        }
       }
      }
     }
    }
   },
   "common.resource-summary.v1": {
    "title": "ResourceSummary",
    "description": "One resource of any service, as the resource index lists it (roadmap WS-Z7): every service answers GET /api/v1/resources with these, so OpenVibe.Services shows any resource without owning its data.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "kind",
     "service",
     "state",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "kind": {
      "type": "string",
      "description": "service.kind, e.g. watch.watch, actor.actor, media.object, events.subscription"
     },
     "service": {
      "type": "string"
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "ovrn": {
      "type": "string",
      "maxLength": 200,
      "pattern": "^ovrn:[a-z][a-z0-9-]{0,31}:prj_[0-9A-HJKMNP-TV-Z]{26}:[a-z][a-z0-9-]{0,39}/[a-z]{3}_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Optional resource name (ADR-034 section 2), the name grants, audit, events, usage records and bills use: ovrn:<service>:<project_id>:<type>/<id>, e.g. ovrn:watch:<project_id>:watch/<wch_id>, with the pattern of common.usage-recorded@1 resource. Its service, project and id are this summary's service, project_id and id. Added in 1.1.0."
     },
     "owner": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "name": {
      "type": "string"
     },
     "state": {
      "type": "string"
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "usage": {
      "type": "object",
      "additionalProperties": {
       "type": "number",
       "minimum": 0
      },
      "properties": {},
      "description": "cost units by name (WS-Z1)"
     },
     "links": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "self": {
        "type": "string",
        "format": "uri"
       },
       "console": {
        "type": "string",
        "format": "uri"
       },
       "docs": {
        "type": "string",
        "format": "uri"
       }
      }
     }
    }
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.resolve-request.v1": {
    "title": "IdentityResolveRequest",
    "description": "identity.resolve-request@1: the request of identity.subject.resolve on OpenVibe.Network. GET /internal/identity/resolve?subject_id= or ?system=&id=[&type=user] takes no body. POST /internal/identity/resolve-batch: { subject_ids } or { system, type?, ids } (at most 500; 413 beyond).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "subject_ids"
      ],
      "properties": {
       "subject_ids": {
        "type": "array",
        "minItems": 1,
        "maxItems": 500,
        "items": {
         "type": "string"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "system",
       "ids"
      ],
      "properties": {
       "system": {
        "type": "string",
        "minLength": 1
       },
       "type": {
        "type": "string",
        "default": "user"
       },
       "ids": {
        "type": "array",
        "minItems": 1,
        "maxItems": 500,
        "items": {
         "type": [
          "string",
          "integer"
         ]
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "identity.resolve-result.v1": {
    "title": "IdentityResolveResult",
    "description": "identity.resolve-result@1: answers of identity.subject.resolve on OpenVibe.Network. GET /internal/identity/resolve → one identity.subject-projection@1 (404 identity.subject_not_found when nothing matches); POST /internal/identity/resolve-batch → { results } keyed by each id asked, null for an id that resolves to nothing.",
    "anyOf": [
     {
      "$ref": "#/components/schemas/identity.subject-projection.v1"
     },
     {
      "type": "object",
      "required": [
       "results"
      ],
      "properties": {
       "results": {
        "type": "object",
        "additionalProperties": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/identity.subject-projection.v1"
          },
          {
           "type": "null"
          }
         ]
        }
       }
      }
     }
    ]
   },
   "identity.subject-projection.v1": {
    "title": "IdentitySubjectProjection",
    "description": "identity.subject-projection@1: what OpenVibe.Network's identity resolver answers about a subject (server/identity/subjects.js resolve): the SubjectRef, the Network account behind it, its display fields, whether it is banned, and every legacy id mapped to it.",
    "type": "object",
    "required": [
     "subject",
     "username",
     "display_name",
     "avatar_url",
     "banned"
    ],
    "properties": {
     "subject": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "network_user_id": {
      "type": "integer"
     },
     "network_anon_id": {
      "type": "integer"
     },
     "username": {
      "type": "string"
     },
     "display_name": {
      "type": "string"
     },
     "avatar_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "banned": {
      "type": "boolean"
     },
     "legacy_ids": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "source_system",
        "source_type",
        "source_id"
       ],
       "properties": {
        "source_system": {
         "type": "string"
        },
        "source_type": {
         "type": "string"
        },
        "source_id": {
         "type": "string"
        }
       }
      }
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "agent"
       },
       "id": {
        "type": "string",
        "pattern": "^agt_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AgentSubject: an agent (OpenVibe.Actor, or a developer app's agent) acting under grants its owner delegated (roadmap WS-Z2). In an event envelope, on_behalf_of names the owner."
     }
    ]
   },
   "modules.module-record.v1": {
    "title": "ModuleRecord",
    "description": "One subject's value in one namespace, as returned by Network. revision increases by one on every write; a write names the revision it read (If-Match) and fails with 412 if it moved.",
    "type": "object",
    "required": [
     "subject",
     "namespace",
     "version",
     "revision",
     "data",
     "updated_at"
    ],
    "additionalProperties": false,
    "properties": {
     "subject": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "namespace": {
      "type": "string"
     },
     "version": {
      "type": "integer",
      "minimum": 1
     },
     "revision": {
      "type": "integer",
      "minimum": 0
     },
     "data": {
      "type": "object"
     },
     "updated_at": {
      "type": "string"
     },
     "updated_by": {
      "type": "string",
      "description": "user:<subject> or svc:<service>"
     }
    }
   },
   "network.account-data-receipt.v1": {
    "title": "NetworkAccountDataReceipt",
    "description": "network.account-data-receipt@1 (OpenVibe.Network; roadmap WS-B task 7, ADR-033): Network's answer to a service's export part (network.account.export.contribute) or deletion confirmation (network.account.deletion.confirm). replaced: this service had already sent one for the same job, and this one replaced it.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "service",
     "received_at",
     "replaced"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^(exp|del)_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The export or deletion."
     },
     "service": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,31}$"
     },
     "received_at": {
      "type": "string",
      "format": "date-time"
     },
     "replaced": {
      "type": "boolean"
     }
    }
   },
   "network.account-deletion-confirmation.v1": {
    "title": "NetworkAccountDeletionConfirmation",
    "description": "network.account-deletion-confirmation@1 (OpenVibe.Network; roadmap WS-B task 7, ADR-033): one service confirms it erased a deleted account's rows, POST /internal/account-deletions/{deletion_id}/confirmations with capability network.account.deletion.confirm (a token speaks only for its own service). Counts only: what it erased and what it keeps (money and ledger rows pseudonymised, media under a retention hold, tombstones that keep others' replies in place). A repeat confirmation replaces the first.",
    "type": "object",
    "required": [
     "subject",
     "completed_at",
     "erased"
    ],
    "additionalProperties": false,
    "properties": {
     "subject": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Must be the deletion's subject."
     },
     "completed_at": {
      "type": "string",
      "format": "date-time"
     },
     "erased": {
      "type": "object",
      "maxProperties": 64,
      "additionalProperties": {
       "type": "integer",
       "minimum": 0
      },
      "description": "Rows erased, by kind (messages, follows, pastes, …)."
     },
     "retained": {
      "type": "object",
      "maxProperties": 64,
      "additionalProperties": {
       "type": "integer",
       "minimum": 0
      },
      "description": "Rows kept, by kind, each pseudonymised or held (ledger, held_media, tombstones, …)."
     }
    }
   },
   "network.account-export-part.v1": {
    "title": "NetworkAccountExportPart",
    "description": "network.account-export-part@1 (OpenVibe.Network; roadmap WS-B task 7, ADR-033): one service's part of a person's data export, POST /internal/account-exports/{export_id}/parts with capability network.account.export.contribute (a token speaks only for its own service). Files are JSON documents of the subject's own rows (never another person's data), at most 20 MB in all; each lands in the archive as <service>/<name>. A second part from the same service replaces the first.",
    "type": "object",
    "required": [
     "subject",
     "files"
    ],
    "additionalProperties": false,
    "properties": {
     "subject": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Must be the export's subject."
     },
     "files": {
      "type": "array",
      "maxItems": 64,
      "items": {
       "type": "object",
       "additionalProperties": false,
       "required": [
        "name",
        "content"
       ],
       "properties": {
        "name": {
         "type": "string",
         "pattern": "^[a-z0-9][a-z0-9_.-]{0,62}\\.json$",
         "description": "A flat file name ending in .json."
        },
        "content": {
         "description": "Any JSON value: the rows, as the service describes them."
        }
       }
      }
     },
     "truncated": {
      "type": "array",
      "maxItems": 64,
      "items": {
       "type": "string",
       "maxLength": 64
      },
      "description": "Files cut at the service's own row limit, named so the README says so."
     },
     "note": {
      "type": "string",
      "maxLength": 500,
      "description": "A line for the README, such as where media files are downloaded."
     }
    }
   },
   "network.avatar-write-request.v1": {
    "title": "NetworkAvatarWriteRequest",
    "description": "network.avatar-write-request@1: the body of POST /internal/user-avatar on OpenVibe.Network (capability network.avatar.write, held by the site a person picked the avatar on; Live posts here through its notify helper). Adopts the picture as the account's avatar and fans it out to the other sites. Only an openvibe.media address is accepted, so an avatar can never be a tracking pixel or a third-party file. Refusals are { error }: 400 without a user_id, 404 for an unknown user, 422 for anything but an openvibe.media address, 503 while the avatar service is down.",
    "type": "object",
    "required": [
     "user_id",
     "avatar_url"
    ],
    "properties": {
     "user_id": {
      "type": "integer",
      "minimum": 1,
      "description": "The Network (SSO) user id."
     },
     "avatar_url": {
      "type": [
       "string",
       "null"
      ],
      "description": "An https://openvibe.media/… picture; null clears the avatar.",
      "pattern": "^https://openvibe\\.media/",
      "maxLength": 500
     },
     "origin": {
      "type": "string",
      "maxLength": 40,
      "description": "Who asked ('live', 'network'); kept in the audit row and used to avoid echoing a push back."
     }
    }
   },
   "network.avatar-write-result.v1": {
    "title": "NetworkAvatarWriteResult",
    "description": "network.avatar-write-result@1: the answer of POST /internal/user-avatar on OpenVibe.Network: { ok: true, changed } — changed is false when the account already had this picture (nothing was written, and nothing is fanned out to the sites). Refusals are { error } (400, 404, 422, 503).",
    "type": "object",
    "required": [
     "ok",
     "changed"
    ],
    "additionalProperties": false,
    "properties": {
     "ok": {
      "const": true
     },
     "changed": {
      "type": "boolean"
     }
    }
   },
   "network.blocks-result.v1": {
    "title": "NetworkBlocksResult",
    "description": "network.blocks-result@1: the answer of network.blocks.read on OpenVibe.Network. GET /internal/blocks?subject=usr_… (a service token holding network.blocks.read; the shared internal key is refused) → { subject, blocks, blocked_by }: the people the subject has blocked and the people who have blocked the subject, as usr_ subjects in subject order, active blocks only (a person may hold at most 5000). Answered with Cache-Control: no-store. A subject that is not a usr_ id is refused with 400 blocks.bad_subject (problem+json).",
    "type": "object",
    "required": [
     "subject",
     "blocks",
     "blocked_by"
    ],
    "properties": {
     "subject": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The person asked about."
     },
     "blocks": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      },
      "description": "Whom the subject blocked."
     },
     "blocked_by": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      },
      "description": "Who blocked the subject."
     }
    }
   },
   "network.coins-balance-result.v1": {
    "title": "NetworkCoinsBalanceResult",
    "description": "network.coins-balance-result@1: the answer of network.coins.credit and network.coins.debit on OpenVibe.Network. POST /internal/coins/credit and POST /internal/coins/debit → { balance }: the wallet's OpenCoins right after this mutation (a replayed idempotency_key answers the balance right after the original one). Refusals are listed on network.coins-change-request@1.",
    "type": "object",
    "required": [
     "balance"
    ],
    "properties": {
     "balance": {
      "type": "integer",
      "minimum": 0
     }
    }
   },
   "network.coins-change-request.v1": {
    "title": "NetworkCoinsChangeRequest",
    "description": "network.coins-change-request@1: bodies of network.coins.credit and network.coins.debit on OpenVibe.Network (OpenCoins: loyalty, never money). POST /internal/coins/credit and POST /internal/coins/debit: { user_id, app_id?, amount, reason?, ref?, idempotency_key }. user_id is the Network user id (the integer, never a subject). Refusals are { error } bodies: 400 invalid_user_id, invalid_amount or missing_idempotency_key; 404 user_not_found; a debit larger than the balance is 409 { error: insufficient_funds, balance }. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "user_id",
     "amount",
     "idempotency_key"
    ],
    "properties": {
     "user_id": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "description": "The Network user id whose wallet changes."
     },
     "app_id": {
      "type": "string",
      "description": "The app the coins move for. A service token may only name its own (svc:live → live); anything else is 403 capability.owner_denied. The shared internal key may name any."
     },
     "amount": {
      "type": "integer",
      "minimum": 1,
      "description": "OpenCoins, a positive whole number (a string is refused: 400 invalid_amount)."
     },
     "reason": {
      "type": [
       "string",
       "null"
      ],
      "description": "Why, kept on the ledger row."
     },
     "ref": {
      "type": [
       "string",
       "null"
      ],
      "description": "The caller's reference for the row (an order, a game, …)."
     },
     "idempotency_key": {
      "type": "string",
      "minLength": 1,
      "description": "Unique per mutation. A replay returns the first answer and changes nothing (400 missing_idempotency_key without it)."
     }
    }
   },
   "network.coins-read-result.v1": {
    "title": "NetworkCoinsReadResult",
    "description": "network.coins-read-result@1: the answer of GET /internal/coins/stats on OpenVibe.Network (capability network.coins.read): site-wide OpenCoins totals for public stat displays — earned, spent, circulating and holders, the transaction count, and two rolling seven-day windows (recent.<metric>.w is this week, .pw the seven days before it) so a display can say whether the economy is speeding up. Counts only, never a named person's balance. The answer is held for a minute; a failure is { error }.",
    "type": "object",
    "required": [
     "earned",
     "spent",
     "circulating",
     "holders",
     "transactions",
     "recent"
    ],
    "additionalProperties": false,
    "properties": {
     "earned": {
      "type": "integer",
      "minimum": 0
     },
     "spent": {
      "type": "integer",
      "minimum": 0
     },
     "circulating": {
      "type": "integer",
      "minimum": 0
     },
     "holders": {
      "type": "integer",
      "minimum": 0
     },
     "transactions": {
      "type": "integer",
      "minimum": 0
     },
     "recent": {
      "type": "object",
      "required": [
       "earned",
       "spent",
       "holders"
      ],
      "additionalProperties": false,
      "properties": {
       "earned": {
        "$ref": "#/components/schemas/network.coins-read-result.v1/$defs/window"
       },
       "spent": {
        "$ref": "#/components/schemas/network.coins-read-result.v1/$defs/window"
       },
       "holders": {
        "$ref": "#/components/schemas/network.coins-read-result.v1/$defs/window"
       }
      }
     }
    },
    "$defs": {
     "window": {
      "type": "object",
      "required": [
       "w",
       "pw"
      ],
      "additionalProperties": false,
      "properties": {
       "w": {
        "type": "integer",
        "minimum": 0
       },
       "pw": {
        "type": "integer",
        "minimum": 0
       }
      }
     }
    }
   },
   "network.coins-transfer-request.v1": {
    "title": "NetworkCoinsTransferRequest",
    "description": "network.coins-transfer-request@1: the body of network.coins.transfer on OpenVibe.Network. POST /internal/coins/transfer: { from_user_id, to_user_id, app_id?, amount, reason?, ref?, idempotency_key } moves OpenCoins between two Network users atomically (the two ids are Network user ids and must differ). Refusals are { error } bodies: 400 invalid_from_user_id, invalid_to_user_id, invalid_transfer (the same person), invalid_amount or missing_idempotency_key; 404 user_not_found; 409 { error: insufficient_funds, balance } when the sender cannot cover it. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "from_user_id",
     "to_user_id",
     "amount",
     "idempotency_key"
    ],
    "properties": {
     "from_user_id": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "description": "The Network user id that pays."
     },
     "to_user_id": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "description": "The Network user id that receives."
     },
     "app_id": {
      "type": "string",
      "description": "The app the coins move for. A service token may only name its own (svc:live → live); anything else is 403 capability.owner_denied. The shared internal key may name any."
     },
     "amount": {
      "type": "integer",
      "minimum": 1,
      "description": "OpenCoins, a positive whole number (a string is refused: 400 invalid_amount)."
     },
     "reason": {
      "type": [
       "string",
       "null"
      ],
      "description": "Why, kept on the ledger row."
     },
     "ref": {
      "type": [
       "string",
       "null"
      ],
      "description": "The caller's reference for the row (an order, a game, …)."
     },
     "idempotency_key": {
      "type": "string",
      "minLength": 1,
      "description": "Unique per mutation. A replay returns the first answer and changes nothing (400 missing_idempotency_key without it)."
     }
    }
   },
   "network.coins-transfer-result.v1": {
    "title": "NetworkCoinsTransferResult",
    "description": "network.coins-transfer-result@1: the answer of network.coins.transfer on OpenVibe.Network. POST /internal/coins/transfer → { from_balance, to_balance }: both wallets right after the transfer (a replayed idempotency_key answers the balances of the original transfer). Refusals are listed on network.coins-transfer-request@1.",
    "type": "object",
    "required": [
     "from_balance",
     "to_balance"
    ],
    "properties": {
     "from_balance": {
      "type": "integer",
      "minimum": 0
     },
     "to_balance": {
      "type": "integer",
      "minimum": 0
     }
    }
   },
   "network.creator-analytics-result.v1": {
    "title": "NetworkCreatorAnalyticsResult",
    "description": "network.creator-analytics-result@1 (roadmap WS-E task 6): GET /api/v1/creators/:creator/analytics?days=1-365 on OpenVibe.Network. A creator's streaming analytics, built from live.stream.ended events: per UTC day and per stream, counts only (never who watched or chatted, no IP address or viewer id). Everyone sees streams, minutes and peak viewers; the creator (signed in) and services holding network.analytics.creator.read also get average viewers, chatters, messages and watch minutes (`full: true`).",
    "type": "object",
    "required": [
     "creator",
     "days",
     "full",
     "totals",
     "daily",
     "streams"
    ],
    "additionalProperties": false,
    "properties": {
     "creator": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "days": {
      "type": "integer",
      "minimum": 1,
      "maximum": 365
     },
     "full": {
      "type": "boolean"
     },
     "totals": {
      "$ref": "#/components/schemas/network.creator-analytics-result.v1/$defs/counts"
     },
     "daily": {
      "type": "array",
      "maxItems": 365,
      "items": {
       "allOf": [
        {
         "$ref": "#/components/schemas/network.creator-analytics-result.v1/$defs/counts"
        }
       ],
       "type": "object",
       "required": [
        "day"
       ],
       "properties": {
        "day": {
         "type": "string",
         "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
        }
       }
      }
     },
     "streams": {
      "type": "array",
      "maxItems": 100,
      "items": {
       "type": "object",
       "required": [
        "stream_id",
        "started_at",
        "ended_at",
        "duration_seconds"
       ],
       "additionalProperties": false,
       "properties": {
        "stream_id": {
         "type": "integer",
         "minimum": 1
        },
        "title": {
         "type": [
          "string",
          "null"
         ],
         "maxLength": 300
        },
        "category": {
         "type": [
          "string",
          "null"
         ],
         "maxLength": 100
        },
        "started_at": {
         "type": "string",
         "format": "date-time"
        },
        "ended_at": {
         "type": "string",
         "format": "date-time"
        },
        "duration_seconds": {
         "type": "integer",
         "minimum": 0
        },
        "peak_viewers": {
         "type": "integer",
         "minimum": 0
        },
        "avg_viewers": {
         "type": "number",
         "minimum": 0
        },
        "unique_chatters": {
         "type": "integer",
         "minimum": 0
        },
        "messages": {
         "type": "integer",
         "minimum": 0
        },
        "watch_minutes": {
         "type": "integer",
         "minimum": 0
        }
       }
      }
     }
    },
    "$defs": {
     "counts": {
      "type": "object",
      "properties": {
       "streams": {
        "type": "integer",
        "minimum": 0
       },
       "stream_seconds": {
        "type": "integer",
        "minimum": 0
       },
       "peak_viewers": {
        "type": "integer",
        "minimum": 0
       },
       "avg_viewers": {
        "type": "number",
        "minimum": 0
       },
       "unique_chatters": {
        "type": "integer",
        "minimum": 0
       },
       "messages": {
        "type": "integer",
        "minimum": 0
       },
       "watch_minutes": {
        "type": "integer",
        "minimum": 0
       }
      }
     }
    }
   },
   "network.follow-list-result.v1": {
    "title": "NetworkFollowListResult",
    "description": "network.follow-list-result@1 (ADR-030): a page of follows on OpenVibe.Network, newest first. GET /api/v1/me/follows (what the caller follows), GET /api/v1/follows/:type/:target/followers (who follows a target: the target's owner, or a service with network.follows.read). Lists are never public; counts are.",
    "type": "object",
    "required": [
     "items",
     "next_cursor"
    ],
    "additionalProperties": false,
    "properties": {
     "items": {
      "type": "array",
      "maxItems": 500,
      "items": {
       "type": "object",
       "required": [
        "follower",
        "target_type",
        "target_id",
        "created_at"
       ],
       "additionalProperties": false,
       "properties": {
        "follower": {
         "type": "string",
         "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "target_type": {
         "enum": [
          "channel"
         ]
        },
        "target_id": {
         "type": "string",
         "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "notify_email": {
         "type": "boolean"
        },
        "notify_push": {
         "type": "boolean"
        },
        "created_at": {
         "type": "string",
         "format": "date-time"
        }
       }
      }
     },
     "next_cursor": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 200
     }
    }
   },
   "network.follow-status-result.v1": {
    "title": "NetworkFollowStatusResult",
    "description": "network.follow-status-result@1 (ADR-030): GET /api/v1/follows/:type/:target on OpenVibe.Network: the public follower count of a target, and, for a signed-in caller, whether they follow it and how they are notified. PUT and DELETE /api/v1/me/follows/:type/:target answer the same document after the change (idempotent: repeating either changes nothing).",
    "type": "object",
    "required": [
     "target_type",
     "target_id",
     "followers"
    ],
    "additionalProperties": false,
    "properties": {
     "target_type": {
      "enum": [
       "channel"
      ]
     },
     "target_id": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "followers": {
      "type": "integer",
      "minimum": 0
     },
     "following": {
      "type": "boolean",
      "description": "Present for a signed-in caller."
     },
     "notify_email": {
      "type": "boolean"
     },
     "notify_push": {
      "type": "boolean"
     },
     "since": {
      "type": "string",
      "format": "date-time",
      "description": "When the caller started following."
     }
    }
   },
   "network.follow-write-request.v1": {
    "title": "NetworkFollowWriteRequest",
    "description": "network.follow-write-request@1 (ADR-030 step 4; capability network.follows.write): a first-party product records a follow or unfollow on a person's behalf, where they pressed the button. PUT /internal/follows/:type/:target { follower, notify_email?, notify_push? } follows (idempotent; flags change a follow). DELETE /internal/follows/:type/:target?follower=usr_… unfollows (idempotent). Answers network.follow-status-result@1 for the follower. Network emits network.follow.* as for a person's own change.",
    "type": "object",
    "required": [
     "follower"
    ],
    "additionalProperties": false,
    "properties": {
     "follower": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "notify_email": {
      "type": "boolean"
     },
     "notify_push": {
      "type": "boolean"
     }
    }
   },
   "network.github-token-result.v1": {
    "title": "NetworkGithubTokenResult",
    "description": "network.github-token-result@1: the answer of network.integration.github.read on OpenVibe.Network. GET /internal/integrations/github-token (a service token holding the capability; the shared internal key is refused) → { token, source }: the network's read-only GitHub API token and where it is set (GITHUB_TOKEN in the environment, or the value the owner saved in admin). Answered with Cache-Control: no-store; 404 { error: not_configured, detail } when no token is set.",
    "type": "object",
    "required": [
     "token",
     "source"
    ],
    "properties": {
     "token": {
      "type": "string",
      "minLength": 1,
      "description": "A GitHub token (ghp_…, github_pat_…). A secret: never log or show it."
     },
     "source": {
      "enum": [
       "env",
       "database",
       "unset"
      ],
      "description": "env: GITHUB_TOKEN; database: saved in admin (Settings → GitHub)."
     }
    }
   },
   "network.mod-install-request.v1": {
    "title": "NetworkModInstallRequest",
    "description": "network.mod-install-request@1 (OpenVibe.Network; roadmap WS-M task 3, ADR-013): a runtime (OpenVibe.Games) registers an install's mod principal, POST /internal/mods with capability mods.grant.manage. The manifest (mods.mod-manifest@1) names the requested capabilities; `approve` is the subset staff approved at install, and the rest stays pending. The runtime that registers a mod is its owner: only it (or Network staff) changes its grants. Registering the same mod again answers the existing principal.",
    "type": "object",
    "required": [
     "manifest"
    ],
    "additionalProperties": false,
    "properties": {
     "manifest": {
      "type": "object",
      "description": "The mod's manifest, mods.mod-manifest@1."
     },
     "approve": {
      "type": "array",
      "maxItems": 64,
      "uniqueItems": true,
      "items": {
       "type": "string",
       "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+){2,}$"
      },
      "description": "Approved at install; each must be requested by the manifest."
     },
     "actor": {
      "type": "string",
      "maxLength": 80,
      "description": "Who installed it at the runtime (a subject or 'games'), for the audit row."
     }
    }
   },
   "network.mod-principal.v1": {
    "title": "NetworkModPrincipal",
    "description": "network.mod-principal@1 (OpenVibe.Network; roadmap WS-M task 3, ADR-013): a mod install's principal, `mod:<mod_id>`. Its grants are the approved subset of the capabilities its manifest requests; the rest are pending (never approved) or revoked. A revoked principal (the install ended) has no approved grants and never gets any again. The owning runtime keeps a copy of `approved` for its hot path and follows network.mod.grants_changed.",
    "type": "object",
    "required": [
     "principal",
     "mod_id",
[...]
