{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Network API",
  "version": "0.62.0",
  "description": "Routes of OpenVibe.Network as the OpenVibe contracts describe them (openvibe-contracts 0.62.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.network"
  }
 ],
 "paths": {
  "/api/v1/staff/moderators": {
   "get": {
    "operationId": "get_api_v1_staff_moderators",
    "summary": "List the network's staff (global moderators, admins and the owner) with their roles and staff capabilities from the staff map, as an owning service: to show who moderates, or to route a report.",
    "description": "**network.staff.read** (first-party): List the network's staff (global moderators, admins and the owner) with their roles and staff capabilities from the staff map, as an owning service: to show who moderates, or to route a report. Never grantable to apps.",
    "tags": [
     "network.staff"
    ],
    "x-openvibe-capabilities": [
     "network.staff.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "staff-read",
    "security": [
     {
      "openvibeToken": [
       "network.staff.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.staff-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/blocks?subject=usr_…": {
   "get": {
    "operationId": "get_internal_blocks_subject_usr",
    "summary": "Read who a person has blocked and who has blocked them (subjects only), as an owning service honouring platform blocks: Chat for DMs and mentions, Community for replies, notification senders.",
    "description": "**network.blocks.read** (first-party): Read who a person has blocked and who has blocked them (subjects only), as an owning service honouring platform blocks: Chat for DMs and mentions, Community for replies, notification senders. Never grantable to apps.",
    "tags": [
     "network.blocks"
    ],
    "x-openvibe-capabilities": [
     "network.blocks.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "blocks-read",
    "security": [
     {
      "openvibeToken": [
       "network.blocks.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.blocks-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/coins/credit": {
   "post": {
    "operationId": "post_internal_coins_credit",
    "summary": "Credit OpenCoins (loyalty, never money) to a Network user.",
    "description": "**network.coins.credit** (internal): Credit OpenCoins (loyalty, never money) to a Network user. Idempotent by idempotency_key. A token may only act for its own app_id.",
    "tags": [
     "network.coins"
    ],
    "x-openvibe-capabilities": [
     "network.coins.credit"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "network.coins.credit"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.coins-change-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.coins-balance-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/coins/debit": {
   "post": {
    "operationId": "post_internal_coins_debit",
    "summary": "Debit OpenCoins; 409 insufficient_funds.",
    "description": "**network.coins.debit** (internal): Debit OpenCoins; 409 insufficient_funds. A token may only act for its own app_id.",
    "tags": [
     "network.coins"
    ],
    "x-openvibe-capabilities": [
     "network.coins.debit"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "network.coins.debit"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.coins-change-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.coins-balance-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/coins/transfer": {
   "post": {
    "operationId": "post_internal_coins_transfer",
    "summary": "Atomically move OpenCoins between two Network users.",
    "description": "**network.coins.transfer** (internal): Atomically move OpenCoins between two Network users. A token may only act for its own app_id.",
    "tags": [
     "network.coins"
    ],
    "x-openvibe-capabilities": [
     "network.coins.transfer"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "ledger-write",
    "security": [
     {
      "openvibeToken": [
       "network.coins.transfer"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.coins-transfer-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.coins-transfer-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/identity/resolve": {
   "get": {
    "operationId": "get_internal_identity_resolve",
    "summary": "Resolve a subject (or a legacy service-local id) to its canonical SubjectRef and display projection.",
    "description": "**identity.subject.resolve** (first-party): Resolve a subject (or a legacy service-local id) to its canonical SubjectRef and display projection.",
    "tags": [
     "identity.subject"
    ],
    "x-openvibe-capabilities": [
     "identity.subject.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "identity-read",
    "security": [
     {
      "openvibeToken": [
       "identity.subject.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/identity.resolve-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/identity.resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/identity/resolve-batch": {
   "post": {
    "operationId": "post_internal_identity_resolve_batch",
    "summary": "Resolve a subject (or a legacy service-local id) to its canonical SubjectRef and display projection.",
    "description": "**identity.subject.resolve** (first-party): Resolve a subject (or a legacy service-local id) to its canonical SubjectRef and display projection.",
    "tags": [
     "identity.subject"
    ],
    "x-openvibe-capabilities": [
     "identity.subject.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "identity-read",
    "security": [
     {
      "openvibeToken": [
       "identity.subject.resolve"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/identity.resolve-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/identity.resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/integrations/github-token": {
   "get": {
    "operationId": "get_internal_integrations_github_token",
    "summary": "Read the network's GitHub API token (read-only, public repositories), which the owner sets in Network's admin panel or in GITHUB_TOKEN.",
    "description": "**network.integration.github.read** (first-party): Read the network's GitHub API token (read-only, public repositories), which the owner sets in Network's admin panel or in GITHUB_TOKEN. Used by OpenVibe.Blog's network changelog so its GitHub calls do not share the host's anonymous rate limit. Never granted to apps or mods.",
    "tags": [
     "network.integration"
    ],
    "x-openvibe-capabilities": [
     "network.integration.github.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "integration-secret",
    "security": [
     {
      "openvibeToken": [
       "network.integration.github.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.github-token-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/modules/{namespace}/{subject}": {
   "get": {
    "operationId": "get_internal_modules_namespace_subject",
    "summary": "Read a subject's user-module record in a granted namespace.",
    "description": "**network.modules.read** (first-party): Read a subject's user-module record in a granted namespace.",
    "tags": [
     "network.modules"
    ],
    "x-openvibe-capabilities": [
     "network.modules.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "modules-read",
    "security": [
     {
      "openvibeToken": [
       "network.modules.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "namespace",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/modules.module-record.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_internal_modules_namespace_subject",
    "summary": "Write a subject's record in a namespace the service owns (If-Match revision).",
    "description": "**network.modules.write** (first-party): Write a subject's record in a namespace the service owns (If-Match revision).",
    "tags": [
     "network.modules"
    ],
    "x-openvibe-capabilities": [
     "network.modules.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "modules-write",
    "security": [
     {
      "openvibeToken": [
       "network.modules.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.module-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "namespace",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/modules.module-record.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/notifications/*": {
   "post": {
    "operationId": "post_internal_notifications",
    "summary": "Create a notification for Network users (ids already translated).",
    "description": "**network.notifications.push** (internal): Create a notification for Network users (ids already translated).",
    "tags": [
     "network.notifications"
    ],
    "x-openvibe-capabilities": [
     "network.notifications.push"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "notify",
    "security": [
     {
      "openvibeToken": [
       "network.notifications.push"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.notification-push-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.notification-push-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/internal/operator/alerts": {
   "post": {
    "operationId": "post_internal_operator_alerts",
    "summary": "Report the complete set of alerts firing on the production host, so Network pages the operator (the owner account) when an alert opens, once a day while it stays open, and when it resolves.",
    "description": "**network.operator.alert** (internal): Report the complete set of alerts firing on the production host, so Network pages the operator (the owner account) when an alert opens, once a day while it stays open, and when it resolves.",
    "tags": [
     "network.operator"
    ],
    "x-openvibe-capabilities": [
     "network.operator.alert"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "notify",
    "security": [
     {
      "openvibeToken": [
       "network.operator.alert"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/network.operator-alerts-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/network.operator-alerts-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.resolve-request.v1": {
    "title": "IdentityResolveRequest",
    "description": "identity.resolve-request@1: the request of identity.subject.resolve on OpenVibe.Network. GET /internal/identity/resolve?subject_id= or ?system=&id=[&type=user] takes no body. POST /internal/identity/resolve-batch: { subject_ids } or { system, type?, ids } (at most 500; 413 beyond).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "subject_ids"
      ],
      "properties": {
       "subject_ids": {
        "type": "array",
        "minItems": 1,
        "maxItems": 500,
        "items": {
         "type": "string"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "system",
       "ids"
      ],
      "properties": {
       "system": {
        "type": "string",
        "minLength": 1
       },
       "type": {
        "type": "string",
        "default": "user"
       },
       "ids": {
        "type": "array",
        "minItems": 1,
        "maxItems": 500,
        "items": {
         "type": [
          "string",
          "integer"
         ]
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "identity.resolve-result.v1": {
    "title": "IdentityResolveResult",
    "description": "identity.resolve-result@1: answers of identity.subject.resolve on OpenVibe.Network. GET /internal/identity/resolve → one identity.subject-projection@1 (404 identity.subject_not_found when nothing matches); POST /internal/identity/resolve-batch → { results } keyed by each id asked, null for an id that resolves to nothing.",
    "anyOf": [
     {
      "$ref": "#/components/schemas/identity.subject-projection.v1"
     },
     {
      "type": "object",
      "required": [
       "results"
      ],
      "properties": {
       "results": {
        "type": "object",
        "additionalProperties": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/identity.subject-projection.v1"
          },
          {
           "type": "null"
          }
         ]
        }
       }
      }
     }
    ]
   },
   "identity.subject-projection.v1": {
    "title": "IdentitySubjectProjection",
    "description": "identity.subject-projection@1: what OpenVibe.Network's identity resolver answers about a subject (server/identity/subjects.js resolve): the SubjectRef, the Network account behind it, its display fields, whether it is banned, and every legacy id mapped to it.",
    "type": "object",
    "required": [
     "subject",
     "username",
     "display_name",
     "avatar_url",
     "banned"
    ],
    "properties": {
     "subject": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "network_user_id": {
      "type": "integer"
     },
     "network_anon_id": {
      "type": "integer"
     },
     "username": {
      "type": "string"
     },
     "display_name": {
      "type": "string"
     },
     "avatar_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "banned": {
      "type": "boolean"
     },
     "legacy_ids": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "source_system",
        "source_type",
        "source_id"
       ],
       "properties": {
        "source_system": {
         "type": "string"
        },
        "source_type": {
         "type": "string"
        },
        "source_id": {
         "type": "string"
        }
       }
      }
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     }
    ]
   },
   "modules.module-record.v1": {
    "title": "ModuleRecord",
    "description": "One subject's value in one namespace, as returned by Network. revision increases by one on every write; a write names the revision it read (If-Match) and fails with 412 if it moved.",
    "type": "object",
    "required": [
     "subject",
     "namespace",
     "version",
     "revision",
     "data",
     "updated_at"
    ],
    "additionalProperties": false,
    "properties": {
     "subject": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "namespace": {
      "type": "string"
     },
     "version": {
      "type": "integer",
      "minimum": 1
     },
     "revision": {
      "type": "integer",
      "minimum": 0
     },
     "data": {
      "type": "object"
     },
     "updated_at": {
      "type": "string"
     },
     "updated_by": {
      "type": "string",
      "description": "user:<subject> or svc:<service>"
     }
    }
   },
   "network.blocks-result.v1": {
    "title": "NetworkBlocksResult",
    "description": "network.blocks-result@1: the answer of network.blocks.read on OpenVibe.Network. GET /internal/blocks?subject=usr_… (a service token holding network.blocks.read; the shared internal key is refused) → { subject, blocks, blocked_by }: the people the subject has blocked and the people who have blocked the subject, as usr_ subjects in subject order, active blocks only (a person may hold at most 5000). Answered with Cache-Control: no-store. A subject that is not a usr_ id is refused with 400 blocks.bad_subject (problem+json).",
    "type": "object",
    "required": [
     "subject",
     "blocks",
     "blocked_by"
    ],
    "properties": {
     "subject": {
      "type": "string",
      "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The person asked about."
     },
     "blocks": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      },
      "description": "Whom the subject blocked."
     },
     "blocked_by": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
      },
      "description": "Who blocked the subject."
     }
    }
   },
   "network.coins-balance-result.v1": {
    "title": "NetworkCoinsBalanceResult",
    "description": "network.coins-balance-result@1: the answer of network.coins.credit and network.coins.debit on OpenVibe.Network. POST /internal/coins/credit and POST /internal/coins/debit → { balance }: the wallet's OpenCoins right after this mutation (a replayed idempotency_key answers the balance right after the original one). Refusals are listed on network.coins-change-request@1.",
    "type": "object",
    "required": [
     "balance"
    ],
    "properties": {
     "balance": {
      "type": "integer",
      "minimum": 0
     }
    }
   },
   "network.coins-change-request.v1": {
    "title": "NetworkCoinsChangeRequest",
    "description": "network.coins-change-request@1: bodies of network.coins.credit and network.coins.debit on OpenVibe.Network (OpenCoins: loyalty, never money). POST /internal/coins/credit and POST /internal/coins/debit: { user_id, app_id?, amount, reason?, ref?, idempotency_key }. user_id is the Network user id (the integer, never a subject). Refusals are { error } bodies: 400 invalid_user_id, invalid_amount or missing_idempotency_key; 404 user_not_found; a debit larger than the balance is 409 { error: insufficient_funds, balance }. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "user_id",
     "amount",
     "idempotency_key"
    ],
    "properties": {
     "user_id": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "description": "The Network user id whose wallet changes."
     },
     "app_id": {
      "type": "string",
      "description": "The app the coins move for. A service token may only name its own (svc:live → live); anything else is 403 capability.owner_denied. The shared internal key may name any."
     },
     "amount": {
      "type": "integer",
      "minimum": 1,
      "description": "OpenCoins, a positive whole number (a string is refused: 400 invalid_amount)."
     },
     "reason": {
      "type": [
       "string",
       "null"
      ],
      "description": "Why, kept on the ledger row."
     },
     "ref": {
      "type": [
       "string",
       "null"
      ],
      "description": "The caller's reference for the row (an order, a game, …)."
     },
     "idempotency_key": {
      "type": "string",
      "minLength": 1,
      "description": "Unique per mutation. A replay returns the first answer and changes nothing (400 missing_idempotency_key without it)."
     }
    }
   },
   "network.coins-transfer-request.v1": {
    "title": "NetworkCoinsTransferRequest",
    "description": "network.coins-transfer-request@1: the body of network.coins.transfer on OpenVibe.Network. POST /internal/coins/transfer: { from_user_id, to_user_id, app_id?, amount, reason?, ref?, idempotency_key } moves OpenCoins between two Network users atomically (the two ids are Network user ids and must differ). Refusals are { error } bodies: 400 invalid_from_user_id, invalid_to_user_id, invalid_transfer (the same person), invalid_amount or missing_idempotency_key; 404 user_not_found; 409 { error: insufficient_funds, balance } when the sender cannot cover it. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "from_user_id",
     "to_user_id",
     "amount",
     "idempotency_key"
    ],
    "properties": {
     "from_user_id": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "description": "The Network user id that pays."
     },
     "to_user_id": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "description": "The Network user id that receives."
     },
     "app_id": {
      "type": "string",
      "description": "The app the coins move for. A service token may only name its own (svc:live → live); anything else is 403 capability.owner_denied. The shared internal key may name any."
     },
     "amount": {
      "type": "integer",
      "minimum": 1,
      "description": "OpenCoins, a positive whole number (a string is refused: 400 invalid_amount)."
     },
     "reason": {
      "type": [
       "string",
       "null"
      ],
      "description": "Why, kept on the ledger row."
     },
     "ref": {
      "type": [
       "string",
       "null"
      ],
      "description": "The caller's reference for the row (an order, a game, …)."
     },
     "idempotency_key": {
      "type": "string",
      "minLength": 1,
      "description": "Unique per mutation. A replay returns the first answer and changes nothing (400 missing_idempotency_key without it)."
     }
    }
   },
   "network.coins-transfer-result.v1": {
    "title": "NetworkCoinsTransferResult",
    "description": "network.coins-transfer-result@1: the answer of network.coins.transfer on OpenVibe.Network. POST /internal/coins/transfer → { from_balance, to_balance }: both wallets right after the transfer (a replayed idempotency_key answers the balances of the original transfer). Refusals are listed on network.coins-transfer-request@1.",
    "type": "object",
    "required": [
     "from_balance",
     "to_balance"
    ],
    "properties": {
     "from_balance": {
      "type": "integer",
      "minimum": 0
     },
     "to_balance": {
      "type": "integer",
      "minimum": 0
     }
    }
   },
   "network.github-token-result.v1": {
    "title": "NetworkGithubTokenResult",
    "description": "network.github-token-result@1: the answer of network.integration.github.read on OpenVibe.Network. GET /internal/integrations/github-token (a service token holding the capability; the shared internal key is refused) → { token, source }: the network's read-only GitHub API token and where it is set (GITHUB_TOKEN in the environment, or the value the owner saved in admin). Answered with Cache-Control: no-store; 404 { error: not_configured, detail } when no token is set.",
    "type": "object",
    "required": [
     "token",
     "source"
    ],
    "properties": {
     "token": {
      "type": "string",
      "minLength": 1,
      "description": "A GitHub token (ghp_…, github_pat_…). A secret: never log or show it."
     },
     "source": {
      "enum": [
       "env",
       "database",
       "unset"
      ],
      "description": "env: GITHUB_TOKEN; database: saved in admin (Settings → GitHub)."
     }
    }
   },
   "network.module-write-request.v1": {
    "title": "NetworkModuleWriteRequest",
    "description": "network.module-write-request@1: the request of network.modules.write on OpenVibe.Network. PUT /internal/modules/:namespace/:subject: { data } — the record's new value, validated against the namespace's schema; If-Match names the revision read (412 if it moved). DELETE /internal/modules/:namespace/:subject (204) takes no body. The answer to PUT is modules.module-record@1.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "data"
      ],
      "properties": {
       "data": {
        "type": "object"
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "network.notification-push-request.v1": {
    "title": "NetworkNotificationPushRequest",
    "description": "network.notification-push-request@1: bodies of network.notifications.push on OpenVibe.Network (a service token holding the capability, or the internal key). POST /internal/notifications/push: { user_id, type?, title?, message?, … } creates one notification (400 { error: user_id required } without user_id). POST /internal/notifications/push-bulk: { user_ids, …same fields } creates it for each recipient (400 without a non-empty user_ids, or with more than 1000). Recipients are Network user ids. Unknown fields are ignored; 503 when the notification service is not running. The other /internal/notifications/* routes (unread, mark-read, resolve-users) take the internal key only and are not part of this capability.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "user_id"
      ],
      "properties": {
       "user_id": {
        "type": [
         "integer",
         "string"
        ],
        "description": "A Network user id (already translated from the caller's own ids)."
       },
       "type": {
        "type": "string",
        "description": "A notification type from openvibe-shared/notifications (STREAM_LIVE, FOLLOW, MENTION, …); it supplies the default category, priority, icon and title. Stored as GENERIC when absent."
       },
       "title": {
        "type": "string",
        "description": "Default: the type's title, else \"Notification\"."
       },
       "message": {
        "type": [
         "string",
         "null"
        ]
       },
       "icon": {
        "type": "string",
        "description": "Default: the type's icon."
       },
       "sender_id": {
        "type": [
         "integer",
         "string",
         "null"
        ],
        "description": "The actor's Network user id; with no actor_subject, a recipient who blocked this person gets nothing."
       },
       "sender_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "sender_avatar": {
        "type": [
         "string",
         "null"
        ]
       },
       "service": {
        "type": "string",
        "description": "The sending service. A service token may only name its own (svc:live → live); anything else is 403 capability.owner_denied."
       },
       "url": {
        "type": [
         "string",
         "null"
        ],
        "description": "Where the notification leads."
       },
       "priority": {
        "type": "string",
        "description": "low, normal, high or critical (openvibe-shared PRIORITY); default the type's, else normal."
       },
       "category": {
        "type": "string",
        "description": "Default: the type's category, else system. A recipient who switched the category off gets nothing; moderation, system and admin notices are never hidden by a block."
       },
       "rich_content": {
        "description": "Any JSON value, stored and returned as given."
       },
       "expires_at": {
        "type": [
         "string",
         "null"
        ],
        "description": "When it may be deleted (SQLite datetime, UTC)."
       },
       "actor_subject": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^usr_",
        "description": "The actor as a usr_ subject for the block check; null: no known person (no block check)."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "user_ids"
      ],
      "properties": {
       "user_ids": {
        "type": "array",
        "minItems": 1,
        "maxItems": 1000,
        "items": {
         "type": [
          "integer",
          "string"
         ],
         "description": "A Network user id (already translated from the caller's own ids)."
        }
       },
       "type": {
        "type": "string",
        "description": "A notification type from openvibe-shared/notifications (STREAM_LIVE, FOLLOW, MENTION, …); it supplies the default category, priority, icon and title. Stored as GENERIC when absent."
       },
       "title": {
        "type": "string",
        "description": "Default: the type's title, else \"Notification\"."
       },
       "message": {
        "type": [
         "string",
         "null"
        ]
       },
       "icon": {
        "type": "string",
        "description": "Default: the type's icon."
       },
       "sender_id": {
        "type": [
         "integer",
         "string",
         "null"
        ],
        "description": "The actor's Network user id; with no actor_subject, a recipient who blocked this person gets nothing."
       },
       "sender_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "sender_avatar": {
        "type": [
         "string",
         "null"
        ]
       },
       "service": {
        "type": "string",
        "description": "The sending service. A service token may only name its own (svc:live → live); anything else is 403 capability.owner_denied."
       },
       "url": {
        "type": [
         "string",
         "null"
        ],
        "description": "Where the notification leads."
       },
       "priority": {
        "type": "string",
        "description": "low, normal, high or critical (openvibe-shared PRIORITY); default the type's, else normal."
       },
       "category": {
        "type": "string",
        "description": "Default: the type's category, else system. A recipient who switched the category off gets nothing; moderation, system and admin notices are never hidden by a block."
       },
       "rich_content": {
        "description": "Any JSON value, stored and returned as given."
       },
       "expires_at": {
        "type": [
         "string",
         "null"
        ],
        "description": "When it may be deleted (SQLite datetime, UTC)."
       },
       "actor_subject": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^usr_",
        "description": "The actor as a usr_ subject for the block check; null: no known person (no block check)."
       }
      }
     }
    ]
   },
   "network.notification-push-result.v1": {
    "title": "NetworkNotificationPushResult",
    "description": "network.notification-push-result@1: answers of network.notifications.push on OpenVibe.Network. POST /internal/notifications/push → { ok: true, notification } (the stored notification), or { ok: true, skipped: true, reason } when nothing was created (the recipient switched the category off, blocked the actor, or already got a go-live notification from the same streamer within the hour). POST /internal/notifications/push-bulk → { ok: true, sent, total } (sent: notifications created; total: recipients named). Errors are { error } bodies (400, 500; 503 when the notification service is not running).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "ok",
       "notification"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "notification": {
        "type": "object",
        "required": [
         "id",
         "user_id",
         "category",
         "priority",
         "title",
         "icon",
         "is_read",
         "created_at"
        ],
        "properties": {
         "id": {
          "type": "string",
          "format": "uuid"
         },
         "user_id": {
          "type": [
           "integer",
           "string"
          ]
         },
         "type": {
          "type": "string"
         },
         "category": {
          "type": "string"
         },
         "priority": {
          "type": "string"
         },
         "title": {
          "type": "string"
         },
         "message": {
          "type": [
           "string",
           "null"
          ]
         },
         "icon": {
          "type": "string"
         },
         "service": {
          "type": [
           "string",
           "null"
          ]
         },
         "url": {
          "type": [
           "string",
           "null"
          ]
         },
         "rich_content": {
          "description": "As sent."
         },
         "is_read": {
          "const": 0
         },
         "created_at": {
          "type": "string",
          "format": "date-time"
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "skipped",
       "reason"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "skipped": {
        "const": true
       },
       "reason": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "sent",
       "total"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "sent": {
        "type": "integer",
        "minimum": 0
       },
       "total": {
        "type": "integer",
        "minimum": 1
       }
      }
     }
    ]
   },
   "network.operator-alerts-request.v1": {
    "title": "NetworkOperatorAlertsRequest",
    "description": "network.operator-alerts-request@1: POST /internal/operator/alerts on OpenVibe.Network (capability network.operator.alert, held by the Host principal). The complete set of alerts firing now at one source: an alert Network has not seen firing opens and pages the operator; one still firing is reminded once a day; one that was firing and is absent from the set is resolved and says so. An empty list resolves everything from that source. Fingerprints are stable per alert (name and labels), never secrets; summaries and descriptions are the alert rule's annotations.",
    "type": "object",
    "required": [
     "source",
     "alerts"
    ],
    "additionalProperties": false,
    "properties": {
     "source": {
      "enum": [
       "prometheus"
      ],
      "description": "Where the alerts are evaluated. Resolution is per source."
     },
     "sent_at": {
      "type": "string",
      "format": "date-time"
     },
     "alerts": {
      "type": "array",
      "maxItems": 200,
      "items": {
       "type": "object",
       "required": [
        "fingerprint",
        "name",
        "severity",
        "summary",
        "started_at"
       ],
       "additionalProperties": false,
       "properties": {
        "fingerprint": {
         "type": "string",
         "pattern": "^[0-9a-f]{16,64}$"
        },
        "name": {
         "type": "string",
         "pattern": "^[A-Za-z][A-Za-z0-9_:]{0,99}$"
        },
        "severity": {
         "enum": [
          "critical",
          "warning",
          "info"
         ]
        },
        "summary": {
         "type": "string",
         "minLength": 1,
         "maxLength": 300
        },
        "description": {
         "type": "string",
         "maxLength": 1000
        },
        "service": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$"
        },
        "started_at": {
         "type": "string",
         "format": "date-time"
        }
       }
      }
     }
    }
   },
   "network.operator-alerts-result.v1": {
    "title": "NetworkOperatorAlertsResult",
    "description": "network.operator-alerts-result@1: the answer of POST /internal/operator/alerts. firing: alerts firing after this report; opened: newly firing (paged); reminded: still firing and paged again (once a day); resolved: no longer firing (a resolved notice sent); notified: notifications created across all recipients (0 when no operator account is found or they switched admin notices off). Errors are { error } bodies (400 for a body that breaks the request contract).",
    "type": "object",
    "required": [
     "ok",
     "firing",
     "opened",
     "reminded",
     "resolved",
     "notified"
    ],
    "additionalProperties": false,
    "properties": {
     "ok": {
      "const": true
     },
     "firing": {
      "type": "integer",
      "minimum": 0
     },
     "opened": {
      "type": "integer",
      "minimum": 0
     },
     "reminded": {
      "type": "integer",
      "minimum": 0
     },
     "resolved": {
      "type": "integer",
      "minimum": 0
     },
     "notified": {
      "type": "integer",
      "minimum": 0
     }
    }
   },
   "network.staff-list-result.v1": {
    "title": "NetworkStaffListResult",
    "description": "network.staff-list-result@1: the answer of network.staff.read on OpenVibe.Network. GET /api/v1/staff/moderators[?service=chat|live|community|pastes|calls] (a service token holding network.staff.read, or a signed-in person holding staff.moderation.logs) → { service, staff }: the network's global moderators, admins and the owner who are not banned, with the staff capabilities their role holds in the contracts staff map; ?service keeps those holding the capability that moderates that service (another service name keeps those holding staff.content.moderate; an invalid value is ignored and answered as null). Answered with Cache-Control: private, no-store; a person without staff.moderation.logs gets 403 { error: forbidden }.",
    "type": "object",
    "required": [
     "service",
     "staff"
    ],
    "properties": {
     "service": {
      "type": [
       "string",
       "null"
      ],
      "description": "The service filter applied, or null."
     },
     "staff": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "subject",
        "username",
        "display_name",
        "role",
        "is_owner",
        "capabilities"
       ],
       "properties": {
        "subject": {
         "type": [
          "string",
          "null"
         ],
         "pattern": "^usr_",
         "description": "null for an account that has no subject yet."
        },
        "username": {
         "type": "string"
        },
        "display_name": {
         "type": "string"
        },
        "role": {
         "enum": [
          "global_mod",
          "admin",
          "owner"
         ]
        },
        "is_owner": {
         "type": "boolean"
        },
        "capabilities": {
         "type": "array",
         "items": {
          "type": "string",
          "pattern": "^staff\\."
         },
         "description": "Staff capability ids, sorted."
        }
       }
      }
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
