{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.News API",
  "version": "0.56.1",
  "description": "Routes of OpenVibe.News as the OpenVibe contracts describe them (openvibe-contracts 0.56.1): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.news"
  }
 ],
 "paths": {
  "/api/v1/clusters": {
   "get": {
    "operationId": "get_api_v1_clusters",
    "summary": "Read clusters (members, the stored explanation of every membership, merge/split history), source items with their dedupe outcome, and ingestion runs and source health.",
    "description": "**news.cluster.read** (first-party): Read clusters (members, the stored explanation of every membership, merge/split history), source items with their dedupe outcome, and ingestion runs and source health.",
    "tags": [
     "news.cluster"
    ],
    "x-openvibe-capabilities": [
     "news.cluster.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-read",
    "security": [
     {
      "openvibeToken": [
       "news.cluster.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.cluster-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/clusters/{id}": {
   "get": {
    "operationId": "get_api_v1_clusters_id",
    "summary": "Read clusters (members, the stored explanation of every membership, merge/split history), source items with their dedupe outcome, and ingestion runs and source health.",
    "description": "**news.cluster.read** (first-party): Read clusters (members, the stored explanation of every membership, merge/split history), source items with their dedupe outcome, and ingestion runs and source health.",
    "tags": [
     "news.cluster"
    ],
    "x-openvibe-capabilities": [
     "news.cluster.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-read",
    "security": [
     {
      "openvibeToken": [
       "news.cluster.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.cluster-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/clusters/{id}/merge": {
   "post": {
    "operationId": "post_api_v1_clusters_id_merge",
    "summary": "Merge clusters, split items into a new cluster, and reverse a merge or split.",
    "description": "**news.cluster.manage** (first-party): Merge clusters, split items into a new cluster, and reverse a merge or split. Every change is audited with exactly which items moved.",
    "tags": [
     "news.cluster"
    ],
    "x-openvibe-capabilities": [
     "news.cluster.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.cluster.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.cluster-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.cluster-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/clusters/{id}/split": {
   "post": {
    "operationId": "post_api_v1_clusters_id_split",
    "summary": "Merge clusters, split items into a new cluster, and reverse a merge or split.",
    "description": "**news.cluster.manage** (first-party): Merge clusters, split items into a new cluster, and reverse a merge or split. Every change is audited with exactly which items moved.",
    "tags": [
     "news.cluster"
    ],
    "x-openvibe-capabilities": [
     "news.cluster.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.cluster.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.cluster-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.cluster-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/clusters/audit/{auditId}/reverse": {
   "post": {
    "operationId": "post_api_v1_clusters_audit_auditId_reverse",
    "summary": "Merge clusters, split items into a new cluster, and reverse a merge or split.",
    "description": "**news.cluster.manage** (first-party): Merge clusters, split items into a new cluster, and reverse a merge or split. Every change is audited with exactly which items moved.",
    "tags": [
     "news.cluster"
    ],
    "x-openvibe-capabilities": [
     "news.cluster.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.cluster.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.cluster-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "auditId",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.cluster-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/ingest": {
   "get": {
    "operationId": "get_api_v1_ingest",
    "summary": "Read clusters (members, the stored explanation of every membership, merge/split history), source items with their dedupe outcome, and ingestion runs and source health.",
    "description": "**news.cluster.read** (first-party): Read clusters (members, the stored explanation of every membership, merge/split history), source items with their dedupe outcome, and ingestion runs and source health.",
    "tags": [
     "news.cluster"
    ],
    "x-openvibe-capabilities": [
     "news.cluster.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-read",
    "security": [
     {
      "openvibeToken": [
       "news.cluster.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.cluster-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/source-items/{id}": {
   "get": {
    "operationId": "get_api_v1_source_items_id",
    "summary": "Read clusters (members, the stored explanation of every membership, merge/split history), source items with their dedupe outcome, and ingestion runs and source health.",
    "description": "**news.cluster.read** (first-party): Read clusters (members, the stored explanation of every membership, merge/split history), source items with their dedupe outcome, and ingestion runs and source health.",
    "tags": [
     "news.cluster"
    ],
    "x-openvibe-capabilities": [
     "news.cluster.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-read",
    "security": [
     {
      "openvibeToken": [
       "news.cluster.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.cluster-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories": {
   "post": {
    "operationId": "post_api_v1_stories",
    "summary": "Open a story from a cluster (the cluster's live, non-duplicate source items become its first sources).",
    "description": "**news.story.create** (first-party): Open a story from a cluster (the cluster's live, non-duplicate source items become its first sources). Editors only: the service acts for an editor named in X-OV-Subject.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.story.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.story-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}": {
   "get": {
    "operationId": "get_api_v1_stories_id",
    "summary": "Read any story, including drafts, revisions, diffs, publishability problems and editorial flags.",
    "description": "**news.story.read** (first-party): Read any story, including drafts, revisions, diffs, publishability problems and editorial flags. Published stories need no capability.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-read",
    "security": [
     {
      "openvibeToken": [
       "news.story.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/ai-drafts": {
   "post": {
    "operationId": "post_api_v1_stories_id_ai_drafts",
    "summary": "Save a new immutable revision (headline and paragraphs that each cite attached sources, with the source table, timeline and perspectives snapshotted), add correction/update notes, or request an OpenVi",
    "description": "**news.story.revise** (first-party): Save a new immutable revision (headline and paragraphs that each cite attached sources, with the source table, timeline and perspectives snapshotted), add correction/update notes, or request an OpenVibe.AI draft. With X-OV-Origin: ai the revision is AI-generated and cannot be published until a person approves it.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.revise"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.story.revise"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.story-revise-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-revise-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/diff": {
   "get": {
    "operationId": "get_api_v1_stories_id_diff",
    "summary": "Read any story, including drafts, revisions, diffs, publishability problems and editorial flags.",
    "description": "**news.story.read** (first-party): Read any story, including drafts, revisions, diffs, publishability problems and editorial flags. Published stories need no capability.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-read",
    "security": [
     {
      "openvibeToken": [
       "news.story.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/flags": {
   "post": {
    "operationId": "post_api_v1_stories_id_flags",
    "summary": "Save a new immutable revision (headline and paragraphs that each cite attached sources, with the source table, timeline and perspectives snapshotted), add correction/update notes, or request an OpenVi",
    "description": "**news.story.revise** (first-party): Save a new immutable revision (headline and paragraphs that each cite attached sources, with the source table, timeline and perspectives snapshotted), add correction/update notes, or request an OpenVibe.AI draft. With X-OV-Origin: ai the revision is AI-generated and cannot be published until a person approves it.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.revise"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.story.revise"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.story-revise-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-revise-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/perspectives": {
   "post": {
    "operationId": "post_api_v1_stories_id_perspectives",
    "summary": "Create or remove editor-labelled perspective groupings on a story and assign its sources to them.",
    "description": "**news.perspective.update** (first-party): Create or remove editor-labelled perspective groupings on a story and assign its sources to them. Labels are written by editors, never generated.",
    "tags": [
     "news.perspective"
    ],
    "x-openvibe-capabilities": [
     "news.perspective.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.perspective.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.perspective-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.perspective-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/perspectives/{pid}": {
   "delete": {
    "operationId": "delete_api_v1_stories_id_perspectives_pid",
    "summary": "Create or remove editor-labelled perspective groupings on a story and assign its sources to them.",
    "description": "**news.perspective.update** (first-party): Create or remove editor-labelled perspective groupings on a story and assign its sources to them. Labels are written by editors, never generated.",
    "tags": [
     "news.perspective"
    ],
    "x-openvibe-capabilities": [
     "news.perspective.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.perspective.update"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/news.perspective-update-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "pid",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.perspective-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/publish": {
   "post": {
    "operationId": "post_api_v1_stories_id_publish",
    "summary": "Publish a revision (refused while it cites no source, rests on a source removed upstream or detached, or is AI-generated/AI-assisted without a person's approval), or unpublish a story.",
    "description": "**news.story.publish** (first-party): Publish a revision (refused while it cites no source, rests on a source removed upstream or detached, or is AI-generated/AI-assisted without a person's approval), or unpublish a story. Publishing resolves the upstream flags the revision answers and publishes pending correction/update notes.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.story.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.story-publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/retract": {
   "post": {
    "operationId": "post_api_v1_stories_id_retract",
    "summary": "Retract a published story with a public note.",
    "description": "**news.story.retract** (first-party): Retract a published story with a public note. The story stays at its URL with the retraction notice, becomes noindex and leaves sitemaps and Search. Final.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.retract"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.story.retract"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.story-retract-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-retract-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/revisions": {
   "get": {
    "operationId": "get_api_v1_stories_id_revisions",
    "summary": "Read any story, including drafts, revisions, diffs, publishability problems and editorial flags.",
    "description": "**news.story.read** (first-party): Read any story, including drafts, revisions, diffs, publishability problems and editorial flags. Published stories need no capability.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-read",
    "security": [
     {
      "openvibeToken": [
       "news.story.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_stories_id_revisions",
    "summary": "Save a new immutable revision (headline and paragraphs that each cite attached sources, with the source table, timeline and perspectives snapshotted), add correction/update notes, or request an OpenVi",
    "description": "**news.story.revise** (first-party): Save a new immutable revision (headline and paragraphs that each cite attached sources, with the source table, timeline and perspectives snapshotted), add correction/update notes, or request an OpenVibe.AI draft. With X-OV-Origin: ai the revision is AI-generated and cannot be published until a person approves it.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.revise"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.story.revise"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.story-revise-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-revise-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/revisions/{n}": {
   "get": {
    "operationId": "get_api_v1_stories_id_revisions_n",
    "summary": "Read any story, including drafts, revisions, diffs, publishability problems and editorial flags.",
    "description": "**news.story.read** (first-party): Read any story, including drafts, revisions, diffs, publishability problems and editorial flags. Published stories need no capability.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-read",
    "security": [
     {
      "openvibeToken": [
       "news.story.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/sources": {
   "post": {
    "operationId": "post_api_v1_stories_id_sources",
    "summary": "Attach a source item to a story's source table (numbered, never renumbered) or detach it.",
    "description": "**news.source.attach** (first-party): Attach a source item to a story's source table (numbered, never renumbered) or detach it.",
    "tags": [
     "news.source"
    ],
    "x-openvibe-capabilities": [
     "news.source.attach"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.source.attach"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.source-attach-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.source-attach-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/sources/{item}": {
   "delete": {
    "operationId": "delete_api_v1_stories_id_sources_item",
    "summary": "Attach a source item to a story's source table (numbered, never renumbered) or detach it.",
    "description": "**news.source.attach** (first-party): Attach a source item to a story's source table (numbered, never renumbered) or detach it.",
    "tags": [
     "news.source"
    ],
    "x-openvibe-capabilities": [
     "news.source.attach"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.source.attach"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/news.source-attach-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "item",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.source-attach-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/sources/{item}/perspective": {
   "put": {
    "operationId": "put_api_v1_stories_id_sources_item_perspective",
    "summary": "Create or remove editor-labelled perspective groupings on a story and assign its sources to them.",
    "description": "**news.perspective.update** (first-party): Create or remove editor-labelled perspective groupings on a story and assign its sources to them. Labels are written by editors, never generated.",
    "tags": [
     "news.perspective"
    ],
    "x-openvibe-capabilities": [
     "news.perspective.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.perspective.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.perspective-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "item",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.perspective-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/timeline": {
   "post": {
    "operationId": "post_api_v1_stories_id_timeline",
    "summary": "Add or remove a story's timeline entries; each entry has a date the source states and rests on one attached source.",
    "description": "**news.timeline.update** (first-party): Add or remove a story's timeline entries; each entry has a date the source states and rests on one attached source.",
    "tags": [
     "news.timeline"
    ],
    "x-openvibe-capabilities": [
     "news.timeline.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.timeline.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.timeline-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.timeline-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/timeline/{eid}": {
   "delete": {
    "operationId": "delete_api_v1_stories_id_timeline_eid",
    "summary": "Add or remove a story's timeline entries; each entry has a date the source states and rests on one attached source.",
    "description": "**news.timeline.update** (first-party): Add or remove a story's timeline entries; each entry has a date the source states and rests on one attached source.",
    "tags": [
     "news.timeline"
    ],
    "x-openvibe-capabilities": [
     "news.timeline.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.timeline.update"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/news.timeline-update-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "eid",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.timeline-update-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/stories/{id}/unpublish": {
   "post": {
    "operationId": "post_api_v1_stories_id_unpublish",
    "summary": "Publish a revision (refused while it cites no source, rests on a source removed upstream or detached, or is AI-generated/AI-assisted without a person's approval), or unpublish a story.",
    "description": "**news.story.publish** (first-party): Publish a revision (refused while it cites no source, rests on a source removed upstream or detached, or is AI-generated/AI-assisted without a person's approval), or unpublish a story. Publishing resolves the upstream flags the revision answers and publishes pending correction/update notes.",
    "tags": [
     "news.story"
    ],
    "x-openvibe-capabilities": [
     "news.story.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.story.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.story-publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.story-publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/topics": {
   "post": {
    "operationId": "post_api_v1_topics",
    "summary": "Add a canonical topic (slug and name).",
    "description": "**news.topic.manage** (first-party): Add a canonical topic (slug and name).",
    "tags": [
     "news.topic"
    ],
    "x-openvibe-capabilities": [
     "news.topic.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "news-write",
    "security": [
     {
      "openvibeToken": [
       "news.topic.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/news.topic-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/news.topic-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.entity-ref.v1": {
    "title": "EntityRef",
    "description": "Typed reference to another service's entity. Store this instead of a foreign key; resolve a display projection from the owner.",
    "type": "object",
    "required": [
     "service",
     "type",
     "id"
    ],
    "additionalProperties": false,
    "properties": {
     "service": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$"
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$"
     },
     "id": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
     },
     "revision": {
      "type": "integer",
      "minimum": 0
     },
     "label": {
      "type": "string",
      "maxLength": 200,
      "description": "Cached display label. Never authoritative."
     }
    }
   },
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "news.cluster-audit.v1": {
    "title": "NewsClusterAudit",
    "description": "news.cluster-audit@1: one audited cluster change on OpenVibe.News (server/domain/clusters.js shapeAudit): a merge, a split or the reversal of one, with exactly which source items moved, who did it and why. Merge: cluster_id survived and other_id was absorbed; split: other_id is the new cluster.",
    "type": "object",
    "required": [
     "id",
     "action",
     "cluster_id",
     "other_id",
     "item_ids",
     "reason",
     "actor",
     "reverses",
     "reversed_by",
     "at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^cla_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "action": {
      "enum": [
       "merge",
       "split",
       "reverse_merge",
       "reverse_split"
      ]
     },
     "cluster_id": {
      "type": "string"
     },
     "other_id": {
      "type": "string"
     },
     "item_ids": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "reason": {
      "type": [
       "string",
       "null"
      ]
     },
     "actor": {
      "type": "string",
      "description": "The editor (usr_…) or the service that acted."
     },
     "reverses": {
      "type": [
       "string",
       "null"
      ],
      "description": "The audit entry this one reverses."
     },
     "reversed_by": {
      "type": [
       "string",
       "null"
      ],
      "description": "The audit entry that reversed this one."
     },
     "at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "news.cluster-manage-request.v1": {
    "title": "NewsClusterManageRequest",
    "description": "news.cluster-manage-request@1: bodies of news.cluster.manage on OpenVibe.News (editors). POST /api/v1/clusters/:id/merge { other, reason? } merges cluster other into :id (both open: 404 cluster.not_found, 409 cluster.not_open, 422 cluster.same). POST /api/v1/clusters/:id/split { items, reason? } moves those items into a new cluster (422 cluster.split_empty, cluster.split_foreign, cluster.split_all: at least one item stays). POST /api/v1/clusters/audit/:auditId/reverse { reason? } undoes a merge or split (404 cluster.audit_not_found, 409 cluster.already_reversed, 409 cluster.changed). Every change is audited with exactly which items moved.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "other"
      ],
      "properties": {
       "other": {
        "type": "string",
        "pattern": "^clu_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "description": "Cut to 500 characters."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "items"
      ],
      "properties": {
       "items": {
        "type": "array",
        "items": {
         "type": "string"
        },
        "minItems": 1,
        "description": "Source item ids (nsi_…) of the cluster."
       },
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "description": "Cut to 500 characters."
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "description": "Cut to 500 characters."
       }
      }
     }
    ]
   },
   "news.cluster-manage-result.v1": {
    "title": "NewsClusterManageResult",
    "description": "news.cluster-manage-result@1: answers of news.cluster.manage on OpenVibe.News. POST /api/v1/clusters/:id/merge → { cluster, audit } (the surviving cluster with items, audit and stories). POST /api/v1/clusters/:id/split → 201 { cluster, created, audit } (the source cluster and the new one with its items). POST /api/v1/clusters/audit/:auditId/reverse → { audit, clusters } (the reversal entry and the two clusters involved). Emits news.cluster.updated.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "cluster",
       "audit"
      ],
      "properties": {
       "cluster": {
        "$ref": "#/components/schemas/news.cluster.v1"
       },
       "created": {
        "$ref": "#/components/schemas/news.cluster.v1"
       },
       "audit": {
        "$ref": "#/components/schemas/news.cluster-audit.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "audit",
       "clusters"
      ],
      "properties": {
       "audit": {
        "$ref": "#/components/schemas/news.cluster-audit.v1"
       },
       "clusters": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/news.cluster.v1"
        },
        "minItems": 2,
        "maxItems": 2
       }
      }
     }
    ]
   },
   "news.cluster-read-result.v1": {
    "title": "NewsClusterReadResult",
    "description": "news.cluster-read-result@1: answers of news.cluster.read on OpenVibe.News (editors, or a service holding news.cluster.read). GET /api/v1/clusters?limit= → { clusters } (open clusters, newest activity first). GET /api/v1/clusters/:id → { cluster } with its items, audit and stories (404 cluster.not_found). GET /api/v1/source-items/:id (nsi_… or itm_…) → { item } (404 source_item.not_found). GET /api/v1/ingest → { cursor, runs, sources }: the Sources cursor, the 50 latest ingestion runs and the cached source health.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "clusters"
      ],
      "properties": {
       "clusters": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/news.cluster.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "cluster"
      ],
      "properties": {
       "cluster": {
        "$ref": "#/components/schemas/news.cluster.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "item"
      ],
      "properties": {
       "item": {
        "$ref": "#/components/schemas/news.source-item.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "cursor",
       "runs",
       "sources"
      ],
      "properties": {
       "cursor": {
        "type": "integer",
        "minimum": 0
       },
       "runs": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "origin",
          "state",
          "at"
         ],
         "properties": {
          "id": {
           "type": "integer"
          },
          "origin": {
           "enum": [
            "webhook",
            "pull",
            "sources"
           ]
          },
          "state": {
           "type": "string",
           "description": "ok | failed | ignored | an upstream state (http_error, timeout, …)."
          },
          "source_key": {
           "type": [
            "string",
            "null"
           ]
          },
          "sources_item_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "error_code": {
           "type": [
            "string",
            "null"
           ]
          },
          "detail": {
           "type": [
            "string",
            "null"
           ]
          },
          "counts": {
           "type": [
            "object",
            "null"
           ],
           "description": "{ created, updated, removed, duplicates, unchanged }"
          },
          "cursor_before": {
           "type": [
            "integer",
            "null"
           ]
          },
          "cursor_after": {
           "type": [
            "integer",
            "null"
           ]
          },
          "at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       },
       "sources": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "source_key",
          "refreshed_at"
         ],
         "properties": {
          "source_key": {
           "type": "string"
          },
          "name": {
           "type": [
            "string",
            "null"
           ]
          },
          "homepage_url": {
           "type": [
            "string",
            "null"
           ]
          },
          "status": {
           "type": [
            "string",
            "null"
           ]
          },
          "stale": {
           "type": [
            "boolean",
            "null"
           ]
          },
          "last_success_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "refreshed_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       }
      }
     }
    ]
   },
   "news.cluster.v1": {
    "title": "NewsCluster",
    "description": "news.cluster@1: one story cluster on OpenVibe.News (server/http/api.js clusterDto): a deterministic, explainable grouping of source items that report the same story, with its label (derived from the key terms, never invented), time window, key terms and entities. GET /api/v1/clusters/:id and merge/split answers add items, audit and stories.",
    "type": "object",
    "required": [
     "id",
     "label",
     "status",
     "merged_into",
     "split_from",
     "window",
     "created_by",
     "key_terms",
     "key_entities",
     "item_count"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^clu_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "label": {
      "type": "string"
     },
     "status": {
      "enum": [
       "open",
       "merged",
       "dissolved"
      ]
     },
     "merged_into": {
      "type": [
       "string",
       "null"
      ]
     },
     "split_from": {
      "type": [
       "string",
       "null"
      ]
     },
     "window": {
      "type": "object",
      "required": [
       "start",
       "end"
      ],
      "properties": {
       "start": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "end": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     "created_by": {
      "type": "string",
      "description": "svc:news (clustering) or the editor who split it off."
     },
     "key_terms": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "term",
        "items"
       ],
       "properties": {
        "term": {
         "type": "string"
        },
        "items": {
         "type": "integer"
        }
       }
      },
      "maxItems": 15
     },
     "key_entities": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "entity",
        "items"
       ],
       "properties": {
        "entity": {
         "type": "string"
        },
        "items": {
         "type": "integer"
        }
       }
      },
      "maxItems": 10
     },
     "item_count": {
      "type": "integer",
      "minimum": 0
     },
     "items": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/news.source-item.v1"
      }
     },
     "audit": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/news.cluster-audit.v1"
      }
     },
     "stories": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "id",
        "slug",
        "state"
       ],
       "properties": {
        "id": {
         "type": "string"
        },
        "slug": {
         "type": "string"
        },
        "state": {
         "type": "string"
        }
       }
      }
     }
    }
   },
   "news.perspective-update-request.v1": {
    "title": "NewsPerspectiveUpdateRequest",
    "description": "news.perspective-update-request@1: bodies of news.perspective.update on OpenVibe.News (editors). POST /api/v1/stories/:id/perspectives { label, description? } adds an editor-labelled perspective (labels are written by editors, never generated; 422 perspective.no_label, 422 perspective.label_too_long over 80 characters; the description is cut to 500). PUT /api/v1/stories/:id/sources/:item/perspective { perspective } puts an attached source in a perspective (per_…) or in none (null or absent; 404 story.source_not_attached, 404 perspective.not_found). DELETE /api/v1/stories/:id/perspectives/:pid takes no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "label"
      ],
      "properties": {
       "label": {
        "type": "string",
        "minLength": 1,
        "description": "At most 80 characters once whitespace is collapsed."
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "perspective": {
        "anyOf": [
         {
          "type": "string",
          "pattern": "^per_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         {
          "type": "null"
         }
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "news.perspective-update-result.v1": {
    "title": "NewsPerspectiveUpdateResult",
    "description": "news.perspective-update-result@1: answers of news.perspective.update on OpenVibe.News. POST /api/v1/stories/:id/perspectives → 201 { perspective } (the stored row; timestamps in epoch milliseconds). DELETE /api/v1/stories/:id/perspectives/:pid → { removed: true } (its sources are left without a perspective). PUT /api/v1/stories/:id/sources/:item/perspective → { n, perspective_id }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "perspective"
      ],
      "properties": {
       "perspective": {
        "type": "object",
        "required": [
         "id",
         "story_id",
         "label",
         "description",
         "position",
         "created_by",
         "created_at",
         "updated_at",
         "removed_at"
        ],
        "properties": {
         "id": {
          "type": "string",
          "pattern": "^per_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         "story_id": {
          "type": "string"
         },
         "label": {
          "type": "string"
         },
         "description": {
          "type": [
           "string",
           "null"
          ]
         },
         "position": {
          "type": "integer"
         },
         "created_by": {
          "type": "string"
         },
         "created_at": {
          "type": "integer",
          "description": "Epoch milliseconds."
         },
         "updated_at": {
          "type": "integer",
          "description": "Epoch milliseconds."
         },
         "removed_at": {
          "type": [
           "integer",
           "null"
          ],
          "description": "Epoch milliseconds, or null."
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "removed"
      ],
      "properties": {
       "removed": {
        "const": true
       }
      }
     },
     {
      "type": "object",
      "required": [
       "n",
       "perspective_id"
      ],
      "properties": {
       "n": {
        "type": "integer",
        "minimum": 1
       },
       "perspective_id": {
        "anyOf": [
         {
          "type": "string",
          "pattern": "^per_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         {
          "type": "null"
         }
        ]
       }
      }
     }
    ]
   },
   "news.source-attach-request.v1": {
    "title": "NewsSourceAttachRequest",
    "description": "news.source-attach-request@1: bodies of news.source.attach on OpenVibe.News (editors). POST /api/v1/stories/:id/sources { item } (or { item_id }) attaches a source item to the story's source table under the next number (a detached item gets its old number back); 404 source_item.not_found, 409 source_item.removed for an item removed upstream. DELETE /api/v1/stories/:id/sources/:item takes no body and detaches it (its number is never reused; its timeline entries go with it; 404 story.source_not_attached).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "item"
      ],
      "properties": {
       "item": {
        "type": "string",
        "pattern": "^(nsi|itm)_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "A News source item id (nsi_…) or the OpenVibe.Sources item id it came from (itm_…)."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "item_id"
      ],
      "properties": {
       "item_id": {
        "type": "string",
        "pattern": "^(nsi|itm)_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "A News source item id (nsi_…) or the OpenVibe.Sources item id it came from (itm_…)."
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "news.source-attach-result.v1": {
    "title": "NewsSourceAttachResult",
    "description": "news.source-attach-result@1: answers of news.source.attach on OpenVibe.News. POST /api/v1/stories/:id/sources → 201 { n, created, item } (the source number; created false when it was already attached). DELETE /api/v1/stories/:id/sources/:item → { detached: true, n }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "n",
       "created",
       "item"
      ],
      "properties": {
       "n": {
        "type": "integer",
        "minimum": 1
       },
       "created": {
        "type": "boolean"
       },
       "item": {
        "$ref": "#/components/schemas/news.source-item.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "detached",
       "n"
      ],
      "properties": {
       "detached": {
        "const": true
       },
       "n": {
        "type": "integer",
        "minimum": 1
       }
      }
     }
    ]
   },
   "news.source-item.v1": {
    "title": "NewsSourceItem",
    "description": "news.source-item@1: one source item as OpenVibe.News shows it to editors (server/http/api.js itemDto): the normalised OpenVibe.Sources item — headline, URL, outlet, authors, the date the source states and a licensed short summary, never a body — with its dedupe outcome, cluster and the stored explanation of its membership, and its upstream state.",
    "type": "object",
    "required": [
     "id",
     "sources_item",
     "source_key",
     "headline",
     "url",
     "outlet",
     "authors",
     "published_at",
     "summary",
     "summary_basis",
     "license_note",
     "terms_note",
     "status",
     "duplicate_of",
     "dedupe",
     "cluster_id",
     "cluster_reason",
     "retrieved_at",
     "first_seen_at",
     "upstream_updated_at",
     "removed"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^nsi_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "sources_item": {
      "$ref": "#/components/schemas/common.entity-ref.v1",
      "description": "The OpenVibe.Sources item and the revision these fields came from."
     },
     "source_key": {
      "type": "string"
     },
     "headline": {
      "type": "string"
     },
     "url": {
      "type": [
       "string",
       "null"
      ]
     },
     "outlet": {
      "type": "string"
     },
     "authors": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ],
      "description": "As the source states it; null when it does not."
     },
     "summary": {
      "type": [
       "string",
       "null"
      ],
      "description": "A short summary, stored only when the source's terms allow it."
     },
     "summary_basis": {
      "type": [
       "string",
       "null"
      ],
      "description": "Why a summary is (not) stored."
     },
     "license_note": {
      "type": [
       "string",
       "null"
      ]
     },
     "terms_note": {
      "type": [
       "string",
       "null"
      ]
     },
     "status": {
      "enum": [
       "active",
       "duplicate",
       "removed"
      ]
     },
     "duplicate_of": {
      "type": [
       "string",
       "null"
      ]
     },
     "dedupe": {
      "type": [
       "object",
       "null"
      ],
      "description": "{ rule, detail } when the item is a duplicate."
     },
     "cluster_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "cluster_reason": {
      "type": [
       "object",
       "null"
      ],
      "description": "Why the item is in its cluster: { rule (shared_terms, new_cluster, duplicate_of, merged, split, …), shared_entities, shared_terms, score, … }."
     },
     "retrieved_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "first_seen_at": {
      "type": "string",
      "format": "date-time"
     },
     "upstream_updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "removed": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "at",
       "reason"
      ],
      "description": "Set once the source removed the item upstream.",
      "properties": {
       "at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "reason": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     }
    }
   },
   "news.story-create-request.v1": {
    "title": "NewsStoryCreateRequest",
    "description": "news.story-create-request@1: the body of news.story.create on OpenVibe.News: POST /api/v1/stories { headline, cluster?, topic?, slug?, body? | paragraphs? } opens a story (editors; a service acts for the editor in X-OV-Subject). The cluster's live, non-duplicate source items become its first sources, numbered by publication date; body or paragraphs (citing those numbers or item ids) becomes revision 1. Refusals: 422 story.no_headline (missing or over 200 characters), 404 cluster.not_found, 422 topic.not_found, 422 story.invalid_slug, 409 story.slug_taken, 422 story.claim_unsourced / story.unknown_source for a paragraph that cites nothing or a source not attached.",
    "type": "object",
    "required": [
     "headline"
    ],
    "properties": {
     "headline": {
      "type": "string",
      "minLength": 1,
      "description": "The working headline; at most 200 characters once whitespace is collapsed."
     },
     "cluster": {
      "type": "string",
      "description": "The cluster (clu_…) to open the story from; merged clusters are followed."
     },
     "cluster_id": {
      "type": "string",
      "description": "Same as cluster."
     },
     "topic": {
      "type": [
       "string",
       "null"
      ],
      "description": "An active topic, by id (top_…) or slug."
     },
     "slug": {
      "type": "string",
      "description": "Default: made from the headline."
     },
     "body": {
      "type": "string",
      "description": "Paragraphs separated by a blank line, each ending with the source numbers it rests on, e.g. \"… said on Monday. [1, 3]\"."
     },
     "paragraphs": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "text",
        "sources"
       ],
       "properties": {
        "text": {
         "type": "string",
         "minLength": 1,
         "description": "At most 3000 characters once whitespace is collapsed."
        },
        "sources": {
         "type": "array",
         "items": {
          "anyOf": [
           {
            "type": "integer",
            "minimum": 1,
            "description": "A source number [n] of the story's source table."
           },
           {
            "type": "string",
            "pattern": "^(nsi|itm)_[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "A News source item id (nsi_…) or the OpenVibe.Sources item id it came from (itm_…)."
           }
          ]
         },
         "minItems": 1,
         "description": "The attached sources the paragraph rests on (at least one)."
        }
       }
      },
      "minItems": 1,
      "maxItems": 60
     }
    }
   },
   "news.story-create-result.v1": {
    "title": "NewsStoryCreateResult",
    "description": "news.story-create-result@1: the answer of news.story.create on OpenVibe.News: POST /api/v1/stories → 201 { story, revision } — the new draft story and the number of its first revision (null when no text was sent). Emits news.story.created.",
    "type": "object",
    "required": [
     "story",
     "revision"
    ],
    "properties": {
     "story": {
      "$ref": "#/components/schemas/news.story.v1"
     },
     "revision": {
      "type": [
       "integer",
       "null"
      ]
     }
    }
   },
   "news.story-publish-request.v1": {
    "title": "NewsStoryPublishRequest",
    "description": "news.story-publish-request@1: bodies of news.story.publish on OpenVibe.News (editors). POST /api/v1/stories/:id/publish { revision?, correction? } publishes revision N (default the head) with an optional correction or update note readers will see. Refused while anything in the story's publishable list stands: 409 story.review_required (an AI revision no person approved), 409 story.source_removed / story.source_detached, 422 story.unsourced / story.claim_unsourced / story.no_headline (problems in the problem's extra); 422 story.correction_note_required when a source it cited was removed upstream and no note says what changed; 409 story.retracted; 404 revision.not_found. POST /api/v1/stories/:id/unpublish takes no body.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "revision": {
        "type": [
         "integer",
         "string",
         "null"
        ],
        "minimum": 1,
        "pattern": "^[0-9]*$",
        "description": "Default: the head revision."
       },
       "correction": {
        "type": [
         "object",
         "null"
        ],
        "description": "A note given without kind is a correction.",
        "properties": {
         "kind": {
          "enum": [
           "correction",
           "update"
          ]
         },
         "note": {
          "type": "string",
          "maxLength": 2000
         }
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "news.story-publish-result.v1": {
    "title": "NewsStoryPublishResult",
    "description": "news.story-publish-result@1: answers of news.story.publish on OpenVibe.News. POST /api/v1/stories/:id/publish → { changed, resolved_flags, story } (changed false when that revision was already published and no note was given; resolved_flags are the upstream flags the revision answers). POST /api/v1/stories/:id/unpublish → { changed, story } (changed false when nothing was published). Emits news.story.published|updated|unpublished and the Search index events.",
    "type": "object",
    "required": [
     "changed",
     "story"
    ],
    "properties": {
     "changed": {
      "type": "boolean"
     },
     "resolved_flags": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^flg_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     },
     "story": {
      "$ref": "#/components/schemas/news.story.v1"
     }
    }
   },
   "news.story-read-result.v1": {
    "title": "NewsStoryReadResult",
    "description": "news.story-read-result@1: answers of news.story.read on OpenVibe.News (editors, or a service holding news.story.read). GET /api/v1/stories/:id → { story, published } (the editor view with drafts, and the public model of the published revision or null; a caller without the capability gets only { published } of a published or retracted story, else 404 story.not_found). GET /api/v1/stories/:id/revisions?limit=&before= → { revisions } newest first. GET /api/v1/stories/:id/revisions/:n → { revision, citations, problems } (404 revision.not_found). GET /api/v1/stories/:id/diff?from=&to=&mode=line|word → { diff } of the text and a field-by-field comparison.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "published"
      ],
      "properties": {
       "story": {
        "$ref": "#/components/schemas/news.story.v1"
       },
       "published": {
        "type": [
         "object",
         "null"
        ],
        "required": [
         "id",
         "url",
         "state",
         "revision",
         "headline",
         "headline_sources",
         "topic",
         "first_published_at",
         "updated_at",
         "authorship",
         "authors",
         "claims",
         "sources",
         "timeline",
         "perspectives",
         "corrections",
         "retraction",
         "pending_upstream_changes",
         "indexability"
        ],
        "description": "The public model of the published revision (the story page's .json twin); null while nothing is published.",
        "properties": {
         "id": {
          "type": "string"
         },
         "url": {
          "type": "string"
         },
         "state": {
          "type": "string"
         },
         "revision": {
          "type": "integer"
         },
         "headline": {
          "type": "string"
         },
         "headline_sources": {
          "type": "array",
          "items": {
           "type": "integer"
          }
         },
         "topic": {
          "type": [
           "object",
           "null"
          ],
          "required": [
           "slug",
           "name",
           "url"
          ],
          "properties": {
           "slug": {
            "type": "string"
           },
           "name": {
            "type": "string"
           },
           "url": {
            "type": "string"
           }
          }
         },
         "first_published_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "updated_at": {
          "type": "string",
          "format": "date-time"
         },
         "authorship": {
          "type": [
           "object",
           "null"
          ],
          "required": [
           "mode",
           "workflow",
           "reviewed_by_person",
           "disclosure"
          ],
          "properties": {
           "mode": {
            "type": "string"
           },
           "workflow": {
            "type": [
             "string",
             "null"
            ]
           },
           "reviewed_by_person": {
            "type": "boolean"
           },
           "disclosure": {
            "type": [
             "string",
             "null"
            ]
           }
          }
         },
         "authors": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "name"
           ],
           "properties": {
            "name": {
             "type": "string"
            },
            "username": {
             "type": [
              "string",
              "null"
             ]
            }
           }
          }
         },
         "claims": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "text",
            "sources",
            "supported"
           ],
           "properties": {
            "text": {
             "type": "string"
            },
            "sources": {
             "type": "array",
             "items": {
              "type": "integer"
             }
            },
            "supported": {
             "type": "boolean"
            }
           }
          }
         },
         "sources": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "n",
            "outlet",
            "status",
            "upstream_changed",
            "perspective",
            "sources_item"
           ],
           "properties": {
            "n": {
             "type": "integer"
            },
            "outlet": {
             "type": "string"
            },
            "status": {
             "enum": [
              "active",
              "removed"
             ]
            },
            "upstream_changed": {
             "type": "boolean"
            },
            "perspective": {
             "type": [
              "string",
              "null"
             ]
            },
            "sources_item": {
             "type": "object",
             "required": [
              "service",
              "type",
              "id",
              "revision"
             ],
             "description": "The OpenVibe.Sources item and the revision the story snapshotted.",
             "properties": {
              "service": {
               "const": "sources"
              },
              "type": {
               "const": "item"
              },
              "id": {
               "type": "string"
              },
              "revision": {
               "type": "integer",
               "minimum": 0
              }
             }
            },
            "removed_at": {
             "type": [
              "string",
              "null"
             ],
             "format": "date-time"
            },
            "headline": {
             "type": "string"
            },
            "url": {
             "type": [
              "string",
              "null"
             ]
            },
            "authors": {
             "type": "array",
             "items": {
              "type": "string"
             }
            },
            "published_at": {
             "type": [
              "string",
              "null"
             ]
            },
            "retrieved_at": {
             "type": [
              "string",
              "null"
             ]
            },
            "summary": {
             "type": [
              "string",
              "null"
             ]
            },
            "removed_reason": {
             "type": [
              "string",
              "null"
             ]
            }
           }
          },
          "description": "A source removed upstream shows only its number, outlet and the removal."
         },
         "timeline": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "occurred_on",
            "text",
            "source",
            "supported"
           ],
           "properties": {
            "occurred_on": {
             "type": "string"
            },
            "text": {
             "type": "string"
            },
            "source": {
             "type": "integer"
            },
            "supported": {
             "type": "boolean"
            }
           }
          }
         },
         "perspectives": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "label",
            "description",
            "sources"
           ],
           "properties": {
            "label": {
             "type": "string"
            },
            "description": {
             "type": [
              "string",
              "null"
             ]
            },
            "sources": {
             "type": "array",
             "items": {
              "type": "integer"
             }
            }
           }
          }
         },
         "corrections": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "kind",
            "note",
            "revision",
            "at"
           ],
           "properties": {
            "kind": {
             "type": "string"
            },
            "note": {
             "type": [
              "string",
              "null"
             ]
            },
            "revision": {
             "type": [
              "integer",
              "null"
             ]
            },
            "at": {
             "type": [
              "string",
              "null"
             ],
             "format": "date-time"
            }
           }
          }
         },
         "retraction": {
          "type": [
           "object",
           "null"
          ],
          "required": [
           "note",
           "at",
           "revision"
          ],
          "properties": {
           "note": {
            "type": [
             "string",
             "null"
            ]
           },
           "at": {
            "type": [
             "string",
             "null"
            ],
            "format": "date-time"
           },
           "revision": {
            "type": [
             "integer",
             "null"
            ]
           }
          }
         },
         "pending_upstream_changes": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "kind",
            "n",
            "outlet",
            "at"
           ],
           "properties": {
            "kind": {
             "type": "string"
            },
            "n": {
             "type": [
              "integer",
              "null"
             ]
            },
            "outlet": {
             "type": [
              "string",
              "null"
             ]
            },
            "at": {
             "type": [
              "string",
              "null"
             ],
             "format": "date-time"
            }
           }
          }
         },
         "indexability": {
          "type": "object",
          "required": [
           "indexable",
           "robots",
           "reasons"
          ],
          "properties": {
           "indexable": {
            "type": "boolean"
           },
           "robots": {
            "type": "string",
            "description": "index, follow | noindex, follow | noindex, nofollow"
           },
           "reasons": {
            "type": "array",
            "items": {
             "type": "object",
             "required": [
              "code"
             ],
             "properties": {
              "code": {
               "type": "string"
              },
              "effect": {
               "type": "string"
              },
              "detail": {}
             }
            },
            "description": "The publishing gate's reasons (code, effect, detail); empty when indexable."
           }
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "revisions"
      ],
      "properties": {
       "revisions": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "revision",
          "kind",
          "author",
          "message",
          "created_at",
          "headline",
          "authorship",
          "system"
         ],
         "properties": {
          "revision": {
           "type": "integer",
           "minimum": 1
          },
          "kind": {
           "enum": [
            "edit",
            "revert",
            "import"
           ]
          },
          "author": {
           "type": [
            "string",
            "null"
           ]
          },
          "message": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          },
          "headline": {
           "type": [
            "string",
            "null"
           ]
          },
          "authorship": {
           "type": [
            "object",
            "null"
           ],
           "description": "The openvibe-publishing authorship record: mode, authors (usr_ ids), the OpenVibe.AI workflow { id, runId, version?, model? } of an ai or hybrid revision, stubProvider when a stub provider answered.",
           "properties": {
            "mode": {
             "enum": [
              "human",
              "ai",
              "hybrid",
              "imported"
             ]
            },
            "authors": {
             "type": "array",
             "items": {
              "type": "string"
             }
            },
            "workflow": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string"
              },
              "runId": {
               "type": "string"
              },
              "version": {},
              "model": {
               "type": "string"
              }
             }
            },
            "stubProvider": {
             "type": "boolean"
            },
            "source": {
             "type": "object"
            },
            "importedFrom": {
             "type": "object"
            }
           }
          },
          "system": {
           "type": [
            "object",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "revision",
       "citations",
       "problems"
      ],
      "properties": {
       "revision": {
        "type": "object",
        "required": [
         "id",
         "entityId",
         "number",
         "kind",
         "content",
         "fields",
         "meta",
         "createdAt"
        ],
        "properties": {
         "id": {
          "type": "string"
         },
         "entityId": {
          "type": "string"
         },
         "number": {
          "type": "integer",
          "minimum": 1
         },
         "parentId": {
          "type": [
           "string",
           "null"
          ]
         },
         "parentNumber": {
          "type": [
           "integer",
           "null"
          ]
         },
         "kind": {
          "enum": [
           "edit",
           "revert",
           "import"
          ]
         },
         "revertedTo": {
          "type": [
           "integer",
           "null"
          ]
         },
         "content": {
          "type": "string",
          "description": "The paragraphs as text with their [n] markers."
         },
         "fields": {
          "type": "object",
          "description": "headline, paragraphs and the snapshotted source table, timeline and perspectives.",
          "properties": {
           "headline": {
            "type": "string"
           },
           "paragraphs": {
            "type": "array",
            "items": {
             "type": "object",
             "required": [
              "text",
              "sources"
             ],
             "properties": {
              "text": {
               "type": "string"
              },
              "sources": {
               "type": "array",
               "items": {
                "type": "integer"
               }
              }
             }
            }
           },
           "sources": {
            "type": "array",
            "items": {
             "type": "object"
            },
            "description": "The source table snapshot: n, id, sources_item_id, sources_revision, headline, url, outlet, authors, published_at, retrieved_at, summary, status, perspective."
           },
           "timeline": {
            "type": "array",
            "items": {
             "type": "object"
            }
           },
           "perspectives": {
            "type": "array",
            "items": {
             "type": "object"
            }
           }
          }
         },
         "meta": {
          "type": "object",
          "properties": {
           "authorship": {
            "type": [
             "object",
             "null"
            ],
            "description": "The openvibe-publishing authorship record: mode, authors (usr_ ids), the OpenVibe.AI workflow { id, runId, version?, model? } of an ai or hybrid revision, stubProvider when a stub provider answered.",
            "properties": {
             "mode": {
              "enum": [
               "human",
               "ai",
               "hybrid",
               "imported"
              ]
             },
             "authors": {
              "type": "array",
              "items": {
               "type": "string"
              }
             },
             "workflow": {
              "type": "object",
              "properties": {
               "id": {
                "type": "string"
               },
               "runId": {
                "type": "string"
               },
               "version": {},
               "model": {
                "type": "string"
               }
              }
             },
             "stubProvider": {
              "type": "boolean"
             },
             "source": {
              "type": "object"
             },
             "importedFrom": {
              "type": "object"
             }
            }
           },
           "system": {
            "type": "object"
           },
           "gaps": {
            "type": "array",
            "items": {
             "type": "string"
            }
           }
          }
         },
         "contentHash": {
          "type": "string"
         },
         "author": {
          "type": [
           "string",
           "null"
          ]
         },
         "message": {
          "type": [
           "string",
           "null"
          ]
         },
         "createdAt": {
          "type": "string",
          "format": "date-time"
         }
        }
       },
       "citations": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "revision",
          "anchor",
          "sourceItemId",
          "url"
         ],
         "properties": {
          "id": {
           "type": "integer"
          },
          "entityId": {
           "type": "string"
          },
          "revision": {
           "type": "integer"
          },
          "anchor": {
           "type": [
            "string",
            "null"
           ],
           "description": "p<n> for a paragraph, t:<entry id> for a timeline entry."
          },
          "sourceItemId": {
           "type": [
            "string",
            "null"
           ]
          },
          "url": {
           "type": [
            "string",
            "null"
           ]
          },
          "title": {
           "type": [
            "string",
            "null"
           ]
          },
          "retrievedAt": {
           "type": [
            "string",
            "null"
           ]
          },
          "quote": {
           "type": [
            "object",
            "null"
           ]
          },
          "licenseNote": {
           "type": [
            "string",
            "null"
           ]
          },
          "carriedFrom": {
           "type": [
            "integer",
            "null"
           ]
          },
          "attachedBy": {
           "type": [
            "string",
            "null"
           ]
          },
          "attachedAt": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       },
       "problems": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "code",
          "detail"
         ],
         "properties": {
          "code": {
           "type": "string"
          },
          "detail": {
           "type": "string"
          }
         }
        },
        "description": "What stands between the revision and publication (story.unsourced, story.claim_unsourced, story.source_removed, story.source_detached, story.review_required, story.no_headline, …); empty when it can be published."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "diff"
      ],
      "properties": {
       "diff": {
        "type": "object",
        "required": [
         "entityId",
         "from",
         "to",
         "content",
         "fields"
        ],
        "properties": {
         "entityId": {
          "type": "string"
         },
         "from": {
          "type": "integer"
         },
         "to": {
          "type": "integer"
         },
         "content": {
          "type": "object",
          "required": [
           "mode",
           "ops",
           "added",
           "removed",
           "approximate"
          ],
          "properties": {
           "mode": {
            "enum": [
             "line",
             "word"
            ]
           },
           "ops": {
            "type": "array",
            "items": {
             "type": "object",
             "required": [
              "op",
              "text"
             ],
             "properties": {
              "op": {
               "enum": [
                "equal",
                "insert",
                "delete"
               ]
              },
              "text": {
               "type": "string"
              }
             }
            }
           },
           "added": {
            "type": "integer"
           },
           "removed": {
            "type": "integer"
           },
           "approximate": {
            "type": "boolean"
           }
          }
         },
         "fields": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "field",
            "from",
            "to"
           ],
           "properties": {
            "field": {
             "type": "string"
            },
            "from": {},
            "to": {}
           }
          }
         }
        }
       }
      }
     }
    ]
   },
   "news.story-retract-request.v1": {
    "title": "NewsStoryRetractRequest",
    "description": "news.story-retract-request@1: the body of news.story.retract on OpenVibe.News: POST /api/v1/stories/:id/retract { note } retracts a published story with a public note (editors). The story stays at its URL with the notice, becomes noindex and leaves sitemaps and Search; final. Refusals: 422 story.retraction_note_required (under 10 characters once whitespace is collapsed), 422 flag.note_too_long (over 2000), 409 story.not_published.",
    "type": "object",
    "required": [
     "note"
    ],
    "properties": {
     "note": {
      "type": "string",
      "minLength": 10,
      "maxLength": 2000
     }
    }
   },
   "news.story-retract-result.v1": {
    "title": "NewsStoryRetractResult",
    "description": "news.story-retract-result@1: the answer of news.story.retract on OpenVibe.News: POST /api/v1/stories/:id/retract → { changed, story } (changed false when the story was already retracted). Emits news.story.retracted and news.index_document.deleted.",
    "type": "object",
    "required": [
     "changed",
     "story"
    ],
    "properties": {
     "changed": {
      "type": "boolean"
     },
     "story": {
      "$ref": "#/components/schemas/news.story.v1"
     }
    }
   },
   "news.story-revise-request.v1": {
    "title": "NewsStoryReviseRequest",
    "description": "news.story-revise-request@1: bodies of news.story.revise on OpenVibe.News (editors; a service acts for the editor in X-OV-Subject). POST /api/v1/stories/:id/revisions { expected_revision, headline?, body? | paragraphs?, topic?, noindex?, message? } saves a new immutable revision snapshotting the source table, timeline and perspectives (expected_revision is required once a revision exists: 428 revision.expected_required, 412 revision.conflict on a stale one; every paragraph must cite an attached source: 422 story.claim_unsourced / story.unknown_source; 409 story.retracted). With X-OV-Origin: ai the revision is AI-generated and carries authorship { workflow: { id: news.summarize_story | news.compare_perspectives, run_id } } and gaps. POST /api/v1/stories/:id/ai-drafts { workflow? } asks OpenVibe.AI for a draft (default news.summarize_story; 503 ai.not_configured, 422 story.unsourced, 422 story.too_few_sources). POST /api/v1/stories/:id/flags { kind, note } adds a correction or update note published with the next publication.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "expected_revision": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 0,
        "pattern": "^[0-9]+$",
        "description": "The revision you edited (expectedRevision is read too)."
       },
       "headline": {
        "type": [
         "string",
         "null"
        ],
        "description": "At most 200 characters; default the head's headline."
       },
       "body": {
        "type": "string",
        "description": "Paragraphs separated by a blank line, each ending with the source numbers it rests on, e.g. \"… said on Monday. [1, 3]\"."
       },
       "paragraphs": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "text",
          "sources"
         ],
         "properties": {
          "text": {
           "type": "string",
           "minLength": 1,
           "description": "At most 3000 characters once whitespace is collapsed."
          },
          "sources": {
           "type": "array",
           "items": {
            "anyOf": [
             {
              "type": "integer",
              "minimum": 1,
              "description": "A source number [n] of the story's source table."
             },
             {
              "type": "string",
              "pattern": "^(nsi|itm)_[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "A News source item id (nsi_…) or the OpenVibe.Sources item id it came from (itm_…)."
             }
            ]
           },
           "minItems": 1,
           "description": "The attached sources the paragraph rests on (at least one)."
          }
         }
        },
        "minItems": 1,
        "maxItems": 60
       },
       "topic": {
        "type": [
         "string",
         "null"
        ],
        "description": "An active topic by id or slug; null or empty clears it."
       },
       "noindex": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "true, 1 or \"1\" asks search engines not to index the story."
       },
       "message": {
        "type": [
         "string",
         "null"
        ],
        "description": "Cut to 200 characters."
       },
       "authorship": {
        "type": "object",
        "description": "Read only with X-OV-Origin: ai.",
        "properties": {
         "workflow": {
          "type": "object",
          "properties": {
           "id": {
            "enum": [
             "news.summarize_story",
             "news.compare_perspectives"
            ]
           },
           "run_id": {
            "type": "string"
           },
           "runId": {
            "type": "string"
           },
           "version": {},
           "model": {
            "type": "string"
           }
          }
         },
         "stub_provider": {
          "type": "boolean"
         },
         "stubProvider": {
          "type": "boolean"
         }
        }
       },
       "gaps": {
        "type": "array",
        "items": {
         "type": "string"
        },
        "maxItems": 20,
        "description": "Read only with X-OV-Origin: ai."
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "workflow": {
        "enum": [
         "news.summarize_story",
         "news.compare_perspectives"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "kind",
       "note"
      ],
      "properties": {
       "kind": {
[...]
