{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenRe.Stream API",
  "version": "0.61.0",
  "description": "Routes of OpenRe.Stream as the OpenVibe contracts describe them (openvibe-contracts 0.61.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openre.stream"
  }
 ],
 "paths": {
  "/api/v1/destinations/{id}": {
   "delete": {
    "operationId": "delete_api_v1_destinations_id",
    "summary": "Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "description": "**openre.output.write** (first-party): Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.output.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/openre.output-write-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_destinations_id",
    "summary": "Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "description": "**openre.output.write** (first-party): Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.output.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/openre.output-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/destinations/{id}/logs": {
   "get": {
    "operationId": "get_api_v1_destinations_id_logs",
    "summary": "Read restream destinations (keys masked to their last four characters), outputs with health and progress, and bounded logs.",
    "description": "**openre.output.read** (first-party): Read restream destinations (keys masked to their last four characters), outputs with health and progress, and bounded logs.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.output.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/destinations/{id}/start": {
   "post": {
    "operationId": "post_api_v1_destinations_id_start",
    "summary": "Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "description": "**openre.output.write** (first-party): Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.output.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/openre.output-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/destinations/{id}/stop": {
   "post": {
    "operationId": "post_api_v1_destinations_id_stop",
    "summary": "Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "description": "**openre.output.write** (first-party): Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.output.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/openre.output-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/destinations/{id}/test": {
   "post": {
    "operationId": "post_api_v1_destinations_id_test",
    "summary": "Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "description": "**openre.output.write** (first-party): Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.output.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/openre.output-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/outputs/{id}/logs": {
   "get": {
    "operationId": "get_api_v1_outputs_id_logs",
    "summary": "Read restream destinations (keys masked to their last four characters), outputs with health and progress, and bounded logs.",
    "description": "**openre.output.read** (first-party): Read restream destinations (keys masked to their last four characters), outputs with health and progress, and bounded logs.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.output.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sessions": {
   "get": {
    "operationId": "get_api_v1_sessions",
    "summary": "Read ingest sessions: lifecycle and transitions, worker and generation, media info, recording state and the playback descriptor; list worker generations.",
    "description": "**openre.session.read** (first-party): Read ingest sessions: lifecycle and transitions, worker and generation, media info, recording state and the playback descriptor; list worker generations.",
    "tags": [
     "openre.session"
    ],
    "x-openvibe-capabilities": [
     "openre.session.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.session.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.session-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sessions/{id}": {
   "get": {
    "operationId": "get_api_v1_sessions_id",
    "summary": "Read ingest sessions: lifecycle and transitions, worker and generation, media info, recording state and the playback descriptor; list worker generations.",
    "description": "**openre.session.read** (first-party): Read ingest sessions: lifecycle and transitions, worker and generation, media info, recording state and the playback descriptor; list worker generations.",
    "tags": [
     "openre.session"
    ],
    "x-openvibe-capabilities": [
     "openre.session.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.session.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.session-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sessions/{id}/end": {
   "post": {
    "operationId": "post_api_v1_sessions_id_end",
    "summary": "Ask the worker that owns a session to disconnect its encoder (the session then ends normally).",
    "description": "**openre.session.end** (first-party): Ask the worker that owns a session to disconnect its encoder (the session then ends normally).",
    "tags": [
     "openre.session"
    ],
    "x-openvibe-capabilities": [
     "openre.session.end"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.session.end"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.session-end-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sessions/{id}/outputs": {
   "get": {
    "operationId": "get_api_v1_sessions_id_outputs",
    "summary": "Read restream destinations (keys masked to their last four characters), outputs with health and progress, and bounded logs.",
    "description": "**openre.output.read** (first-party): Read restream destinations (keys masked to their last four characters), outputs with health and progress, and bounded logs.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.output.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sessions/{id}/playback": {
   "get": {
    "operationId": "get_api_v1_sessions_id_playback",
    "summary": "Read ingest sessions: lifecycle and transitions, worker and generation, media info, recording state and the playback descriptor; list worker generations.",
    "description": "**openre.session.read** (first-party): Read ingest sessions: lifecycle and transitions, worker and generation, media info, recording state and the playback descriptor; list worker generations.",
    "tags": [
     "openre.session"
    ],
    "x-openvibe-capabilities": [
     "openre.session.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.session.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.session-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/streams": {
   "get": {
    "operationId": "get_api_v1_streams",
    "summary": "Read stream definitions: ingest URLs, key metadata (hint, status; never a key), settings and external references.",
    "description": "**openre.stream.read** (first-party): Read stream definitions: ingest URLs, key metadata (hint, status; never a key), settings and external references. Owners read their own; a service reads every stream, or the streams of the X-OV-Subject it acts for.",
    "tags": [
     "openre.stream"
    ],
    "x-openvibe-capabilities": [
     "openre.stream.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.stream.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.stream-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_streams",
    "summary": "Create, update and archive stream definitions (creation issues the first ingest key, returned once).",
    "description": "**openre.stream.write** (first-party): Create, update and archive stream definitions (creation issues the first ingest key, returned once). Archiving is refused while a session is open.",
    "tags": [
     "openre.stream"
    ],
    "x-openvibe-capabilities": [
     "openre.stream.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.stream.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/openre.stream-write-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.stream-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/streams/{id}": {
   "delete": {
    "operationId": "delete_api_v1_streams_id",
    "summary": "Create, update and archive stream definitions (creation issues the first ingest key, returned once).",
    "description": "**openre.stream.write** (first-party): Create, update and archive stream definitions (creation issues the first ingest key, returned once). Archiving is refused while a session is open.",
    "tags": [
     "openre.stream"
    ],
    "x-openvibe-capabilities": [
     "openre.stream.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.stream.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/openre.stream-write-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.stream-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_streams_id",
    "summary": "Read stream definitions: ingest URLs, key metadata (hint, status; never a key), settings and external references.",
    "description": "**openre.stream.read** (first-party): Read stream definitions: ingest URLs, key metadata (hint, status; never a key), settings and external references. Owners read their own; a service reads every stream, or the streams of the X-OV-Subject it acts for.",
    "tags": [
     "openre.stream"
    ],
    "x-openvibe-capabilities": [
     "openre.stream.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.stream.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.stream-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_streams_id",
    "summary": "Create, update and archive stream definitions (creation issues the first ingest key, returned once).",
    "description": "**openre.stream.write** (first-party): Create, update and archive stream definitions (creation issues the first ingest key, returned once). Archiving is refused while a session is open.",
    "tags": [
     "openre.stream"
    ],
    "x-openvibe-capabilities": [
     "openre.stream.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.stream.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/openre.stream-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.stream-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/streams/{id}/destinations": {
   "get": {
    "operationId": "get_api_v1_streams_id_destinations",
    "summary": "Read restream destinations (keys masked to their last four characters), outputs with health and progress, and bounded logs.",
    "description": "**openre.output.read** (first-party): Read restream destinations (keys masked to their last four characters), outputs with health and progress, and bounded logs.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.output.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_streams_id_destinations",
    "summary": "Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "description": "**openre.output.write** (first-party): Create, update, delete and test restream destinations (stream keys are write-only and sealed at rest; URLs must be rtmp/rtmps/srt with public hosts), and start or stop an output for the live session.",
    "tags": [
     "openre.output"
    ],
    "x-openvibe-capabilities": [
     "openre.output.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.output.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/openre.output-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.output-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/streams/{id}/keys": {
   "get": {
    "operationId": "get_api_v1_streams_id_keys",
    "summary": "Read stream definitions: ingest URLs, key metadata (hint, status; never a key), settings and external references.",
    "description": "**openre.stream.read** (first-party): Read stream definitions: ingest URLs, key metadata (hint, status; never a key), settings and external references. Owners read their own; a service reads every stream, or the streams of the X-OV-Subject it acts for.",
    "tags": [
     "openre.stream"
    ],
    "x-openvibe-capabilities": [
     "openre.stream.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.stream.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.stream-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/streams/{id}/keys/rotate": {
   "post": {
    "operationId": "post_api_v1_streams_id_keys_rotate",
    "summary": "Rotate a stream's ingest key: a new key is issued and returned once; the old one is revoked immediately or after a grace period, and running sessions can optionally be ended.",
    "description": "**openre.key.rotate** (first-party): Rotate a stream's ingest key: a new key is issued and returned once; the old one is revoked immediately or after a grace period, and running sessions can optionally be ended.",
    "tags": [
     "openre.key"
    ],
    "x-openvibe-capabilities": [
     "openre.key.rotate"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-write",
    "security": [
     {
      "openvibeToken": [
       "openre.key.rotate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/openre.key-rotate-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.key-rotate-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/workers": {
   "get": {
    "operationId": "get_api_v1_workers",
    "summary": "Read ingest sessions: lifecycle and transitions, worker and generation, media info, recording state and the playback descriptor; list worker generations.",
    "description": "**openre.session.read** (first-party): Read ingest sessions: lifecycle and transitions, worker and generation, media info, recording state and the playback descriptor; list worker generations.",
    "tags": [
     "openre.session"
    ],
    "x-openvibe-capabilities": [
     "openre.session.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "openre-read",
    "security": [
     {
      "openvibeToken": [
       "openre.session.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/openre.session-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     }
    ]
   },
   "openre.destination.v1": {
    "title": "OpenreDestination",
    "description": "openre.destination@1: one restream destination of a stream on OpenRe.Stream (server/store/outputs.js publicDest). The stream key and SRT passphrase are write-only: only whether they are set and a hint of the key are shown.",
    "type": "object",
    "required": [
     "id",
     "stream_id",
     "platform",
     "server_url",
     "transport",
     "has_stream_key",
     "enabled",
     "auto_start"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "stream_id": {
      "type": "string"
     },
     "platform": {
      "enum": [
       "youtube",
       "twitch",
       "kick",
       "custom"
      ]
     },
     "name": {
      "type": [
       "string",
       "null"
      ]
     },
     "server_url": {
      "type": "string"
     },
     "transport": {
      "enum": [
       "rtmp",
       "srt"
      ]
     },
     "has_stream_key": {
      "type": "boolean"
     },
     "stream_key_hint": {
      "type": [
       "string",
       "null"
      ]
     },
     "has_srt_passphrase": {
      "type": "boolean"
     },
     "srt_latency_ms": {
      "type": [
       "integer",
       "null"
      ]
     },
     "enabled": {
      "type": "boolean"
     },
     "auto_start": {
      "type": "boolean"
     },
     "quality_preset": {
      "type": [
       "string",
       "null"
      ]
     },
     "custom_video_bitrate": {
      "type": [
       "integer",
       "null"
      ]
     },
     "custom_audio_bitrate": {
      "type": [
       "integer",
       "null"
      ]
     },
     "custom_fps": {
      "type": [
       "integer",
       "null"
      ]
     },
     "custom_encoder_preset": {
      "type": [
       "string",
       "null"
      ]
     },
     "hold_reason": {
      "type": [
       "string",
       "null"
      ]
     },
     "consecutive_failures": {
      "type": [
       "integer",
       "null"
      ]
     },
     "cooldown_until": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "cooldown_ms": {
      "type": "integer"
     },
     "last_error": {
      "type": [
       "string",
       "null"
      ]
     },
     "last_failed_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     }
    }
   },
   "openre.key-rotate-request.v1": {
    "title": "OpenreKeyRotateRequest",
    "description": "openre.key-rotate-request@1: the body of POST /api/v1/streams/:id/keys/rotate on OpenRe.Stream (openre.key.rotate). grace_seconds (0 by default, at most 7 days) keeps the old key working that long; end_sessions true also ends the stream's open sessions. An empty body rotates with no grace.",
    "type": "object",
    "properties": {
     "grace_seconds": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 0,
      "description": "Clamped to 0..604800."
     },
     "end_sessions": {
      "type": "boolean"
     }
    }
   },
   "openre.key-rotate-result.v1": {
    "title": "OpenreKeyRotateResult",
    "description": "openre.key-rotate-result@1: the answer of POST /api/v1/streams/:id/keys/rotate on OpenRe.Stream: the new key (shown once, Cache-Control no-store), the keys it retired (grace or revoked), when the grace ends, how many sessions were asked to end, and the ingest endpoints. openre.key.rotated is announced.",
    "type": "object",
    "required": [
     "key",
     "retired",
     "grace_until",
     "sessions_ending",
     "ingest"
    ],
    "properties": {
     "key": {
      "type": "object",
      "required": [
       "id",
       "key",
       "hint",
       "shown_once"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "key": {
        "type": "string",
        "description": "The plain ingest key: only in this answer."
       },
       "hint": {
        "type": "string"
       },
       "shown_once": {
        "const": true
       }
      }
     },
     "retired": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "id",
        "status"
       ],
       "properties": {
        "id": {
         "type": "string"
        },
        "hint": {
         "type": "string"
        },
        "status": {
         "enum": [
          "grace",
          "revoked"
         ]
        }
       }
      }
     },
     "grace_until": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "sessions_ending": {
      "type": "integer",
      "minimum": 0
     },
     "ingest": {
      "type": "object",
      "description": "Where an encoder publishes (never the key).",
      "properties": {
       "rtmp": {
        "type": "object",
        "required": [
         "url"
        ],
        "properties": {
         "url": {
          "type": "string"
         },
         "key_hint": {
          "type": [
           "string",
           "null"
          ]
         },
         "key_id": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       }
      }
     }
    }
   },
   "openre.output-read-result.v1": {
    "title": "OpenreOutputReadResult",
    "description": "openre.output-read-result@1: answers of openre.output.read on OpenRe.Stream. GET /api/v1/streams/:id/destinations → { destinations }; GET /api/v1/sessions/:id/outputs → { outputs } (with health); GET /api/v1/destinations/:id/logs and GET /api/v1/outputs/:id/logs?limit= → { logs } (newest first, at most 500).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "destinations"
      ],
      "properties": {
       "destinations": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/openre.destination.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "outputs"
      ],
      "properties": {
       "outputs": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/openre.output.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "logs"
      ],
      "properties": {
       "logs": {
        "type": "array",
        "maxItems": 500,
        "items": {
         "type": "object",
         "required": [
          "level",
          "message",
          "at"
         ],
         "properties": {
          "output_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "level": {
           "type": "string"
          },
          "message": {
           "type": "string"
          },
          "at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          }
         }
        }
       }
      }
     }
    ]
   },
   "openre.output-write-request.v1": {
    "title": "OpenreOutputWriteRequest",
    "description": "openre.output-write-request@1: the body of POST /api/v1/streams/:id/destinations (platform and server_url required) and PATCH /api/v1/destinations/:id (fields left out keep their value) on OpenRe.Stream (openre.output.write). server_url must pass the destination URL rules (rtmp, rtmps or srt, public hosts); stream_key (at most 512 characters, no spaces) and srt_passphrase (10 to 79 characters) are sealed and never read back — __keep__ leaves them unchanged, empty clears them. Numbers out of range become null: srt_latency_ms 20-8000, custom_video_bitrate 500-50000, custom_audio_bitrate 32-512, custom_fps 15-120; an unknown custom_encoder_preset becomes null. DELETE /api/v1/destinations/:id and POST /api/v1/destinations/:id/test|start|stop take no body.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "platform": {
        "enum": [
         "youtube",
         "twitch",
         "kick",
         "custom"
        ]
       },
       "name": {
        "type": [
         "string",
         "null"
        ]
       },
       "server_url": {
        "type": "string"
       },
       "stream_key": {
        "type": [
         "string",
         "null"
        ]
       },
       "srt_passphrase": {
        "type": [
         "string",
         "null"
        ]
       },
       "srt_latency_ms": {
        "type": [
         "integer",
         "string",
         "null"
        ]
       },
       "enabled": {
        "type": [
         "boolean",
         "integer"
        ]
       },
       "auto_start": {
        "type": [
         "boolean",
         "integer"
        ]
       },
       "quality_preset": {
        "enum": [
         "auto",
         "low",
         "medium",
         "high",
         "ultra",
         "source"
        ]
       },
       "custom_video_bitrate": {
        "type": [
         "integer",
         "string",
         "null"
        ]
       },
       "custom_audio_bitrate": {
        "type": [
         "integer",
         "string",
         "null"
        ]
       },
       "custom_fps": {
        "type": [
         "integer",
         "string",
         "null"
        ]
       },
       "custom_encoder_preset": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "openre.output-write-result.v1": {
    "title": "OpenreOutputWriteResult",
    "description": "openre.output-write-result@1: answers of openre.output.write on OpenRe.Stream. POST …/destinations → 201 { destination }; PATCH /api/v1/destinations/:id → { destination }; DELETE → 204 with no body (409 openre.destination_running while it still runs); POST …/test → { ok, checks } (URL rules, DNS, TCP reachability; each check { check, ok, detail }); POST …/start → { output } (for the stream's live session; 409 when held, disabled, keyless or not live); POST …/stop → { stopping } (outputs asked to stop).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "destination"
      ],
      "properties": {
       "destination": {
        "$ref": "#/components/schemas/openre.destination.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "checks"
      ],
      "properties": {
       "ok": {
        "type": "boolean"
       },
       "checks": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "check",
          "ok"
         ],
         "properties": {
          "check": {
           "type": "string"
          },
          "ok": {
           "type": "boolean"
          },
          "detail": {}
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "output"
      ],
      "properties": {
       "output": {
        "$ref": "#/components/schemas/openre.output.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "stopping"
      ],
      "properties": {
       "stopping": {
        "type": "integer",
        "minimum": 0
       }
      }
     }
    ]
   },
   "openre.output.v1": {
    "title": "OpenreOutput",
    "description": "openre.output@1: one restream output (a destination running for a live session) on OpenRe.Stream (server/store/outputs.js publicOutput), with its desired and actual state, restarts and progress.",
    "type": "object",
    "required": [
     "id",
     "session_id",
     "destination_id",
     "desired",
     "state"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "session_id": {
      "type": "string"
     },
     "destination_id": {
      "type": "string"
     },
     "desired": {
      "enum": [
       "run",
       "stop"
      ]
     },
     "state": {
      "type": "string"
     },
     "worker": {
      "type": [
       "object",
       "null"
      ]
     },
     "restart_attempts": {
      "type": "integer"
     },
     "max_restart_attempts": {
      "type": "integer"
     },
     "next_restart_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "ever_live": {
      "type": "boolean"
     },
     "last_error": {
      "type": [
       "string",
       "null"
      ]
     },
     "progress": {},
     "started_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "live_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "uptime_ms": {
      "type": "integer"
     },
     "ended_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     }
    }
   },
   "openre.session-end-result.v1": {
    "title": "OpenreSessionEndResult",
    "description": "openre.session-end-result@1: the answer of POST /api/v1/sessions/:id/end on OpenRe.Stream (openre.session.end): 202 { requested: true, state } when the owning worker was asked to disconnect the encoder, 409 { requested: false, state } when the session could not be ended (already ending or over).",
    "type": "object",
    "required": [
     "requested",
     "state"
    ],
    "properties": {
     "requested": {
      "type": "boolean"
     },
     "state": {
      "type": "string"
     }
    }
   },
   "openre.session-read-result.v1": {
    "title": "OpenreSessionReadResult",
    "description": "openre.session-read-result@1: answers of openre.session.read on OpenRe.Stream. GET /api/v1/sessions?stream_id=&state=&limit=&before= → { sessions } (the owner's; a service sees those of the subject it acts for); GET /api/v1/sessions/:id → { session } with transitions, outputs, recording and playback; GET /api/v1/sessions/:id/playback → { playback } (where to watch: flv and rtmp URLs, internal loopback and public); GET /api/v1/workers → { workers } (worker generations; staff and services only).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "sessions"
      ],
      "properties": {
       "sessions": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "stream_id",
          "protocol",
          "state",
          "created_at"
         ],
         "properties": {
          "id": {
           "type": "string"
          },
          "stream_id": {
           "type": "string"
          },
          "protocol": {
           "type": "string"
          },
          "state": {
           "enum": [
            "starting",
            "live",
            "ending",
            "ended",
            "failed"
           ]
          },
          "desired_state": {
           "type": [
            "string",
            "null"
           ]
          },
          "worker": {
           "type": [
            "object",
            "null"
           ]
          },
          "lease_expires_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "key_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "end_reason": {
           "type": [
            "string",
            "null"
           ]
          },
          "failure_reason": {
           "type": [
            "string",
            "null"
           ]
          },
          "media_info": {},
          "revision": {
           "type": "integer"
          },
          "created_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "live_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "ended_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "duration_seconds": {
           "type": "integer",
           "minimum": 0
          },
          "transitions": {
           "type": "array",
           "description": "GET /sessions/:id only."
          },
          "outputs": {
           "type": "array"
          },
          "recording": {
           "type": [
            "object",
            "null"
           ]
          },
          "playback": {
           "type": [
            "object",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "session"
      ],
      "properties": {
       "session": {
        "type": "object",
        "required": [
         "id",
         "stream_id",
         "protocol",
         "state",
         "created_at"
        ],
        "properties": {
         "id": {
          "type": "string"
         },
         "stream_id": {
          "type": "string"
         },
         "protocol": {
          "type": "string"
         },
         "state": {
          "enum": [
           "starting",
           "live",
           "ending",
           "ended",
           "failed"
          ]
         },
         "desired_state": {
          "type": [
           "string",
           "null"
          ]
         },
         "worker": {
          "type": [
           "object",
           "null"
          ]
         },
         "lease_expires_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "key_id": {
          "type": [
           "string",
           "null"
          ]
         },
         "end_reason": {
          "type": [
           "string",
           "null"
          ]
         },
         "failure_reason": {
          "type": [
           "string",
           "null"
          ]
         },
         "media_info": {},
         "revision": {
          "type": "integer"
         },
         "created_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "live_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "ended_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "duration_seconds": {
          "type": "integer",
          "minimum": 0
         },
         "transitions": {
          "type": "array",
          "description": "GET /sessions/:id only."
         },
         "outputs": {
          "type": "array"
         },
         "recording": {
          "type": [
           "object",
           "null"
          ]
         },
         "playback": {
          "type": [
           "object",
           "null"
          ]
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "playback"
      ],
      "properties": {
       "playback": {
        "type": [
         "object",
         "null"
        ],
        "required": [
         "session_id",
         "protocol",
         "state",
         "live"
        ],
        "properties": {
         "session_id": {
          "type": "string"
         },
         "protocol": {
          "type": "string"
         },
         "state": {
          "type": "string"
         },
         "live": {
          "type": "boolean"
         },
         "worker": {
          "type": [
           "object",
           "null"
          ]
         },
         "flv": {
          "type": [
           "object",
           "null"
          ],
          "properties": {
           "internal_url": {
            "type": "string"
           },
           "public_url": {
            "type": "string"
           },
           "content_type": {
            "type": "string"
           }
          }
         },
         "rtmp": {
          "type": [
           "object",
           "null"
          ]
         },
         "webrtc": {},
         "hls": {}
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "workers"
      ],
      "properties": {
       "workers": {
        "type": "array",
        "items": {
         "type": "object"
        }
       }
      }
     }
    ]
   },
   "openre.stream-read-result.v1": {
    "title": "OpenreStreamReadResult",
    "description": "openre.stream-read-result@1: answers of openre.stream.read on OpenRe.Stream. GET /api/v1/streams[?external_ref=<service>:<type>:<id>&limit=] → { streams } (the owner's, or the one bound to that external reference; staff may ask for all); GET /api/v1/streams/:id → { stream }; GET /api/v1/streams/:id/keys → { keys } (metadata only, never a key). Another owner's or an archived stream is 404 openre.stream_not_found.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "streams"
      ],
      "properties": {
       "streams": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/openre.stream.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "stream"
      ],
      "properties": {
       "stream": {
        "$ref": "#/components/schemas/openre.stream.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "keys"
      ],
      "properties": {
       "keys": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "status"
         ],
         "properties": {
          "id": {
           "type": "string"
          },
          "hint": {
           "type": "string"
          },
          "status": {
           "enum": [
            "active",
            "grace",
            "revoked"
           ]
          },
          "created_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "grace_until": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "revoked_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "last_used_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          }
         }
        }
       }
      }
     }
    ]
   },
   "openre.stream-write-request.v1": {
    "title": "OpenreStreamWriteRequest",
    "description": "openre.stream-write-request@1: the body of POST /api/v1/streams and PATCH /api/v1/streams/:id on OpenRe.Stream (openre.stream.write). A person creates streams for themselves; a service names the owner with X-OV-Subject (or owner_subject, which must then match). title is cleaned and cut to 140 characters (Untitled stream when blank), description to 2000; protocols is a non-empty subset of rtmp, whip, webrtc, jsmpeg; external_refs (create only, at most 10, each bound to one stream) link it to another service's record, e.g. { service: live, type: managed_stream, id: 12 }; state (update only) is active or disabled. Fields left out keep their value. DELETE /api/v1/streams/:id (archive; refused while live) takes no body. Refusals are 400 openre.invalid_* and 409 openre.ref_taken / openre.stream_live.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "owner_subject": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "title": {
        "type": [
         "string",
         "null"
        ]
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "protocols": {
        "type": "array",
        "minItems": 1,
        "items": {
         "enum": [
          "rtmp",
          "whip",
          "webrtc",
          "jsmpeg"
         ]
        }
       },
       "recording_mode": {
        "enum": [
         "vod",
         "clips",
         "none"
        ]
       },
       "recording_visibility": {
        "enum": [
         "public",
         "unlisted",
         "private"
        ]
       },
       "playback_visibility": {
        "enum": [
         "public",
         "unlisted",
         "private"
        ]
       },
       "mirror_to_live": {
        "type": [
         "boolean",
         "integer"
        ]
       },
       "state": {
        "enum": [
         "active",
         "disabled"
        ]
       },
       "external_refs": {
        "type": [
         "array",
         "null"
        ],
        "maxItems": 10,
        "items": {
         "type": "object",
         "required": [
          "service",
          "type",
          "id"
         ],
         "properties": {
          "service": {
           "type": "string"
          },
          "type": {
           "type": "string"
          },
          "id": {
           "type": [
            "string",
            "integer"
           ]
          },
          "label": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "openre.stream-write-result.v1": {
    "title": "OpenreStreamWriteResult",
    "description": "openre.stream-write-result@1: answers of openre.stream.write on OpenRe.Stream. POST /api/v1/streams → 201 { stream, key } where key is the first ingest key, shown once (Cache-Control no-store); PATCH /api/v1/streams/:id → { stream }; DELETE /api/v1/streams/:id → 204 with no body.",
    "type": "object",
    "required": [
     "stream"
    ],
    "properties": {
     "stream": {
      "$ref": "#/components/schemas/openre.stream.v1"
     },
     "key": {
      "type": "object",
      "required": [
       "id",
       "key",
       "hint",
       "shown_once"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "key": {
        "type": "string",
        "description": "The plain ingest key: only in this answer."
       },
       "hint": {
        "type": "string"
       },
       "shown_once": {
        "const": true
       }
      }
     }
    }
   },
   "openre.stream.v1": {
    "title": "OpenreStream",
    "description": "openre.stream@1: one stream definition as OpenRe.Stream's API shows it (server/api/v1.js publicDefinition): the owner's stream with its protocols, recording and playback settings, ingest endpoints, key metadata (hints only, never a key) and the open session if any.",
    "type": "object",
    "required": [
     "id",
     "title",
     "owner",
     "protocols",
     "recording_mode",
     "state",
     "revision",
     "ingest",
     "keys",
     "session",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "title": {
      "type": "string",
      "maxLength": 140
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "owner": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "protocols": {
      "type": "array",
      "items": {
       "enum": [
        "rtmp",
        "whip",
        "webrtc",
        "jsmpeg"
       ]
      }
     },
     "recording_mode": {
      "enum": [
       "vod",
       "clips",
       "none"
      ]
     },
     "recording_visibility": {
      "enum": [
       "public",
       "unlisted",
       "private"
      ]
     },
     "playback_visibility": {
      "enum": [
       "public",
       "unlisted",
       "private"
      ]
     },
     "mirror_to_live": {
      "type": [
       "integer",
       "boolean"
      ]
     },
     "state": {
      "enum": [
       "active",
       "disabled",
       "archived"
      ]
     },
     "revision": {
      "type": "integer"
     },
     "external_refs": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "service",
        "type",
        "id"
       ],
       "properties": {
        "service": {
         "type": "string"
        },
        "type": {
         "type": "string"
        },
        "id": {
         "type": [
          "string",
          "integer"
         ]
        },
        "label": {
         "type": [
          "string",
          "null"
         ]
        }
       }
      }
     },
     "ingest": {
      "type": "object",
      "description": "Where an encoder publishes (never the key).",
      "properties": {
       "rtmp": {
        "type": "object",
        "required": [
         "url"
        ],
        "properties": {
         "url": {
          "type": "string"
         },
         "key_hint": {
          "type": [
           "string",
           "null"
          ]
         },
         "key_id": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       }
      }
     },
     "keys": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "id",
        "hint",
        "status"
       ],
       "properties": {
        "id": {
         "type": "string"
        },
        "hint": {
         "type": "string"
        },
        "status": {
         "enum": [
          "active",
          "grace",
          "revoked"
         ]
        },
        "grace_until": {
         "type": [
          "string",
          "null"
         ],
         "format": "date-time"
        },
        "created_at": {
         "type": [
          "string",
          "null"
         ],
         "format": "date-time"
        },
        "last_used_at": {
         "type": [
          "string",
          "null"
         ],
         "format": "date-time"
        }
       }
      }
     },
     "session": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "state": {
        "type": "string"
       },
       "protocol": {
        "type": "string"
       },
       "live_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
