{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Reviews API",
  "version": "0.52.0",
  "description": "Routes of OpenVibe.Reviews as the OpenVibe contracts describe them (openvibe-contracts 0.52.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.reviews"
  }
 ],
 "paths": {
  "/api/v1/corrections": {
   "get": {
    "operationId": "get_api_v1_corrections",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/corrections/{id}": {
   "patch": {
    "operationId": "patch_api_v1_corrections_id",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities": {
   "get": {
    "operationId": "get_api_v1_entities",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_entities",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}": {
   "delete": {
    "operationId": "delete_api_v1_entities_ref",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_entities_ref",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_entities_ref",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/aggregate": {
   "get": {
    "operationId": "get_api_v1_entities_ref_aggregate",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/aliases": {
   "post": {
    "operationId": "post_api_v1_entities_ref_aliases",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/aliases/{id}": {
   "delete": {
    "operationId": "delete_api_v1_entities_ref_aliases_id",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/corrections": {
   "post": {
    "operationId": "post_api_v1_entities_ref_corrections",
    "summary": "Send a correction (about an entity, alias, signal, summary or aggregate, with an optional evidence URL) to the editors' queue on behalf of the person named in X-OV-Subject.",
    "description": "**reviews.correction.submit** (first-party): Send a correction (about an entity, alias, signal, summary or aggregate, with an optional evidence URL) to the editors' queue on behalf of the person named in X-OV-Subject. Corrections are read by editors and not published.",
    "tags": [
     "reviews.correction"
    ],
    "x-openvibe-capabilities": [
     "reviews.correction.submit"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-corrections",
    "security": [
     {
      "openvibeToken": [
       "reviews.correction.submit"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.correction-submit-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.correction-submit-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/history": {
   "get": {
    "operationId": "get_api_v1_entities_ref_history",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/links": {
   "post": {
    "operationId": "post_api_v1_entities_ref_links",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/links/{id}": {
   "delete": {
    "operationId": "delete_api_v1_entities_ref_links_id",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/merge": {
   "post": {
    "operationId": "post_api_v1_entities_ref_merge",
    "summary": "Merge one entity into another, decided by the editor named in X-OV-Subject (never a service on its own).",
    "description": "**reviews.entity.merge** (first-party): Merge one entity into another, decided by the editor named in X-OV-Subject (never a service on its own). Nothing is rewritten: the merged entity keeps its aliases and its signals keep their attribution; an audited merged_into link records who, when and why, and the target's aggregate is recomputed over both. Reversible with reviews.entity.split.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.merge"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.merge"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-merge-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-merge-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/split": {
   "post": {
    "operationId": "post_api_v1_entities_ref_split",
    "summary": "Undo a merge, decided by the editor named in X-OV-Subject: ends the merged_into link (audited) and restores the pre-merge attribution exactly; both aggregates are recomputed and a summary that cited t",
    "description": "**reviews.entity.split** (first-party): Undo a merge, decided by the editor named in X-OV-Subject: ends the merged_into link (audited) and restores the pre-merge attribution exactly; both aggregates are recomputed and a summary that cited the split-off signals is flagged with a pending revision.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.split"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.split"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-split-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-split-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/summary/proposals": {
   "post": {
    "operationId": "post_api_v1_entities_ref_summary_proposals",
    "summary": "The OpenVibe.AI seam (workflow reviews.summarize_entity): propose a summary revision whose every pro and con cites signals of the entity.",
    "description": "**reviews.summary.propose** (first-party): The OpenVibe.AI seam (workflow reviews.summarize_entity): propose a summary revision whose every pro and con cites signals of the entity. It is stored with ai authorship (workflow and run id, stub-provider flag), is never published by this call, stays out of pages, feeds and Search until a person approves it, and can never carry a rating (rating fields and rating text are refused).",
    "tags": [
     "reviews.summary"
    ],
    "x-openvibe-capabilities": [
     "reviews.summary.propose"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.summary.propose"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.summary-propose-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.summary-propose-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/summary/publish": {
   "post": {
    "operationId": "post_api_v1_entities_ref_summary_publish",
    "summary": "Write, review (approve or reject), publish and unpublish summary revisions as the editor named in X-OV-Subject.",
    "description": "**reviews.summary.publish** (first-party): Write, review (approve or reject), publish and unpublish summary revisions as the editor named in X-OV-Subject. Publishing refuses AI or system-prepared revisions without a person's approval and any revision with a point that cites no live signal of the entity.",
    "tags": [
     "reviews.summary"
    ],
    "x-openvibe-capabilities": [
     "reviews.summary.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.summary.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.summary-publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.summary-publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/summary/revisions": {
   "post": {
    "operationId": "post_api_v1_entities_ref_summary_revisions",
    "summary": "Write, review (approve or reject), publish and unpublish summary revisions as the editor named in X-OV-Subject.",
    "description": "**reviews.summary.publish** (first-party): Write, review (approve or reject), publish and unpublish summary revisions as the editor named in X-OV-Subject. Publishing refuses AI or system-prepared revisions without a person's approval and any revision with a point that cites no live signal of the entity.",
    "tags": [
     "reviews.summary"
    ],
    "x-openvibe-capabilities": [
     "reviews.summary.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.summary.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.summary-publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.summary-publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/summary/revisions/{n}": {
   "get": {
    "operationId": "get_api_v1_entities_ref_summary_revisions_n",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/summary/revisions/{n}/review": {
   "post": {
    "operationId": "post_api_v1_entities_ref_summary_revisions_n_review",
    "summary": "Write, review (approve or reject), publish and unpublish summary revisions as the editor named in X-OV-Subject.",
    "description": "**reviews.summary.publish** (first-party): Write, review (approve or reject), publish and unpublish summary revisions as the editor named in X-OV-Subject. Publishing refuses AI or system-prepared revisions without a person's approval and any revision with a point that cites no live signal of the entity.",
    "tags": [
     "reviews.summary"
    ],
    "x-openvibe-capabilities": [
     "reviews.summary.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.summary.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.summary-publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.summary-publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entities/{ref}/summary/unpublish": {
   "post": {
    "operationId": "post_api_v1_entities_ref_summary_unpublish",
    "summary": "Write, review (approve or reject), publish and unpublish summary revisions as the editor named in X-OV-Subject.",
    "description": "**reviews.summary.publish** (first-party): Write, review (approve or reject), publish and unpublish summary revisions as the editor named in X-OV-Subject. Publishing refuses AI or system-prepared revisions without a person's approval and any revision with a point that cites no live signal of the entity.",
    "tags": [
     "reviews.summary"
    ],
    "x-openvibe-capabilities": [
     "reviews.summary.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.summary.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.summary-publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.summary-publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/items": {
   "get": {
    "operationId": "get_api_v1_items",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/items/{id}": {
   "get": {
    "operationId": "get_api_v1_items_id",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/items/{id}/resolution": {
   "post": {
    "operationId": "post_api_v1_items_id_resolution",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/resolve": {
   "post": {
    "operationId": "post_api_v1_resolve",
    "summary": "Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, si",
    "description": "**reviews.entity.resolve** (first-party): Resolve a name, URL, GTIN/SKU/MPN, source binding or external id to an entity (deterministic rules; a name alone yields candidates, never a match), read entity pages as JSON (aggregate with inputs, signals with provenance, summary), their history and summary revisions, and — for an editor named in X-OV-Subject — read the resolution queue and confirm or ignore an ambiguous source item.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-read",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.resolve"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-resolve-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/signals/import": {
   "post": {
    "operationId": "post_api_v1_signals_import",
    "summary": "Import review signals from OpenVibe.Sources: one item by id, or the next pages of category-reviews items in change order.",
    "description": "**reviews.signal.import** (first-party): Import review signals from OpenVibe.Sources: one item by id, or the next pages of category-reviews items in change order. Reviews fetches the item itself (sources.item.read), keeps its provenance (source, item revision, retrieval time, licence note) and only the signal fields, never review text. Removed or revised items withdraw or replace their signal; the next aggregate revision reflects it.",
    "tags": [
     "reviews.signal"
    ],
    "x-openvibe-capabilities": [
     "reviews.signal.import"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.signal.import"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.signal-import-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.signal-import-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sources/sync": {
   "post": {
    "operationId": "post_api_v1_sources_sync",
    "summary": "Import review signals from OpenVibe.Sources: one item by id, or the next pages of category-reviews items in change order.",
    "description": "**reviews.signal.import** (first-party): Import review signals from OpenVibe.Sources: one item by id, or the next pages of category-reviews items in change order. Reviews fetches the item itself (sources.item.read), keeps its provenance (source, item revision, retrieval time, licence note) and only the signal fields, never review text. Removed or revised items withdraw or replace their signal; the next aggregate revision reflects it.",
    "tags": [
     "reviews.signal"
    ],
    "x-openvibe-capabilities": [
     "reviews.signal.import"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.signal.import"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.signal-import-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.signal-import-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/trust": {
   "post": {
    "operationId": "post_api_v1_trust",
    "summary": "Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another",
    "description": "**reviews.entity.manage** (first-party): Editorial management of entities for the editor named in X-OV-Subject: create, edit, rename (old slugs redirect) and delete entities, add and remove aliases, typed links between entities or to another service's EntityRef, trust metadata (exclude a source or signal from aggregates with a visible reason, limitation and verification notes), and the correction queue.",
    "tags": [
     "reviews.entity"
    ],
    "x-openvibe-capabilities": [
     "reviews.entity.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "reviews-write",
    "security": [
     {
      "openvibeToken": [
       "reviews.entity.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/reviews.entity-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/reviews.entity-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.entity-ref.v1": {
    "title": "EntityRef",
    "description": "Typed reference to another service's entity. Store this instead of a foreign key; resolve a display projection from the owner.",
    "type": "object",
    "required": [
     "service",
     "type",
     "id"
    ],
    "additionalProperties": false,
    "properties": {
     "service": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$"
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$"
     },
     "id": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
     },
     "revision": {
      "type": "integer",
      "minimum": 0
     },
     "label": {
      "type": "string",
      "maxLength": 200,
      "description": "Cached display label. Never authoritative."
     }
    }
   },
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "reviews.correction-submit-request.v1": {
    "title": "ReviewsCorrectionSubmitRequest",
    "description": "reviews.correction-submit-request@1: the body of reviews.correction.submit on OpenVibe.Reviews: POST /api/v1/entities/:ref/corrections { body, target_type?, target_id?, evidence_url? } sends a correction to the editors' queue for the person named in X-OV-Subject (a signed-in person: 403 reviews.person_required). Refusals: 422 correction.invalid (unknown target_type, body under 10 or over 4000 characters, evidence_url not http(s)), 409 correction.duplicate (the same open request again), 429 correction.rate_limited (20 a day per person), 404 entity.not_found, 410 entity.deleted.",
    "type": "object",
    "required": [
     "body"
    ],
    "properties": {
     "body": {
      "type": "string",
      "minLength": 10,
      "maxLength": 4000,
      "description": "What is wrong, 10–4000 characters once trimmed."
     },
     "target_type": {
      "enum": [
       "entity",
       "alias",
       "signal",
       "summary",
       "aggregate"
      ],
      "description": "Default entity."
     },
     "target_id": {
      "type": [
       "string",
       "null"
      ],
      "description": "Cut to 100 characters."
     },
     "evidence_url": {
      "type": [
       "string",
       "null"
      ],
      "description": "An http(s) URL."
     }
    }
   },
   "reviews.correction-submit-result.v1": {
    "title": "ReviewsCorrectionSubmitResult",
    "description": "reviews.correction-submit-result@1: the answer of reviews.correction.submit on OpenVibe.Reviews: POST /api/v1/entities/:ref/corrections → 201 { correction } (open, filed under the canonical entity).",
    "type": "object",
    "required": [
     "correction"
    ],
    "properties": {
     "correction": {
      "$ref": "#/components/schemas/reviews.correction.v1"
     }
    }
   },
   "reviews.correction.v1": {
    "title": "ReviewsCorrection",
    "description": "reviews.correction@1: one correction request in the OpenVibe.Reviews editors' queue (the review_corrections row): what a person says is wrong about an entity, alias, signal, summary or aggregate, with an optional evidence URL, and how an editor resolved it. Corrections are read by editors and not published. Timestamps are epoch milliseconds.",
    "type": "object",
    "required": [
     "id",
     "entity_id",
     "target_type",
     "target_id",
     "body",
     "evidence_url",
     "submitted_by",
     "via",
     "status",
     "resolved_by",
     "resolution_note",
     "resolved_at",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^cor_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "entity_id": {
      "type": "string",
      "pattern": "^ent_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "target_type": {
      "enum": [
       "entity",
       "alias",
       "signal",
       "summary",
       "aggregate"
      ]
     },
     "target_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "body": {
      "type": "string"
     },
     "evidence_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "submitted_by": {
      "type": "string"
     },
     "via": {
      "type": [
       "string",
       "null"
      ],
      "description": "The service that sent it for the person, if any."
     },
     "status": {
      "enum": [
       "open",
       "accepted",
       "rejected"
      ]
     },
     "resolved_by": {
      "type": [
       "string",
       "null"
      ]
     },
     "resolution_note": {
      "type": [
       "string",
       "null"
      ],
      "description": "Stays with the editors."
     },
     "resolved_at": {
      "type": [
       "integer",
       "null"
      ],
      "description": "Epoch milliseconds, or null."
     },
     "created_at": {
      "type": "integer",
      "description": "Epoch milliseconds."
     }
    }
   },
   "reviews.entity-link.v1": {
    "title": "ReviewsEntityLink",
    "description": "reviews.entity-link@1: one typed link on OpenVibe.Reviews (the review_entity_links row): between two entities (related, edition_of, successor_of, part_of; a merge is a merged_into link and a split ends it) or to another service's entity (external_ref, with ref holding the EntityRef as JSON text). Ending a link keeps it with who, when and why. Timestamps are epoch milliseconds.",
    "type": "object",
    "required": [
     "id",
     "from_entity",
     "to_entity",
     "type",
     "ref",
     "note",
     "created_by",
     "created_at",
     "ended_at",
     "ended_by",
     "end_note"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^lnk_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "from_entity": {
      "type": "string",
      "pattern": "^ent_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "to_entity": {
      "type": [
       "string",
       "null"
      ]
     },
     "type": {
      "enum": [
       "merged_into",
       "related",
       "edition_of",
       "successor_of",
       "part_of",
       "external_ref"
      ]
     },
     "ref": {
      "type": [
       "string",
       "null"
      ],
      "description": "external_ref links: the common.entity-ref@1 as JSON text."
     },
     "note": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_by": {
      "type": "string"
     },
     "created_at": {
      "type": "integer",
      "description": "Epoch milliseconds."
     },
     "ended_at": {
      "type": [
       "integer",
       "null"
      ],
      "description": "Epoch milliseconds, or null."
     },
     "ended_by": {
      "type": [
       "string",
       "null"
      ]
     },
     "end_note": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "reviews.entity-manage-request.v1": {
    "title": "ReviewsEntityManageRequest",
    "description": "reviews.entity-manage-request@1: bodies of reviews.entity.manage on OpenVibe.Reviews (Reviews editors; a service acts for the editor in X-OV-Subject, and every route but POST /api/v1/entities needs that person: 403 reviews.person_required / reviews.editor_required). POST /api/v1/entities { name, kind?, description?, slug?, aliases? } (201; 422 entity.invalid_name, entity.invalid_kind, alias.invalid; 409 entity.slug_taken, alias.taken). PATCH /api/v1/entities/:ref { name?, kind?, description?, slug?, noindex? } (a new slug redirects the old one; 409 entity.not_active). DELETE /api/v1/entities/:ref { note? } (409 entity.has_merges, entity.has_signals). POST /api/v1/entities/:ref/aliases { type, value } (201). POST /api/v1/entities/:ref/links { type, to? | ref?, note? } (to names an entity; an external_ref link carries ref, another service's EntityRef). DELETE /api/v1/entities/:ref/links/:id { note? }. POST /api/v1/trust { scope, scope_id, key, value?, note? } (excluding a source or signal from aggregates needs a note readers see: 422 trust.reason_required). PATCH /api/v1/corrections/:id { status, note?, correction_note?, summary? } (accepting a request about an entity with a published summary corrects it with the public correction_note; a service also needs reviews.summary.publish for that). GET /api/v1/corrections and DELETE /api/v1/entities/:ref/aliases/:id take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "name"
      ],
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
       },
       "kind": {
        "enum": [
         "product",
         "game",
         "software",
         "service",
         "place",
         "organization",
         "media",
         "other"
        ],
        "description": "Default other."
       },
       "description": {
        "type": [
         "string",
         "null"
        ],
        "description": "Cut to 2000 characters."
       },
       "slug": {
        "type": [
         "string",
         "null"
        ]
       },
       "aliases": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "type",
          "value"
         ],
         "properties": {
          "type": {
           "enum": [
            "name",
            "url",
            "sku",
            "gtin",
            "mpn",
            "source",
            "external"
           ]
          },
          "value": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
       },
       "kind": {
        "enum": [
         "product",
         "game",
         "software",
         "service",
         "place",
         "organization",
         "media",
         "other"
        ]
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "slug": {
        "type": "string"
       },
       "noindex": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "note": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "type",
       "value"
      ],
      "properties": {
       "type": {
        "enum": [
         "name",
         "url",
         "sku",
         "gtin",
         "mpn",
         "source",
         "external"
        ]
       },
       "value": {
        "type": "string",
        "minLength": 1
       }
      }
     },
     {
      "type": "object",
      "required": [
       "type"
      ],
      "properties": {
       "type": {
        "enum": [
         "related",
         "edition_of",
         "successor_of",
         "part_of",
         "external_ref"
        ]
       },
       "to": {
        "type": "string",
        "minLength": 1,
        "description": "An entity id (ent_…) or its slug."
       },
       "ref": {
        "$ref": "#/components/schemas/common.entity-ref.v1"
       },
       "note": {
        "type": [
         "string",
         "null"
        ],
        "description": "Cut to 500 characters."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "scope",
       "scope_id",
       "key"
      ],
      "properties": {
       "scope": {
        "enum": [
         "source",
         "signal",
         "entity"
        ]
       },
       "scope_id": {
        "type": "string",
        "minLength": 1
       },
       "key": {
        "enum": [
         "aggregate",
         "limitation",
         "verification"
        ]
       },
       "value": {
        "type": [
         "string",
         "null"
        ],
        "description": "aggregate: include or exclude; limitation and verification: text (empty ends the fact)."
       },
       "note": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "status"
      ],
      "properties": {
       "status": {
        "enum": [
         "accepted",
         "rejected"
        ]
       },
       "note": {
        "type": [
         "string",
         "null"
        ],
        "description": "Stays with the editors."
       },
       "correction_note": {
        "type": [
         "string",
         "null"
        ],
        "description": "The public note of the summary correction, 10–2000 characters."
       },
       "summary": {
        "type": "object",
        "description": "New text for the corrected summary; default the published text carried forward.",
        "properties": {
         "overview": {
          "type": "string",
          "description": "At most 6000 characters."
         },
         "overview_signals": {
          "type": "array",
          "items": {
           "type": "string",
           "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "description": "The signals the overview rests on (needed when there are no pros or cons)."
         },
         "pros": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "text",
            "signals"
           ],
           "additionalProperties": false,
           "properties": {
            "text": {
             "type": "string",
             "minLength": 1,
             "description": "At most 600 characters once whitespace is collapsed."
            },
            "signals": {
             "anyOf": [
              {
               "type": "string",
               "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
              },
              {
               "type": "array",
               "items": {
                "type": "string",
                "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
               },
               "minItems": 1
              }
             ],
             "description": "The live signals of the entity the point rests on (at least one)."
            }
           }
          },
          "maxItems": 12
         },
         "cons": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "text",
            "signals"
           ],
           "additionalProperties": false,
           "properties": {
            "text": {
             "type": "string",
             "minLength": 1,
             "description": "At most 600 characters once whitespace is collapsed."
            },
            "signals": {
             "anyOf": [
              {
               "type": "string",
               "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
              },
              {
               "type": "array",
               "items": {
                "type": "string",
                "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
               },
               "minItems": 1
              }
             ],
             "description": "The live signals of the entity the point rests on (at least one)."
            }
           }
          },
          "maxItems": 12
         }
        }
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "reviews.entity-manage-result.v1": {
    "title": "ReviewsEntityManageResult",
    "description": "reviews.entity-manage-result@1: answers of reviews.entity.manage on OpenVibe.Reviews. POST /api/v1/entities → 201 { entity, settled_items } (items the new aliases resolved); PATCH and DELETE /api/v1/entities/:ref → { entity }. POST …/aliases → 201 { alias, settled_items }; DELETE …/aliases/:id → { alias }. POST …/links → 201 { link }; DELETE …/links/:id → { link } (ended). POST /api/v1/trust → { scope, scope_id, key, current, affected_entities }. GET /api/v1/corrections → { corrections } (open, oldest first, with the entity row and whether its summary is published). PATCH /api/v1/corrections/:id → { correction, revision } (the correction revision when accepting corrected a published summary, else null). Row timestamps are epoch milliseconds.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "entity"
      ],
      "properties": {
       "entity": {
        "$ref": "#/components/schemas/reviews.entity.v1"
       },
       "settled_items": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     {
      "type": "object",
      "required": [
       "alias"
      ],
      "properties": {
       "alias": {
        "type": "object",
        "required": [
         "id",
         "entity_id",
         "type",
         "value",
         "norm",
         "created_by",
         "created_at",
         "removed_at",
         "removed_by"
        ],
        "properties": {
         "id": {
          "type": "string",
          "pattern": "^als_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         "entity_id": {
          "type": "string",
          "pattern": "^ent_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         "type": {
          "enum": [
           "name",
           "url",
           "sku",
           "gtin",
           "mpn",
           "source",
           "external"
          ]
         },
         "value": {
          "type": "string"
         },
         "norm": {
          "type": "string"
         },
         "created_by": {
          "type": "string"
         },
         "created_at": {
          "type": "integer",
          "description": "Epoch milliseconds."
         },
         "removed_at": {
          "type": [
           "integer",
           "null"
          ],
          "description": "Epoch milliseconds, or null."
         },
         "removed_by": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       },
       "settled_items": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     {
      "type": "object",
      "required": [
       "link"
      ],
      "properties": {
       "link": {
        "$ref": "#/components/schemas/reviews.entity-link.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "scope",
       "scope_id",
       "key",
       "current",
       "affected_entities"
      ],
      "properties": {
       "scope": {
        "enum": [
         "source",
         "signal",
         "entity"
        ]
       },
       "scope_id": {
        "type": "string"
       },
       "key": {
        "enum": [
         "aggregate",
         "limitation",
         "verification"
        ]
       },
       "current": {
        "type": [
         "object",
         "null"
        ],
        "required": [
         "id",
         "scope",
         "scope_id",
         "key",
         "value",
         "note",
         "set_by",
         "set_at"
        ],
        "description": "The trust fact now in force, or null (aggregate include and an empty value end it).",
        "properties": {
         "id": {
          "type": "integer"
         },
         "scope": {
          "type": "string"
         },
         "scope_id": {
          "type": "string"
         },
         "key": {
          "type": "string"
         },
         "value": {
          "type": "string"
         },
         "note": {
          "type": [
           "string",
           "null"
          ]
         },
         "set_by": {
          "type": "string"
         },
         "set_at": {
          "type": "integer",
          "description": "Epoch milliseconds."
         },
         "ended_at": {
          "type": [
           "integer",
           "null"
          ],
          "description": "Epoch milliseconds, or null."
         },
         "ended_by": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       },
       "affected_entities": {
        "type": "array",
        "items": {
         "type": "string",
         "pattern": "^ent_[0-9A-HJKMNP-TV-Z]{26}$"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "corrections"
      ],
      "properties": {
       "corrections": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "entity_id",
          "target_type",
          "body",
          "submitted_by",
          "status",
          "created_at",
          "entity",
          "summary_published"
         ],
         "properties": {
          "id": {
           "type": "string",
           "pattern": "^cor_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "entity_id": {
           "type": "string"
          },
          "target_type": {
           "type": "string"
          },
          "target_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "body": {
           "type": "string"
          },
          "evidence_url": {
           "type": [
            "string",
            "null"
           ]
          },
          "submitted_by": {
           "type": "string"
          },
          "via": {
           "type": [
            "string",
            "null"
           ]
          },
          "status": {
           "type": "string"
          },
          "resolved_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "resolution_note": {
           "type": [
            "string",
            "null"
           ]
          },
          "resolved_at": {
           "type": [
            "integer",
            "null"
           ],
           "description": "Epoch milliseconds, or null."
          },
          "created_at": {
           "type": "integer",
           "description": "Epoch milliseconds."
          },
          "entity": {
           "type": [
            "object",
            "null"
           ],
           "description": "The canonical entity's review_entities row."
          },
          "summary_published": {
           "type": "boolean"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "correction",
       "revision"
      ],
      "properties": {
       "correction": {
        "$ref": "#/components/schemas/reviews.correction.v1"
       },
       "revision": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/reviews.summary-revision.v1"
         },
         {
          "type": "null"
         }
        ]
       }
      }
     }
    ]
   },
   "reviews.entity-merge-request.v1": {
    "title": "ReviewsEntityMergeRequest",
    "description": "reviews.entity-merge-request@1: the body of reviews.entity.merge on OpenVibe.Reviews: POST /api/v1/entities/:ref/merge { into, note? } merges :ref into another active entity, decided by the editor named in X-OV-Subject (403 reviews.person_required / reviews.editor_required). Nothing is rewritten: an audited merged_into link records who, when and why. Refusals: 404 entity.not_found, 422 merge.same_entity, 409 merge.not_active, 409 merge.target_not_active (with canonical_id), 409 merge.cycle.",
    "type": "object",
    "required": [
     "into"
    ],
    "properties": {
     "into": {
      "type": "string",
      "minLength": 1,
      "description": "An entity id (ent_…) or its slug."
     },
     "note": {
      "type": [
       "string",
       "null"
      ],
      "description": "Cut to 500 characters."
     }
    }
   },
   "reviews.entity-merge-result.v1": {
    "title": "ReviewsEntityMergeResult",
    "description": "reviews.entity-merge-result@1: the answer of reviews.entity.merge on OpenVibe.Reviews: POST /api/v1/entities/:ref/merge → { link, entity, into, signals } — the merged_into link, the merged entity, the entity it now lives under (its aggregate recomputed over both) and the ids of the active signals that now count there. Emits reviews.entity.merged.",
    "type": "object",
    "required": [
     "link",
     "entity",
     "into",
     "signals"
    ],
    "properties": {
     "link": {
      "$ref": "#/components/schemas/reviews.entity-link.v1"
     },
     "entity": {
      "$ref": "#/components/schemas/reviews.entity.v1"
     },
     "into": {
      "$ref": "#/components/schemas/reviews.entity.v1"
     },
     "signals": {
      "type": "array",
      "items": {
       "type": "string",
       "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
      }
     }
    }
   },
   "reviews.entity-resolve-request.v1": {
    "title": "ReviewsEntityResolveRequest",
    "description": "reviews.entity-resolve-request@1: bodies of reviews.entity.resolve on OpenVibe.Reviews. POST /api/v1/resolve { name?, url?, gtin?, sku?, mpn?, source?, external? } resolves identifiers to an entity by deterministic rules (at least one: 422 resolve.empty; a name alone yields candidates, never a match). POST /api/v1/items/:id/resolution { entity, add_alias? } confirms an ambiguous or unmatched item for an entity (add_alias remembers that identifier of the item), or { ignore: true, note? } ignores it — both for an editor named in X-OV-Subject (403 reviews.person_required / reviews.editor_required; 404 item.not_found, 409 item.removed, 409 entity.not_active, 422 alias.invalid). GET /api/v1/entities, /entities/:ref, /entities/:ref/history, /entities/:ref/aggregate, /entities/:ref/summary/revisions/:n, /items and /items/:id take no body.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "name": {
        "type": "string"
       },
       "url": {
        "type": "string",
        "description": "An absolute http(s) URL."
       },
       "gtin": {
        "type": "string",
        "description": "8, 12, 13 or 14 digits."
       },
       "sku": {
        "type": "string"
       },
       "mpn": {
        "type": "string"
       },
       "source": {
        "type": "string",
        "description": "An OpenVibe.Sources source key bound to one entity."
       },
       "external": {
        "type": "string",
        "description": "namespace:id, e.g. steam_app:620."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "entity"
      ],
      "properties": {
       "entity": {
        "type": "string",
        "minLength": 1,
        "description": "An entity id (ent_…) or its slug."
       },
       "add_alias": {
        "enum": [
         "name",
         "url",
         "sku",
         "gtin",
         "mpn",
         "source",
         "external"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ignore"
      ],
      "properties": {
       "ignore": {
        "const": true
       },
       "note": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "reviews.entity-resolve-result.v1": {
    "title": "ReviewsEntityResolveResult",
    "description": "reviews.entity-resolve-result@1: answers of reviews.entity.resolve on OpenVibe.Reviews. GET /api/v1/entities?q=&limit=&offset= → { entities, total } (total only when listing; a search by q answers { entities }). POST /api/v1/resolve → { match: exact | ambiguous | none, entity, via, rule, candidates }. GET /api/v1/entities/:ref → the entity page as JSON: { entity, aliases, merged_from, links, aggregate, aggregate_revision, signals, inactive_signals, sources, entity_trust, summary, open_corrections, decision, editor }, or { entity, canonical } for a merged or deleted entity. GET …/history → { entity, aggregates, summary_revisions, merges, signals, audit } (410 entity.deleted for readers). GET …/aggregate → { entity_id, aggregate, aggregate_revision } (409 entity.merged, 410 entity.deleted). GET …/summary/revisions/:n → { revision }. GET /api/v1/items → { items } (the resolution queue; editors). GET /api/v1/items/:id → { item } (410 item.removed). POST /api/v1/items/:id/resolution → { item, signal, settled_items } when confirmed, { item } when ignored.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "entities"
      ],
      "properties": {
       "entities": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/reviews.entity.v1"
        }
       },
       "total": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     {
      "type": "object",
      "required": [
       "match",
       "entity",
       "via",
       "rule",
       "candidates"
      ],
      "properties": {
       "match": {
        "enum": [
         "exact",
         "ambiguous",
         "none"
        ]
       },
       "entity": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/reviews.entity.v1"
         },
         {
          "type": "null"
         }
        ]
       },
       "via": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/reviews.entity.v1"
         },
         {
          "type": "null"
         }
        ],
        "description": "The merged entity the identifier named, when it led to its canonical entity."
       },
       "rule": {
        "type": [
         "string",
         "null"
        ]
       },
       "candidates": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "rule",
          "entity"
         ],
         "properties": {
          "rule": {
           "type": "string"
          },
          "entity": {
           "$ref": "#/components/schemas/reviews.entity.v1"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "entity",
       "aliases",
       "merged_from",
       "links",
       "aggregate",
       "aggregate_revision",
       "signals",
       "inactive_signals",
       "sources",
       "entity_trust",
       "summary",
       "open_corrections",
       "decision",
       "editor"
      ],
      "properties": {
       "entity": {
        "$ref": "#/components/schemas/reviews.entity.v1"
       },
       "aliases": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "type",
          "value"
         ],
         "properties": {
          "id": {
           "type": "string",
           "pattern": "^als_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "type": {
           "enum": [
            "name",
            "url",
            "sku",
            "gtin",
            "mpn",
            "source",
            "external"
           ]
          },
          "value": {
           "type": "string"
          }
         }
        }
       },
       "merged_from": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/reviews.entity.v1"
        }
       },
       "links": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "type",
          "from",
          "to",
          "ref",
          "note",
          "other",
          "direction",
          "created_at"
         ],
         "properties": {
          "id": {
           "type": "string",
           "pattern": "^lnk_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "type": {
           "enum": [
            "merged_into",
            "related",
            "edition_of",
            "successor_of",
            "part_of",
            "external_ref"
           ]
          },
          "from": {
           "type": "string"
          },
          "to": {
           "type": [
            "string",
            "null"
           ]
          },
          "ref": {
           "anyOf": [
            {
             "$ref": "#/components/schemas/common.entity-ref.v1"
            },
            {
             "type": "null"
            }
           ]
          },
          "note": {
           "type": [
            "string",
            "null"
           ]
          },
          "other": {
           "anyOf": [
            {
             "$ref": "#/components/schemas/reviews.entity.v1"
            },
            {
             "type": "null"
            }
           ]
          },
          "direction": {
           "enum": [
            "out",
            "in"
           ]
          },
          "created_at": {
           "type": "string",
           "format": "date-time"
          }
         }
        }
       },
       "aggregate": {
        "anyOf": [
         {
          "type": "object",
          "required": [
           "revision",
           "computed_at",
           "trigger",
           "result"
          ],
          "description": "One immutable aggregate revision: a pure function of the live signals and the editors' trust decisions.",
          "properties": {
           "revision": {
            "type": "integer",
            "minimum": 1
           },
           "computed_at": {
            "type": "string",
            "format": "date-time"
           },
           "trigger": {
            "type": "string"
           },
           "result": {
            "type": [
             "object",
             "null"
            ],
            "required": [
             "method",
             "components",
             "inputs",
             "excluded",
             "sources",
             "observed",
             "computation"
            ],
            "description": "null once no qualifying signal is left.",
            "properties": {
             "method": {
              "type": "string",
              "description": "reviews-aggregate@1"
             },
             "components": {
              "type": "object",
              "properties": {
               "recommendation": {
                "type": "object",
                "required": [
                 "positive",
                 "total",
                 "percent",
                 "inputs"
                ],
                "properties": {
                 "positive": {
                  "type": "integer"
                 },
                 "total": {
                  "type": "integer"
                 },
                 "percent": {
                  "type": "number"
                 },
                 "inputs": {
                  "type": "array",
                  "items": {
                   "type": "string",
                   "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
                  }
                 }
                }
               },
               "rating": {
                "type": "object",
                "required": [
                 "count",
                 "percent",
                 "inputs"
                ],
                "properties": {
                 "count": {
                  "type": "integer"
                 },
                 "percent": {
                  "type": "number"
                 },
                 "inputs": {
                  "type": "array",
                  "items": {
                   "type": "string",
                   "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
                  }
                 },
                 "on_scale": {
                  "type": "object",
                  "required": [
                   "value",
                   "best"
                  ],
                  "properties": {
                   "value": {
                    "type": "number"
                   },
                   "best": {
                    "type": "number"
                   },
                   "worst": {
                    "type": "number"
                   }
                  }
                 }
                }
               }
              }
             },
             "inputs": {
              "type": "array",
              "items": {
               "type": "object",
               "description": "Each signal that entered: signal_id, type, source_key, source_item_id, entity_id, observed_at, its values and weight."
              }
             },
             "excluded": {
              "type": "array",
              "items": {
               "type": "object",
               "required": [
                "signal_id",
                "reason",
                "note"
               ],
               "properties": {
                "signal_id": {
                 "type": "string",
                 "pattern": "^sig_[0-9A-HJKMNP-TV-Z]{26}$"
                },
                "reason": {
                 "type": "string",
                 "description": "source_excluded_by_editor, signal_excluded_by_editor, scale_not_stated, no_count, older_tally_same_source, covered_by_source_tally"
                },
                "note": {
                 "type": [
                  "string",
                  "null"
                 ]
                }
               }
              }
             },
             "sources": {
              "type": "array",
              "items": {
               "type": "string"
              }
             },
             "observed": {
              "type": "object",
              "required": [
               "earliest",
               "latest"
              ],
              "properties": {
               "earliest": {
                "type": "string"
               },
               "latest": {
                "type": "string"
               }
              }
             },
             "computation": {
              "type": "array",
              "items": {
               "type": "string"
              },
              "description": "The computation in words, one line per component."
             }
            }
           }
          }
         },
         {
          "type": "null"
         }
        ]
       },
       "aggregate_revision": {
        "type": [
         "integer",
         "null"
        ]
       },
       "signals": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/reviews.signal.v1"
        }
       },
       "inactive_signals": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/reviews.signal.v1"
        }
       },
       "sources": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "key",
          "trust"
         ],
         "properties": {
          "key": {
           "type": "string"
          },
          "name": {
           "type": [
            "string",
            "null"
           ]
          },
          "homepage_url": {
           "type": [
            "string",
            "null"
           ]
          },
          "license_note": {
           "type": [
            "string",
            "null"
           ]
          },
          "terms_note": {
           "type": [
            "string",
            "null"
           ]
          },
          "status": {
           "type": [
            "string",
            "null"
           ]
          },
          "stale": {
           "type": [
            "boolean",
            "null"
           ]
          },
          "last_success_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "trust": {
           "type": "object",
           "description": "The current editor trust facts by key.",
           "properties": {
            "aggregate": {
             "type": "object",
             "required": [
              "value",
              "note",
              "set_at"
             ],
             "properties": {
              "value": {
               "type": "string"
              },
              "note": {
               "type": [
                "string",
                "null"
               ]
              },
              "set_at": {
               "type": [
                "string",
                "null"
               ],
               "format": "date-time"
              }
             }
            },
            "limitation": {
             "type": "object",
             "required": [
              "value",
              "note",
              "set_at"
             ],
             "properties": {
              "value": {
               "type": "string"
              },
              "note": {
               "type": [
                "string",
                "null"
               ]
              },
              "set_at": {
               "type": [
                "string",
                "null"
               ],
               "format": "date-time"
              }
             }
            },
            "verification": {
             "type": "object",
             "required": [
              "value",
              "note",
              "set_at"
             ],
             "properties": {
              "value": {
               "type": "string"
              },
              "note": {
               "type": [
                "string",
                "null"
               ]
              },
              "set_at": {
               "type": [
                "string",
                "null"
               ],
               "format": "date-time"
              }
             }
            }
           }
          }
         }
        }
       },
       "entity_trust": {
        "type": "object",
        "description": "The current editor trust facts by key.",
        "properties": {
         "aggregate": {
          "type": "object",
          "required": [
           "value",
           "note",
           "set_at"
          ],
          "properties": {
           "value": {
            "type": "string"
           },
           "note": {
            "type": [
             "string",
             "null"
            ]
           },
           "set_at": {
            "type": [
             "string",
             "null"
            ],
            "format": "date-time"
           }
          }
         },
         "limitation": {
          "type": "object",
          "required": [
           "value",
           "note",
           "set_at"
          ],
          "properties": {
           "value": {
            "type": "string"
           },
           "note": {
            "type": [
             "string",
             "null"
            ]
           },
           "set_at": {
            "type": [
             "string",
             "null"
            ],
            "format": "date-time"
           }
          }
         },
         "verification": {
          "type": "object",
          "required": [
           "value",
           "note",
           "set_at"
          ],
          "properties": {
           "value": {
            "type": "string"
           },
           "note": {
            "type": [
             "string",
             "null"
            ]
           },
           "set_at": {
            "type": [
             "string",
             "null"
            ],
            "format": "date-time"
           }
          }
         }
        }
       },
       "summary": {
        "type": [
         "object",
         "null"
        ],
        "required": [
         "id",
         "state",
         "head_revision",
         "flagged",
         "flag_reason",
         "flagged_at",
         "published_at",
         "revision_published_at",
         "published",
         "pending",
         "history"
        ],
        "properties": {
         "id": {
          "type": "string",
          "pattern": "^sum_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         "state": {
          "enum": [
           "draft",
           "published",
           "unpublished"
          ]
         },
         "head_revision": {
          "type": "integer",
          "minimum": 0
         },
         "flagged": {
          "type": "boolean"
         },
         "flag_reason": {
          "type": [
           "string",
           "null"
          ]
         },
         "flagged_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "published_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "revision_published_at": {
          "type": [
           "string",
           "null"
          ],
          "format": "date-time"
         },
         "published": {
          "anyOf": [
           {
            "$ref": "#/components/schemas/reviews.summary-revision.v1"
           },
           {
            "type": "null"
           }
          ]
         },
         "pending": {
[...]
