{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Run API",
  "version": "0.114.0",
  "description": "Routes of OpenVibe.Run as the OpenVibe contracts describe them (openvibe-contracts 0.114.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.run"
  }
 ],
 "paths": {
  "/api/v1/admin/jobs": {
   "get": {
    "operationId": "get_api_v1_admin_jobs",
    "summary": "Operator access to every project's jobs: GET /api/v1/admin/jobs (run.job-list-query@1 with project_id), and the read and cancel routes for any job.",
    "description": "**run.job.admin** (internal): Operator access to every project's jobs: GET /api/v1/admin/jobs (run.job-list-query@1 with project_id), and the read and cancel routes for any job. Never delegated and never in an app or mod token.",
    "tags": [
     "run.job"
    ],
    "x-openvibe-capabilities": [
     "run.job.admin"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "run-admin",
    "security": [
     {
      "openvibeToken": [
       "run.job.admin"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/run.job-list-query.v1"
    },
    "parameters": [
     {
      "name": "state",
      "in": "query",
      "required": false,
      "schema": {
       "enum": [
        "queued",
        "placed",
        "running",
        "succeeded",
        "failed",
        "cancelled",
        "expired"
       ]
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$",
       "description": "Admin only (run.job.admin): list this project's jobs; with run.job.list it is refused 403."
      },
      "description": "Admin only (run.job.admin): list this project's jobs; with run.job.list it is refused 403."
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "minimum": 1,
         "maximum": 200
        },
        {
         "type": "string",
         "pattern": "^(?:[1-9][0-9]?|1[0-9]{2}|200)$"
        }
       ],
       "description": "Items per page, 1 to 200 (default 50). A query string carries it as a string, which must name the same range."
      },
      "description": "Items per page, 1 to 200 (default 50). A query string carries it as a string, which must name the same range."
     },
     {
      "name": "cursor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 512,
       "description": "next_cursor of the previous page."
      },
      "description": "next_cursor of the previous page."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/run.job-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs": {
   "get": {
    "operationId": "get_api_v1_jobs",
    "summary": "List the token project's jobs, newest first and cursor-paged: GET /api/v1/jobs?state=&limit=&cursor=.",
    "description": "**run.job.list** (public): List the token project's jobs, newest first and cursor-paged: GET /api/v1/jobs?state=&limit=&cursor=.",
    "tags": [
     "run.job"
    ],
    "x-openvibe-capabilities": [
     "run.job.list"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "run-read",
    "security": [
     {
      "openvibeToken": [
       "run.job.list"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/run.job-list-query.v1"
    },
    "parameters": [
     {
      "name": "state",
      "in": "query",
      "required": false,
      "schema": {
       "enum": [
        "queued",
        "placed",
        "running",
        "succeeded",
        "failed",
        "cancelled",
        "expired"
       ]
      }
     },
     {
      "name": "project_id",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$",
       "description": "Admin only (run.job.admin): list this project's jobs; with run.job.list it is refused 403."
      },
      "description": "Admin only (run.job.admin): list this project's jobs; with run.job.list it is refused 403."
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "oneOf": [
        {
         "type": "integer",
         "minimum": 1,
         "maximum": 200
        },
        {
         "type": "string",
         "pattern": "^(?:[1-9][0-9]?|1[0-9]{2}|200)$"
        }
       ],
       "description": "Items per page, 1 to 200 (default 50). A query string carries it as a string, which must name the same range."
      },
      "description": "Items per page, 1 to 200 (default 50). A query string carries it as a string, which must name the same range."
     },
     {
      "name": "cursor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 512,
       "description": "next_cursor of the previous page."
      },
      "description": "next_cursor of the previous page."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/run.job-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_jobs",
    "summary": "Submit a job to OpenVibe.Run: POST /api/v1/jobs.",
    "description": "**run.job.submit** (public): Submit a job to OpenVibe.Run: POST /api/v1/jobs. The job belongs to the token's project, which is billed per wall-clock second it runs (service run, operation function.invoke, unit s). An idempotency_key makes a retry return the first job.",
    "tags": [
     "run.job"
    ],
    "x-openvibe-capabilities": [
     "run.job.submit"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "run-submit",
    "security": [
     {
      "openvibeToken": [
       "run.job.submit"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/run.job-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/run.job-create-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}": {
   "get": {
    "operationId": "get_api_v1_jobs_id",
    "summary": "Read one of the token project's jobs: GET /api/v1/jobs/:id (state, placement, timings, exit, usage seconds, result).",
    "description": "**run.job.read** (public): Read one of the token project's jobs: GET /api/v1/jobs/:id (state, placement, timings, exit, usage seconds, result).",
    "tags": [
     "run.job"
    ],
    "x-openvibe-capabilities": [
     "run.job.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "run-read",
    "security": [
     {
      "openvibeToken": [
       "run.job.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/run.job-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/cancel": {
   "post": {
    "operationId": "post_api_v1_jobs_id_cancel",
    "summary": "Cancel one of the token project's jobs: POST /api/v1/jobs/:id/cancel.",
    "description": "**run.job.cancel** (public): Cancel one of the token project's jobs: POST /api/v1/jobs/:id/cancel. A queued or placed job never starts; a running one is killed (platform.job-frame@1 job_cancel); cancelling an ended job changes nothing and answers it as it is.",
    "tags": [
     "run.job"
    ],
    "x-openvibe-capabilities": [
     "run.job.cancel"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "run-control",
    "security": [
     {
      "openvibeToken": [
       "run.job.cancel"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/run.job-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/stream": {
   "get": {
    "operationId": "get_api_v1_jobs_id_stream",
    "summary": "Watch a job's live output: POST /api/v1/jobs/:id/stream/ticket mints a one-use, two-minute stream ticket (run.job-stream-ticket-result@1) and GET /api/v1/jobs/:id/stream?ticket= (or with a Bearer toke",
    "description": "**run.job.stream** (public): Watch a job's live output: POST /api/v1/jobs/:id/stream/ticket mints a one-use, two-minute stream ticket (run.job-stream-ticket-result@1) and GET /api/v1/jobs/:id/stream?ticket= (or with a Bearer token) is text/event-stream of run.job-stream-event@1, resumable with Last-Event-ID.",
    "tags": [
     "run.job"
    ],
    "x-openvibe-capabilities": [
     "run.job.stream"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "run-stream",
    "security": [
     {
      "openvibeToken": [
       "run.job.stream"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/run.job-stream-ticket-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/stream/ticket": {
   "post": {
    "operationId": "post_api_v1_jobs_id_stream_ticket",
    "summary": "Watch a job's live output: POST /api/v1/jobs/:id/stream/ticket mints a one-use, two-minute stream ticket (run.job-stream-ticket-result@1) and GET /api/v1/jobs/:id/stream?ticket= (or with a Bearer toke",
    "description": "**run.job.stream** (public): Watch a job's live output: POST /api/v1/jobs/:id/stream/ticket mints a one-use, two-minute stream ticket (run.job-stream-ticket-result@1) and GET /api/v1/jobs/:id/stream?ticket= (or with a Bearer token) is text/event-stream of run.job-stream-event@1, resumable with Last-Event-ID.",
    "tags": [
     "run.job"
    ],
    "x-openvibe-capabilities": [
     "run.job.stream"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "run-stream",
    "security": [
     {
      "openvibeToken": [
       "run.job.stream"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/run.job-stream-ticket-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "agent"
       },
       "id": {
        "type": "string",
        "pattern": "^agt_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AgentSubject: an agent (OpenVibe.Actor, or a developer app's agent) acting under grants its owner delegated (roadmap WS-Z2). In an event envelope, on_behalf_of names the owner."
     }
    ]
   },
   "platform.runtime-class.v1": {
    "title": "RuntimeClass",
    "description": "platform.runtime-class@1: the kind of execution environment a platform.job@1 asks for (plan T14 Run; ADR-034 proposed). A name only: this contract defines no behavior, and a worker runs only the classes it advertises and refuses every other one (`nack`). `function` is the first class implemented (OpenVibe.Node's function worker); the others are reserved names. Each class names one reserved Fabric capability in platform.resource-offer@1.capabilities — `worker:` + the class (worker:function, worker:code, worker:browser, worker:linux, worker:desktop, worker:gpu) — and a node advertises the name of each class it runs.",
    "$comment": "Additive: a class may be added to v1; none is removed, renamed or reordered.",
    "type": "string",
    "oneOf": [
     {
      "const": "function",
      "description": "A pre-registered artifact (name and exact version) run once with declared args to one result: single-shot, no persistent filesystem, no dependency resolution, network denied."
     },
     {
      "const": "code",
      "description": "Arbitrary source with its dependency tree in a longer-lived environment; needs image handling and isolation stronger than a container."
     },
     {
      "const": "browser",
      "description": "A headless or headed web browser session driven remotely."
     },
     {
      "const": "linux",
      "description": "A full Linux environment (shell, filesystem, processes) that lives across commands."
     },
     {
      "const": "desktop",
      "description": "A graphical desktop session with screen and input under control levels."
     },
     {
      "const": "gpu",
      "description": "A workload that holds one or more GPUs for its lifetime."
     }
    ],
    "examples": [
     "function",
     "gpu"
    ]
   },
   "platform.workload-requirements.v1": {
    "title": "WorkloadRequirements",
    "description": "What a workload needs, so the platform can place it (roadmap WS-Z9). Hard constraints are filtered before any objective is scored; a cheaper candidate that misses one is never chosen.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "kind",
     "mobility",
     "latency_class",
     "objective"
    ],
    "properties": {
     "kind": {
      "type": "string",
      "description": "what runs, e.g. watch.browser, media.transcode, ai.run, events.deliver"
     },
     "mobility": {
      "type": "string",
      "enum": [
       "request",
       "job",
       "session",
       "stateful-partition"
      ]
     },
     "latency_class": {
      "type": "string",
      "enum": [
       "realtime",
       "interactive",
       "background",
       "bulk",
       "critical"
      ]
     },
     "objective": {
      "type": "string",
      "enum": [
       "cheapest",
       "lowest-latency",
       "balanced",
       "private",
       "local-only",
       "first-party-only",
       "high-reliability",
       "correctness"
      ]
     },
     "max_latency_ms": {
      "type": "number",
      "minimum": 0
     },
     "deadline_ms": {
      "type": "number",
      "minimum": 0
     },
     "max_cost_usd": {
      "type": "number",
      "minimum": 0
     },
     "durability": {
      "type": "string",
      "enum": [
       "none",
       "at-least-once",
       "authoritative"
      ]
     },
     "residency": {
      "type": "string",
      "description": "region or jurisdiction the work and its data must stay in"
     },
     "trust": {
      "type": "array",
      "items": {
       "type": "string",
       "enum": [
        "first-party",
        "user-owned",
        "partner",
        "community",
        "external"
       ]
      },
      "minItems": 1,
      "description": "trust classes allowed to run it (ADR-046); when absent, first-party, partner, community and external. user-owned is never a default: a user-owned offer is eligible only when this list names it"
     },
     "region": {
      "type": "string",
      "description": "a region, or 'nearest'"
     },
     "capabilities": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "capabilities a candidate must offer (worker:browser, …)"
     },
     "resources": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "cpu": {
        "type": "number",
        "minimum": 0
       },
       "memory_mb": {
        "type": "number",
        "minimum": 0
       },
       "gpu": {
        "type": "boolean"
       },
       "scratch_gb": {
        "type": "number",
        "minimum": 0
       },
       "egress": {
        "type": "string",
        "enum": [
         "none",
         "public",
         "openvibe-only"
        ]
       }
      }
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "partition_key": {
      "type": "string",
      "description": "stable key for rendezvous placement (room, stream, session)"
     }
    }
   },
   "run.job-create-request.v1": {
    "title": "RunJobCreateRequest",
    "description": "run.job-create-request@1 (PLANNED; plan T14 R1, ADR-034): the body of POST /api/v1/jobs on OpenVibe.Run (capability run.job.submit). The job belongs to the project the caller's token names. CLASS is a platform.runtime-class@1 name; Run accepts any of them but places a job only on a node that advertises worker:<class> (platform.resource-offer@1), so a class no node runs today (browser, linux, desktop, gpu) ends expired with run.job.unplaceable. ARTIFACT is the pre-registered artifact to run (name and one exact version), required for function and code, as platform.job@1 carries it. ARGS is the artifact's declared input as JSON (at most 512 KiB serialized, else 413). INPUTS are files placed in the job directory before the process starts, each an OpenVibe.Media object pinned by its sha256: a size or digest mismatch fails the job (run.job.input_digest_mismatch) before the process ever runs; Run never fetches a caller-chosen URL. LIMITS are hard caps merged stricter with the node's own (platform.job@1 limits); a request over the project's tier cap is refused 422 run.limits.exceeded, never silently lowered. EGRESS is the network the job may reach, the values of OpenVibe.Node's worker.egress, carried per job as the same-named platform.job@1 net: none (default; no network), public or openvibe-only. A job asking for public or openvibe-only is placed only on a node whose worker.egress allows it; a worker whose host policy is stricter runs the stricter one. REQUIREMENTS (platform.workload-requirements@1) narrow placement; absent means { kind: run.<class>, mobility: job, latency_class: background, objective: balanced }. IDEMPOTENCY_KEY: a repeat from the same project within 24 h with an identical body answers the first job (200, created false); with a different body 409 run.idempotency.conflict.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "class",
     "limits"
    ],
    "properties": {
     "class": {
      "$ref": "#/components/schemas/platform.runtime-class.v1"
     },
     "artifact": {
      "$ref": "#/components/schemas/run.job-create-request.v1/$defs/artifact"
     },
     "args": {
      "type": "object",
      "description": "The artifact's declared input as JSON; default {}."
     },
     "inputs": {
      "type": "array",
      "maxItems": 32,
      "items": {
       "$ref": "#/components/schemas/run.job-create-request.v1/$defs/input"
      },
      "description": "Files placed in the job directory before the process starts; names are unique (else 422)."
     },
     "limits": {
      "$ref": "#/components/schemas/run.job-create-request.v1/$defs/limits"
     },
     "ttl_ms": {
      "type": "integer",
      "minimum": 1000,
      "maximum": 86400000,
      "description": "Lifetime from creation, covering the wait for a node and the run (platform.job@1 ttl_ms); when it runs out the job ends expired. Default: limits.wall_ms plus 600000."
     },
     "egress": {
      "$ref": "#/components/schemas/run.job-create-request.v1/$defs/egress"
     },
     "requirements": {
      "$ref": "#/components/schemas/platform.workload-requirements.v1"
     },
     "idempotency_key": {
      "$ref": "#/components/schemas/run.job-create-request.v1/$defs/idempotency_key"
     }
    },
    "allOf": [
     {
      "if": {
       "required": [
        "class"
       ],
       "properties": {
        "class": {
         "enum": [
          "function",
          "code"
         ]
        }
       }
      },
      "then": {
       "required": [
        "artifact"
       ]
      }
     }
    ],
    "$defs": {
     "artifact": {
      "type": "object",
      "additionalProperties": false,
      "description": "The pre-registered artifact to run (platform.job@1 artifact).",
      "required": [
       "name",
       "version"
      ],
      "properties": {
       "name": {
        "type": "string",
        "pattern": "^[a-z0-9][a-z0-9._-]{0,127}$"
       },
       "version": {
        "type": "string",
        "pattern": "^[0-9A-Za-z][0-9A-Za-z.+-]{0,63}$",
        "description": "One exact version, never a range"
       }
      }
     },
     "input": {
      "type": "object",
      "additionalProperties": false,
      "description": "One input file: an OpenVibe.Media object the caller's project can read, pinned by digest.",
      "required": [
       "name",
       "media_id",
       "sha256"
      ],
      "properties": {
       "name": {
        "type": "string",
        "pattern": "^[A-Za-z0-9][A-Za-z0-9._-]{0,127}$",
        "description": "File name in the job directory; no path separators."
       },
       "media_id": {
        "type": "string",
        "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "sha256": {
        "type": "string",
        "pattern": "^[0-9a-f]{64}$",
        "description": "Lowercase hex SHA-256 of the object's bytes."
       },
       "size_bytes": {
        "type": "integer",
        "minimum": 0
       }
      }
     },
     "limits": {
      "type": "object",
      "additionalProperties": false,
      "description": "Caps on the running process (platform.job@1 limits); hitting one ends the job failed with run.job.limit.",
      "required": [
       "wall_ms",
       "cpu_ms",
       "mem_bytes"
      ],
      "properties": {
       "wall_ms": {
        "type": "integer",
        "minimum": 1,
        "description": "Running time from `job_started`"
       },
       "cpu_ms": {
        "type": "integer",
        "minimum": 1,
        "description": "CPU time, user plus system"
       },
       "mem_bytes": {
        "type": "integer",
        "minimum": 1,
        "description": "Peak resident memory"
       }
      }
     },
     "egress": {
      "type": "string",
      "enum": [
       "none",
       "public",
       "openvibe-only"
      ],
      "default": "none",
      "description": "OpenVibe.Node worker.egress values: none (no network), public (the internet without private, link-local or the network's own ranges), openvibe-only (the network's own endpoints only)."
     },
     "idempotency_key": {
      "type": "string",
      "pattern": "^[A-Za-z0-9._:-]{1,128}$"
     }
    },
    "examples": [
     {
      "class": "function",
      "artifact": {
       "name": "thumbnail",
       "version": "1.2.0"
      },
      "args": {
       "width": 320
      },
      "inputs": [
       {
        "name": "photo.jpg",
        "media_id": "med_01JAB2C3D4E5F6G7H8J9K0MNPQ",
        "sha256": "9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08",
        "size_bytes": 482113
       }
      ],
      "limits": {
       "wall_ms": 30000,
       "cpu_ms": 30000,
       "mem_bytes": 268435456
      },
      "egress": "none",
      "idempotency_key": "thumb:photo-7"
     }
    ]
   },
   "run.job-create-result.v1": {
    "title": "RunJobCreateResult",
    "description": "run.job-create-result@1 (PLANNED; plan T14 R1, ADR-034): the answer of POST /api/v1/jobs on OpenVibe.Run (capability run.job.submit). 201 with created true and the new job, queued; 200 with created false and the job first created under the same idempotency_key (in whatever state it has reached). Refusals are application/problem+json: 400 (body invalid), 413 (args over 512 KiB), 422 run.limits.exceeded or a duplicate input name, 409 run.idempotency.conflict, 429 (quota).",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "created",
     "job"
    ],
    "properties": {
     "created": {
      "type": "boolean",
      "description": "false when the idempotency_key matched an earlier job."
     },
     "job": {
      "$ref": "#/components/schemas/run.job-read-result.v1"
     }
    }
   },
   "run.job-list-query.v1": {
    "title": "RunJobListQuery",
    "description": "run.job-list-query@1 (PLANNED; plan T14 R1): the query string of GET /api/v1/jobs on OpenVibe.Run (capability run.job.list) and of GET /api/v1/admin/jobs (run.job.admin, which alone may pass project_id). Without project_id it lists the caller's token project.",
    "type": "object",
    "additionalProperties": false,
    "properties": {
     "state": {
      "enum": [
       "queued",
       "placed",
       "running",
       "succeeded",
       "failed",
       "cancelled",
       "expired"
      ]
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Admin only (run.job.admin): list this project's jobs; with run.job.list it is refused 403."
     },
     "limit": {
      "oneOf": [
       {
        "type": "integer",
        "minimum": 1,
        "maximum": 200
       },
       {
        "type": "string",
        "pattern": "^(?:[1-9][0-9]?|1[0-9]{2}|200)$"
       }
      ],
      "description": "Items per page, 1 to 200 (default 50). A query string carries it as a string, which must name the same range."
     },
     "cursor": {
      "type": "string",
      "maxLength": 512,
      "description": "next_cursor of the previous page."
     }
    }
   },
   "run.job-list-result.v1": {
    "title": "RunJobListResult",
    "description": "run.job-list-result@1 (PLANNED; plan T14 R1): the answer of GET /api/v1/jobs on OpenVibe.Run (capability run.job.list) and GET /api/v1/admin/jobs (run.job.admin), filtered by run.job-list-query@1. Jobs come newest first (by id). More fields may be added.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "jobs",
     "next_cursor"
    ],
    "properties": {
     "jobs": {
      "type": "array",
      "maxItems": 200,
      "items": {
       "$ref": "#/components/schemas/run.job-read-result.v1"
      }
     },
     "next_cursor": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 512,
      "description": "Pass as cursor for the next page; null on the last page."
     }
    }
   },
   "run.job-read-result.v1": {
    "title": "RunJobReadResult",
    "description": "run.job-read-result@1 (PLANNED; plan T14 R1, ADR-034): one job on OpenVibe.Run, as GET /api/v1/jobs/{id} answers it (capability run.job.read), POST /api/v1/jobs/{id}/cancel answers it after the cancel (run.job.cancel), and run.job-create-result@1 and run.job-list-result@1 carry it. STATES: queued (stored, waiting for a node) -> placed (sent to a node as platform.job@1, not yet started) -> running (the node sent job_started) -> one end state: succeeded (job_exit reason exited with code 0), failed (exited with another code, or reason limit, stopped or failed), cancelled (POST /api/v1/jobs/{id}/cancel, or job_exit reason cancelled), expired (ttl_ms ran out: before placement, before start, or while running, job_exit reason ttl). An end state never changes. Run mints the id (job_<ULID>) and sends it unchanged as platform.job@1 `id`, so every metering reading of the job is `run:<id>:<n>` (platform.job-frame@1 job_usage). usage.seconds is wall_ms / 1000: the sum of the job's readings (service run, operation function.invoke, unit s). Never carries the job's stdout (GET /api/v1/jobs/{id}/stream) or a credential. More fields may be added.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "project_id",
     "requester",
     "state",
     "class",
     "artifact",
     "inputs",
     "limits",
     "ttl_ms",
     "egress",
     "requirements",
     "idempotency_key",
     "placement",
     "timings",
     "exit",
     "result",
     "usage",
     "error"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Minted by Run; the platform.job@1 id and the stem of every usage reading key (run:<id>:<n>)."
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The project the caller's token names; usage is billed to it."
     },
     "requester": {
      "$ref": "#/components/schemas/identity.subject-ref.v1",
      "description": "The token principal that submitted the job."
     },
     "state": {
      "enum": [
       "queued",
       "placed",
       "running",
       "succeeded",
       "failed",
       "cancelled",
       "expired"
      ]
     },
     "class": {
      "$ref": "#/components/schemas/platform.runtime-class.v1"
     },
     "artifact": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/run.job-create-request.v1/$defs/artifact"
       },
       {
        "type": "null"
       }
      ]
     },
     "inputs": {
      "type": "array",
      "maxItems": 32,
      "items": {
       "$ref": "#/components/schemas/run.job-create-request.v1/$defs/input"
      }
     },
     "limits": {
      "$ref": "#/components/schemas/run.job-create-request.v1/$defs/limits"
     },
     "ttl_ms": {
      "type": "integer",
      "minimum": 1,
      "description": "The job's lifetime from created_at, the default filled in."
     },
     "egress": {
      "$ref": "#/components/schemas/run.job-create-request.v1/$defs/egress"
     },
     "requirements": {
      "$ref": "#/components/schemas/platform.workload-requirements.v1",
      "description": "What the job was placed against, the default filled in."
     },
     "idempotency_key": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/run.job-create-request.v1/$defs/idempotency_key"
       },
       {
        "type": "null"
       }
      ]
     },
     "placement": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/run.job-read-result.v1/$defs/placement"
       },
       {
        "type": "null"
       }
      ],
      "description": "Where the job was sent; null while queued, and for a job cancelled or expired before placement."
     },
     "timings": {
      "type": "object",
      "additionalProperties": false,
      "required": [
       "created_at",
       "placed_at",
       "started_at",
       "finished_at"
      ],
      "properties": {
       "created_at": {
        "type": "string",
        "format": "date-time"
       },
       "placed_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "started_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time",
        "description": "From job_started started_ms; null until the process started."
       },
       "finished_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time",
        "description": "When the job reached its end state; null before."
       }
      }
     },
     "exit": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/run.job-read-result.v1/$defs/exit"
       },
       {
        "type": "null"
       }
      ],
      "description": "The node's job_exit; null until it arrived, and for a job that ended before a node ran it."
     },
     "result": {
      "description": "The artifact's declared output (job_exit result, any JSON); null unless state is succeeded."
     },
     "usage": {
      "$ref": "#/components/schemas/run.job-read-result.v1/$defs/usage"
     },
     "error": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/run.job-read-result.v1/$defs/error"
       },
       {
        "type": "null"
       }
      ],
      "description": "Why the job failed or expired; null in every other state."
     }
    },
    "$defs": {
     "placement": {
      "type": "object",
      "additionalProperties": false,
      "required": [
       "node",
       "provider",
       "region"
      ],
      "properties": {
       "node": {
        "type": "string",
        "minLength": 1,
        "maxLength": 128,
        "description": "The worker's device id (the usage reading's `node`)."
       },
       "provider": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 128,
        "description": "The offer's provider (the usage reading's `provider`); null for a first-party node."
       },
       "region": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 64
       }
      }
     },
     "exit": {
      "type": "object",
      "additionalProperties": false,
      "required": [
       "reason",
       "code"
      ],
      "properties": {
       "reason": {
        "enum": [
         "exited",
         "cancelled",
         "ttl",
         "limit",
         "stopped",
         "failed"
        ],
        "description": "platform.job-frame@1 job_exit reason."
       },
       "code": {
        "type": [
         "integer",
         "null"
        ],
        "description": "The process's exit status; null when it was killed or never ran."
       }
      }
     },
     "usage": {
      "type": "object",
      "additionalProperties": false,
      "required": [
       "seconds",
       "wall_ms",
       "cpu_ms",
       "mem_peak_bytes"
      ],
      "properties": {
       "seconds": {
        "type": "number",
        "minimum": 0,
        "description": "Metered wall-clock seconds, wall_ms / 1000 (unit s); 0 when the job never started."
       },
       "wall_ms": {
        "type": "integer",
        "minimum": 0
       },
       "cpu_ms": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "Informational, never billed."
       },
       "mem_peak_bytes": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 0,
        "description": "Informational, never billed."
       }
      }
     },
     "error": {
      "type": "object",
      "additionalProperties": false,
      "required": [
       "code",
       "detail"
      ],
      "properties": {
       "code": {
        "type": "string",
        "pattern": "^run\\.[a-z0-9_]+(\\.[a-z0-9_]+)*$",
        "description": "run.job.exit_nonzero, run.job.limit, run.job.stopped, run.job.worker_failed, run.job.input_digest_mismatch, run.job.unplaceable (expired: no node offered the class, egress and requirements), run.job.ttl."
       },
       "detail": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 1024
       }
      }
     }
    },
    "allOf": [
     {
      "if": {
       "properties": {
        "state": {
         "const": "queued"
        }
       },
       "required": [
        "state"
       ]
      },
      "then": {
       "properties": {
        "placement": {
         "type": "null"
        },
        "exit": {
         "type": "null"
        },
        "timings": {
         "type": "object",
         "properties": {
          "placed_at": {
           "type": "null"
          },
          "started_at": {
           "type": "null"
          },
          "finished_at": {
           "type": "null"
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "properties": {
        "state": {
         "enum": [
          "placed",
          "running"
         ]
        }
       },
       "required": [
        "state"
       ]
      },
      "then": {
       "properties": {
        "placement": {
         "type": "object"
        },
        "exit": {
         "type": "null"
        },
        "timings": {
         "type": "object",
         "properties": {
          "placed_at": {
           "type": "string"
          },
          "finished_at": {
           "type": "null"
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "properties": {
        "state": {
         "const": "running"
        }
       },
       "required": [
        "state"
       ]
      },
      "then": {
       "properties": {
        "timings": {
         "type": "object",
         "properties": {
          "started_at": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "properties": {
        "state": {
         "enum": [
          "succeeded",
          "failed",
          "cancelled",
          "expired"
         ]
        }
       },
       "required": [
        "state"
       ]
      },
      "then": {
       "properties": {
        "timings": {
         "type": "object",
         "properties": {
          "finished_at": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "properties": {
        "state": {
         "const": "succeeded"
        }
       },
       "required": [
        "state"
       ]
      },
      "then": {
       "properties": {
        "placement": {
         "type": "object"
        },
        "exit": {
         "type": "object",
         "properties": {
          "reason": {
           "const": "exited"
          },
          "code": {
           "const": 0
          }
         }
        },
        "timings": {
         "type": "object",
         "properties": {
          "started_at": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     {
      "if": {
       "properties": {
        "state": {
         "enum": [
          "failed",
          "expired"
         ]
        }
       },
       "required": [
        "state"
       ]
      },
      "then": {
       "properties": {
        "error": {
         "type": "object"
        }
       }
      },
      "else": {
       "properties": {
        "error": {
         "type": "null"
        }
       }
      }
     },
     {
      "if": {
       "properties": {
        "state": {
         "const": "succeeded"
        }
       },
       "required": [
        "state"
       ]
      },
      "else": {
       "properties": {
        "result": {
         "type": "null"
        }
       }
      }
     },
     {
      "if": {
       "properties": {
        "class": {
         "enum": [
          "function",
          "code"
         ]
        }
       },
       "required": [
        "class"
       ]
      },
      "then": {
       "properties": {
        "artifact": {
         "type": "object"
        }
       }
      }
     }
    ]
   },
   "run.job-stream-ticket-result.v1": {
    "title": "RunJobStreamTicketResult",
    "description": "run.job-stream-ticket-result@1 (PLANNED; plan T14 R1): the answer of POST /api/v1/jobs/{id}/stream/ticket on OpenVibe.Run (capability run.job.stream), modelled on Events' realtime ticket (network.realtime-ticket-result@1). A browser cannot put a header on an EventSource, so it opens `${stream_url}?ticket=${ticket}` (plus Last-Event-ID when it resumes) at once. The ticket is a two-minute RS256 JWT that Run signs: audience openvibe.run, typ run-stream (so it is never a session token), it names this one job, and Run refuses a jti it has already seen while the ticket is valid, so a ticket opens one stream; ask for a fresh one for every reconnect. Never logged, never stored. A server caller may instead send its Bearer token to GET /api/v1/jobs/{id}/stream. The stream is text/event-stream of run.job-stream-event@1.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "ticket",
     "expires_at",
     "expires_in",
     "stream_url",
     "job_id"
    ],
    "properties": {
     "ticket": {
      "type": "string",
      "pattern": "^[A-Za-z0-9_-]+\\.[A-Za-z0-9_-]+\\.[A-Za-z0-9_-]+$",
      "maxLength": 4096,
      "description": "The signed ticket (a compact JWS)."
     },
     "expires_at": {
      "type": "string",
      "format": "date-time"
     },
     "expires_in": {
      "type": "integer",
      "minimum": 1,
      "maximum": 300,
      "description": "Seconds until the ticket expires (120)."
     },
     "stream_url": {
      "type": "string",
      "format": "uri",
      "pattern": "^https?://[^?#]+/api/v1/jobs/job_[0-9A-HJKMNP-TV-Z]{26}/stream$"
     },
     "job_id": {
      "type": "string",
      "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$"
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
