{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Search API",
  "version": "0.56.1",
  "description": "Routes of OpenVibe.Search as the OpenVibe contracts describe them (openvibe-contracts 0.56.1): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://search.openvibe.network"
  }
 ],
 "paths": {
  "/api/v1/documents/{owner}/{type}/{id}": {
   "delete": {
    "operationId": "delete_api_v1_documents_owner_type_id",
    "summary": "Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation.",
    "description": "**search.document.write** (first-party): Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation. The owner in the path must be the principal's service slug (svc:wiki writes owner wiki only). Revision-ordered: an older revision never overwrites a newer one, and at equal revision a deletion wins.",
    "tags": [
     "search.document"
    ],
    "x-openvibe-capabilities": [
     "search.document.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "search-write",
    "security": [
     {
      "openvibeToken": [
       "search.document.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/search.document-write-request.v1"
    },
    "parameters": [
     {
      "name": "owner",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/search.owner-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_documents_owner_type_id",
    "summary": "Query the index on behalf of a person: X-OV-Subject (usr_/gst_) plus the X-OV-Groups and X-OV-Entitlements the calling first-party service has just resolved for that person.",
    "description": "**search.query.delegate** (first-party): Query the index on behalf of a person: X-OV-Subject (usr_/gst_) plus the X-OV-Groups and X-OV-Entitlements the calling first-party service has just resolved for that person. Without X-OV-Subject the service sees public documents only. Drafts, unpublished and deleted documents are never returned to anyone.\n\n**search.query.run** (public): Query the network index as anyone (roadmap §30.2 search.query, search.suggest, search.facets.read): anonymous callers get public, published documents only, and a signed-in person's Network token adds the documents whose access list names them or their role. Covers title suggestions, facet counts (facets=, facet.<key>=) and reading one document; a document the caller may not see is the same 404 as a missing one. Served publicly at search.openvibe.network. A first-party service asking for a person uses search.query.delegate (today Search requires that id for any service token).",
    "tags": [
     "search.query"
    ],
    "x-openvibe-capabilities": [
     "search.query.delegate",
     "search.query.run"
    ],
    "x-openvibe-visibility": [
     "first-party",
     "public"
    ],
    "x-openvibe-quota-class": "search-query",
    "security": [
     {
      "openvibeToken": [
       "search.query.delegate"
      ]
     },
     {
      "openvibeToken": [
       "search.query.run"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/search.query.v1"
    },
    "parameters": [
     {
      "name": "owner",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "q",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 200,
       "description": "Words to match (FTS5; empty lists by recency)."
      },
      "description": "Words to match (FTS5; empty lists by recency)."
     },
     {
      "name": "lang",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[a-zA-Z]{2,3}(-[A-Za-z0-9]{2,8})*$",
       "description": "BCP 47 language."
      },
      "description": "BCP 47 language."
     },
     {
      "name": "facets",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 400,
       "description": "Comma-separated facet keys to count over what the caller can see."
      },
      "description": "Comma-separated facet keys to count over what the caller can see."
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": [
        "integer",
        "string"
       ],
       "pattern": "^[0-9]{1,3}$",
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "cursor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 512,
       "description": "next_cursor of the previous page."
      },
      "description": "next_cursor of the previous page."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/search.read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_documents_owner_type_id",
    "summary": "Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation.",
    "description": "**search.document.write** (first-party): Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation. The owner in the path must be the principal's service slug (svc:wiki writes owner wiki only). Revision-ordered: an older revision never overwrites a newer one, and at equal revision a deletion wins.",
    "tags": [
     "search.document"
    ],
    "x-openvibe-capabilities": [
     "search.document.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "search-write",
    "security": [
     {
      "openvibeToken": [
       "search.document.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/search.document-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "owner",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/search.owner-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/owners/{owner}/documents": {
   "get": {
    "operationId": "get_api_v1_owners_owner_documents",
    "summary": "Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation.",
    "description": "**search.document.write** (first-party): Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation. The owner in the path must be the principal's service slug (svc:wiki writes owner wiki only). Revision-ordered: an older revision never overwrites a newer one, and at equal revision a deletion wins.",
    "tags": [
     "search.document"
    ],
    "x-openvibe-capabilities": [
     "search.document.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "search-write",
    "security": [
     {
      "openvibeToken": [
       "search.document.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/search.document-write-request.v1"
    },
    "parameters": [
     {
      "name": "owner",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/search.owner-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/owners/{owner}/documents/{type}/{id}": {
   "get": {
    "operationId": "get_api_v1_owners_owner_documents_type_id",
    "summary": "Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation.",
    "description": "**search.document.write** (first-party): Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation. The owner in the path must be the principal's service slug (svc:wiki writes owner wiki only). Revision-ordered: an older revision never overwrites a newer one, and at equal revision a deletion wins.",
    "tags": [
     "search.document"
    ],
    "x-openvibe-capabilities": [
     "search.document.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "search-write",
    "security": [
     {
      "openvibeToken": [
       "search.document.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/search.document-write-request.v1"
    },
    "parameters": [
     {
      "name": "owner",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "type",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/search.owner-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/owners/{owner}/rejections": {
   "get": {
    "operationId": "get_api_v1_owners_owner_rejections",
    "summary": "Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation.",
    "description": "**search.document.write** (first-party): Index, replace or tombstone the calling service's own documents (search.index-document@1) and read its own inventory for reconciliation. The owner in the path must be the principal's service slug (svc:wiki writes owner wiki only). Revision-ordered: an older revision never overwrites a newer one, and at equal revision a deletion wins.",
    "tags": [
     "search.document"
    ],
    "x-openvibe-capabilities": [
     "search.document.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "search-write",
    "security": [
     {
      "openvibeToken": [
       "search.document.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/search.document-write-request.v1"
    },
    "parameters": [
     {
      "name": "owner",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/search.owner-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/search": {
   "get": {
    "operationId": "get_api_v1_search",
    "summary": "Query the index on behalf of a person: X-OV-Subject (usr_/gst_) plus the X-OV-Groups and X-OV-Entitlements the calling first-party service has just resolved for that person.",
    "description": "**search.query.delegate** (first-party): Query the index on behalf of a person: X-OV-Subject (usr_/gst_) plus the X-OV-Groups and X-OV-Entitlements the calling first-party service has just resolved for that person. Without X-OV-Subject the service sees public documents only. Drafts, unpublished and deleted documents are never returned to anyone.\n\n**search.query.run** (public): Query the network index as anyone (roadmap §30.2 search.query, search.suggest, search.facets.read): anonymous callers get public, published documents only, and a signed-in person's Network token adds the documents whose access list names them or their role. Covers title suggestions, facet counts (facets=, facet.<key>=) and reading one document; a document the caller may not see is the same 404 as a missing one. Served publicly at search.openvibe.network. A first-party service asking for a person uses search.query.delegate (today Search requires that id for any service token).",
    "tags": [
     "search.query"
    ],
    "x-openvibe-capabilities": [
     "search.query.delegate",
     "search.query.run"
    ],
    "x-openvibe-visibility": [
     "first-party",
     "public"
    ],
    "x-openvibe-quota-class": "search-query",
    "security": [
     {
      "openvibeToken": [
       "search.query.delegate"
      ]
     },
     {
      "openvibeToken": [
       "search.query.run"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/search.query.v1"
    },
    "parameters": [
     {
      "name": "q",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 200,
       "description": "Words to match (FTS5; empty lists by recency)."
      },
      "description": "Words to match (FTS5; empty lists by recency)."
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[a-z][a-z0-9_-]{0,31}$",
       "description": "One owner service (live, community, wiki, …)."
      },
      "description": "One owner service (live, community, wiki, …)."
     },
     {
      "name": "type",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[a-z][a-z0-9_-]{0,31}$",
       "description": "One document type within the owner (channel, vod, thread, …)."
      },
      "description": "One document type within the owner (channel, vod, thread, …)."
     },
     {
      "name": "lang",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[a-zA-Z]{2,3}(-[A-Za-z0-9]{2,8})*$",
       "description": "BCP 47 language."
      },
      "description": "BCP 47 language."
     },
     {
      "name": "facets",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 400,
       "description": "Comma-separated facet keys to count over what the caller can see."
      },
      "description": "Comma-separated facet keys to count over what the caller can see."
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": [
        "integer",
        "string"
       ],
       "pattern": "^[0-9]{1,3}$",
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "cursor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 512,
       "description": "next_cursor of the previous page."
      },
      "description": "next_cursor of the previous page."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/search.read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/suggest": {
   "get": {
    "operationId": "get_api_v1_suggest",
    "summary": "Query the index on behalf of a person: X-OV-Subject (usr_/gst_) plus the X-OV-Groups and X-OV-Entitlements the calling first-party service has just resolved for that person.",
    "description": "**search.query.delegate** (first-party): Query the index on behalf of a person: X-OV-Subject (usr_/gst_) plus the X-OV-Groups and X-OV-Entitlements the calling first-party service has just resolved for that person. Without X-OV-Subject the service sees public documents only. Drafts, unpublished and deleted documents are never returned to anyone.\n\n**search.query.run** (public): Query the network index as anyone (roadmap §30.2 search.query, search.suggest, search.facets.read): anonymous callers get public, published documents only, and a signed-in person's Network token adds the documents whose access list names them or their role. Covers title suggestions, facet counts (facets=, facet.<key>=) and reading one document; a document the caller may not see is the same 404 as a missing one. Served publicly at search.openvibe.network. A first-party service asking for a person uses search.query.delegate (today Search requires that id for any service token).",
    "tags": [
     "search.query"
    ],
    "x-openvibe-capabilities": [
     "search.query.delegate",
     "search.query.run"
    ],
    "x-openvibe-visibility": [
     "first-party",
     "public"
    ],
    "x-openvibe-quota-class": "search-query",
    "security": [
     {
      "openvibeToken": [
       "search.query.delegate"
      ]
     },
     {
      "openvibeToken": [
       "search.query.run"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/search.query.v1"
    },
    "parameters": [
     {
      "name": "q",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 200,
       "description": "Words to match (FTS5; empty lists by recency)."
      },
      "description": "Words to match (FTS5; empty lists by recency)."
     },
     {
      "name": "owner",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[a-z][a-z0-9_-]{0,31}$",
       "description": "One owner service (live, community, wiki, …)."
      },
      "description": "One owner service (live, community, wiki, …)."
     },
     {
      "name": "type",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[a-z][a-z0-9_-]{0,31}$",
       "description": "One document type within the owner (channel, vod, thread, …)."
      },
      "description": "One document type within the owner (channel, vod, thread, …)."
     },
     {
      "name": "lang",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "pattern": "^[a-zA-Z]{2,3}(-[A-Za-z0-9]{2,8})*$",
       "description": "BCP 47 language."
      },
      "description": "BCP 47 language."
     },
     {
      "name": "facets",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 400,
       "description": "Comma-separated facet keys to count over what the caller can see."
      },
      "description": "Comma-separated facet keys to count over what the caller can see."
     },
     {
      "name": "limit",
      "in": "query",
      "required": false,
      "schema": {
       "type": [
        "integer",
        "string"
       ],
       "pattern": "^[0-9]{1,3}$",
       "minimum": 1,
       "maximum": 100
      }
     },
     {
      "name": "cursor",
      "in": "query",
      "required": false,
      "schema": {
       "type": "string",
       "maxLength": 512,
       "description": "next_cursor of the previous page."
      },
      "description": "next_cursor of the previous page."
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/search.read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "search.document-write-request.v1": {
    "title": "SearchDocumentWriteRequest",
    "description": "search.document-write-request@1: the request of search.document.write on OpenVibe.Search (a service writes and reads only the documents it owns). PUT /api/v1/documents/:owner/:type/:id: a search.index-document@1 (owner, type and id come from the path; a body that names others is 422). DELETE /api/v1/documents/:owner/:type/:id?revision= (a tombstone) and the owner reads (GET /api/v1/owners/:owner/documents, …/documents/:type/:id, …/rejections) take no body.",
    "anyOf": [
     {
      "$ref": "#/components/schemas/search.index-document.v1"
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "search.index-document.v1": {
    "title": "IndexDocument",
    "description": "What an owning service tells OpenVibe.Search about one of its resources (roadmap §15.12, §4.2 A). The owner stays the source of truth; Search keeps a revision-ordered, permission-aware copy for discovery. A document with deleted=true is a tombstone: it removes the resource from every result and wins over any upsert with the same or an older revision.",
    "type": "object",
    "required": [
     "owner",
     "type",
     "id",
     "revision"
    ],
    "additionalProperties": false,
    "properties": {
     "owner": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$",
      "description": "Owning service id (wiki, blog, news, community, sources…). Only that service may write the document."
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$",
      "description": "Resource type inside the owner (page, post, story, entity, offer, coupon, instrument, item…)."
     },
     "id": {
      "type": "string",
      "pattern": "^[A-Za-z0-9][A-Za-z0-9._:~-]{0,127}$",
      "description": "Resource id inside owner+type. Stable across revisions."
     },
     "revision": {
      "type": "integer",
      "minimum": 0,
      "maximum": 9007199254740991,
      "description": "Owner's monotonic revision of the resource. An older revision never overwrites a newer one; at equal revision a deletion wins."
     },
     "deleted": {
      "type": "boolean",
      "default": false,
      "description": "Deletion marker. true = tombstone; every other content field is ignored."
     },
     "visibility": {
      "enum": [
       "public",
       "unlisted",
       "members",
       "private",
       "draft"
      ],
      "description": "public: anyone. unlisted: never listed except to ACL matches; fetchable by exact id by a signed-in subject. members: subjects, groups or entitlements in acl. private: subjects in acl.subjects only. draft: never served."
     },
     "acl": {
      "type": "object",
      "additionalProperties": false,
      "description": "Who may see a non-public document. Ignored for public documents. Empty means nobody (for members/private) or direct-id only (for unlisted).",
      "properties": {
       "subjects": {
        "type": "array",
        "maxItems": 200,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^(usr|gst)_[0-9A-HJKMNP-TV-Z]{26}$"
        }
       },
       "groups": {
        "type": "array",
        "maxItems": 100,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_.:-]{0,127}$"
        },
        "description": "Opaque group keys owned by some service, e.g. role:admin (Network role), wiki.space:spc_…:member."
       },
       "entitlements": {
        "type": "array",
        "maxItems": 100,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_.:-]{0,127}$"
        },
        "description": "Entitlement keys (VIP/Billing), e.g. vip.plan:pln_…. Only a first-party service that just resolved them may present them for a viewer."
       }
      }
     },
     "canonical_url": {
      "type": "string",
      "format": "uri",
      "pattern": "^https?://",
      "maxLength": 2048
     },
     "title": {
      "type": "string",
      "maxLength": 500
     },
     "summary": {
      "type": "string",
      "maxLength": 4000
     },
     "body": {
      "type": "string",
      "maxLength": 48000,
      "description": "Plain text for full-text search (no HTML). Keep it under the Events payload limit when publishing through Events."
     },
     "facets": {
      "type": "object",
      "maxProperties": 20,
      "propertyNames": {
       "pattern": "^[a-z][a-z0-9_]{0,39}$"
      },
      "additionalProperties": {
       "oneOf": [
        {
         "type": "string",
         "maxLength": 200
        },
        {
         "type": "number"
        },
        {
         "type": "boolean"
        },
        {
         "type": "array",
         "maxItems": 50,
         "items": {
          "type": "string",
          "maxLength": 200
         }
        }
       ]
      },
      "description": "Filterable values (category, tags, space, author subject, currency…). Filter with facet.<key>=<value>."
     },
     "language": {
      "type": "string",
      "pattern": "^[a-zA-Z]{2,3}(-[A-Za-z0-9]{2,8})*$",
      "description": "BCP 47 tag."
     },
     "authorship": {
      "enum": [
       "human",
       "ai_assisted",
       "ai_generated",
       "imported"
      ]
     },
     "provenance": {
      "type": "array",
      "maxItems": 50,
      "description": "Where the content came from: typed references to source records (Sources items, citations, Media objects).",
      "items": {
       "type": "object",
       "required": [
        "service",
        "type",
        "id"
       ],
       "additionalProperties": false,
       "properties": {
        "service": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$"
        },
        "type": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]{1,39}$"
        },
        "id": {
         "type": "string",
         "minLength": 1,
         "maxLength": 128
        },
        "revision": {
         "type": "integer",
         "minimum": 0
        },
        "label": {
         "type": "string",
         "maxLength": 200
        },
        "url": {
         "type": "string",
         "format": "uri",
         "pattern": "^https?://",
         "maxLength": 2048
        },
        "retrieved_at": {
         "type": "string",
         "format": "date-time"
        },
        "stub": {
         "type": "boolean",
         "description": "true when the reference came from a stub provider; the document is then never indexable."
        }
       }
      }
     },
     "publication_state": {
      "enum": [
       "draft",
       "scheduled",
       "published",
       "unpublished",
       "retracted",
       "archived"
      ],
      "description": "Only published documents are ever served."
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "indexability": {
      "type": "object",
      "required": [
       "decision"
      ],
      "additionalProperties": false,
      "description": "The owner's deterministic indexability decision (publishing packages, roadmap §32.3). Search can only make it stricter.",
      "properties": {
       "decision": {
        "enum": [
         "index",
         "noindex"
        ]
       },
       "reasons": {
        "type": "array",
        "maxItems": 20,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]{1,63}$"
        },
        "description": "Known reasons: draft, private, members_only, unlisted, not_published, deleted, thin_content, duplicate_without_canonical, unsupported_claims, unsourced, stub_provider, sensitive_unreviewed, ai_unreviewed, missing_canonical_url, third_party_content, owner_decision."
       }
      }
     }
    },
    "if": {
     "properties": {
      "deleted": {
       "const": true
      }
     },
     "required": [
      "deleted"
     ]
    },
    "then": {},
    "else": {
     "required": [
      "visibility",
      "publication_state",
      "title",
      "indexability"
     ]
    }
   },
   "search.owner-result.v1": {
    "title": "SearchOwnerResult",
    "description": "search.owner-result@1: answers of search.document.write on OpenVibe.Search. PUT and DELETE /api/v1/documents/:owner/:type/:id → search.write-result@1 (stale and conflicting revisions are 409 problems); GET /api/v1/owners/:owner/documents?type=&after=&limit= → { owner, documents, next_after } (reconciliation: type, id, revision, deleted, exposure, hash, indexed_at); GET /api/v1/owners/:owner/documents/:type/:id → { document, effective_indexability, exposure, via, event_id, indexed_at } (the stored document); GET /api/v1/owners/:owner/rejections?after= → { rejections, next_after } (index-document events Search refused, at most 200).",
    "anyOf": [
     {
      "$ref": "#/components/schemas/search.write-result.v1"
     },
     {
      "type": "object",
      "required": [
       "owner",
       "documents",
       "next_after"
      ],
      "properties": {
       "owner": {
        "type": "string"
       },
       "documents": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "type",
          "id",
          "revision",
          "deleted"
         ],
         "properties": {
          "type": {
           "type": "string"
          },
          "id": {
           "type": "string"
          },
          "revision": {
           "type": "integer"
          },
          "deleted": {
           "type": "boolean"
          },
          "exposure": {},
          "hash": {
           "type": [
            "string",
            "null"
           ]
          },
          "indexed_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          }
         }
        }
       },
       "next_after": {
        "type": [
         "integer",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "document",
       "effective_indexability"
      ],
      "properties": {
       "document": {
        "$ref": "#/components/schemas/search.index-document.v1"
       },
       "effective_indexability": {},
       "exposure": {},
       "via": {},
       "event_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "indexed_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "rejections",
       "next_after"
      ],
      "properties": {
       "rejections": {
        "type": "array",
        "maxItems": 200,
        "items": {
         "type": "object",
         "required": [
          "seq",
          "code"
         ],
         "properties": {
          "seq": {
           "type": "integer"
          },
          "event_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "event_type": {
           "type": [
            "string",
            "null"
           ]
          },
          "type": {
           "type": [
            "string",
            "null"
           ]
          },
          "id": {
           "type": [
            "string",
            "null"
           ]
          },
          "revision": {
           "type": [
            "integer",
            "null"
           ]
          },
          "code": {
           "type": "string"
          },
          "detail": {
           "type": [
            "string",
            "null"
           ]
          },
          "at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          }
         }
        }
       },
       "next_after": {
        "type": [
         "integer",
         "null"
        ]
       }
      }
     }
    ]
   },
   "search.query-result.v1": {
    "title": "SearchQueryResult",
    "description": "search.query-result@1: the answer of GET /api/v1/search — one page of hits the caller may see, a cursor for the next page, and facet counts when asked. Never a total count and never an ACL.",
    "type": "object",
    "required": [
     "results",
     "next_cursor"
    ],
    "additionalProperties": false,
    "properties": {
     "results": {
      "type": "array",
      "maxItems": 100,
      "items": {
       "type": "object",
       "required": [
        "owner",
        "type",
        "id"
       ],
       "additionalProperties": false,
       "properties": {
        "owner": {
         "type": "string"
        },
        "type": {
         "type": "string"
        },
        "id": {
         "type": "string"
        },
        "revision": {
         "type": "integer",
         "minimum": 0
        },
        "visibility": {
         "type": "string"
        },
        "title": {
         "type": [
          "string",
          "null"
         ]
        },
        "summary": {
         "type": [
          "string",
          "null"
         ]
        },
        "canonical_url": {
         "type": [
          "string",
          "null"
         ]
        },
        "facets": {
         "type": [
          "object",
          "null"
         ]
        },
        "language": {
         "type": [
          "string",
          "null"
         ]
        },
        "authorship": {
         "type": [
          "string",
          "null"
         ]
        },
        "provenance": {
         "type": [
          "array",
          "object",
          "null"
         ]
        },
        "published_at": {
         "type": [
          "string",
          "null"
         ]
        },
        "updated_at": {
         "type": [
          "string",
          "null"
         ]
        },
        "indexable": {
         "type": "boolean",
         "description": "false for a noindex document the caller may still see."
        },
        "snippet_html": {
         "type": [
          "string",
          "null"
         ],
         "description": "Escaped text with <mark> around the matches; nothing else."
        }
       }
      }
     },
     "next_cursor": {
      "type": [
       "string",
       "null"
      ]
     },
     "facets": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "items": {
        "type": "object",
        "required": [
         "value",
         "count"
        ],
        "properties": {
         "value": {
          "type": "string"
         },
         "count": {
          "type": "integer",
          "minimum": 0
         }
        }
       }
      }
     }
    }
   },
   "search.query.v1": {
    "title": "SearchQuery",
    "description": "search.query@1: the query string of GET /api/v1/search (and, with q/owner/type/limit only, GET /api/v1/suggest), capabilities search.query.run and search.query.delegate. Who sees what is decided by Search per hit: anonymous callers get public, published, indexable documents; a person also restricted documents naming them; a delegating service passes X-OV-Subject. Filters narrow; they never widen visibility.",
    "type": "object",
    "additionalProperties": false,
    "properties": {
     "q": {
      "type": "string",
      "maxLength": 200,
      "description": "Words to match (FTS5; empty lists by recency)."
     },
     "owner": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_-]{0,31}$",
      "description": "One owner service (live, community, wiki, …)."
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_-]{0,31}$",
      "description": "One document type within the owner (channel, vod, thread, …)."
     },
     "lang": {
      "type": "string",
      "pattern": "^[a-zA-Z]{2,3}(-[A-Za-z0-9]{2,8})*$",
      "description": "BCP 47 language."
     },
     "facets": {
      "type": "string",
      "maxLength": 400,
      "description": "Comma-separated facet keys to count over what the caller can see."
     },
     "limit": {
      "type": [
       "integer",
       "string"
      ],
      "pattern": "^[0-9]{1,3}$",
      "minimum": 1,
      "maximum": 100
     },
     "cursor": {
      "type": "string",
      "maxLength": 512,
      "description": "next_cursor of the previous page."
     }
    },
    "patternProperties": {
     "^facet\\.[a-z][a-z0-9_]{0,39}$": {
      "description": "A facet filter (facet.<key>=<value>); repeat the parameter for several values.",
      "oneOf": [
       {
        "type": "string",
        "maxLength": 200
       },
       {
        "type": "array",
        "maxItems": 20,
        "items": {
         "type": "string",
         "maxLength": 200
        }
       }
      ]
     }
    }
   },
   "search.read-result.v1": {
    "title": "SearchReadResult",
    "description": "search.read-result@1: answers of search.query.run and search.query.delegate on OpenVibe.Search. GET /api/v1/search → search.query-result@1; GET /api/v1/suggest?q=&owner=&type=&limit= → { suggestions } (title prefixes, at most 20, only documents the caller may see); GET /api/v1/documents/:owner/:type/:id → { document } (one document by exact id, if the caller may see it; 404 otherwise).",
    "anyOf": [
     {
      "$ref": "#/components/schemas/search.query-result.v1"
     },
     {
      "type": "object",
      "required": [
       "suggestions"
      ],
      "properties": {
       "suggestions": {
        "type": "array",
        "maxItems": 20,
        "items": {
         "type": "object",
         "required": [
          "owner",
          "type",
          "id"
         ],
         "properties": {
          "owner": {
           "type": "string"
          },
          "type": {
           "type": "string"
          },
          "id": {
           "type": "string"
          },
          "title": {
           "type": [
            "string",
            "null"
           ]
          },
          "canonical_url": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "document"
      ],
      "properties": {
       "document": {
        "type": "object",
        "required": [
         "owner",
         "type",
         "id",
         "revision",
         "indexable"
        ],
        "properties": {
         "owner": {
          "type": "string"
         },
         "type": {
          "type": "string"
         },
         "id": {
          "type": "string"
         },
         "revision": {
          "type": "integer"
         },
         "visibility": {
          "type": "string"
         },
         "title": {
          "type": [
           "string",
           "null"
          ]
         },
         "summary": {
          "type": [
           "string",
           "null"
          ]
         },
         "canonical_url": {
          "type": [
           "string",
           "null"
          ]
         },
         "facets": {},
         "language": {},
         "authorship": {},
         "provenance": {},
         "published_at": {},
         "updated_at": {},
         "indexable": {
          "type": "boolean"
         }
        }
       }
      }
     }
    ]
   },
   "search.write-result.v1": {
    "title": "SearchWriteResult",
    "description": "search.write-result@1: the answer of PUT /api/v1/documents/:owner/:type/:id (search.document.write). applied: stored (or a tombstone recorded); unchanged: the same revision with the same content. A revision older than the stored one is a 409 problem search.stale_revision; the same revision with different content is 409 search.revision_conflict.",
    "type": "object",
    "required": [
     "outcome",
     "revision"
    ],
    "additionalProperties": false,
    "properties": {
     "outcome": {
      "enum": [
       "applied",
       "unchanged"
      ]
     },
     "revision": {
      "type": "integer",
      "minimum": 1
     },
     "stored_revision": {
      "type": [
       "integer",
       "null"
      ],
      "description": "What Search held before this write (null: nothing)."
     },
     "deleted": {
      "type": "boolean"
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
