{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Services API",
  "version": "0.112.0",
  "description": "Routes of OpenVibe.Services as the OpenVibe contracts describe them (openvibe-contracts 0.112.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.services"
  }
 ],
 "paths": {
  "/api/v1/resources": {
   "get": {
    "operationId": "get_api_v1_resources",
    "summary": "Services' merged resource index over every authority that serves one (ADR-048), readable by a first-party service token holding the capability or by a person's user token scoped to a project they own ",
    "description": "**services.resource.read** (first-party): Services' merged resource index over every authority that serves one (ADR-048), readable by a first-party service token holding the capability or by a person's user token scoped to a project they own or belong to (one project per request).",
    "tags": [
     "services.resource"
    ],
    "x-openvibe-capabilities": [
     "services.resource.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "services.resource.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/common.resource-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/resources/{ovrn}": {
   "get": {
    "operationId": "get_api_v1_resources_ovrn",
    "summary": "Services' merged resource index over every authority that serves one (ADR-048), readable by a first-party service token holding the capability or by a person's user token scoped to a project they own ",
    "description": "**services.resource.read** (first-party): Services' merged resource index over every authority that serves one (ADR-048), readable by a first-party service token holding the capability or by a person's user token scoped to a project they own or belong to (one project per request).",
    "tags": [
     "services.resource"
    ],
    "x-openvibe-capabilities": [
     "services.resource.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "services.resource.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "ovrn",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/common.resource-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.resource-list-result.v1": {
    "title": "ResourceListResult",
    "description": "A page of the resource index (roadmap WS-Z7).",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "resources",
     "next_cursor"
    ],
    "properties": {
     "resources": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/common.resource-summary.v1"
      }
     },
     "next_cursor": {
      "type": [
       "string",
       "null"
      ]
     },
     "partial": {
      "type": "array",
      "description": "Authorities a merged index (OpenVibe.Services, ADR-048) could not read for this page: a slow or failing authority is omitted, never fails the page. Each entry names the authority and the problem code it answered. Added in 1.1.0; a single authority's own index leaves it out.",
      "items": {
       "type": "object",
       "required": [
        "service",
        "code"
       ],
       "additionalProperties": false,
       "properties": {
        "service": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$"
        },
        "code": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
        }
       }
      }
     }
    }
   },
   "common.resource-summary.v1": {
    "title": "ResourceSummary",
    "description": "One resource of any service, as the resource index lists it (roadmap WS-Z7): every service answers GET /api/v1/resources with these, so OpenVibe.Services shows any resource without owning its data.",
    "type": "object",
    "additionalProperties": false,
    "required": [
     "id",
     "kind",
     "service",
     "state",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "kind": {
      "type": "string",
      "description": "service.kind, e.g. watch.watch, actor.actor, media.object, events.subscription"
     },
     "service": {
      "type": "string"
     },
     "project_id": {
      "type": "string",
      "pattern": "^prj_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "ovrn": {
      "type": "string",
      "maxLength": 200,
      "pattern": "^ovrn:[a-z][a-z0-9-]{0,31}:prj_[0-9A-HJKMNP-TV-Z]{26}:[a-z][a-z0-9-]{0,39}/[a-z]{3}_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "Optional resource name (ADR-034 section 2), the name grants, audit, events, usage records and bills use: ovrn:<service>:<project_id>:<type>/<id>, e.g. ovrn:watch:<project_id>:watch/<wch_id>, with the pattern of common.usage-recorded@1 resource. Its service, project and id are this summary's service, project_id and id. Added in 1.1.0."
     },
     "owner": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "name": {
      "type": "string"
     },
     "state": {
      "type": "string"
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "usage": {
      "type": "object",
      "additionalProperties": {
       "type": "number",
       "minimum": 0
      },
      "properties": {},
      "description": "cost units by name (WS-Z1)"
     },
     "links": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "self": {
        "type": "string",
        "format": "uri"
       },
       "console": {
        "type": "string",
        "format": "uri"
       },
       "docs": {
        "type": "string",
        "format": "uri"
       }
      }
     }
    }
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "agent"
       },
       "id": {
        "type": "string",
        "pattern": "^agt_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AgentSubject: an agent (OpenVibe.Actor, or a developer app's agent) acting under grants its owner delegated (roadmap WS-Z2). In an event envelope, on_behalf_of names the owner."
     }
    ]
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
