{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Sources API",
  "version": "0.62.0",
  "description": "Routes of OpenVibe.Sources as the OpenVibe contracts describe them (openvibe-contracts 0.62.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://sources.openvibe.network"
  }
 ],
 "paths": {
  "/api/v1/health": {
   "get": {
    "operationId": "get_api_v1_health",
    "summary": "List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary.",
    "description": "**sources.source.read** (first-party): List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary. Credential values are never part of any response; only the variable name is.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-read",
    "security": [
     {
      "openvibeToken": [
       "sources.source.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/items": {
   "get": {
    "operationId": "get_api_v1_items",
    "summary": "Read source items with provenance (source, canonical URL, retrieval time, content and raw-body hashes, parser version, terms) in change order, and one item with its revisions.",
    "description": "**sources.item.read** (first-party): Read source items with provenance (source, canonical URL, retrieval time, content and raw-body hashes, parser version, terms) in change order, and one item with its revisions. Each page states the staleness of the sources it contains.",
    "tags": [
     "sources.item"
    ],
    "x-openvibe-capabilities": [
     "sources.item.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-read",
    "security": [
     {
      "openvibeToken": [
       "sources.item.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.item-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/items/{id}": {
   "delete": {
    "operationId": "delete_api_v1_items_id",
    "summary": "Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky).",
    "description": "**sources.source.manage** (first-party): Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky). Enabling needs a terms note, and a robots note for fetched sources.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-admin",
    "security": [
     {
      "openvibeToken": [
       "sources.source.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/sources.source-write-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_items_id",
    "summary": "Read source items with provenance (source, canonical URL, retrieval time, content and raw-body hashes, parser version, terms) in change order, and one item with its revisions.",
    "description": "**sources.item.read** (first-party): Read source items with provenance (source, canonical URL, retrieval time, content and raw-body hashes, parser version, terms) in change order, and one item with its revisions. Each page states the staleness of the sources it contains.",
    "tags": [
     "sources.item"
    ],
    "x-openvibe-capabilities": [
     "sources.item.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-read",
    "security": [
     {
      "openvibeToken": [
       "sources.item.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.item-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/runs": {
   "get": {
    "operationId": "get_api_v1_runs",
    "summary": "List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary.",
    "description": "**sources.source.read** (first-party): List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary. Credential values are never part of any response; only the variable name is.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-read",
    "security": [
     {
      "openvibeToken": [
       "sources.source.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sources": {
   "get": {
    "operationId": "get_api_v1_sources",
    "summary": "List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary.",
    "description": "**sources.source.read** (first-party): List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary. Credential values are never part of any response; only the variable name is.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-read",
    "security": [
     {
      "openvibeToken": [
       "sources.source.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_sources",
    "summary": "Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky).",
    "description": "**sources.source.manage** (first-party): Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky). Enabling needs a terms note, and a robots note for fetched sources.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-admin",
    "security": [
     {
      "openvibeToken": [
       "sources.source.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/sources.source-write-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sources/{key}": {
   "delete": {
    "operationId": "delete_api_v1_sources_key",
    "summary": "Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky).",
    "description": "**sources.source.manage** (first-party): Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky). Enabling needs a terms note, and a robots note for fetched sources.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-admin",
    "security": [
     {
      "openvibeToken": [
       "sources.source.manage"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/sources.source-write-request.v1"
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_sources_key",
    "summary": "List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary.",
    "description": "**sources.source.read** (first-party): List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary. Credential values are never part of any response; only the variable name is.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-read",
    "security": [
     {
      "openvibeToken": [
       "sources.source.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_sources_key",
    "summary": "Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky).",
    "description": "**sources.source.manage** (first-party): Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky). Enabling needs a terms note, and a robots note for fetched sources.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-admin",
    "security": [
     {
      "openvibeToken": [
       "sources.source.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/sources.source-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sources/{key}/fetch": {
   "post": {
    "operationId": "post_api_v1_sources_key_fetch",
    "summary": "Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky).",
    "description": "**sources.source.manage** (first-party): Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky). Enabling needs a terms note, and a robots note for fetched sources.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-admin",
    "security": [
     {
      "openvibeToken": [
       "sources.source.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/sources.source-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sources/{key}/items": {
   "post": {
    "operationId": "post_api_v1_sources_key_items",
    "summary": "Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky).",
    "description": "**sources.source.manage** (first-party): Create, change, enable or disable and delete (only while it has no items) sources; trigger a fetch; add items to manual sources with an evidence URL; remove an item with a reason (sticky). Enabling needs a terms note, and a robots note for fetched sources.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-admin",
    "security": [
     {
      "openvibeToken": [
       "sources.source.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/sources.source-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/sources/{key}/runs": {
   "get": {
    "operationId": "get_api_v1_sources_key_runs",
    "summary": "List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary.",
    "description": "**sources.source.read** (first-party): List registered sources with health and staleness, their fetch runs (every attempt with an explicit state) and the health summary. Credential values are never part of any response; only the variable name is.",
    "tags": [
     "sources.source"
    ],
    "x-openvibe-capabilities": [
     "sources.source.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "sources-read",
    "security": [
     {
      "openvibeToken": [
       "sources.source.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "key",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/sources.source-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "sources.item-read-result.v1": {
    "title": "SourcesItemReadResult",
    "description": "sources.item-read-result@1: answers of sources.item.read on OpenVibe.Sources. GET /api/v1/items?source=&category=&after=&limit=&include_removed= → { items, next_after, more, sources } (a change feed: items in change order, at most 500; sources gives each listed source's health); GET /api/v1/items/:id[?revisions=1] → { item, source } (the item, with its revisions when asked, and its source's health; null when the source is gone).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "items",
       "next_after",
       "sources"
      ],
      "properties": {
       "items": {
        "type": "array",
        "maxItems": 500,
        "items": {
         "$ref": "#/components/schemas/sources.item.v1"
        }
       },
       "next_after": {
        "type": "integer",
        "minimum": 0
       },
       "more": {
        "type": "boolean"
       },
       "sources": {
        "type": "object",
        "additionalProperties": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          },
          "stale": {
           "type": "boolean"
          },
          "last_success_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "item",
       "source"
      ],
      "properties": {
       "item": {
        "$ref": "#/components/schemas/sources.item.v1"
       },
       "source": {
        "anyOf": [
         {
          "type": "object",
          "required": [
           "key"
          ],
          "properties": {
           "key": {
            "type": "string"
           },
           "status": {
            "type": "string"
           },
           "stale": {
            "type": "boolean"
           },
           "last_success_at": {
            "type": [
             "string",
             "null"
            ],
            "format": "date-time"
           }
          }
         },
         {
          "type": "null"
         }
        ]
       }
      }
     }
    ]
   },
   "sources.item.v1": {
    "title": "SourceItem",
    "description": "One thing a source said, with its provenance: source, canonical URL, retrieval time, content hash, raw-body hash, parser version and the terms it was ingested under. A field the source did not state is null — never guessed. Items change only through successful fetches (a new revision per content change) or an explicit, audited removal.",
    "type": "object",
    "required": [
     "id",
     "source_key",
     "category",
     "kind",
     "identity",
     "canonical_url",
     "title",
     "summary",
     "authors",
     "published_at",
     "source_updated_at",
     "fields",
     "revision",
     "provenance",
     "removed"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^itm_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "source_key": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9-]{1,63}$"
     },
     "category": {
      "enum": [
       "news",
       "blog",
       "reviews",
       "deals",
       "coupons",
       "trade"
      ]
     },
     "kind": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$",
      "description": "article | url | sitemap | product | offer | review | review_signal | record | coupon …"
     },
     "identity": {
      "type": "string",
      "minLength": 1,
      "maxLength": 2048,
      "description": "The source's own id (guid, @id, API id) or the canonical URL."
     },
     "canonical_url": {
      "type": [
       "string",
       "null"
      ],
      "format": "uri"
     },
     "title": {
      "type": [
       "string",
       "null"
      ]
     },
     "summary": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 1000,
      "description": "Plain text, capped. Sources keeps metadata and short descriptions, not republishable full text."
     },
     "authors": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "source_updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "fields": {
      "type": "object",
      "description": "Adapter-specific parsed fields (offers, ratings, prices as stated, API extras)."
     },
     "revision": {
      "type": "integer",
      "minimum": 1
     },
     "provenance": {
      "type": "object",
      "required": [
       "retrieved_at",
       "first_seen_at",
       "content_hash",
       "raw_body_hash",
       "parser_version",
       "fetch_run_id",
       "license_note",
       "terms_note",
       "entered_by"
      ],
      "additionalProperties": false,
      "properties": {
       "retrieved_at": {
        "type": "string",
        "format": "date-time",
        "description": "Last successful fetch that contained this item (observation time)."
       },
       "first_seen_at": {
        "type": "string",
        "format": "date-time"
       },
       "content_hash": {
        "type": "string",
        "pattern": "^[0-9a-f]{64}$"
       },
       "raw_body_hash": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^[0-9a-f]{64}$"
       },
       "parser_version": {
        "type": "string",
        "pattern": "^[a-z]+@\\d+$"
       },
       "fetch_run_id": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^frn_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "license_note": {
        "type": [
         "string",
         "null"
        ]
       },
       "terms_note": {
        "type": [
         "string",
         "null"
        ]
       },
       "entered_by": {
        "type": [
         "string",
         "null"
        ],
        "description": "Principal that entered a manual item."
       }
      }
     },
     "removed": {
      "type": [
       "object",
       "null"
      ],
      "additionalProperties": false,
      "required": [
       "at",
       "reason"
      ],
      "properties": {
       "at": {
        "type": "string",
        "format": "date-time"
       },
       "reason": {
        "type": "string"
       }
      }
     },
     "change_seq": {
      "type": "integer",
      "minimum": 1
     },
     "revisions": {
      "type": "array"
     }
    }
   },
   "sources.source-manage-result.v1": {
    "title": "SourcesSourceManageResult",
    "description": "sources.source-manage-result@1: answers of sources.source.manage on OpenVibe.Sources. POST /api/v1/sources → 201 { source }; PATCH /api/v1/sources/:key → { source } (sources.source@1 with health); DELETE /api/v1/sources/:key → 204 with no body; POST /api/v1/sources/:key/fetch → { runs } (one fetch run per endpoint; 409 for a manual source or a run in flight); POST /api/v1/sources/:key/items → { outcome, item } (201 when created); DELETE /api/v1/items/:id → { item } (the tombstoned item).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "source"
      ],
      "properties": {
       "source": {
        "$ref": "#/components/schemas/sources.source.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "outcome",
       "item"
      ],
      "properties": {
       "outcome": {
        "enum": [
         "created",
         "updated",
         "removed",
         "unchanged"
        ]
       },
       "item": {
        "$ref": "#/components/schemas/sources.item.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "item"
      ],
      "properties": {
       "item": {
        "$ref": "#/components/schemas/sources.item.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "runs"
      ],
      "properties": {
       "runs": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "source_key",
          "state"
         ],
         "properties": {
          "id": {
           "type": [
            "string",
            "integer",
            "null"
           ]
          },
          "source_key": {
           "type": "string"
          },
          "endpoint_url": {
           "type": [
            "string",
            "null"
           ]
          },
          "trigger": {
           "type": "string"
          },
          "started_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "finished_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "state": {
           "type": "string"
          },
          "http_status": {
           "type": [
            "integer",
            "null"
           ]
          },
          "error_code": {
           "type": [
            "string",
            "null"
           ]
          },
          "detail": {
           "type": [
            "string",
            "null"
           ]
          },
          "bytes": {
           "type": [
            "integer",
            "null"
           ]
          },
          "items": {
           "type": "object",
           "properties": {
            "seen": {},
            "created": {},
            "updated": {},
            "unchanged": {},
            "skipped": {}
           }
          },
          "seq": {
           "type": [
            "integer",
            "null"
           ]
          }
         }
        }
       }
      }
     }
    ]
   },
   "sources.source-read-result.v1": {
    "title": "SourcesSourceReadResult",
    "description": "sources.source-read-result@1: answers of sources.source.read on OpenVibe.Sources. GET /api/v1/sources → { sources }; GET /api/v1/sources/:key → { source } (sources.source@1 with health); GET /api/v1/sources/:key/runs?before=&limit= → { runs, next_before } (newest first); GET /api/v1/runs?after=&source=&state=&limit= → { runs, next_after } (every source's fetch runs in order; state failed means any failure); GET /api/v1/health → { counts, attention } (sources by health status, and the failing, stale or never fetched ones).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "sources"
      ],
      "properties": {
       "sources": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/sources.source.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "source"
      ],
      "properties": {
       "source": {
        "$ref": "#/components/schemas/sources.source.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "runs"
      ],
      "anyOf": [
       {
        "required": [
         "next_before"
        ]
       },
       {
        "required": [
         "next_after"
        ]
       }
      ],
      "properties": {
       "runs": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "source_key",
          "state"
         ],
         "properties": {
          "id": {
           "type": [
            "string",
            "integer",
            "null"
           ]
          },
          "source_key": {
           "type": "string"
          },
          "endpoint_url": {
           "type": [
            "string",
            "null"
           ]
          },
          "trigger": {
           "type": "string"
          },
          "started_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "finished_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          },
          "state": {
           "type": "string"
          },
          "http_status": {
           "type": [
            "integer",
            "null"
           ]
          },
          "error_code": {
           "type": [
            "string",
            "null"
           ]
          },
          "detail": {
           "type": [
            "string",
            "null"
           ]
          },
          "bytes": {
           "type": [
            "integer",
            "null"
           ]
          },
          "raw_body_hash": {
           "type": [
            "string",
            "null"
           ]
          },
          "parser_version": {},
          "items": {
           "type": "object"
          },
          "seq": {
           "type": [
            "integer",
            "null"
           ]
          }
         }
        }
       },
       "next_before": {
        "type": [
         "integer",
         "null"
        ]
       },
       "next_after": {
        "type": [
         "integer",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "counts",
       "attention"
      ],
      "properties": {
       "counts": {
        "type": "object",
        "additionalProperties": {
         "type": "integer"
        }
       },
       "attention": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "key",
          "status"
         ],
         "properties": {
          "key": {
           "type": "string"
          },
          "category": {
           "type": "string"
          },
          "type": {
           "type": "string"
          },
          "status": {
           "type": "string"
          }
         }
        }
       }
      }
     }
    ]
   },
   "sources.source-write-request.v1": {
    "title": "SourcesSourceWriteRequest",
    "description": "sources.source-write-request@1: bodies of sources.source.manage on OpenVibe.Sources. POST /api/v1/sources registers a source (key, name, type and category required; the other sources.source@1 fields take their defaults; endpoints may be given as bare URLs; a manual source has none, any other at least one) and PATCH /api/v1/sources/:key changes one (merged over the stored source and validated again; key never changes, type not once it has items). Both refuse unknown fields. POST /api/v1/sources/:key/items adds an item to a manual source: url (the evidence) and title required. DELETE /api/v1/items/:id takes { reason } (takedown, licence, error…). DELETE /api/v1/sources/:key (only a source that never produced an item) and POST /api/v1/sources/:key/fetch take no body.",
    "anyOf": [
     {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "key": {
        "type": "string",
        "pattern": "^[a-z0-9][a-z0-9-]{1,63}$"
       },
       "name": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
       },
       "type": {
        "enum": [
         "rss",
         "atom",
         "sitemap",
         "jsonld",
         "api",
         "manual"
        ]
       },
       "category": {
        "enum": [
         "news",
         "blog",
         "reviews",
         "deals",
         "coupons",
         "trade"
        ]
       },
       "homepage_url": {
        "type": [
         "string",
         "null"
        ],
        "format": "uri"
       },
       "endpoints": {
        "type": "array",
        "maxItems": 20,
        "items": {
         "anyOf": [
          {
           "type": "string",
           "pattern": "^https?://",
           "description": "Shorthand for { url }."
          },
          {
           "type": "object",
           "required": [
            "url"
           ],
           "additionalProperties": false,
           "properties": {
            "url": {
             "type": "string",
             "format": "uri",
             "pattern": "^https?://"
            },
            "format": {
             "enum": [
              "json",
              "xml"
             ]
            },
            "items_path": {
             "type": "string"
            },
            "item_kind": {
             "type": "string",
             "pattern": "^[a-z][a-z0-9_]{1,39}$"
            },
            "fields": {
             "type": "object",
             "additionalProperties": {
              "type": "string"
             }
            },
            "extra": {
             "type": "object",
             "additionalProperties": {
              "type": "string"
             }
            }
           }
          }
         ]
        }
       },
       "auth": {
        "type": "object",
        "required": [
         "mode"
        ],
        "additionalProperties": false,
        "properties": {
         "mode": {
          "enum": [
           "none",
           "header",
           "bearer",
           "query"
          ]
         },
         "env": {
          "type": "string",
          "pattern": "^SOURCES_CRED_[A-Z0-9_]{2,60}$",
          "description": "Name of the environment variable holding the credential. Never a value."
         },
         "header": {
          "type": "string",
          "pattern": "^[A-Za-z][A-Za-z0-9-]{0,63}$"
         },
         "param": {
          "type": "string",
          "pattern": "^[A-Za-z0-9_.-]{1,64}$"
         }
        }
       },
       "robots_note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 2000
       },
       "terms_note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 2000
       },
       "license_note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 2000
       },
       "min_interval_ms": {
        "type": "integer",
        "minimum": 0,
        "description": "Rate limit: the least time between two requests to this source (the per-host floor and robots Crawl-delay may raise it)."
       },
       "poll_interval_sec": {
        "type": "integer",
        "minimum": 1
       },
       "stale_after_sec": {
        "type": "integer",
        "minimum": 1
       },
       "max_items": {
        "type": "integer",
        "minimum": 1
       },
       "enabled": {
        "type": "boolean"
       },
       "review_required": {
        "type": "boolean",
        "description": "Products must review what they derive from this source before it can be indexable."
       },
       "sensitivity": {
        "enum": [
         "none",
         "financial",
         "health",
         "political",
         "legal",
         "adult"
        ]
       },
       "default_indexability": {
        "enum": [
         "index",
         "noindex"
        ],
        "description": "What a product's indexability gate starts from for content derived from this source."
       },
       "search_visibility": {
        "type": [
         "string",
         "null"
        ],
        "enum": [
         "members",
         null
        ],
        "description": "members = raw items are indexed in OpenVibe.Search for staff only (never indexable)."
       }
      }
     },
     {
      "type": "object",
      "required": [
       "url",
       "title"
      ],
      "properties": {
       "url": {
        "type": "string",
        "pattern": "^https?://",
        "description": "Where this was published."
       },
       "title": {
        "type": "string",
        "minLength": 1,
        "maxLength": 500
       },
       "kind": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9_]{1,39}$",
        "default": "record"
       },
       "identity": {
        "type": "string",
        "description": "Stable identity within the source; the canonical URL by default."
       },
       "summary": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 1000
       },
       "authors": {
        "type": "array",
        "maxItems": 20,
        "items": {
         "type": "string",
         "maxLength": 200
        }
       },
       "published_at": {
        "type": [
         "string",
         "null"
        ],
        "description": "A date the source states."
       },
       "updated_at": {
        "type": [
         "string",
         "null"
        ]
       },
       "fields": {
        "type": "object",
        "maxProperties": 30,
        "propertyNames": {
         "pattern": "^[a-z][a-z0-9_]{0,39}$"
        },
        "additionalProperties": {
         "type": [
          "string",
          "number",
          "boolean",
          "null"
         ],
         "maxLength": 500
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "reason"
      ],
      "properties": {
       "reason": {
        "type": "string",
        "minLength": 1,
        "maxLength": 300
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "sources.source.v1": {
    "title": "Source",
    "description": "A registered source (roadmap §4.2 B, Wave 14): where it is fetched from and on what terms. Credentials are referenced by environment-variable NAME only. A source's existence is never permission to fetch: robots and terms are verified before it is enabled, and the fetcher re-checks robots.txt on every run.",
    "type": "object",
    "required": [
     "key",
     "name",
     "type",
     "category",
     "endpoints",
     "auth",
     "min_interval_ms",
     "poll_interval_sec",
     "stale_after_sec",
     "max_items",
     "enabled",
     "review_required",
     "sensitivity",
     "default_indexability"
    ],
    "additionalProperties": false,
    "properties": {
     "key": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9-]{1,63}$"
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 200
     },
     "type": {
      "enum": [
       "rss",
       "atom",
       "sitemap",
       "jsonld",
       "api",
       "manual"
      ]
     },
     "category": {
      "enum": [
       "news",
       "blog",
       "reviews",
       "deals",
       "coupons",
       "trade"
      ]
     },
     "homepage_url": {
      "type": [
       "string",
       "null"
      ],
      "format": "uri"
     },
     "endpoints": {
      "type": "array",
      "maxItems": 20,
      "items": {
       "type": "object",
       "required": [
        "url"
       ],
       "additionalProperties": false,
       "properties": {
        "url": {
         "type": "string",
         "format": "uri",
         "pattern": "^https?://"
        },
        "format": {
         "enum": [
          "json",
          "xml"
         ]
        },
        "items_path": {
         "type": "string"
        },
        "item_kind": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_]{1,39}$"
        },
        "fields": {
         "type": "object",
         "additionalProperties": {
          "type": "string"
         }
        },
        "extra": {
         "type": "object",
         "additionalProperties": {
          "type": "string"
         }
        }
       }
      }
     },
     "auth": {
      "type": "object",
      "required": [
       "mode"
      ],
      "additionalProperties": false,
      "properties": {
       "mode": {
        "enum": [
         "none",
         "header",
         "bearer",
         "query"
        ]
       },
       "env": {
        "type": "string",
        "pattern": "^SOURCES_CRED_[A-Z0-9_]{2,60}$",
        "description": "Name of the environment variable holding the credential. Never a value."
       },
       "header": {
        "type": "string",
        "pattern": "^[A-Za-z][A-Za-z0-9-]{0,63}$"
       },
       "param": {
        "type": "string",
        "pattern": "^[A-Za-z0-9_.-]{1,64}$"
       }
      }
     },
     "robots_note": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 2000
     },
     "terms_note": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 2000
     },
     "license_note": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 2000
     },
     "min_interval_ms": {
      "type": "integer",
      "minimum": 0,
      "description": "Rate limit: the least time between two requests to this source (the per-host floor and robots Crawl-delay may raise it)."
     },
     "poll_interval_sec": {
      "type": "integer",
      "minimum": 1
     },
     "stale_after_sec": {
      "type": "integer",
      "minimum": 1
     },
     "max_items": {
      "type": "integer",
      "minimum": 1
     },
     "enabled": {
      "type": "boolean"
     },
     "review_required": {
      "type": "boolean",
      "description": "Products must review what they derive from this source before it can be indexable."
     },
     "sensitivity": {
      "enum": [
       "none",
       "financial",
       "health",
       "political",
       "legal",
       "adult"
      ]
     },
     "default_indexability": {
      "enum": [
       "index",
       "noindex"
      ],
      "description": "What a product's indexability gate starts from for content derived from this source."
     },
     "search_visibility": {
      "type": [
       "string",
       "null"
      ],
      "enum": [
       "members",
       null
      ],
      "description": "members = raw items are indexed in OpenVibe.Search for staff only (never indexable)."
     },
     "health": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
       "status": {
        "enum": [
         "healthy",
         "stale",
         "failing",
         "never_fetched",
         "disabled",
         "manual"
        ]
       },
       "stale": {
        "type": "boolean"
       },
       "last_success_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "last_run_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "last_state": {
        "type": [
         "string",
         "null"
        ]
       },
       "consecutive_failures": {
        "type": "integer",
        "minimum": 0
       },
       "next_due_at": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "stale_after_sec": {
        "type": "integer"
       }
      }
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
