{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Space API",
  "version": "0.94.1",
  "description": "Routes of OpenVibe.Space as the OpenVibe contracts describe them (openvibe-contracts 0.94.1): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.space"
  }
 ],
 "paths": {
  "/api/v1/posts/{id}": {
   "delete": {
    "operationId": "delete_api_v1_posts_id",
    "summary": "Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Sub",
    "description": "**space.post.write** (public): Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by OpenVibe.Space.",
    "tags": [
     "space.post"
    ],
    "x-openvibe-capabilities": [
     "space.post.write"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-write",
    "security": [
     {
      "openvibeToken": [
       "space.post.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/space.post-write-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_posts_id",
    "summary": "Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Sub",
    "description": "**space.post.write** (public): Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by OpenVibe.Space.",
    "tags": [
     "space.post"
    ],
    "x-openvibe-capabilities": [
     "space.post.write"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-write",
    "security": [
     {
      "openvibeToken": [
       "space.post.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/space.post-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces": {
   "get": {
    "operationId": "get_api_v1_spaces",
    "summary": "List the spaces the caller can open and read one space's metadata (renamed from community.space.read, plan T10 D3: OpenVibe.Space owns the forum).",
    "description": "**space.forum.read** (public): List the spaces the caller can open and read one space's metadata (renamed from community.space.read, plan T10 D3: OpenVibe.Space owns the forum). Anonymous callers see public spaces, signed-in people also members spaces, moderators also staff spaces; members-only (VIP) spaces are flagged. Served to anyone; Space checks space visibility itself.",
    "tags": [
     "space.forum"
    ],
    "x-openvibe-capabilities": [
     "space.forum.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.forum.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.forum-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}": {
   "get": {
    "operationId": "get_api_v1_spaces_space",
    "summary": "List the spaces the caller can open and read one space's metadata (renamed from community.space.read, plan T10 D3: OpenVibe.Space owns the forum).",
    "description": "**space.forum.read** (public): List the spaces the caller can open and read one space's metadata (renamed from community.space.read, plan T10 D3: OpenVibe.Space owns the forum). Anonymous callers see public spaces, signed-in people also members spaces, moderators also staff spaces; members-only (VIP) spaces are flagged. Served to anyone; Space checks space visibility itself.",
    "tags": [
     "space.forum"
    ],
    "x-openvibe-capabilities": [
     "space.forum.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.forum.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.forum-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads": {
   "get": {
    "operationId": "get_api_v1_spaces_space_threads",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3).",
    "description": "**space.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3). Space checks space visibility and the VIP gate (403 vip.members_only); writing threads and replies is space.post.write and space.thread.write.",
    "tags": [
     "space.thread"
    ],
    "x-openvibe-capabilities": [
     "space.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_spaces_space_threads",
    "summary": "Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Sub",
    "description": "**space.post.write** (public): Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by OpenVibe.Space.",
    "tags": [
     "space.post"
    ],
    "x-openvibe-capabilities": [
     "space.post.write"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-write",
    "security": [
     {
      "openvibeToken": [
       "space.post.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/space.post-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads/{slug}": {
   "delete": {
    "operationId": "delete_api_v1_spaces_space_threads_slug",
    "summary": "Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Sub",
    "description": "**space.post.write** (public): Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by OpenVibe.Space.",
    "tags": [
     "space.post"
    ],
    "x-openvibe-capabilities": [
     "space.post.write"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-write",
    "security": [
     {
      "openvibeToken": [
       "space.post.write"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/space.post-write-request.v1"
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_spaces_space_threads_slug",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3).",
    "description": "**space.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3). Space checks space visibility and the VIP gate (403 vip.members_only); writing threads and replies is space.post.write and space.thread.write.",
    "tags": [
     "space.thread"
    ],
    "x-openvibe-capabilities": [
     "space.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads/{slug}/posts": {
   "post": {
    "operationId": "post_api_v1_spaces_space_threads_slug_posts",
    "summary": "Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Sub",
    "description": "**space.post.write** (public): Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by OpenVibe.Space.",
    "tags": [
     "space.post"
    ],
    "x-openvibe-capabilities": [
     "space.post.write"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-write",
    "security": [
     {
      "openvibeToken": [
       "space.post.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/space.post-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/threads/{slug}/votes": {
   "post": {
    "operationId": "post_api_v1_spaces_space_threads_slug_votes",
    "summary": "Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Sub",
    "description": "**space.post.write** (public): Forum writes as a service (renamed from community.post.create, plan T10 D3): create threads and replies in a space, vote on threads, and edit or delete one's own posts, as the acting subject (X-OV-Subject) or as origin \"ai\" (no author, labelled as AI). Space visibility (public, members, staff), locks and limits are checked by OpenVibe.Space.",
    "tags": [
     "space.post"
    ],
    "x-openvibe-capabilities": [
     "space.post.write"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-write",
    "security": [
     {
      "openvibeToken": [
       "space.post.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/space.post-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.post-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s": {
   "get": {
    "operationId": "get_s",
    "summary": "List the spaces the caller can open and read one space's metadata (renamed from community.space.read, plan T10 D3: OpenVibe.Space owns the forum).",
    "description": "**space.forum.read** (public): List the spaces the caller can open and read one space's metadata (renamed from community.space.read, plan T10 D3: OpenVibe.Space owns the forum). Anonymous callers see public spaces, signed-in people also members spaces, moderators also staff spaces; members-only (VIP) spaces are flagged. Served to anyone; Space checks space visibility itself.",
    "tags": [
     "space.forum"
    ],
    "x-openvibe-capabilities": [
     "space.forum.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.forum.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.forum-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s/{space}": {
   "get": {
    "operationId": "get_s_space",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3).",
    "description": "**space.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3). Space checks space visibility and the VIP gate (403 vip.members_only); writing threads and replies is space.post.write and space.thread.write.",
    "tags": [
     "space.thread"
    ],
    "x-openvibe-capabilities": [
     "space.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s/{space}/feed.xml": {
   "get": {
    "operationId": "get_s_space_feed_xml",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3).",
    "description": "**space.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3). Space checks space visibility and the VIP gate (403 vip.members_only); writing threads and replies is space.post.write and space.thread.write.",
    "tags": [
     "space.thread"
    ],
    "x-openvibe-capabilities": [
     "space.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s/{space}/t/{slug}": {
   "get": {
    "operationId": "get_s_space_t_slug",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3).",
    "description": "**space.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3). Space checks space visibility and the VIP gate (403 vip.members_only); writing threads and replies is space.post.write and space.thread.write.",
    "tags": [
     "space.thread"
    ],
    "x-openvibe-capabilities": [
     "space.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.thread.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "slug",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/s/feed.xml": {
   "get": {
    "operationId": "get_s_feed_xml",
    "summary": "Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3).",
    "description": "**space.thread.read** (public): Read a space's threads (hot, new or top, paged) and one thread with its posts, plus the RSS feeds (renamed from community.thread.read, plan T10 D3). Space checks space visibility and the VIP gate (403 vip.members_only); writing threads and replies is space.post.write and space.thread.write.",
    "tags": [
     "space.thread"
    ],
    "x-openvibe-capabilities": [
     "space.thread.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "space-read",
    "security": [
     {
      "openvibeToken": [
       "space.thread.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/space.thread-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "space.forum-post.v1": {
    "title": "SpaceForumPost",
    "description": "space.forum-post@1: one forum post (the opening post of a thread or a reply) as OpenVibe.Space's API shows it (server/forum/service.js shapePost). A deleted post keeps its place with no author, body, attachments or pastes.",
    "type": "object",
    "required": [
     "id",
     "thread_id",
     "is_opening",
     "origin",
     "author",
     "body_markdown",
     "body_html",
     "revision",
     "deleted",
     "can_edit",
     "attachments",
     "pastes"
    ],
    "properties": {
     "id": {
      "type": "integer"
     },
     "thread_id": {
      "type": "integer"
     },
     "is_opening": {
      "type": "boolean"
     },
     "origin": {
      "type": "string"
     },
     "author": {
      "type": [
       "object",
       "null"
      ],
      "description": "The author projection: a person (subject and Network profile), OpenVibe AI (is_ai) or the system (is_system); null when unknown or deleted.",
      "properties": {
       "subject": {
        "type": [
         "string",
         "null"
        ]
       },
       "username": {
        "type": [
         "string",
         "null"
        ]
       },
       "display_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "profile_color": {
        "type": [
         "string",
         "null"
        ]
       },
       "is_ai": {
        "const": true
       },
       "is_system": {
        "const": true
       }
      }
     },
     "body_markdown": {
      "type": [
       "string",
       "null"
      ]
     },
     "body_html": {
      "type": [
       "string",
       "null"
      ]
     },
     "revision": {
      "type": "integer",
      "minimum": 1
     },
     "deleted": {
      "type": "boolean"
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "can_edit": {
      "type": "boolean"
     },
     "attachments": {
      "type": "array",
      "maxItems": 4,
      "items": {
       "type": "object",
       "required": [
        "media_id",
        "url"
       ],
       "properties": {
        "media_id": {
         "type": "string"
        },
        "url": {
         "type": "string"
        },
        "filename": {
         "type": [
          "string",
          "null"
         ]
        },
        "mime": {
         "type": "string"
        },
        "size_bytes": {
         "type": "integer"
        }
       }
      }
     },
     "pastes": {
      "type": "array",
      "maxItems": 4,
      "items": {
       "type": "object",
       "required": [
        "slug",
        "url"
       ],
       "properties": {
        "slug": {
         "type": "string"
        },
        "title": {
         "type": "string"
        },
        "language": {
         "type": "string"
        },
        "type": {
         "type": "string"
        },
        "url": {
         "type": "string"
        },
        "screenshot_url": {
         "type": [
          "string",
          "null"
         ]
        },
        "lines": {
         "type": "integer"
        },
        "excerpt": {
         "type": [
          "string",
          "null"
         ]
        }
       }
      }
     }
    }
   },
   "space.forum-read-result.v1": {
    "title": "SpaceForumReadResult",
    "description": "space.forum-read-result@1: answers of space.forum.read on OpenVibe.Space. GET /api/v1/spaces → { spaces, groups } (the spaces the caller can open, each with its last post, and the board index: groups in order with their top-level spaces and child boards); GET /api/v1/spaces/:space → { space } (a staff or members-only space the caller cannot open is 404 or 401/403 vip.members_only); GET /s is the board index as an HTML page.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "spaces",
       "groups"
      ],
      "properties": {
       "spaces": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/space.forum-space.v1"
        }
       },
       "groups": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "slug",
          "name",
          "spaces"
         ],
         "properties": {
          "slug": {
           "type": [
            "string",
            "null"
           ]
          },
          "name": {
           "type": "string"
          },
          "description": {
           "type": [
            "string",
            "null"
           ]
          },
          "spaces": {
           "type": "array"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "space"
      ],
      "properties": {
       "space": {
        "$ref": "#/components/schemas/space.forum-space.v1"
       }
      }
     },
     {
      "type": "string",
      "contentMediaType": "text/html",
      "description": "GET /s: the board index page."
     }
    ]
   },
   "space.forum-space.v1": {
    "title": "SpaceForumSpace",
    "description": "space.forum-space@1: one forum space as OpenVibe.Space's /api/v1/spaces API shows it (server/forum/service.js shapeSpace): its slug, name, visibility, thread kind and statuses, style, whether votes and reactions are on, its group and parent board, the members-only gate and, in lists, its counts and last activity.",
    "type": "object",
    "required": [
     "slug",
     "name",
     "visibility",
     "url",
     "thread_kind",
     "statuses",
     "style",
     "votes",
     "reactions",
     "group",
     "parent",
     "members_only"
    ],
    "properties": {
     "slug": {
      "type": "string"
     },
     "name": {
      "type": "string"
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "visibility": {
      "enum": [
       "public",
       "members",
       "staff"
      ]
     },
     "url": {
      "type": "string"
     },
     "thread_kind": {
      "type": "string"
     },
     "statuses": {
      "type": "array",
      "items": {
       "type": "string"
      }
     },
     "style": {
      "enum": [
       "feed",
       "forum"
      ]
     },
     "votes": {
      "type": "boolean"
     },
     "reactions": {
      "type": "boolean"
     },
     "group": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       }
      }
     },
     "parent": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       }
      }
     },
     "post_count": {
      "type": "integer"
     },
     "thread_count": {
      "type": "integer"
     },
     "last_activity_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "members_only": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "owner": {
        "type": "string"
       },
       "owner_username": {
        "type": [
         "string",
         "null"
        ]
       },
       "join_url": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "last_post": {
      "type": [
       "object",
       "null"
      ]
     },
     "children": {
      "type": "array"
     }
    }
   },
   "space.forum-thread.v1": {
    "title": "SpaceForumThread",
    "description": "space.forum-thread@1: one forum thread as OpenVibe.Space's /api/v1/spaces API shows it (server/forum/service.js shapeThread): where it lives, its kind and status, category, members-only gate, author, origin, pin and lock state, score, reply count, views, pages, the last post and the caller's vote.",
    "type": "object",
    "required": [
     "id",
     "space",
     "slug",
     "title",
     "url",
     "kind",
     "author",
     "origin",
     "pinned",
     "locked",
     "score",
     "reply_count",
     "pages",
     "created_at",
     "my_vote"
    ],
    "properties": {
     "id": {
      "type": "integer"
     },
     "space": {
      "type": "string"
     },
     "slug": {
      "type": "string"
     },
     "title": {
      "type": "string",
      "maxLength": 200
     },
     "url": {
      "type": "string",
      "description": "/s/<space>/t/<slug>"
     },
     "kind": {
      "type": "string",
      "description": "discussion, request, roadmap, …"
     },
     "status": {
      "type": [
       "string",
       "null"
      ]
     },
     "category": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "slug": {
        "type": "string"
       },
       "name": {
        "type": "string"
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "position": {},
       "thread_count": {
        "type": "integer"
       }
      }
     },
     "members_only": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "owner": {
        "type": "string"
       },
       "owner_username": {
        "type": [
         "string",
         "null"
        ]
       },
       "join_url": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "author": {
      "type": [
       "object",
       "null"
      ],
      "description": "The author projection: a person (subject and Network profile), OpenVibe AI (is_ai) or the system (is_system); null when unknown or deleted.",
      "properties": {
       "subject": {
        "type": [
         "string",
         "null"
        ]
       },
       "username": {
        "type": [
         "string",
         "null"
        ]
       },
       "display_name": {
        "type": [
         "string",
         "null"
        ]
       },
       "avatar_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "profile_color": {
        "type": [
         "string",
         "null"
        ]
       },
       "is_ai": {
        "const": true
       },
       "is_system": {
        "const": true
       }
      }
     },
     "origin": {
      "type": "string"
     },
     "pinned": {
      "type": "boolean"
     },
     "locked": {
      "type": "boolean"
     },
     "score": {
      "type": "integer"
     },
     "reply_count": {
      "type": "integer",
      "minimum": 0
     },
     "views": {
      "type": "integer",
      "minimum": 0
     },
     "pages": {
      "type": "integer",
      "minimum": 1
     },
     "last_post": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "id": {
        "type": "integer"
       },
       "author": {
        "type": [
         "object",
         "null"
        ],
        "description": "The author projection: a person (subject and Network profile), OpenVibe AI (is_ai) or the system (is_system); null when unknown or deleted.",
        "properties": {
         "subject": {
          "type": [
           "string",
           "null"
          ]
         },
         "username": {
          "type": [
           "string",
           "null"
          ]
         },
         "display_name": {
          "type": [
           "string",
           "null"
          ]
         },
         "avatar_url": {
          "type": [
           "string",
           "null"
          ]
         },
         "profile_color": {
          "type": [
           "string",
           "null"
          ]
         },
         "is_ai": {
          "const": true
         },
         "is_system": {
          "const": true
         }
        }
       }
      }
     },
     "crosspost_of": {},
     "last_activity_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "my_vote": {
      "enum": [
       1,
       -1,
       0
      ]
     }
    }
   },
   "space.post-write-request.v1": {
    "title": "SpacePostWriteRequest",
    "description": "space.post-write-request@1: bodies of the forum writes on OpenVibe.Space (space.post.write; a service writes as X-OV-Subject, or as AI with X-OV-Origin: ai). POST /api/v1/spaces/:space/threads: { title, body, members_only?, category?, attachments?, pastes? } (title 3 to 200 characters after whitespace is collapsed; body Markdown, non-blank, at most 40000 characters; body_markdown is accepted for body). POST …/threads/:slug/posts (a reply) and PUT /api/v1/posts/:id (an edit): { body, attachments?, pastes? }. POST …/threads/:slug/votes: { value: 1 | -1 | 0 }. DELETE /api/v1/posts/:id and DELETE /api/v1/spaces/:space/threads/:slug take no body. Unknown fields are ignored; refusals are problem+json (post.empty, post.too_long, thread.invalid_title, vote.invalid, thread.locked, vip.members_only, …).",
    "anyOf": [
     {
      "type": "object",
      "anyOf": [
       {
        "required": [
         "body"
        ]
       },
       {
        "required": [
         "body_markdown"
        ]
       }
      ],
      "properties": {
       "title": {
        "type": "string",
        "description": "A new thread's title."
       },
       "body": {
        "type": "string",
        "minLength": 1,
        "maxLength": 40000,
        "description": "Markdown."
       },
       "body_markdown": {
        "type": "string",
        "minLength": 1,
        "maxLength": 40000,
        "description": "Read when body is absent."
       },
       "members_only": {
        "description": "A new thread only: true gates it to the author's own VIP members; { owner: usr_… } (or the subject itself) names the creator (moderators, or the author naming themselves); null or false: open.",
        "anyOf": [
         {
          "type": [
           "boolean",
           "null"
          ]
         },
         {
          "type": "string",
          "pattern": "^usr_"
         },
         {
          "type": "object",
          "required": [
           "owner"
          ],
          "properties": {
           "owner": {
            "type": "string",
            "pattern": "^usr_"
           }
          }
         }
        ]
       },
       "category": {
        "type": "string",
        "description": "A new thread only: the slug of one of the space's categories."
       },
       "attachments": {
        "description": "At most 4 images the writer uploaded (POST /api/v1/spaces/:space/attachments) and has not used yet, by media id. People only.",
        "anyOf": [
         {
          "type": "string",
          "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         {
          "type": "array",
          "maxItems": 4,
          "items": {
           "type": "string",
           "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
          }
         }
        ]
       },
       "pastes": {
        "description": "At most 4 shareable pastes (not private, not burn-after-read) by slug or /p/<slug> link: an array, or one string separated by spaces or commas.",
        "type": [
         "array",
         "string"
        ],
        "items": {
         "type": "string"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "value"
      ],
      "properties": {
       "value": {
        "enum": [
         1,
         -1,
         0,
         "1",
         "-1",
         "0"
        ],
        "description": "A thread vote; 0 takes the vote back."
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "space.post-write-result.v1": {
    "title": "SpacePostWriteResult",
    "description": "space.post-write-result@1: answers of the forum writes on OpenVibe.Space (space.post.write). POST /api/v1/spaces/:space/threads → 201 { thread, post } (the thread and its opening post); POST …/threads/:slug/posts → 201 { post, page, url } (the reply, the page it lands on and its address with #post-<id>); PUT /api/v1/posts/:id → { post }; POST …/threads/:slug/votes → { thread_id, score, upvotes, downvotes, my_vote }; DELETE /api/v1/posts/:id → { ok, id } (deleting the opening post deletes the thread: { ok, id, deleted: thread }); DELETE /api/v1/spaces/:space/threads/:slug → { ok, id, deleted: thread }. Refusals are problem+json.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "thread",
       "post"
      ],
      "properties": {
       "thread": {
        "$ref": "#/components/schemas/space.forum-thread.v1"
       },
       "post": {
        "$ref": "#/components/schemas/space.forum-post.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "post"
      ],
      "properties": {
       "post": {
        "$ref": "#/components/schemas/space.forum-post.v1"
       },
       "page": {
        "type": "integer",
        "minimum": 1
       },
       "url": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "thread_id",
       "score",
       "upvotes",
       "downvotes",
       "my_vote"
      ],
      "properties": {
       "thread_id": {
        "type": "integer"
       },
       "score": {
        "type": "integer"
       },
       "upvotes": {
        "type": "integer",
        "minimum": 0
       },
       "downvotes": {
        "type": "integer",
        "minimum": 0
       },
       "my_vote": {
        "enum": [
         1,
         -1,
         0
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "ok",
       "id"
      ],
      "properties": {
       "ok": {
        "const": true
       },
       "id": {
        "type": "integer"
       },
       "deleted": {
        "const": "thread"
       }
      }
     }
    ]
   },
   "space.thread-read-result.v1": {
    "title": "SpaceThreadReadResult",
    "description": "space.thread-read-result@1: answers of space.thread.read on OpenVibe.Space. GET /api/v1/spaces/:space/threads?sort=&page=&limit=&category=&status= → a page of threads with the space, paging, categories, children and what the viewer may do; GET /api/v1/spaces/:space/threads/:slug?page= → the thread with a page of posts (reactions, author stats, crosspost info, attachments settings, paging, viewer). GET /s/:space and /s/:space/t/:slug are the same as HTML pages; GET /s/feed.xml and /s/:space/feed.xml are RSS feeds of public threads.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "space",
       "threads",
       "page",
       "pages",
       "total"
      ],
      "properties": {
       "space": {
        "type": "object"
       },
       "sort": {
        "type": "string"
       },
       "page": {
        "type": "integer",
        "minimum": 1
       },
       "per_page": {
        "type": "integer"
       },
       "total": {
        "type": "integer",
        "minimum": 0
       },
       "pages": {
        "type": "integer",
        "minimum": 1
       },
       "categories": {
        "type": "array"
       },
       "category": {
        "type": [
         "string",
         "null"
        ]
       },
       "status": {
        "type": [
         "string",
         "null"
        ]
       },
       "viewer": {
        "type": "object"
       },
       "children": {
        "type": "array"
       },
       "groups": {
        "type": "array"
       },
       "threads": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/space.forum-thread.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "space",
       "thread",
       "posts",
       "page",
       "pages"
      ],
      "properties": {
       "space": {
        "type": "object"
       },
       "thread": {
        "$ref": "#/components/schemas/space.forum-thread.v1"
       },
       "posts": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/space.forum-post.v1"
        }
       },
       "reactions": {
        "type": "array"
       },
       "crosspost": {
        "type": "object"
       },
       "categories": {
        "type": "array"
       },
       "attachments": {
        "type": "object"
       },
       "page": {
        "type": "integer",
        "minimum": 1
       },
       "per_page": {
        "type": "integer"
       },
       "pages": {
        "type": "integer",
        "minimum": 1
       },
       "total": {
        "type": "integer"
       },
       "viewer": {
        "type": "object"
       }
      }
     },
     {
      "type": "string",
      "contentMediaType": "text/html",
      "description": "GET /s/:space and /s/:space/t/:slug: HTML pages."
     },
     {
      "type": "string",
      "contentMediaType": "application/rss+xml",
      "description": "GET /s/feed.xml and /s/:space/feed.xml: RSS feeds."
     }
    ]
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
