{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Tips API",
  "version": "0.54.0",
  "description": "Routes of OpenVibe.Tips as the OpenVibe contracts describe them (openvibe-contracts 0.54.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.tips"
  }
 ],
 "paths": {
  "/api/v1/checkout": {
   "post": {
    "operationId": "post_api_v1_checkout",
    "summary": "Start a tip for a supporter (on_behalf SubjectRef): paid from the supporter's Billing credit (billing.transfer.create) or through a Billing checkout intent (billing.intent.create).",
    "description": "**tips.checkout.create** (first-party): Start a tip for a supporter (on_behalf SubjectRef): paid from the supporter's Billing credit (billing.transfer.create) or through a Billing checkout intent (billing.intent.create). Tips never prices money; Billing does. Idempotent by Idempotency-Key.",
    "tags": [
     "tips.checkout"
    ],
    "x-openvibe-capabilities": [
     "tips.checkout.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "payments",
    "security": [
     {
      "openvibeToken": [
       "tips.checkout.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.paid-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.paid-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/goals": {
   "post": {
    "operationId": "post_api_v1_goals",
    "summary": "Create a goal for a creator.",
    "description": "**tips.goal.create** (first-party): Create a goal for a creator. Goal totals are derived from settled interactions only.",
    "tags": [
     "tips.goal"
    ],
    "x-openvibe-capabilities": [
     "tips.goal.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.goal.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.goal-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.goal-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/goals/{id}": {
   "get": {
    "operationId": "get_api_v1_goals_id",
    "summary": "Edit a goal (title, target, description, image, order) with optimistic revision checks; read private goals with contributions.",
    "description": "**tips.goal.update** (first-party): Edit a goal (title, target, description, image, order) with optimistic revision checks; read private goals with contributions.",
    "tags": [
     "tips.goal"
    ],
    "x-openvibe-capabilities": [
     "tips.goal.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.goal.update"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/tips.goal-update-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.goal-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_goals_id",
    "summary": "Edit a goal (title, target, description, image, order) with optimistic revision checks; read private goals with contributions.",
    "description": "**tips.goal.update** (first-party): Edit a goal (title, target, description, image, order) with optimistic revision checks; read private goals with contributions.",
    "tags": [
     "tips.goal"
    ],
    "x-openvibe-capabilities": [
     "tips.goal.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.goal.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.goal-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.goal-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/goals/{id}/close": {
   "post": {
    "operationId": "post_api_v1_goals_id_close",
    "summary": "Close a goal; its history stays.",
    "description": "**tips.goal.close** (first-party): Close a goal; its history stays.",
    "tags": [
     "tips.goal"
    ],
    "x-openvibe-capabilities": [
     "tips.goal.close"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.goal.close"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.goal-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/interactions": {
   "get": {
    "operationId": "get_api_v1_interactions",
    "summary": "List a creator's or a supporter's interactions and a creator's derived totals.",
    "description": "**tips.interaction.list** (first-party): List a creator's or a supporter's interactions and a creator's derived totals.",
    "tags": [
     "tips.interaction"
    ],
    "x-openvibe-capabilities": [
     "tips.interaction.list"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.interaction.list"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.interaction-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/interactions/{id}": {
   "get": {
    "operationId": "get_api_v1_interactions_id",
    "summary": "Read one interaction with its separate payment state (from Billing) and delivery state (effects).",
    "description": "**tips.interaction.get** (first-party): Read one interaction with its separate payment state (from Billing) and delivery state (effects).",
    "tags": [
     "tips.interaction"
    ],
    "x-openvibe-capabilities": [
     "tips.interaction.get"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.interaction.get"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.interaction-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/interactions/{id}/hide": {
   "post": {
    "operationId": "post_api_v1_interactions_id_hide",
    "summary": "Moderate a creator's paid messages for them: read the review queue, hide a paid message from overlays, chat still to come and public pages, or show again one that was hidden or that the creator's word",
    "description": "**tips.interaction.moderate** (internal): Moderate a creator's paid messages for them: read the review queue, hide a paid message from overlays, chat still to come and public pages, or show again one that was hidden or that the creator's word filter held. Never touches the money (no refund, no uncounting). People moderate as the creator or one of the creator's moderators; a service (e.g. Chat or Live relaying a channel moderator's action) needs this capability. Not in the charter list: proposed for the roadmap's \"privacy/moderation controls\" (Wave 9).",
    "tags": [
     "tips.interaction"
    ],
    "x-openvibe-capabilities": [
     "tips.interaction.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.interaction.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.moderation-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/interactions/{id}/restore": {
   "post": {
    "operationId": "post_api_v1_interactions_id_restore",
    "summary": "Moderate a creator's paid messages for them: read the review queue, hide a paid message from overlays, chat still to come and public pages, or show again one that was hidden or that the creator's word",
    "description": "**tips.interaction.moderate** (internal): Moderate a creator's paid messages for them: read the review queue, hide a paid message from overlays, chat still to come and public pages, or show again one that was hidden or that the creator's word filter held. Never touches the money (no refund, no uncounting). People moderate as the creator or one of the creator's moderators; a service (e.g. Chat or Live relaying a channel moderator's action) needs this capability. Not in the charter list: proposed for the roadmap's \"privacy/moderation controls\" (Wave 9).",
    "tags": [
     "tips.interaction"
    ],
    "x-openvibe-capabilities": [
     "tips.interaction.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.interaction.moderate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.moderation-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/interactions/external": {
   "post": {
    "operationId": "post_api_v1_interactions_external",
    "summary": "Record a tip that never touched OpenVibe money (ADR-012 EXTERNAL: a tip on a creator's own PowerChat) once per (provider, provider_ref); no Billing liability, excluded from Billing reconciliation.",
    "description": "**tips.interaction.record** (internal): Record a tip that never touched OpenVibe money (ADR-012 EXTERNAL: a tip on a creator's own PowerChat) once per (provider, provider_ref); no Billing liability, excluded from Billing reconciliation. Not in the charter list: proposed because EXTERNAL tips need a recording path while Billing emits nothing for them.",
    "tags": [
     "tips.interaction"
    ],
    "x-openvibe-capabilities": [
     "tips.interaction.record"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.interaction.record"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.external-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.external-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/media-requests": {
   "post": {
    "operationId": "post_api_v1_media_requests",
    "summary": "Start a paid media request for a supporter (allowed hosts, the creator's minimum and length); queued with the media-queue owner only after settlement.",
    "description": "**tips.media_request.create** (first-party): Start a paid media request for a supporter (allowed hosts, the creator's minimum and length); queued with the media-queue owner only after settlement.",
    "tags": [
     "tips.media_request"
    ],
    "x-openvibe-capabilities": [
     "tips.media_request.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "payments",
    "security": [
     {
      "openvibeToken": [
       "tips.media_request.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.paid-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.paid-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/moderation": {
   "get": {
    "operationId": "get_api_v1_moderation",
    "summary": "Moderate a creator's paid messages for them: read the review queue, hide a paid message from overlays, chat still to come and public pages, or show again one that was hidden or that the creator's word",
    "description": "**tips.interaction.moderate** (internal): Moderate a creator's paid messages for them: read the review queue, hide a paid message from overlays, chat still to come and public pages, or show again one that was hidden or that the creator's word filter held. Never touches the money (no refund, no uncounting). People moderate as the creator or one of the creator's moderators; a service (e.g. Chat or Live relaying a channel moderator's action) needs this capability. Not in the charter list: proposed for the roadmap's \"privacy/moderation controls\" (Wave 9).",
    "tags": [
     "tips.interaction"
    ],
    "x-openvibe-capabilities": [
     "tips.interaction.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.interaction.moderate"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/tips.moderation-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/moderation/log": {
   "get": {
    "operationId": "get_api_v1_moderation_log",
    "summary": "Moderate a creator's paid messages for them: read the review queue, hide a paid message from overlays, chat still to come and public pages, or show again one that was hidden or that the creator's word",
    "description": "**tips.interaction.moderate** (internal): Moderate a creator's paid messages for them: read the review queue, hide a paid message from overlays, chat still to come and public pages, or show again one that was hidden or that the creator's word filter held. Never touches the money (no refund, no uncounting). People moderate as the creator or one of the creator's moderators; a service (e.g. Chat or Live relaying a channel moderator's action) needs this capability. Not in the charter list: proposed for the roadmap's \"privacy/moderation controls\" (Wave 9).",
    "tags": [
     "tips.interaction"
    ],
    "x-openvibe-capabilities": [
     "tips.interaction.moderate"
    ],
    "x-openvibe-visibility": [
     "internal"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.interaction.moderate"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/tips.moderation-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.moderation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/overlay-configs": {
   "get": {
    "operationId": "get_api_v1_overlay_configs",
    "summary": "Read a creator's overlay configs (alert and goal display settings).",
    "description": "**tips.overlay.config.get** (first-party): Read a creator's overlay configs (alert and goal display settings).",
    "tags": [
     "tips.overlay"
    ],
    "x-openvibe-capabilities": [
     "tips.overlay.config.get"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.overlay.config.get"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.overlay-config-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_overlay_configs",
    "summary": "Create or change a creator's overlay configs; open overlays receive the change at once.",
    "description": "**tips.overlay.config.update** (first-party): Create or change a creator's overlay configs; open overlays receive the change at once.",
    "tags": [
     "tips.overlay"
    ],
    "x-openvibe-capabilities": [
     "tips.overlay.config.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.overlay.config.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.overlay-config-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.overlay-config-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/overlay-configs/{id}": {
   "get": {
    "operationId": "get_api_v1_overlay_configs_id",
    "summary": "Read a creator's overlay configs (alert and goal display settings).",
    "description": "**tips.overlay.config.get** (first-party): Read a creator's overlay configs (alert and goal display settings).",
    "tags": [
     "tips.overlay"
    ],
    "x-openvibe-capabilities": [
     "tips.overlay.config.get"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.overlay.config.get"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.overlay-config-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_overlay_configs_id",
    "summary": "Create or change a creator's overlay configs; open overlays receive the change at once.",
    "description": "**tips.overlay.config.update** (first-party): Create or change a creator's overlay configs; open overlays receive the change at once.",
    "tags": [
     "tips.overlay"
    ],
    "x-openvibe-capabilities": [
     "tips.overlay.config.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.overlay.config.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.overlay-config-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.overlay-config-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/overlay-tokens": {
   "get": {
    "operationId": "get_api_v1_overlay_tokens",
    "summary": "Mint a scoped overlay token (alerts, goals) for a creator — shown once, stored hashed, never a creator cookie — and list a creator's tokens without secrets.",
    "description": "**tips.overlay.token.create** (first-party): Mint a scoped overlay token (alerts, goals) for a creator — shown once, stored hashed, never a creator cookie — and list a creator's tokens without secrets.",
    "tags": [
     "tips.overlay"
    ],
    "x-openvibe-capabilities": [
     "tips.overlay.token.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.overlay.token.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/tips.overlay-token-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.overlay-token-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_overlay_tokens",
    "summary": "Mint a scoped overlay token (alerts, goals) for a creator — shown once, stored hashed, never a creator cookie — and list a creator's tokens without secrets.",
    "description": "**tips.overlay.token.create** (first-party): Mint a scoped overlay token (alerts, goals) for a creator — shown once, stored hashed, never a creator cookie — and list a creator's tokens without secrets.",
    "tags": [
     "tips.overlay"
    ],
    "x-openvibe-capabilities": [
     "tips.overlay.token.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.overlay.token.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.overlay-token-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.overlay-token-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/overlay-tokens/{id}/revoke": {
   "post": {
    "operationId": "post_api_v1_overlay_tokens_id_revoke",
    "summary": "Revoke an overlay token; open overlay streams using it are closed immediately.",
    "description": "**tips.overlay.token.revoke** (first-party): Revoke an overlay token; open overlay streams using it are closed immediately.",
    "tags": [
     "tips.overlay"
    ],
    "x-openvibe-capabilities": [
     "tips.overlay.token.revoke"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.overlay.token.revoke"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.overlay-token-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/paid-messages": {
   "post": {
    "operationId": "post_api_v1_paid_messages",
    "summary": "Start a paid (highlighted) chat message for a supporter; the paid_messages row exists only after Billing settles it.",
    "description": "**tips.superchat.create** (first-party): Start a paid (highlighted) chat message for a supporter; the paid_messages row exists only after Billing settles it.",
    "tags": [
     "tips.superchat"
    ],
    "x-openvibe-capabilities": [
     "tips.superchat.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "payments",
    "security": [
     {
      "openvibeToken": [
       "tips.superchat.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.paid-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.paid-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/profiles/{creator}": {
   "get": {
    "operationId": "get_api_v1_profiles_creator",
    "summary": "Read a creator's tip profile including a page that is switched off (public pages are readable without a token).",
    "description": "**tips.profile.get** (first-party): Read a creator's tip profile including a page that is switched off (public pages are readable without a token).",
    "tags": [
     "tips.profile"
    ],
    "x-openvibe-capabilities": [
     "tips.profile.get"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.profile.get"
      ]
     }
    ],
    "parameters": [
     {
      "name": "creator",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.profile-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_profiles_creator",
    "summary": "Create or update a creator's tip profile on their behalf: page switch (indexing), accepting, minimums, TTS and media-request settings.",
    "description": "**tips.profile.update** (first-party): Create or update a creator's tip profile on their behalf: page switch (indexing), accepting, minimums, TTS and media-request settings. Creators do this themselves with their user token.",
    "tags": [
     "tips.profile"
    ],
    "x-openvibe-capabilities": [
     "tips.profile.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.profile.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.profile-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "creator",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.profile-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/profiles/{creator}/totals": {
   "get": {
    "operationId": "get_api_v1_profiles_creator_totals",
    "summary": "List a creator's or a supporter's interactions and a creator's derived totals.",
    "description": "**tips.interaction.list** (first-party): List a creator's or a supporter's interactions and a creator's derived totals.",
    "tags": [
     "tips.interaction"
    ],
    "x-openvibe-capabilities": [
     "tips.interaction.list"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.interaction.list"
      ]
     }
    ],
    "parameters": [
     {
      "name": "creator",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.interaction-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/simulate": {
   "post": {
    "operationId": "post_api_v1_simulate",
    "summary": "Run the full effect path (overlay alert, goal widget, delivery) flagged test, with no Billing call, never counted in any total and never emitted as a durable event.",
    "description": "**tips.simulation.run** (first-party): Run the full effect path (overlay alert, goal widget, delivery) flagged test, with no Billing call, never counted in any total and never emitted as a durable event. The charter's 'tips.simulate' as a 3-segment id.",
    "tags": [
     "tips.simulation"
    ],
    "x-openvibe-capabilities": [
     "tips.simulation.run"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "standard",
    "security": [
     {
      "openvibeToken": [
       "tips.simulation.run"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.simulation-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.interaction-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tts-requests": {
   "post": {
    "operationId": "post_api_v1_tts_requests",
    "summary": "Start a paid text-to-speech request for a supporter, within the creator's TTS settings; delivered to chat only after settlement.",
    "description": "**tips.tts.request** (first-party): Start a paid text-to-speech request for a supporter, within the creator's TTS settings; delivered to chat only after settlement.",
    "tags": [
     "tips.tts"
    ],
    "x-openvibe-capabilities": [
     "tips.tts.request"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "payments",
    "security": [
     {
      "openvibeToken": [
       "tips.tts.request"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tips.paid-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tips.paid-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.entity-ref.v1": {
    "title": "EntityRef",
    "description": "Typed reference to another service's entity. Store this instead of a foreign key; resolve a display projection from the owner.",
    "type": "object",
    "required": [
     "service",
     "type",
     "id"
    ],
    "additionalProperties": false,
    "properties": {
     "service": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$"
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$"
     },
     "id": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
     },
     "revision": {
      "type": "integer",
      "minimum": 0
     },
     "label": {
      "type": "string",
      "maxLength": 200,
      "description": "Cached display label. Never authoritative."
     }
    }
   },
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     }
    ]
   },
   "tips.external-request.v1": {
    "title": "TipsExternalRequest",
    "description": "tips.external-request@1: the body of tips.interaction.record on OpenVibe.Tips (services only). POST /api/v1/interactions/external: { creator, provider, provider_ref, amount_cents, supporter?, supporter_name?, message?, goal_id?, privacy?, announce?, test? } records a tip that never touched OpenVibe money (ADR-012 EXTERNAL: a tip on the creator's own PowerChat), once per (provider, provider_ref); no Billing liability, excluded from Billing reconciliation. It settles at once (overlay alert, goal); announce true also has Tips post the chat line. Needs an Idempotency-Key header (8-200 of A-Z a-z 0-9 . _ : -; 400 idempotency.key_required): a replay with the same key and body returns the first answer, the same key with another body is 422 idempotency.key_reused. Refusals are problem+json: 422 tips.invalid_input (no provider or provider_ref), tips.invalid_amount, tips.text_too_long or tips.invalid_subject; 404 tips.creator_not_found; 403 capability.denied. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "creator",
     "provider",
     "provider_ref",
     "amount_cents"
    ],
    "properties": {
     "creator": {
      "description": "The creator tipped.",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "minLength": 1,
        "description": "A usr_ id or the creator's Tips handle."
       }
      ]
     },
     "provider": {
      "type": "string",
      "pattern": "^[A-Za-z][A-Za-z0-9_-]{1,39}$",
      "description": "Lowercased: powerchat, …"
     },
     "provider_ref": {
      "type": "string",
      "minLength": 1,
      "maxLength": 200,
      "description": "The provider's event id."
     },
     "amount_cents": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "maximum": 100000000,
      "description": "The money that arrived, in cents (at most 100000000); recorded as the amount too."
     },
     "supporter": {
      "description": "The supporter, when known.",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      ]
     },
     "supporter_name": {
      "type": [
       "string",
       "null"
      ]
     },
     "message": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 500
     },
     "goal_id": {
      "type": "string"
     },
     "privacy": {
      "type": "object",
      "properties": {
       "anonymous": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "The name reads \"Anonymous\" to everyone but the supporter."
       },
       "hide_amount": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "The amount is left out of overlays, chat lines and public pages."
       },
       "private_message": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "A tip's message is for the creator only (tips only; 422 for the other kinds)."
       }
      },
      "additionalProperties": false,
      "description": "The supporter's choices; any other field is refused (422 tips.invalid_input). true, 1, \"1\", \"true\" and \"on\" count as yes."
     },
     "announce": {
      "type": "boolean",
      "description": "true: Tips delivers the chat line itself (the provider did not announce it)."
     },
     "test": {
      "type": [
       "boolean",
       "integer",
       "string"
      ],
      "description": "Test money: never counted."
     }
    }
   },
   "tips.external-result.v1": {
    "title": "TipsExternalResult",
    "description": "tips.external-result@1: the answer of tips.interaction.record on OpenVibe.Tips. POST /api/v1/interactions/external → { interaction, duplicate } (201 when recorded; 200 with duplicate true when that provider_ref was recorded before, answering the first interaction). The interaction is funding external, settlement external, in the service view.",
    "type": "object",
    "required": [
     "interaction",
     "duplicate"
    ],
    "properties": {
     "interaction": {
      "$ref": "#/components/schemas/tips.interaction.v1"
     },
     "duplicate": {
      "type": "boolean"
     }
    }
   },
   "tips.goal-create-request.v1": {
    "title": "TipsGoalCreateRequest",
    "description": "tips.goal-create-request@1: the body of tips.goal.create on OpenVibe.Tips. POST /api/v1/goals: { creator?, title, target_amount, description?, image_url?, sort_order? } opens a goal (a service names the creator; a person opens one on their own page). Its total is derived from settled interactions only. Needs an Idempotency-Key header (8-200 of A-Z a-z 0-9 . _ : -; 400 idempotency.key_required): a replay with the same key and body returns the first answer, the same key with another body is 422 idempotency.key_reused. Refusals are problem+json: 422 tips.invalid_input (no title, a bad image_url or sort_order), tips.invalid_amount or tips.text_too_long; 409 tips.too_many_goals (20 active at most); 404 tips.creator_not_found; 403 capability.denied or tips.forbidden. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "title",
     "target_amount"
    ],
    "properties": {
     "creator": {
      "description": "The creator (default: the signed-in person).",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "minLength": 1,
        "description": "A usr_ id or the creator's Tips handle."
       }
      ]
     },
     "title": {
      "type": "string",
      "minLength": 1,
      "maxLength": 120
     },
     "target_amount": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "maximum": 10000000,
      "description": "Vibes bits, at most TIPS_MAX_BITS (10000000 by default)."
     },
     "description": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 1000
     },
     "image_url": {
      "type": [
       "string",
       "null"
      ],
      "description": "An https URL; empty or null clears it."
     },
     "sort_order": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 0,
      "maximum": 1000,
      "pattern": "^[0-9]{1,4}$"
     }
    }
   },
   "tips.goal-result.v1": {
    "title": "TipsGoalResult",
    "description": "tips.goal-result@1: one goal on OpenVibe.Tips (tips.goal.create, tips.goal.update, tips.goal.close). POST /api/v1/goals (201), PATCH /api/v1/goals/:id and POST /api/v1/goals/:id/close → { goal } (closing keeps its history; closing a closed goal changes nothing). GET /api/v1/goals/:id → { goal }: with contributions for the creator and granted services, else the public shape (404 tips.goal_not_found when the page is off).",
    "type": "object",
    "required": [
     "goal"
    ],
    "properties": {
     "goal": {
      "$ref": "#/components/schemas/tips.goal.v1"
     }
    }
   },
   "tips.goal-update-request.v1": {
    "title": "TipsGoalUpdateRequest",
    "description": "tips.goal-update-request@1: bodies of tips.goal.update on OpenVibe.Tips. PATCH /api/v1/goals/:id: { title?, target_amount?, description?, image_url?, sort_order?, revision? } edits an active goal; revision, when given, must be the goal's current revision (409 tips.revision_conflict). Needs an Idempotency-Key header (8-200 of A-Z a-z 0-9 . _ : -; 400 idempotency.key_required): a replay with the same key and body returns the first answer, the same key with another body is 422 idempotency.key_reused. GET /api/v1/goals/:id (reading it, with contributions for the creator and granted services) takes no body. Refusals are problem+json: 404 tips.goal_not_found; 409 tips.goal_closed or tips.revision_conflict; 422 tips.invalid_input, tips.invalid_amount or tips.text_too_long. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "title": {
        "type": "string",
        "minLength": 1,
        "maxLength": 120
       },
       "target_amount": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "maximum": 10000000,
        "description": "Vibes bits, at most TIPS_MAX_BITS (10000000 by default)."
       },
       "description": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 1000
       },
       "image_url": {
        "type": [
         "string",
         "null"
        ],
        "description": "An https URL; empty or null clears it."
       },
       "sort_order": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 0,
        "maximum": 1000,
        "pattern": "^[0-9]{1,4}$"
       },
       "revision": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$"
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "tips.goal.v1": {
    "title": "TipsGoal",
    "description": "tips.goal@1: a creator's goal on OpenVibe.Tips (server/domain/goals.js present, publicGoal). current_amount is derived from settled contributions (plus an amount carried over from Live), never from pending or simulated tips; percent is capped at 100. Anyone but the creator and granted services gets the public shape under the creator's page settings: amounts null with amounts_hidden when goal amounts are off, and supporters (the latest ten, their privacy applying) when goal supporters are on. GET /api/v1/goals/:id adds contributions for the creator and granted services.",
    "type": "object",
    "required": [
     "id",
     "creator",
     "title",
     "description",
     "target_amount",
     "current_amount",
     "currency",
     "supporters_count",
     "carried_over_amount",
     "percent",
     "reached",
     "reached_at",
     "image_url",
     "status",
     "sort_order",
     "revision",
     "created_at",
     "updated_at",
     "closed_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^tgoal_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "creator": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "title": {
      "type": "string",
      "maxLength": 120
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "target_amount": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 1
     },
     "current_amount": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 0
     },
     "currency": {
      "type": "string"
     },
     "supporters_count": {
      "type": "integer",
      "minimum": 0,
      "description": "Contributions counted."
     },
     "carried_over_amount": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 0
     },
     "percent": {
      "type": "integer",
      "minimum": 0,
      "maximum": 100
     },
     "reached": {
      "type": "boolean"
     },
     "reached_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "image_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "status": {
      "enum": [
       "active",
       "closed"
      ]
     },
     "sort_order": {
      "type": "integer",
      "minimum": 0
     },
     "revision": {
      "type": "integer",
      "minimum": 1
     },
     "created_at": {
      "type": "string"
     },
     "updated_at": {
      "type": "string"
     },
     "closed_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "amounts_hidden": {
      "const": true
     },
     "supporters": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "name",
        "amount",
        "at"
       ],
       "properties": {
        "name": {
         "type": "string"
        },
        "amount": {
         "type": [
          "integer",
          "null"
         ]
        },
        "at": {
         "type": "string"
        }
       }
      }
     },
     "contributions": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "interaction_id",
        "amount",
        "reversed_amount",
        "created_at",
        "supporter_name"
       ],
       "properties": {
        "interaction_id": {
         "type": "string",
         "pattern": "^tint_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "amount": {
         "type": "integer",
         "minimum": 1
        },
        "reversed_amount": {
         "type": "integer",
         "minimum": 0
        },
        "created_at": {
         "type": "string"
        },
        "supporter_name": {
         "type": "string"
        }
       }
      }
     }
    }
   },
   "tips.interaction-list-result.v1": {
    "title": "TipsInteractionListResult",
    "description": "tips.interaction-list-result@1: answers of tips.interaction.list on OpenVibe.Tips. GET /api/v1/interactions?creator=&supporter=&include_test=&cursor=&limit= → { interactions, next_cursor }: newest first, at most 200 a page (50 by default); a service names a creator or a supporter (422 tips.invalid_input otherwise); a person gets their own receipts, or with ?as=creator the tips they received. include_test=0 leaves simulations out. GET /api/v1/profiles/:creator/totals → { creator, totals }: derived from settled interactions; settled_via_billing is what must equal Billing's books (minus what Billing took back), external and simulations are reported apart.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "interactions",
       "next_cursor"
      ],
      "properties": {
       "interactions": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/tips.interaction.v1"
        }
       },
       "next_cursor": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "creator",
       "totals"
      ],
      "properties": {
       "creator": {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       "totals": {
        "type": "object",
        "required": [
         "currency",
         "settled_via_billing",
         "external",
         "interactions",
         "simulations",
         "pending"
        ],
        "properties": {
         "currency": {
          "const": "vibes-bits"
         },
         "settled_via_billing": {
          "type": "integer",
          "description": "Bits settled through Billing (or imported from Live's ledger), less reversals."
         },
         "external": {
          "type": "integer",
          "minimum": 0,
          "description": "Bits of EXTERNAL tips (the creator's own PowerChat): no Billing liability."
         },
         "interactions": {
          "type": "integer",
          "minimum": 0,
          "description": "Settled or reversed interactions, simulations excluded."
         },
         "simulations": {
          "type": "integer",
          "minimum": 0
         },
         "pending": {
          "type": "integer",
          "minimum": 0
         }
        }
       }
      }
     }
    ]
   },
   "tips.interaction-result.v1": {
    "title": "TipsInteractionResult",
    "description": "tips.interaction-result@1: one interaction on OpenVibe.Tips (tips.interaction.get, tips.simulation.run). GET /api/v1/interactions/:id → { interaction } in the reader's view (a service, the creator, or the supporter; anyone else 404 tips.interaction_not_found). POST /api/v1/simulate (201) → { interaction }: the simulated interaction (test true, settlement simulated), in the creator's view.",
    "type": "object",
    "required": [
     "interaction"
    ],
    "properties": {
     "interaction": {
      "$ref": "#/components/schemas/tips.interaction.v1"
     }
    }
   },
   "tips.interaction.v1": {
    "title": "TipsInteraction",
    "description": "tips.interaction@1: a tip interaction on OpenVibe.Tips (server/domain/interactions.js present): one act of support (a tip, a paid chat message, text-to-speech or a media request) with two separate states: payment (mirrored from OpenVibe.Billing: pending, settled, reversed or failed) and delivery (awaiting_payment, queued, delivered, failed or cancelled). Only the supporter sees who an anonymous supporter is; public is what may be shown to the public and privacy the supporter's choices. A checkout-funded interaction adds checkout; the creator and services also get effects, provider, provider_ref and legacy_source. Amounts are Vibes bits.",
    "type": "object",
    "required": [
     "id",
     "creator",
     "supporter",
     "supporter_name",
     "kind",
     "amount",
     "currency",
     "message",
     "tts",
     "media",
     "goal_id",
     "funding",
     "settlement",
     "origin",
     "test",
     "privacy",
     "public",
     "erased_at",
     "moderation",
     "payment",
     "delivery",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^tint_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "creator": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "supporter": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "null"
       }
      ],
      "description": "null for an anonymous supporter (to anyone but them), an erased one, a simulation or an external tip without one."
     },
     "supporter_name": {
      "type": [
       "string",
       "null"
      ]
     },
     "kind": {
      "enum": [
       "tip",
       "paid_message",
       "tts",
       "media_request"
      ]
     },
     "amount": {
      "type": "integer",
      "minimum": 1
     },
     "currency": {
      "type": "string",
      "description": "vibes-bits."
     },
     "message": {
      "type": [
       "string",
       "null"
      ]
     },
     "tts": {
      "anyOf": [
       {
        "type": "object",
        "required": [
         "text",
         "voice"
        ],
        "properties": {
         "text": {
          "type": "string"
         },
         "voice": {
          "type": "string"
         }
        }
       },
       {
        "type": "null"
       }
      ]
     },
     "media": {
      "anyOf": [
       {
        "type": "object",
        "required": [
         "url"
        ],
        "properties": {
         "url": {
          "type": "string"
         },
         "provider": {
          "type": "string"
         }
        }
       },
       {
        "type": "null"
       }
      ]
     },
     "goal_id": {
      "type": [
       "string",
       "null"
      ],
      "description": "The goal the supporter picked."
     },
     "funding": {
      "enum": [
       "credit",
       "checkout",
       "provider",
       "external",
       "none"
      ]
     },
     "settlement": {
      "enum": [
       "billing",
       "external",
       "simulated",
       "imported"
      ]
     },
     "origin": {
      "enum": [
       "tips",
       "billing",
       "billing-external",
       "external",
       "import"
      ]
     },
     "test": {
      "type": "boolean",
      "description": "A simulation or Billing test money: never counted."
     },
     "privacy": {
      "type": "object",
      "required": [
       "anonymous",
       "hide_amount",
       "private_message"
      ],
      "properties": {
       "anonymous": {
        "type": "boolean"
       },
       "hide_amount": {
        "type": "boolean"
       },
       "private_message": {
        "type": "boolean"
       }
      }
     },
     "public": {
      "$ref": "#/components/schemas/tips.public-interaction.v1"
     },
     "erased_at": {
      "type": [
       "string",
       "null"
      ],
      "description": "When the supporter erased their data from it."
     },
     "moderation": {
      "type": "object",
      "required": [
       "state",
       "filtered",
       "at"
      ],
      "properties": {
       "state": {
        "enum": [
         "visible",
         "held",
         "hidden"
        ]
       },
       "filtered": {
        "type": "boolean"
       },
       "at": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "payment": {
      "type": "object",
      "required": [
       "state",
       "billing_txn_id",
       "reversal_txn_ids",
       "reversed_amount",
       "failure",
       "settled_at",
       "reversed_at"
      ],
      "properties": {
       "state": {
        "enum": [
         "pending",
         "settled",
         "reversed",
         "failed"
        ]
       },
       "billing_txn_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "reversal_txn_ids": {
        "type": "array",
        "items": {
         "type": "string"
        }
       },
       "reversed_amount": {
        "type": "integer",
        "minimum": 0
       },
       "failure": {
        "type": [
         "string",
         "null"
        ]
       },
       "settled_at": {
        "type": [
         "string",
         "null"
        ]
       },
       "reversed_at": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "delivery": {
      "type": "object",
      "required": [
       "state",
       "delivered_at"
      ],
      "properties": {
       "state": {
        "enum": [
         "awaiting_payment",
         "queued",
         "delivered",
         "failed",
         "cancelled"
        ]
       },
       "delivered_at": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "created_at": {
      "type": "string"
     },
     "updated_at": {
      "type": "string"
     },
     "checkout": {
      "type": "object",
      "required": [
       "url",
       "ref",
       "provider",
       "intent_id"
      ],
      "properties": {
       "url": {
        "type": [
         "string",
         "null"
        ]
       },
       "ref": {
        "type": [
         "string",
         "null"
        ]
       },
       "provider": {
        "type": [
         "string",
         "null"
        ]
       },
       "intent_id": {
        "type": [
         "string",
         "null"
        ]
       }
      },
      "description": "Checkout-funded interactions only."
     },
     "effects": {
      "type": "array",
      "description": "The creator and services only: the delivery effects.",
      "items": {
       "type": "object",
       "required": [
        "effect",
        "adapter",
        "state",
        "attempts",
        "last_error",
        "updated_at"
       ],
       "properties": {
        "effect": {
         "enum": [
          "chat_line",
          "paid_message",
          "tts",
          "media_request",
          "overlay_alert"
         ]
        },
        "adapter": {
         "type": "string"
        },
        "state": {
         "enum": [
          "queued",
          "delivered",
          "failed",
          "cancelled"
         ]
        },
        "attempts": {
         "type": "integer",
         "minimum": 0
        },
        "last_error": {
         "type": [
          "string",
          "null"
         ]
        },
        "updated_at": {
         "type": "string"
        }
       }
      }
     },
     "provider": {
      "type": [
       "string",
       "null"
      ]
     },
     "provider_ref": {
      "type": [
       "string",
       "null"
      ]
     },
     "legacy_source": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "tips.moderation-request.v1": {
    "title": "TipsModerationRequest",
    "description": "tips.moderation-request@1: bodies of tips.interaction.moderate on OpenVibe.Tips. POST /api/v1/interactions/:id/hide and /restore: { reason? } (at most 200 characters, kept in the moderation log). GET /api/v1/moderation?creator=&state=held|hidden|visible|all&cursor=&limit= and GET /api/v1/moderation/log?creator= take no body. The creator, one of their moderators, or a service holding the capability moderates (the log is for the creator and services). Hide and restore need an Idempotency-Key header (as every write). Refusals are problem+json: 404 tips.interaction_not_found, 403 tips.forbidden or capability.denied, 422 tips.text_too_long.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "reason": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 200
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "tips.moderation-result.v1": {
    "title": "TipsModerationResult",
    "description": "tips.moderation-result@1: answers of tips.interaction.moderate on OpenVibe.Tips. Moderation never touches the money (no refund, no uncounting). GET /api/v1/moderation → { creator, interactions, next_cursor }: the review queue, newest first (moderators' view). GET /api/v1/moderation/log → { log }: the latest 100 outcomes (held and filtered by the word filter at settlement; hidden and restored by the creator, a moderator or a service). POST /api/v1/interactions/:id/hide → { interaction, changed, cancelled_effects } (chat, TTS and media deliveries still queued are cancelled; overlays drop the alert); POST …/restore → the same, cancelled_effects empty (a held interaction is released now; what a hide cancelled stays cancelled). changed false when it already was in that state.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "creator",
       "interactions",
       "next_cursor"
      ],
      "properties": {
       "creator": {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       "interactions": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/tips.moderation-view.v1"
        }
       },
       "next_cursor": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "log"
      ],
      "properties": {
       "log": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "interaction_id",
          "action",
          "by_role",
          "actor",
          "reason",
          "created_at"
         ],
         "properties": {
          "interaction_id": {
           "type": "string"
          },
          "action": {
           "enum": [
            "held",
            "filtered",
            "hidden",
            "restored"
           ]
          },
          "by_role": {
           "enum": [
            "filter",
            "creator",
            "moderator",
            "service"
           ]
          },
          "actor": {
           "type": [
            "string",
            "null"
           ],
           "description": "usr_… or svc:…; null for the filter."
          },
          "reason": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "interaction",
       "changed",
       "cancelled_effects"
      ],
      "properties": {
       "interaction": {
        "$ref": "#/components/schemas/tips.moderation-view.v1"
       },
       "changed": {
        "type": "boolean"
       },
       "cancelled_effects": {
        "type": "array",
        "items": {
         "enum": [
          "chat_line",
          "paid_message",
          "tts",
          "media_request"
         ]
        }
       }
      }
     }
    ]
   },
   "tips.moderation-view.v1": {
    "title": "TipsModerationView",
    "description": "tips.moderation-view@1: a tip interaction as its moderators see it on OpenVibe.Tips (server/domain/moderation.js present): what was written (never a private message, nor anything the supporter erased), the moderation state, and what the public sees (public). An anonymous supporter reads Anonymous; a hidden amount is null.",
    "type": "object",
    "required": [
     "id",
     "kind",
     "created_at",
     "settled_at",
     "payment_state",
     "test",
     "moderation",
     "supporter_name",
     "amount",
     "message",
     "tts_text",
     "media_url",
     "public"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^tint_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "kind": {
      "enum": [
       "tip",
       "paid_message",
       "tts",
       "media_request"
      ]
     },
     "created_at": {
      "type": "string"
     },
     "settled_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "payment_state": {
      "enum": [
       "pending",
       "settled",
       "reversed",
       "failed"
      ]
     },
     "test": {
      "type": "boolean"
     },
     "moderation": {
      "type": "object",
      "required": [
       "state",
       "at",
       "filtered"
      ],
      "properties": {
       "state": {
        "enum": [
         "visible",
         "held",
         "hidden"
        ]
       },
       "at": {
        "type": [
         "string",
         "null"
        ]
       },
       "filtered": {
        "type": "boolean"
       }
      }
     },
     "supporter_name": {
      "type": "string"
     },
     "amount": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 1
     },
     "message": {
      "type": [
       "string",
       "null"
      ]
     },
     "tts_text": {
      "type": [
       "string",
       "null"
      ]
     },
     "media_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "public": {
      "$ref": "#/components/schemas/tips.public-interaction.v1"
     }
    }
   },
   "tips.overlay-config-request.v1": {
    "title": "TipsOverlayConfigRequest",
    "description": "tips.overlay-config-request@1: bodies of tips.overlay.config.update on OpenVibe.Tips. POST /api/v1/overlay-configs: { kind, creator?, name?, goal_id?, …settings } creates a config (kind alerts or goal; settings a kind does not use are ignored; a service names the creator). PATCH /api/v1/overlay-configs/:id: { revision?, name?, goal_id?, …settings } changes one (revision, when given, must be current: 409 tips.revision_conflict); open overlays using it receive the change at once. The settings are top-level fields. Needs an Idempotency-Key header (8-200 of A-Z a-z 0-9 . _ : -; 400 idempotency.key_required): a replay with the same key and body returns the first answer, the same key with another body is 422 idempotency.key_reused. Refusals are problem+json: 422 tips.invalid_input (a bad kind or an out-of-range setting) or tips.text_too_long; 404 tips.goal_not_found, tips.overlay_config_not_found or tips.creator_not_found; 403 capability.denied or tips.forbidden. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "kind"
      ],
      "properties": {
       "kind": {
        "enum": [
         "alerts",
         "goal"
        ]
       },
       "creator": {
        "description": "The creator (default: the signed-in person).",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "minLength": 1,
          "description": "A usr_ id or the creator's Tips handle."
         }
        ]
       },
       "name": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 80
       },
       "goal_id": {
        "type": [
         "string",
         "null"
        ],
        "description": "goal: the goal it shows."
       },
       "min_amount": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "maximum": 10000000,
        "description": "alerts: the smallest tip that alerts (1 to 10000000)."
       },
       "duration_ms": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1000,
        "maximum": 60000,
        "pattern": "^[0-9]+$",
        "description": "alerts: 1000 to 60000."
       },
       "show_message": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "alerts"
       },
       "show_amount": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "alerts"
       },
       "speak_message": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "alerts"
       },
       "sound_url": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^https://",
        "description": "alerts: an https URL; empty or null clears it."
       },
       "image_url": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^https://",
        "description": "alerts: an https URL; empty or null clears it."
       },
       "template": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 120,
        "description": "alerts: e.g. {name} tipped {amount} Vibes."
       },
       "show_amounts": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "goal"
       },
       "show_percent": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "goal"
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "revision": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$"
       },
       "name": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 80
       },
       "goal_id": {
        "type": [
         "string",
         "null"
        ],
        "description": "goal: the goal it shows; empty or null clears it."
       },
       "min_amount": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1,
        "pattern": "^[1-9][0-9]*$",
        "maximum": 10000000,
        "description": "alerts: the smallest tip that alerts (1 to 10000000)."
       },
       "duration_ms": {
        "type": [
         "integer",
         "string"
        ],
        "minimum": 1000,
        "maximum": 60000,
        "pattern": "^[0-9]+$",
        "description": "alerts: 1000 to 60000."
       },
       "show_message": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "alerts"
       },
       "show_amount": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "alerts"
       },
       "speak_message": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "alerts"
       },
       "sound_url": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^https://",
        "description": "alerts: an https URL; empty or null clears it."
       },
       "image_url": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^https://",
        "description": "alerts: an https URL; empty or null clears it."
       },
       "template": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 120,
        "description": "alerts: e.g. {name} tipped {amount} Vibes."
       },
       "show_amounts": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "goal"
       },
       "show_percent": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "goal"
       }
      }
     }
    ]
   },
   "tips.overlay-config-result.v1": {
    "title": "TipsOverlayConfigResult",
    "description": "tips.overlay-config-result@1: answers about overlay configs on OpenVibe.Tips (tips.overlay.config.get, tips.overlay.config.update). GET /api/v1/overlay-configs?creator= → { configs } (oldest first); GET /api/v1/overlay-configs/:id, POST /api/v1/overlay-configs (201) and PATCH /api/v1/overlay-configs/:id → { config }. For the creator or a service holding the capability; 404 tips.overlay_config_not_found.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "config"
      ],
      "properties": {
       "config": {
        "$ref": "#/components/schemas/tips.overlay-config.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "configs"
      ],
      "properties": {
       "configs": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/tips.overlay-config.v1"
        }
       }
      }
     }
    ]
   },
   "tips.overlay-config.v1": {
    "title": "TipsOverlayConfig",
    "description": "tips.overlay-config@1: an overlay config on OpenVibe.Tips (server/domain/overlays.js presentConfig): how a creator's alerts overlay (kind alerts: min_amount, duration_ms, show_message, show_amount, speak_message, sound_url, image_url, template) or goal widget (kind goal: show_amounts, show_percent, optionally one goal) looks. Open overlays using it receive every change at once.",
    "type": "object",
    "required": [
     "id",
     "creator",
     "kind",
     "name",
     "settings",
     "goal_id",
     "revision",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^tovc_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "creator": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "kind": {
      "enum": [
       "alerts",
       "goal"
      ]
     },
     "name": {
      "type": "string"
     },
     "settings": {
      "type": "object",
      "properties": {
       "min_amount": {
        "type": "integer",
        "minimum": 1
       },
       "duration_ms": {
        "type": "integer"
       },
       "show_message": {
        "type": "boolean"
       },
       "show_amount": {
        "type": "boolean"
       },
       "speak_message": {
        "type": "boolean"
       },
       "sound_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "image_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "template": {
        "type": [
         "string",
         "null"
        ]
       },
       "show_amounts": {
        "type": "boolean"
       },
       "show_percent": {
        "type": "boolean"
       }
      }
     },
     "goal_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "revision": {
      "type": "integer",
      "minimum": 1
     },
     "created_at": {
      "type": "string"
     },
     "updated_at": {
      "type": "string"
     }
    }
   },
   "tips.overlay-token-request.v1": {
    "title": "TipsOverlayTokenRequest",
    "description": "tips.overlay-token-request@1: bodies of tips.overlay.token.create on OpenVibe.Tips. POST /api/v1/overlay-tokens: { creator?, scopes?, label?, config_id? } mints a token (scopes default to alerts and goals; config_id must be one of the creator's overlay configs); a service names the creator, a person mints for their own page. Needs an Idempotency-Key header (8-200 of A-Z a-z 0-9 . _ : -; 400 idempotency.key_required): a replay with the same key and body returns the first answer, the same key with another body is 422 idempotency.key_reused. GET /api/v1/overlay-tokens?creator= takes no body. Refusals are problem+json: 422 tips.invalid_input or tips.text_too_long; 404 tips.overlay_config_not_found or tips.creator_not_found; 409 tips.too_many_tokens (25 active at most); 403 capability.denied or tips.forbidden. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "creator": {
        "description": "The creator (default: the signed-in person).",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "minLength": 1,
          "description": "A usr_ id or the creator's Tips handle."
         }
        ]
       },
       "scopes": {
        "type": "array",
        "items": {
         "enum": [
          "alerts",
          "goals"
         ]
        }
       },
       "label": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 80
       },
       "config_id": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "tips.overlay-token-result.v1": {
    "title": "TipsOverlayTokenResult",
    "description": "tips.overlay-token-result@1: answers about overlay tokens on OpenVibe.Tips (tips.overlay.token.create, tips.overlay.token.revoke). POST /api/v1/overlay-tokens (201) → { token, secret, overlay_url, events_url }: the secret (tovl_…) and the URLs that carry it are shown once; a replay of the same Idempotency-Key answers them as null with a note (revoke that token and create another). GET /api/v1/overlay-tokens → { tokens } (without secrets; active first). POST /api/v1/overlay-tokens/:id/revoke → { token }: revoked at once, and every open overlay stream using it is closed.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "token",
       "secret",
       "overlay_url",
       "events_url"
      ],
      "properties": {
       "token": {
        "$ref": "#/components/schemas/tips.overlay-token.v1"
       },
       "secret": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^tovl_[A-Za-z0-9_-]{43}$",
        "description": "A secret: keep it out of logs."
       },
       "overlay_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "events_url": {
        "type": [
         "string",
         "null"
        ]
       },
       "note": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "tokens"
      ],
      "properties": {
       "tokens": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/tips.overlay-token.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "token"
      ],
      "properties": {
       "token": {
        "$ref": "#/components/schemas/tips.overlay-token.v1"
       }
      }
     }
    ]
   },
   "tips.overlay-token.v1": {
    "title": "TipsOverlayToken",
    "description": "tips.overlay-token@1: an overlay token on OpenVibe.Tips (server/domain/overlays.js presentToken), without its secret: a scoped, revocable credential an OBS browser source holds in its URL (scopes alerts, goals), optionally bound to one overlay config. Never a creator cookie; only its hash is stored.",
    "type": "object",
    "required": [
     "id",
     "creator",
     "scopes",
     "label",
     "config_id",
     "created_at",
     "last_used_at",
     "revoked_at",
     "active"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^tovt_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "creator": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "scopes": {
      "type": "array",
      "items": {
       "enum": [
        "alerts",
        "goals"
       ]
      }
     },
     "label": {
      "type": [
       "string",
       "null"
      ]
     },
     "config_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string"
     },
     "last_used_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "revoked_at": {
      "type": [
       "string",
       "null"
      ]
     },
     "active": {
      "type": "boolean"
     }
    }
   },
   "tips.paid-request.v1": {
    "title": "TipsPaidRequest",
    "description": "tips.paid-request@1: bodies of the paid requests on OpenVibe.Tips: POST /api/v1/checkout (tips.checkout.create: a tip), POST /api/v1/paid-messages (tips.superchat.create: needs message; paid_message_min applies), POST /api/v1/tts-requests (tips.tts.request: needs text to read, tts.text or message, within the creator's TTS settings) and POST /api/v1/media-requests (tips.media_request.create: needs media.url; the creator's minimum and length apply): { creator, amount, supporter?, supporter_name?, message?, pay_with?, provider?, tts?, media?, goal_id?, target?, privacy? }. The route sets the kind. A service names the supporter; a person pays as themselves. pay_with credit (default) pays from the supporter's Billing credit at once; checkout starts a Billing checkout (from TIPS_MIN_CHECKOUT_BITS, 100 bits by default). Tips never prices money; Billing does. Needs an Idempotency-Key header (8-200 of A-Z a-z 0-9 . _ : -; 400 idempotency.key_required): a replay with the same key and body returns the first answer, the same key with another body is 422 idempotency.key_reused. Refusals are problem+json: 422 tips.invalid_input, tips.invalid_amount, tips.amount_too_small, tips.text_too_long (message over TIPS_MESSAGE_CHARS, 300 by default), tips.invalid_media, tips.invalid_subject, tips.name_taken, tips.goal_not_found or tips.self_dealing; 409 tips.not_accepting, tips.tts_disabled or tips.media_disabled; 409 tips.payment_failed (a replay of a request whose payment failed) and Billing's own refusal code (409 billing.insufficient_funds, else 422), both with the interaction in details; 404 tips.creator_not_found; 429 tips.too_many_pending; 502 tips.billing_unavailable. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "creator",
     "amount"
    ],
    "properties": {
     "creator": {
      "description": "The creator tipped.",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "minLength": 1,
        "description": "A usr_ id or the creator's Tips handle."
       }
      ]
     },
     "amount": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$",
      "maximum": 10000000,
      "description": "Vibes bits, at most TIPS_MAX_BITS (10000000 by default)."
     },
     "supporter": {
      "description": "The supporter: required for services; ignored for a person.",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      ]
     },
     "supporter_name": {
      "type": [
       "string",
       "null"
      ],
      "description": "The name to show (at most 80 characters kept); never the creator's own name or handle."
     },
     "message": {
      "type": [
       "string",
       "null"
      ]
     },
     "pay_with": {
      "enum": [
       "credit",
       "checkout"
      ]
     },
     "provider": {
      "type": "string",
      "description": "pay_with checkout: one of TIPS_CHECKOUT_PROVIDERS (powerchat by default)."
     },
     "tts": {
      "type": "object",
      "properties": {
       "text": {
        "type": "string"
       },
       "voice": {
        "enum": [
         "gary",
         "brian",
         "amy",
         "emma",
         "joey",
         "justin",
         "matthew",
         "salli",
         "kimberly",
         "kendra",
         "ivy",
         "joanna"
        ],
        "description": "Default: the creator's voice."
       }
      },
      "description": "Text-to-speech (kind tts): the text to read (default: message) and the voice."
     },
     "media": {
      "type": "object",
      "required": [
       "url"
      ],
      "properties": {
       "url": {
        "type": "string",
        "pattern": "^https://",
        "maxLength": 500,
        "description": "An https link on an allowed host (TIPS_MEDIA_HOSTS; YouTube by default)."
       }
      },
      "description": "A media request (kind media_request)."
     },
     "goal_id": {
      "type": "string",
      "description": "One of the creator's open goals."
     },
     "target": {
      "$ref": "#/components/schemas/common.entity-ref.v1",
      "description": "What the tip is for (a Live stream, …)."
     },
     "privacy": {
      "type": "object",
      "properties": {
       "anonymous": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "The name reads \"Anonymous\" to everyone but the supporter."
       },
       "hide_amount": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "The amount is left out of overlays, chat lines and public pages."
       },
       "private_message": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "A tip's message is for the creator only (tips only; 422 for the other kinds)."
       }
      },
      "additionalProperties": false,
      "description": "The supporter's choices; any other field is refused (422 tips.invalid_input). true, 1, \"1\", \"true\" and \"on\" count as yes."
     }
    }
   },
   "tips.paid-result.v1": {
    "title": "TipsPaidResult",
    "description": "tips.paid-result@1: the answer of the paid requests on OpenVibe.Tips (tips.checkout.create, tips.superchat.create, tips.tts.request, tips.media_request.create). POST /api/v1/checkout, /paid-messages, /tts-requests and /media-requests → { interaction, checkout_url, checkout_ref } (201; 200 for a replay of the same Idempotency-Key). Paid from credit, the interaction is settled at once, or still pending while Billing is retried. Through a checkout, it is pending and the supporter pays at checkout_url (https only; a PowerChat checkout may come as checkout_ref only); the paid message, TTS or media request exists only after Billing settles it. A service sees the interaction as a service (no subject for an anonymous supporter); a person as its supporter.",
    "type": "object",
    "required": [
     "interaction",
     "checkout_url",
     "checkout_ref"
    ],
    "properties": {
     "interaction": {
      "$ref": "#/components/schemas/tips.interaction.v1"
     },
     "checkout_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "checkout_ref": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "tips.profile-result.v1": {
    "title": "TipsProfileResult",
    "description": "tips.profile-result@1: a creator's tip profile on OpenVibe.Tips (tips.profile.get, tips.profile.update). GET /api/v1/profiles/:creator → { profile, goals }: the profile and its active goals, in full for the creator and services holding tips.profile.get, else in the public shape (a page that is switched off is 404 tips.creator_not_found to everyone else). PATCH /api/v1/profiles/:creator → { profile } in the creator's view.",
    "type": "object",
    "required": [
     "profile"
    ],
    "properties": {
     "profile": {
      "$ref": "#/components/schemas/tips.profile.v1"
     },
     "goals": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/tips.goal.v1"
      },
      "description": "GET only (always there): the active goals."
     }
    }
   },
   "tips.profile-update-request.v1": {
    "title": "TipsProfileUpdateRequest",
    "description": "tips.profile-update-request@1: the body of tips.profile.update on OpenVibe.Tips. PATCH /api/v1/profiles/:creator (a usr_ id or handle; me for the signed-in person, creating their profile on first use): any of the settings below; revision, when given, must be the profile's current revision (409 tips.revision_conflict). A service opening a profile for a creator Tips has not seen (a usr_ id in the path) must give handle (and may give display_name and avatar_url). Needs an Idempotency-Key header (8-200 of A-Z a-z 0-9 . _ : -; 400 idempotency.key_required): a replay with the same key and body returns the first answer, the same key with another body is 422 idempotency.key_reused. Refusals are problem+json: 422 tips.invalid_input (a value out of range, an unknown voice, an unknown page or filter setting, an empty display_name, no handle when creating) or tips.text_too_long; 404 tips.creator_not_found; 403 capability.denied or tips.forbidden. Unknown top-level fields are ignored.",
    "type": "object",
    "properties": {
     "revision": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "pattern": "^[1-9][0-9]*$"
     },
     "page_enabled": {
      "type": [
       "boolean",
       "integer",
       "string"
      ],
      "description": "The public page and its indexing. true, 1, \"1\" and \"on\" count as yes; anything else as no."
     },
     "accepting": {
      "type": [
       "boolean",
       "integer",
       "string"
      ],
      "description": "Take new tips. true, 1, \"1\" and \"on\" count as yes; anything else as no."
     },
     "tts_enabled": {
      "type": [
       "boolean",
       "integer",
       "string"
      ],
      "description": "Text-to-speech requests. true, 1, \"1\" and \"on\" count as yes; anything else as no."
     },
     "media_requests_enabled": {
      "type": [
       "boolean",
       "integer",
       "string"
      ],
      "description": "Media requests. true, 1, \"1\" and \"on\" count as yes; anything else as no."
     },
     "min_amount": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "maximum": 1000000,
      "pattern": "^[1-9][0-9]*$",
      "description": "The smallest tip (1 to 1000000 bits)."
     },
     "paid_message_min": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "maximum": 1000000,
      "pattern": "^[1-9][0-9]*$",
      "description": "The smallest paid message (1 to 1000000 bits)."
     },
     "tts_min_amount": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "maximum": 1000000,
      "pattern": "^[1-9][0-9]*$",
      "description": "The smallest text-to-speech request (1 to 1000000 bits)."
     },
     "media_request_min": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 1,
      "maximum": 1000000,
      "pattern": "^[1-9][0-9]*$",
      "description": "The smallest media request (1 to 1000000 bits)."
     },
     "media_max_seconds": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 10,
      "maximum": 10800,
      "pattern": "^[1-9][0-9]*$",
      "description": "The longest media request (10 to 10800 seconds)."
     },
     "tts_max_chars": {
      "type": [
       "integer",
       "string"
      ],
      "minimum": 20,
      "pattern": "^[1-9][0-9]*$",
      "description": "At least 20, at most TIPS_TTS_HARD_CAP (1200 by default)."
     },
     "tts_voice": {
      "enum": [
       "gary",
       "brian",
       "amy",
       "emma",
       "joey",
       "justin",
       "matthew",
       "salli",
       "kimberly",
       "kendra",
       "ivy",
       "joanna"
[...]
