{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Tools API",
  "version": "0.62.0",
  "description": "Routes of OpenVibe.Tools as the OpenVibe contracts describe them (openvibe-contracts 0.62.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.tools"
  }
 ],
 "paths": {
  "/api/v1/jobs": {
   "post": {
    "operationId": "post_api_v1_jobs",
    "summary": "Submit an asynchronous tool job (img.process, audio.process, docs.process) with its input files (tools.job-request@1, JSON or multipart); the job is owned by the calling principal.",
    "description": "**tools.job.create** (public): Submit an asynchronous tool job (img.process, audio.process, docs.process) with its input files (tools.job-request@1, JSON or multipart); the job is owned by the calling principal. Idempotency-Key supported. Also the owner's other writes on a job: retry a failed job as a new one (idempotent: asking again returns that retry), and keep a succeeded job's result while a reference such as community:paste:p_123 points at it (PUT), or let it expire again (DELETE, after the last reference).\n\nRoute note: Tools satellites: img, audio, docs",
    "tags": [
     "tools.job"
    ],
    "x-openvibe-capabilities": [
     "tools.job.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-job",
    "security": [
     {
      "openvibeToken": [
       "tools.job.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tools.job-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.job.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}": {
   "delete": {
    "operationId": "delete_api_v1_jobs_id",
    "summary": "Cancel a queued or running job the calling principal created.",
    "description": "**tools.job.cancel** (public): Cancel a queued or running job the calling principal created.",
    "tags": [
     "tools.job"
    ],
    "x-openvibe-capabilities": [
     "tools.job.cancel"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-job",
    "security": [
     {
      "openvibeToken": [
       "tools.job.cancel"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.job.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_jobs_id",
    "summary": "Read a job the calling principal created: state, progress, result (Media object references or local files), SSE progress with Last-Event-ID resume, result files.",
    "description": "**tools.job.read** (public): Read a job the calling principal created: state, progress, result (Media object references or local files), SSE progress with Last-Event-ID resume, result files.",
    "tags": [
     "tools.job"
    ],
    "x-openvibe-capabilities": [
     "tools.job.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-read",
    "security": [
     {
      "openvibeToken": [
       "tools.job.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.job-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/events": {
   "get": {
    "operationId": "get_api_v1_jobs_id_events",
    "summary": "Read a job the calling principal created: state, progress, result (Media object references or local files), SSE progress with Last-Event-ID resume, result files.",
    "description": "**tools.job.read** (public): Read a job the calling principal created: state, progress, result (Media object references or local files), SSE progress with Last-Event-ID resume, result files.",
    "tags": [
     "tools.job"
    ],
    "x-openvibe-capabilities": [
     "tools.job.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-read",
    "security": [
     {
      "openvibeToken": [
       "tools.job.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.job-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/files/{n}": {
   "get": {
    "operationId": "get_api_v1_jobs_id_files_n",
    "summary": "Read a job the calling principal created: state, progress, result (Media object references or local files), SSE progress with Last-Event-ID resume, result files.",
    "description": "**tools.job.read** (public): Read a job the calling principal created: state, progress, result (Media object references or local files), SSE progress with Last-Event-ID resume, result files.",
    "tags": [
     "tools.job"
    ],
    "x-openvibe-capabilities": [
     "tools.job.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-read",
    "security": [
     {
      "openvibeToken": [
       "tools.job.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.job-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/references/{ref}": {
   "delete": {
    "operationId": "delete_api_v1_jobs_id_references_ref",
    "summary": "Submit an asynchronous tool job (img.process, audio.process, docs.process) with its input files (tools.job-request@1, JSON or multipart); the job is owned by the calling principal.",
    "description": "**tools.job.create** (public): Submit an asynchronous tool job (img.process, audio.process, docs.process) with its input files (tools.job-request@1, JSON or multipart); the job is owned by the calling principal. Idempotency-Key supported. Also the owner's other writes on a job: retry a failed job as a new one (idempotent: asking again returns that retry), and keep a succeeded job's result while a reference such as community:paste:p_123 points at it (PUT), or let it expire again (DELETE, after the last reference).",
    "tags": [
     "tools.job"
    ],
    "x-openvibe-capabilities": [
     "tools.job.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-job",
    "security": [
     {
      "openvibeToken": [
       "tools.job.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/tools.job-create-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.job.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_jobs_id_references_ref",
    "summary": "Submit an asynchronous tool job (img.process, audio.process, docs.process) with its input files (tools.job-request@1, JSON or multipart); the job is owned by the calling principal.",
    "description": "**tools.job.create** (public): Submit an asynchronous tool job (img.process, audio.process, docs.process) with its input files (tools.job-request@1, JSON or multipart); the job is owned by the calling principal. Idempotency-Key supported. Also the owner's other writes on a job: retry a failed job as a new one (idempotent: asking again returns that retry), and keep a succeeded job's result while a reference such as community:paste:p_123 points at it (PUT), or let it expire again (DELETE, after the last reference).",
    "tags": [
     "tools.job"
    ],
    "x-openvibe-capabilities": [
     "tools.job.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-job",
    "security": [
     {
      "openvibeToken": [
       "tools.job.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tools.job-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.job.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/jobs/{id}/retry": {
   "post": {
    "operationId": "post_api_v1_jobs_id_retry",
    "summary": "Submit an asynchronous tool job (img.process, audio.process, docs.process) with its input files (tools.job-request@1, JSON or multipart); the job is owned by the calling principal.",
    "description": "**tools.job.create** (public): Submit an asynchronous tool job (img.process, audio.process, docs.process) with its input files (tools.job-request@1, JSON or multipart); the job is owned by the calling principal. Idempotency-Key supported. Also the owner's other writes on a job: retry a failed job as a new one (idempotent: asking again returns that retry), and keep a succeeded job's result while a reference such as community:paste:p_123 points at it (PUT), or let it expire again (DELETE, after the last reference).",
    "tags": [
     "tools.job"
    ],
    "x-openvibe-capabilities": [
     "tools.job.create"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-job",
    "security": [
     {
      "openvibeToken": [
       "tools.job.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tools.job-create-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.job.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tools": {
   "get": {
    "operationId": "get_api_v1_tools",
    "summary": "Read the tool registry (ADR-027): every tool's descriptor (tools.tool@1: execution, whether the run API exposes it, how to call it, input and output schemas, files, limits, auth, quota class, cost, eg",
    "description": "**tools.tool.read** (public): Read the tool registry (ADR-027): every tool's descriptor (tools.tool@1: execution, whether the run API exposes it, how to call it, input and output schemas, files, limits, auth, quota class, cost, egress, hosts, docs), filtered by family, execution, api, status or text. GET /api/v1/tools answers tools.tool-list@1 with schemas as { $ref }; GET /api/v1/tools/:id has them embedded; GET /api/v1/tools/:id/schema answers { $schema, $id, $defs: { input, output } }, with $defs.input false for a tool without an API. The gateway (https://openvibe.tools) answers for every tool, and each satellite for its own tools with its own live status. Open to everyone, anonymous callers included, from any origin (CORS *); cacheable (ETag, 304). A bad filter value is 400 tools.query.invalid; an unknown, planned or mirror id is 404 tools.tool.not_found, whose detail says which.",
    "tags": [
     "tools.tool"
    ],
    "x-openvibe-capabilities": [
     "tools.tool.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-read",
    "security": [
     {
      "openvibeToken": [
       "tools.tool.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.tool-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tools/{id}": {
   "get": {
    "operationId": "get_api_v1_tools_id",
    "summary": "Read the tool registry (ADR-027): every tool's descriptor (tools.tool@1: execution, whether the run API exposes it, how to call it, input and output schemas, files, limits, auth, quota class, cost, eg",
    "description": "**tools.tool.read** (public): Read the tool registry (ADR-027): every tool's descriptor (tools.tool@1: execution, whether the run API exposes it, how to call it, input and output schemas, files, limits, auth, quota class, cost, egress, hosts, docs), filtered by family, execution, api, status or text. GET /api/v1/tools answers tools.tool-list@1 with schemas as { $ref }; GET /api/v1/tools/:id has them embedded; GET /api/v1/tools/:id/schema answers { $schema, $id, $defs: { input, output } }, with $defs.input false for a tool without an API. The gateway (https://openvibe.tools) answers for every tool, and each satellite for its own tools with its own live status. Open to everyone, anonymous callers included, from any origin (CORS *); cacheable (ETag, 304). A bad filter value is 400 tools.query.invalid; an unknown, planned or mirror id is 404 tools.tool.not_found, whose detail says which.",
    "tags": [
     "tools.tool"
    ],
    "x-openvibe-capabilities": [
     "tools.tool.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-read",
    "security": [
     {
      "openvibeToken": [
       "tools.tool.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.tool-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tools/{id}/run": {
   "post": {
    "operationId": "post_api_v1_tools_id_run",
    "summary": "Run the network probe tools through the run API (ADR-027): the tools whose descriptor names auth.capability tools.net.probe (port checks, ping, traceroute, mtr, latency, bulk header and TLS checks), w",
    "description": "**tools.net.probe** (partner): Run the network probe tools through the run API (ADR-027): the tools whose descriptor names auth.capability tools.net.probe (port checks, ping, traceroute, mtr, latency, bulk header and TLS checks), which send traffic to a host the caller chose. Only app and service principals holding this capability run them through the API or the SDK: partner visibility, so Network grants it to a developer project only when staff add it to that project's allowance by hand, and first-party services hold it through their own grants. People keep using the probe pages, which have a per-target throttle. Every run is throttled per target across all callers (limits.perTargetPerMinute) and written to the pseudonymous abuse log. Planned until the gateway serves the route.\n\n**tools.tool.run** (public): Run a tool through the uniform run API (ADR-027): POST /api/v1/tools/:id/run with tools.run-request@1 (JSON, or multipart with uploaded files), answered inline (tools.run@1 succeeded or failed) or, for a job tool that has not finished within wait_ms, with its job (202 + Location). Every tool whose descriptor has api true and auth.capability tools.tool.run. Callers are tiered, anonymous < session < user < app/service: tools with auth.anonymous true take anonymous callers (keyed by IP, IPv6 by /64); the others need a browser session, a signed-in person or a token. An app or service token needs this capability; people and browser sessions do not. Quotas count each tool's cost within its quota class, per caller. A job tool's run creates a job owned by the caller, like tools.job.create. Planned until the gateway serves the route.\n\nRoute note: tools with auth.capability tools.net.probe",
    "tags": [
     "tools.net",
     "tools.tool"
    ],
    "x-openvibe-capabilities": [
     "tools.net.probe",
     "tools.tool.run"
    ],
    "x-openvibe-visibility": [
     "partner",
     "public"
    ],
    "x-openvibe-quota-class": "tools-probe",
    "security": [
     {
      "openvibeToken": [
       "tools.net.probe"
      ]
     },
     {
      "openvibeToken": [
       "tools.tool.run"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/tools.run-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.run.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/tools/{id}/schema": {
   "get": {
    "operationId": "get_api_v1_tools_id_schema",
    "summary": "Read the tool registry (ADR-027): every tool's descriptor (tools.tool@1: execution, whether the run API exposes it, how to call it, input and output schemas, files, limits, auth, quota class, cost, eg",
    "description": "**tools.tool.read** (public): Read the tool registry (ADR-027): every tool's descriptor (tools.tool@1: execution, whether the run API exposes it, how to call it, input and output schemas, files, limits, auth, quota class, cost, egress, hosts, docs), filtered by family, execution, api, status or text. GET /api/v1/tools answers tools.tool-list@1 with schemas as { $ref }; GET /api/v1/tools/:id has them embedded; GET /api/v1/tools/:id/schema answers { $schema, $id, $defs: { input, output } }, with $defs.input false for a tool without an API. The gateway (https://openvibe.tools) answers for every tool, and each satellite for its own tools with its own live status. Open to everyone, anonymous callers included, from any origin (CORS *); cacheable (ETag, 304). A bad filter value is 400 tools.query.invalid; an unknown, planned or mirror id is 404 tools.tool.not_found, whose detail says which.",
    "tags": [
     "tools.tool"
    ],
    "x-openvibe-capabilities": [
     "tools.tool.read"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "tools-read",
    "security": [
     {
      "openvibeToken": [
       "tools.tool.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/tools.tool-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "tools.job-create-request.v1": {
    "title": "ToolsJobCreateRequest",
    "description": "tools.job-create-request@1: the request of tools.job.create on the Tools satellites that run jobs. POST /api/v1/jobs: tools.job-request@1 (JSON or multipart). POST /api/v1/jobs/:id/retry and PUT|DELETE /api/v1/jobs/:id/references/:ref take no body.",
    "anyOf": [
     {
      "$ref": "#/components/schemas/tools.job-request.v1"
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "tools.job-read-result.v1": {
    "title": "ToolsJobReadResult",
    "description": "tools.job-read-result@1: answers of tools.job.read on the Tools satellites. GET /api/v1/jobs/:id → tools.job@1, and so is the data of every event on GET /api/v1/jobs/:id/events (Server-Sent Events, Last-Event-ID resume); GET /api/v1/jobs/:id/files/:n → the result file's bytes (Content-Type of the file; 409 tools.job.not_ready before the job succeeded).",
    "anyOf": [
     {
      "$ref": "#/components/schemas/tools.job.v1"
     },
     {
      "type": "string",
      "contentEncoding": "binary",
      "description": "GET /api/v1/jobs/:id/files/:n."
     }
    ]
   },
   "tools.job-request.v1": {
    "title": "ToolsJobRequest",
    "description": "Body of POST /api/v1/jobs on the Tools satellites that run jobs (img, audio, docs; capability tools.job.create; OpenVibe.Tools apps/_shared/jobs/http.js). JSON, or multipart/form-data with the same fields as text parts (input as JSON text) and the input files as file or files parts. The Idempotency-Key header wins over idempotency_key: the same (owner, key) and request returns the same job (200 + Idempotent-Replayed: true), a different request under it is 409 tools.job.idempotency_conflict. Types: img.process (input { tool: convert|compress|resize|crop, … }, one image), audio.process ({ tool, … } as /api/process takes them, one audio or video file), docs.process ({ tool, … }, one PDF, or several files for merge and img2pdf). A format host fills in its format (webp.openvibe.tools converts to WebP). Answers tools.job@1 (202 + Location). Refusals are problem+json: 400 tools.job.invalid (input not a JSON object or over 16 KB, wrong file count, the type's own validation) or tools.job.unknown_type, 401 token.* or tools.job.no_owner, 403 capability.denied, 413 tools.job.too_large, 429 tools.job.too_many_active (unfinished jobs per owner), tools.quota.exceeded (Retry-After; the owner's allowance is spent) or a rate limit, 503 tools.job.unavailable, 503 tools.unavailable (a program or upstream the job type needs is missing), 503 tools.busy (Retry-After; every slot for this kind of work is taken). A tool that refuses its input after the job was accepted fails the job with its own code (413 tools.pdf.too_many_pages, 422 tools.pdf.wrong_password…; tools.job@1 error).",
    "type": "object",
    "required": [
     "type"
    ],
    "additionalProperties": false,
    "properties": {
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9]*\\.[a-z0-9_.]+$",
      "maxLength": 80,
      "description": "Job type: img.process, audio.process, docs.process."
     },
     "input": {
      "type": "object",
      "description": "The job type's input; { tool: <operation>, …options }. Default {}; at most 16 KB as JSON."
     },
     "idempotency_key": {
      "type": "string",
      "pattern": "^[!-~]{8,200}$",
      "description": "8-200 printable ASCII characters. The Idempotency-Key header is used when both are present."
     }
    }
   },
   "tools.job.v1": {
    "title": "ToolsJob",
    "description": "A Tools job as the jobs API answers it (OpenVibe.Tools apps/_shared/jobs/http.js, system.view; ADR-027): POST /api/v1/jobs (202 + Location, or 200 + Idempotent-Replayed: true), GET and DELETE /api/v1/jobs/:id, POST /api/v1/jobs/:id/retry, PUT and DELETE /api/v1/jobs/:id/references/:ref, the data of every SSE event on GET /api/v1/jobs/:id/events, and the job member of tools.run@1. A job is visible only to its owner (a person, a service/app principal, or one browser session); anyone else gets the same 404 tools.job.not_found as for a job that does not exist. result is null until the job succeeded; each result file is downloaded from its url (GET /api/v1/jobs/:id/files/:n, ?inline=1 for previews) and is stored as a private OpenVibe.Media object (storage media) or on the satellite until the job expires (storage local). expires_at is null while a reference keeps the result. error is problem+json: tools.job.failed, tools.job.timeout, tools.job.cancelled, or a code the tool chose (tools.…), such as 413 tools.pdf.too_many_pages or 422 tools.pdf.wrong_password, with server paths removed.",
    "type": "object",
    "required": [
     "id",
     "object",
     "service",
     "type",
     "type_version",
     "state",
     "progress",
     "attempts",
     "max_attempts",
     "cancel_requested",
     "created_at",
     "started_at",
     "finished_at",
     "expires_at",
     "result",
     "error",
     "retryable",
     "retry_of",
     "retried_by",
     "references",
     "links"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "object": {
      "const": "tools.job"
     },
     "service": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$",
      "description": "The Tools satellite that runs the job (img, audio, docs…)."
     },
     "tool": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{0,39}$",
      "description": "The tool (tools.tool@1 id) whose run created the job, when it came through POST /api/v1/tools/{id}/run. Absent for a job submitted to POST /api/v1/jobs directly."
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9]*\\.[a-z0-9_.]+$",
      "maxLength": 80,
      "description": "Job type, e.g. img.process."
     },
     "type_version": {
      "type": "integer",
      "minimum": 1
     },
     "state": {
      "enum": [
       "queued",
       "running",
       "succeeded",
       "failed",
       "cancelled"
      ],
      "description": "Terminal: succeeded, failed, cancelled."
     },
     "progress": {
      "type": "object",
      "required": [
       "percent",
       "message"
      ],
      "additionalProperties": false,
      "properties": {
       "percent": {
        "type": [
         "number",
         "null"
        ],
        "minimum": 0,
        "maximum": 100
       },
       "message": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 500
       }
      }
     },
     "attempts": {
      "type": "integer",
      "minimum": 0
     },
     "max_attempts": {
      "type": "integer",
      "minimum": 1
     },
     "cancel_requested": {
      "type": "boolean",
      "description": "DELETE asked a running job to stop; it ends cancelled."
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "started_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "finished_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "expires_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time",
      "description": "When the job, its events and its result files are pruned; null while a reference keeps the result."
     },
     "result": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "files",
       "data"
      ],
      "additionalProperties": false,
      "properties": {
       "files": {
        "type": "array",
        "maxItems": 100,
        "items": {
         "type": "object",
         "required": [
          "name",
          "mime",
          "size",
          "sha256",
          "storage",
          "media",
          "url"
         ],
         "additionalProperties": false,
         "properties": {
          "name": {
           "type": "string",
           "minLength": 1,
           "maxLength": 200
          },
          "mime": {
           "type": "string",
           "minLength": 1,
           "maxLength": 200
          },
          "size": {
           "type": "integer",
           "minimum": 0
          },
          "sha256": {
           "type": "string",
           "pattern": "^[0-9a-f]{64}$"
          },
          "storage": {
           "enum": [
            "local",
            "media"
           ],
           "description": "media: a private OpenVibe.Media object (TOOLS_JOB_RESULTS=media); local: kept on the satellite until the job expires."
          },
          "media": {
           "type": [
            "object",
            "null"
           ],
           "required": [
            "media_id"
           ],
           "additionalProperties": false,
           "description": "The Media object, when storage is media.",
           "properties": {
            "media_id": {
             "type": "string",
             "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
            },
            "role": {
             "type": "string",
             "pattern": "^[a-z][a-z0-9_]{1,39}$"
            },
            "namespace": {
             "type": "string",
             "pattern": "^[a-z][a-z0-9_.-]{0,63}$"
            },
            "size_bytes": {
             "type": "integer",
             "minimum": 0
            },
            "content_hash": {
             "type": "string",
             "pattern": "^[0-9a-f]{64}$"
            },
            "mime_type": {
             "type": "string",
             "maxLength": 200
            },
            "status": {
             "type": "string",
             "maxLength": 40,
             "description": "The object's Media lifecycle status when it was stored (ready)."
            }
           }
          },
          "media_error": {
           "type": "string",
           "maxLength": 500,
           "description": "Present when storing the file in Media failed; the file stayed local."
          },
          "url": {
           "type": "string",
           "pattern": "^/api/v1/jobs/job_[0-9A-HJKMNP-TV-Z]{26}/files/\\d+$",
           "description": "Where the owner downloads it."
          }
         }
        }
       },
       "data": {
        "type": "object",
        "description": "The tool's output data (dimensions, durations, page counts…); {} when it has none."
       }
      }
     },
     "error": {
      "oneOf": [
       {
        "$ref": "#/components/schemas/errors.problem.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "retryable": {
      "type": "boolean",
      "description": "Retrying may succeed (a timeout, a restart); POST links.retry makes a new job."
     },
     "retry_of": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The failed job this one retries."
     },
     "retried_by": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$",
      "description": "The job that retried this failed one; asking again returns it."
     },
     "references": {
      "type": "array",
      "maxItems": 50,
      "description": "What keeps the result (PUT /api/v1/jobs/:id/references/:ref), e.g. community:paste:p_123.",
      "items": {
       "type": "object",
       "required": [
        "ref",
        "created_at"
       ],
       "additionalProperties": false,
       "properties": {
        "ref": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_-]*(?::[A-Za-z0-9_.-]+){1,4}$",
         "maxLength": 200
        },
        "created_at": {
         "type": "string",
         "format": "date-time"
        }
       }
      }
     },
     "links": {
      "type": "object",
      "required": [
       "self",
       "events",
       "cancel",
       "retry",
       "retried_by"
      ],
      "additionalProperties": false,
      "properties": {
       "self": {
        "type": "string",
        "format": "uri-reference"
       },
       "events": {
        "type": "string",
        "format": "uri-reference"
       },
       "cancel": {
        "type": [
         "string",
         "null"
        ],
        "format": "uri-reference",
        "description": "DELETE it while the job is queued or running."
       },
       "retry": {
        "type": [
         "string",
         "null"
        ],
        "format": "uri-reference",
        "description": "POST it when the job failed."
       },
       "retried_by": {
        "type": [
         "string",
         "null"
        ],
        "format": "uri-reference"
       }
      }
     }
    }
   },
   "tools.run-request.v1": {
    "title": "ToolsRunRequest",
    "description": "Body of POST /api/v1/tools/{id}/run on openvibe.tools (capability tools.tool.run, or tools.net.probe for network probes; ADR-027). JSON, or multipart/form-data like POST /api/v1/jobs: the text parts input (JSON text), wait_ms and idempotency_key, and uploaded files as file or files parts. The tool gets the uploaded files first, then the files references, in order; the count must fit the descriptor's files.min and files.max. input must match the tool's input schema (tools.tool@1 input). A job tool's job input is { ...input, ...run.job.preset, tool: run.job.operation } (the preset and the operation always win). The Idempotency-Key header wins over idempotency_key; ?wait_ms= on the query does the same as the field. Answers tools.run@1: 200 finished (succeeded, or failed with the tool's own error), 202 + Location while a job is queued or running, 200 + Idempotent-Replayed: true for a replay. Refusals are problem+json: 400 tools.run.invalid (not JSON, a bad field, wrong file count), 401 token.*, 403 capability.denied, 404 tools.tool.not_found, 404 tools.tool.not_runnable (api false: a page-only tool), 404 tools.run.file_not_found (a reference the caller cannot read), 409 tools.job.idempotency_conflict, 413 tools.file.too_large, 415 tools.file.unsupported_type (checked against the bytes), 422 tools.input.invalid (errors[] with JSON pointers), 429 tools.quota.exceeded (Retry-After; the caller's allowance in the tool's quota class is spent), quota.exceeded or tools.job.too_many_active (Retry-After), 503 tools.tool.unavailable (the descriptor's status is unavailable), 503 tools.unavailable (a program or upstream the tool needs is missing), 503 tools.busy (Retry-After; every slot for this kind of work is taken). A job tool's own refusals (413 tools.pdf.too_many_pages, 422 tools.pdf.wrong_password…) come back as a failed run (tools.run@1 error).",
    "type": "object",
    "additionalProperties": false,
    "properties": {
     "input": {
      "type": "object",
      "description": "The tool's parameters, matching its input schema. Default {}."
     },
     "files": {
      "type": "array",
      "maxItems": 50,
      "description": "Files that are already somewhere, instead of or besides uploaded parts.",
      "items": {
       "oneOf": [
        {
         "type": "object",
         "required": [
          "media_id"
         ],
         "additionalProperties": false,
         "description": "A Media object the caller may read. Tools reads it for the caller.",
         "properties": {
          "media_id": {
           "type": "string",
           "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
          }
         }
        },
        {
         "type": "object",
         "required": [
          "job_id",
          "index"
         ],
         "additionalProperties": false,
         "description": "Result file index of a job the same caller owns (GET /api/v1/jobs/:id/files/:n), so one tool's output feeds the next.",
         "properties": {
          "job_id": {
           "type": "string",
           "pattern": "^job_[0-9A-HJKMNP-TV-Z]{26}$"
          },
          "index": {
           "type": "integer",
           "minimum": 0,
           "maximum": 99
          }
         }
        }
       ]
      }
     },
     "wait_ms": {
      "type": "integer",
      "minimum": 0,
      "maximum": 60000,
      "description": "Job tools: wait up to this long for the job to finish before answering (200 finished, else 202 with the job). Default 0. Inline tools always answer finished."
     },
     "idempotency_key": {
      "type": "string",
      "pattern": "^[!-~]{8,200}$",
      "description": "Job tools: the same (caller, key) and request returns the same job; a different request under it is 409 tools.job.idempotency_conflict. Inline tools ignore it."
     }
    }
   },
   "tools.run.v1": {
    "title": "ToolsRun",
    "description": "The answer of POST /api/v1/tools/{id}/run (tools.run-request@1; ADR-027). Finished: { state: succeeded, tool, result, took_ms } or { state: failed|cancelled, tool, error, took_ms }, with job set when the tool ran as a job. Not finished within wait_ms: { state: queued|running, tool, job, location }, sent with 202 and a Location header; follow the job there (GET, its events, its files; tools.job@1). result carries data (kind json, matching the descriptor's output schema), text (kind text) or files (kind file or files: the job's result files, downloaded from their url). took_ms runs from the request to the answer for an inline run, and from created_at to finished_at for a job. error is problem+json from the tool: tools.job.failed, tools.job.timeout, tools.job.cancelled, or a code the tool chose (tools.…), such as 413 tools.pdf.too_many_pages or 422 tools.pdf.wrong_password; its status is the problem's, not the HTTP answer's. A request refused before the tool ran is a problem+json answer, not a run. Also: 413 tools.input.too_large (the input exceeded a worker's memory or size limit), 504 tools.run.timeout (the run passed the descriptor's timeoutMs), 403 tools.origin.refused (a cookie-authenticated mutation from a foreign Origin), 401 tools.session_required (the tool is not anonymous and the call has no browser session or token), 404 tools.run.file_not_found (a files reference names no result the caller may read), 500 tools.run.failed (the engine failed without a more specific code).",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "state",
       "tool",
       "result",
       "took_ms"
      ],
      "additionalProperties": false,
      "properties": {
       "state": {
        "const": "succeeded"
       },
       "tool": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{0,39}$"
       },
       "result": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
         "data": {
          "type": "object",
          "description": "Output data; matches the descriptor's output.schema when output.kind is json."
         },
         "text": {
          "type": "string",
          "description": "Output text (output.kind text)."
         },
         "files": {
          "type": "array",
          "maxItems": 100,
          "description": "Result files (output.kind file or files), exactly as the job lists them.",
          "items": {
           "type": "object",
           "required": [
            "name",
            "mime",
            "size",
            "sha256",
            "storage",
            "media",
            "url"
           ],
           "additionalProperties": false,
           "properties": {
            "name": {
             "type": "string",
             "minLength": 1,
             "maxLength": 200
            },
            "mime": {
             "type": "string",
             "minLength": 1,
             "maxLength": 200
            },
            "size": {
             "type": "integer",
             "minimum": 0
            },
            "sha256": {
             "type": "string",
             "pattern": "^[0-9a-f]{64}$"
            },
            "storage": {
             "enum": [
              "local",
              "media"
             ],
             "description": "media: a private OpenVibe.Media object (TOOLS_JOB_RESULTS=media); local: kept on the satellite until the job expires."
            },
            "media": {
             "type": [
              "object",
              "null"
             ],
             "required": [
              "media_id"
             ],
             "additionalProperties": false,
             "description": "The Media object, when storage is media.",
             "properties": {
              "media_id": {
               "type": "string",
               "pattern": "^med_[0-9A-HJKMNP-TV-Z]{26}$"
              },
              "role": {
               "type": "string",
               "pattern": "^[a-z][a-z0-9_]{1,39}$"
              },
              "namespace": {
               "type": "string",
               "pattern": "^[a-z][a-z0-9_.-]{0,63}$"
              },
              "size_bytes": {
               "type": "integer",
               "minimum": 0
              },
              "content_hash": {
               "type": "string",
               "pattern": "^[0-9a-f]{64}$"
              },
              "mime_type": {
               "type": "string",
               "maxLength": 200
              },
              "status": {
               "type": "string",
               "maxLength": 40,
               "description": "The object's Media lifecycle status when it was stored (ready)."
              }
             }
            },
            "media_error": {
             "type": "string",
             "maxLength": 500,
             "description": "Present when storing the file in Media failed; the file stayed local."
            },
            "url": {
             "type": "string",
             "pattern": "^/api/v1/jobs/job_[0-9A-HJKMNP-TV-Z]{26}/files/\\d+$",
             "description": "Where the owner downloads it."
            }
           }
          }
         }
        }
       },
       "took_ms": {
        "type": "integer",
        "minimum": 0
       },
       "job": {
        "oneOf": [
         {
          "$ref": "#/components/schemas/tools.job.v1"
         },
         {
          "type": "null"
         }
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "state",
       "tool",
       "error",
       "took_ms"
      ],
      "additionalProperties": false,
      "properties": {
       "state": {
        "enum": [
         "failed",
         "cancelled"
        ]
       },
       "tool": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{0,39}$"
       },
       "error": {
        "$ref": "#/components/schemas/errors.problem.v1"
       },
       "took_ms": {
        "type": "integer",
        "minimum": 0
       },
       "job": {
        "oneOf": [
         {
          "$ref": "#/components/schemas/tools.job.v1"
         },
         {
          "type": "null"
         }
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "state",
       "tool",
       "job",
       "location"
      ],
      "additionalProperties": false,
      "properties": {
       "state": {
        "enum": [
         "queued",
         "running"
        ]
       },
       "tool": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{0,39}$"
       },
       "job": {
        "$ref": "#/components/schemas/tools.job.v1"
       },
       "location": {
        "type": "string",
        "format": "uri-reference",
        "pattern": "/api/v1/jobs/job_[0-9A-HJKMNP-TV-Z]{26}$",
        "description": "The job (also the Location header): /api/v1/jobs/:id on the gateway."
       }
      }
     }
    ]
   },
   "tools.tool-list.v1": {
    "title": "ToolList",
    "description": "The answer of GET /api/v1/tools on openvibe.tools (capability tools.tool.read; ADR-027): every tool's descriptor (tools.tool@1), with input and output schemas in the { $ref } form (GET /api/v1/tools/:id has them embedded). Filters: ?family=, ?execution=client|sync|job, ?api=true|false, ?status=, ?q= (every word must appear in the id, name, summary or keywords); family, execution and status take comma lists. An unknown execution or status value, or an api that is not true or false, is 400 tools.query.invalid. Every listed tool has one of the descriptor's statuses: there is no planned status, so planned placeholders are not tools and are not listed, and neither are mirrors (GET /api/v1/tools/:id answers 404 tools.tool.not_found for both, with a detail saying why). Cacheable (ETag); updated_at changes when any descriptor does.",
    "type": "object",
    "required": [
     "tools",
     "count",
     "updated_at"
    ],
    "additionalProperties": false,
    "properties": {
     "tools": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/tools.tool.v1"
      }
     },
     "count": {
      "type": "integer",
      "minimum": 0,
      "description": "The number of tools in this answer."
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "families": {
      "type": "array",
      "description": "The families of the tools in this answer.",
      "items": {
       "type": "object",
       "required": [
        "id",
        "name",
        "count"
       ],
       "additionalProperties": false,
       "properties": {
        "id": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$"
        },
        "name": {
         "type": "string",
         "minLength": 1,
         "maxLength": 80
        },
        "count": {
         "type": "integer",
         "minimum": 0
        }
       }
      }
     }
    }
   },
   "tools.tool-read-result.v1": {
    "title": "ToolsToolReadResult",
    "description": "tools.tool-read-result@1: answers of tools.tool.read on openvibe.tools (public registry; ADR-027). GET /api/v1/tools → tools.tool-list@1; GET /api/v1/tools/:id → tools.tool@1 with its schemas embedded; GET /api/v1/tools/:id/schema → the tool's own JSON Schema document { $schema, $id, $defs: { input, output } } (application/schema+json; input is false for a tool without an API input).",
    "anyOf": [
     {
      "$ref": "#/components/schemas/tools.tool-list.v1"
     },
     {
      "$ref": "#/components/schemas/tools.tool.v1"
     },
     {
      "type": "object",
      "required": [
       "$schema",
       "$id",
       "$defs"
      ],
      "properties": {
       "$defs": {
        "type": "object",
        "required": [
         "input",
         "output"
        ],
        "properties": {
         "input": {
          "type": [
           "object",
           "boolean"
          ]
         },
         "output": {
          "type": "object"
         }
        }
       }
      }
     }
    ]
   },
   "tools.tool.v1": {
    "title": "ToolDescriptor",
    "description": "One tool on openvibe.tools as its registry describes it (GET /api/v1/tools/:id, and each item of GET /api/v1/tools; capability tools.tool.read; ADR-027). There is one descriptor per catalogue tool (GET /api/catalog.json tools[].id), built from the tool's own code, so its page, the run API, openvibe-sdk/tools, the OpenAPI document and the docs all read the same facts. EXECUTION is where the tool's engine runs for its page: client (in the browser; nothing leaves it), sync (a server request answered inline) or job (an asynchronous job on a satellite, tools.job@1). API says whether POST /api/v1/tools/{id}/run exposes the tool. A client tool has api true only when it also has a server engine (a pure transform that runs in Node), and its page stays browser-only. A page-only tool (yt) has api false and run null. A job tool's run creates a job of run.job.type whose input is { ...input, ...run.job.preset, tool: run.job.operation } (the preset and the operation always win). INPUT is the JSON Schema (2020-12) that a run request's input must match, embedded or as { $ref: https://openvibe.tools/api/v1/tools/{id}/schema#/$defs/input }. GET /api/v1/tools/:id/schema answers { $schema, $id, $defs: { input, output } }, and the list uses the $ref form. When api is false, $defs.input is false (the schema that accepts nothing), since there is no run to take an input. OUTPUT.SCHEMA describes result.data for every execution: inline and job tools alike. KEYWORDS (the catalogue's search terms) and EXAMPLES (sample runs for the docs and the OpenAPI document) are optional. NOT A TOOL: there is no planned status. A planned catalogue entry has no descriptor and is not listed, and neither is a mirror (a second build of another tool). GET /api/v1/tools/:id and /schema answer 404 tools.tool.not_found for either, with a detail that says the id is planned or names the tool it mirrors, as for an id that does not exist. RULES this schema enforces: api false has no run and no examples, and api true has a run and an input; an API job tool names its job, and only job tools name one; an API tool whose output is a file runs as a job (its results are served as job files); a tools.net.probe tool fetches (egress) and is never anonymous; an anonymous egress tool has a per-target throttle (limits.perTargetPerMinute); a client tool never fetches; an unavailable tool says why (statusReason); JSON output has a schema. contracts.tools.checkDescriptor(d) also checks what depends on the id (run.path, $ref targets), files.min <= files.max, and each example: its input against an embedded input schema and limits.maxInputBytes, and its files against files (count and accept).",
    "type": "object",
    "required": [
     "id",
     "family",
     "name",
     "summary",
     "status",
     "execution",
     "api",
     "run",
     "input",
     "files",
     "output",
     "limits",
     "auth",
     "quotaClass",
     "cost",
     "egress",
     "hosts",
     "docs"
    ],
    "additionalProperties": false,
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{0,39}$",
      "description": "The tool's catalogue id, which is its subdomain label (png, jsminify, dns, pdf2jpg). It never changes."
     },
     "family": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$",
      "description": "The catalogue family: net, dev, img, audio, docs, text, media, places, pastes…"
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "summary": {
      "type": "string",
      "minLength": 1,
      "maxLength": 200,
      "description": "One plain sentence: what the tool does."
     },
     "keywords": {
      "type": "array",
      "uniqueItems": true,
      "maxItems": 50,
      "items": {
       "type": "string",
       "minLength": 1,
       "maxLength": 100,
       "pattern": "^\\S(.*\\S)?$"
      },
      "description": "Optional. The catalogue's search terms for the tool (GET /api/catalog.json tools[].keywords): phrases people search for, such as 'heic to png' or 'yaml validator'. GET /api/v1/tools?q= matches every word of the query against the id, name, summary and these."
     },
     "status": {
      "enum": [
       "stable",
       "beta",
       "preview",
       "unavailable"
      ],
      "description": "stable: works, and its input and output only grow. beta: works; input or output may still change in a minor. preview: works with known gaps (limits or output not final). unavailable: listed, but runs are refused with 503 tools.tool.unavailable and the page says so (statusReason); a program or upstream the engine needs is missing (qpdf, pdftoppm, heif-dec, ffmpeg…), and the engine's own routes answer 503 tools.unavailable while it is. There is no planned status: a planned catalogue entry is not a tool, so it has no descriptor and is not listed."
     },
     "statusReason": {
      "type": "string",
      "minLength": 1,
      "maxLength": 300,
      "description": "Why the status is what it is, for people (e.g. 'needs qpdf on the host'). Required when unavailable."
     },
     "execution": {
      "enum": [
       "client",
       "sync",
       "job"
      ],
      "description": "Where the engine runs for the tool's page: client (the browser), sync (a server request answered inline), job (an asynchronous job)."
     },
     "api": {
      "type": "boolean",
      "description": "POST /api/v1/tools/{id}/run exposes the tool. false for a client tool without a server engine and for page-only tools (yt)."
     },
     "run": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "method",
       "path",
       "job"
      ],
      "additionalProperties": false,
      "description": "How to call it; null when api is false.",
      "properties": {
       "method": {
        "const": "POST"
       },
       "path": {
        "type": "string",
        "pattern": "^/api/v1/tools/[a-z][a-z0-9-]{0,39}/run$",
        "description": "/api/v1/tools/{id}/run on https://openvibe.tools; the body is tools.run-request@1, the answer tools.run@1."
       },
       "job": {
        "type": [
         "object",
         "null"
        ],
        "required": [
         "type",
         "operation"
        ],
        "additionalProperties": false,
        "description": "For a job tool: the job the run creates. null for tools answered inline.",
        "properties": {
         "type": {
          "type": "string",
          "pattern": "^[a-z][a-z0-9]*\\.[a-z0-9_.]+$",
          "maxLength": 80,
          "description": "Job type, e.g. img.process."
         },
         "operation": {
          "type": "string",
          "pattern": "^[a-z][a-z0-9_-]{0,39}$",
          "description": "The job input's tool field: convert, compress, trim, mergepdf…"
         },
         "preset": {
          "type": "object",
          "description": "Input fields the tool itself fixes, applied over the caller's input (png: { format: png })."
         }
        }
       },
       "legacy": {
        "type": "array",
        "uniqueItems": true,
        "maxItems": 32,
        "items": {
         "type": "string",
         "pattern": "^(GET|POST|PUT|DELETE) /[^\\s]*$"
        },
        "description": "Older routes that run the same engine (GET /api/net/dns/:target, POST /api/process…). They keep working until their Sunset date and answer with Deprecation, Sunset and Link: rel=successor-version pointing at path."
       }
      }
     },
     "input": {
      "description": "JSON Schema (2020-12) of the run request's input: embedded (an object schema), or { $ref } to $defs/input of GET /api/v1/tools/:id/schema. null only for a tool without an API, whose $defs/input is false (it accepts nothing).",
      "anyOf": [
       {
        "type": "object",
        "required": [
         "$ref"
        ],
        "maxProperties": 1,
        "properties": {},
        "patternProperties": {
         "^\\$ref$": {
          "type": "string",
          "format": "uri"
         }
        }
       },
       {
        "type": "object",
        "required": [
         "type"
        ],
        "properties": {
         "type": {
          "const": "object"
         }
        }
       },
       {
        "type": "null"
       }
      ]
     },
     "files": {
      "type": [
       "object",
       "null"
      ],
      "required": [
       "min",
       "max",
       "accept",
       "maxBytes"
      ],
      "additionalProperties": false,
      "description": "The files a run takes (multipart parts, or tools.run-request@1 files references); null when it takes none.",
      "properties": {
       "min": {
        "type": "integer",
        "minimum": 0,
        "maximum": 100
       },
       "max": {
        "type": "integer",
        "minimum": 1,
        "maximum": 100
       },
       "accept": {
        "type": "array",
        "minItems": 1,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z]+/([a-z0-9][a-z0-9.+-]*|\\*)$"
        },
        "description": "Accepted media types, checked against the bytes, not the client's Content-Type (image/png, image/*, application/pdf…)."
       },
       "maxBytes": {
        "type": "integer",
        "minimum": 1,
        "description": "Largest accepted file."
       }
      }
     },
     "examples": {
      "type": "array",
      "maxItems": 50,
      "description": "Optional. Sample runs, which the docs and the generated OpenAPI document publish. Each example's input is valid against the tool's input schema and fits limits.maxInputBytes, and its files fit files (count and accept); contracts.tools.checkDescriptor checks this whenever input is embedded. Only a tool with an API has examples.",
      "items": {
       "type": "object",
       "required": [
        "input"
       ],
       "additionalProperties": false,
       "properties": {
        "title": {
         "type": "string",
         "minLength": 1,
         "maxLength": 120,
         "description": "What the example shows, for people."
        },
        "input": {
         "type": "object",
         "description": "A run request's input (tools.run-request@1 input), valid against the tool's input schema."
        },
        "files": {
         "type": "array",
         "maxItems": 100,
         "description": "The files the sample run takes (uploaded parts or files references), in order: what each one is, and where to download a sample.",
         "items": {
          "type": "object",
          "required": [
           "mime"
          ],
          "additionalProperties": false,
          "properties": {
           "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "A file name for the sample (photo.jpg)."
           },
           "mime": {
            "type": "string",
            "pattern": "^[a-z]+/[a-z0-9][a-z0-9.+-]*$",
            "description": "Its media type, one that files.accept allows."
           },
           "url": {
            "type": "string",
            "format": "uri",
            "pattern": "^https://",
            "description": "A sample file to download."
           }
          }
         }
        }
       }
      }
     },
     "output": {
      "type": "object",
      "required": [
       "kind"
      ],
      "additionalProperties": false,
      "properties": {
       "kind": {
        "enum": [
         "json",
         "file",
         "files",
         "text"
        ],
        "description": "json: result.data; text: result.text; file or files: result.files (job result files)."
       },
       "schema": {
        "description": "JSON Schema of result.data, whatever the execution: for a job tool too, where it describes the data of the run's result and of its job's result (tools.job@1 result.data), which are the same object. Required when kind is json. Embedded, or { $ref } to $defs/output of GET /api/v1/tools/:id/schema.",
        "anyOf": [
         {
          "type": "object",
          "required": [
           "$ref"
          ],
          "maxProperties": 1,
          "properties": {},
          "patternProperties": {
           "^\\$ref$": {
            "type": "string",
            "format": "uri"
           }
          }
         },
         {
          "type": "object",
          "required": [
           "type"
          ],
          "properties": {
           "type": {
            "const": "object"
           }
          }
         }
        ]
       },
       "mime": {
        "type": "array",
        "minItems": 1,
        "uniqueItems": true,
        "items": {
         "type": "string",
         "pattern": "^[a-z]+/([a-z0-9][a-z0-9.+-]*|\\*)$"
        },
        "description": "Media types the result files can have (kind file or files)."
       }
      },
      "if": {
       "properties": {
        "kind": {
         "const": "json"
        }
       },
       "required": [
        "kind"
       ]
      },
      "then": {
       "required": [
        "schema"
       ]
      }
     },
     "limits": {
      "type": "object",
      "required": [
       "timeoutMs"
      ],
      "additionalProperties": false,
      "properties": {
       "timeoutMs": {
        "type": "integer",
        "minimum": 1,
        "maximum": 3600000,
        "description": "A run (or its job) longer than this fails with tools.job.timeout or 504."
       },
       "maxDurationSec": {
        "type": "integer",
        "minimum": 1,
        "description": "Longest audio or video input."
       },
       "maxPixels": {
        "type": "integer",
        "minimum": 1,
        "description": "Largest image input (width × height)."
       },
       "maxPages": {
        "type": "integer",
        "minimum": 1,
        "description": "Most PDF pages. A longer document fails with 413 tools.pdf.too_many_pages."
       },
       "maxInputBytes": {
        "type": "integer",
        "minimum": 1,
        "description": "Largest input as JSON (text to transform, lists of hosts…)."
       },
       "perTargetPerMinute": {
        "type": "integer",
        "minimum": 1,
        "description": "Egress tools: most runs per minute against one target host or address, across all callers."
       }
      }
     },
     "auth": {
      "type": "object",
      "required": [
       "anonymous",
       "capability"
      ],
      "additionalProperties": false,
      "description": "Caller tiers: anonymous < session < user < app/service.",
      "properties": {
       "anonymous": {
        "type": "boolean",
        "description": "true: a caller with no token and no browser session may run it (keyed by IP, IPv6 by /64). false: a browser session (the ov_tools_jobs cookie), a signed-in person or a token is needed."
       },
       "capability": {
        "enum": [
         "tools.tool.run",
         "tools.net.probe"
        ],
        "description": "What an app or service token must hold. tools.tool.run is public. tools.net.probe (partner) covers network probes: only principals holding it run these through the API; people use their pages, which have a per-target throttle."
       }
      }
     },
     "quotaClass": {
      "type": "string",
      "pattern": "^tools-[a-z0-9]+(-[a-z0-9]+)*$",
      "description": "The quota bucket a run counts against, with allowances per caller tier. Names describe the work, never a tier or a price (tools-run, tools-job, tools-probe, tools-fetch…), so a paid tier later adds allowances, not names. A caller whose allowance is spent gets 429 tools.quota.exceeded with Retry-After."
     },
     "cost": {
      "type": "integer",
      "minimum": 1,
      "maximum": 1000,
      "description": "Relative weight of one run within its quota class (1 = a cheap lookup or transform). Quotas count weight, not requests."
     },
     "egress": {
      "type": "boolean",
      "description": "The server fetches a host or URL the caller chose (DNS, WHOIS, headers, Open Graph, ports…), always through the SSRF guard."
     },
     "hosts": {
      "type": "array",
      "uniqueItems": true,
      "maxItems": 50,
      "items": {
       "type": "string",
       "pattern": "^(?=.{1,253}$)([a-z0-9]([a-z0-9-]{0,61}[a-z0-9])?\\.)+[a-z]{2,63}$"
      },
      "description": "The tool's public hostnames, canonical first (png.openvibe.tools, a custom domain…); empty for a tool that lives on another service."
     },
     "docs": {
      "type": "string",
      "format": "uri",
      "pattern": "^https://",
      "description": "Where a person reads about the tool."
     }
    },
    "if": {
     "required": [
      "api"
     ]
    },
    "then": {
     "$comment": "The RULES in the description, as one conditional so generated types stay plain (every descriptor has api).",
     "allOf": [
      {
       "if": {
        "properties": {
         "api": {
          "const": false
         }
        },
        "required": [
         "api"
        ]
       },
       "then": {
        "properties": {
         "run": {
          "type": "null"
         },
         "examples": false
        }
       }
      },
      {
       "if": {
        "properties": {
         "api": {
          "const": true
         }
        },
        "required": [
         "api"
        ]
       },
       "then": {
        "properties": {
         "run": {
          "type": "object"
         },
         "input": {
          "type": "object"
         }
        }
       }
      },
      {
       "if": {
        "properties": {
         "api": {
          "const": true
         },
         "execution": {
          "const": "job"
         }
        },
        "required": [
         "api",
         "execution"
        ]
       },
       "then": {
        "properties": {
         "run": {
          "type": "object",
          "properties": {
           "job": {
            "type": "object"
           }
          }
         }
        }
       }
      },
      {
       "if": {
        "properties": {
         "execution": {
          "enum": [
           "client",
           "sync"
          ]
         }
        },
        "required": [
         "execution"
        ]
       },
       "then": {
        "properties": {
         "run": {
          "type": [
           "object",
           "null"
          ],
          "properties": {
           "job": {
            "type": "null"
           }
          }
         }
        }
       }
      },
      {
       "if": {
        "properties": {
         "api": {
          "const": true
         },
         "output": {
          "type": "object",
          "properties": {
           "kind": {
            "enum": [
             "file",
             "files"
            ]
           }
          },
          "required": [
           "kind"
          ]
         }
        },
        "required": [
         "api",
         "output"
        ]
       },
       "then": {
        "properties": {
         "execution": {
          "const": "job"
         }
        }
       }
      },
      {
       "if": {
        "properties": {
         "auth": {
          "type": "object",
          "properties": {
           "capability": {
            "const": "tools.net.probe"
           }
          },
          "required": [
           "capability"
          ]
         }
        },
        "required": [
         "auth"
        ]
       },
       "then": {
        "properties": {
         "egress": {
          "const": true
         },
         "auth": {
          "type": "object",
          "properties": {
           "anonymous": {
            "const": false
           }
          }
         }
        }
       }
      },
      {
       "if": {
        "properties": {
         "egress": {
          "const": true
         },
         "auth": {
          "type": "object",
          "properties": {
           "anonymous": {
            "const": true
           }
          },
          "required": [
           "anonymous"
          ]
         }
        },
        "required": [
         "egress",
         "auth"
        ]
       },
       "then": {
        "properties": {
         "limits": {
          "type": "object",
          "required": [
           "perTargetPerMinute"
          ]
         }
        }
       }
      },
      {
       "if": {
        "properties": {
         "execution": {
          "const": "client"
         }
        },
        "required": [
         "execution"
        ]
       },
       "then": {
        "properties": {
         "egress": {
          "const": false
         }
        }
       }
      },
      {
       "if": {
        "properties": {
         "status": {
          "const": "unavailable"
         }
        },
        "required": [
         "status"
        ]
       },
       "then": {
        "required": [
         "statusReason"
        ]
       }
      }
     ]
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
