{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Trade API",
  "version": "0.64.0",
  "description": "Routes of OpenVibe.Trade as the OpenVibe contracts describe them (openvibe-contracts 0.64.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.trade"
  }
 ],
 "paths": {
  "/api/v1/alerts": {
   "get": {
    "operationId": "get_api_v1_alerts",
    "summary": "Read the alert rules and recent deliveries of the person in X-OV-Subject.",
    "description": "**trade.alert.read** (first-party): Read the alert rules and recent deliveries of the person in X-OV-Subject.",
    "tags": [
     "trade.alert"
    ],
    "x-openvibe-capabilities": [
     "trade.alert.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-read",
    "security": [
     {
      "openvibeToken": [
       "trade.alert.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.alert-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_alerts",
    "summary": "Create an alert rule for the person in X-OV-Subject: threshold (a crossing of a metric in a unit), filing_type or new_document.",
    "description": "**trade.alert.create** (first-party): Create an alert rule for the person in X-OV-Subject: threshold (a crossing of a metric in a unit), filing_type or new_document. Deliveries are unique per (rule, triggering observation or document) and are sent as trade.alert.triggered (visibility subject); no email.",
    "tags": [
     "trade.alert"
    ],
    "x-openvibe-capabilities": [
     "trade.alert.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.alert.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.alert-rule-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.alert-rule-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/alerts/{id}": {
   "delete": {
    "operationId": "delete_api_v1_alerts_id",
    "summary": "Delete an alert rule of the person in X-OV-Subject.",
    "description": "**trade.alert.delete** (first-party): Delete an alert rule of the person in X-OV-Subject.",
    "tags": [
     "trade.alert"
    ],
    "x-openvibe-capabilities": [
     "trade.alert.delete"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.alert.delete"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.deleted-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/alerts/deliveries": {
   "get": {
    "operationId": "get_api_v1_alerts_deliveries",
    "summary": "Read the alert rules and recent deliveries of the person in X-OV-Subject.",
    "description": "**trade.alert.read** (first-party): Read the alert rules and recent deliveries of the person in X-OV-Subject.",
    "tags": [
     "trade.alert"
    ],
    "x-openvibe-capabilities": [
     "trade.alert.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-read",
    "security": [
     {
      "openvibeToken": [
       "trade.alert.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.alert-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/instruments": {
   "post": {
    "operationId": "post_api_v1_instruments",
    "summary": "Create and edit instruments (symbol, name, kind, exchange, CIK, currency, status) and add ticker, CIK or name aliases.",
    "description": "**trade.instrument.manage** (first-party): Create and edit instruments (symbol, name, kind, exchange, CIK, currency, status) and add ticker, CIK or name aliases. People must also be on the Trade editor list.",
    "tags": [
     "trade.instrument"
    ],
    "x-openvibe-capabilities": [
     "trade.instrument.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.instrument.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.instrument-manage-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.instrument-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/instruments/{symbol}": {
   "patch": {
    "operationId": "patch_api_v1_instruments_symbol",
    "summary": "Create and edit instruments (symbol, name, kind, exchange, CIK, currency, status) and add ticker, CIK or name aliases.",
    "description": "**trade.instrument.manage** (first-party): Create and edit instruments (symbol, name, kind, exchange, CIK, currency, status) and add ticker, CIK or name aliases. People must also be on the Trade editor list.",
    "tags": [
     "trade.instrument"
    ],
    "x-openvibe-capabilities": [
     "trade.instrument.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.instrument.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.instrument-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "symbol",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.instrument-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/instruments/{symbol}/aliases": {
   "post": {
    "operationId": "post_api_v1_instruments_symbol_aliases",
    "summary": "Create and edit instruments (symbol, name, kind, exchange, CIK, currency, status) and add ticker, CIK or name aliases.",
    "description": "**trade.instrument.manage** (first-party): Create and edit instruments (symbol, name, kind, exchange, CIK, currency, status) and add ticker, CIK or name aliases. People must also be on the Trade editor list.",
    "tags": [
     "trade.instrument"
    ],
    "x-openvibe-capabilities": [
     "trade.instrument.manage"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.instrument.manage"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.instrument-manage-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "symbol",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.instrument-manage-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/instruments/{symbol}/context": {
   "get": {
    "operationId": "get_api_v1_instruments_symbol_context",
    "summary": "Read an instrument's published context with its citations and disclosure; with ?all=1 the drafts awaiting review; and the numbered-source input for OpenVibe.AI's trade.summarize_market_context workflo",
    "description": "**trade.context.read** (first-party): Read an instrument's published context with its citations and disclosure; with ?all=1 the drafts awaiting review; and the numbered-source input for OpenVibe.AI's trade.summarize_market_context workflow.",
    "tags": [
     "trade.context"
    ],
    "x-openvibe-capabilities": [
     "trade.context.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-read",
    "security": [
     {
      "openvibeToken": [
       "trade.context.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "symbol",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.context-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_instruments_symbol_context",
    "summary": "Deliver a context revision.",
    "description": "**trade.context.propose** (first-party): Deliver a context revision. With X-OV-Origin: ai it is OpenVibe.AI output (workflow trade.summarize_market_context and its run id required): authorship ai, never attributed to a person, stored as a draft that cannot be published before a person on the editor list approves it. Text that reads as a recommendation to trade is refused.",
    "tags": [
     "trade.context"
    ],
    "x-openvibe-capabilities": [
     "trade.context.propose"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.context.propose"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.context-proposal.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "symbol",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.context-proposal-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/instruments/{symbol}/context/input": {
   "get": {
    "operationId": "get_api_v1_instruments_symbol_context_input",
    "summary": "Read an instrument's published context with its citations and disclosure; with ?all=1 the drafts awaiting review; and the numbered-source input for OpenVibe.AI's trade.summarize_market_context workflo",
    "description": "**trade.context.read** (first-party): Read an instrument's published context with its citations and disclosure; with ?all=1 the drafts awaiting review; and the numbered-source input for OpenVibe.AI's trade.summarize_market_context workflow.",
    "tags": [
     "trade.context"
    ],
    "x-openvibe-capabilities": [
     "trade.context.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-read",
    "security": [
     {
      "openvibeToken": [
       "trade.context.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "symbol",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.context-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/instruments/resolve": {
   "get": {
    "operationId": "get_api_v1_instruments_resolve",
    "summary": "Resolve a ticker, SEC CIK or exact company name to an instrument, deterministically (CIK, then ticker, then exact normalised name; several name matches are \"ambiguous\" and none is chosen).",
    "description": "**trade.instrument.resolve** (first-party): Resolve a ticker, SEC CIK or exact company name to an instrument, deterministically (CIK, then ticker, then exact normalised name; several name matches are \"ambiguous\" and none is chosen). Browsers and anonymous readers need no capability.",
    "tags": [
     "trade.instrument"
    ],
    "x-openvibe-capabilities": [
     "trade.instrument.resolve"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-read",
    "security": [
     {
      "openvibeToken": [
       "trade.instrument.resolve"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.resolve-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/observations": {
   "post": {
    "operationId": "post_api_v1_observations",
    "summary": "Record a market observation a source stated: value exactly as stated, unit, currency, observed_at (required, never inferred), source key and reference, retrieved_at (required).",
    "description": "**trade.observation.write** (first-party): Record a market observation a source stated: value exactly as stated, unit, currency, observed_at (required, never inferred), source key and reference, retrieved_at (required). Idempotent per (source_key, source_ref); a different value under the same reference is 409. Services only.",
    "tags": [
     "trade.observation"
    ],
    "x-openvibe-capabilities": [
     "trade.observation.write"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.observation.write"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.observation-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.observation-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/watchlists": {
   "get": {
    "operationId": "get_api_v1_watchlists",
    "summary": "Read the watchlists of the person in X-OV-Subject (never anyone else's: another person's watchlist is 404).",
    "description": "**trade.watchlist.read** (first-party): Read the watchlists of the person in X-OV-Subject (never anyone else's: another person's watchlist is 404).",
    "tags": [
     "trade.watchlist"
    ],
    "x-openvibe-capabilities": [
     "trade.watchlist.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-read",
    "security": [
     {
      "openvibeToken": [
       "trade.watchlist.read"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.watchlist-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_watchlists",
    "summary": "Create a private watchlist for the person in X-OV-Subject.",
    "description": "**trade.watchlist.create** (first-party): Create a private watchlist for the person in X-OV-Subject.",
    "tags": [
     "trade.watchlist"
    ],
    "x-openvibe-capabilities": [
     "trade.watchlist.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.watchlist.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.watchlist-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.watchlist-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/watchlists/{id}": {
   "delete": {
    "operationId": "delete_api_v1_watchlists_id",
    "summary": "Delete a watchlist of the person in X-OV-Subject.",
    "description": "**trade.watchlist.delete** (first-party): Delete a watchlist of the person in X-OV-Subject.",
    "tags": [
     "trade.watchlist"
    ],
    "x-openvibe-capabilities": [
     "trade.watchlist.delete"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.watchlist.delete"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.deleted-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_watchlists_id",
    "summary": "Read the watchlists of the person in X-OV-Subject (never anyone else's: another person's watchlist is 404).",
    "description": "**trade.watchlist.read** (first-party): Read the watchlists of the person in X-OV-Subject (never anyone else's: another person's watchlist is 404).",
    "tags": [
     "trade.watchlist"
    ],
    "x-openvibe-capabilities": [
     "trade.watchlist.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-read",
    "security": [
     {
      "openvibeToken": [
       "trade.watchlist.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.watchlist-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_watchlists_id",
    "summary": "Rename a watchlist of the person in X-OV-Subject, or add and remove instruments on it.",
    "description": "**trade.watchlist.update** (first-party): Rename a watchlist of the person in X-OV-Subject, or add and remove instruments on it.",
    "tags": [
     "trade.watchlist"
    ],
    "x-openvibe-capabilities": [
     "trade.watchlist.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.watchlist.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.watchlist-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.watchlist-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/watchlists/{id}/items/{symbol}": {
   "delete": {
    "operationId": "delete_api_v1_watchlists_id_items_symbol",
    "summary": "Rename a watchlist of the person in X-OV-Subject, or add and remove instruments on it.",
    "description": "**trade.watchlist.update** (first-party): Rename a watchlist of the person in X-OV-Subject, or add and remove instruments on it.",
    "tags": [
     "trade.watchlist"
    ],
    "x-openvibe-capabilities": [
     "trade.watchlist.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.watchlist.update"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/trade.watchlist-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "symbol",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.watchlist-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "put": {
    "operationId": "put_api_v1_watchlists_id_items_symbol",
    "summary": "Rename a watchlist of the person in X-OV-Subject, or add and remove instruments on it.",
    "description": "**trade.watchlist.update** (first-party): Rename a watchlist of the person in X-OV-Subject, or add and remove instruments on it.",
    "tags": [
     "trade.watchlist"
    ],
    "x-openvibe-capabilities": [
     "trade.watchlist.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "trade-write",
    "security": [
     {
      "openvibeToken": [
       "trade.watchlist.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/trade.watchlist-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "symbol",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/trade.watchlist-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "trade.alert-read-result.v1": {
    "title": "TradeAlertReadResult",
    "description": "trade.alert-read-result@1: answers of trade.alert.read on OpenVibe.Trade (the acting person's): GET /api/v1/alerts → { rules }; GET /api/v1/alerts/deliveries?limit= → { deliveries } (newest first, at most 200: which rule fired on what, and the event sent).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "rules"
      ],
      "properties": {
       "rules": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/trade.alert-rule.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "deliveries"
      ],
      "properties": {
       "deliveries": {
        "type": "array",
        "maxItems": 200,
        "items": {
         "type": "object",
         "required": [
          "id",
          "rule_id",
          "trigger"
         ],
         "properties": {
          "id": {
           "type": [
            "string",
            "integer"
           ]
          },
          "rule_id": {
           "type": "string"
          },
          "rule_kind": {
           "type": "string"
          },
          "trigger": {
           "type": "object",
           "properties": {
            "kind": {
             "type": "string"
            },
            "id": {
             "type": "string"
            }
           }
          },
          "event_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "created_at": {
           "type": [
            "string",
            "null"
           ],
           "format": "date-time"
          }
         }
        }
       }
      }
     }
    ]
   },
   "trade.alert-rule-request.v1": {
    "title": "TradeAlertRuleRequest",
    "description": "trade.alert-rule-request@1: the body of POST /api/v1/alerts on OpenVibe.Trade (trade.alert.create; the acting person): an active instrument by symbol and the rule kind. threshold needs metric, operator (above or below), threshold (a finite decimal) and unit, and may name a currency; filing_type needs 1-10 form_types (a list or comma-separated, e.g. 10-K, 8-K); new_document needs nothing more. There is a per-person limit (429 alert.limit).",
    "type": "object",
    "required": [
     "symbol",
     "kind"
    ],
    "properties": {
     "symbol": {
      "type": "string"
     },
     "kind": {
      "enum": [
       "threshold",
       "filing_type",
       "new_document"
      ]
     },
     "metric": {
      "type": "string",
      "maxLength": 80
     },
     "operator": {
      "enum": [
       "above",
       "below"
      ]
     },
     "threshold": {
      "type": [
       "string",
       "number"
      ]
     },
     "unit": {
      "type": "string",
      "maxLength": 20
     },
     "currency": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^\\s*[A-Za-z]{3}\\s*$|^$",
      "description": "ISO 4217."
     },
     "form_types": {
      "type": [
       "array",
       "string"
      ],
      "items": {
       "type": "string"
      }
     }
    },
    "allOf": [
     {
      "if": {
       "properties": {
        "kind": {
         "const": "threshold"
        }
       }
      },
      "then": {
       "required": [
        "metric",
        "operator",
        "threshold",
        "unit"
       ]
      }
     },
     {
      "if": {
       "properties": {
        "kind": {
         "const": "filing_type"
        }
       }
      },
      "then": {
       "required": [
        "form_types"
       ]
      }
     }
    ]
   },
   "trade.alert-rule-result.v1": {
    "title": "TradeAlertRuleResult",
    "description": "trade.alert-rule-result@1: the answer of POST /api/v1/alerts on OpenVibe.Trade: 201 { rule }.",
    "type": "object",
    "required": [
     "rule"
    ],
    "properties": {
     "rule": {
      "$ref": "#/components/schemas/trade.alert-rule.v1"
     }
    }
   },
   "trade.alert-rule.v1": {
    "title": "TradeAlertRule",
    "description": "trade.alert-rule@1: one alert rule of a person on OpenVibe.Trade (server/domain/alerts.js ruleDto): a threshold on a metric, filings of some form types, or any new document for an instrument. Alerts inform; they never trade.",
    "type": "object",
    "required": [
     "id",
     "kind",
     "status",
     "instrument"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "kind": {
      "enum": [
       "threshold",
       "filing_type",
       "new_document"
      ]
     },
     "status": {
      "type": "string"
     },
     "instrument": {
      "type": "object",
      "required": [
       "id"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "symbol": {
        "type": "string"
       },
       "name": {
        "type": "string"
       }
      }
     },
     "metric": {
      "type": [
       "string",
       "null"
      ]
     },
     "operator": {
      "enum": [
       "above",
       "below",
       null
      ]
     },
     "threshold": {
      "type": [
       "string",
       "null"
      ]
     },
     "unit": {
      "type": [
       "string",
       "null"
      ]
     },
     "currency": {
      "type": [
       "string",
       "null"
      ]
     },
     "form_types": {
      "type": [
       "array",
       "null"
      ],
      "items": {
       "type": "string"
      }
     },
     "armed": {
      "type": [
       "boolean",
       "null"
      ]
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     }
    }
   },
   "trade.context-proposal-result.v1": {
    "title": "TradeContextProposalResult",
    "description": "trade.context-proposal-result@1: the answer of POST /api/v1/instruments/:symbol/context on OpenVibe.Trade: 201 { revision, published } (published only for an editor's revision sent with publish).",
    "type": "object",
    "required": [
     "revision",
     "published"
    ],
    "properties": {
     "revision": {
      "$ref": "#/components/schemas/trade.context-revision.v1"
     },
     "published": {
      "type": "boolean"
     }
    }
   },
   "trade.context-proposal.v1": {
    "title": "TradeContextProposal",
    "description": "trade.context-proposal@1: the body of POST /api/v1/instruments/:symbol/context on OpenVibe.Trade (trade.context.propose). An editor: { body, cites?, expected_revision?, publish?, message? } (Markdown up to 20000 characters). OpenVibe.AI (X-OV-Origin: ai): { workflow: { id: trade.summarize_market_context, run_id, version?, model? }, input_sources: [{ source_type, source_id }], output: { summary, observations?, gaps?, citations? }, stub_provider? } — always a draft that needs a person's review. Context that recommends buying, selling or holding, or gives price targets, is refused (422 context.advice_refused).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "body"
      ],
      "properties": {
       "body": {
        "type": "string",
        "minLength": 1,
        "maxLength": 20000
       },
       "cites": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "kind": {
           "enum": [
            "observation",
            "document"
           ]
          },
          "id": {
           "type": "string"
          }
         }
        }
       },
       "expected_revision": {
        "type": [
         "integer",
         "null"
        ]
       },
       "publish": {
        "type": [
         "boolean",
         "string"
        ]
       },
       "message": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "workflow",
       "output"
      ],
      "properties": {
       "workflow": {
        "type": "object",
        "required": [
         "id"
        ],
        "anyOf": [
         {
          "required": [
           "run_id"
          ]
         },
         {
          "required": [
           "runId"
          ]
         }
        ],
        "properties": {
         "id": {
          "const": "trade.summarize_market_context"
         },
         "run_id": {
          "type": "string"
         },
         "runId": {
          "type": "string"
         },
         "version": {},
         "model": {}
        }
       },
       "input_sources": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "source_type",
          "source_id"
         ],
         "properties": {
          "source_type": {
           "enum": [
            "trade.document",
            "trade.observation"
           ]
          },
          "source_id": {
           "type": "string"
          }
         }
        }
       },
       "output": {
        "type": "object",
        "required": [
         "summary"
        ],
        "properties": {
         "summary": {
          "type": "string",
          "minLength": 1
         },
         "citations": {
          "type": "array",
          "items": {
           "type": "integer",
           "minimum": 0
          }
         },
         "observations": {
          "type": "array",
          "maxItems": 30,
          "items": {
           "type": "object",
           "properties": {
            "text": {
             "type": "string"
            },
            "observed_at": {
             "type": "string"
            },
            "citations": {
             "type": "array",
             "items": {
              "type": "integer"
             }
            }
           }
          }
         },
         "gaps": {
          "type": "array",
          "maxItems": 20,
          "items": {
           "type": "string"
          }
         }
        }
       },
       "stub_provider": {
        "type": "boolean"
       }
      }
     }
    ]
   },
   "trade.context-read-result.v1": {
    "title": "TradeContextReadResult",
    "description": "trade.context-read-result@1: answers of trade.context.read on OpenVibe.Trade. GET /api/v1/instruments/:symbol/context → { instrument, published, disclaimer } (published is the published context revision or null; ?all=1 adds pending drafts for editors and services); GET …/context/input → { workflow, input, deliver_to } (what OpenVibe.AI's trade.summarize_market_context workflow takes: the instrument, numbered sources with freshness, and where to POST the result).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "instrument",
       "published",
       "disclaimer"
      ],
      "properties": {
       "instrument": {
        "$ref": "#/components/schemas/trade.instrument.v1"
       },
       "published": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/trade.context-revision.v1"
         },
         {
          "type": "null"
         }
        ]
       },
       "disclaimer": {
        "type": "string",
        "description": "Information only — not investment advice; no trading here."
       },
       "pending": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/trade.context-revision.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "workflow",
       "input",
       "deliver_to"
      ],
      "properties": {
       "workflow": {
        "type": "string"
       },
       "input": {
        "type": "object",
        "required": [
         "instrument",
         "sources"
        ],
        "properties": {
         "instrument": {
          "type": "object"
         },
         "stale_after_hours": {
          "type": "integer"
         },
         "sources": {
          "type": "array",
          "items": {
           "type": "object",
           "required": [
            "source_type",
            "source_id"
           ],
           "properties": {
            "source_type": {
             "enum": [
              "trade.observation",
              "trade.document"
             ]
            },
            "source_id": {
             "type": "string"
            }
           }
          }
         }
        }
       },
       "deliver_to": {
        "type": "object",
        "properties": {
         "method": {
          "const": "POST"
         },
         "path": {
          "type": "string"
         },
         "headers": {
          "type": "object"
         }
        }
       }
      }
     }
    ]
   },
   "trade.context-revision.v1": {
    "title": "TradeContextRevision",
    "description": "trade.context-revision@1: one revision of an instrument's market context on OpenVibe.Trade (server/domain/context.js view): the Markdown, HTML and text, what it cites (observations and documents; a citation whose source is gone is marked missing), its authorship and disclosure, and whether it still needs a person's review (AI drafts do).",
    "type": "object",
    "required": [
     "revision",
     "published",
     "body_markdown",
     "cites",
     "needs_review"
    ],
    "properties": {
     "revision": {
      "type": "integer",
      "minimum": 1
     },
     "published": {
      "type": "boolean"
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "written_at": {
      "type": [
       "string",
       "integer",
       "null"
      ]
     },
     "as_of": {},
     "origin": {
      "enum": [
       "editor",
       "ai",
       null
      ]
     },
     "body_markdown": {
      "type": "string"
     },
     "body_html": {
      "type": "string"
     },
     "text": {
      "type": "string"
     },
     "cites": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "kind",
        "id"
       ],
       "properties": {
        "kind": {
         "enum": [
          "observation",
          "document"
         ]
        },
        "id": {
         "type": "string"
        },
        "observation": {
         "$ref": "#/components/schemas/trade.observation.v1"
        },
        "document": {
         "type": "object"
        },
        "missing": {
         "const": true
        }
       }
      }
     },
     "authorship": {},
     "disclosure": {},
     "review": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "decision": {
        "type": "string"
       },
       "reviewed_at": {},
       "reviewer": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     "needs_review": {
      "type": "boolean"
     }
    }
   },
   "trade.deleted-result.v1": {
    "title": "TradeDeletedResult",
    "description": "trade.deleted-result@1: the answer of DELETE /api/v1/alerts/:id (trade.alert.delete) and DELETE /api/v1/watchlists/:id (trade.watchlist.delete) on OpenVibe.Trade: { deleted }. Someone else's rule or watchlist is 404.",
    "type": "object",
    "required": [
     "deleted"
    ],
    "properties": {
     "deleted": {
      "type": "boolean"
     }
    }
   },
   "trade.instrument-manage-request.v1": {
    "title": "TradeInstrumentManageRequest",
    "description": "trade.instrument-manage-request@1: bodies of trade.instrument.manage on OpenVibe.Trade (editors, or a service with the capability). POST /api/v1/instruments: { symbol, name, kind?, exchange?, cik?, currency? } (kind defaults to equity; aliases for the symbol, CIK and name are added). PATCH /api/v1/instruments/:symbol: any of name, kind, exchange, cik, currency, status (active or archived). POST /api/v1/instruments/:symbol/aliases: { kind: ticker | cik | name, value }. Text fields must be strings; a symbol or CIK another instrument holds is 409.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "symbol",
       "name"
      ],
      "properties": {
       "symbol": {
        "type": "string",
        "pattern": "^\\s*[A-Za-z0-9][A-Za-z0-9.-]{0,15}\\s*$",
        "description": "1-16 characters of A-Z, 0-9, . or - (upper-cased)."
       },
       "name": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
       },
       "kind": {
        "enum": [
         "equity",
         "fund",
         "index",
         "currency",
         "commodity",
         "crypto",
         "other",
         null,
         ""
        ]
       },
       "exchange": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 40
       },
       "cik": {
        "type": [
         "string",
         "integer",
         "null"
        ],
        "description": "1-10 digits (zero-padded to 10)."
       },
       "currency": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^\\s*[A-Za-z]{3}\\s*$|^$",
        "description": "ISO 4217."
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "name": {
        "type": "string",
        "maxLength": 200
       },
       "kind": {
        "enum": [
         "equity",
         "fund",
         "index",
         "currency",
         "commodity",
         "crypto",
         "other"
        ]
       },
       "exchange": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 40
       },
       "cik": {
        "type": [
         "string",
         "integer",
         "null"
        ]
       },
       "currency": {
        "type": [
         "string",
         "null"
        ],
        "pattern": "^\\s*[A-Za-z]{3}\\s*$|^$",
        "description": "ISO 4217."
       },
       "status": {
        "enum": [
         "active",
         "archived"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "kind",
       "value"
      ],
      "properties": {
       "kind": {
        "enum": [
         "ticker",
         "cik",
         "name"
        ]
       },
       "value": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
       }
      }
     }
    ]
   },
   "trade.instrument-manage-result.v1": {
    "title": "TradeInstrumentManageResult",
    "description": "trade.instrument-manage-result@1: answers of trade.instrument.manage on OpenVibe.Trade: POST /api/v1/instruments → 201 { instrument, aliases }; PATCH → { instrument }; POST …/aliases → 201 { alias, aliases } (alias { kind, value, normalized }).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "instrument"
      ],
      "properties": {
       "instrument": {
        "$ref": "#/components/schemas/trade.instrument.v1"
       },
       "aliases": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "kind": {
           "type": "string"
          },
          "value": {
           "type": "string"
          },
          "normalized": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "alias",
       "aliases"
      ],
      "properties": {
       "alias": {
        "type": "object",
        "required": [
         "kind",
         "value",
         "normalized"
        ],
        "properties": {
         "kind": {
          "enum": [
           "ticker",
           "cik",
           "name"
          ]
         },
         "value": {
          "type": "string"
         },
         "normalized": {
          "type": "string"
         }
        }
       },
       "aliases": {
        "type": "array"
       }
      }
     }
    ]
   },
   "trade.instrument.v1": {
    "title": "TradeInstrument",
    "description": "trade.instrument@1: one instrument as OpenVibe.Trade's API shows it (server/domain/reading.js instrumentDto).",
    "type": "object",
    "required": [
     "id",
     "symbol",
     "name",
     "kind",
     "status",
     "url"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "symbol": {
      "type": "string"
     },
     "name": {
      "type": "string"
     },
     "kind": {
      "enum": [
       "equity",
       "fund",
       "index",
       "currency",
       "commodity",
       "crypto",
       "other"
      ]
     },
     "exchange": {
      "type": [
       "string",
       "null"
      ]
     },
     "cik": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^[0-9]{10}$"
     },
     "currency": {
      "type": [
       "string",
       "null"
      ]
     },
     "status": {
      "enum": [
       "active",
       "archived"
      ]
     },
     "url": {
      "type": "string"
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     }
    }
   },
   "trade.observation-request.v1": {
    "title": "TradeObservationRequest",
    "description": "trade.observation-request@1: the body of POST /api/v1/observations on OpenVibe.Trade (trade.observation.write; services only): one value a source stated for an instrument (symbol or instrument_id). value is the finite decimal as stated; observed_at and retrieved_at are date-times with a zone and not in the future; source_key names the OpenVibe.Sources source and source_ref the statement within it. The same source reference with the same value is answered as it was (200); a different value under the same reference is 409 observation.conflict (a correction needs its own source_ref).",
    "type": "object",
    "required": [
     "metric",
     "value",
     "unit",
     "observed_at",
     "retrieved_at",
     "source_key",
     "source_ref"
    ],
    "anyOf": [
     {
      "required": [
       "symbol"
      ]
     },
     {
      "required": [
       "instrument_id"
      ]
     }
    ],
    "properties": {
     "symbol": {
      "type": "string"
     },
     "instrument_id": {
      "type": "string"
     },
     "metric": {
      "type": "string",
      "pattern": "^\\s*[A-Za-z][A-Za-z0-9_.:-]{0,79}\\s*$"
     },
     "value": {
      "type": [
       "string",
       "number"
      ]
     },
     "unit": {
      "type": "string",
      "pattern": "^\\s*[A-Za-z][A-Za-z0-9/%._-]{0,19}\\s*$"
     },
     "currency": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^\\s*([A-Z]{3})?\\s*$"
     },
     "period": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 40
     },
     "observed_at": {
      "type": "string"
     },
     "retrieved_at": {
      "type": "string"
     },
     "source_key": {
      "type": "string",
      "pattern": "^\\s*[a-z0-9][a-z0-9-]{1,63}\\s*$"
     },
     "source_ref": {
      "type": "string",
      "minLength": 1,
      "maxLength": 300
     },
     "source_item_id": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^(itm_[0-9A-HJKMNP-TV-Z]{26})?$"
     },
     "source_url": {
      "type": [
       "string",
       "null"
      ],
      "pattern": "^https?://"
     },
     "max_age_sec": {
      "type": [
       "integer",
       "string",
       "null"
      ],
      "minimum": 60,
      "maximum": 315360000
     }
    }
   },
   "trade.observation-result.v1": {
    "title": "TradeObservationResult",
    "description": "trade.observation-result@1: the answer of POST /api/v1/observations on OpenVibe.Trade: { observation, created } — 201 when recorded (trade.observation.created is announced, alerts are checked), 200 for a repeat of the same statement.",
    "type": "object",
    "required": [
     "observation",
     "created"
    ],
    "properties": {
     "observation": {
      "$ref": "#/components/schemas/trade.observation.v1"
     },
     "created": {
      "type": "boolean"
     }
    }
   },
   "trade.observation.v1": {
    "title": "TradeObservation",
    "description": "trade.observation@1: one market observation on OpenVibe.Trade (server/domain/observations.js dto): a value a source stated (the decimal exactly as stated), when it was true and when it was fetched, where from, and (in reads) whether it is stale by its source's freshness or its own max age. Rows are immutable.",
    "type": "object",
    "required": [
     "id",
     "metric",
     "value",
     "unit",
     "observed_at",
     "retrieved_at",
     "recorded_at",
     "source"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "metric": {
      "type": "string"
     },
     "value": {
      "type": "string",
      "description": "The decimal as the source stated it."
     },
     "unit": {
      "type": "string"
     },
     "currency": {
      "type": [
       "string",
       "null"
      ]
     },
     "period": {
      "type": [
       "string",
       "null"
      ]
     },
     "observed_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "retrieved_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "recorded_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "max_age_sec": {
      "type": [
       "integer",
       "null"
      ]
     },
     "source": {
      "type": "object",
      "required": [
       "key"
      ],
      "properties": {
       "key": {
        "type": "string"
       },
       "item_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "url": {
        "type": [
         "string",
         "null"
        ]
       },
       "ref": {
        "type": "string"
       }
      }
     },
     "freshness": {
      "type": "object",
      "properties": {
       "stale": {
        "type": "boolean"
       },
       "stale_since": {
        "type": [
         "string",
         "null"
        ],
        "format": "date-time"
       },
       "reason": {
        "enum": [
         "value_older_than_max_age",
         "source_unknown",
         "source_stale",
         null
        ]
       },
       "source_status": {},
       "source_last_success_at": {}
      }
     }
    }
   },
   "trade.resolve-result.v1": {
    "title": "TradeResolveResult",
    "description": "trade.resolve-result@1: the answer of GET /api/v1/instruments/resolve?q=&kind= on OpenVibe.Trade (trade.instrument.resolve): { query, status: resolved | ambiguous | not_found, match: { kind, value } | null, instrument | null, candidates } (a CIK, symbol or alias matched; candidates when more than one could be meant).",
    "type": "object",
    "required": [
     "status",
     "match",
     "instrument",
     "candidates"
    ],
    "properties": {
     "query": {},
     "status": {
      "enum": [
       "resolved",
       "ambiguous",
       "not_found"
      ]
     },
     "match": {
      "type": [
       "object",
       "null"
      ],
      "properties": {
       "kind": {
        "type": "string"
       },
       "value": {
        "type": "string"
       }
      }
     },
     "instrument": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/trade.instrument.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "candidates": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/trade.instrument.v1"
      }
     }
    }
   },
   "trade.watchlist-request.v1": {
    "title": "TradeWatchlistRequest",
    "description": "trade.watchlist-request@1: bodies of the watchlist writes on OpenVibe.Trade (the acting person). POST /api/v1/watchlists (trade.watchlist.create) and PATCH /api/v1/watchlists/:id (trade.watchlist.update): { name } (a string, at most 80 characters; your names are unique). PUT /api/v1/watchlists/:id/items/:symbol: { note? } (at most 300 characters). DELETE …/items/:symbol takes no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "name"
      ],
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1,
        "maxLength": 80
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       }
      }
     }
    ]
   },
   "trade.watchlist-result.v1": {
    "title": "TradeWatchlistResult",
    "description": "trade.watchlist-result@1: answers of the watchlist routes on OpenVibe.Trade: GET /api/v1/watchlists → { watchlists }; GET /api/v1/watchlists/:id, POST (201) and PATCH → { watchlist }; PUT …/items/:symbol → { added, watchlist }; DELETE …/items/:symbol → { removed, watchlist }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "watchlists"
      ],
      "properties": {
       "watchlists": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/trade.watchlist.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "watchlist"
      ],
      "properties": {
       "watchlist": {
        "$ref": "#/components/schemas/trade.watchlist.v1"
       },
       "added": {
        "type": "boolean"
       },
       "removed": {
        "type": "boolean"
       }
      }
     }
    ]
   },
   "trade.watchlist.v1": {
    "title": "TradeWatchlist",
    "description": "trade.watchlist@1: one of a person's watchlists on OpenVibe.Trade (server/domain/watchlists.js dto) with its instruments and notes.",
    "type": "object",
    "required": [
     "id",
     "name"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "name": {
      "type": "string",
      "maxLength": 80
     },
     "created_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "items": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "instrument"
       ],
       "properties": {
        "instrument": {
         "type": "object",
         "required": [
          "id",
          "symbol"
         ],
         "properties": {
          "id": {
           "type": "string"
          },
          "symbol": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "kind": {
           "type": "string"
          },
          "exchange": {
           "type": [
            "string",
            "null"
           ]
          },
          "status": {
           "type": "string"
          },
          "url": {
           "type": "string"
          }
         }
        },
        "note": {
         "type": [
          "string",
          "null"
         ]
        },
        "added_at": {
         "type": [
          "string",
          "null"
         ],
         "format": "date-time"
        }
       }
      }
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
