{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.VIP API",
  "version": "0.61.0",
  "description": "Routes of OpenVibe.VIP as the OpenVibe contracts describe them (openvibe-contracts 0.61.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.vip"
  }
 ],
 "paths": {
  "/api/v1/checkout": {
   "post": {
    "operationId": "post_api_v1_checkout",
    "summary": "Start joining a plan on behalf of a member: VIP records the plan version chosen and hands off to OpenVibe.Billing (payment intent, or a period paid from the member's credit).",
    "description": "**vip.membership.checkout** (first-party): Start joining a plan on behalf of a member: VIP records the plan version chosen and hands off to OpenVibe.Billing (payment intent, or a period paid from the member's credit). Billing charges; VIP never does.",
    "tags": [
     "vip.membership"
    ],
    "x-openvibe-capabilities": [
     "vip.membership.checkout"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.membership.checkout"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.checkout-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.checkout-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/creators/{ref}": {
   "get": {
    "operationId": "get_api_v1_creators_ref",
    "summary": "List a creator's plans with their current and draft versions and the full version history.",
    "description": "**vip.plan.list** (public): List a creator's plans with their current and draft versions and the full version history. Published plans are public without a grant; the grant adds drafts and archived plans.",
    "tags": [
     "vip.plan"
    ],
    "x-openvibe-capabilities": [
     "vip.plan.list"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.plan.list"
      ]
     }
    ],
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.plan-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/creators/{ref}/members": {
   "get": {
    "operationId": "get_api_v1_creators_ref_members",
    "summary": "A creator's active members with the plan version each joined under: from Billing's subscriptions, or VIP's fresh projection (labelled) when Billing does not answer.",
    "description": "**vip.creator.members.list** (first-party): A creator's active members with the plan version each joined under: from Billing's subscriptions, or VIP's fresh projection (labelled) when Billing does not answer.",
    "tags": [
     "vip.creator"
    ],
    "x-openvibe-capabilities": [
     "vip.creator.members.list"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.creator.members.list"
      ]
     }
    ],
    "parameters": [
     {
      "name": "ref",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.members-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/entitlements/check": {
   "get": {
    "operationId": "get_api_v1_entitlements_check",
    "summary": "Is a subject a member of a creator right now?",
    "description": "**vip.entitlement.check** (first-party): Is a subject a member of a creator right now? Answered from VIP's short-lived projection of Billing entitlements, with a direct Billing check when the projection is stale (mode auto) or always (mode authoritative). Past valid_until plus grace the answer is \"unknown\", which never authorizes.",
    "tags": [
     "vip.entitlement"
    ],
    "x-openvibe-capabilities": [
     "vip.entitlement.check"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.entitlement.check"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/vip.entitlement-check-request.v1"
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.entitlement-check-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_entitlements_check",
    "summary": "Is a subject a member of a creator right now?",
    "description": "**vip.entitlement.check** (first-party): Is a subject a member of a creator right now? Answered from VIP's short-lived projection of Billing entitlements, with a direct Billing check when the projection is stale (mode auto) or always (mode authoritative). Past valid_until plus grace the answer is \"unknown\", which never authorizes.",
    "tags": [
     "vip.entitlement"
    ],
    "x-openvibe-capabilities": [
     "vip.entitlement.check"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.entitlement.check"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.entitlement-check-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.entitlement-check-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/memberships/{subject}": {
   "get": {
    "operationId": "get_api_v1_memberships_subject",
    "summary": "A member's memberships: the plan version each was bought under, preferences, and the entitlement status (projection, confirmed with Billing when stale).",
    "description": "**vip.membership.status** (first-party): A member's memberships: the plan version each was bought under, preferences, and the entitlement status (projection, confirmed with Billing when stale).",
    "tags": [
     "vip.membership"
    ],
    "x-openvibe-capabilities": [
     "vip.membership.status"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.membership.status"
      ]
     }
    ],
    "parameters": [
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.membership-status-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/perks": {
   "get": {
    "operationId": "get_api_v1_perks",
    "summary": "List a creator's perks (and the network perks) with product bindings.",
    "description": "**vip.perk.list** (public): List a creator's perks (and the network perks) with product bindings. Active perks are public; the grant adds retired ones.",
    "tags": [
     "vip.perk"
    ],
    "x-openvibe-capabilities": [
     "vip.perk.list"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.perk.list"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.perk-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_perks",
    "summary": "Define a perk (badge, emote, gated content, room, role) for a creator or the network, with its product bindings.",
    "description": "**vip.perk.create** (first-party): Define a perk (badge, emote, gated content, room, role) for a creator or the network, with its product bindings.",
    "tags": [
     "vip.perk"
    ],
    "x-openvibe-capabilities": [
     "vip.perk.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.perk.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.perk-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.perk-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/perks/{id}": {
   "patch": {
    "operationId": "patch_api_v1_perks_id",
    "summary": "Rename, describe, retire a perk or replace its product bindings.",
    "description": "**vip.perk.update** (first-party): Rename, describe, retire a perk or replace its product bindings. Published plan versions keep the perk snapshot they were published with.",
    "tags": [
     "vip.perk"
    ],
    "x-openvibe-capabilities": [
     "vip.perk.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.perk.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.perk-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.perk-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/plans": {
   "get": {
    "operationId": "get_api_v1_plans",
    "summary": "List a creator's plans with their current and draft versions and the full version history.",
    "description": "**vip.plan.list** (public): List a creator's plans with their current and draft versions and the full version history. Published plans are public without a grant; the grant adds drafts and archived plans.",
    "tags": [
     "vip.plan"
    ],
    "x-openvibe-capabilities": [
     "vip.plan.list"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.plan.list"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.plan-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_plans",
    "summary": "Create a membership plan (version 1) for a creator, or for the network (staff).",
    "description": "**vip.plan.create** (first-party): Create a membership plan (version 1) for a creator, or for the network (staff). A published plan is sold through OpenVibe.Billing as the creator's channel subscription; Billing sets the price.",
    "tags": [
     "vip.plan"
    ],
    "x-openvibe-capabilities": [
     "vip.plan.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.plan.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.plan-create-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.plan-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/plans/{id}": {
   "get": {
    "operationId": "get_api_v1_plans_id",
    "summary": "List a creator's plans with their current and draft versions and the full version history.",
    "description": "**vip.plan.list** (public): List a creator's plans with their current and draft versions and the full version history. Published plans are public without a grant; the grant adds drafts and archived plans.",
    "tags": [
     "vip.plan"
    ],
    "x-openvibe-capabilities": [
     "vip.plan.list"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.plan.list"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.plan-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_plans_id",
    "summary": "Edit a plan by creating a new immutable version (published at once when the plan is published), or publish a draft.",
    "description": "**vip.plan.update** (first-party): Edit a plan by creating a new immutable version (published at once when the plan is published), or publish a draft. Earlier versions and the terms members joined under are never rewritten.",
    "tags": [
     "vip.plan"
    ],
    "x-openvibe-capabilities": [
     "vip.plan.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.plan.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.plan-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.plan-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/plans/{id}/archive": {
   "post": {
    "operationId": "post_api_v1_plans_id_archive",
    "summary": "Archive a plan: no new members; existing members keep their terms until Billing ends their membership.",
    "description": "**vip.plan.archive** (first-party): Archive a plan: no new members; existing members keep their terms until Billing ends their membership.",
    "tags": [
     "vip.plan"
    ],
    "x-openvibe-capabilities": [
     "vip.plan.archive"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.plan.archive"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.plan-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/plans/{id}/publish": {
   "post": {
    "operationId": "post_api_v1_plans_id_publish",
    "summary": "Edit a plan by creating a new immutable version (published at once when the plan is published), or publish a draft.",
    "description": "**vip.plan.update** (first-party): Edit a plan by creating a new immutable version (published at once when the plan is published), or publish a draft. Earlier versions and the terms members joined under are never rewritten.",
    "tags": [
     "vip.plan"
    ],
    "x-openvibe-capabilities": [
     "vip.plan.update"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.plan.update"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.plan-update-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.plan-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/plans/{id}/versions": {
   "get": {
    "operationId": "get_api_v1_plans_id_versions",
    "summary": "List a creator's plans with their current and draft versions and the full version history.",
    "description": "**vip.plan.list** (public): List a creator's plans with their current and draft versions and the full version history. Published plans are public without a grant; the grant adds drafts and archived plans.",
    "tags": [
     "vip.plan"
    ],
    "x-openvibe-capabilities": [
     "vip.plan.list"
    ],
    "x-openvibe-visibility": [
     "public"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.plan.list"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.plan-list-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/policies": {
   "get": {
    "operationId": "get_api_v1_policies",
    "summary": "Read the gated-resource rule VIP holds for a resource (EntityRef), or a creator's rules.",
    "description": "**vip.resource.policy.get** (first-party): Read the gated-resource rule VIP holds for a resource (EntityRef), or a creator's rules.",
    "tags": [
     "vip.resource"
    ],
    "x-openvibe-capabilities": [
     "vip.resource.policy.get"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.resource.policy.get"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.policy-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_policies",
    "summary": "Create, replace or remove the rule gating a resource (EntityRef) for a creator: any member, members of one plan, or members whose plan version includes a perk; optionally always checked with Billing (",
    "description": "**vip.resource.policy.set** (first-party): Create, replace or remove the rule gating a resource (EntityRef) for a creator: any member, members of one plan, or members whose plan version includes a perk; optionally always checked with Billing (sensitive).",
    "tags": [
     "vip.resource"
    ],
    "x-openvibe-capabilities": [
     "vip.resource.policy.set"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.resource.policy.set"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.policy-set-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.policy-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/policies/{id}": {
   "delete": {
    "operationId": "delete_api_v1_policies_id",
    "summary": "Create, replace or remove the rule gating a resource (EntityRef) for a creator: any member, members of one plan, or members whose plan version includes a perk; optionally always checked with Billing (",
    "description": "**vip.resource.policy.set** (first-party): Create, replace or remove the rule gating a resource (EntityRef) for a creator: any member, members of one plan, or members whose plan version includes a perk; optionally always checked with Billing (sensitive).",
    "tags": [
     "vip.resource"
    ],
    "x-openvibe-capabilities": [
     "vip.resource.policy.set"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-write",
    "security": [
     {
      "openvibeToken": [
       "vip.resource.policy.set"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/vip.policy-set-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.policy-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_policies_id",
    "summary": "Read the gated-resource rule VIP holds for a resource (EntityRef), or a creator's rules.",
    "description": "**vip.resource.policy.get** (first-party): Read the gated-resource rule VIP holds for a resource (EntityRef), or a creator's rules.",
    "tags": [
     "vip.resource"
    ],
    "x-openvibe-capabilities": [
     "vip.resource.policy.get"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.resource.policy.get"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.policy-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/policies/evaluate": {
   "post": {
    "operationId": "post_api_v1_policies_evaluate",
    "summary": "May subject S see resource R (under rule X)?",
    "description": "**vip.resource.policy.evaluate** (first-party): May subject S see resource R (under rule X)? Fails closed: no rule, a disabled rule, an entitlement VIP cannot confirm, a missing perk or any error is allow: false with the reason.",
    "tags": [
     "vip.resource"
    ],
    "x-openvibe-capabilities": [
     "vip.resource.policy.evaluate"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "vip-read",
    "security": [
     {
      "openvibeToken": [
       "vip.resource.policy.evaluate"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/vip.policy-evaluate-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/vip.policy-evaluate-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.entity-ref.v1": {
    "title": "EntityRef",
    "description": "Typed reference to another service's entity. Store this instead of a foreign key; resolve a display projection from the owner.",
    "type": "object",
    "required": [
     "service",
     "type",
     "id"
    ],
    "additionalProperties": false,
    "properties": {
     "service": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9-]{1,39}$"
     },
     "type": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]{1,39}$"
     },
     "id": {
      "type": "string",
      "minLength": 1,
      "maxLength": 128
     },
     "revision": {
      "type": "integer",
      "minimum": 0
     },
     "label": {
      "type": "string",
      "maxLength": 200,
      "description": "Cached display label. Never authoritative."
     }
    }
   },
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "identity.subject-ref.v1": {
    "title": "SubjectRef",
    "description": "The one cross-platform reference to an actor. Issued by OpenVibe.Network. Never a service-local integer id.",
    "oneOf": [
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "user"
       },
       "id": {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "UserSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "guest"
       },
       "id": {
        "type": "string",
        "pattern": "^gst_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "GuestSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "app"
       },
       "id": {
        "type": "string",
        "pattern": "^app_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "AppSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "const": "mod"
       },
       "id": {
        "type": "string",
        "pattern": "^mod_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      },
      "description": "ModSubject"
     },
     {
      "type": "object",
      "required": [
       "type",
       "id"
      ],
      "additionalProperties": false,
      "properties": {
       "type": {
        "enum": [
         "service",
         "system"
        ]
       },
       "id": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      },
      "description": "PrincipalSubject"
     }
    ]
   },
   "vip.checkout-request.v1": {
    "title": "VipCheckoutRequest",
    "description": "vip.checkout-request@1: the body of vip.membership.checkout on OpenVibe.VIP. POST /api/v1/checkout: { plan_id, provider, subject?, success_url?, cancel_url?, auto_renew? } starts joining a published plan: VIP records the plan version and hands off to OpenVibe.Billing (provider credit: a period paid from the member's credit at once; any other provider: a Billing payment intent and its checkout). A service names the member (subject); a person joins as themselves, and their return URLs must be pages of VIP's own site. Refusals are problem+json: 404 vip.plan_not_found (no published plan with that id); 409 vip.checkout.unavailable, vip.already_member, vip.checkout.insufficient_credit or vip.checkout.provider_unavailable; 422 vip.checkout.provider_unavailable (a provider VIP does not offer), vip.checkout.self, vip.invalid_subject or vip.invalid_input; 503 vip.billing_frozen or vip.billing_unavailable. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "plan_id",
     "provider"
    ],
    "properties": {
     "plan_id": {
      "type": "string",
      "pattern": "^vpl_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "provider": {
      "type": "string",
      "description": "One of VIP_CHECKOUT_PROVIDERS (powerchat and credit by default); case-insensitive."
     },
     "subject": {
      "description": "The member: required for services; a person may only name themselves.",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
       }
      ]
     },
     "success_url": {
      "type": [
       "string",
       "null"
      ],
      "description": "Where the provider sends the buyer after paying; default the member's VIP page."
     },
     "cancel_url": {
      "type": [
       "string",
       "null"
      ],
      "description": "Where the provider sends the buyer after cancelling; default the creator's VIP page."
     },
     "auto_renew": {
      "type": [
       "boolean",
       "integer",
       "string"
      ],
      "description": "Default true."
     }
    }
   },
   "vip.checkout-result.v1": {
    "title": "VipCheckoutResult",
    "description": "vip.checkout-result@1: the answer of vip.membership.checkout on OpenVibe.VIP. POST /api/v1/checkout (201) → { checkout, membership_started, checkout_url, checkout_ref, amount_cents? }. With provider credit the period is paid at once (membership_started true when Billing granted it; no checkout link). Otherwise the member finishes at checkout_url (always http(s) when present; a PowerChat checkout may come as checkout_ref only) and the membership starts when Billing's settlement arrives; amount_cents is what Billing's intent asks for.",
    "type": "object",
    "required": [
     "checkout",
     "membership_started",
     "checkout_url",
     "checkout_ref"
    ],
    "properties": {
     "checkout": {
      "$ref": "#/components/schemas/vip.checkout.v1"
     },
     "membership_started": {
      "type": "boolean"
     },
     "checkout_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "checkout_ref": {
      "type": [
       "string",
       "null"
      ]
     },
     "amount_cents": {
      "type": [
       "integer",
       "null"
      ],
      "minimum": 0
     }
    }
   },
   "vip.checkout.v1": {
    "title": "VipCheckout",
    "description": "vip.checkout@1: a checkout hand-off on OpenVibe.VIP (server/domain/checkout.js present): the plan version a member chose, recorded before VIP hands the purchase to OpenVibe.Billing (a subscription paid from credit, or a Billing payment intent). status created → handed_off (sent to the provider) or paid (credit) → used (the membership was filed under it); failed when Billing refused.",
    "type": "object",
    "required": [
     "id",
     "member",
     "creator_id",
     "plan_id",
     "plan_version_id",
     "provider",
     "status",
     "billing_intent_id",
     "billing_subscription_id",
     "checkout_url",
     "checkout_ref",
     "created_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^vco_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "member": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "creator_id": {
      "type": "string",
      "pattern": "^vcr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "plan_id": {
      "type": "string",
      "pattern": "^vpl_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "plan_version_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "provider": {
      "type": "string",
      "description": "A checkout provider VIP offers (VIP_CHECKOUT_PROVIDERS; powerchat and credit by default)."
     },
     "status": {
      "enum": [
       "created",
       "handed_off",
       "paid",
       "failed",
       "used"
      ]
     },
     "billing_intent_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "billing_subscription_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "checkout_url": {
      "type": [
       "string",
       "null"
      ]
     },
     "checkout_ref": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "vip.creator.v1": {
    "title": "VipCreator",
    "description": "vip.creator@1: a creator as OpenVibe.VIP presents it (server/domain/creators.js present): someone who offers memberships, named by their Network subject, or the network itself (id network, no subject; staff manage its plans and perks). The username is a cached handle for the public page; display_name falls back to it (OpenVibe for the network).",
    "type": "object",
    "required": [
     "id",
     "kind",
     "subject",
     "username",
     "display_name",
     "bio",
     "status"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^(vcr_[0-9A-HJKMNP-TV-Z]{26}|network)$"
     },
     "kind": {
      "enum": [
       "creator",
       "network"
      ]
     },
     "subject": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "null"
       }
      ],
      "description": "null for the network."
     },
     "username": {
      "type": [
       "string",
       "null"
      ]
     },
     "display_name": {
      "type": [
       "string",
       "null"
      ]
     },
     "bio": {
      "type": [
       "string",
       "null"
      ]
     },
     "status": {
      "enum": [
       "active",
       "suspended"
      ]
     }
    }
   },
   "vip.entitlement-check-request.v1": {
    "title": "VipEntitlementCheckRequest",
    "description": "vip.entitlement-check-request@1: the question of vip.entitlement.check on OpenVibe.VIP. POST /api/v1/entitlements/check: { creator, subject?, mode?, product? }; GET /api/v1/entitlements/check takes the same fields in its query string and no body. creator is a user SubjectRef, usr_ id (asked of Billing even when VIP has never seen the creator) or VIP username; subject is the member (required for services; a person asks about themselves). mode auto (default: the projection when fresh, else Billing), projection (never asks Billing) or authoritative (always asks Billing). product (a service id such as chat or blog) adds what the membership means there. Refusals are problem+json: 422 vip.invalid_input (no creator VIP can resolve, a bad product) or vip.invalid_subject; 403 capability.denied or vip.not_yours. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "creator"
      ],
      "properties": {
       "creator": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "minLength": 1,
          "description": "A usr_ id or VIP username."
         }
        ]
       },
       "subject": {
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "mode": {
        "enum": [
         "auto",
         "projection",
         "authoritative"
        ]
       },
       "product": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "vip.entitlement-check-result.v1": {
    "title": "VipEntitlementCheckResult",
    "description": "vip.entitlement-check-result@1: the answer of vip.entitlement.check on OpenVibe.VIP. GET or POST /api/v1/entitlements/check → an entitlement answer (vip.entitlement@1); unknown never authorizes. With product it adds { product, product_perks, preferences }: the perks of the member's plan version that have bindings for that product (none unless active), and the member's badge and listing preferences for the creator.",
    "allOf": [
     {
      "$ref": "#/components/schemas/vip.entitlement.v1"
     },
     {
      "type": "object",
      "properties": {
       "product": {
        "type": "string",
        "pattern": "^[a-z][a-z0-9-]{1,39}$"
       },
       "product_perks": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "key",
          "name",
          "kind",
          "scope",
          "bindings"
         ],
         "properties": {
          "key": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "kind": {
           "enum": [
            "badge",
            "emote",
            "gated_content",
            "room",
            "role",
            "other"
           ]
          },
          "scope": {
           "enum": [
            "creator",
            "network"
           ]
          },
          "bindings": {
           "type": "array",
           "items": {
            "type": "object",
            "required": [
             "binding",
             "config"
            ],
            "properties": {
             "binding": {
              "type": "string"
             },
             "config": {
              "type": "object"
             }
            }
           }
          }
         }
        }
       },
       "preferences": {
        "type": "object",
        "required": [
         "show_badge",
         "listed"
        ],
        "properties": {
         "show_badge": {
          "type": "boolean"
         },
         "listed": {
          "type": "boolean"
         }
        }
       }
      }
     }
    ]
   },
   "vip.entitlement.v1": {
    "title": "VipEntitlement",
    "description": "vip.entitlement@1: an entitlement answer of OpenVibe.VIP (server/domain/entitlements.js check): is the member a member of the creator right now, from VIP's short-lived projection of OpenVibe.Billing's entitlements (source projection, stale when past valid_until but within the grace period) or from Billing itself (source billing). status unknown (source none) means VIP could not confirm it and never authorizes; active is true only for status active. A creator asked about themselves is inactive with a reason.",
    "type": "object",
    "required": [
     "member",
     "creator",
     "kind",
     "status",
     "active",
     "expires_at",
     "cancel_at_period_end",
     "source",
     "stale",
     "valid_until",
     "checked_at",
     "membership"
    ],
    "properties": {
     "member": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "creator": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "kind": {
      "type": "string",
      "description": "The Billing entitlement kind; channel_subscription today."
     },
     "status": {
      "enum": [
       "active",
       "inactive",
       "unknown"
      ]
     },
     "active": {
      "type": "boolean"
     },
     "expires_at": {
      "type": [
       "string",
       "null"
      ],
      "description": "End of the paid period, as Billing reported it."
     },
     "cancel_at_period_end": {
      "type": "boolean"
     },
     "source": {
      "enum": [
       "projection",
       "billing",
       "none"
      ]
     },
     "stale": {
      "type": "boolean"
     },
     "valid_until": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time",
      "description": "Until when the projection may answer without asking Billing; null for unknown."
     },
     "checked_at": {
      "type": "string",
      "format": "date-time"
     },
     "membership": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/vip.membership.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "reason": {
      "type": "string",
      "description": "Why it is unknown or inactive: no_projection, projection_expired, billing_unavailable, self (as text), …"
     }
    }
   },
   "vip.members-result.v1": {
    "title": "VipMembersResult",
    "description": "vip.members-result@1: the answer of vip.creator.members.list on OpenVibe.VIP. GET /api/v1/creators/:ref/members → { creator, source, note?, members }: the creator's active members with the membership VIP filed for each (the plan version they joined under; null when VIP has none). source billing: Billing's active subscriptions to the creator; source projection: Billing did not answer and the list is VIP's fresh projection rows, possibly incomplete (note says so). For the creator, staff or a service holding the capability; 404 vip.creator_not_found.",
    "type": "object",
    "required": [
     "creator",
     "source",
     "members"
    ],
    "properties": {
     "creator": {
      "$ref": "#/components/schemas/vip.creator.v1"
     },
     "source": {
      "enum": [
       "billing",
       "projection"
      ]
     },
     "note": {
      "type": "string"
     },
     "members": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "member",
        "current_period_end",
        "cancel_at_period_end",
        "subscription_id",
        "membership"
       ],
       "properties": {
        "member": {
         "$ref": "#/components/schemas/identity.subject-ref.v1"
        },
        "current_period_end": {
         "type": [
          "string",
          "null"
         ]
        },
        "cancel_at_period_end": {
         "type": "boolean"
        },
        "subscription_id": {
         "type": [
          "string",
          "null"
         ],
         "description": "The Billing subscription (sub_…)."
        },
        "membership": {
         "anyOf": [
          {
           "$ref": "#/components/schemas/vip.membership.v1"
          },
          {
           "type": "null"
          }
         ]
        }
       }
      }
     }
    }
   },
   "vip.membership-status-result.v1": {
    "title": "VipMembershipStatusResult",
    "description": "vip.membership-status-result@1: the answer of vip.membership.status on OpenVibe.VIP. GET /api/v1/memberships/:subject?mode=projection|authoritative → { member, memberships }: every membership VIP has filed for the member, newest first, each with its creator, the member's preferences for it and the entitlement answer (mode auto by default: the projection when fresh, else Billing). A person may only ask about themselves (403 vip.not_yours); a service needs vip.membership.status.",
    "type": "object",
    "required": [
     "member",
     "memberships"
    ],
    "properties": {
     "member": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "memberships": {
      "type": "array",
      "items": {
       "allOf": [
        {
         "$ref": "#/components/schemas/vip.membership.v1"
        },
        {
         "type": "object",
         "required": [
          "creator",
          "entitlement",
          "preferences"
         ],
         "properties": {
          "creator": {
           "anyOf": [
            {
             "$ref": "#/components/schemas/vip.creator.v1"
            },
            {
             "type": "null"
            }
           ]
          },
          "entitlement": {
           "anyOf": [
            {
             "$ref": "#/components/schemas/vip.entitlement.v1"
            },
            {
             "type": "null"
            }
           ],
           "description": "null when the creator has no subject (the network)."
          },
          "preferences": {
           "type": "object",
           "required": [
            "show_badge",
            "listed"
           ],
           "properties": {
            "show_badge": {
             "type": "boolean"
            },
            "listed": {
             "type": "boolean"
            }
           }
          }
         }
        }
       ]
      }
     }
    }
   },
   "vip.membership.v1": {
    "title": "VipMembership",
    "description": "vip.membership@1: VIP's record of a membership (server/domain/memberships.js present): which plan version the member bought, the perk keys that version grants and how the membership was filed (checkout: the member's own VIP checkout; billing: a Billing subscription bought elsewhere; import). Whether it is active is never stored here: that is Billing's entitlement (vip.entitlement@1).",
    "type": "object",
    "required": [
     "id",
     "member",
     "creator_id",
     "plan_id",
     "plan_version",
     "perks",
     "origin",
     "joined_at",
     "terms_since"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^vms_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "member": {
      "$ref": "#/components/schemas/identity.subject-ref.v1"
     },
     "creator_id": {
      "type": "string",
      "pattern": "^(vcr_[0-9A-HJKMNP-TV-Z]{26}|network)$"
     },
     "plan_id": {
      "type": [
       "string",
       "null"
      ],
      "description": "null when Billing granted a membership for a creator with no VIP plan."
     },
     "plan_version": {
      "anyOf": [
       {
        "type": "object",
        "required": [
         "id",
         "version",
         "name",
         "terms"
        ],
        "properties": {
         "id": {
          "type": "string",
          "pattern": "^vpv_[0-9A-HJKMNP-TV-Z]{26}$"
         },
         "version": {
          "type": "integer",
          "minimum": 1
         },
         "name": {
          "type": "string"
         },
         "terms": {
          "type": "object",
          "description": "The version's terms snapshot (vip.plan-version@1 terms)."
         }
        }
       },
       {
        "type": "null"
       }
      ]
     },
     "perks": {
      "type": "array",
      "items": {
       "type": "string"
      },
      "description": "Perk keys of the plan version."
     },
     "origin": {
      "enum": [
       "checkout",
       "billing",
       "import"
      ]
     },
     "joined_at": {
      "type": "string",
      "format": "date-time"
     },
     "terms_since": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "vip.perk-create-request.v1": {
    "title": "VipPerkCreateRequest",
    "description": "vip.perk-create-request@1: the body of vip.perk.create on OpenVibe.VIP. POST /api/v1/perks: { creator?, key?, name, description?, kind?, bindings? } defines a perk for a creator (a service names the creator; a person defines their own; staff may name network). key defaults to the name, and must read as a slug (1-48 of a-z, 0-9 and -, lowercased); kind defaults to other. Refusals are problem+json: 422 vip.invalid_input (no name, a bad key, kind or binding) or vip.text_too_long; 409 vip.perk_exists (the key is taken); 403 capability.denied or vip.not_yours. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "name"
    ],
    "properties": {
     "creator": {
      "description": "The creator the perk belongs to (a user SubjectRef, or network for staff).",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "minLength": 1,
        "description": "A usr_ id, a VIP username, or network."
       }
      ]
     },
     "key": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9-]{0,47}$"
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "description": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 500
     },
     "kind": {
      "enum": [
       "badge",
       "emote",
       "gated_content",
       "room",
       "role",
       "other"
      ]
     },
     "bindings": {
      "type": "array",
      "maxItems": 20,
      "description": "Replaces the perk's active bindings (a binding left out is removed). Each (product, binding) at most once.",
      "items": {
       "type": "object",
       "required": [
        "product",
        "binding"
       ],
       "properties": {
        "product": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$",
         "description": "A service id: live, chat, community, blog, …"
        },
        "binding": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_.]{1,63}$",
         "description": "chat_badge, room_access, gated_post, …"
        },
        "config": {
         "type": [
          "object",
          "null"
         ],
         "description": "Under 2 KB of JSON; default {}."
        }
       }
      }
     }
    }
   },
   "vip.perk-list-result.v1": {
    "title": "VipPerkListResult",
    "description": "vip.perk-list-result@1: the answer of vip.perk.list on OpenVibe.VIP. GET /api/v1/perks?creator=&network=&retired= → { perks }: a creator's active perks plus the network's (network=0 leaves those out), ordered creator first then by name; retired=1 adds retired perks for the creator, staff or a service holding vip.perk.list. 404 vip.creator_not_found (problem+json) when creator names nobody.",
    "type": "object",
    "required": [
     "perks"
    ],
    "properties": {
     "perks": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/vip.perk.v1"
      }
     }
    }
   },
   "vip.perk-result.v1": {
    "title": "VipPerkResult",
    "description": "vip.perk-result@1: the answer of vip.perk.create and vip.perk.update on OpenVibe.VIP. POST /api/v1/perks (201) and PATCH /api/v1/perks/:id → { perk } with its active bindings.",
    "type": "object",
    "required": [
     "perk"
    ],
    "properties": {
     "perk": {
      "$ref": "#/components/schemas/vip.perk.v1"
     }
    }
   },
   "vip.perk-update-request.v1": {
    "title": "VipPerkUpdateRequest",
    "description": "vip.perk-update-request@1: the body of vip.perk.update on OpenVibe.VIP. PATCH /api/v1/perks/:id: { name?, description?, kind?, status?, bindings? } renames, describes or retires a perk, or replaces its product bindings. Published plan versions keep the perk snapshot they were written with. Refusals are problem+json: 404 vip.perk_not_found; 422 vip.invalid_input or vip.text_too_long; 403 capability.denied. Unknown fields are ignored.",
    "type": "object",
    "properties": {
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "description": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 500
     },
     "kind": {
      "enum": [
       "badge",
       "emote",
       "gated_content",
       "room",
       "role",
       "other"
      ]
     },
     "status": {
      "enum": [
       "active",
       "retired"
      ]
     },
     "bindings": {
      "type": "array",
      "maxItems": 20,
      "description": "Replaces the perk's active bindings (a binding left out is removed). Each (product, binding) at most once.",
      "items": {
       "type": "object",
       "required": [
        "product",
        "binding"
       ],
       "properties": {
        "product": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$",
         "description": "A service id: live, chat, community, blog, …"
        },
        "binding": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_.]{1,63}$",
         "description": "chat_badge, room_access, gated_post, …"
        },
        "config": {
         "type": [
          "object",
          "null"
         ],
         "description": "Under 2 KB of JSON; default {}."
        }
       }
      }
     }
    }
   },
   "vip.perk.v1": {
    "title": "VipPerk",
    "description": "vip.perk@1: a perk on OpenVibe.VIP (server/domain/perks.js present): a benefit a creator (or the network) defines once and includes in plan versions, with its product bindings (how a product recognises it: Live's chat badge, a Chat room, a gated Blog post, …). Editing a perk never rewrites the plan versions that include it.",
    "type": "object",
    "required": [
     "id",
     "key",
     "name",
     "description",
     "kind",
     "status",
     "scope",
     "creator_id",
     "bindings",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^vpk_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "key": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9-]{0,47}$"
     },
     "name": {
      "type": "string",
      "maxLength": 80
     },
     "description": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 500
     },
     "kind": {
      "enum": [
       "badge",
       "emote",
       "gated_content",
       "room",
       "role",
       "other"
      ]
     },
     "status": {
      "enum": [
       "active",
       "retired"
      ]
     },
     "scope": {
      "enum": [
       "creator",
       "network"
      ]
     },
     "creator_id": {
      "type": "string",
      "pattern": "^(vcr_[0-9A-HJKMNP-TV-Z]{26}|network)$"
     },
     "bindings": {
      "type": "array",
      "description": "Active bindings, by product then binding.",
      "items": {
       "type": "object",
       "required": [
        "product",
        "binding",
        "config"
       ],
       "properties": {
        "product": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9-]{1,39}$"
        },
        "binding": {
         "type": "string",
         "pattern": "^[a-z][a-z0-9_.]{1,63}$"
        },
        "config": {
         "type": "object"
        }
       }
      }
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "vip.plan-create-request.v1": {
    "title": "VipPlanCreateRequest",
    "description": "vip.plan-create-request@1: the body of vip.plan.create on OpenVibe.VIP. POST /api/v1/plans: { creator?, name, slug?, description?, benefits?, perks?, billing_kind?, publish?, change_note? } creates a plan and its version 1 (published at once with publish). A service must name the creator (a user SubjectRef or network); a person creates for themselves (staff may name another creator or network). billing_kind defaults to channel_subscription for a creator and null for the network (Billing has no network product yet). Refusals are problem+json: 422 vip.invalid_input (no name, a bad slug or billing_kind), vip.text_too_long, vip.perk_not_found or vip.invalid_subject; 409 vip.plan_exists (the slug is taken) or vip.plan.billing_product_taken (the creator already has a published plan sold as a channel subscription); 403 capability.denied or vip.not_yours. Unknown fields are ignored.",
    "type": "object",
    "required": [
     "name"
    ],
    "properties": {
     "creator": {
      "description": "The creator the plan belongs to (a user SubjectRef, or network for staff).",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "minLength": 1,
        "description": "A usr_ id, a VIP username, or network."
       }
      ]
     },
     "name": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80
     },
     "slug": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9-]{0,47}$",
      "description": "Default: made from the name."
     },
     "description": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 2000
     },
     "benefits": {
      "description": "At most 20, each at most 200 characters: a list, or one string with one benefit per line.",
      "anyOf": [
       {
        "type": "array",
        "maxItems": 20,
        "items": {
         "type": "string",
         "maxLength": 200
        }
       },
       {
        "type": "string"
       }
      ]
     },
     "perks": {
      "type": "array",
      "maxItems": 30,
      "items": {
       "type": "string"
      },
      "description": "Perk ids (vpk_…) or keys: the creator's own active perks or the network's (422 vip.perk_not_found otherwise)."
     },
     "billing_kind": {
      "enum": [
       "channel_subscription",
       null
      ]
     },
     "publish": {
      "type": [
       "boolean",
       "integer",
       "string"
      ],
      "description": "true (or 1, yes, on) publishes version 1 at once."
     },
     "change_note": {
      "type": [
       "string",
       "null"
      ],
      "description": "Default: created."
     }
    }
   },
   "vip.plan-list-result.v1": {
    "title": "VipPlanListResult",
    "description": "vip.plan-list-result@1: answers of vip.plan.list on OpenVibe.VIP. Published plans are public; the creator, staff or a service holding vip.plan.list also see drafts and archived plans. GET /api/v1/plans?creator=&include=drafts,archived → { creator, plans }; GET /api/v1/plans/:id → { plan } (with its creator); GET /api/v1/plans/:id/versions → { plan_id, versions } (newest first; only published versions for others); GET /api/v1/creators/:ref → { creator, plans, perks } (the creator's public page: plans, drafts included for its manager, and the creator's own active perks). A creator is named by usr_ id, VIP username or network; 404 vip.creator_not_found or vip.plan_not_found (problem+json).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "creator",
       "plans",
       "perks"
      ],
      "properties": {
       "creator": {
        "$ref": "#/components/schemas/vip.creator.v1"
       },
       "plans": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/vip.plan.v1"
        }
       },
       "perks": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/vip.perk.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "creator",
       "plans"
      ],
      "properties": {
       "creator": {
        "$ref": "#/components/schemas/vip.creator.v1"
       },
       "plans": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/vip.plan.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "plan"
      ],
      "properties": {
       "plan": {
        "$ref": "#/components/schemas/vip.plan.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "plan_id",
       "versions"
      ],
      "properties": {
       "plan_id": {
        "type": "string",
        "pattern": "^vpl_[0-9A-HJKMNP-TV-Z]{26}$"
       },
       "versions": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/vip.plan-version.v1"
        }
       }
      }
     }
    ]
   },
   "vip.plan-result.v1": {
    "title": "VipPlanResult",
    "description": "vip.plan-result@1: answers about one plan on OpenVibe.VIP (vip.plan.create, vip.plan.update, vip.plan.archive). POST /api/v1/plans (201) and POST /api/v1/plans/:id/archive → { plan }; PATCH /api/v1/plans/:id → { plan, version, unchanged } (version: the version written, or the latest when unchanged); POST /api/v1/plans/:id/publish → { plan, replay } (replay: it was already published). The plan carries its creator.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "plan",
       "version",
       "unchanged"
      ],
      "properties": {
       "plan": {
        "$ref": "#/components/schemas/vip.plan.v1"
       },
       "version": {
        "$ref": "#/components/schemas/vip.plan-version.v1"
       },
       "unchanged": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "plan",
       "replay"
      ],
      "properties": {
       "plan": {
        "$ref": "#/components/schemas/vip.plan.v1"
       },
       "replay": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "plan"
      ],
      "properties": {
       "plan": {
        "$ref": "#/components/schemas/vip.plan.v1"
       }
      }
     }
    ]
   },
   "vip.plan-update-request.v1": {
    "title": "VipPlanUpdateRequest",
    "description": "vip.plan-update-request@1: bodies of vip.plan.update on OpenVibe.VIP. PATCH /api/v1/plans/:id: { name?, description?, benefits?, perks?, change_note? } writes version N+1 from the latest terms plus these changes (published at once when the plan is published; nothing is written when nothing changed). POST /api/v1/plans/:id/publish takes no body and publishes the latest version. Refusals are problem+json: 404 vip.plan_not_found; 409 vip.plan_archived or vip.plan.billing_product_taken; 422 vip.invalid_input, vip.text_too_long or vip.perk_not_found; 403 capability.denied. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1,
        "maxLength": 80
       },
       "description": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 2000
       },
       "benefits": {
        "description": "At most 20, each at most 200 characters: a list, or one string with one benefit per line.",
        "anyOf": [
         {
          "type": "array",
          "maxItems": 20,
          "items": {
           "type": "string",
           "maxLength": 200
          }
         },
         {
          "type": "string"
         }
        ]
       },
       "perks": {
        "type": "array",
        "maxItems": 30,
        "items": {
         "type": "string"
        },
        "description": "Perk ids (vpk_…) or keys: the creator's own active perks or the network's (422 vip.perk_not_found otherwise)."
       },
       "change_note": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 300
       }
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "vip.plan-version.v1": {
    "title": "VipPlanVersion",
    "description": "vip.plan-version@1: one immutable version of a membership plan on OpenVibe.VIP (server/domain/plans.js presentVersion). An edit always creates version N+1; members keep the version they joined under. terms is the snapshot a member buys (never a price: OpenVibe.Billing prices and charges); perks lists the perks this version includes, by the id, key and name they had when it was written.",
    "type": "object",
    "required": [
     "id",
     "version",
     "name",
     "description",
     "benefits",
     "perks",
     "terms",
     "change_note",
     "created_at",
     "published_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^vpv_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "version": {
      "type": "integer",
      "minimum": 1
     },
     "name": {
      "type": "string",
      "maxLength": 80
     },
     "description": {
      "type": [
       "string",
       "null"
      ],
      "maxLength": 2000
     },
     "benefits": {
      "type": "array",
      "maxItems": 20,
      "items": {
       "type": "string",
       "maxLength": 200
      }
     },
     "perks": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "id",
        "key",
        "name"
       ],
       "properties": {
        "id": {
         "type": "string",
         "pattern": "^vpk_[0-9A-HJKMNP-TV-Z]{26}$"
        },
        "key": {
         "type": "string"
        },
        "name": {
         "type": "string"
        }
       }
      }
     },
     "terms": {
      "type": "object",
      "required": [
       "name",
       "description",
       "benefits",
       "perks",
       "billing_kind",
       "price",
       "digest"
      ],
      "properties": {
       "name": {
        "type": "string"
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "benefits": {
        "type": [
         "array",
         "null"
        ],
        "items": {
         "type": "string"
        }
       },
       "perks": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "key",
          "name",
          "kind",
          "scope"
         ],
         "properties": {
          "key": {
           "type": "string"
          },
          "name": {
           "type": "string"
          },
          "kind": {
           "enum": [
            "badge",
            "emote",
            "gated_content",
            "room",
            "role",
            "other"
           ]
          },
          "scope": {
           "enum": [
            "creator",
            "network"
           ]
          }
         }
        }
       },
       "billing_kind": {
        "enum": [
         "channel_subscription",
         null
        ]
       },
       "price": {
        "type": [
         "string",
         "null"
        ],
        "description": "Never an amount: a note that Billing sets and charges the price, or null."
       },
       "digest": {
        "type": "string",
        "pattern": "^[0-9a-f]{16}$"
       }
      }
     },
     "change_note": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time",
      "description": "null while a draft."
     }
    }
   },
   "vip.plan.v1": {
    "title": "VipPlan",
    "description": "vip.plan@1: a membership plan on OpenVibe.VIP (server/domain/plans.js present). status draft (not offered), published (what new members buy) or archived (no new members; existing members keep their terms until Billing ends their membership). current_version is the published terms; draft_version is a newer unpublished version, if any. purchasable: published and sold through a Billing product (billing_kind). The API adds creator to a single plan it answers about.",
    "type": "object",
    "required": [
     "id",
     "creator_id",
     "slug",
     "status",
     "billing_kind",
     "purchasable",
     "current_version",
     "draft_version",
     "created_at",
     "updated_at",
     "archived_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^vpl_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "creator_id": {
      "type": "string",
      "pattern": "^(vcr_[0-9A-HJKMNP-TV-Z]{26}|network)$"
     },
     "slug": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9-]{0,47}$"
     },
     "status": {
      "enum": [
       "draft",
       "published",
       "archived"
      ]
     },
     "billing_kind": {
      "enum": [
       "channel_subscription",
       null
      ],
      "description": "The Billing product that sells it; null for a plan Billing does not sell (network plans)."
     },
     "purchasable": {
      "type": "boolean"
     },
     "current_version": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/vip.plan-version.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "draft_version": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/vip.plan-version.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "archived_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "creator": {
      "$ref": "#/components/schemas/vip.creator.v1",
      "description": "Present when the API answers about one plan (GET/POST/PATCH /api/v1/plans…)."
     }
    }
   },
   "vip.policy-evaluate-request.v1": {
    "title": "VipPolicyEvaluateRequest",
    "description": "vip.policy-evaluate-request@1: the question of vip.resource.policy.evaluate on OpenVibe.VIP. POST /api/v1/policies/evaluate: { resource, owner, subject?, rule_id?, mode?, fallback? }: may subject see resource, owned (says the product) by creator owner? Only the owner's rule applies; rule_id pins the rule the product expects. fallback is the product's own default gate, used only when the owner has no active rule. A person asks about themselves (403 vip.not_yours otherwise); a service may leave subject out (a signed-out viewer: the answer is no). Nothing is refused for a bad resource, owner or fallback: the answer is allow false with the reason (invalid_resource, owner_required, invalid_fallback, no_rule). Unknown fields are ignored.",
    "type": "object",
    "properties": {
     "resource": {
      "$ref": "#/components/schemas/common.entity-ref.v1"
     },
     "owner": {
      "description": "The creator who owns the resource: a user SubjectRef, usr_ id, or network.",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string",
        "pattern": "^(usr_[0-9A-HJKMNP-TV-Z]{26}|network)$"
       }
      ]
     },
     "subject": {
      "description": "The viewer; null or absent for a signed-out viewer (services only).",
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "string"
       },
       {
        "type": "null"
       }
      ]
     },
     "rule_id": {
      "type": "string",
      "description": "The rule the product believes applies (vgr_…); a mismatch denies."
     },
     "mode": {
      "enum": [
       "auto",
       "authoritative"
      ],
      "description": "authoritative always asks Billing; a sensitive rule always does."
     },
     "fallback": {
      "description": "The product's default gate: { requirement: member, binding?: \"product:binding\" } (or just \"member\"); null or false for none.",
      "anyOf": [
       {
        "type": "object",
        "required": [
         "requirement"
        ],
        "properties": {
         "requirement": {
          "const": "member"
         },
         "binding": {
          "type": [
           "string",
           "null"
          ],
          "pattern": "^[a-z][a-z0-9-]{1,39}[: ][a-z][a-z0-9_.]{1,63}$"
         }
        }
       },
       {
        "const": "member"
       },
       {
        "enum": [
         null,
         false
        ]
       }
      ]
     }
    }
   },
   "vip.policy-evaluate-result.v1": {
    "title": "VipPolicyEvaluateResult",
    "description": "vip.policy-evaluate-result@1: the answer of vip.resource.policy.evaluate on OpenVibe.VIP. POST /api/v1/policies/evaluate → { allow, reason, rule?, entitlement?, fallback? }. It fails closed: no owner, no rule, a disabled rule, a suspended creator, an entitlement VIP cannot confirm, a missing plan or perk, or any error is allow false with the reason. allow true only for the owner themselves (reason owner) or a member meeting the rule (member). fallback true when the product's default gate decided (rule null).",
    "type": "object",
    "required": [
     "allow",
     "reason"
    ],
    "properties": {
     "allow": {
      "type": "boolean"
     },
     "reason": {
      "enum": [
       "owner",
       "member",
       "invalid_resource",
       "invalid_fallback",
       "owner_required",
       "no_rule",
       "rule_mismatch",
       "owner_mismatch",
       "rule_disabled",
       "creator_unavailable",
       "not_signed_in",
       "not_a_member",
       "entitlement_unknown",
       "plan_required",
       "perk_missing"
      ]
     },
     "rule": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/vip.policy-rule.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "entitlement": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/vip.entitlement.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "fallback": {
      "const": true
     }
    }
   },
   "vip.policy-result.v1": {
    "title": "VipPolicyResult",
    "description": "vip.policy-result@1: answers about gated-resource rules on OpenVibe.VIP (vip.resource.policy.get, vip.resource.policy.set). GET /api/v1/policies?service=&type=&id=&owner= → { rule }: the owner's active rule for that resource (owner, the creator's usr_ id or network, is required for services; a person defaults to themselves; 404 vip.rule_not_found when there is none); GET /api/v1/policies[?creator=] → { rules }: a creator's active rules, newest first; GET /api/v1/policies/:id → { rule }; POST /api/v1/policies (201) → { rule }; DELETE /api/v1/policies/:id → { rule } (now disabled).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "rule"
      ],
      "properties": {
       "rule": {
        "$ref": "#/components/schemas/vip.policy-rule.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "rules"
      ],
      "properties": {
       "rules": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/vip.policy-rule.v1"
        }
       }
      }
     }
    ]
   },
   "vip.policy-rule.v1": {
    "title": "VipPolicyRule",
    "description": "vip.policy-rule@1: a gated-resource rule on OpenVibe.VIP (server/domain/policies.js present): resource R (an EntityRef the product owns) is for members of creator C (requirement member), members of one plan (plan, plan_id), or members whose plan version includes a perk (perk, perk_key). sensitive rules always ask Billing, never the projection. A rule that was replaced or removed is disabled.",
    "type": "object",
    "required": [
     "id",
     "creator",
     "creator_id",
     "resource",
     "requirement",
     "plan_id",
     "perk_key",
     "sensitive",
     "status",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^vgr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "creator": {
      "anyOf": [
       {
        "$ref": "#/components/schemas/identity.subject-ref.v1"
       },
       {
        "type": "null"
       }
      ]
     },
     "creator_id": {
      "type": "string",
      "pattern": "^vcr_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "resource": {
      "$ref": "#/components/schemas/common.entity-ref.v1"
     },
     "requirement": {
      "enum": [
       "member",
       "plan",
       "perk"
      ]
     },
     "plan_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "perk_key": {
      "type": [
       "string",
       "null"
      ]
     },
     "sensitive": {
      "type": "boolean"
     },
     "status": {
      "enum": [
       "active",
       "disabled"
      ]
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   },
   "vip.policy-set-request.v1": {
    "title": "VipPolicySetRequest",
    "description": "vip.policy-set-request@1: bodies of vip.resource.policy.set on OpenVibe.VIP. POST /api/v1/policies: { resource, creator?, requirement?, plan_id?, perk_key?, sensitive? } creates the creator's rule for a resource, replacing (disabling) the creator's active rule for the same resource; a service names the creator (a user SubjectRef), a person sets rules for themselves. requirement member (default), plan (members of plan_id, one of the creator's plans) or perk (members whose plan version includes perk_key). DELETE /api/v1/policies/:id takes no body and disables the rule. Refusals are problem+json: 422 vip.invalid_input (no EntityRef resource, a bad requirement, the network as creator), vip.plan_not_found or vip.perk_not_found; 404 vip.rule_not_found; 403 capability.denied or vip.not_yours. Unknown fields are ignored.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "resource"
      ],
      "properties": {
       "resource": {
        "$ref": "#/components/schemas/common.entity-ref.v1"
       },
       "creator": {
        "description": "The creator the rule belongs to.",
        "anyOf": [
         {
          "$ref": "#/components/schemas/identity.subject-ref.v1"
         },
         {
          "type": "string",
          "pattern": "^usr_[0-9A-HJKMNP-TV-Z]{26}$"
         }
        ]
       },
       "requirement": {
        "enum": [
         "member",
         "plan",
         "perk"
        ]
       },
       "plan_id": {
        "type": [
         "string",
         "null"
        ],
        "description": "Required with requirement plan."
       },
       "perk_key": {
        "type": [
         "string",
         "null"
        ],
        "maxLength": 48,
        "description": "Required with requirement perk: a key of the creator's perks or the network's."
       },
       "sensitive": {
        "type": [
         "boolean",
         "integer",
         "string"
        ],
        "description": "Always ask Billing (never the projection) when evaluating."
       }
      },
      "allOf": [
       {
        "if": {
         "required": [
          "requirement"
         ],
         "properties": {
          "requirement": {
           "const": "plan"
          }
         }
        },
        "then": {
         "required": [
          "plan_id"
         ],
         "properties": {
          "plan_id": {
           "type": "string"
          }
         }
        }
       },
       {
        "if": {
         "required": [
          "requirement"
         ],
         "properties": {
          "requirement": {
           "const": "perk"
          }
         }
        },
        "then": {
         "required": [
          "perk_key"
         ],
         "properties": {
          "perk_key": {
           "type": "string",
           "minLength": 1
          }
         }
        }
       }
      ]
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
