{
 "openapi": "3.1.0",
 "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
 "info": {
  "title": "OpenVibe.Wiki API",
  "version": "0.66.0",
  "description": "Routes of OpenVibe.Wiki as the OpenVibe contracts describe them (openvibe-contracts 0.66.0): each operation lists the capabilities it performs; a token for the service's audience must carry one of them unless the route is open. Generated by openvibe-contracts lib/openapi.js; do not edit.",
  "license": {
   "name": "MIT",
   "identifier": "MIT"
  }
 },
 "servers": [
  {
   "url": "https://openvibe.wiki"
  }
 ],
 "paths": {
  "/api/v1/pages/{id}": {
   "delete": {
    "operationId": "delete_api_v1_pages_id",
    "summary": "Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and",
    "description": "**wiki.page.create** (first-party): Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and check them, on behalf of the person named in X-OV-Subject, who must be an editor of the space. Deleting pages, changing page visibility and importing a bundle of pages into the space need the owner role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.create"
      ]
     }
    ],
    "x-openvibe-input": {
     "$ref": "#/components/schemas/wiki.page-write-request.v1"
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "get": {
    "operationId": "get_api_v1_pages_id",
    "summary": "Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only).",
    "description": "**wiki.page.read** (first-party): Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only). Members-only and private pages follow the space's roles; drafts and history of unpublished pages need the editor role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-read",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "patch": {
    "operationId": "patch_api_v1_pages_id",
    "summary": "Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and",
    "description": "**wiki.page.create** (first-party): Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and check them, on behalf of the person named in X-OV-Subject, who must be an editor of the space. Deleting pages, changing page visibility and importing a bundle of pages into the space need the owner role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.page-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/diff": {
   "get": {
    "operationId": "get_api_v1_pages_id_diff",
    "summary": "Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only).",
    "description": "**wiki.page.read** (first-party): Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only). Members-only and private pages follow the space's roles; drafts and history of unpublished pages need the editor role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-read",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/media": {
   "post": {
    "operationId": "post_api_v1_pages_id_media",
    "summary": "Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and",
    "description": "**wiki.page.create** (first-party): Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and check them, on behalf of the person named in X-OV-Subject, who must be an editor of the space. Deleting pages, changing page visibility and importing a bundle of pages into the space need the owner role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.page-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/media/verify": {
   "post": {
    "operationId": "post_api_v1_pages_id_media_verify",
    "summary": "Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and",
    "description": "**wiki.page.create** (first-party): Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and check them, on behalf of the person named in X-OV-Subject, who must be an editor of the space. Deleting pages, changing page visibility and importing a bundle of pages into the space need the owner role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.page-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/publish": {
   "post": {
    "operationId": "post_api_v1_pages_id_publish",
    "summary": "Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of",
    "description": "**wiki.revision.publish** (first-party): Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of the editor named in X-OV-Subject. AI-generated revisions cannot be published without an approving review by a person.",
    "tags": [
     "wiki.revision"
    ],
    "x-openvibe-capabilities": [
     "wiki.revision.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.revision.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/revert": {
   "post": {
    "operationId": "post_api_v1_pages_id_revert",
    "summary": "Revert a page to an earlier revision by adding a new revision that copies its text, infobox and citations (history is never rewritten), on behalf of the editor named in X-OV-Subject.",
    "description": "**wiki.revision.revert** (first-party): Revert a page to an earlier revision by adding a new revision that copies its text, infobox and citations (history is never rewritten), on behalf of the editor named in X-OV-Subject. A revert of a published page is published.",
    "tags": [
     "wiki.revision"
    ],
    "x-openvibe-capabilities": [
     "wiki.revision.revert"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.revision.revert"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.revert-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.revert-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/revisions": {
   "get": {
    "operationId": "get_api_v1_pages_id_revisions",
    "summary": "Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only).",
    "description": "**wiki.page.read** (first-party): Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only). Members-only and private pages follow the space's roles; drafts and history of unpublished pages need the editor role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-read",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_pages_id_revisions",
    "summary": "Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and",
    "description": "**wiki.page.create** (first-party): Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and check them, on behalf of the person named in X-OV-Subject, who must be an editor of the space. Deleting pages, changing page visibility and importing a bundle of pages into the space need the owner role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.page-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/revisions/{n}": {
   "get": {
    "operationId": "get_api_v1_pages_id_revisions_n",
    "summary": "Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only).",
    "description": "**wiki.page.read** (first-party): Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only). Members-only and private pages follow the space's roles; drafts and history of unpublished pages need the editor role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-read",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/revisions/{n}/citations": {
   "get": {
    "operationId": "get_api_v1_pages_id_revisions_n_citations",
    "summary": "Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only).",
    "description": "**wiki.page.read** (first-party): Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only). Members-only and private pages follow the space's roles; drafts and history of unpublished pages need the editor role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-read",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   },
   "post": {
    "operationId": "post_api_v1_pages_id_revisions_n_citations",
    "summary": "Attach citations (an OpenVibe.Sources item id, whose URL, title, retrieval time and license come from the item's provenance, or an http(s) URL with its retrieval time) to the newest, unpublished revis",
    "description": "**wiki.citation.attach** (first-party): Attach citations (an OpenVibe.Sources item id, whose URL, title, retrieval time and license come from the item's provenance, or an http(s) URL with its retrieval time) to the newest, unpublished revision of a page. Citations are append-only and stay with the revision that used them.",
    "tags": [
     "wiki.citation"
    ],
    "x-openvibe-capabilities": [
     "wiki.citation.attach"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.citation.attach"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.citation-attach-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.citation-attach-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/revisions/{n}/review": {
   "post": {
    "operationId": "post_api_v1_pages_id_revisions_n_review",
    "summary": "Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of",
    "description": "**wiki.revision.publish** (first-party): Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of the editor named in X-OV-Subject. AI-generated revisions cannot be published without an approving review by a person.",
    "tags": [
     "wiki.revision"
    ],
    "x-openvibe-capabilities": [
     "wiki.revision.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.revision.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "n",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/schedule": {
   "post": {
    "operationId": "post_api_v1_pages_id_schedule",
    "summary": "Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of",
    "description": "**wiki.revision.publish** (first-party): Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of the editor named in X-OV-Subject. AI-generated revisions cannot be published without an approving review by a person.",
    "tags": [
     "wiki.revision"
    ],
    "x-openvibe-capabilities": [
     "wiki.revision.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.revision.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/pages/{id}/unpublish": {
   "post": {
    "operationId": "post_api_v1_pages_id_unpublish",
    "summary": "Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of",
    "description": "**wiki.revision.publish** (first-party): Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of the editor named in X-OV-Subject. AI-generated revisions cannot be published without an approving review by a person.",
    "tags": [
     "wiki.revision"
    ],
    "x-openvibe-capabilities": [
     "wiki.revision.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.revision.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/proposals": {
   "post": {
    "operationId": "post_api_v1_proposals",
    "summary": "Propose a revision (or a new page) as the output of an OpenVibe.AI workflow run.",
    "description": "**wiki.revision.propose** (first-party): Propose a revision (or a new page) as the output of an OpenVibe.AI workflow run. The proposal becomes an immutable revision with ai authorship (workflow id and run id, stub-provider flag) and a pending proposal; it is never published until a person with the editor role approves it.",
    "tags": [
     "wiki.revision"
    ],
    "x-openvibe-capabilities": [
     "wiki.revision.propose"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.revision.propose"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.proposal-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.proposal-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/proposals/{id}": {
   "get": {
    "operationId": "get_api_v1_proposals_id",
    "summary": "Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only).",
    "description": "**wiki.page.read** (first-party): Read pages, revisions, diffs, citations and AI proposals as the person named in X-OV-Subject sees them (without a subject: public, published content only). Members-only and private pages follow the space's roles; drafts and history of unpublished pages need the editor role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.read"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-read",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.read"
      ]
     }
    ],
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-read-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/proposals/{id}/review": {
   "post": {
    "operationId": "post_api_v1_proposals_id_review",
    "summary": "Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of",
    "description": "**wiki.revision.publish** (first-party): Publish a revision now or at a scheduled time (idempotent), unpublish a page, and record a person's review (approved or rejected) of an AI proposal or of an existing AI-assisted revision, on behalf of the editor named in X-OV-Subject. AI-generated revisions cannot be published without an approving review by a person.",
    "tags": [
     "wiki.revision"
    ],
    "x-openvibe-capabilities": [
     "wiki.revision.publish"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.revision.publish"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.publish-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "id",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.publish-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/search": {
   "get": {
    "operationId": "get_api_v1_search",
    "summary": "Search published pages by title and text, returning only pages the person named in X-OV-Subject may read (without a subject: public pages only).",
    "description": "**wiki.search.query** (first-party): Search published pages by title and text, returning only pages the person named in X-OV-Subject may read (without a subject: public pages only). Network-wide discovery goes through OpenVibe.Search, which Wiki feeds with wiki.index_document.* events.",
    "tags": [
     "wiki.search"
    ],
    "x-openvibe-capabilities": [
     "wiki.search.query"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-read",
    "security": [
     {
      "openvibeToken": [
       "wiki.search.query"
      ]
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.search-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces": {
   "post": {
    "operationId": "post_api_v1_spaces",
    "summary": "Create a wiki space and change a space's settings and roles.",
    "description": "**wiki.space.create** (first-party): Create a wiki space and change a space's settings and roles. People create user spaces they own; official (editorial) spaces are created by staff or by a service acting as itself. Settings and role changes need the owner role of the space (for a service: the X-OV-Subject person).",
    "tags": [
     "wiki.space"
    ],
    "x-openvibe-capabilities": [
     "wiki.space.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.space.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.space-write-request.v1"
       }
      }
     }
    },
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.space-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}": {
   "patch": {
    "operationId": "patch_api_v1_spaces_space",
    "summary": "Create a wiki space and change a space's settings and roles.",
    "description": "**wiki.space.create** (first-party): Create a wiki space and change a space's settings and roles. People create user spaces they own; official (editorial) spaces are created by staff or by a service acting as itself. Settings and role changes need the owner role of the space (for a service: the X-OV-Subject person).",
    "tags": [
     "wiki.space"
    ],
    "x-openvibe-capabilities": [
     "wiki.space.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.space.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.space-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.space-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/import": {
   "post": {
    "operationId": "post_api_v1_spaces_space_import",
    "summary": "Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and",
    "description": "**wiki.page.create** (first-party): Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and check them, on behalf of the person named in X-OV-Subject, who must be an editor of the space. Deleting pages, changing page visibility and importing a bundle of pages into the space need the owner role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.page-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/pages": {
   "post": {
    "operationId": "post_api_v1_spaces_space_pages",
    "summary": "Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and",
    "description": "**wiki.page.create** (first-party): Create pages and write human-authored revisions (text, typed infobox values, citations), move or rename pages (old addresses answer 301), attach OpenVibe.Media objects the person can read in Media and check them, on behalf of the person named in X-OV-Subject, who must be an editor of the space. Deleting pages, changing page visibility and importing a bundle of pages into the space need the owner role.",
    "tags": [
     "wiki.page"
    ],
    "x-openvibe-capabilities": [
     "wiki.page.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.page.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.page-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.page-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  },
  "/api/v1/spaces/{space}/roles/{subject}": {
   "put": {
    "operationId": "put_api_v1_spaces_space_roles_subject",
    "summary": "Create a wiki space and change a space's settings and roles.",
    "description": "**wiki.space.create** (first-party): Create a wiki space and change a space's settings and roles. People create user spaces they own; official (editorial) spaces are created by staff or by a service acting as itself. Settings and role changes need the owner role of the space (for a service: the X-OV-Subject person).",
    "tags": [
     "wiki.space"
    ],
    "x-openvibe-capabilities": [
     "wiki.space.create"
    ],
    "x-openvibe-visibility": [
     "first-party"
    ],
    "x-openvibe-quota-class": "wiki-write",
    "security": [
     {
      "openvibeToken": [
       "wiki.space.create"
      ]
     }
    ],
    "requestBody": {
     "required": false,
     "content": {
      "application/json": {
       "schema": {
        "$ref": "#/components/schemas/wiki.space-write-request.v1"
       }
      }
     }
    },
    "parameters": [
     {
      "name": "space",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     },
     {
      "name": "subject",
      "in": "path",
      "required": true,
      "schema": {
       "type": "string"
      }
     }
    ],
    "responses": {
     "2XX": {
      "description": "Success",
      "content": {
       "application/json": {
        "schema": {
         "$ref": "#/components/schemas/wiki.space-write-result.v1"
        }
       }
      }
     },
     "default": {
      "description": "An error (RFC 9457 problem details)",
      "content": {
       "application/problem+json": {
        "schema": {
         "$ref": "#/components/schemas/errors.problem.v1"
        }
       }
      }
     }
    }
   }
  }
 },
 "components": {
  "schemas": {
   "common.no-body.v1": {
    "title": "NoBody",
    "description": "common.no-body@1: the capability's request carries no body; its parameters are the path and query of the routes in implementedBy (an id, a page cursor). An input schema that says so explicitly, so every active capability names one (roadmap WS-C task 4).",
    "type": "object",
    "maxProperties": 0
   },
   "errors.problem.v1": {
    "title": "Problem",
    "description": "RFC 9457 problem details (application/problem+json) with a stable OpenVibe error code and trace identifiers. The legacy 'error' string is allowed during migration so existing clients keep working.",
    "type": "object",
    "required": [
     "type",
     "title",
     "status",
     "code"
    ],
    "additionalProperties": true,
    "properties": {
     "type": {
      "type": "string",
      "format": "uri-reference"
     },
     "title": {
      "type": "string",
      "minLength": 1
     },
     "status": {
      "type": "integer",
      "minimum": 400,
      "maximum": 599
     },
     "detail": {
      "type": "string"
     },
     "instance": {
      "type": "string",
      "format": "uri-reference"
     },
     "code": {
      "type": "string",
      "pattern": "^[a-z][a-z0-9_]*(\\.[a-z0-9_]+)*$"
     },
     "request_id": {
      "type": "string"
     },
     "trace_id": {
      "type": "string",
      "pattern": "^[0-9a-f]{32}$"
     },
     "errors": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "message"
       ],
       "properties": {
        "path": {
         "type": "string"
        },
        "message": {
         "type": "string"
        }
       }
      }
     },
     "error": {
      "type": "string",
      "description": "Deprecated compatibility field: same text as title/detail for clients that read {error}."
     }
    }
   },
   "wiki.citation-attach-request.v1": {
    "title": "WikiCitationAttachRequest",
    "description": "wiki.citation-attach-request@1: the body of POST /api/v1/pages/:id/revisions/:n/citations on OpenVibe.Wiki (wiki.citation.attach, editors): sources for the newest revision while it is unpublished (a published revision's sources are fixed: 409 citation.revision_published; an older one is 409 citation.not_head). A URL citation needs retrieved_at; a Sources item id brings its own URL, title and retrieval time.",
    "type": "object",
    "required": [
     "citations"
    ],
    "properties": {
     "citations": {
      "type": "array",
      "maxItems": 50,
      "description": "At most 50. Each needs a URL (with retrieved_at) or a Sources item id (url, title and retrieval come from the item).",
      "items": {
       "type": "object",
       "properties": {
        "url": {
         "type": [
          "string",
          "null"
         ]
        },
        "title": {
         "type": [
          "string",
          "null"
         ]
        },
        "source_item_id": {
         "type": [
          "string",
          "null"
         ]
        },
        "retrieved_at": {
         "type": [
          "string",
          "null"
         ]
        },
        "quote": {
         "anyOf": [
          {
           "type": "string"
          },
          {
           "type": "object",
           "properties": {
            "text": {
             "type": "string"
            }
           }
          },
          {
           "type": "null"
          }
         ],
         "description": "Cut to 5000 characters."
        },
        "license_note": {
         "type": [
          "string",
          "null"
         ]
        },
        "anchor": {
         "type": [
          "string",
          "null"
         ]
        }
       }
      }
     }
    }
   },
   "wiki.citation-attach-result.v1": {
    "title": "WikiCitationAttachResult",
    "description": "wiki.citation-attach-result@1: the answer of POST /api/v1/pages/:id/revisions/:n/citations on OpenVibe.Wiki: 201 { citations } (the citations attached).",
    "type": "object",
    "required": [
     "citations"
    ],
    "properties": {
     "citations": {
      "type": "array",
      "items": {
       "$ref": "#/components/schemas/wiki.citation.v1"
      }
     }
    }
   },
   "wiki.citation.v1": {
    "title": "WikiCitation",
    "description": "wiki.citation@1: one source cited by a page revision (server/http/api.js serializeCitation), a URL read at a time or a OpenVibe.Sources item, with an optional quote and licence note. Citations of a published revision are fixed.",
    "type": "object",
    "required": [
     "id",
     "revision"
    ],
    "properties": {
     "id": {
      "type": [
       "string",
       "integer"
      ]
     },
     "revision": {
      "type": "integer"
     },
     "url": {
      "type": [
       "string",
       "null"
      ]
     },
     "title": {
      "type": [
       "string",
       "null"
      ]
     },
     "source_item_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "retrieved_at": {
      "type": [
       "string",
       "integer",
       "null"
      ]
     },
     "quote": {},
     "license_note": {
      "type": [
       "string",
       "null"
      ]
     },
     "carried_from": {},
     "attached_by": {
      "type": [
       "string",
       "null"
      ]
     },
     "attached_at": {
      "type": [
       "string",
       "integer",
       "null"
      ]
     }
    }
   },
   "wiki.page-read-result.v1": {
    "title": "WikiPageReadResult",
    "description": "wiki.page-read-result@1: answers of wiki.page.read on OpenVibe.Wiki (pages the caller may read; others are 404). GET /api/v1/pages/:id[?revision=] → { page, revision, citations, infobox, attachments, links, indexability, discussion_thread }; GET …/revisions?before=&limit= → { revisions } (without bodies; each says whether it is published, its citation count and any AI proposal); GET …/revisions/:n → { revision, citations, infobox }; GET …/diff?from=&to=&mode= → { diff }; GET …/revisions/:n/citations → { citations }; GET /api/v1/proposals/:id → { proposal }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "page",
       "revision",
       "citations",
       "indexability"
      ],
      "properties": {
       "page": {
        "$ref": "#/components/schemas/wiki.page.v1"
       },
       "revision": {
        "$ref": "#/components/schemas/wiki.revision.v1"
       },
       "citations": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/wiki.citation.v1"
        }
       },
       "infobox": {},
       "attachments": {
        "type": "array"
       },
       "links": {
        "type": "array",
        "items": {
         "type": "object",
         "properties": {
          "space": {
           "type": "string"
          },
          "slug": {
           "type": "string"
          },
          "label": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       },
       "indexability": {
        "type": "object",
        "required": [
         "indexable"
        ],
        "properties": {
         "indexable": {
          "type": "boolean"
         },
         "reasons": {
          "type": "array",
          "items": {
           "type": "string"
          }
         }
        }
       },
       "discussion_thread": {}
      }
     },
     {
      "type": "object",
      "required": [
       "revisions"
      ],
      "properties": {
       "revisions": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/wiki.revision.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "revision",
       "citations"
      ],
      "properties": {
       "revision": {
        "$ref": "#/components/schemas/wiki.revision.v1"
       },
       "citations": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/wiki.citation.v1"
        }
       },
       "infobox": {}
      }
     },
     {
      "type": "object",
      "required": [
       "diff"
      ],
      "properties": {
       "diff": {
        "type": "object"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "citations"
      ],
      "properties": {
       "citations": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/wiki.citation.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "proposal"
      ],
      "properties": {
       "proposal": {
        "type": "object",
        "required": [
         "id",
         "page_id",
         "status"
        ],
        "properties": {
         "id": {
          "type": "string"
         },
         "page_id": {
          "type": "string"
         },
         "space_id": {
          "type": "string"
         },
         "revision": {
          "type": "integer"
         },
         "base_revision": {
          "type": "integer"
         },
         "workflow_id": {
          "type": "string"
         },
         "run_id": {
          "type": "string"
         },
         "status": {
          "enum": [
           "pending",
           "approved",
           "rejected"
          ]
         }
        }
       }
      }
     }
    ]
   },
   "wiki.page-write-request.v1": {
    "title": "WikiPageWriteRequest",
    "description": "wiki.page-write-request@1: bodies of wiki.page.create on OpenVibe.Wiki (editors of the space; a service acts for the person in X-OV-Subject). POST /api/v1/spaces/:space/pages: { title, body, summary?, infobox?, parent_id?, visibility?, citations?, message? } (title at most 200 characters, summary 300, body Markdown up to 200000). POST /api/v1/pages/:id/revisions: { expected_revision, body?, title?, summary?, infobox?, citations?, keep_citations?, message? } (expected_revision is the head you edited; a stale one is 412). PATCH /api/v1/pages/:id: { slug?, parent_id?, visibility?, noindex? } (visibility and noindex by an owner). POST /api/v1/pages/:id/media: { media_id, alt?, caption? } (a Media object the person can read, not private, ready). POST /api/v1/spaces/:space/import: { pages, publish?, on_existing?, source?, original_author?, ai_assisted? } (an owner; all or nothing; unknown keys refused). DELETE /api/v1/pages/:id and POST /api/v1/pages/:id/media/verify take no body.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "title"
      ],
      "properties": {
       "title": {
        "type": "string",
        "minLength": 1,
        "maxLength": 200
       },
       "body": {
        "type": "string",
        "maxLength": 200000
       },
       "summary": {
        "type": [
         "string",
         "null"
        ]
       },
       "infobox": {
        "type": "array",
        "description": "Infobox rows: key, type (text, number, date, url, boolean, page, media) and value.",
        "items": {
         "type": "object"
        }
       },
       "parent_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "visibility": {
        "enum": [
         "public",
         "members",
         "vip",
         "private"
        ]
       },
       "citations": {
        "type": "array",
        "maxItems": 50,
        "description": "At most 50. Each needs a URL (with retrieved_at) or a Sources item id (url, title and retrieval come from the item).",
        "items": {
         "type": "object",
         "properties": {
          "url": {
           "type": [
            "string",
            "null"
           ]
          },
          "title": {
           "type": [
            "string",
            "null"
           ]
          },
          "source_item_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "retrieved_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "quote": {
           "anyOf": [
            {
             "type": "string"
            },
            {
             "type": "object",
             "properties": {
              "text": {
               "type": "string"
              }
             }
            },
            {
             "type": "null"
            }
           ],
           "description": "Cut to 5000 characters."
          },
          "license_note": {
           "type": [
            "string",
            "null"
           ]
          },
          "anchor": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       },
       "message": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "expected_revision"
      ],
      "properties": {
       "expected_revision": {
        "type": "integer",
        "minimum": 0
       },
       "title": {
        "type": "string",
        "maxLength": 200
       },
       "body": {
        "type": "string",
        "maxLength": 200000
       },
       "summary": {
        "type": [
         "string",
         "null"
        ]
       },
       "infobox": {
        "type": "array",
        "description": "Infobox rows: key, type (text, number, date, url, boolean, page, media) and value.",
        "items": {
         "type": "object"
        }
       },
       "citations": {
        "type": "array",
        "maxItems": 50,
        "description": "At most 50. Each needs a URL (with retrieved_at) or a Sources item id (url, title and retrieval come from the item).",
        "items": {
         "type": "object",
         "properties": {
          "url": {
           "type": [
            "string",
            "null"
           ]
          },
          "title": {
           "type": [
            "string",
            "null"
           ]
          },
          "source_item_id": {
           "type": [
            "string",
            "null"
           ]
          },
          "retrieved_at": {
           "type": [
            "string",
            "null"
           ]
          },
          "quote": {
           "anyOf": [
            {
             "type": "string"
            },
            {
             "type": "object",
             "properties": {
              "text": {
               "type": "string"
              }
             }
            },
            {
             "type": "null"
            }
           ],
           "description": "Cut to 5000 characters."
          },
          "license_note": {
           "type": [
            "string",
            "null"
           ]
          },
          "anchor": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       },
       "keep_citations": {
        "description": "Which earlier citations carry over: all (default) or a list."
       },
       "message": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "properties": {
       "slug": {
        "type": "string"
       },
       "parent_id": {
        "type": [
         "string",
         "null"
        ]
       },
       "visibility": {
        "enum": [
         "public",
         "members",
         "vip",
         "private"
        ]
       },
       "noindex": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "media_id"
      ],
      "properties": {
       "media_id": {
        "type": "string",
        "pattern": "^(med_[0-9A-HJKMNP-TV-Z]{26}|legacy:[a-z][a-z0-9-]{1,39}:(vod|clip|file|paste|thumbnail|avatar):[A-Za-z0-9._/-]{1,200})$"
       },
       "alt": {
        "type": [
         "string",
         "null"
        ]
       },
       "caption": {
        "type": [
         "string",
         "null"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "pages"
      ],
      "additionalProperties": false,
      "properties": {
       "pages": {
        "type": "array",
        "minItems": 1,
        "items": {
         "type": "object",
         "required": [
          "title"
         ],
         "additionalProperties": false,
         "properties": {
          "title": {
           "type": "string"
          },
          "body": {
           "type": "string"
          },
          "summary": {
           "type": [
            "string",
            "null"
           ],
           "maxLength": 300
          },
          "parent": {
           "type": [
            "string",
            "null"
           ]
          },
          "infobox": {
           "type": "array",
           "description": "Infobox rows: key, type (text, number, date, url, boolean, page, media) and value.",
           "items": {
            "type": "object"
           }
          },
          "citations": {
           "type": "array",
           "maxItems": 50,
           "description": "At most 50. Each needs a URL (with retrieved_at) or a Sources item id (url, title and retrieval come from the item).",
           "items": {
            "type": "object",
            "properties": {
             "url": {
              "type": [
               "string",
               "null"
              ]
             },
             "title": {
              "type": [
               "string",
               "null"
              ]
             },
             "source_item_id": {
              "type": [
               "string",
               "null"
              ]
             },
             "retrieved_at": {
              "type": [
               "string",
               "null"
              ]
             },
             "quote": {
              "anyOf": [
               {
                "type": "string"
               },
               {
                "type": "object",
                "properties": {
                 "text": {
                  "type": "string"
                 }
                }
               },
               {
                "type": "null"
               }
              ],
              "description": "Cut to 5000 characters."
             },
             "license_note": {
              "type": [
               "string",
               "null"
              ]
             },
             "anchor": {
              "type": [
               "string",
               "null"
              ]
             }
            }
           }
          },
          "visibility": {
           "enum": [
            "public",
            "members",
            "vip",
            "private"
           ]
          },
          "message": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       },
       "publish": {
        "type": "boolean"
       },
       "on_existing": {
        "enum": [
         "fail",
         "skip"
        ]
       },
       "source": {},
       "original_author": {},
       "ai_assisted": {},
       "space": {}
      }
     },
     {
      "$ref": "#/components/schemas/common.no-body.v1"
     }
    ]
   },
   "wiki.page-write-result.v1": {
    "title": "WikiPageWriteResult",
    "description": "wiki.page-write-result@1: answers of wiki.page.create on OpenVibe.Wiki. Creating a page → 201 { page, revision, citations }; a new revision → { page, revision, created, citations } (201 when a revision was made, 200 when nothing changed); PATCH and DELETE /api/v1/pages/:id → { page }; POST …/media → 201 { attachment }; POST …/media/verify → { results }; POST …/import → 201 { space, published, skipped, created } (each created page with its revision number).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "page",
       "revision"
      ],
      "properties": {
       "page": {
        "$ref": "#/components/schemas/wiki.page.v1"
       },
       "revision": {
        "$ref": "#/components/schemas/wiki.revision.v1"
       },
       "created": {
        "type": "boolean"
       },
       "citations": {
        "type": "array",
        "items": {
         "$ref": "#/components/schemas/wiki.citation.v1"
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "page"
      ],
      "properties": {
       "page": {
        "$ref": "#/components/schemas/wiki.page.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "attachment"
      ],
      "properties": {
       "attachment": {
        "type": "object",
        "required": [
         "id",
         "media_id"
        ],
        "properties": {
         "id": {
          "type": [
           "string",
           "integer"
          ]
         },
         "media_id": {
          "type": "string"
         },
         "alt": {
          "type": [
           "string",
           "null"
          ]
         },
         "caption": {
          "type": [
           "string",
           "null"
          ]
         },
         "state": {
          "type": "string"
         },
         "broken_reason": {
          "type": [
           "string",
           "null"
          ]
         },
         "checked_at": {},
         "attached_by": {
          "type": [
           "string",
           "null"
          ]
         }
        }
       }
      }
     },
     {
      "type": "object",
      "required": [
       "results"
      ],
      "properties": {
       "results": {
        "type": "array"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "space",
       "created"
      ],
      "properties": {
       "space": {
        "$ref": "#/components/schemas/wiki.space.v1"
       },
       "published": {},
       "skipped": {},
       "created": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "id",
          "revision"
         ],
         "properties": {
          "id": {
           "type": "string"
          },
          "revision": {
           "type": "integer"
          }
         }
        }
       }
      }
     }
    ]
   },
   "wiki.page.v1": {
    "title": "WikiPage",
    "description": "wiki.page@1: one wiki page as OpenVibe.Wiki's API shows it (server/http/api.js serializePage); in a space's page tree each page also lists its children.",
    "type": "object",
    "required": [
     "id",
     "space",
     "slug",
     "title",
     "parent_id",
     "state",
     "visibility",
     "noindex",
     "published_revision",
     "updated_at",
     "url"
    ],
    "properties": {
     "id": {
      "type": "string",
      "pattern": "^pg_[0-9A-HJKMNP-TV-Z]{26}$"
     },
     "space": {
      "type": "string"
     },
     "slug": {
      "type": "string"
     },
     "title": {
      "type": "string",
      "maxLength": 200
     },
     "parent_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "state": {
      "type": "string",
      "description": "draft, published, deleted, …"
     },
     "visibility": {
      "enum": [
       "public",
       "members",
       "vip",
       "private"
      ]
     },
     "noindex": {
      "type": "boolean"
     },
     "published_revision": {
      "type": [
       "integer",
       "null"
      ]
     },
     "published_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "revision_published_at": {
      "type": [
       "string",
       "null"
      ],
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     },
     "url": {
      "type": "string"
     },
     "children": {
      "type": "array",
      "items": {
       "type": "object"
      }
     }
    }
   },
   "wiki.proposal-request.v1": {
    "title": "WikiProposalRequest",
    "description": "wiki.proposal-request@1: the body of POST /api/v1/proposals on OpenVibe.Wiki (wiki.revision.propose; first-party service principals only, i.e. OpenVibe.AI): an AI-written revision of an existing page (page_id, optionally expected_revision: a stale one is 412) or a new page in a space (space and title). It names the OpenVibe.AI workflow and run that wrote it; it is never published until a person approves it.",
    "type": "object",
    "required": [
     "workflow"
    ],
    "anyOf": [
     {
      "required": [
       "page_id"
      ]
     },
     {
      "required": [
       "space"
      ]
     }
    ],
    "properties": {
     "space": {
      "type": "string"
     },
     "page_id": {
      "type": [
       "string",
       "null"
      ]
     },
     "title": {
      "type": "string",
      "maxLength": 200
     },
     "body": {
      "type": "string",
      "maxLength": 200000
     },
     "summary": {
      "type": [
       "string",
       "null"
      ]
     },
     "infobox": {
      "type": "array",
      "description": "Infobox rows: key, type (text, number, date, url, boolean, page, media) and value.",
      "items": {
       "type": "object"
      }
     },
     "citations": {
      "type": "array",
      "maxItems": 50,
      "description": "At most 50. Each needs a URL (with retrieved_at) or a Sources item id (url, title and retrieval come from the item).",
      "items": {
       "type": "object",
       "properties": {
        "url": {
         "type": [
          "string",
          "null"
         ]
        },
        "title": {
         "type": [
          "string",
          "null"
         ]
        },
        "source_item_id": {
         "type": [
          "string",
          "null"
         ]
        },
        "retrieved_at": {
         "type": [
          "string",
          "null"
         ]
        },
        "quote": {
         "anyOf": [
          {
           "type": "string"
          },
          {
           "type": "object",
           "properties": {
            "text": {
             "type": "string"
            }
           }
          },
          {
           "type": "null"
          }
         ],
         "description": "Cut to 5000 characters."
        },
        "license_note": {
         "type": [
          "string",
          "null"
         ]
        },
        "anchor": {
         "type": [
          "string",
          "null"
         ]
        }
       }
      }
     },
     "workflow": {
      "type": "object",
      "required": [
       "id"
      ],
      "anyOf": [
       {
        "required": [
         "run_id"
        ]
       },
       {
        "required": [
         "runId"
        ]
       }
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "run_id": {
        "type": "string"
       },
       "runId": {
        "type": "string"
       },
       "version": {},
       "model": {}
      }
     },
     "stub_provider": {
      "type": "boolean"
     },
     "expected_revision": {
      "type": [
       "integer",
       "null"
      ]
     },
     "note": {
      "type": [
       "string",
       "null"
      ]
     }
    }
   },
   "wiki.proposal-result.v1": {
    "title": "WikiProposalResult",
    "description": "wiki.proposal-result@1: the answer of POST /api/v1/proposals on OpenVibe.Wiki: 201 { proposal, page, revision } (the proposal is pending; the page's watchers are told).",
    "type": "object",
    "required": [
     "proposal",
     "page",
     "revision"
    ],
    "properties": {
     "proposal": {
      "type": "object",
      "required": [
       "id",
       "status"
      ],
      "properties": {
       "id": {
        "type": "string"
       },
       "status": {
        "type": "string"
       }
      }
     },
     "page": {
      "$ref": "#/components/schemas/wiki.page.v1"
     },
     "revision": {
      "$ref": "#/components/schemas/wiki.revision.v1"
     }
    }
   },
   "wiki.publish-request.v1": {
    "title": "WikiPublishRequest",
    "description": "wiki.publish-request@1: bodies of wiki.revision.publish on OpenVibe.Wiki (editors). POST /api/v1/pages/:id/publish: { revision? } (default the head; an AI revision needs a person's approval first). POST /api/v1/pages/:id/schedule: { run_at, revision? } (ISO 8601). POST /api/v1/pages/:id/revisions/:n/review and POST /api/v1/proposals/:id/review: { decision: approved | rejected, note?, publish? } (a person; a proposal is published on approval unless publish is false). POST /api/v1/pages/:id/unpublish takes no body.",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "revision": {
        "type": [
         "integer",
         "null"
        ],
        "minimum": 1
       },
       "run_at": {
        "type": "string"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "decision"
      ],
      "properties": {
       "decision": {
        "enum": [
         "approved",
         "rejected"
        ]
       },
       "note": {
        "type": [
         "string",
         "null"
        ]
       },
       "publish": {
        "type": "boolean"
       }
      }
     }
    ]
   },
   "wiki.publish-result.v1": {
    "title": "WikiPublishResult",
    "description": "wiki.publish-result@1: answers of wiki.revision.publish on OpenVibe.Wiki. POST …/publish and …/unpublish → { page, action }; POST …/schedule → { job, created } (201 when created); POST …/revisions/:n/review → 201 { review, page, action, indexable, reasons }; POST /api/v1/proposals/:id/review → { proposal, published }.",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "page",
       "action"
      ],
      "properties": {
       "page": {
        "$ref": "#/components/schemas/wiki.page.v1"
       },
       "action": {},
       "review": {
        "type": "object"
       },
       "indexable": {
        "type": "boolean"
       },
       "reasons": {
        "type": "array"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "job",
       "created"
      ],
      "properties": {
       "job": {
        "type": "object"
       },
       "created": {
        "type": "boolean"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "proposal",
       "published"
      ],
      "properties": {
       "proposal": {
        "type": "object",
        "required": [
         "id",
         "status"
        ],
        "properties": {
         "id": {
          "type": "string"
         },
         "status": {
          "enum": [
           "pending",
           "approved",
           "rejected"
          ]
         }
        }
       },
       "published": {
        "type": "boolean"
       }
      }
     }
    ]
   },
   "wiki.revert-request.v1": {
    "title": "WikiRevertRequest",
    "description": "wiki.revert-request@1: the body of POST /api/v1/pages/:id/revert on OpenVibe.Wiki (wiki.revision.revert, editors): a new revision with the content of to_revision; expected_revision is the head you saw (a stale one is refused); publish republishes when the page was published.",
    "type": "object",
    "required": [
     "to_revision"
    ],
    "properties": {
     "to_revision": {
      "type": "integer",
      "minimum": 1
     },
     "expected_revision": {
      "type": "integer",
      "minimum": 0
     },
     "message": {
      "type": [
       "string",
       "null"
      ]
     },
     "publish": {
      "type": [
       "boolean",
       "null"
      ]
     }
    }
   },
   "wiki.revert-result.v1": {
    "title": "WikiRevertResult",
    "description": "wiki.revert-result@1: the answer of POST /api/v1/pages/:id/revert on OpenVibe.Wiki: 201 { page, revision, published } (the new revision and whether it was published).",
    "type": "object",
    "required": [
     "page",
     "revision",
     "published"
    ],
    "properties": {
     "page": {
      "$ref": "#/components/schemas/wiki.page.v1"
     },
     "revision": {
      "$ref": "#/components/schemas/wiki.revision.v1"
     },
     "published": {
      "type": "boolean"
     }
    }
   },
   "wiki.revision.v1": {
    "title": "WikiRevision",
    "description": "wiki.revision@1: one revision of a wiki page (server/http/api.js serializeRevision): its number, kind, parent, fields, Markdown body and authorship (human, AI-assisted or AI with the workflow and run). History lists leave the body out.",
    "type": "object",
    "required": [
     "number",
     "id",
     "kind",
     "title",
     "author",
     "created_at"
    ],
    "properties": {
     "number": {
      "type": "integer",
      "minimum": 1
     },
     "id": {
      "type": "string"
     },
     "kind": {
      "type": "string"
     },
     "parent_number": {
      "type": [
       "integer",
       "null"
      ]
     },
     "reverted_to": {
      "type": [
       "integer",
       "null"
      ]
     },
     "title": {
      "type": "string"
     },
     "summary": {
      "type": [
       "string",
       "null"
      ]
     },
     "infobox": {
      "type": "array"
     },
     "body": {
      "type": "string"
     },
     "authorship": {
      "type": [
       "object",
       "null"
      ]
     },
     "author": {
      "type": [
       "string",
       "null"
      ]
     },
     "message": {
      "type": [
       "string",
       "null"
      ]
     },
     "created_at": {
      "type": [
       "string",
       "integer"
      ]
     },
     "published": {
      "type": "boolean"
     },
     "citation_count": {
      "type": "integer"
     },
     "proposal": {
      "type": [
       "object",
       "null"
      ]
     }
    }
   },
   "wiki.search-result.v1": {
    "title": "WikiSearchResult",
    "description": "wiki.search-result@1: the answer of GET /api/v1/search?q=&space=&limit= on OpenVibe.Wiki (wiki.search.query): { results } — pages the caller may read that match, each with its summary.",
    "type": "object",
    "required": [
     "results"
    ],
    "properties": {
     "results": {
      "type": "array",
      "items": {
       "type": "object",
       "required": [
        "id",
        "space",
        "slug",
        "title",
        "url"
       ],
       "properties": {
        "id": {
         "type": "string"
        },
        "space": {
         "type": "string"
        },
        "slug": {
         "type": "string"
        },
        "title": {
         "type": "string"
        },
        "url": {
         "type": "string"
        },
        "summary": {
         "type": [
          "string",
          "null"
         ]
        }
       }
      }
     }
    }
   },
   "wiki.space-write-request.v1": {
    "title": "WikiSpaceWriteRequest",
    "description": "wiki.space-write-request@1: bodies of wiki.space.create on OpenVibe.Wiki. POST /api/v1/spaces: { name, slug?, description?, kind?, visibility? } (the slug defaults from the name: 2-63 lowercase letters, digits and dashes; kind official is for staff; visibility public, members or private). PATCH /api/v1/spaces/:space: { name?, description?, visibility?, slug? } (an owner; a retired slug keeps leading to its old space). PUT /api/v1/spaces/:space/roles/:subject: { role: owner | editor | viewer | null } (an owner; null removes; a user space keeps at least one owner).",
    "anyOf": [
     {
      "type": "object",
      "properties": {
       "name": {
        "type": "string",
        "minLength": 1
       },
       "slug": {
        "type": "string"
       },
       "description": {
        "type": [
         "string",
         "null"
        ]
       },
       "kind": {
        "enum": [
         "official",
         "user"
        ]
       },
       "visibility": {
        "enum": [
         "public",
         "members",
         "vip",
         "private"
        ]
       }
      }
     },
     {
      "type": "object",
      "required": [
       "role"
      ],
      "properties": {
       "role": {
        "enum": [
         "owner",
         "editor",
         "viewer",
         null
        ]
       }
      }
     }
    ]
   },
   "wiki.space-write-result.v1": {
    "title": "WikiSpaceWriteResult",
    "description": "wiki.space-write-result@1: answers of wiki.space.create on OpenVibe.Wiki: POST /api/v1/spaces → 201 { space }; PATCH → { space }; PUT …/roles/:subject → { roles } (every role in the space after the change: subject, role, granted_by, granted_at).",
    "anyOf": [
     {
      "type": "object",
      "required": [
       "space"
      ],
      "properties": {
       "space": {
        "$ref": "#/components/schemas/wiki.space.v1"
       }
      }
     },
     {
      "type": "object",
      "required": [
       "roles"
      ],
      "properties": {
       "roles": {
        "type": "array",
        "items": {
         "type": "object",
         "required": [
          "subject",
          "role"
         ],
         "properties": {
          "subject": {
           "type": "string",
           "pattern": "^usr_"
          },
          "role": {
           "enum": [
            "owner",
            "editor",
            "viewer"
           ]
          },
          "granted_by": {
           "type": [
            "string",
            "null"
           ]
          },
          "granted_at": {
           "type": [
            "string",
            "null"
           ]
          }
         }
        }
       }
      }
     }
    ]
   },
   "wiki.space.v1": {
    "title": "WikiSpace",
    "description": "wiki.space@1: one wiki space as OpenVibe.Wiki's API shows it (server/http/api.js serializeSpace).",
    "type": "object",
    "required": [
     "id",
     "slug",
     "name",
     "kind",
     "visibility",
     "created_at",
     "updated_at"
    ],
    "properties": {
     "id": {
      "type": "string"
     },
     "slug": {
      "type": "string",
      "pattern": "^[a-z0-9][a-z0-9-]{1,62}$"
     },
     "name": {
      "type": "string"
     },
     "description": {
      "type": [
       "string",
       "null"
      ]
     },
     "kind": {
      "enum": [
       "official",
       "user"
      ]
     },
     "visibility": {
      "enum": [
       "public",
       "members",
       "vip",
       "private"
      ]
     },
     "created_at": {
      "type": "string",
      "format": "date-time"
     },
     "updated_at": {
      "type": "string",
      "format": "date-time"
     }
    }
   }
  },
  "securitySchemes": {
   "openvibeToken": {
    "type": "http",
    "scheme": "bearer",
    "bearerFormat": "JWT",
    "description": "An OpenVibe Network token for this service: a person's token, an app token (client credentials, audience of the service) or a first-party service token. Its `cap` claim must include the capability the operation names."
   }
  }
 }
}
